<div class="header-sidebar form-sidebar header-show-action">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs"
     data-ng-click="shareActionVm.closeSideBar();
                    !mainVm.sidebar.getData().showCheckboxes && mainVm.sidebar.getData().resetSelectedDocuments();
                    shareActionVm.newShare.resetForm()">
  </i>
  <span class="hidden-xs actions" data-ng-click="shareActionVm.closeSideBar()">
    <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
  </span>
  <h2 class="header-more-options" translate>RIGHT_PANEL.DETAILS.FORWARD</h2>
  <span class="hidden-xs actions"
        data-ng-click="
          mainVm.sidebar.getData().currentPage === shareActionVm.uploadPage ?
          mainVm.sidebar.getData().checkSharableFiles(shareActionVm.submitShare, shareActionVm.newShare) :
          shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
    <a><i class="zmdi zmdi-check zmdi-hc-lg"></i></a>
  </span>
  <span class="header-action-link waves-effect text-uppercase visible-xs"
        data-ng-click="
          mainVm.sidebar.getData().currentPage === shareActionVm.uploadPage ?
          mainVm.sidebar.getData().checkSharableFiles(shareActionVm.submitShare, shareActionVm.newShare) :
          shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
        <span class="zmdi zmdi-share"></span>
        <span translate>NAVIGATION.SHARE</span>
  </span>
</div>

<div class="num-items-section-ctn">
  <span>{{mainVm.sidebar.getData().tableParamsService.lengthOfSelectedDocuments()}}</span>
  {{"RIGHT_PANEL.SHARE.SELECTED_FILES" | translate}}
  <a class="pull-right sidebar-link hidden-xs" href=""
     x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; mainVm.sidebar.getData().toggleFilterBySelectedFiles()"
     x-ng-show="!activeBtnShowSelection">
    {{"RIGHT_PANEL.SHARE.SHOW_SELECTED_FILES" | translate}}
  </a>
  <a class="pull-right sidebar-link hidden-xs" href=""
     x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; mainVm.sidebar.getData().toggleFilterBySelectedFiles()"
     x-ng-show="activeBtnShowSelection">
    {{"RIGHT_PANEL.SHARE.UNHIDE_FILES" | translate}}
  </a>
</div>

<quick-share
  share-object="shareActionVm.newShare"
  on-after-share="shareActionVm.onAfterShare"
></quick-share>

<div class="bottom-sidebar-btn form-within-sidebar" id="bottom-sidebar-ctn">
  <button class="btn btn-default col-xs-6"
          x-ng-click="shareActionVm.closeSideBar(); mainVm.sidebar.getData().closeDropdown($event);
          !mainVm.sidebar.getData().showCheckboxes && mainVm.sidebar.getData().resetSelectedDocuments();
          shareActionVm.newShare.resetForm()">
    {{"NAVIGATION.CANCEL" | translate}}
  </button>
  <button class="btn btn-primary col-xs-6"
          ng-click="mainVm.sidebar.getData().submitForward(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments)">
    {{"NAVIGATION.SHARE" | translate}}
  </button>
</div>
