<div id="member-sidebar" class="upload-requests">
  <div class="header-sidebar form-sidebar header-show-action">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" ng-click="mainVm.sidebar.hide()"></i>
    <h2 class="header-more-options set-ellipsis"> {{mainVm.sidebar.getData().uploadRequestObject.recipients[0].mail}} </h2>
    <span class="hidden-xs actions" ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
    <span class="header-action-link waves-effect text-uppercase visible-xs"
      ng-if="mainVm.sidebar.getData().selectedIndex === 1"
      ng-click="mainVm.sidebar.getData().updateUploadRequest()">
      <span class="zmdi zmdi-check"></span>
      <span translate>ACTION.SAVE</span>
    </span>
  </div>

  <div class="tabs-demo-static-tabs tab-nav-detail">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom md-selected="mainVm.sidebar.getData().selectedIndex">
        <md-tab label="{{'UPLOAD_REQUESTS.RIGHT_PANEL.DETAILS' | translate}}" class="col-xs-4 no-padding">
          <div id="profile-main" class="detail-guest">
            <div class="p-relative img-preview-ctn p-0">
              <div class="dark-overlay"></div>
              <div class="user-preview-ctn">
                <div class="flex-ctn detail-info-ctn p-0 p-t-10">
                  <div class="item-l m-b-10">
                    <span class="first-letter user-info">
                      <span class="temp-size">{{mainVm.sidebar.getData().uploadRequestObject.nbrUploadedFiles || 0}}</span>
                    </span>
                  </div>
                  <p class="m-b-0">
                    <span translate translate-values="{
                      singular: mainVm.sidebar.getData().uploadRequestObject.nbrUploadedFiles <= 1 ? 'true' : 'other'
                    }" translate-interpolation="messageformat">UPLOAD_REQUESTS.DETAIL_TAB.FILES_UPLOADED</span>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <sidebar-description-input
                description="mainVm.sidebar.getData().uploadRequestObject.body"
                readonly="true"
                placeholder="N/A"
              ></sidebar-description-input>
            </div>
            <div class="content-detail-area">
              <div class="flex-ctn detail-info-ctn">
                <div class="item-l">
                  <span class="first-letter user-info">
                  {{mainVm.sidebar.getData().uploadRequestObject.owner ?
                    mainVm.sidebar.getData().uploadRequestObject.getOwnerNameOrEmail().charAt(0) :
                    'UNKNOWN_FIRST_LETTER' | translate | limitTo:1 | uppercase}}
                  </span>
                </div>
                <div class="item-mid vertical-center">
                  <div class="name">
                    {{mainVm.sidebar.getData().uploadRequestObject.owner ?
                    mainVm.sidebar.getData().uploadRequestObject.getOwnerNameOrEmail()
                    : 'UNKNOWN_USER' | translate}}
                  </div>
                  <div
                    class="info-item-member"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="500"
                    uib-tooltip="{{mainVm.sidebar.getData().uploadRequestObject.modificationDate | lsDate:'medium'}}"
                    ng-if="mainVm.sidebar.getData().uploadRequestObject.modificationDate"
                  >
                    <span>
                      {{'UPLOAD_REQUESTS.DETAIL_TAB.UPDATED_AT' | translate}} :
                      {{mainVm.sidebar.getData().uploadRequestObject.modificationDate | lsDate:'longDate'}}
                    </span>
                  </div>
                </div>
                <div class="item-r actions"
                    ng-show="mainVm.sidebar.getData().uploadRequestObject.owner.uuid === userLogged.uuid" translate>
                  <span translate>CONTACTS_LISTS_DETAILS.OWNER</span>
                </div>
              </div>
              <div class="meta-data-ctn">
                <h2 class="subheader">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                  <span translate>UPLOAD_REQUESTS.DETAIL_TAB.META_DATA</span>
                </h2>
                <div class="meta-data-content">
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.creationDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.CREATED_AT</p>
                    <p tooltip-placement="bottom" tooltip-popup-delay="500"
                      uib-tooltip="{{mainVm.sidebar.getData().uploadRequestObject.creationDate |
                        lsDate:'medium':locale}}">
                      {{mainVm.sidebar.getData().uploadRequestObject.creationDate | lsDate:'longDate':locale}}
                    </p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.activationDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.ACTIVATED_AT</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestObject.activationDate | lsDate:'longDate':locale}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.expiryDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.EXPIRATION_DATE</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestObject.expiryDate | lsDate:'longDate':locale}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.GROUP</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestObject.collective ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.maxFileCount > 0">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.MAX_NUMBER_OF_FILES</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestObject.maxFileCount}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.totalSizeOfFiles.value > 0 && mainVm.sidebar.getData().uploadRequestObject.totalSizeOfFiles.unit">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.MAX_TOTAL_FILE_SIZE</p>
                    <p>
                      <span>{{mainVm.sidebar.getData().uploadRequestObject.totalSizeOfFiles.value}}</span>
                      <span>{{mainVm.sidebar.getData().uploadRequestObject.totalSizeOfFiles.unit}}</span>
                    </p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.maxSizeOfAFile.value > 0 && mainVm.sidebar.getData().uploadRequestObject.maxSizeOfAFile.unit">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.MAX_SIZE_PER_FILE</p>
                    <p>
                      <span>{{mainVm.sidebar.getData().uploadRequestObject.maxSizeOfAFile.value}}</span>
                      <span>{{mainVm.sidebar.getData().uploadRequestObject.maxSizeOfAFile.unit}}</span>
                    </p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.PASSWORD_PROTECTED</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestObject.protectedByPassword ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.ALLOW_DELETION</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestObject.canDeleteDocument ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.ALLOW_CLOSURE</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestObject.canClose ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestObject.notificationDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.NOTIFICATION_DATE</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestObject.notificationDate | lsDate:'longDate':locale}}</p>
                  </div>
                <div ng-if="mainVm.sidebar.getData().uploadRequestObject.locale">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.NOTIFICATION_LANGUAGE</p>
                    <p translate>{{ 'UPLOAD_REQUESTS.LOCALE.' + mainVm.sidebar.getData().uploadRequestObject.locale }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-tab>

        <md-tab
          ng-if="mainVm.sidebar.getData().uploadRequestObject.canEdit()"
          label="{{'UPLOAD_REQUESTS.RIGHT_PANEL.EDIT' | translate}}"
          class="col-xs-4 no-padding"
        >
          <div class="card col-xs-12 form-within-sidebar" id="content-ctn-sidebar">
            <upload-request-form
              form="mainVm.sidebar.getData().form"
              upload-request-object="mainVm.sidebar.getData().uploadRequestObject"
            />
          </div>
        </md-tab>

        <sidebar-audit-actions-tab
          uuid="mainVm.sidebar.getData().uploadRequestObject.uuid"
          type="'uploadRequest'"
        >
        </sidebar-audit-actions-tab>
      </md-tabs>
    </md-content>
  </div>

  <div class="bottom-sidebar-btn form-within-sidebar" id="bottom-sidebar-ctn" ng-if="mainVm.sidebar.getData().uploadRequestObject.canEdit() && mainVm.sidebar.getData().selectedIndex === 1">
    <button class="btn btn-default col-xs-6" ng-click="mainVm.sidebar.hide()" translate>
      NAVIGATION.CANCEL
    </button>
    <sidebar-primary-button
      on-click="mainVm.sidebar.getData().updateUploadRequest()"
      loading="mainVm.sidebar.getData().uploadRequestObject.submitting"
      disabled="mainVm.sidebar.getData().uploadRequestObject.submitting"
    >
      {{"ACTION.SAVE" | translate}}
    </sidebar-primary-button>
  </div>
</div>
