<div
  class="flex-column-content lv-body stop-propagate contacts-list-block-scroll"
  data-ng-controller="sharedSpaceMembersController as sharedSpaceMembersVm"
>
  <div class="lv-item">
    <div class="card col-xs-12" id="content-ctn-sidebar">
      <div
        data-ng-if="mainVm.sidebar.getData().permissions[
        mainVm.sidebar.getData().currentSelectedDocument.current.uuid
        ].MEMBER.CREATE || mainVm.sidebar.getData().permissions.MEMBER.CREATE"
        class="custom-list-container clearfix"
      >
        <div class="recipients-form-sections m-t-30 clearfix">
          <h2 class="pull-left headerSubCtn">
            <span translate>MEMBER_TAB.ADD_DRIVE_MEMBER</span>
          </h2>
        </div>
        <form
          role="form"
          class="clearfix fields-add-member no-right-inline-btn"
        >
          <div class="form-group fg-line group-member-field-ctn col-xs-12 no-padding">
            <div class="member-dropdown-ctn m-t-10'">
              <div>
                <span translate>MEMBER_TAB.DRIVE_ROLE</span>
                <i
                  class="zmdi zmdi-info text-muted"
                  uib-tooltip="{{'MEMBER_TAB.TOOLTIPS.DRIVE_ROLE' | translate}}"
                  tooltip-append-to-body="true"
                  tooltip-popup-delay="550"
                  tooltip-placement="bottom"
                ></i>
              </div>
              <div
                uib-dropdown
                dropdown-append-to-body
                class="dropdown link-dropdown actions m-r-10"
                auto-close="always"
                is-open="isOpenMemberRights"
                data-ng-class="{'open':isOpenMemberRights}"
              >
                <button
                  type="button"
                  class="btn btn-link waves-effect"
                  uib-dropdown-toggle
                >
                  <span class="set-ellipsis" translate>{{'MEMBER_TAB.' + sharedSpaceMembersVm.memberRole.name}}</span>
                  <span class="caret"></span>
                </button>
                <ul
                  uib-dropdown-menu
                  class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown"
                >
                  <li data-ng-repeat="role in sharedSpaceMembersVm.membersRights">
                    <a
                      href=""
                      data-ng-click="sharedSpaceMembersVm.memberRole = role"
                      data-ng-class="{'active-check': sharedSpaceMembersVm.memberRole.uuid === role.uuid }"
                      translate
                    >
                      {{'MEMBER_TAB.' + role.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-dropdown-ctn m-t-10" >
              <div>
                <span translate>MEMBER_TAB.DEFAULT_WORKGROUP_ROLE</span>
                <i
                  class="zmdi zmdi-info text-muted"
                  uib-tooltip="{{'MEMBER_TAB.TOOLTIPS.DEFAULT_WORKGROUP_ROLE' | translate}}"
                  tooltip-append-to-body="true"
                  tooltip-popup-delay="550"
                  tooltip-placement="bottom"
                ></i>
              </div>
              <div
                uib-dropdown
                dropdown-append-to-body
                auto-close="always"
                class="dropdown link-dropdown actions m-r-10"
                is-open="isOpenDefaultWorkgroupMemberRights"
                data-ng-class="{'open':isOpenDefaultWorkgroupMemberRights}"
              >
                <button
                  type="button"
                  class="btn btn-link waves-effect"
                  uib-dropdown-toggle
                >
                  <span class="set-ellipsis" translate>{{'MEMBER_TAB.' + sharedSpaceMembersVm.workgroupDefaultRole.name}}</span>
                  <span class="caret"></span>
                </button>
                <ul
                  uib-dropdown-menu
                  class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown"
                >
                  <li data-ng-repeat="role in sharedSpaceMembersVm.workgroupMembersRights">
                    <a
                      href=""
                      data-ng-click="sharedSpaceMembersVm.workgroupDefaultRole = role"
                      data-ng-class="{'active-check': sharedSpaceMembersVm.workgroupDefaultRole.uuid === role.uuid }"
                      translate
                    >
                      {{::'MEMBER_TAB.' + role.name}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div
              class="pull-right col-xs-12 m-t-10 autocomplete-full-width"
              ls-autocomplete-user="THREAD_MEMBERS"
              data-with-email="false"
              data-ls-complete-thread-uuid="{{mainVm.sidebar.getData().currentSelectedDocument.current.uuid}}"
              data-on-select-function="sharedSpaceMembersVm.addMember"
              data-selected-users-list="sharedSpaceMembersVm.members"
              data-with-guest="true"
            >
            </div>
          </div>
          <button
            class="btn btn-primary add-btn btn-block"
            data-ng-if="mainVm.sidebar.getData().isExistingMember === false"
            translate
          >
            MEMBER_TAB.ADD
          </button>
          <button
            class="btn btn-primary update-btn btn-block"
            data-ng-if="mainVm.sidebar.getData().isExistingMember === true"
            translate
          >
            MEMBER_TAB.UPDATE
          </button>
        </form>
      </div>
      <div class="recipients-form-sections clearfix">
        <div class="custom-header-list">
          <h2 class="pull-left headerSubCtn existing-member">
            <span translate>MEMBER_TAB.NUM_MEMBER</span>
            <span>{{sharedSpaceMembersVm.members.length}}</span>
            <span
              class="pull-right actions members-options-toggle"
              data-ng-click="advancedMemberSearchOptions = !advancedMemberSearchOptions"
            >
              <a>
                <i class="ls-settings"></i>
              </a>
            </span>
          </h2>
        </div>
        <div class="form-sidebar clearfix">
          <form
            role="form"
            class="fields-search-member"
            data-ng-class="{'show-options': advancedMemberSearchOptions}"
          >
            <div class="search-style autocomplete-search-ctn">
              <div class="fg-line">
                <input
                  type="text"
                  class="form-control"
                  autocomplete="off"
                  data-ng-model="sharedSpaceMembersVm.searchMemberInput"
                  translate-attr="{'placeholder': 'COMPONENTS.AUTOCOMPLETE_USERS.INPUT_PLACEHOLDER_EXISTING_MEMBERS'}"
                >
              </div>
            </div>
            <div class="dropdown-filters">
              <span
                uib-dropdown
                dropdown-append-to-body
                class="dropdown link-dropdown"
                is-open="isOpenMemberOrder"
                data-ng-class="{'open':isOpenMemberOrder}"
                auto-close="outsideClick"
              >
                <button
                  class="plain-text-button share-link waves-effect"
                  uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}"
                >
                  <i class="zmdi zmdi-sort-asc"></i>
                </button>
                <div
                  uib-dropdown-menu
                  class="uib-dropdown-menu dropdown-menu-right dm-icon double-drop"
                  data-ng-class="{'open':isOpenMemberOrder}"
                >
                  <div class="list-menu sort-dropdown">
                    <p translate>MEMBER_TAB.SORT_BY</p>
                    <ul class="dropdown-menu dm-icon sort-menu">
                      <li role="menuitem">
                        <a
                          data-ng-click="sharedSpaceMembersVm.changePropertyOrderBy('firstName', $event)"
                          class="selected-sorting"
                        >
                          <span class="caret-area">
                            <i
                              data-ng-show="!sharedSpaceMembersVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-down"
                            >
                            </i>
                            <i
                              data-ng-show="sharedSpaceMembersVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-up"
                            >
                            </i>
                          </span>
                         {{'MEMBER_TAB.SORT_MEMBER.FIRSTNAME' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a data-ng-click="sharedSpaceMembersVm.changePropertyOrderBy('lastName', $event)">
                          <span class="caret-area">
                            <i
                              data-ng-show="!sharedSpaceMembersVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-down"
                            >
                            </i>
                            <i
                              data-ng-show="sharedSpaceMembersVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-up"
                            >
                            </i>
                          </span>
                          {{'MEMBER_TAB.SORT_MEMBER.LASTNAME' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a data-ng-click="sharedSpaceMembersVm.changePropertyOrderBy('role', $event)">
                          <span class="caret-area">
                            <i
                              data-ng-show="!sharedSpaceMembersVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-down"
                            >
                            </i>
                            <i
                              data-ng-show="sharedSpaceMembersVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-up"
                            >
                            </i>
                          </span>
                          {{'MEMBER_TAB.USER_RIGHTS' | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="list-menu">
                    <p translate>MEMBER_TAB.FILTER_BY</p>
                    <ul
                      class="dropdown-menu dm-icon filter-menu"
                      data-ng-repeat="role in sharedSpaceMembersVm.membersRights"
                    >
                      <li>
                        <a
                          href=""
                          data-ng-class="{'active-check': sharedSpaceMembersVm.membersSearchFilter.role.uuid === role.uuid}"
                          data-ng-click="sharedSpaceMembersVm.updateRoleFilterOnCurrentMembers(role)"
                          translate
                        >
                          {{'MEMBER_TAB.' + role.name + '_RIGHTS'}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </span>
            </div>
          </form>
        </div>
        <div class="existing-member-list-ctn">
          <div
            class="flex-ctn"
            data-ng-repeat="workgroupMember in sharedSpaceMembersVm.members |
            filter: sharedSpaceMembersVm.searchMemberInput | filter: sharedSpaceMembersVm.membersSearchFilter | orderBy: '-'"
          >
            <div class="item-l">
              <span class="first-letter text-uppercase">
                {{
                  ::workgroupMember.account.firstName ?
                    workgroupMember.account.firstName.charAt(0) :
                    workgroupMember.account.mail
                }}
              </span>
            </div>
            <div class="item-mid">
              <div class="name">
                {{::workgroupMember.account.name}}
              </div>

              <div
                class="info-item-member"
                ng-class="mainVm.sidebar.getData().permissions[mainVm.sidebar.getData().currentSelectedDocument.current.uuid].MEMBER.UPDATE ||
                    mainVm.sidebar.getData().permissions.MEMBER.UPDATE ? 'clickable' : 'click-disabled'"
                uib-dropdown
                dropdown-append-to-body
                uib-dropdown-toggle
                auto-close="always"
              >
                <i class="zmdi zmdi-accounts"></i>
                <span translate>
                  {{::'MEMBER_TAB.' + workgroupMember.role.name}}
                </span>
                <i
                  ng-if="mainVm.sidebar.getData().permissions[mainVm.sidebar.getData().currentSelectedDocument.current.uuid].MEMBER.UPDATE ||
                  mainVm.sidebar.getData().permissions.MEMBER.UPDATE"
                  class="zmdi zmdi-edit">
                </i>
                <ul
                  uib-dropdown-menu
                  class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown"
                >
                  <li ng-repeat="role in sharedSpaceMembersVm.membersRights">
                    <a
                      class="text-left"
                      ng-click="sharedSpaceMembersVm.updateMember(workgroupMember, role)"
                      ng-class="{'active-check': workgroupMember.role.uuid === role.uuid }"
                      translate
                    >
                      {{::'MEMBER_TAB.' + role.name}}
                    </a>
                  </li>
                </ul>

              </div>
              <div
                class="info-item-member"
                ng-class="{
                  'click-disabled': !mainVm.sidebar.getData().permissions[mainVm.sidebar.getData().currentSelectedDocument.current.uuid].MEMBER.UPDATE &&
                    !mainVm.sidebar.getData().permissions.MEMBER.UPDATE
                }"
                ng-click="sharedSpaceMembersVm.updateDefaultWorkroupsRole(workgroupMember)"
              >
                <i class="zmdi zmdi-account"></i>
                <span translate>
                  {{::'MEMBER_TAB.' + workgroupMember.nestedRole.name}}
                </span>
                <i
                  class="zmdi zmdi-edit"
                  ng-if="mainVm.sidebar.getData().permissions[mainVm.sidebar.getData().currentSelectedDocument.current.uuid].MEMBER.UPDATE ||
                  mainVm.sidebar.getData().permissions.MEMBER.UPDATE"
                ></i>
              </div>
            </div>
            <div class="item-r actions">
              <a
                data-ng-if="mainVm.sidebar.getData().permissions[
                mainVm.sidebar.getData().currentSelectedDocument.current.uuid
                ].MEMBER.DELETE || mainVm.sidebar.getData().permissions.MEMBER.DELETE"
                href="javascript:void(0)"
                data-ng-click="sharedSpaceMembersVm.removeMember(
                mainVm.sidebar.getData().currentSelectedDocument.current, workgroupMember
                )"
                translate-attr="{'title': 'MEMBER_TAB.REMOVE_TEAM_MEMBER'}"
              >
                <i class="zmdi zmdi-close"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    data-ng-if="mainVm.sidebar.getData().functionalities.contactsList"
    create-contacts-list
    create-contacts-list-contacts-to-be-added="sharedSpaceMembersVm.members"
  >
  </div>
</div>
