<div id="member-sidebar">
  <div class="header-sidebar form-sidebar header-show-action">
    <i ng-if="mainVm.sidebar.getData().mdTabsSelection.selectedIndex === 1" class="zmdi zmdi-chevron-left zmdi-hc-2x hidden-xs hidden-sm"
      ng-click="mainVm.sidebar.getData().toggleMoreOptions(false)">
    </i>
    <div class="hidden-md hidden-lg hidden-xl">
      <i ng-if="mainVm.sidebar.getData().mdTabsSelection.selectedIndex === 1" class="zmdi zmdi-chevron-left zmdi-hc-2x mdi-back-mobile"
        ng-click="mainVm.sidebar.getData().toggleMoreOptions(false)">
      </i>
      <span ng-if="mainVm.sidebar.getData().mdTabsSelection.selectedIndex === 0" class="actions" ng-click="mainVm.sidebar.hide()">
        <a><i class="zmdi zmdi-close zmdi-hc-lg mdi-close-mobile"></i></a>
      </span>
    </div>
    <h2 class="header-more-options setEllipsis">
      <span translate>UPLOAD_REQUESTS.FORM_CREATE.SINGULAR_TITLE</span>
      <span> - </span>
      <span
        translate>{{ mainVm.sidebar.getData().groupMode ? 'UPLOAD_REQUESTS.FORM_CREATE.COLLECTIVE' : 'UPLOAD_REQUESTS.FORM_CREATE.INDIVIDUAL'}}</span>
    </h2>
    <span class="hidden-xs hidden-sm actions" ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
    <span class="header-action-link waves-effect text-uppercase visible-xs"
      ng-click="mainVm.sidebar.getData().createUploadRequestGroup(uploadRequestForm, mainVm.sidebar.getData().uploadRequestObject)">
      <span class="zmdi zmdi-check"></span>
      <span translate>SIDEBAR.BUTTON.CREATE</span>
    </span>
  </div>

  <div ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail two-tabs hidden-tabs-header">
      <md-content>
        <form name='uploadRequestForm' class="custom-height-form">
          <md-tabs class="custom-height-md-tabs" md-selected="mainVm.sidebar.getData().mdTabsSelection.selectedIndex" md-border-bottom="">
            <md-tab id="tab1" label="{{'INFORMATION_TAB.TITLE' | translate}}" class="col-xs-4 noPadding">
              <div class="card col-xs-12 form-within-sidebar" id="content-ctn-sidebar">
                <div class="create-upload-request">
                  <div class="custom-list-container clearfix">
                    <div class="recipients-form-sections clearfix recipients-form-custom-margin">
                      <h2 class="pull-left headerSubCtn" translate>RIGHT_PANEL.SHARE.RECIPIENTS</h2><span class="required-field-hint">*</span>
                      <div ng-if="mainVm.sidebar.getData().linshareModeProduction == false"
                        class="dropdown dropdown-standard popOverForm savelistBtn" uib-dropdown is-open="false"
                        on-toggle="toggled()">
                        <a href="" class="dropdown-toggle sidebar-link" uib-dropdown-toggle ng-disabled="disabled"
                          alt="{{'RIGHT_PANEL.SHARE.CREATE_MAILING_LIST_ALT' | translate}}" translate>
                          RIGHT_PANEL.SHARE.CREATE_MAILING_LIST
                        </a>
                        <div class="dropdown-menu pull-right">
                          <div class="stop-propagate">
                            <p class="labelListCtn">
                              <input type="email" class="form-control input-sm" id="labelList"
                                placeholder="Saisissez le nom de votre liste">
                            </p>
                            <md-divider></md-divider>
                          </div>
                          <div>
                            <button class="btn btn-default col-xs-6"
                              ng-click="mainVm.sidebar.getData().closeDropdown($event)" translate>
                              NAVIGATION.CANCEL
                            </button>
                            <button class="btn btn-primary col-xs-6"
                              ng-click="mainVm.sidebar.getData().createRecipientList($event)" translate>
                              NAVIGATION.SEND
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <form role="form" class="clearfix">
                      <div class="form-group fg-line">
                        <div ls-autocomplete-user="USERS" data-on-select-function="mainVm.sidebar.getData().uploadRequestObject.addRecipient">
                        </div>
                      </div>
                    </form>
                    <div class="custom-list-body col-xs-12 ">
                      <div class="custom-list-item"
                        ng-repeat="recipient in mainVm.sidebar.getData().uploadRequestObject.getRecipients() | orderBy : '-' as results"
                        tooltip-placement="bottom" tooltip-popup-delay="700"
                        uib-tooltip="{{recipient.firstName + ' ' + recipient.lastName +' : '+recipient.mail || recipient.domain}}">
                        <p class="pull-left circle-ctn">
                          <span ng-show="recipient.domain"
                            class="circle user-bg">{{recipient.firstName.charAt(0)}}</span>
                          <span ng-show="!recipient.domain"
                            class="circle user-bg">{{recipient.mail.charAt(0).toUpperCase()}}</span>
                        </p>
                        <div class="pull-left name-recipients-ctn">
                          <p ng-show="recipient.domain" class="pull-left inner-text-li">
                            {{recipient.firstName + ' ' + recipient.lastName}}
                          </p>
                          <p ng-show="!recipient.domain" class="pull-left inner-text-li">
                            {{recipient.mail}}
                          </p>
                          <p class="close-list-icone-btn pull-right"
                            ng-click="mainVm.sidebar.getData().uploadRequestObject.removeRecipient(results.length - $index -1)">
                            <i class="zmdi zmdi-close "></i>
                          </p>
                        </div>
                      </div>
                      <div class="custom-list-item" ng-repeat="list in mainvm.sidebar.getData().uploadRequestObject.getMailingList()"
                        tooltip-placement="bottom" tooltip-popup-delay="700" uib-tooltip="" owner-label
                        owner-label-user="{firstName: list.ownerFirstName, lastName: list.ownerLastName, mail: list.ownerMail}"
                        owner-label-attr="uib-tooltip">
                        <p class="pull-left circle-ctn"><span class="circle user-bg"><i
                              class="ls-contact-list-item"></i></span></p>
                        <div class="pull-left name-recipients-ctn">
                          <p class="pull-left inner-text-li">{{list.listName}}</p>
                          <p class=" close-list-icone-btn pull-right"
                            ng-click="mainVm.sidebar.getData().uploadRequestObject.removeMailingList($index)">
                            <i class="zmdi zmdi-close"></i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="recipients-form-sections clearfix">
                    <div class="custom-header-list">
                      <h2 class="pull-left headerSubCtn">
                        <span translate>UPLOAD_REQUESTS.FORM_CREATE.EMAIL_MESSAGE</span>
                        <span class="required-field-hint">*</span>
                      </h2>
                    </div>
                    <div class="form-sidebar">
                      <div class="form-group col-xs-12 addNote no-padding">
                        <div class="form-group fg-line" ng-class="{'has-error' : ((uploadRequestForm.mail.$touched ||uploadRequestForm.$submitted)
                        && uploadRequestForm.mail.$invalid)}">
                          <textarea type="text" name="mail" class="form-control input-sm" ng-model="mainVm.sidebar.getData().uploadRequestObject.mail"
                            placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_SUBJECT' | translate}}"
                            required
                          >
                          </textarea>
                          <span ng-show="(uploadRequestForm.mail.$touched ||uploadRequestForm.$submitted) && uploadRequestForm.mail.$invalid" translate>
                            UPLOAD_REQUESTS.ERROR.SUBJECT_REQUIRED
                           </span>
                        </div>
                        <div class="form-group fg-line" ng-class="{'has-error' : ((uploadRequestForm.message.$touched ||uploadRequestForm.$submitted)
                          && uploadRequestForm.message.$invalid)}">
                          <textarea class="form-control comment" rows="5"
                            placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_BODY_PLACEHOLDER' | translate}}"
                            ng-model="mainVm.sidebar.getData().uploadRequestObject.message"
                            name="message"
                            required
                          >
                          </textarea>
                          <span ng-show="(uploadRequestForm.message.$touched ||uploadRequestForm.$submitted) && uploadRequestForm.message.$invalid" translate>
                            UPLOAD_REQUESTS.ERROR.BODY_REQUIRED
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="recipients-form-sections clearfix">
                    <div class="custom-header-list">
                      <h2 class="pull-left headerSubCtn" translate>
                        RIGHT_PANEL.SHARE.SETTINGS
                      </h2>
                      <a class="more-options sidebar-link" href=""
                        ng-click="mainVm.sidebar.getData().toggleMoreOptions(true)" translate>
                        RIGHT_PANEL.SHARE.MORE_OPTIONS
                      </a>
                    </div>
                    <div ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToExpiration.enable"
                      class="col-xs-12 field-ctn clearfix">
                      <label for="comment" class="labelDateExpiration col-xs-6 no-padding label-muted" translate>
                        RIGHT_PANEL.DETAILS.EXPIRATION_DATE
                      </label>
                      <div class="datepicker-border-fix date-picker dp-blue col-xs-6"
                        ng-class="{'is-opened': opened == true}">
                        <div class="fg-line datepicker-ctn" ng-class="{'fg-toggled': opened == true, 'has-error' : ((uploadRequestForm.expiration.$touched ||uploadRequestForm.$submitted)
                          && uploadRequestForm.expiration.$invalid)}">
                          <div class="form-inline">
                            <input working-date-picker ng-click="open($event, 'opened')" type="text"
                              ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToExpiration.canOverride"
                              class="form-control date-picker-input" uib-datepicker-popup show-weeks="false"
                              is-open="opened"
                              required
                              datepicker-options="::mainVm.sidebar.getData().uploadRequestObject.expirationDateOptions"
                              min="{{::mainVm.sidebar.getData().uploadRequestObject.expirationDateOptions.minDate}}"
                              max="{{::mainVm.sidebar.getData().uploadRequestObject.expirationDateOptions.maxDate}}"
                              name='expiration'
                              ng-model="mainVm.sidebar.getData().uploadRequestObject.expirationDate"
                              ng-change="mainVm.sidebar.getData().uploadRequestObject.calculateDatePickerOptions()"
                            />
                          </div>
                          <span
                            ng-show="uploadRequestForm.expiration.$invalid"
                            translate
                            translate-interpolation="messageformat"
                            translate-values="{ value: mainVm.sidebar.getData().uploadRequestObject.getMaxDateOfExpiration(true) }"
                          >
                            UPLOAD_REQUESTS.ERROR.INVALID_EXPIRATION_DATE
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToTotalSizeOfFiles.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.TOTAL_SIZE_OF_FILES
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <input
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToTotalSizeOfFiles.canOverride"
                          class="form-control custom-bordered-input"
                          required
                          min="0"
                          max="{{::mainVm.sidebar.getData().uploadRequestObject.getMaxSize('total')}}"
                          name="totalSizeOfFiles"
                          ng-model="mainVm.sidebar.getData().uploadRequestObject.totalSizeOfFiles.value" type="number" />
                        <md-select class="form-control custom-bordered-select m-0"
                          ng-model="mainVm.sidebar.getData().uploadRequestObject.totalSizeOfFiles.unit"
                          name="totalSizeOfFilesUnit"
                          required
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToTotalSizeOfFiles.canOverride">
                          <md-option value="KILO">KB</md-option>
                          <md-option value="MEGA">MB</md-option>
                          <md-option value="GIGA">GB</md-option>
                        </md-select>
                      </div>
                      <div class="has-error">
                        <span ng-show="uploadRequestForm.totalSizeOfFiles.$invalid
                          || uploadRequestForm.totalSizeOfFilesUnit.$invalid"
                          translate
                          translate-interpolation="messageformat"
                          translate-values="{ max: mainVm.sidebar.getData().uploadRequestObject.getMaxSize('total', true) }"
                        >
                          UPLOAD_REQUESTS.ERROR.TOTAL_SIZE_OF_FILES_REQUIRED
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToMaxNumberOfFiles.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.MAX_NUMBER_OF_FILES
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <input
                          name="maxNumberOfFiles"
                          required
                          max="{{::mainVm.sidebar.getData().uploadRequestObject.allowedToMaxNumberOfFiles.value}}"
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToMaxNumberOfFiles.canOverride"
                          class="form-control custom-bordered-input custom-single-input"
                          ng-model="mainVm.sidebar.getData().uploadRequestObject.maxNumberOfFiles" type="number" />
                      </div>
                      <div class="has-error">
                        <span ng-show="uploadRequestForm.maxNumberOfFiles.$invalid"
                          translate
                          translate-interpolation="messageformat"
                          translate-values="{ max: mainVm.sidebar.getData().uploadRequestObject.allowedToMaxNumberOfFiles.value}"
                        >
                          UPLOAD_REQUESTS.ERROR.MAX_NUMBER_OF_FILES_REQUIRED
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToMaxSizeOfAFile.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.MAX_SIZE_OF_A_FILE
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <input
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToMaxSizeOfAFile.canOverride"
                          class="form-control custom-bordered-input"
                          name="maxSizeOfAFile"
                          max="{{::mainVm.sidebar.getData().uploadRequestObject.getMaxSize('one')}}"
                          required
                          ng-model="mainVm.sidebar.getData().uploadRequestObject.maxSizeOfAFile.value" type="number" />
                        <md-select class="form-control m-0 custom-bordered-select"
                          ng-model="mainVm.sidebar.getData().uploadRequestObject.maxSizeOfAFile.unit"
                          name="maxSizeOfAFileUnit"
                          required
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToMaxSizeOfAFile.canOverride"
                        >
                          <md-option value="KILO">KB</md-option>
                          <md-option value="MEGA">MB</md-option>
                          <md-option value="GIGA">GB</md-option>
                        </md-select>
                      </div>
                      <div class="has-error">
                        <span ng-show="uploadRequestForm.maxSizeOfAFile.$invalid || uploadRequestForm.maxSizeOfAFileUnit.$invalid"
                          translate
                          translate-interpolation="messageformat"
                          translate-values="{ max: mainVm.sidebar.getData().uploadRequestObject.getMaxSize('one', true) }"
                        >
                          UPLOAD_REQUESTS.ERROR.MAX_SIZE_OF_A_FILE_REQUIRED
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </md-tab>
            <md-tab id="tab2" label="{{'EDIT' | translate}}" class="col-xs-4 noPadding disabled">
              <div class="card col-xs-12 form-within-sidebar" id="content-ctn-sidebar">
                <div class="create-upload-request">
                  <div class="recipients-form-sections clearfix">
                    <div class="custom-header-list">
                      <h2 class="pull-left headerSubCtn" translate>
                        RIGHT_PANEL.SHARE.SETTINGS
                      </h2>
                    </div>
                    <div ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToActivation.enable"
                      class="col-xs-12 field-ctn clearfix">
                      <label for="comment" class="labelDateExpiration col-xs-6 no-padding label-muted" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.ACTIVATION_DATE
                      </label>
                      <div class="datepicker-border-fix date-picker dp-blue col-xs-6"
                        ng-class="{'is-opened': opened == true}">
                        <div class="fg-line datepicker-ctn" ng-class="{'fg-toggled': opened == true, 'has-error' : ((uploadRequestForm.activation.$touched ||uploadRequestForm.$submitted)
                          && uploadRequestForm.activation.$invalid)}">
                          <div class="form-inline">
                            <input working-date-picker ng-click="open($event, 'opened')" type="text"
                              ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToActivation.canOverride"
                              class="form-control date-picker-input" uib-datepicker-popup show-weeks="false"
                              is-open="opened" ng-required="true"
                              name="activation"
                              datepicker-options="::mainVm.sidebar.getData().uploadRequestObject.activationDateOptions"
                              min="{{::mainVm.sidebar.getData().uploadRequestObject.activationDateOptions.minDate}}"
                              max="{{::mainVm.sidebar.getData().uploadRequestObject.activationDateOptions.maxDate}}"
                              ng-model="mainVm.sidebar.getData().uploadRequestObject.activationDate"
                              ng-change="mainVm.sidebar.getData().uploadRequestObject.calculateDatePickerOptions()"
                            />
                          </div>
                          <span
                            ng-show="uploadRequestForm.activation.$invalid"
                            translate
                            translate-interpolation="messageformat"
                            translate-values="{ value: mainVm.sidebar.getData().uploadRequestObject.getMinDateOfActivation(true) }"
                          >
                            UPLOAD_REQUESTS.ERROR.INVALID_ACTIVATION_DATE
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToPasswordProtected.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.PASSWORD_PROTECTED
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <input type="checkbox" ng-checked="mainVm.sidebar.getData().uploadRequestObject.passwordProtected"
                          name="passwordProtected" ng-model="mainVm.sidebar.getData().uploadRequestObject.passwordProtected"
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToPasswordProtected.canOverride" />
                      </div>
                    </div>
                    <div class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToDeletion.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.ALLOW_DELETION
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <input type="checkbox" ng-checked="mainVm.sidebar.getData().uploadRequestObject.allowDeletion"
                          name="allowDeletion" ng-model="mainVm.sidebar.getData().uploadRequestObject.allowDeletion"
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToDeletion.canOverride">
                      </div>
                    </div>
                    <div class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToClosure.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.ALLOW_CLOSURE
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <input type="checkbox" ng-checked="mainVm.sidebar.getData().uploadRequestObject.allowClosure"
                          name="allowClosure" ng-model="mainVm.sidebar.getData().uploadRequestObject.allowClosure"
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToClosure.canOverride"
                        >
                      </div>
                    </div>
                    <div
                      class="col-xs-12 field-ctn clearfix"
                      ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToExpiryNotification.enable"
                    >
                      <label for="comment" class="labelDateExpiration col-xs-6 no-padding label-muted" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.EXPIRY_NOTIFICATION_DATE
                      </label>
                      <div class="datepicker-border-fix date-picker dp-blue col-xs-6"
                        ng-class="{'is-opened': opened == true}">
                        <div class="fg-line datepicker-ctn" ng-class="{'fg-toggled': opened == true, 'has-error' : ((uploadRequestForm.notificationDate.$touched ||uploadRequestForm.$submitted)
                        && uploadRequestForm.notificationDate.$invalid)}">
                          <div class="form-inline">
                            <input working-date-picker ng-click="open($event, 'opened')" type="text"
                              ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToExpiryNotification.canOverride"
                              class="form-control date-picker-input" uib-datepicker-popup show-weeks="false"
                              is-open="opened" ng-required="true"
                              name='notificationDate'
                              datepicker-options="::mainVm.sidebar.getData().uploadRequestObject.notificationDateOptions"
                              min="{{::mainVm.sidebar.getData().uploadRequestObject.notificationDateOptions.minDate}}"
                              max="{{::mainVm.sidebar.getData().uploadRequestObject.notificationDateOptions.maxDate}}"
                              ng-model="mainVm.sidebar.getData().uploadRequestObject.notificationDate"
                              ng-change="mainVm.sidebar.getData().uploadRequestObject.calculateDatePickerOptions()"
                            />
                          </div>
                          <span
                            ng-show="uploadRequestForm.notificationDate.$invalid"
                            translate
                            translate-interpolation="messageformat"
                            translate-values="{ min: mainVm.sidebar.getData().uploadRequestObject.getMinDateOfActivation(true),
                              max: mainVm.sidebar.getData().uploadRequestObject.getMaxDateOfNotification(true)  }"
                          >
                            UPLOAD_REQUESTS.ERROR.INVALID_NOTIFICATION_DATE
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 field-ctn clearfix" ng-if="mainVm.sidebar.getData().uploadRequestObject.allowedToNotificationLanguage.enable">
                      <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                        UPLOAD_REQUESTS.FORM_CREATE.NOTIFICATION_LANGUAGE
                      </label>
                      <div class="col-xs-6 flex-combine-input">
                        <md-select
                          class="form-control m-0 custom-bordered-lang-select"
                          ng-disabled="!mainVm.sidebar.getData().uploadRequestObject.allowedToNotificationLanguage.canOverride"
                          ng-model="mainVm.sidebar.getData().uploadRequestObject.notificationLanguage"
                        >
                          <md-option ng-repeat="unit in mainVm.sidebar.getData().uploadRequestObject.allowedToNotificationLanguage.units" ng-value="unit">{{::unit}}</md-option>
                        </md-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </md-tab>
          </md-tabs>
        </form>
    </md-content>
  </div>
</div>
<div class="bottom-sidebar-btn form-within-sidebar" id="bottom-sidebar-ctn">
  <button class="btn btn-default col-xs-6" ng-click="shareActionVm.closeSideBar(); mainVm.sidebar.getData().closeDropdown($event);
          !mainVm.sidebar.getData().showCheckboxes && mainVm.sidebar.getData().resetSelectedDocuments();
          shareActionVm.newShare.resetForm()" translate>
    NAVIGATION.CANCEL
  </button>
  <button
    class="btn btn-primary col-xs-6"
    ng-click="mainVm.sidebar.getData().createUploadRequestGroup(uploadRequestForm, mainVm.sidebar.getData().uploadRequestObject)"
    translate
  >
    NAVIGATION.CREATE
  </button>
</div>