<div id="member-sidebar">
  <div class="header-sidebar">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs"
       data-ng-click="mainVm.sidebar.hide()">
    </i>
    <h2 class="header-more-options setEllipsis"> {{mainVm.sidebar.getData().currentSelectedDocument.current.name}}</h2>
    <span class="hidden-xs actions" data-ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
  </div>

  <div data-ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail">
    <md-content>
      <md-tabs md-selected="mainVm.sidebar.getData().mdtabsSelection.selectedIndex" md-dynamic-height=""
               md-border-bottom="">
        <md-tab id="tab1" data-ng-if="mainVm.sidebar.getData().currentPage === 'group_list' ||
        mainVm.sidebar.getData().currentPage === 'workgroup_nodes'"
                label="{{'INFORMATION_TAB.TITLE' | translate}}"
                class="col-xs-4 noPadding">
          <md-content>
            <div ng-include="'directives/sidebar-content/sidebar-content-sharedspace-details.html'"></div>
          </md-content>
        </md-tab>
        <md-tab
          data-ng-if="mainVm.sidebar.getData().permissions[
          mainVm.sidebar.getData().currentSelectedDocument.current.uuid
          ].MEMBER.READ || mainVm.sidebar.getData().permissions.MEMBER.READ"
          id="tab2"
          label="{{'MEMBER_TAB.TITLE' | translate}}"
          class="col-xs-4 noPadding disabled"
        >
          <md-content
            class="md-padding"
            data-ng-include="mainVm.sidebar.getData().currentSelectedDocument.current.nodeType === 'WORK_GROUP' ?
              'directives/sidebar-content/sidebar-content-workgroup-members.html'
              : 'directives/sidebar-content/sidebar-content-drive-members.html'"
          >
          </md-content>
        </md-tab>
        <sidebar-audit-actions-tab
          uuid="mainVm.sidebar.getData().currentSelectedDocument.current.uuid"
          type="'workgroup'"
        >
        </sidebar-audit-actions-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
