<div class="lv-body stop-propagate">
  <div>
    <div id="profile-main" class="detail-workgroup">
      <div class="p-relative m-b-20 img-preview-ctn">
        <div class="np-preview-ctn">
          <i class="fa fa-eye-slash no-preview" aria-hidden="true"></i>
          <p>{{"RIGHT_PANEL.DETAILS.NO_PREVIEW_AVAILABLE" | translate}}</p>
        </div>
      </div>
      <div class="m-b-10">
        <sidebar-description-input
          description="mainVm.sidebar.getData().currentSelectedDocument.current.description"
          on-change="mainVm.sidebar.getData().updateSharedSpaceDescription"
          readonly="!mainVm.sidebar.getData().canUpdateSharedSpaceDescription(mainVm.sidebar.getData().currentSelectedDocument.current)"
          placeholder="INFORMATION_TAB.EDIT_DESCRIPTION"
        ></sidebar-description-input>
      </div>
      <!-- TODO: Set the appropriate action links -->
      <div
        data-ng-show="mainVm.sidebar.getData().linshareModeProduction === false"
        class="visible-xs clearfix sidebar-toolbar"
      >
          <ul class="actions col-xs-12">
            <li class="col-xs-3">
              <a x-ng-click="">
                <i class="groups-add-member col-xs-2"></i>
              </a>
            </li>
            <li class="col-xs-3">
              <a href=""  x-ng-click="vm.deleteSharedSpace(vm.selectedDocuments)"
                 title="{{'ACTION.DELETE' | translate}}">
                <i class="zmdi zmdi-delete col-xs-2" ></i>
              </a>
            </li>
            <li class="col-xs-3">
              <a>
                <i class="fa fa-bell-slash-o col-xs-2 disabled-work-in-progress"></i>
              </a>
            </li>
            <li class="col-xs-3" >
              <a uib-dropdown-toggle class="disabled-work-in-progress dropdown col-xs-2 dropdown-standard"
                 uib-dropdown="">
                <i class="zmdi zmdi-more-vert" ng-class="{'active-link': isActiveMoreDropdown }"
                   x-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown"
                   uib-dropdown-toggle=""></i>
                <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
                  <li>
                    <a href="" event-propagation-stop>
                      <i class="zmdi zmdi-star"></i>
                      {{'ACTION.FAVORITES' | translate}}
                    </a>
                  </li>
                  <li>
                    <a href="" event-propagation-stop>
                      <i class="fa fa-bell-slash-o"></i>
                      {{'ACTION.SILENCE' | translate}}
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="" event-propagation-stop>
                      <i class="zmdi zmdi-arrows"></i>
                      {{'ACTION.MOVE' | translate}}
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="hidden-xs">
                    <a href="" event-propagation-stop>
                      <i class="fa fa-recycle" aria-hidden="true"></i>
                      {{'ACTION.GO_TO_TRASH' | translate}}
                    </a>
                  </li>
                </ul>
              </a>
            </li>
          </ul>
        </div>
      <div class="content-detail-area">
        <div class="flex-ctn detail-info-ctn">
          <div class="item-l">
                      <span class="first-letter user-info">
                       {{'UNKNOWN_FIRST_LETTER' | translate}}
                      </span>
          </div>
          <div class="item-mid">
            <div class="name">{{'UNKNOWN_USER' | translate}}</div>
            <div class="info-item-member" tooltip-placement="bottom" tooltip-popup-delay="500"
                 uib-tooltip="{{mainVm.sidebar.getData().currentSelectedDocument.current.modificationDate |
                 lsDate:'medium':locale}}">
                 <span class="ng-binding">{{'INFORMATION_TAB.UPTADED_THE' | translate}}
                   : {{mainVm.sidebar.getData().currentSelectedDocument.current.modificationDate | lsDate:'longDate':locale}}
                 </span>
            </div>
          </div>
          <div class="item-r actions">
            <span title="{{::'DETAILS.USED_SPACE' | translate}}">
              {{mainVm.sidebar.getData().currentSelectedDocument.quotas.usedSpace | readableSize:true}}
            </span>
          </div>
        </div>
        <div class="meta-data-ctn">
          <h2 class="subheader">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            {{'INFORMATION_TAB.META_DATA' | translate}}
          </h2>
          <div class="meta-data-content">
            <div>
              <p>
                {{'INFORMATION_TAB.CREATED_THE' | translate}}:
              </p>
              <p tooltip-placement="bottom" tooltip-popup-delay="500"
                 uib-tooltip="{{mainVm.sidebar.getData().currentSelectedDocument.current.creationDate |
                 lsDate:'medium':locale}}">
                {{mainVm.sidebar.getData().currentSelectedDocument.current.creationDate | lsDate:'longDate':locale}}
              </p>
            </div>
            <div>
              <p>{{'MEMBER_TAB.TITLE' | translate}}</p>
              <p x-ng-click="mainVm.sidebar.getData().mdtabsSelection.selectedIndex = 1">
                <a>{{mainVm.sidebar.getData().currentSelectedDocument.current.members.length}}
                  {{'MEMBER_TAB.TITLE' | translate}}
                </a>
              </p>
            </div>
            <div>
              <p>
                {{'MEMBER_TAB.MY_RIGHTS' | translate}}:
              </p>
              <p>
                <i class="zmdi zmdi-account p-r-3"></i>
                <span>
                  {{ "MEMBER_TAB." + mainVm.sidebar.getData().currentSelectedDocument.current.role.name | translate }}
                <br />
                </span>
              </p>
            </div>
            <div ng-if="
              mainVm.sidebar.getData().currentSelectedDocument.current.nodeType === 'WORK_GROUP' &&
              mainVm.sidebar.getData().currentSelectedDocument.quotas.maxFileSize
            ">
              <p translate> INFORMATION_TAB.MAX_FILE_SIZE </p>
              <p> {{::mainVm.sidebar.getData().currentSelectedDocument.quotas.maxFileSize | readableSize:true}}</p>
            </div>
            <div
              class="field-ctn"
              ng-if="mainVm.sidebar.getData().currentSelectedDocument.current.nodeType === 'WORK_GROUP'"
              data-ng-class="{
              disabled: !(mainVm.sidebar.getData().functionalities.canOverrideVersioning &&
              (mainVm.sidebar.getData().permissions[mainVm.sidebar.getData().currentSelectedDocument.original.uuid]
              .WORKGROUP.UPDATE || mainVm.sidebar.getData().permissions.WORKGROUP.UPDATE))
              }"
            >
              <div class="fg-line">
                <div>
                  <label for="versioningParameters" translate>INFORMATION_TAB.VERSIONING_ACTIVATION</label>
                  <label class="checkbox checkbox-inline m-r-0 pull-right">
                    <input
                      type="checkbox"
                      name="versioningParameters"
                      ng-model="mainVm.sidebar.getData().currentSelectedDocument.original.versioningParameters.enable"
                      ng-change="mainVm.sidebar.getData().updateVersioningParameter()"
                      ng-disabled="!mainVm.sidebar.getData().functionalities.canOverrideVersioning"
                    />
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
