<div x-ng-hide="!mainVm.sidebar.getData().isMineGuest">
  <div ls-guest-form x-guest-object="mainVm.sidebar.getData().selectedGuest" data-form-name="updateGuest"
       class="form-within-sidebar guest-edit">
  </div>
  <!-- UPDATE BTN links-->
  <div class="bottom-sidebar-btn form-within-sidebar">
    <button class="btn btn-default col-xs-6"
            x-ng-click="mainVm.sidebar.hide(mainVm.sidebar.getData().selectedGuest);
                        mainVm.sidebar.getData().closeDropdown($event)">
      {{"SIDEBAR.BUTTON.CANCEL" | translate}}
    </button>
    <button class="btn btn-primary col-xs-6"
            x-ng-click="mainVm.sidebar.getData().updateGuest(updateGuest, mainVm.sidebar.getData().selectedGuest)">
      {{"SIDEBAR.BUTTON.UPDATE" | translate}}
    </button>
  </div>
</div>
<div x-ng-hide="mainVm.sidebar.getData().isMineGuest">
  <p class="empty-res">
    <i class="zmdi zmdi-info"></i><span>{{'SIDEBAR.ADMIN_RIGHT' | translate}}</span>
  </p>
</div>
