<guest-form
  class="form-within-sidebar guest-edit"
  form="mainVm.sidebar.getData().form"
  guest-object="mainVm.sidebar.getData().selectedGuest"
></guest-form>
<!-- UPDATE BTN links-->
<div class="bottom-sidebar-btn form-within-sidebar" ng-if="mainVm.sidebar.getData().selectedGuest.myRole !== 'NONE'">
  <button
    class="btn btn-default col-xs-6"
    ng-click="mainVm.sidebar.hide(mainVm.sidebar.getData().selectedGuest); mainVm.sidebar.getData().closeDropdown($event)"
    translate
  >
    SIDEBAR.BUTTON.CANCEL
  </button>
  <button
    class="btn btn-primary col-xs-6"
    ng-click="mainVm.sidebar.getData().updateGuest(updateGuest, mainVm.sidebar.getData().selectedGuest)"
    translate
  >
    SIDEBAR.BUTTON.UPDATE
  </button>
</div>
