<div id="member-sidebar">
  <div class="header-sidebar form-sidebar header-show-action">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" ng-click="mainVm.sidebar.hide()"></i>
    <h2 class="header-more-options set-ellipsis"> {{mainVm.sidebar.getData().tokenObject.label}} </h2>
    <span class="hidden-xs actions" ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
    <span class="header-action-link waves-effect text-uppercase visible-xs"
      ng-if="mainVm.sidebar.getData().selectedIndex === 1"
      ng-click="mainVm.sidebar.getData().updateToken()">
      <span class="zmdi zmdi-check"></span>
      <span translate>ACTION.SAVE</span>
    </span>
  </div>

  <div class="tabs-demo-static-tabs tab-nav-detail">
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom md-selected="mainVm.sidebar.getData().selectedIndex">
        <md-tab label="{{'INFORMATION_TAB.TITLE' | translate}}" class="col-xs-4 no-padding">
          <div id="profile-main" class="detail-guest">
            <div>
              <div class="description-ctn form-sidebar"
                  ng-class="{'show-full-comment': commentFocused}"
                  ng-init="commentFocused = false">
                <span class="comment">{{mainVm.sidebar.getData().tokenObject.description || 'N/A'}}</span>
                <div class="edit-description click-enabled" ng-click="commentFocused = !commentFocused">
                  <i class="zmdi zmdi-eye" ng-if="!commentFocused"></i>
                  <i class="zmdi zmdi-close" ng-if="commentFocused"></i>
                </div>
              </div>
            </div>
            <div class="content-detail-area">
              <div class="flex-ctn detail-info-ctn">
                <div class="item-l">
                  <span class="first-letter user-info">
                    {{
                      mainVm.sidebar.getData().tokenObject.actor &&
                      mainVm.sidebar.getData().tokenObject.actor.name ?
                        mainVm.sidebar.getData().tokenObject.actor.name.charAt(0) :
                        'UNKNOWN_FIRST_LETTER' | translate | limitTo:1 | uppercase
                    }}
                  </span>
                </div>
                <div class="item-mid vertical-center">
                  <div class="name">
                    {{
                      mainVm.sidebar.getData().tokenObject.actor &&
                      mainVm.sidebar.getData().tokenObject.actor.name ?
                        mainVm.sidebar.getData().tokenObject.actor.name :
                        'UNKNOWN_USER' | translate
                    }}
                  </div>
                  <div
                    class="info-item-member"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="500"
                    uib-tooltip="{{mainVm.sidebar.getData().tokenObject.modificationDate | lsDate: 'medium'}}"
                    ng-if="mainVm.sidebar.getData().tokenObject.modificationDate"
                  >
                    <span>
                      {{'UPLOAD_REQUESTS.DETAIL_TAB.UPDATED_AT' | translate}} :
                      {{mainVm.sidebar.getData().tokenObject.modificationDate | lsDate:'longDate'}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="meta-data-ctn">
                <h2 class="subheader">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                  <span translate>INFORMATION_TAB.META_DATA</span>
                </h2>
                <div class="meta-data-content">
                  <div>
                    <p translate>TOKEN_MANAGEMENT.DETAILS.LABEL</p>
                    <p>{{mainVm.sidebar.getData().tokenObject.label}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.CREATED_AT</p>
                    <p tooltip-placement="bottom" tooltip-popup-delay="500"
                      uib-tooltip="{{mainVm.sidebar.getData().tokenObject.creationDate |
                        lsDate:'medium'}}">
                      {{mainVm.sidebar.getData().tokenObject.creationDate | lsDate:'longDate'}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab label="{{'TOKEN_MANAGEMENT.FORM.EDIT' | translate }}" class="col-xs-4 no-padding">
          <div class="tabs-demo-static-tabs tab-nav-detail">
            <div ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail two-tabs hidden-tabs-header">
              <md-content>
                <token-management-form
                  token-object="mainVm.sidebar.getData().tokenObject"
                />
              </md-content>
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>

  <div class="bottom-sidebar-btn form-within-sidebar" id="bottom-sidebar-ctn" ng-if="mainVm.sidebar.getData().selectedIndex === 1">
    <button class="btn btn-default col-xs-6" ng-click="mainVm.sidebar.hide()" translate>
      NAVIGATION.CANCEL
    </button>
    <button class="btn btn-primary col-xs-6"
      ng-click="mainVm.sidebar.getData().updateToken()"
      translate>
      ACTION.SAVE
    </button>
  </div>
</div>