<div id="member-sidebar" class="upload-requests">
  <div class="header-sidebar form-sidebar header-show-action">
    <i ng-if="mainVm.sidebar.getData().formTabIndex === 1"
      class="zmdi zmdi-chevron-left zmdi-hc-2x hidden-xs hidden-sm"
      ng-click="mainVm.sidebar.getData().formTabIndex = 0">
    </i>
    <div class="hidden-md hidden-lg hidden-xl">
      <i ng-if="mainVm.sidebar.getData().formTabIndex === 1"
        class="zmdi zmdi-chevron-left zmdi-hc-2x mdi-back-mobile"
        ng-click="mainVm.sidebar.getData().formTabIndex = 0">
      </i>
      <span ng-if="mainVm.sidebar.getData().formTabIndex === 0" class="actions"
        ng-click="mainVm.sidebar.hide(); mainVm.sidebar.getData().reset();">
        <a><i class="zmdi zmdi-close zmdi-hc-lg mdi-close-mobile"></i></a>
      </span>
    </div>
    <h2 class="header-more-options set-ellipsis"> {{mainVm.sidebar.getData().uploadRequestGroupObject.label}} </h2>
    <span class="hidden-xs hidden-sm actions" ng-click="mainVm.sidebar.hide(); mainVm.sidebar.getData().reset();">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
    <span class="header-action-link waves-effect text-uppercase visible-xs"
      ng-click="mainVm.sidebar.getData().updateUploadRequestGroup(mainVm.sidebar.getData().form,
      mainVm.sidebar.getData().uploadRequestGroupObject)">
      <span class="zmdi zmdi-check"></span>
      <span translate>ACTION.SAVE</span>
    </span>
  </div>

  <div class="tabs-demo-static-tabs tab-nav-detail tabs-update-sidebar">
    <md-content>
      <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="mainVm.sidebar.getData().selectedIndex">
        <md-tab id="tab1" label="{{'UPLOAD_REQUESTS.RIGHT_PANEL.DETAILS' | translate}}" class="col-xs-4 no-padding">
          <div id="profile-main" class="detail-guest">
            <div class="p-relative img-preview-ctn p-0">
              <div class="dark-overlay"></div>
              <div class="user-preview-ctn">
                <div class="flex-ctn detail-info-ctn p-0 p-t-10">
                  <div class="item-l m-b-10">
                    <span class="first-letter user-info">
                      <span class="temp-size">{{mainVm.sidebar.getData().uploadRequestGroupObject.filesUploaded || 0}}</span>
                    </span>
                  </div>
                  <p class="m-b-0" translate>UPLOAD_REQUESTS.DETAIL_TAB.FILES_UPLOADED</p>
                </div>
              </div>
            </div>
            <div>
              <div class="description-ctn form-sidebar"
                  ng-class="{'show-full-comment': commentFocused}"
                  ng-init="commentFocused = false">
                <span class="comment">{{mainVm.sidebar.getData().uploadRequestGroupObject.body || 'N/A'}}</span>
                <div class="edit-description click-enabled" ng-click="commentFocused = !commentFocused">
                  <i class="zmdi zmdi-eye" ng-if="!commentFocused"></i>
                  <i class="zmdi zmdi-close" ng-if="commentFocused"></i>
                </div>
              </div>
            </div>
            <div class="content-detail-area">
              <div class="flex-ctn detail-info-ctn">
                <div class="item-l">
                  <span class="first-letter user-info">
                  {{mainVm.sidebar.getData().uploadRequestGroupObject.owner ?
                    mainVm.sidebar.getData().uploadRequestGroupObject.getOwnerNameOrEmail().charAt(0) :
                    'UNKNOWN_FIRST_LETTER' | translate | limitTo:1 | uppercase}}
                  </span>
                </div>
                <div class="item-mid vertical-center">
                  <div class="name">
                    {{mainVm.sidebar.getData().uploadRequestGroupObject.owner ?
                    mainVm.sidebar.getData().uploadRequestGroupObject.getOwnerNameOrEmail()
                    : 'UNKNOWN_USER' | translate}}
                  </div>
                  <div
                    class="info-item-member"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="500"
                    uib-tooltip="{{mainVm.sidebar.getData().uploadRequestGroupObject.modificationDate | lsDate:'medium'}}"
                    ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.modificationDate"
                    >
                    <span>
                      {{'UPLOAD_REQUESTS.DETAIL_TAB.UPDATED_AT' | translate}} :
                      {{mainVm.sidebar.getData().uploadRequestGroupObject.modificationDate | lsDate:'longDate'}}
                    </span>
                  </div>
                </div>
                <div class="item-r actions"
                    ng-show="mainVm.sidebar.getData().uploadRequestGroupObject.owner.uuid === userLogged.uuid" translate>
                  <span translate>CONTACTS_LISTS_DETAILS.OWNER</span>
                </div>
              </div>
              <div class="meta-data-ctn">
                <h2 class="subheader">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <span translate>UPLOAD_REQUESTS.DETAIL_TAB.RECIPIENTS</span>
                  <div class="sidebar-link right" ng-class="{ 'animate-chevron' : showRecipients }"
                    ng-click="showRecipients = !showRecipients">
                    <a href="" translate>
                      UPLOAD_REQUESTS.DETAIL_TAB.SHOW_BUTTON
                    </a>
                    <i class="zmdi zmdi-chevron-down toggle-chevron m-l-5"></i>
                  </div>
                </h2>
                <div class="recipient-list" ng-show="showRecipients">
                  <div class="recipientsAutocomplete" ng-repeat="recipient in mainVm.sidebar.getData().currentSelected.recipients">
                    <span class="firstLetterFormat">
                      {{ ::recipient.charAt(0) }}
                    </span>

                    <p class="recipientsInfo">
                      <span class="user-full-name">
                        <strong>{{ ::recipient }}</strong>
                      </span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="meta-data-ctn">
                <h2 class="subheader">
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                  <span translate>UPLOAD_REQUESTS.DETAIL_TAB.META_DATA</span>
                </h2>
                <div class="meta-data-content">
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.creationDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.CREATED_AT</p>
                    <p tooltip-placement="bottom" tooltip-popup-delay="500"
                      uib-tooltip="{{mainVm.sidebar.getData().uploadRequestGroupObject.creationDate |
                        lsDate:'medium'}}">
                      {{mainVm.sidebar.getData().uploadRequestGroupObject.creationDate | lsDate:'longDate'}}
                    </p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.activationDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.ACTIVATED_AT</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestGroupObject.activationDate | lsDate:'longDate'}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.expiryDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.EXPIRATION_DATE</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestGroupObject.expiryDate | lsDate:'longDate'}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.GROUP</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestGroupObject.collective ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.FILES_UPLOADED</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestGroupObject.filesUploaded || '0'}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.maxFileCount > 0">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.MAX_NUMBER_OF_FILES</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestGroupObject.maxFileCount}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.totalSizeOfFiles.value > 0 && mainVm.sidebar.getData().uploadRequestGroupObject.totalSizeOfFiles.unit">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.MAX_TOTAL_FILE_SIZE</p>
                    <p>
                      <span>{{mainVm.sidebar.getData().uploadRequestGroupObject.totalSizeOfFiles.value}}</span>
                      <span>{{mainVm.sidebar.getData().uploadRequestGroupObject.totalSizeOfFiles.unit}}</span>
                    </p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.maxSizeOfAFile.value > 0 && mainVm.sidebar.getData().uploadRequestGroupObject.maxSizeOfAFile.unit">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.MAX_SIZE_PER_FILE</p>
                    <p>
                      <span>{{mainVm.sidebar.getData().uploadRequestGroupObject.maxSizeOfAFile.value}}</span>
                      <span>{{mainVm.sidebar.getData().uploadRequestGroupObject.maxSizeOfAFile.unit}}</span>
                    </p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.PASSWORD_PROTECTED</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestGroupObject.protectedByPassword ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.ALLOW_DELETION</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestGroupObject.canDelete ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div>
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.ALLOW_CLOSURE</p>
                    <p translate>{{mainVm.sidebar.getData().uploadRequestGroupObject.canClose ? 'RIGHT_PANEL.DETAILS.CIPHERED_YES' : 'RIGHT_PANEL.DETAILS.CIPHERED_NO'}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.notificationDate">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.NOTIFICATION_DATE</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestGroupObject.notificationDate | lsDate:'longDate'}}</p>
                  </div>
                  <div ng-if="mainVm.sidebar.getData().uploadRequestGroupObject.locale">
                    <p translate>UPLOAD_REQUESTS.DETAIL_TAB.NOTIFICATION_LANGUAGE</p>
                    <p>{{mainVm.sidebar.getData().uploadRequestGroupObject.locale}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
        <md-tab id="tab2" label="{{'UPLOAD_REQUESTS.RIGHT_PANEL.EDIT' | translate}}" class="col-xs-4 no-padding">
          <upload-request-group-form
            upload-request-group-object="mainVm.sidebar.getData().uploadRequestGroupObject"
            selected-tab-index="mainVm.sidebar.getData().formTabIndex"
            create-recipient-list="mainVm.sidebar.getData().createRecipientList"
            form="mainVm.sidebar.getData().form"
            operation="update"
          />
        </md-tab>
        <md-tab ng-disabled="true" id="tab3" label="{{'UPLOAD_REQUESTS.RIGHT_PANEL.ACTIVITIES' | translate}}" class="col-xs-4 no-padding"></md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div class="bottom-sidebar-btn form-within-sidebar" id="bottom-sidebar-ctn" ng-if="mainVm.sidebar.getData().selectedIndex === 1">
    <button class="btn btn-default col-xs-6" ng-click="mainVm.sidebar.hide(); mainVm.sidebar.getData().reset();" translate>
      NAVIGATION.CANCEL
    </button>
    <button class="btn btn-primary col-xs-6"
      ng-click="mainVm.sidebar.getData().updateUploadRequestGroup(mainVm.sidebar.getData().form,
        mainVm.sidebar.getData().uploadRequestGroupObject)"
      translate>
      ACTION.SAVE
    </button>
  </div>
</div>