<script type="text/ng-template" id="path/to/your/filters/checkbox.html">
  <label class="checkbox checkbox-inline m-r-20">
    <input type="checkbox" name="check"
           x-ng-click="selectAll()"
           x-ng-checked="datasIsSelected"/>
  <i class="input-helper"></i>
  </label>
</script>
<div class="container">
  <div class="card">
    <div class="card-header m-b-20">
      <h2>{{ 'TITLE' | translate }}</h2>
      <div class="search-bar">
        <div class="input-group">
          <div class="fg-line">
            <input type="text" class="form-control" placeholder="Nom de fichier"
                   ng-change="updateParams()"
                   ng-model="filters['name']">
          </div>
          <span class="input-group-addon last"
                x-ng-click="advancedFilterBool = !advancedFilterBool"
                data-toggle="tooltip"
                title=""
                data-placement="right"
                data-original-title="{{ 'TOOLTIP.ADVANCED_FILTER' | translate }}">
                <!-- zmdi zmdi-caret-right-circle zmdi-hc-fw -->
              <i class="zmdi hidden-xs"
                 x-ng-class="{'zmdi-chevron-down': !advancedFilterBool,
                              'zmdi-chevron-up': advancedFilterBool}"></i>
          </span>
        </div>
      </div>
      <ul class="actions">
        <li>
          <a href=""
             x-ng-show="showActions.length > 0"
             x-ng-click="remove()"
             data-toggle="tooltip"
             title=""
             data-placement="bottom"
             data-original-title="{{ 'TOOLTIP.REMOVE_FILES' | translate }}">
            <i class="md md-delete"></i>
          </a>
        </li>
        <li>
          <a href=""
             x-ng-show="showActions.length > 0"
             x-ng-click="download()"
             data-toggle="tooltip"
             title=""
             data-placement="bottom"
             data-original-title="{{ 'TOOLTIP.DOWNLOAD_FILES' | translate }}">
            <i class="md md-file-download"></i>
          </a>
        </li>
        <li class="dropdown" x-ng-show="showActions.length > 0">
          <a href="" data-toggle="dropdown"
             data-toggle="tooltip"
             title=""
             data-placement="left"
             data-original-title="{{ 'TOOLTIP.SHOW_MORE_OPTIONS' | translate }}">
            <i class="md md-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="remove()">{{ 'REMOVE' | translate }}</a>
            </li>
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="download()">{{ 'DOWNLOAD' | translate }}</a>
            </li>
            <li>
              <a href="">Télécharger sous forme d'arhive</a>
            </li>
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="copy()">Copier</a>
            </li>
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="copy()">Copier dans un groupe</a>
            </li>
            <li>
              <a href="">Transférer</a>
            </li>
            <li>
              <a href="">Encrypté</a>
            </li>
            <li>
              <a href="">Decrypté</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
      <div class="hidden-xs col-md-12 m-t-30" ng-show="advancedFilterBool">
        <label>Filtrer par taille</label>
        <div class="input-group form-group">
          <span class="input-group-addon"><i class="md md-folder-special"></i></span>
          <div class="form-inline">
            <label class="checkbox checkbox-inline m-r-20">
              <input type="checkbox" name="check"
                     x-ng-checked="showUnit"
                     x-ng-model="showUnit" />
                     <i class="input-helper"></i>
            </label>
            <div class="form-group">
              <div class="col-sm-4">
                <div class="fg-line">
                  <input type="text" name="start" class="form-control input-sm"
                         placeholder="Début"
                         ng-change="showUnit = paramsIsActivate(filters['sizeStart'].length)"
                         ng-model="filters['sizeStart']"
                         maxlengh="3" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="fg-line">
                  <input type="text" name="end" class="form-control input-sm"
                         placeholder="Find"
                         ng-change="showUnit = paramsIsActivate(filters['sizeEnd'].length)"
                         ng-model="filters['sizeEnd']"
                         maxlengh="3" />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="fg-line select">
                  <select class="form-control"
                          ng-change="showUnit = paramsIsActivate(filters['unity'])"
                          ng-init="filters['unity'] = '1024'"
                          ng-model="filters['unity']">
                    <option value="1000">Ko</option>
                    <option value="1000000">Mo</option>
                    <option value="1000000000">Go</option>
                    <option value="1000000000000">To</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-t-30 m-b-30" ng-show="advancedFilterBool">
        <label>Filtrer par date</label>
        <div class="input-group form-group">
          <span class="input-group-addon middle"><i class="md md-today"></i></span>
          <div class="form-inline">
            <label class="checkbox checkbox-inline m-r-20">
              <input type="checkbox" name="check"
                     x-ng-model="showDateRange" />
                     <i class="input-helper"></i>
            </label>
            <div class="form-group">
              <div class="form-group">
                <div class="fg-line select">
                  <select class="form-control"
                          ng-change="showUnit = paramsIsActivate(filters['octets'])"
                          ng-init="filters['dateType'] = '1'"
                          ng-model="filters['dateType']">
                    <option value="1">Date de Modification</option>
                    <option value="2">Date de creation</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="fg-line disabled"
                     ng-click="showDateRangeStart = !showDateRangeStart;showDateRange = true">
                  <input type="text" name="end" class="form-control input-sm"
                           placeholder="end"
                           ng-model="filters['dateStart']"
                           maxlengh="3" disabled />
                </div>
                <div class="dd-block">
                    <div class="date-picker">
                        <datepicker
                            show-weeks="false"
                            ng-show="showDateRange && showDateRangeStart"
                            ng-model="filters['dateStart']"
                            max-date="filters['dateEnd']"
                            close-text="Close" placeholder="Select Date"
                            class="dp-inline"></datepicker>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="fg-line disabled"
                     ng-click="showDateRangeStart = !showDateRangeStart;showDateRange = true">
                  <input type="text" name="end" class="form-control input-sm"
                           placeholder="end"
                           ng-model="filters['dateEnd']"
                           maxlengh="3" disabled />
                </div>
                <div class="dd-block">
                    <div class="date-picker dp-red">
                      <datepicker
                            show-weeks="false"
                            ng-show="showDateRange && showDateRangeStart"
                            ng-model="filters['dateEnd']"
                            min-date="filters['dateStart']"
                            close-text="Close" placeholder="Select Date"
                            class="dp-inline"></datepicker>
                    </div>
                </div>
              </div>
              <div class="form-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 m-t-30 m-b-30" ng-show="advancedFilterBool">
        <button class="btn bgm-gray waves-effect" ng-click="clearParams()">
          Reinitialiser
        </button>
        <button class="btn bgm-blue waves-effect" ng-click="updateParams()">
          Filtrer
        </button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="table-responsive visible-xs">
      <div class="col-xs-12" ng-repeat="documentFile in tableParams.data">
        <div class="col-xs-1">
          <label class="checkbox checkbox-inline m-r-20">
              <input type="checkbox" name="check"
                     x-ng-checked="documentFile.isChecked"
                     x-ng-model="documentFile.isChecked"
                     ng-change="setShowActions(documentFile)" />
                     <i class="input-helper"></i>
            </label>
        </div>
        <div class="col-xs-11">
          <a ng-href="/linshare/documents/{{documentFile.uuid}}/download">{{documentFile.name}}</a>
          <p class="text-left m-b-0">{{documentFile.size | readableSize: true}}</p>
          <p class="text-right">
            <strong>Date de modification: </strong>{{documentFile.modificationDate | date:medium}}</p>
        </div>
      </div>
    </div>
    <div class="table-responsive hidden-xs">
      <table class="table table-striped m-b-30" data-ng-table="tableParams" show-filter="true">

        <tr data-ng-repeat="documentFile in $data">
          <td data-title="'Type'" class="col-md-1 col-lg-1">
            <i class="fa fa-lg"
               data-toggle="tooltip"
               title=""
               data-placement="bottom"
               data-original-title="{{'EXTENSIONS.' + documentFile.info | translate }}"
               sortable="'typeImage'"
               ng-class="documentFile.typeImage"></i>&nbsp; &nbsp;
          </td>
          <td class="col-md-4 col-lg-5"
              data-title="'Nom'"
              x-uuid={{o.uuid}}
              sortable="'name'">
              <a ng-href="/linshare/documents/{{documentFile.uuid}}/download">{{documentFile.name}}</a>
          </td>
          <td class="col-md-1 col-lg-1"
              sortable="'size'"
              data-title="'Taille'">
            {{documentFile.size | readableSize: true}}
          </td>
          <td data-title="'Date de modification'" class="col-md-2 col-lg-2" sortable="'modificationDate'">
            {{documentFile.modificationDate | date:medium}}
          </td>
          <td data-title="'Date de création'" class="col-md-2 col-lg-2" sortable="'modificationDate'">
            {{documentFile.creationDate | date:medium}}
          </td>
          <td sortable="'isChecked'" class="col-md-1 col-lg-1"
              filter="{ isChecked: 'path/to/your/filters/checkbox.html'}">
            <label class="checkbox checkbox-inline m-r-20">
              <input type="checkbox" name="check"
                     x-ng-checked="documentFile.isChecked"
                     x-ng-model="documentFile.isChecked"
                     ng-change="setShowActions(documentFile)" />
                     <i class="input-helper"></i>
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>