<script type="text/ng-template" id="path/to/your/filters/checkbox.html">
  <label class="checkbox checkbox-inline m-r-20">
    <input type="checkbox" name="check"
           x-ng-click="selectAll()"
           x-ng-checked="datasIsSelected"/>
  <i class="input-helper"></i>
  </label>
</script>
<div class="container">
  <div class="card">
    <div class="card-header m-b-20">
      <h2>{{ 'TITLE' | translate }}</h2>
      <div class="search-bar">
        <div class="input-group">
          <div class="fg-line">
            <input type="text" class="form-control" placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                   ng-change="updateParams()"
                   ng-model="paramFilter['name']">
          </div>
            <span class="input-group-addon last clickable"
                      x-ng-click="advancedFilterBool = !advancedFilterBool"
                      data-toggle="tooltip"
                      title=""
                      data-placement="right"
                      data-original-title="{{ 'TOOLTIP.ADVANCED_FILTER' | translate }}"
                      slide-toggle="#searchFilterCtn">
              <i class="zmdi hidden-xs clickable"
                  x-ng-class="{'zmdi-chevron-down': !advancedFilterBool,
                              'zmdi-chevron-up': advancedFilterBool} "></i>
          </span>
        </div>
      </div>
      <ul class="actions">
        <li>
          <a href=""
             x-ng-show="showActions.length > 0"
             x-ng-click="remove()"
             data-toggle="tooltip"
             title=""
             data-placement="bottom"
             data-original-title="{{ 'TOOLTIP.REMOVE_FILES' | translate }}">
            <i class="zmdi zmdi-delete"></i>
          </a>
        </li>
        <li>
          <a href=""
             x-ng-show="showActions.length > 0"
             x-ng-click="download()"
             data-toggle="tooltip"
             title=""
             data-placement="bottom"
             data-original-title="{{ 'TOOLTIP.DOWNLOAD_FILES' | translate }}">
            <i class="zmdi zmdi-download"></i>
          </a>
        </li>
        <li class="dropdown" x-ng-show="showActions.length > 0">
          <a href="" data-toggle="dropdown"
             data-toggle="tooltip"
             title=""
             data-placement="left"
             data-original-title="{{ 'TOOLTIP.SHOW_MORE_OPTIONS' | translate }}">
            <i class="zmdi zmdi-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="remove()">{{ 'REMOVE' | translate }}</a>
            </li>
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="download()">{{ 'DOWNLOAD' | translate }}</a>
            </li>
            <li>
              <a href=""
                 x-ng-show="showActions.length > 0"
                 x-ng-click="copy()">{{'ACTION.COPY_IN_GROUP' | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>

      <!-- FILTER COMPONENT  -->
      <filtering-component class="" ls-size="true" ls-date="true" ls-email="true"></filtering-component>
    </div>
    <div class="table-responsive visible-xs">
      <div class="col-xs-12" ng-repeat="documentFile in tableParams.data">
        <div class="col-xs-1">
          <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" name="check"
                   x-ng-checked="documentFile.isChecked"
                   x-ng-model="documentFile.isChecked"
                   ng-change="setShowActions(documentFile)" />
            <i class="input-helper"></i>
          </label>
        </div>
        <div class="col-xs-11">
          {{documentFile.name}}
          <p class="text-left m-b-0">{{documentFile.size | readableSize: true}}</p>
          <p class="text-right">
            <strong>{{'TABLE_HEADER.MODIFICATION_DATE' | translate}}: </strong>{{documentFile.modificationDate | date:medium}}</p>
        </div>
      </div>
    </div>
    <div class="table-responsive hidden-xs">
      <table class="table table-striped m-b-30" data-ng-table="tableParams" show-filter="true">

        <tr data-ng-repeat="documentFile in $data">
          <td data-title="'TABLE_HEADER.TYPE' | translate" class="col-md-1 col-lg-1">
            <i class="fa fa-lg"
               data-toggle="tooltip"
               title=""
               data-placement="bottom"
               data-original-title="{{'EXTENSIONS.' + documentFile.info | translate }}"
               sortable="'typeImage'"
               ng-class="documentFile.typeImage"></i>&nbsp; &nbsp;
          </td>
          <td class="col-md-4 col-lg-5" data-title="'TABLE_HEADER.NAME' | translate" x-uuid={{o.uuid}} sortable="'name'">
            {{documentFile.name}}
          </td>
          <td class="col-md-1 col-lg-1"
              sortable="'size'"
              data-title="'TABLE_HEADER.SIZE' | translate">
            {{documentFile.size | readableSize: true }}
          </td>
          <td data-title="'TABLE_HEADER.MODIFICATION_DATE' | translate" class="col-md-2 col-lg-2" sortable="'modificationDate'">
            {{documentFile.modificationDate | date:medium}}
          </td>
          <td data-title="'TABLE_HEADER.CREATION_DATE' | translate" class="col-md-2 col-lg-2" sortable="'modificationDate'">
            {{documentFile.creationDate | date:medium}}
          </td>
          <td sortable="'isChecked'" class="col-md-1 col-lg-1">
            <label class="checkbox checkbox-inline m-r-20">
              <input type="checkbox" name="check"
                     x-ng-checked="documentFile.isChecked"
                     x-ng-model="documentFile.isChecked"
                     ng-change="setShowActions(documentFile)" />
              <i class="input-helper"></i>
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
