<div class="container">

  <div class="block-header">
    <h2>{{selectedDocuments[0].name}} <small>my selected file current</small></h2>

  </div>

  <div class="card" id="profile-main">
    <div class="pm-overview c-overflow">
      <div class="pmo-pic">
        <div class="p-relative">
          <a href="">
            <img class="img-responsive" src="styles/materialAdmin/img/profile-pics/profile-pic-2.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="pmo-block pmo-contact hidden-xs">

        <div class="listview">

          <div class="media">
            <div class="pull-left p-relative">
              Date de depot
            </div>
            <div class="media-body">
              <div class="lv-title">{{selectedDocuments[0].creationDate | date:'shortDate'}}</div>
            </div>
          </div>

          <div class="media">
            <div class="pull-left p-relative">
              Taille
            </div>
            <div class="media-body">
              <div class="lv-title">{{selectedDocuments[0].size  | readableSize: false}}</div>
            </div>
          </div>

          <div class="media">
            <div class="pull-left p-relative">
              Type
            </div>
            <div class="media-body">
              <div class="lv-title">{{selectedDocuments[0].type}}</div>
            </div>
          </div>

          <div class="media">
            <div class="pull-left p-relative">
              Date de modification
            </div>
            <div class="media-body">
              <div class="lv-title">{{selectedDocuments[0].modificationDate | date:'shortDate'}}</div>
            </div>
          </div>

          <div class="media">
            <div class="pull-left p-relative">
              Expiration Date
            </div>
            <div class="media-body">
              <div class="lv-title">{{selectedDocuments[0].expirationDate | date:'shortDate'}}</div>
            </div>
          </div>
            <div class="media">
              <div class="pull-left">
                Chiffré
              </div>
              <div class="media-body">
                <div class="lv-title">{{selectedDocuments[0].ciphered}}</div>
              </div>
            </div>

          <div class="media">
            <div class="pull-left">
              Partagé
            </div>
            <div class="media-body">
              <div class="lv-title">{{selectedDocuments[0].shared}}</div>
            </div>
          </div>
            <div class="media">
              <div class="pull-left">
                Partagé
              </div>
              <div class="media-body">
                <div class="lv-title">{{selectedDocuments[0].description}}</div>
              </div>
            </div>
        </div>
      </div>

      </div>
  </div>
</div>
</div>
