<ul class="header-inner clearfix">
    <li id="menu-trigger"
        class="pull-left"
        data-ng-click="hctrl.resizeDragNDropCtn(mainVm.sidebarToggle)"
        data-toggle-sidebar
        data-toggle-model="mainVm.sidebarToggle"
        data-ng-class="{'open': mainVm.sidebarToggle}">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>
    <li class="page-title set-ellipsis visible-xs" translate>
      {{linkActive.name}}
    </li>
    <li class="logo hidden-xs pull-left">
        <a href="" ui-sref="home">
            <img ng-src="{{::mainVm.applicationLogoSmall}}" alt="Logo LinShare" />
        </a>
    </li>
    <li class="pull-right">
      <ul class="top-menu">
            <li class="dropdown whereisit" id="transfert-dropdown" uib-dropdown auto-close="outsideClick"
                is-open="isOpenUpload" data-ng-class="{'open': isOpenUpload}"
                data-ng-if="mainVm.showTransfert">
                <a data-ng-show="$flow.progress() > 0" uib-dropdown-toggle class="col-md-2 ctn-badge-count"
                   style="height: 15px;">
                  <i class="tmn-counts">{{$flow.files.length}}</i>
                  <div class="progress m-t-15">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                         aria-valuenow="$flow.progress()*100" aria-valuemin="0" aria-valuemax="100"
                         style="padding-top: 15px; width: {{$flow.progress()*100}}%">
                    </div>
                  </div>
                </a>
                <a uib-dropdown-toggle href=""><i class="tm-icon ls-uploads"></i>
                  <i class="tm-icon icon-transfert" id="newUploadIcon" new-upload-bounce></i>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-lg action-link" uib-dropdown-menu
                     data-ng-class="{'open': isOpenUpload}">
                  <div class="listview">
                    <div class="lv-body">
                      <div data-ng-cloak="" class="tabsdemoDynamicHeight">
                        <md-content>
                          <md-tabs md-dynamic-height="" md-border-bottom="">
                            <md-tab label="{{'TRANSFERS_DROPDOWN.UPLOADS' | translate}}">
                              <md-content class="md-padding" upload-popup-files="{{mySpacePage}}"></md-content>
                              <md-content class="md-padding" upload-popup-files="{{workgroupPage}}"></md-content>
                            </md-tab>
                            <md-tab label="{{'TRANSFERS_DROPDOWN.SHARE' | translate}}">
                              <md-content class="md-padding">
                                <p class="empty-res" data-ng-if="shareArray.length === 0">
                                  <i class="zmdi zmdi-info"></i>
                                  <span translate>
                                    HEADER.NO_SHARES
                                  </span>
                                </p>
                                <div class="lv-item row" style="cursor: pointer" data-ng-repeat="share in shareArray"
                                     ui-sref="share.detail({id: $index})">
                                  <div class="col-xs-12 p-0">
                                    <div class="lv-title p-0">
                                      <div  class="p-0 file-name">
                                        <span><span translate> TRANSFERS_DROPDOWN.SHARE_NUMBER</span> {{::$index + 1}}</span>
                                        <i data-ng-show="share.waitingUploadIdentifiers.length > 0" translate>
                                          HEADER.SHARING_PROGRESS.SHARE_IN_PROGRESS
                                        </i>
                                        <i data-ng-show="share.waitingUploadIdentifiers.length === 0" translate>
                                          HEADER.SHARING_PROGRESS.SHARE_DONE
                                        </i>
                                      </div>
                                      <div class="p-0 secondary-info-ctn">
                                        <span class="secondary-info-text">
                                          <span class="files-count">{{::share.documents.length}}
                                            <i class="fa fa-file"></i>
                                          </span>
                                          <span class="recipients-count">{{::share.recipients.length}}
                                            <i class="zmdi zmdi-account"></i>
                                          </span>
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </md-content>
                            </md-tab>
                          </md-tabs>
                        </md-content>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
            <li class="dropdown" uib-dropdown auto-close="outsideClick" data-ng-if="::!lsAppConfig.production">
              <a  data-ng-if="::!linshareModeProduction" uib-dropdown-toggle href="" class="col-md-2 ctn-badge-count" style="height: 15px;">
                <i class="tmn-counts">5</i>
              </a>
              <a uib-dropdown-toggle href=""><i class="tm-icon zmdi zmdi-notifications-none"></i></a>
              <div class="dropdown-menu pull-right dropdown-menu-lg" uib-dropdown-menu>
                <div class="listview">
                  <div class="lv-header stop-propagate">Notifications
                    <ul class="actions">
                      <li class="dropdown">
                        <a href="" data-clear="notification">
                          <i class="zmdi zmdi-check-all"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="lv-body stop-propagate">
                    <div class="lv-item" >
                      <div class="work-in-progress-ctn-elm">
                        <div class="work-in-progress-content">
                          <img src="../../images/wip-banner-small.png"/>
                          <p translate>WORK_IN_PROGRESS.WORK_IN_PROGRESS_MSG</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="lv-footer" href="" translate>HEADER.UPLOAD_PROGRESS.FOOTER</a>
                </div>
              </div>
            </li>
            <li ng-controller="AuthenticationController as authenticationVm" class="dropdown hidden-xs" uib-dropdown>
              <a uib-dropdown-toggle href=""><i class="tm-icon ls-my-profile"></i></a>
              <ul class="dropdown-menu dm-icon pull-right">
                <li>
                  <a href="">{{::loggedUser.firstName}} {{::loggedUser.lastName}}</a>
                </li>
                <li ng-if="authenticationVm.canChangePassword()">
                  <a ng-click="authenticationVm.goToChangePassword()">
                    <i class="zmdi zmdi-lock"></i> <span translate>CHANGE_PASSWORD.TITLE</span>
                  </a>
                </li>
                <li ng-if="mainVm.show2FA">
                  <a href="" ui-sref="secondFactorAuthentication">
                    <i class="zmdi zmdi-shield-security"></i> <span translate>SECOND_FACTOR_AUTH.TITLE</span>
                  </a>
                </li>
                <li>
                  <debug-mode-switcher />
                </li>
                <li data-ng-if="::!linshareModeProduction">
                  <a href=""><i class="zmdi ls-settings"></i> <span translate>HEADER.SETTINGS</span></a>
                </li>
                <li>
                  <a data-ng-click="authenticationVm.logout(); $flow.cancel()">
                    <i class="zmdi zmdi-run"></i> <span translate>HEADER.LOGOUT</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <language-selector/>
            </li>
        </ul>
    </li>
</ul>
