<ul class="header-inner clearfix" data-flow-files-submitted="$flow.upload()">
    <li id="menu-trigger"
        class="pull-left"
        ng-click="hctrl.resizeDragNDropCtn(mactrl.sidebarToggle.left)"
        data-target="mainmenu"
        data-toggle-sidebar
        data-model-left="mactrl.sidebarToggle.left"
        data-ng-class="{ 'open': mactrl.sidebarToggle.left }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>
    <li class="page-title visible-xs">
        {{ linkActive.name | translate }}
    </li>
    <li class="logo hidden-xs pull-left">
        <a href="" ui-sref="home">
            <img src="images/common/linshare-logo-white.png" alt="Logo LinShare" />
        </a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <li class="dropdown" id="transfert-dropdown" uib-dropdown auto-close="outsideClick">
                <a ng-show="$flow.progress() > 0" uib-dropdown-toggle class="col-md-2 ctn-badge-count"
                   style="height: 15px;">
                  <i class="tmn-counts">{{$flow.files.length}}</i>
                  <div class="progress m-t-15">
                    <div class="progress-bar progress-bar-warning" role="progressbar"
                         aria-valuenow="$flow.progress()*100" aria-valuemin="0" aria-valuemax="100"
                         style="padding-top: 15px; width: {{$flow.progress()*100}}%">
                    </div>
                  </div>
                </a>
                <a uib-dropdown-toggle href=""><i class="tm-icon icon-transfert"></i>
                  <i class="tm-icon icon-transfert" id="newUploadIcon"></i>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-lg" uib-dropdown-menu>
                  <div class="listview">
                    <div class="lv-body">
                      <div ng-cloak="" class="tabsdemoDynamicHeight">
                        <md-content>
                          <md-tabs md-dynamic-height="" md-border-bottom="">
                            <md-tab label="{{'TRANSFERS_DROPDOWN.UPLOADS' | translate}}">
                              <md-content class="md-padding">
                                  <div class="lv-item row" x-ng-repeat="file in $flow.files">
                                    <div class="col-xs-10 p-0">
                                      <div class="lv-title p-0">
                                        <div class="p-0 file-name">
                                          <span>{{file.name}}</span>
                                        </div>
                                        <div class="p-0 secondary-info-ctn">
                                          <span class="secondary-info-text">{{file.size | readableSize: false}}</span>
                                        </div>
                                      </div>
                                        <p ng-hide="file.isComplete()" class="time-remaining">
                                          {{file.timeRemaining() | remainingTime}}
                                        </p>
                                        <p ng-show="file.isComplete()" class="time-remaining">
                                          {{"HEADER.UPLOAD_PROGRESS.UPLOAD_DONE" | translate }}
                                        </p>
                                      <div class="progress">)
                                        <div class="progress-bar" role="progressbar" aria-valuenow="file.progress()*100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress()*100}}%">
                                          <span class="sr-only">100% Complete (success)</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-2 p-0">
                                      <ul class="lv-actions actions alignListIcons">
                                        <li class="col-xs-4" x-ng-if="file.isUploading()">
                                          <a href="" ng-click="file.cancel()">
                                            <i class="zmdi zmdi-stop"></i>
                                          </a>
                                        </li>
                                        <li class="col-xs-4" x-ng-if="file.isComplete() && !file.error">
                                          <a href="" ng-click="file.cancel()">
                                            <i class="zmdi zmdi zmdi-check"></i>
                                          </a>
                                        </li>
                                        <li class="col-xs-4" x-ng-if="file.error">
                                          <a href="" ng-click="file.retry()">
                                            <i class="zmdi zmdi-replay"></i>
                                          </a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                 </md-content>
                              <a ng-show="linshareModeProduction == false" class="lv-footer"
                                 ui-sref="documents.upload"
                                 href="">{{'HEADER.UPLOAD_PROGRESS.FOOTER' | translate}}</a>
                            </md-tab>
                            <md-tab label="{{'TRANSFERS_DROPDOWN.SHARE' | translate}}">
                              <md-content class="md-padding">
                                <div class="lv-item row" style="cursor: pointer" x-ng-repeat="share in share_array"
                                     ui-sref="share.detail({id: $index})">
                                  <div class="col-xs-10 p-0">
                                    <div class="lv-title p-0">
                                      <div  class="p-0 file-name">
                                        <span> {{'TRANSFERS_DROPDOWN.SHARE_NUMBER' | translate}} {{$index + 1}}</span>
                                      </div>
                                      <div class="p-0 secondary-info-ctn">
                                        <span class="secondary-info-text">
                                          <span class="files-count">{{share.documents.length}}
                                          <i class="fa fa-file-o"></i>
                                        </span>
                                          <span class="recipients-count">{{share.recipients.length}}
                                            <i class="zmdi zmdi-account-o"></i>
                                          </span>
                                        </span>
                                      </div>
                                    </div>
                                    <!--<p class="time-remaining">30min {{'TRANSFERS_DROPDOWN.BEFORE_SENDINGS' | translate}}</p>-->
                                    <!--<div class="progress">-->
                                      <!--<div class="progress-bar" role="progressbar" aria-valuenow="file.progress()*100"-->
                                           <!--aria-valuemin="0" aria-valuemax="100" style="width: {{file.progress()*100}}%">-->
                                        <!--<span class="sr-only">100% Complete (success)</span>-->
                                      <!--</div>-->
                                    <!--</div>-->
                                  </div>
                                  <!--<div class="col-xs-2 p-0">-->
                                    <!--<ul class="lv-actions actions alignListIcons">-->
                                      <!--<li class="col-xs-4" x-ng-if="file.isUploading()">-->
                                        <!--<a href="" ng-click="file.cancel()">-->
                                          <!--<i class="zmdi zmdi-eye"></i>-->
                                        <!--</a>-->
                                      <!--</li>-->
                                      <!--<li class="col-xs-4" x-ng-if="file.isComplete() && !file.error">-->
                                        <!--<a href="" ng-click="file.cancel()">-->
                                          <!--<i class="zmdi zmdi zmdi-check"></i>-->
                                        <!--</a>-->
                                      <!--</li>-->
                                      <!--<li class="col-xs-4" x-ng-if="file.error">-->
                                        <!--<a href="" ng-click="file.retry()">-->
                                          <!--<i class="zmdi zmdi-replay"></i>-->
                                        <!--</a>-->
                                      <!--</li>-->
                                    <!--</ul>-->
                                  <!--</div>-->
                                </div>
                              </md-content>
                            </md-tab>
                          </md-tabs>
                        </md-content>
                      </div>
                    </div>
                  </div>
                </div>
            </li>
            <li class="dropdown" uib-dropdown auto-close="outsideClick">
              <a  ng-show="devMode" uib-dropdown-toggle href="" class="col-md-2 ctn-badge-count" style="height: 15px;">
                <i class="tmn-counts">5</i>
              </a>
              <a uib-dropdown-toggle href=""><i class="tm-icon zmdi zmdi-notifications-none"></i></a>
              <div class="dropdown-menu pull-right dropdown-menu-lg" uib-dropdown-menu>
                <div class="listview">
                  <div class="lv-header stop-propagate">Notifications
                    <ul class="actions">
                      <li class="dropdown">
                        <a href="" data-clear="notification">
                          <i class="zmdi zmdi-check-all"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="lv-body stop-propagate">
                    <div class="lv-item" >
                      <div class="work-in-progress-ctn-elm">
                        <div class="work-in-progress-content">
                          <img src="images/wip-banner-small.png"/>
                          <p>{{'WORK_IN_PROGRESS.WORK_IN_PROGRESS_MSG' | translate}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="lv-footer" href="">{{'HEADER.UPLOAD_PROGRESS.FOOTER' | translate}}</a>
                </div>
              </div>
            </li>
            <li class="dropdown hidden-xs" uib-dropdown>
              <a uib-dropdown-toggle href=""><i class="tm-icon zmdi zmdi-account zmdi-hc-2x"></i></a>
              <ul class="dropdown-menu dm-icon pull-right">
                <li>
                  <a href="">{{ loggedUser.firstName }} {{ loggedUser.lastName }}</a>
                </li>
                <li ng-show="linshareModeProduction == false">
                  <a href=""><i class="zmdi zmdi-settings"></i> {{'HEADER.SETTINGS' | translate}}</a>
                </li>
                <li>
                  <a data-ng-controller="AuthenticationController" data-ng-click="logout(); $flow.cancel()" ui-sref="login">
                    <i class="zmdi zmdi-run"></i> {{'HEADER.LOGOUT' | translate}}
                  </a>
                </li>
              </ul>
            </li>
        </ul>
    </li>
</ul>
