<div class="container" data-ng-controller="LinshareShareActionController">

  <div ng-if="sidebarRightDataType === 'details' " sidebar-content="details"></div>
  <div ng-if="sidebarRightDataType === 'share' " sidebar-content="share"></div>
  <div ng-if="sidebarRightDataType === 'more-options' " sidebar-content="more-options"></div>
  <div ng-if="sidebarRightDataType === 'share-details' " sidebar-content="share-details"></div>
  <div ng-if="sidebarRightDataType === 'active-share-details' " sidebar-content="active-share-details"></div>
  <div ng-if="sidebarRightDataType === 'add-member' " sidebar-content="add-member"></div>
  <div ng-if="sidebarRightDataType === 'multi-select-rights' " sidebar-content="multi-select-rights"></div>
  <div ng-if="sidebarRightDataType === 'workgroup-detail-file' " sidebar-content="workgroup-detail-file"></div>

</div>
