<div class="container" x-ng-controller="LinshareShareActionController as shareActionVm">
  <div x-ng-if="mainVm.sidebar.getContent() === 'share' " sidebar-content="share"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'more-options' " sidebar-content="more-options"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'share-details' " sidebar-content="share-details"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'active-share-details' " sidebar-content="active-share-details"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'new-guest' " sidebar-content="new-guest"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'guest' " sidebar-content="guest"></div>
  <!--Not using shareActionVm-->
  <div x-ng-if="mainVm.sidebar.getContent() === 'details' " sidebar-content="details"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'add-member' " sidebar-content="add-member"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'workgroup' " sidebar-content="workgroup"></div>
  <div x-ng-if="mainVm.sidebar.getContent() === 'workgroup-detail-file' " sidebar-content="workgroup-detail-file"></div>
</div>
