$logoBlue: #05B1FF;
$dispBlue: #06A6EE;
$textColorDark:#464646;
$dividerClr: #f0f0f0;
$primaryClr: #05b1ff;
$prevBlueDarker:#2196f3;
$secondaryClr: #00bfa5;
$darkPrimaryBlue : #0091ea;
$bgActiveMenuGray :#F1F1F1;
$midGreyBg:#f9f9f9;
$loginDarkText:#535050;
$disabled:#B6B6B6;
