@import "fonts.scss";
@import "colors.scss";

#login-page {
  .quota.login-libreNfreeCtn {
    border: none;
    top: 0;
    height: auto;
    p {
      color: #E6E6E6;
    }
  }
  #copyright-login {
    text-align: center;
    font-size: 0.85em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
    p {
      color: #E6E6E6;
    }
    img {
      width: 100px;
    }
    span {
      font-size: 0.85em;
      color: #E6E6E6;
    }
  }
  #language-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    padding-top: 20px;
    .btn-custum-transparent {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding-left: 5px;
      i {
        padding-left: 5px;
      }
      img {
        width: 23px;
        padding-right: 5px;
      }
    }
    .flag-list-ctn img {
      width: 22px;
    }
    .disp-language {
      font-size: 0.9em;
    }
    .lang-short {
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 5px;
      margin-left: 5px;
      width: 20px;
    }
  }
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  pointer-events: none;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
#l-login {
  .checkbox input:checked + .input-helper:before {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    border: 1px solid #EAEAEA;
  }
  .checkbox input:checked + .input-helper:after {
    -webkit-transform: scale(0.8) rotate(-50deg);
    -ms-transform: scale(0.8) rotate(-50deg);
    -o-transform: scale(0.8) rotate(-50deg);
    transform: scale(0.8) rotate(-50deg);
  }
  #inputEmail:-webkit-autofill,
  #inputPassword:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
  .checkbox label {
    padding-left: 24px;
  }
  input {
    font-size: 1.1em;
    letter-spacing: 0.015em;
    color: #535050;
  }
  ::-webkit-input-placeholder {
    font-family: roboto, sans-serif;
    font-weight: normal;
    color: #535050;
    font-weight: 500;
    text-transform: uppercase !important;
  }
  :-moz-placeholder {
    /* Firefox 18- */

    text-transform: uppercase !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */

    text-transform: uppercase !important;
  }
  :-ms-input-placeholder {
    text-transform: uppercase !important;
  }
  .form-group {
    margin: 0;
  }
  .parent-login-form-alignment {
    position: relative;
  }
  .child-centered-login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
  }
  .logo-title {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -55px;
    p {
      margin-top: 15px;
      color: #fff;
      font-size: 19px;
    }
  }
  .input-group {
    width: 100%;
  }
  .lc-block .checkbox {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .lc-block {
    width: 380px;
    padding: 0;
    form {
      padding: 0 25px 15px;
    }
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .conexion {
    font-size: 1.3em;
    margin-top: 2em;
    padding: 12px;
    background-color: #05b1ff;
    border-radius: 5px;
    background-color: $primaryClr !important;
  }
  .header-login-form {
    background-color: #F9F9F9;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h1 {
      margin-top: 0;
      padding: 18px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;
      margin-bottom: 1.5em;
      color: #5E5E5E;
    }
  }
}
.login-content {
  text-align: center;
}
.dropdown-menu .menu-item-share{
  font-size:1.2em;
}

.placeholder-work-in-progress{
  background: url(../images/ls-wip.png) no-repeat center center;
}
#transfert-dropdown md-content {
  padding: 0 !important;
  overflow: hidden;
  md-tabs-content-wrapper div md-content {
    height: 290px !important;
  }
  md-tabs.md-default-theme md-ink-bar,
  md-tabs md-ink-bar {
    color: rgb(5, 177, 255);
    background: rgb(5, 177, 255);
  }
  md-pagination-wrapper {
    width: 100% !important;
    md-tab-item {
      width: 50% !important;
    }
  }
  md-tabs {
    .md-tab.md-active {
      color: rgb(5, 177, 255) !important;
    }
    .md-tab {
      font-weight: 500 !important;
      color: #4C4C4C !important;
      font-size: 1em !important;
      letter-spacing: 0.01em !important;
    }
  }
}

#transfert-dropdown {
  .tabsdemoDynamicHeight {
    height:393px !important;
  }
  .p-0 {
  padding: 0 !important;
}
  .listview .lv-item .lv-actions {
    position: inherit;
    right: inherit;
    top: inherit;
  }
  .secondary-info-ctn {
    color: #A8A8A8;
    font-size: 0.75em;
    text-align: right;
    vertical-align: bottom;
    position: relative;
    height: 18px;
    width: 20%;
    float: left;
    .secondary-info-text {
      vertical-align: bottom;
      position: absolute;
      bottom: 0;
      right: 0;
      i {
        color: $textColorDark;
      }
    }
  }
  .file-name {
    overflow: hidden;
    height: 18px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 80%;
    float: left;
  }
  .progress {
    height: 3px;
  }
  .progress-bar {
    background-color: #05B1FF;
  }
  .lv-item.row {
    margin: 0;
    padding: 11px 13px;
    border-bottom: solid 1px #eee;
  }
  .files-count i {
    font-size: 0.9em;
  }
  .recipients-count i {
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 0.1em;
  }
  .recipients-count {
    margin-left: 0.75em;
  }
}
.time-remaining {
  margin: 0;
  font-size: 0.67em;
  color: #8A8A8A;
}
#files {
  .card .card-header .fg-line .form-control:not(:disabled), .card .card-header html:not(.ie9) .select:before {
    background-color: transparent;
    font-family: roboto;
    font-weight: 400;
  }
}
.btn-custum-secondary{
background-color: $secondaryClr;
  color:#fdfdfd;
}
.btn-custum-secondary span ,.btn-custum-secondary i {
  background-color: $secondaryClr;
  color:#fdfdfd;
}
.destinataires-form-area{
  margin-top:2em;
}
.bottomSidebarBtn {
  position:absolute;
  bottom:0;
  width: 100%;
  button{
    height: 50px;
    font-size: 1.1em;
  }
}
#chat {
  padding: 5px 0;
  .chat-search {
    padding:0;
    padding-left:20px;
  }
}
#recipientsCtnSidebar {
  .advancedSharingSettings legend {
    display: block;
    width: 100%;
    font-weight: inherit;
    padding: 0;
    margin-bottom: 18px;
    font-size: 1em;
    line-height: inherit;
    color: #7D7D7D;
    border: 0;
    border-bottom: none;
  }
  .addNote.form-group {
    margin-bottom: 3em;
  }
  position: relative;
  .custumListItem {
    .circleCtn{
      min-width: 17%;
    }
    .nameRecipientsCtn {
      width: 83%;
    }
  }
  .more-options {
    display:inline-block;
    float: right;
  }
  h2 {
    text-align: left;
    font-size: 1.3em;
  }
  h2.headerSubCtn  {
    font-size: 1.15em;
    color: #676767;
    clear:  both;
    margin-top:0;
    margin-bottom: 1.5em;
    i{
      display: inline-block;
      margin-right: 0.5em;
    }
  }
  h2.header-more-options {
    text-align: center;
  }
  .savelistBtn {
    float: right;
    padding-top: 2px;
    top: -7px;
  }
  .header-sidebar{

    .zmdi-close{
      position: absolute;
      top: 19px;
      right: 10px;
      font-size: 1.7em;
      cursor: pointer;
    }
    .zmdi-chevron-left {
      position: absolute;
      left: 11px;
      top: 16px;
      cursor: pointer;
      color: #2196F3;
    }
  }
}
.clearfix{
  clear:both !important;
}
.blueBtn {
  color: #FFFFFF !important;
  font-weight: bold !important;;
  font-size: 1.1em;
  background-color: #2196F3 !important;;
}
#files {
  .card-header{
    padding:0;
  }
  .search-bar {
    float:right;
  }
  #action-header {
    float:right;
    width: 70%;
    margin-top: 14px;
    .actions-ctn {
      width: 7%;
    }
    > div {
      float:right;
    }
    .actions {
      position: relative;
      right: 0;
      top: 0
    }
    .search-bar{
      width:93%;
    }
    .navBarBtn {
    }
  }
  #fileListTable thead tr:first-child  th{
    height:50px;
  }
  #breadcrumb-wrap .navBarBtn {

    float: left;
    padding-top: 2px;
    top: 14px;
    padding: 0px;
    margin-left: 70px;
    left: 70px;
  }
  #breadcrumb-wrap {
    height: 55px;
  }
  .card-body{
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  #selection-actions {
    z-index: 4;
  }
  .breadcrumbsCtn {
     top: 6px;
  }
}

.blueBtn {
  color: #FFFFFF !important;
  font-weight: bold !important;;
  font-size: 1.1em;
  background-color: #2196F3 !important;;
}
#files {
  .card-header{
    padding:0;
  }
  .search-bar {
    float:right;
  }
  #action-header {
    float:right;
    width: 70%;
    margin-top: 14px;
    .actions-ctn {
      width: 7%;
    }
    > div {
      float:right;
    }
    .actions {
      position: relative;
      right: 0;
      top: 0
    }
    .search-bar{
      width:93%;
    }
    .navBarBtn {
    }
  }
  #fileListTable thead tr:first-child  th{
    height:50px;
  }
  #breadcrumb-wrap .navBarBtn {

    float: left;
    padding-top: 2px;
    top: 14px;
    padding: 0px;
    margin-left: 70px;
    left: 70px;
  }
  #breadcrumb-wrap {
    height: 55px;
  }
  .card-body{
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  #selection-actions {
    z-index: 4;
  }
  .breadcrumbsCtn {
     top: 6px;
  }
}

.partage-list{
  z-index:5;
  margin-top: -6px;
  button{
    text-transform: inherit;
  }
  i {
    display: inline-block;
    margin-left: 9px;
  }
  .btn-default {
    color: #FBFBFB;
    background-color: #05B1FF;
    border-color: #cccccc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.12);
      span {
        font-family: roboto;
      }
    }

}
.dragNDropCtn{
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  height: calc(100% - 95px);
  display: table;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  margin-top: 0;
  transition: 0.5s ease-in-out all;
  .dragNDropContent {
    display: table-cell;
    vertical-align: middle;

  }
  .dragIconCtn {
    position: relative;
    vertical-align: middle;
    height: 15em;
    width: 15em;
    margin: auto;
  }
  h1 {
    font-weight: bold;
    color: #6B6B6B;;

  }
  img {
    position: absolute;
    top: 16%;
    left: 18%;
    width: 70%;
    height: 70%;
    transform-origin: top 50% left 50%;
    transform: scale(0.85);
    transition: 0.5s ease-in-out all;
  }
  p{
    font-weight: bold;
    color: #9C9C9C;

  }
}
.dragNDropCtn.outOfFocus{
  opacity: 0.34;
  h1{
    color:#E8E8E8;
  }
  p{
    color:#D4D4D4;
  }
}
div.borderedCircle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: inline-block;
  border: 5px solid rgba(241, 241, 241, 0.65);
  background: rgba(255, 255, 255, 0);
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
}

//.drag-over div.borderedCircle {
//  border-width: 0px;
//  background: rgba(255, 255, 255, 0);
//
//}
.dragNDropAlert {
  opacity: 0;
  position: relative;
  margin: 0px 0px 0px -266.5px;
  z-index: 1031;
  display: block;
  top: 90%;
  left: 0;
  width: 232px;
  margin-left: 0;
  margin: auto;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
  font-size: 13px;
  background-color: #2196f3;
  border-color: transparent;
  color: #ffffff;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: all 0.1s ease;
  p{
    margin-bottom:0;
  }
}
 .drag-over .dragNDropAlert{
   opacity:1;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeOutElm .dragNDropAlert{
  opacity:0;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
.borderAnim
{
  transition: all 0.1s ease;
}
.drag-over .borderAnim
{
  box-shadow: inset 0 0 0 5px rgba(33, 150, 243,0.25); ;
}

.drop.drag-over{
  opacity:1;
  background-color:rgba(255,255,255,0.85);
}

.drag-over #dropCtn {
  z-index: 5 !important;
}

#content{
  position: relative;
  z-index: 4;
}
#dropCtn {
  position: fixed;
width:100%;
  height: calc(100% - 50px);
  top: 50px;
  z-index: -1;
  display:table-cell;
  vertical-align:middle;

  .animBox{
    top: 70%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    left: 26%;
    opacity:0;
    transition: 0.5s ease-in-out all;

  }
  .drop{
    opacity:0;
  }
}
.drag-over #dropCtn.animBox {
  opacity:1;
}
.drop{
  transition: 0.5s ease-in-out all;
}

#dropCtn.drag-over .spinner {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 110px;
  width: 110px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

#dropArea {
  width:100%;
  position:relative;
    display:table;
  height: calc(100% - 50px);
  .infoPartager{
    z-index:1;
    opacity:0;
    position:absolute;
    width:100%;
    top:0;
    height:53px;
    border : solid 1px rgba(0,0,0,0.12);
    padding:15px;
    color:#05B1FF;
    padding-left: 22px;
    i{
     display:inline-block;
      margin-right:5px;
    }
    p {
      margin:0;
    }
  }

}
.sidebarLeft{
  margin-left: 268px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.media-body {
  transition: 0.1s ease-in-out all;
}
.highlightListElem{
  border-left:solid 8px #03A9F4;
  background-color: #F3F3F3 !important;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06), 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.removeListElem{
  border-left:none;
  box-shadow: none;
}

.media-body:hover {
  cursor:pointer;
}
#selection-actions.showMultiMenu{
  margin-top:0px;
  display: none;
}

#selection-actions {
  padding-top:15px;
  position: absolute;
  z-index: 2;
  transition: 750ms ease-in-out all;
  background: $midGreyBg;
  top: 0;
  left: 0;
  height: 53px;
  right: 0;
  font-family: 'roboto',sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #dddddd;
  margin-top: -60px;

  .displayNumSelectedItems {
    float: left;
    margin-top: -3px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    margin-right: 0;
    border-radius: 18px;
    color: #FFFFFF;
    white-space: nowrap;
    background: #05B1FF;
    padding: 4px 8px;
    font-size: 0.85em;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.06), 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  }
}

#toolbar-actions {
  font-family: roboto,sans-serif;
  float: left;
  > span {
    display: inline-block;
    margin-left: 3em;
    margin-top: 0;
    font-size: 1.05em;
  }
  span a.deActivateSharing , span a.deActivateSharing span {
    pointer-events: none;
    font-weight: inherit;
    color: #C9C9C9;
  }
  span a {
    color: #B87414;
    color: #4E4E4E;
    cursor: pointer;
    padding-left: 15px;
    font-size: 0.95em;
    i {
      font-size: 1.05em;
    }
    span {
      display: inline-block;
      margin-left: 5px;
      font-weight: bold;
      font-size: 0.95em;
      color: #656565;
    }
  }
}
.exitSelection {
  height: 19px;
  width: 18px;
  float: right;
  margin-right: 15px;
  top: 15px;
  margin-top: -5px;
  cursor: pointer;
  font-size: 2em;
  vertical-align: top
}

#header {
  min-height: 50px;
  height: 50px;
  background-color: $primaryClr;
}
#transfert-ctn.transfertCtnWhite{
background-color: #fff;
  padding-top: 53px;

  #listFilesView .lv-header-alt {
    background: transparent;
    padding: 0;
    color: #000;
  }
  #listFilesView .lvh-label {
    color: #000;
    font-size: 1em;
  }
  #listFilesView {
    background-color: #FFFFFF;
    padding-bottom: 0;
    margin: 0em;
  }

}
#breadcrumb-wrap {
  border-bottom: 1px solid $dividerClr;
  color: #282829;
  cursor: default;
  font-size: 12px;
  font-weight: bold;
  height: 43px;
  left: 0;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 0;
  background: $midGreyBg;
  z-index: 4;

  .breadcrumbsCtn{
    position: relative;
    float: left;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    display: block;
    overflow: hidden;
    padding: 11px 5px 11px 11px;
    height: 43px;
    .breadcrumb{
      border:none;
      color: #4E4E4E;
      padding: 10px 23px 11px;
      padding-left: 4px;
      i{
        display: inline-block;
        margin-right: 0.6em;
      }
    }
  }
  .navBarBtn {
    display: block;
    position: absolute;
    padding-top: 2px;
    top: 8px;
    padding: 0px;
    right: 9px;
     .btn {
      color: #535353;
      text-transform: inherit;
       text-transform: inherit;
       font-weight: bold;
       font-size: 1.1em;
    }
    i {
      font-size: 1em;
      display: inline-block;
      margin-right: 5px;
      span{
        font-size: 0.75em;
        display: inline-block;
        margin-left: 0.6em;
        margin-top: -3px;
        padding-bottom: 3px;
        margin-right: 5px;
      }
    }
    button{
      padding: 4px 10px;
    }
  }
}
.advancedSharingSettings {
  .form-group.titleMailCustumisation {
    padding-left: 1em;
    padding-right: 2em;
  }
  label {
    max-width: 85%;
  }
  .datepickerCtn {
    > div {
      margin-right: 16px;
    }
    .form-control {
      height: 21px;
      TEXT-ALIGN: RIGHT;
      WIDTH: 70px;
    }
  }
  .fieldCtn {
    padding-right: 2em;
    padding-left: 1em;
    margin-bottom: 1.5em;
  }
  .checkbox-inline,
  .radio-inline {
    padding-left: 0;
  }
  .mailDivider {
    margin-top: -9px;
    margin-left: 0px;
  }
  .ng-hide-add,
  .ng-hide-remove {
    /* ensure visibility during the transition */

    display: block !important;
    /* yes, important */
  }
  .cssSlideUp {
    padding: 0;
    margin-bottom: 1em;
    transition: 0.1s ease-in-out all;
    height: 170px;
    overflow: hidden;
    > div {
      margin-bottom: 1em;
    }
  }
  .cssSlideUp.ng-hide {
    height: 0;
  }
  .datepickerBorderFix {
    margin-top: -8px;
    float: right;
  }
  .fg-line.datepickerCtn {
    display: block;
    width: auto;
  }
  .labelDateExpiration {
    float: left;
  }
  .form-group.titleMailCustumisation {
    padding-bottom: 1.25em;
    margin-bottom: 0;
    p {
      margin-bottom: 0.75em;
    }
  }
  .subjectMail {
    margin-bottom: 1em;
  }
  .custumHeaderMailForm > div {
    padding: 0em;
  }
  .comment {
    border: 1px solid #e0e0e0;
    background-color: #F6F6F6;
    padding: 0.85em;
  }
  .comment::placeholder {
    color: #858585;
    font-size: 0.90em;
    font-style: italic;
  }
  legend {
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 0;
    margin-bottom: 18px;
    font-size: 1.1em;
    line-height: inherit;
    color: #5e5e5e;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .form-inline .checkbox {
    float: right;
  }
  .checkbox input:checked + .input-helper::before {
    transform: scale(1.6);
    left: 0px;
    border: 1px solid #E4E1E1;
  }
  .checkbox input:checked + .input-helper::after {
    transform: scale(0.6) rotate(-50deg);
    opacity: 1;
  }
  .custumHeaderMailForm {
    border-bottom: solid 0px #ddd;
    margin-bottom: 1em;
    margin-top: 1.5em;
    padding: 0px;
    padding-top: 0px;
  }
  .SubCtn {
    padding-left: 2em;
    padding-top: 1em;
    border-bottom: solid 1px #D9D9D9;
    padding-bottom: 1em;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .sticky {
    position: static !important;
  }
}
.scrollRight {
  float: right;
}
.sticky {
  float: left;
}
.formCtn.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.slideCtn {
  .card {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
.slideCtn {
  .select.fg-line:before {
    background-color: #FFFFFF;
    right: 10px;
    position: absolute;
    top: -1px;
    content: "";
    height: calc(100% - 1px);
    width: 12px;
    background-image: none !important;
    background-color: #fff;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url(../images/select.png) !important;
    pointer-events: none;
    z-index: 5;
  }
  .card .card-header {
    background-color: #03A9F4;
    border-bottom: solid 1px #E2E2E2;
  }
  .close-list-icone-btn {
    float: left;
  }
  .card .card-header h2 {
    line-height: 0px;
    color: #fff;
    font-size: 1.05em;
  }
  .card-header h2 small {
    margin-top: 7px;
    color: #AEAEAE;
    line-height: 160%;
    display: none;
  }
  .form-group {
    margin-bottom: 35px;
    padding: 0;
  }
  form {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    .search-field {
      font-size: 0.95em;
    }
  }
  .custumListBody {
    padding: 0;
  }
  .custumHeaderList {
    border-bottom: solid 1px #ddd;
    margin-bottom: 1em;
    padding: 0px;
    padding-top: 21px;
    p.headerSubCtn {
      clear: both;
      padding-top: 9px;
      font-size: 1em;
      margin-bottom: 0.05em;
      span {
        font-weight: bold;
      }
    }
  }
  .custumListContainer {
    padding: 0px 25px;
  }
}
.userBg {
  background-color: #9AC3D6;
}
.dropdown.popOverForm {
  .dropdown-menu {
    padding: 1.15em;
    width: 210px;
  }
  .btn {
    text-transform: inherit;
    font-size: 0.9em;
    padding: 6px;
  }
  i {
    font-size: 1em;
    display: inline-block;
    margin-right: 5px;
  }
}
.multiSelectCtn .search-choice {
  display: none!important;
}
.dropdown.popOverForm > .dropdown-toggle.btn-default {
  color: #2191EA;
}
.dropdown.popOverForm:not([data-animation]).open .dropdown-menu {
  left: -106px;
  max-width: 210px;
}
.custumListItem {
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
  overflow: hidden;
  background-color: #ECECEC;
  height: 30px;
  border-radius: 25px;
  float: left;
  margin-right: 20px;
  margin-bottom: 1em;
  .inner-text-li {
    padding: 5px 8px 0 7px;
  }
  .close-list-icone-btn {
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 12px;
    font-size: 1.2em;
  }
}
.custumHeaderList {
  position: relative;
}
.savelistBtn {
  float: right;
  padding-top: 2px;
  top: -5px;
}
.circle {
  border-radius: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 3px;
  font-size: 0.9em;
  color: #fff;
  width: 30px;
  height: 30px;
}
.fabSpeedDialdemoBasicUsage .md-fab:hover,
.fabSpeedDialdemoBasicUsage .md-fab.md-focused {} .fabSpeedDialdemoBasicUsage .zmdi-plus {
                                                    font-size: 2em;
                                                    vertical-align: middle;
                                                  }
.fabSpeedDialdemoBasicUsage .md-button.md-red.md-fab {
  color: #515151;
  background-color: #EBEBEB;
}
body {
  padding-bottom: 0;
}
.hide {
  display: none;
}
.slideCtn {
  margin: 0;
  padding: 0;
  width: 300%;
  -webkit-transition: margin .6s ease;
  -o-transition: margin .6s ease;
  -moz-transition: margin .6s ease;
  transition: margin .6s ease;
  .slide1 {
    margin: 0;
    padding: 0;
  }
  .slide {
    float: left;
  }
  .slide2 {
    height: auto;
    /*  background-color:red;*/
  }
  .slide3 {
    height: 600px;
    /*  background-color:blue;*/
  }
}
.goToSlide2 {
  margin-left: -100% !important;
}
.goToSlide3 {
  margin-left: -200% !important;
}
.goToSlide1 {
  margin-left: 0% !important;
}
#ajouterFichier {
  position: absolute;
  z-index: 5;
  right: 3px;
  top: 11px;
}
.alignListIcons span {
  display: none;
  position: absolute;
  font-size: 0.60em;
  bottom: -1.3em;
  left: 0.2em;
}
.alignListIcons span {
  font-size: 0.65em;
}
.popover-content {
  padding: 15px !important;
}
#transfert-ctn {
  overflow: hidden;
}

.dropdown-menu li {
  clear: both;
}
.lvh-label {
  b {
    display: inline-block;
    margin-right: 1.0em;
  }
  span {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.3em;
  }
  .minutesInfo {}
}
.lv-header-alt > div {
  padding-left: 2px;
  padding-right: 2px;
}
#overlayMobile {
  display: none;
}
/* transfert-ctn*/

.bottom-btn {
  position: fixed;
  bottom: 0;
  z-index: 5;
  height: 32px;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  background-color: #4285F4;
  .btn.bgm-lightblue {
    height: 32px;
    background-color: #4285F4 !important;
  }
}
.form-wizard-nav {
  padding: 0;
  position: relative;
  padding-top: 1.5em;
  height: 55px;
  float: none;
  margin: auto;
  padding-top: 3em;
  margin-bottom: 2em;
  .progress {
    position: absolute;
    top: 55px;
    height: 3px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .progress-bar {
    width: 0%;
    background-color: #4285F4;
  }
  div a {
    background-color: #fff;
    font-size: 1.25em;
    padding: 2em 0em;
    padding-right: 2em;
    padding-left: 1em;
    color: #B3B3B3;
  }
  div {
    padding: 0;
  }
  .step {
    box-sizing: content-box;
    display: inline-block;
    background: #fff;
    height: 26px;
    padding: 0px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
    color: #444;
    border: 3px solid #e5e6e6;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
  }
  .done .step {
    background: #4285F4;
    border-color: #4285F4;
    color: #fff;
  }
  .active .title,
  .active .stepNum,
  .done.active .title,
  .done.active .stepNum {
    color: #4285F4;
  }
  .done .title {
    color: #444;
  }
  .done i {
    display: inline-block !important;
    visibility: visible;
  }
  .done .stepNum {
    display: none !important;
  }
  div a {
    cursor: pointer;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
  }
  div.active .step,
  div a:hover .step {
    border-color: #4285F4;
    background: #fff;
    color: #444;
  }
  .last {
    text-align: right;
  }
  .middle {
    text-align: center;
  }
  .last {
    .step {
      vertical-align: top;
    }
    .title {
      position: relative;
      span {
        display: inline-block;
        left: 0;
        top: 18px;
        position: absolute;
        text-align: left;
        font-size: 0.75em;
        font-style: italic;
      }
    }
  }
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.bs-wizard {margin-top: 0px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #05B1FF; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute; width: 40px; height: 40px; display: block; background: #D2E7F0; top: 19px; left: 50%; margin-top: -16px; margin-left: -16px; border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' ';
  width: 30px;
  height: 30px;
  background: #05B1FF;
  border-radius: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 5px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #05B1FF;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step a.bs-wizard-dot span{
  display: inline-block;
  color:#fff;
  width: 40px;
  margin: auto;
  position: relative;
  margin-top: 10px;
  z-index: 3;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot span{
  color:#898989;
}
/*END Form Wizard*/
#transfert-ctn {
  background-color: #f0f0f0;
  #topFixedHeaderList {
    .lv-header-alt .lv-actions > li > a {
      margin: 0 0px;
    }
  }

  .card.col-centered{
    float: none;
    margin: 0 auto;
    padding: 0;
  }
  #listFilesView{
    background-color: #f0f0f0;
    padding-bottom: 1em;
    margin: 0em;
  }

  .alignListIcons{
  padding-top:12px;
  }
  .animLeft {
    -webkit-transition: margin .6s ease;
    -o-transition: margin .6s ease;
    transition: margin .6s ease;
  }
  .noPadding{
    padding:0;
    div {
      padding:0;
    }
    .previewIconCtn{
      padding-top: 8px;
    }
  }


  .dataListSlideToggle{
    margin-left:-100%;
  }
  .showSlideBtn {
    width: 236px;
  }
  .showSlideBtn .dotsIcon {
    right: -40px;
  }
  .showSlideBtn .slidableList {
    display: block !important;
  }

  .actionListCtn{
    position:relative;
  }
  .dotsIcon{
    position:absolute;
    z-index:555;
    background-color: #fff;
    }

  .slidableList{
    position:relative;
       z-index:444;
  }
  .actions > li > a > i, .actions > a > i {
    color: #5D5D5D;

  }
  #listFilesView{
    .lvh-label{
        color:#fff;
      font-size:1em;
    }
    .lv-header-alt {
      background: #03A9F4;
      padding: 0.6em;
      color: #fff;
    }

  }
  .lv-header-alt {
    background: #FFFFFF;
    margin-bottom: 0.5em;
  }

  @media screen and (min-width: 768px) {
    .card-body.card-padding {
      padding: 23px 25px 5px;
    }
  }
  .card {

     margin-bottom: 0;
  }
  .lv-body{
    z-index: 4;
    .progress {
      box-shadow: none;
      border-radius: 0;
      height: 3px;
      margin-bottom: 0;
      margin-top: 0.25em;
    }
    .actions > li > a > i, .actions > a > i {
          color: #adadad;

    }
    .actions > li > a:hover > i{
      color: #555;
    }
  }
  .lv-title {
    font-size:1em;
  }
  .listview {
    background-color:#f0f0f0;
    padding: 0;
    margin-bottom: 1.5em;
  }

  .previewIconCtn{
    width:auto;
    margin:auto;
    padding: 5px;
    text-align: center;
    p {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      padding: 3px;
      background-color:#9AC3D6;
    font-size:0.8em;
    color:#fff;
    width:30px;
    height:30px;
    }
  }
  .dataListCtn {
    width: 94%;
    margin-left:15px;
  }
  .alert-info {
    padding-left :0;
    background-color: #f2f2f2;
    border-color: #f5f5f5;
    color: #2196f3;
    margin: 0.5em 2.5em;
    .zmdi-info{
      display: inline-block;
      margin-left:1em;
      margin-right:0.5em;
      font-size:1.4em;
    }
  }
   .icons i{

     display:inline-block;
      font-size:1.8em;
     padding-left: 0;
  }
  .media-body .icons{
    height:100%;
    padding-top:27px;
  /*  background-color:#ddd;*/

  }
    .listview.lv-lg .lv-item {
      padding: 17px 0px 17px 0px;

  }
  .media-body {
   margin:0;
    border-bottom:solid 1px #ddd;
    background-color: #fff;
  }
  .media-body > div{
    box-sizing: border-box;
    padding: 9px;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    -moz-transition: background .6s ease;
    transition: background .6s ease;


  }
}
#transfert-header{
  background-color: #eee;
  position:relative;
  z-index:4;
  .dropdown > a {

      background-color: #d4d4d4;

  }
  ul.tab-nav {
    overflow: visible !important;
    padding:0;
    margin:0;
    border-top:solid 1px #ccc;
  }
  li {
   border:solid 1px #ddd;
   border-right: none;
    border-top:none;
    background-color: #fff;
    margin:0;
    float:left;
    a{
      font-size:1.2em;
      padding: 1em 2em;
      font-family: 'roboto', sans-serif;
      font-weight:initial;
      margin:0;
      text-transform: inherit;
      border:none;

    }
  }
  li.active {
    background-color: #fff;
    border-bottom: solid 3px #fff;
    a{
      padding: 1em 3em;
      color:$logoBlue;
      font-weight:400;

    }
  }
  .btn-group > a{
    padding-right:0.95em;
    padding-left:0.95em;

  }

  li > a:after {
    background: #fff;
  }

  li:last-child{

    border-right:solid 1px #ddd;
  }

}
.line-wrap {
  margin: 11px 20px;
}

body {
  font-family: roboto, sans-serif;
}

#main {
  padding: 0;
}
/*
**
** DatePicker
** hide default actions
**
*/
li.dp-actions {
  display: none;
}
.popover {
  padding:0;
  h3{
    color:$dispBlue;
    letter-spacing: 0.05em;
  }
}
.dropdown-menu li a span:first-child  {

  display:inline-block;
  width:32%;
}
/***
**  Style for the typeahead autocomplete
*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #9d9d9;
  text-decoration: none;
  outline: 0;
  background-color: $dispBlue;
}
.dropdown-menu > li  {
  border-bottom: 1px solid #eee;
}
.dropdown-menu:not([class*="bgm-"]) > li > a{
  color: #4C4C4C;
}
.dropdown-menu:not([class*="bgm-"]) > li.active > a,
.dropdown-menu:not([class*="bgm-"]) > li.active > a:hover,
.dropdown-menu:not([class*="bgm-"]) > li.active > a:focus {
  color: #ffffff;

}
.dropdown-menu > li > a {
  padding: 8px 17px;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  font-family: roboto;
  font-size:1.02em;
}

/*
**
** HEADER
**
*/
.m-t-50{
  margin-top: 50px !important;
}
.card-header {
  padding: 10px 25px 0;
}
.card-header .actions {
  z-index: 888;
}

.clickable {
  cursor: pointer;
}

html:not(.ie9) .formsearch .select::before {
  position: absolute;
  top: -1px;
  content: "";
  height: calc(100% - 1px);
  width: 12px;
  background-color: #f5f5f5;
  background-position: right calc(100% - 7px);
  background-repeat: no-repeat;
  background-image: url(../images/select.png);
  pointer-events: none;
  z-index: 5;
}

.formsearch {
  label:first-child {
    margin-bottom: 1em;
    margin-top: 0em;
  }

  .disabledIcon, .disabledIcon::before {
    opacity: 0.45;
  }

  .fg-line select.form-control:not(:disabled) {
    color: #9d9d9d !important;
    background-color: #9d9d9d;
    padding-right: 12px;
  }
  .fg-line select.form-control:disabled {
    color: #D2D2D2 !important;
    background-color: #f5f5f5;
  }
  .fg-line select.form-control:not(:disabled).ng-dirty {

    color: #000 !important;

  }

  .form-control:not(:disabled)::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #9d9d9d;
  }
  .form-control -moz-placeholder:not(:disabled) {
    /* Mozilla Firefox 4 to 18 */
    color: #9d9d9d;
    opacity: 1;
  }
  .form-control ::-moz-placeholder:not(:disabled) {
    /* Mozilla Firefox 4 to 18 */
    color: #9d9d9d;
    opacity: 1;
  }

  .form-control:not(:disabled) -ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #9d9d9d;
  }
  .form-control:not(:disabled):placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #9d9d9d;
  }

  .form-control:disabled::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #D2D2D2;

  }

  .form-control:disabled:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #D2D2D2;
    opacity: 1;
  }
  .form-control:disabled::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #D2D2D2;
    opacity: 1;
  }
  .form-control:disabled:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #D2D2D2;
  }
  .form-control:disabled:placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #D2D2D2;
  }

  .checkbox input.forceChecked + .input-helper::after {
    transform: scale(0.6) rotate(-50deg);
    opacity: 1;
  }

  .checkbox input.forceChecked + .input-helper::before {
    transform: scale(1.6);
    left: 0px;
    border: 1px solid #E4E1E1;
  }

  .checkbox input:checked + .input-helper::before {
    transform: scale(1.6);
    left: 0px;
    border: 1px solid #E4E1E1;
  }

  label {
    margin-bottom: 1em;
    margin-top: 3em;
    font-weight:normal;
    font-size:1em;
    color:$dispBlue;
  }
  select, input:focus, select:focus, select.form-control.outlineFFremove:focus {
    outline: 0;
    box-shadow: none;
  }

  select:focus, option:focus, select::-moz-focus-inner, option::-moz-focus-inner {
    outline: 0;
    border: none;
  }
  select::-moz-focus-inner {
    border: 0;
  }

  @-moz-document url-prefix() {
    select {
      outline: 0;
      box-shadow: none;
      color: transparent !important;
      text-shadow: 0 0 0 #000 !important;
      color: rgba(210, 210, 210, 0) !important;
      text-shadow: 0 0 0 #000 !important;
    }
  }

  .checkbox input:checked + .input-helper::after {
    transform: scale(0.6) rotate(-50deg);
    opacity: 1;
  }
  #searchFilterCtn {

    margin: 0;
    padding: 0;
  }
}

.fix-margin-row {
  margin-left: 0px;
  margin-right: 0px;
}

#header {
  min-height: 50px !important;
  height: 50px;

  .page-title {
    font-size: 20px;
    color: #fff;
    margin-top: 2px;
  }
  .logo {
    text-align: center;
    position: relative;
    z-index: 10;
    a {
      font-size: 22px;
      padding: 0px;
      text-transform: initial;
      letter-spacing: 1px;
      display: inline-block;
      h1 {
        color: #fff;
        margin: 0px;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
      img {
        width:100%;
        margin-top: 0px;
      }
      span {
      }
    }
  }
  #top-search-wrap {
    height: 50px;
    input[type="text"] {
      height: 30px;
    }
  }
  .header-inner {
    padding: 7px 0px;
    .tm-icon.icon-transfert {
      font-size:21px;
    }
    .top-menu {
      margin-top: 2px;
    }
    #menu-trigger::before {
      top: 3px;
    }
  }
}


#header > ul.header-inner > li.pull-right > ul.top-menu > li > a {
  color: #fff;
  text-align: center;
}

#header > ul.header-inner > li.pull-right > ul.top-menu > li > a > i {
  vertical-align: text-top;
}

#header > ul.header-inner > li.pull-right > ul.top-menu > li > a.ctn-badge-count{
  position: absolute;
  top: 0px;
  right: 0;
  height: 15px;
  z-index: 4;
}

/*
**
** Dashboard
**
*/
#home {
  display: table;
  .dashboard-welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
    h4 {
      font-family: 'roboto';
      color: $logoBlue;
      font-weight: 100;
    }
  }
}

#wip-ctn-page {
  position: relative;
  #wip-page {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    .dashboard-wip {
      display: block;
      width: 100%;
      position: absolute;
      top: 13%;
      text-align: center;
      h4 {
        font-family: 'roboto';
        color: #05b1ff;
        font-size: 5em;
        text-transform: uppercase;
        font-weight: 100;
      }
    }
  }
}

.msg-info {
  margin-left: 10%;
  width: 100%;
  margin-top: 5%;
  p {
    font-size: 1.1em;
    color: #82caeb;
    border-bottom: 3px solid rgb(231, 244, 255);
    margin-bottom: 0;
    padding-left: 20px;
  }

  span.ctn {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: -26px;
    margin-top: -22px;
    color: #82caeb;
    background: url("../images/info-circle-bg-3.png") center;
    vertical-align: middle;
    text-align: center;

    span {
      display: inline-block;
      padding-top: 2px;
    }
  }

}

/*
**
** DatePicker
**
*/
.mighty-picker__month-name {
  text-align: center;
}

.mighty-picker-calendar__weekday {
  padding: 5px;
}

.mighty-picker-calendar__day-wrapper {
  text-align: center;
}

.mighty-picker__navigation-next {
  vertical-align: top;
  cursor: pointer;
  font-weight: bold;
}

.mighty-picker__navigation-prev {
  vertical-align: top;
  cursor: pointer;
  font-weight: bold;
}

/*
** INPUT
*/
.input-group-addon.top {
  vertical-align: top;
}

.input-group-addon.bottom {
  vertical-align: bottom;
}

.input-group-addon.middle {
  vertical-align: middle;
}

.form-control {
  height: 30px;
}

/*
** NG TABLE
*/
.table > thead > tr > th {
  background-color: #FFF;
  vertical-align: middle;
  font-weight: 500;
  color: #333;
  border-width: 1px;
  padding: 0px 10px;
}

.ng-table th.sortable .sort-indicator {
  padding-left: 12px;
  position: relative;
}

.ng-table th.sortable .sort-indicator::after, .ng-table th.sortable .sort-indicator::before {
  content: "";
  border-width: 0px 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: visible;
  right: inherit;
  top: 50%;
  position: absolute;
  opacity: 0.3;
  margin-top: -4px;
  left: 5px;
}

.ng-table th {
  -moz-user-select: none;
  text-align: left;
}

.ng-table th.sortable .sort-indicator {
  padding-left: 20px;
  position: relative;
}

//.pagination > li > a, .pagination > li > span {
//    border-radius: 50% !important;
//    padding: 0px;
//    width: 30px;
//    height: 30px;
//    line-height: 28px;
//    text-align: center;
//    font-size: 12px;
//    z-index: 1;
//    position: relative;
//}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: rgb(250, 250, 250);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
}

#fileListTable.table {
  //border-collapse: separate;
  border-spacing: 0 1px;
}


/*
** BODY ELEMENT
*/
body {
  background-color: #ffffff;
  padding-top: 50px;
  #content {
    padding: 0px;
  }
  #content.content-toggled, #content-container.content-toggled{
    // transform: translate3d(268px,0,0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
   margin-left: 268px;
    //width:calc(100% - 268px);
   //padding-left: 268px;
  }
}

html:not(.ie9) .select::before {
  background-color: #F5F5F5;
  background-image: url("../img/select.png");
}

/*
** CUSTUM CLASSES
*/
body:not(.sw-toggled) #sidebar {
  box-shadow:none;
}

#sidebar {
/*  box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.3);*/
  box-shadow: none;
  border-right:solid 2px $dividerClr;
  top: 50px;
  height: calc(100% - 50px);
  width: 0px;
  overflow: hidden;
  transform: inherit;
  -webkit-transform: inherit;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: inherit;
  left: 0px;
  background-color: $midGreyBg;
  .dropdown-menu > li > a {
    padding: 8px 10px;
  }
  .sidebar-inner {

    width: auto;
    overflow-y: inherit;
    width: 268px;
    overflow-x: hidden;
  }
  .main-menu > li.active > a {
    background-color: transparent;
  }
  .main-menu i.fa {
    font-size: 1.2em;
    vertical-align: middle;
  }
  .main-menu > li > a > i {
    color: $textColorDark ;
  }

  .main-menu > li > a:hover {
    background-color: #F4F4F4;
    color: #4285F4;
    font-weight: bold;
    cursor: pointer;
  }
}

.card {
  box-shadow: none;
  .card-header {
    .fg-line .form-control:not(:disabled), html:not(.ie9) .select:before {
      color: #000;
      background-color: #f5f5f5;
    }
    background-color: #f5f5f5;
    border-bottom: solid 1px #ddd;
    h2 {
      line-height: 33px;
//      float: left;
    }
    .search-bar {
      margin-left: 60px;
      float: left;
      min-width: 50px;
      max-width: 58%;
      width: 58%;
      .more-option {
        font-size: 35px;
        cursor: pointer;
      }
    }
  }
}

.form-control {
  height: 30px;
}

.btn-add-files-ctn {
  width: 100%;
  padding: 0;
  padding-top: 29px;
  background: url(../images/common/bg-menu-cta.jpg) no-repeat right center;
  display: table;
  height: 85px;
  .dropdown-ctn {
    display: table;
    width: auto;
    margin: auto;
  }
  .btn-add-files {
    padding: 8px 20px;
    i {
      font-size: 1.5em;
      margin-right: 9px;
      vertical-align: middle;
      margin-left: -5px;
    }
    span {
      font-family: roboto;
      font-size: 1.07em;
      letter-spacing: 0.05em;
      font-weight: 500;
      vertical-align: middle;
    }
  }
  .dropdown-menu > li i{
    font-size: 1.3em;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
  }
}

.quota {
  border-top: 1px solid #E8E8E8;
  margin: 0;
  padding: 15px;
  padding-top: 20px;
  position: absolute;
  bottom: 0px;
  width: 267px;
  height: 94px;
  overflow: hidden;
  .quota-used {
    width: 60%;
    height: 11px;
    background-color: #309BD4;
    float: left;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 15%, transparent 15%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 85%, transparent 85%, transparent);
  }
  .quota-free {
    width: 40%;
    height: 13px;
    background-color: #dfdfdf;
    // background-color: #9E9E9E;
    float: left;
  }
  .quota-information {
    text-align: left;
    p {
      margin: 10px 0px;
      font-size: 11px;
    }
  }
  .libre-and-free {
    display: table;
    margin: 10px 0px;
    img {

      display: table-cell;
      width: 14px;
      padding-top: 2px;
    }
    p {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-style: italic;
      font-weight: 700;
      font-style: italic;
      padding-left: 4px;
      color: $textColorDark;
      span {
        color: #bababa;
      }
    }
  }
}

/*
** CHAT
*/
#chat {
  top: 50px;
  height: calc(100% - 50px);
}

#chat.toggled {
  width: 25%;
  width: -moz-calc(30% - 80.4px);
  width: -webkit-calc(30% - 80.4px);
}

#sharewithlist {
  display: inline;
  list-style: none;
}

#sharewithlist li {
  display: inline;
}

#sharewithlist li:after {
  content: ", ";
}

#sharewithlist li:last-child:after {
  content: "";
}

#filetable.toggled {
  width: 50%;
}

#sidebar .main-menu {
  margin: 0px;
}

#sidebar .main-menu > li > a {
  font-weight: 500;
}

#sidebar .main-menu > li > a:hover {
  color: #4285F4;
  font-weight: 500;
  background-color: rgb(238, 238, 238);
}

#sidebar .main-menu > li.sub-menu > ul > li > a {
  font-weight: 400;
}
#sidebar .main-menu > li.sub-menu > ul > li > a:hover {
  background-color: rgb(238, 238, 238);
}


#sidebar .main-menu > li.sub-menu > ul > li > a.disabled {
  cursor: not-allowed;
  &:hover {
    color: #7f7f7f;
  }
}
#sidebar .main-menu > li.sub-menu > ul > li > a,
#sidebar .main-menu > li > a {
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms  ease-in-out;
  -moz-transition: all 250ms  ease-in-out;
  transition: all 250ms  ease-in-out;
}


#sidebar .main-menu > li.sub-menu > ul > li > a.active,
#sidebar .main-menu > li > a.active {
  background-color: $bgActiveMenuGray;
  color: $darkPrimaryBlue;
  font-weight: 500;
  letter-spacing: 0.05em;
  letter-spacing: 0.01em;
  cursor: default;
}

#sidebar .main-menu > li.active.simple-menu > a {
  background-color: $bgActiveMenuGray;
  color: $darkPrimaryBlue;
  font-weight: 500;
  cursor: default;
}
#sidebar .main-menu > li.active.simple-menu > a i {
  color: $darkPrimaryBlue;
}

#sidebar .main-menu > li.sub-menu > ul > li > a:hover {
  color: #4285F4;
}

#sidebar .main-menu > li > a > i {
  padding: 13px 0px;
}

#loading-bar .bar {
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  background: rgba(0, 0, 0, 0.15);
  // background: #2F3186;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

#sidebar.toggled {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  width: 268px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/*
** DATEPICKER
*/
.btn-dpday {
  border-radius: 50%;
  width: 22px !important;
  height: 22px;
}

.btn-dpbody {
  padding: 3px;
  font-size: 12px;
}

.tr-dpnav .btn-dp {
  color: #fff;
  padding: 15px 0;
}

.tr-dpday th {
  padding: 8px 2PX 9px;
  color: #fff;
  text-transform: uppercase;
}

.ls-1p5x {
  font-size: 1.5em;
}

.iconcolor-word {
  color: #2A5699;
}

.iconcolor-excel {
  color: #207245;
}

.iconcolor-powerpoint {
  color: #DA5B26;
}

.iconcolor-pdf {
  color: #D71822;
}

.iconcolor-text {
  color: #5f5f5f;
}
/*
** RESPONSIVE
*/
@media (min-width: 1200px) {
  .sw-toggled #menu-trigger {
    display: none;
  }
  body.sw-toggled #content {
    padding: 0 0 0 268px;
  }
  body.sw-toggled #content > .container {
    width: 100%;
  }
  #header {
    box-shadow: none;
    height: 50px;
  }
  .header-inner {
    padding: 3px 0px;
  }
  body.sw-toggled #sidebar {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.3)
  }
}
@media (min-width: 768px) {
  #menu-trigger {
    display: none;
  }
}
@media (max-width: 768px) {
  #menu-trigger {
    display: block;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .card {
    box-shadow: none;
    .card-header {
      h2 {
        float: none;
      }
      .search-bar {
        margin-left: 0px;
        float: none;
        min-width: 50px;
        max-width: 100%;
        width: 100%;
        margin: 0px -10px;
        .more-option {
          font-size: 35px;
          cursor: pointer;
        }
      }
    }
  }

}

@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .card-header:not(.ch-alt) {
    padding: 23px 25px 0;
  }
}

@media (max-width: 768px) {
  #transfert-ctn .media-body {
    padding: 13px 5px;
  }
  #transfert-ctn .lv-body {
    margin: 0 !important;
  }
  #transfert-ctn .media-body > div {
    box-sizing: border-box;
    padding: 2px;
  }
  #transfert-ctn .previewIconCtn {
     width: auto;
    padding: 5px !important;
  }

  #transfert-ctn .dataListCtn {
    width: 80%;
    margin-left: 5px !important;
  }
  #transfert-ctn .media-body .icons {
    padding-top: 19px;
  }
  .col-xs-24 {
    width: 200%;
  }
}
@media (min-width: 769px) and (max-width: 1134px) {
  #transfert-ctn .dataListCtn {
    width: 91%;
  }
}
@media (min-width: 284px) and (max-width: 320px) {
  #transfert-ctn .dataListCtn {
    width: 74%;

  }
}

@media (max-width: 284px) {
  #transfert-ctn .dataListCtn {
    width: 96%;
  }
  .hidden-v-xs{
    display:none;
  }
}



@media (max-width: 768px) {
  #transfert-ctn .listview {
    margin-bottom: 1em;
  }
  .form-wizard-nav {
    margin: 0;
    padding: 0;
    height: 25px;
    padding-top: 1em;
    padding-bottom:0em;
    font-size:11px;
    .title{
      text-transform:Capitalize;
      font-size:0.95em !important;
    }
    .step{
      border:none;
      width: auto;
    }
    div a{
      padding-right: 0.5em;
      padding-left: 0.5em;
    }
    .progress{
      top: 24px;
    }
    .middle{
      margin-left: -1.5em;
    }
    .last{
      margin-left: 1em;
    }
  }
  #transfert-header li.active a,#transfert-header li a {
    padding: 0.5em 1em;
  }
  #transfert-header li a {
    font-size: 1em;
  }
  .card-body.card-padding {
    padding: 5px 0px;
  }
  #transfert-ctn .alert-info {
    margin: 0em;
    padding: 5px;
  }
  #transfert-ctn .alert-info p {

    padding-left: 0px;
  }
  .lvh-label {
    font-size:0.85em;
  }
  .lv-header-alt {
    padding: 0px 0px 10px;
  }
  #transfert-ctn .bs-wizard{

    margin-top: 0px;
    padding-bottom:5px;
    margin-bottom:0;
  }
  .bs-wizard{
    padding: 5px 30px;
  }
  .bs-wizard-info.text-center {
    text-align: left;
    margin-left: 16px;
    text-transform: capitalize;
  }
  .bs-wizard > .bs-wizard-step {
    box-sizing:border-box;
  }
  .bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 0.85em;
  }
  .bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 2px;
    box-shadow: none;
    margin: 20px 0;
  }
  .bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 2%;
    display: none;
  }

  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: relative;
    width: 0px;
    height: 0px;
    display: block;
    background: #D2E7F0;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
  }
  .bs-wizard > .bs-wizard-step a.bs-wizard-dot span {
    display: inline-block;
    color: #000;
    width: auto;
    margin: auto;
    position: relative;
    margin-top: 0;
    z-index: 3;
  }
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 0;
    height: 0;
    background: #05B1FF;
    border-radius: 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 2px;
    box-shadow: none;
    margin: 20px 0;
    display: none;
  }
  #transfert-ctn .card {
    margin-bottom: 0;
  }
  body #content.content-toggled {

     padding-left: 0px !important;
  }
  #sidebar.toggled {
    position: fixed;
    z-index: 6;
  }
  #overlayMobile.toggledShowOverlay{
    display: block;
    position: fixed;
    z-index:6;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
  }

}
@media (max-width: 938px) {
  #sidebar.toggled {
    position: fixed;
    z-index: 6;
  }
  body #content.content-toggled {
    padding-left: 0px !important;
  }
  #overlayMobile.toggledShowOverlay {
    display: block;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 768px) {
  .media-body > div:hover {
    background-color: #9AD7F2;
    background-color: #EFEFEF;
    .alignListIcons > li > a > i {
      color: #555 !important;
    }
  }
}
@media (max-width: 768px) {
  .card-body.card-padding {
    padding: 17px 18px;
    padding-bottom: 0;
    margin-top: 0.5em;
  }
  .form-group {
    margin-bottom: 18px;
  }
  #recipientsCtn .form-group {
    margin-bottom: 18px !important;
    padding: 0;
  }
  #recipientsCtn.custumListContainer .custumHeaderList {
    padding-top: 0 !important;
  }
  .custumListContainer {
    padding: 0px 15px !important;
  }
  .custumListItem {
    margin-right: 15px;
  }
}
@media (max-width: 450px) {
  .slideCtn {
    .custumListBody {
      padding: 0;
    }
  }
}
#recipientsCtn.w768 {
  .card-body.card-padding {
    padding: 17px 18px;
    padding-bottom: 0;
    margin-top: 0.5em;
  }
  .custumListContainer {
    padding: 0px 15px !important;
  }
  .custumListItem {
    margin-right: 15px;
  }
  .sticky {
    width: 100%;
  }
}
#recipientsCtn.w450 {
  .form-group {
    margin-bottom: 18px !important;
    padding: 0;
  }
  .custumListContainer .custumHeaderList {
    padding-top: 0 !important;
  }
  .sticky {
    width: 100%;
  }
  .custumListContainer {
    width: 100%;
  }
  .custumListItem {
    width: 100%;
    height: 35px;
    > p {
      width: 15%;
      .circle {
        font-size: 1.1em;
        width: 35px;
        height: 35px;
      }
    }
    > div {
      width: 85%;
      .inner-text-li {
        font-size: 1.1em;
        width: 81%;
        padding-top: 7px;
      }
    }
  }
  .close-list-icone-btn {
    float: right;
    text-align: center;
    width: 19%;
  }
}
@media screen and (max-width: 991px) {
  .navBarBtn {
    top: -3px;
  }
}
@media (max-width: 768px) {
  .advancedSharingSettings {
    .form-group.titleMailCustumisation {
      padding-left: 0em;
      padding-right: 0em;
    }
    .checkbox-inline,
    .radio-inline {
      padding-left: 0;
    }
    label {
      display: inline-block;
      max-width: 80%;
    }
    .datepickerCtn {
      > div {
        margin-right: 0px;
      }
      .form-control {
        height: 21px;
        TEXT-ALIGN: RIGHT;
        WIDTH: 70px;
      }
    }
    .fieldCtn {
      padding: 0;
      margin-bottom: 1.5em;
    }
    .custumHeaderMailForm {
      margin-top: 0em;
    }
  }
}





