#main#received-page {
  background-color: red;
  .favorites {
    background-color: blue;
    a {
      color: #33333;
      i.md-star-outline {
        color: grey;
      }
      i.md-star {
        color: yellow;
      }
    }
  }
}