/*********************
  USER PROFILE PAGE
*********************/

.user-profile {
  .card-body {
    padding: 20px;
    margin-top: 15px;
  }

  .info-block-container {
    display: flex;
    flex-wrap: wrap;

    .info-block {
      padding: 10px;
      flex: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
        font-weight: 500;
        margin-right: 10px;
      }
    }
  }

  .contacts-list-sort {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
  }

  md-tabs .md-tab.md-active {
    color: #464646;
  }

  .recipientsAutocomplete {
    height: 40px;
    margin-top: 5px;
    border-bottom: solid 1px #e4e4e4;
  }

  @media (min-width: 767px) {
    .card-body {
      overflow-y: auto;
      max-height: calc(100vh - 147px);
      padding: 40px;
    }

    .info-block-container .info-block {
      flex: 0 50%;

      &__title {
        text-align: end;
      }
    }
  }
}

.user-recipients-list {
  .recipients-search {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
  }

  .first-letter.favourite-recipient {
    background-color: #f4f4f4;
    color: #7c7c7c;
    line-height: 26px;
    border: solid 1px #c4c4c4;
    font-size: 14px;
  }

  #selection-actions {
    top: 70px;
  }

  #file-list-table.ng-table {
    th:nth-child(2), td:nth-child(2) {
      width: calc(100% - 53px);
    }

    .checkbox-ctn-thumb {
      bottom: 0;
    }
  }
}
