
/**********************
  UPLOAD REQUESTS PAGE
***********************/

.upload-requests {
  td .ls-upload-request-alt,.ls-upload-request-2 {
    color : #99a2a7;
  }

  .recipient-list {
    .recipientsAutocomplete {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .recipientsInfo {
        display: flex;
        align-items: center;
      }
    }
  }
}

.upload-request-status {
  text-transform: none;
  font-weight: 400;

  i {
    color: #43A047;

    &.closed {
      color: #696969;
    }

    &.archived {
      color: #bebebe;
    }
  }
}