

/**********************
  LOGIN PAGE LAYOUT
***********************/

#login-page {
  .quota.login-libreNfreeCtn {
    background-color: transparent;
    border: none;
    top: 0;
    height: auto;
    p {
      color: #E6E6E6;
    }
  }

  /* TODO Blur in loggin page **/
  #bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    pointer-events: none;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
    }
  }

  .login-content {
    overflow: visible;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -50px;
    text-align: center;
    z-index: 9;
    span {
      position: relative;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
      width: 90px;
      height: 90px;
      background-color: #FFFFFF;
      color: $specific-login-page-login-content-span-color;
      border-radius: 50%;
      display: block;
      margin: auto;
      font-size: 4em;
      text-align: center;
      line-height: 90px;
      z-index: 9;
    }
    p {
      color: #D0E6F0;
      margin-top: 10px;
    }
  }

  .otp-form-group{
    width: 100%;
    overflow: hidden;
    .otp-input {
      border: none;
      border-bottom: 2px solid;
      border-radius: 0;
      display: inline-block;
      text-align: center;
      outline: none;
      box-shadow: none;
      background: transparent;
      border-color: #c6d2e7;
      color: #535050;
      font-size: 20px;
    }
  }  

  /**********************
    COPYRIGHTS
  ***********************/

  #copyright-login {
    text-align: center;
    font-size: 0.85em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin-top: -50px;
    bottom: 0;
    padding: 0;
    p {
      color: #E6E6E6;
      margin-bottom: 0;
      a, a:hover {
        color: #fff;
      }
    }
    img {
      width: 100px;
    }
    span {
      font-size: 0.85em;
      color: #E6E6E6;
    }
  }
}


/**********************
   LANGUAGE DROPDOWN
***********************/

div {
  #language-dropdown{
    position: absolute;
    padding: 20px 15px 15px 15px;
  }
}

#language-dropdown {
  top: 0;
  right: 0;
  .btn-custum-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-left: 5px;
    i {
      padding-left: 5px;
    }
    img {
      width: 23px;
      padding-right: 5px;
    }
  }
  .flag-list-ctn img {
    width: 22px;
  }
  .disp-language {
    font-size: 0.9em;
  }
  .lang-short {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
    width: 20px;
  }
}

/**********************
  LOGIN FORM
***********************/

#l-login {
  .checkbox input:checked + .input-helper:before {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    border: 1px solid #EAEAEA;
  }
  .checkbox input:checked + .input-helper:after {
    -webkit-transform: scale(0.8) rotate(-50deg);
    -ms-transform: scale(0.8) rotate(-50deg);
    -o-transform: scale(0.8) rotate(-50deg);
    transform: scale(0.8) rotate(-50deg);
  }
  #inputEmail:-webkit-autofill,
  #inputPassword:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
  .checkbox label {
    padding-left: 24px;
  }
  input {
    font-size: 1.1em;
    letter-spacing: 0.015em;
    color: #535050;
  }
  ::-webkit-input-placeholder {
    font-family: roboto, sans-serif;
    color: #535050;
    font-weight: 500;
    text-transform: uppercase !important;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase !important;
  }
  :-ms-input-placeholder {
    text-transform: uppercase !important;
  }
  .form-group {
    margin: 0;
  }
  .parent-login-form-alignment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
  }
  .logo-title p {
    margin-top: 15px;
    color: #fff;
    font-size: 19px;
  }
  .input-group {
    width: 100%;
  }
  .lc-block {
    margin-top: 1.5em;
    width: 380px;
    padding: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    form {
      padding: 0 25px 15px;
    }
    .checkbox {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
  .conexion {
    font-size: 1.3em;
    margin-top: 2em;
    padding: 12px;
    border-radius: 5px;
    background-color: $primary-color !important;
  }

  .login-sso-btn {
    font-size: 1.3em;
    padding: 12px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 1.2em;
  }

  .login-sso-separate {
    padding: 10px;
    font-size: 14px;
  }

  .header-login-form {
    background-color: #F9F9F9;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h1 {
      margin-top: 0;
      padding: 18px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;
      margin-bottom: 1.5em;
      color: #5E5E5E;
    }
  }
}

/**********************
  LIBRE AND FREE
***********************/

#login-page .quota.login-libreNfreeCtn {
  background-color: transparent;
  border: none;
  top: 0;
  margin: 0;
  padding: 10px 15px 15px 15px;
  position: absolute;
  bottom: 5px;
  width: 267px;
  height: 94px;
  overflow: hidden;
  z-index: 7;
  .libre-and-free {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0 2px 0;
    img {
      width: 14px;
      height: auto;
      margin-right: 3px;
    }
    p {
      color: #E6E6E6;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
    }
  }
}

/**********************
  MOBILE RESPONSIVE
***********************/

@media (max-width: 768px) {
  #l-login {
    .parent-login-form-alignment {
      margin-top: 0;
    }
    .lc-block {
      margin-top: 0;
      min-width: 280px;
      width: 80%;
    }
    .logo-title p {
      font-size: 1em;
    }
    .logo-title img {
      width: 80%;
    }
  }
  #login-page #copyright-login {
    width: 100%;
    bottom: -18px;
    p {
      font-size: 0.8em;
    }
    img {
      display: none;
    }
  }
  .form-horizontal .radio,
  .form-horizontal .checkbox {
    min-height: 3px;
  }
  .checkbox,
  .mdp-forgotten {
    font-size: 0.85em;
  }
  .checkbox .input-helper:before {
    width: 1em;
    height: 1em;
    top: 1px;
  }
}

@media (min-width: 768px) and (max-height: 768px) {
  #login-page #copyright-login {
    width: 100%;
    bottom: 0;
  }
}

@media (max-height: 575px) {
  p {
    margin-bottom: 7px;
  }
  #l-login {
    .logo-title {
      display: none;
    }
  }
  #login-page #copyright-login {
    width: 100%;
    bottom: -28px;
    img {
      display: inline-block;
    }
  }
  #login-page {
    position: relative;
    overflow: scroll;
    min-height: 429px;
    min-width: 320px;
    height: calc(100% + 50px);
    width: 100%;
  }
}

.login-form-data {
  form{
    text-align: left;
    .info-login-form {
      margin-bottom: 2em;
    }
    button {
      margin-top: 1em !important;
    }
    .has-error div {
      color: $error;
    }
  }
}
