.token-secret {
    display: flex;
    align-items: center;

    input {
      color: #696969;
      background-color: #eeeeee;
      border: 0;
      padding: 6px;
      width: 240px;
      height: 30px;
      margin-top: 15px;
      border-radius: 5px;
      font-size: 13px;
      line-height: 15px;
    }

    button {
      border-radius: 2px;
      box-shadow: none !important;
      margin-top: 15px;
      font-size: 13px;
    }
  
    @media (max-width: 768px) {
      input {
        width: 160px;
      }

      button {
        width: 80px;
      }
    }
  }