@import "../../_fonts.scss";
@import "../../_colors.scss";

/**********************
  GUEST LISTS FILE LISTING
***********************/

.files.guest-list {

  /* Table listing */
  #file-list-table {
    .first-letter {
      text-transform: uppercase;
      width: 27px;
      min-width: 27px;
      min-height: 27px;
      height: 27px;
      margin: auto;
      font-size: 0.65em;
      line-height: 26px;
    }
    .item-l {
      display: flex;
    }
    .last-name {
      text-transform: uppercase;
    }
    .first-name {
      text-transform: capitalize;
    }
    .first-letter.guest-account-li {
      background-color: #f4f4f4;
      color: #7c7c7c;
      line-height: 26px;
      border: solid 1px #c4c4c4;
      font-size: 0.55em !important;
    }
  }

  /* upper toolbar */
  .search-bar #guest-account-chosen {
    margin-right: 40px;
  }
  #breadcrumb-wrap {
    #action-header .search-bar {
      max-width: initial;
    }
    .toolbar-actions-items {
      width: auto;
      .number-of-files {
        color: $primary-color;
        font-weight: 500;
      }
    }
    #search-field-ctn{
      margin-right: 1.7em;
    }
    .toolbar-actions-items {
      width: 50px;
      min-width: 50px;
      padding-left: 0;
    }
  }
  .filter-views {
    padding-right: 10px !important;
  }
  #file-list-table tr.double-row .secondary-list-item-info {
    font-size: 0.8em;
  }
}


@media (max-width: 767px) {
  .files {
    &.guest-list {
      #breadcrumb-wrap .toolbar-actions-items {
        width: 100% !important;
        min-width: 100% !important;
      }
      #file-list-table.ng-table td.thumb-type-item a {
        padding-top: 5px;
      }
      #file-list-table tr.double-row {
        .ctn-name-actions {
          .mobile-list-item-info {
            font-size: 0.8em;
            line-height: 1;
            margin: 0;
          }
        }
      }
    }
  }
}
