
/**********************
  UPLOAD REQUESTS PAGE
***********************/

.upload-requests {
  td .ls-upload-request-alt,.ls-upload-request-2 {
    color : #99a2a7;
  }

  .upload-request-status {
    i {
      color: #43A047;

      &.closed {
        color: #696969
      }
    }
  }
}