

/**********************
  DEEP BREADCRUMB
***********************/

.dropdown-menu .active-level:before {
  content: "\f05b";
  font-family: 'FontAwesome', 'sans-serif';
  position: absolute;
  right: inherit;
  left: 10px;
  top: 15px;
  font-size: 13px;
  line-height: 24px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.uib-dropdown-menu.dropdown-menu.dropdown-menu-left {
  transform-origin: top left;
}

.explorer-content-dropdown {
  max-width: 230px;
  &.double-drop .list-menu .filter-menu a {
    padding-left: 30px;
    border-bottom: solid 1px rgba(238, 238, 238, 0.74);
    padding: 12px;
    padding-left: 30px;
    text-align: left;
  }
  padding-bottom: 0;
  padding-top: 0;
}

.files #breadcrumb-wrap.deep-nav {
  #page-root-link {
    margin-left: -10px;
  }
  .breadcrumbs-ctn {
    flex: 0 0 auto;
    font-size: 1em !important;
    .left-arrow {
      display: flex;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 0.7em;
      color: #2f2f2f;
      position: relative;
      top: 0;
      height: 20px;
      line-height: 1;
      padding-right: 5px;
      border-right: solid 1px #e8e8e8;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        align-self: center;
        .ls-previous-caret {
          font-size: 1.25em;
          padding-right: 5px;
        }
      }
      &:not(.disabled) {
        a i {
          color: #4a4a4a;
        }
      }
    }
    .explorer-previous-lvl {
      display: none;
    }
    a:last-of-type {
      color: #4a4a4a !important;
      text-transform: initial;
      &:hover {
        color: $primary-color !important;
      }
    }
    #root-level a {
      text-transform: uppercase;
      max-width: 200px;
      color: $primary-color !important;
      cursor: default;
    }

    #root-level .drive-breadcrumb {
      cursor: pointer;
      color: #4a4a4a !important;
      &:hover {
        color: $primary-color !important;
      }
    }
  }
}

.files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break {
  .sub-category-chevron.pipe-separator {
    display: none;
  }
}

.files #breadcrumb-wrap.deep-nav {
  .breadcrumbs-ctn {
    display : flex;
    align-items: center;
  }
  #action-header {
    width: auto;
    min-width: 385px;
    flex: 1 1 auto;
    max-width: inherit;
  }
  .breadcrumbs-ctn.lv1-break {
    #root-level a {
      cursor: pointer;
      color: #4a4a4a !important;
      &:hover {
        color: $primary-color !important;
      }
    }
    .folder-level {
      &:last-child a:last-of-type {
        cursor: default;
        color: $primary-color !important;
      }
      a:last-of-type {
        color: #4a4a4a !important;
        text-transform: initial;
        &:hover {
          color: $primary-color !important;
        }
      }
    }
    .sub-category-chevron {
      margin-left: 4px;
      text-align: center;
    }
    .sub-category-chevron-version {
      padding-left: 4px;
      font-size: 1.3em;
      float: left;
      color: #05B1FF;
      cursor: default
    }
    .explorer-previous-lvl {
      float: left;
      top: 0;
      left: 0;
      position: relative;
      > a {
        width: 25px;
        text-align: center;
        a:hover, &.open {
          color: $primary-color !important;
        }
      }
    }
  }
}

.files #breadcrumb-wrap.deep-nav {
  .breadcrumbs-ctn.lv1-break.lv2-break.lv4-break {
    .sub-category-chevron.pipe-separator {
      display: none;
    }
    > div.folder-level {
      &:not(:last-child) {
        display: none;
      }
      &:last-of-type {
        display: block;
      }
      &:last-child a {
        color: $primary-color !important;
      }
    }
    .explorer-previous-lvl {
      display: block;
    }
  }
}

/**********************
 RESPONSIVE
***********************/

@media (max-width: 1365px) {
  .files #breadcrumb-wrap.deep-nav {
    .breadcrumbs-ctn.lv1-break {
      &.lv2-break {
        .explorer-previous-lvl {
          display: block;
        }
      }
    }
  }
  .files #breadcrumb-wrap.deep-nav {
    .breadcrumbs-ctn.lv1-break {
      .sub-category-chevron.pipe-separator {
        display: none;
      }
      > div.folder-level {
        &:not(:last-child) {
          display: none;
        }
        &:last-of-type {
          display: block;
        }
        &:last-child a {
          color: $primary-color !important;
        }
      }
    }
  }
}

@media (min-width: 1450px) {
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break a {
    max-width: 180px;
  }
}

@media (max-width: 1450px) {
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break a {
    max-width: 135px;
  }
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break.lv2-break #root-level a {
    max-width: 150px;
  }
}

@media (max-width: 1365px) {
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break div.folder-level:last-child a {
    max-width: 250px !important;
  }
}

@media (max-width: 1170px) {
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break div.folder-level:last-child a {
    max-width: 125px !important;
  }
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break.lv2-break #root-level a {
    max-width: 125px;
  }
}

@media (max-width: 1090px) {
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break div.folder-level:last-child a {
    max-width: 240px !important;
  }
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break.lv2-break #root-level a {
    max-width: 150px;
  }
}

@media (max-width: 900px) {
  #root-level {
    display: none;
  }
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break div.folder-level:last-child a {
    max-width: 185px !important;
  }
  .files #breadcrumb-wrap.deep-nav .breadcrumbs-ctn.lv1-break.lv2-break #root-level a {
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .files #breadcrumb-wrap.deep-nav {
    #action-header {
      width: 100%;
      flex: 1 1 auto;
    }
  }
}
