


/**********************
 ACTIVITY PAGE HEADER ADJUSTMENTS
***********************/

.files #breadcrumb-wrap.activity-breadcrumb-ctn{
  flex: 0 0 auto;
  #action-header.activity-logs-seach-panel {
    display : block;
    flex : 1 1 auto;
    min-width: 520px;
    max-width: 520px;
    > div {
      min-width: inherit;
      display: flex;
    }
    .btn {
      margin-top : 2px;
      flex : 0 0 100px;
    }
    .date-field-activity {
      flex: 0 1 auto;
    }
  }
  .date-picker table {
    span{
      font-weight: normal !important;
    }
  }
}

#loading-bar-spinner {
  top: 50%;
}

@media (min-width: 768px) {

  .fixed-activity-table-height {
    table-layout: fixed;
    overflow: hidden;
    thead {
      display: block;
      tr {
        display: flex;
      }
    }
    tbody {
      display: block;
      width: 100%;
      overflow-y: auto;
    }
    thead tr th:first-child, tbody tr td:first-child {
      width: 15%;
    }
    thead tr th:nth-child(2), tbody tr td:nth-child(2) {
      width: 15%;
    }
    thead tr th:nth-child(3), tbody tr td:nth-child(3) {
      width: 15%;
    }
    thead tr th:nth-child(4), tbody tr td:nth-child(4) {
      width: 20%;
    }
    thead tr th:nth-child(5), tbody tr td:nth-child(5) {
      width: 15%;
    }
    thead tr th:nth-child(6), tbody tr td:nth-child(6) {
      width: 10%;
    }
    thead tr th:nth-child(7), tbody tr td:nth-child(7) {
      width: 10%;
    }

    thead tr th:nth-child(7) {
      text-align: center;
    }

    tbody tr {
      display: flex;
      td {
        align-self: center;
      }
    }
  }
}

@media (min-width: 1368px) {
  .fixed-activity-table-height {
    thead tr th:nth-child(4), tbody tr td:nth-child(4) {
      width: 23%;
    }
    thead tr th:nth-child(7), tbody tr td:nth-child(7) {
      width: 7%;
    }
  }
}

@media (max-width: 770px) {
  .files #breadcrumb-wrap.activity-breadcrumb-ctn #action-header.activity-logs-seach-panel {
    display  :none;
  }
  .fixed-activity-table-height thead tr th:last-child {
    padding-right: 10px !important;
  }
}
