@import "../../_colors.scss";

/**********************
  CHANGE PASSWORD PAGE
***********************/

.change-password-form {
  margin-top: 48px;

  label {
    top: 5px;
    margin-bottom: 4px;
  }

  input {
    padding-right: 20px !important;
  }

  .zmdi-eye {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 15px;
  }

  .zmdi-eye-off {
    @extend .zmdi-eye;
  }

  .has-error > small {
    color: $error;
    margin-top: 2px;
  }
}