
/**********************
  UPLOAD REQUESTS PAGE
***********************/

.upload-requests {
  td .ls-upload-request-alt,.ls-upload-request-2 {
    color : #99a2a7;
  }

  .recipient-list {
    .recipientsAutocomplete {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .recipientsInfo {
        display: flex;
        align-items: center;
      }
    }
  }
}

.upload-request-status {
  text-transform: none;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 100%;

  i {
    color: #43A047;
    margin-right: 3px;

    &.closed {
      color: #696969;
    }

    &.archived {
      color: #bebebe;
    }
  }
}

.upload-request-action-header {
  min-width: auto !important;
}

.upload-request-label {
  display: block !important;
}

#content-ctn-sidebar {
  .datetimepicker-border-fix {
    margin-top: -10px;
    width: 130px;

    .datepicker-input-ctn {
      display: flex;
      align-items: center;

      .form-control {
        height: 30px;
      }

      .upload-request-hour-picker-ctn {
        display: flex;
        justify-content: flex-end;
        margin-left: 10px;

        .upload-request-hour-picker {
          width: 70px;
          float: right;
          height: auto;
          border-bottom: 0px;

          &:focus {
            .md-select-value {
              border-bottom: 0px !important;
            }
          }
        }
      }
    }
  }
}

.sidebar-upload-request-icon {
  font-size: 1.4em;
  margin-top: 4px;
  color: $specific-sidebar-guest-lists-detail-guest-img-preview-ctn-background-color;
}