@import "../../_fonts.scss";
@import "../../_colors.scss";

/**********************
  TOOLBAR FILE LISTINGS WITHIN A WKGRPS
***********************/

.popover-search-field.wide-toolbar-fix.popover.bottom {
  right: 145px;
}

/**********************
  WKGRPS  LISTINGS AND FILE LISTING VIEW
***********************/

.actions-list-ctn {
  .groups-add-member:before {
    content: "\e906";
    font-size: 0.9em;
  }
}

.dropdown-divided {
  .groups-add-member.align-style {
    margin-left: 4px;
    font-size: 1.2em;
    margin-right: 5px;
  }
}

.dropdown-menu {
  .groups-shared-folder {
    .path1:before, .path3:before, .path4:before {
      color: $disabledAlt;
    }
    .path2:before {
      color: #4c4c4c;
    }
    .path3:before {
      color: #757575;
    }
    .path1:before {
      color: #ddd;
    }
  }
}

/**********************
 MOBILE RESPONSIVE
***********************/

@media (max-width: 767px) {
  #fabMyFiles.fab-2-rows {
    md-fab-toolbar .md-fab-toolbar-wrapper {
      display: block;
      position: relative;
      overflow: hidden;
      height: 185px;
    }
    md-toolbar {
      height: 185px !important;
    }
    .md-toolbar-tools {
      max-height: 90px !important;
      height: 90px !important;
    }
    .title-fab {
      margin: 0;
      font-size: 0.75em;
      padding: 0.5em 0 0.65em 0.7em;
    }
  }
}
