@import "../../_fonts.scss";
@import "../../_colors.scss";


/**********************
 EXTERNAL GATE LAYOUT
***********************/

.ext-gate-title-ctn {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.1em;
  margin-top: 9px;
  vertical-align: bottom;
}
.ext-gate-title {
  vertical-align: text-bottom;
  letter-spacing: 0.035em;
}
.vertical-separator-w {
  display: inline-block;
  height: 13px;
  background-color: #a8daf0;
  width: 1px;
  margin-right: 4px;
}
#ext-gate-template {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: calc(100% - 50px);
  background-color: #f7f7f7;
  .ext-gate-bg {
    z-index: 1;
    position : absolute;
    height: 300px;
    width: 100%;
    background: url(#{$ressource-path}/images/banner_homepage_linshare.png) 0% 0% / cover lighten(desaturate(adjust-hue($primary-color, 5), 35), 25);
    overflow: hidden;
    top: 0;
  }
  #ext-gate-ctn {
    width: 100%;
    max-width: 755px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    margin: auto;
    position: relative;
    z-index: 4;
    top: 105px;
    height: initial;
    border-radius: 4px;
    min-height: calc(100% - 105px);
    padding: 0 0  117px 0;
    .anonymous-url {
      padding: 0;
      height: 100%;
      .anonymous-user-msg {
        margin: 0;
        padding: 30px 24px 0;
        height: 140px;
        background-color: #f8f8f8;
        padding: 30px 24px 0;
        font-size: 1.1em;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        h3 {
          font-size: 1.5em;
          color: #6f6f6f;
          margin-bottom: 15px;
        }
        b:not(.sender-full-name) {
          color: #6f7395;
          font-weight: 500;
        }
      }
    }
    #file-list-table {
      border: solid 1px #eee;
    }
    #breadcrumb-wrap {
      padding-right: 24px;
      background: #f8f8f8;
    }
    .ng-table-pager {
      position: absolute;
      bottom: 39px;
      width: 100%;
      background: #f3f3f3;
      .pagination > li > a, .pagination > li > span {
        background-color: #fff;
      }
      .pagination > .active > a {
        background-color: $primary-color;
      }
    }
    .ext-gate-footer {
      height: 45px;
      padding: 15px 24px;
      width: 100%;
      bottom: 0;
      z-index: 5;
      position: absolute;
      text-align: center;
      background: #f3f3f3;
      border-top: solid 1px #eaeaea;
      p {
        color: #a9a9a9;
        font-size: 0.8em;
        max-width: 80%;
        margin: auto;
        a {
          color: inherit !important;
          &:hover, &:active, &:focus{
            color: #6a838e !important;
          }
        }
      }
    }
    #file-list-table.ng-table th:nth-child(2),
    #file-list-table.ng-table td:nth-child(2) {
      width: 80%;
    }
    p b.sender-full-name {
      color: $primary-color;
      font-weight: bold;
      letter-spacing: 0.015em;
    }
    .card-header {
      border-bottom: none;
    }
    #breadcrumb-wrap #action-header .search-bar {
      max-width: inherit;
      flex: 1 1 50% !important;
      width: 38%;
      #search-field-ctn {
        width: 100%;
      }
    }
    .file-name-col a {
      color: #606060;
    }
    .thumb-type-item [class^="ls-"],
    .thumb-type-item [class*=" ls-"] {
      font-size: 1.8em;
    }
    .card {
      position: inherit;
    }
    #drop-area {
      position: inherit;
      height: 100%;
    }
    .files .card-body {
      position: inherit;
    }
    .table-responsive.hide-ext-pagination {
      .ng-table-pager {
        display: none;
      }
    }
  }
}


/**********************
 RESPONSIVE ADJUSTMENTS
***********************/

@media (max-width: 768px) {
  #ext-gate-template #ext-gate-ctn {
    top: 0;
    min-height: 100%;
    .card-header,
    .ext-gate-bg{
      display: none !important;
    }
    .table-responsive {
      margin-top: 0;
      padding-bottom: 0;
    }
    .thumb-type-item i[class^="ls-"],
    .thumb-type-item i[class*=" ls-"]{
      height: 100%;
      line-height: 2;
    }
  }
  .ext-gate-title-ctn {
    width: 100%;
    text-align: center;
    .vertical-separator-w {
      display : none
    }
  }
}

@media (max-width: 500px) {
  #ext-gate-template #ext-gate-ctn .anonymous-url .anonymous-user-msg h3 {
    font-size: 1.25em;
  }
  .anonymous-url .anonymous-user-msg p {
    font-size: 0.95em;
  }
}
