@import "../../fonts.scss";
@import "../../colors.scss";

/**********************
CURRENT SHARE DETAIL SIDEBAR
***********************/

.detail-share-exp-date {
  padding: 0;
  margin-bottom: 1em;
  -webkit-transition: 0.1s ease-in-out all;
  -moz-transition: 0.1s ease-in-out all;
  -o-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
  height: 50px;
  &.ng-hide {
    height: 0;
  }
  .datepicker-border-fix {
    input {
      width: 90px !important;
      text-align: right;
    }
  }
  .datepicker-border-fix {
    float: right;
  }
}

#stats-share {
  .actions > li > a > i, .actions > a > i {
    color: #808080;
    font-size: 20px;
  }
  .actions > li > a:hover > i,
  .actions > a:hover > i {
    color: #000;
    font-size: 20px;
  }
  #site-visits {
    .dash-widget-header .bg-design {
      pointer-events: none;
      height: 178px;
      opacity: 0.25;
    }
    .design-content {
      position: absolute;
      top: 32px;
      left: 50%;
      transform: translateX(-50%);
      p {
        color: #D0E6F0;
        margin-top: 10px;
      }
      span {
        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
        width: 90px;
        height: 90px;
        background-color: #FFFFFF;
        color: #097FB4;
        border-radius: 50%;
        display: block;
        margin: auto;
        font-size: 4em;
        text-align: center;
        line-height: 90px;
        z-index: 9;
      }
    }
    .dash-widget-visits {
      transform: scale(1.1) translateY(22px);
    }
    .dash-widget-title {
      text-align: center;
      color: #000;
      bottom: 0;
      background: rgb(246, 246, 246);
      p {
        max-width: 247px;
        margin: auto auto 0;
      }
    }
    .dash-widget-header {
      padding-bottom: 38px;
      background-color: rgba(0, 0, 0, 0.13);
    }
    .stats-content {
      border: none;
      background-color: #fff;
      color: #858585;
      h2 {
        font-size: 1.6em !important;
        color: #535050 !important;
      }
      .data {
        font-size: 1.05em !important;
        color: #535050 !important;
        font-weight: 400;
        margin: 0;
      }
      .action-share-details-row {
        margin-bottom: 1em;
        small {
          display: block;
        }
        p {
          float: left;
        }
        a {
          display: inline-block;
          float: right;
          i {
            font-size: 1.2em;
          }
        }
      }
    }
  }
  #site-visits.bgm-lin-blue {
    background-color: $primaryClr;
  }
  .dash-widget-item {
    min-height: 378px;
    margin-bottom: 0;
  }
}

.abort-sharing-cta {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1em;
  i {
    font-size: 1.5em;
    margin-right: 0.25em;
    vertical-align: middle;
  }
  span {
    vertical-align: inherit;
  }
}


