@import "../../fonts.scss";
@import "../../colors.scss";

/**********************
    HOME PAGE LAYOUT BASE
***********************/
#home {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  .dashboard-welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
    h4 {
      font-family: 'roboto', 'sans-serif';
      color: $logoBlue;
      font-weight: 100;
    }
  }
}

/**********************
    HOME PAGE UPPER
***********************/

.upper-container {
  flex: 0 0 auto;
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.34);
  -moz-box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.34);
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.34);
  background-image: url(../images/banner_homepage_linshare.png);
  background-size: cover;
  .tagline-ctn {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .box-ctn {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .box-3 {
      border-radius: 10px;
      width: 20%;
      height: 70%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      overflow: hidden;
      text-align: center;
      .card-img {
        flex: 0 0 40%;
        background: rgba(248, 248, 248, 0.97) no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 6em;
          color: #4f4f4f;
        }
      }
      .card-img.upload-share {
        background-position: 50% 50%;
      }
      .card-img.upload-sharespace {
        background-position: 75% 50%;
      }
      .card-img.upload-request {
        background-position: 50% 75%;
      }
      .box-content {
        position: relative;
        flex: 0 0 60%;
        background-color: #fff;
        .info-box {
          padding: 1em 1.3em 0;
          height: 100%;
          cursor: pointer;
        }
        h2 {
          text-transform: uppercase;
          color: #05b1ff;
          font-size: 1.2em;
          text-align: center;
          margin-bottom: 1.25em;
          a {
            color: #2196f3;
            -o-transition: 250ms cubic-bezier(0.35, 0, 0.25, 1) all;
            -moz-transition: 250ms cubic-bezier(0.35, 0, 0.25, 1) all;
            -webkit-transition: 250ms cubic-bezier(0.35, 0, 0.25, 1) all;
            transition: 250ms cubic-bezier(0.35, 0, 0.25, 1) all;
            cursor: pointer;
          }
        }
        .box-txt {
          font-size: 1.05em;
          color: #537d92;
          margin-bottom: 0;
        }
        .set-homepage-ctn {
          position: absolute;
          bottom: -40%;
          height: auto;
          padding: 1em;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 250ms cubic-bezier(0.35, 0, 0.25, 1) all;
          cursor: pointer;
          background-color: #f5f5f5;
          text-align: center;
          a {
            color: #444;
            i {
              margin-left: 0.75em;
              vertical-align: middle;
              padding-top: 2px;
            }
          }
        }
        .set-homepage-ctn:hover {
          a {
            color: #0075f7;
          }
        }
      }
      .box-content:hover {
        .set-homepage-ctn {
          bottom: 0;
        }
      }
    }
    .box-3:hover {
      cursor: pointer;
      .info-box {
        a {
          pointer-events: none;
          color: #1069af !important;
        }
      }
    }
  }
}


/***********
HOME PAGE BOTTOM NOTIFICATIONS
***********************/

.bottom-container {
  > h2 {
    margin-left: 1.4em;
  }
  .content-section.custom-home-page-txt{
    h2 {
      margin-left: 0;
    }
    p{
      margin-bottom: 15px;
      line-height: 160%;
    }
    p + ul {
      margin-top: -13px;
      margin-bottom: 20px;
      padding-left: 2em;
    }
  }
  h2 {
    color: #656565;
    letter-spacing: 0.01em;
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 2em;
    padding-bottom: 0.5em;
    border-bottom: solid 4px #f1f1f1;
    text-transform: uppercase;
  }
  .content-section {
    margin-left: 2em;
    margin-right: 1em;
  }
  .custom-home-page-txt {
    margin-bottom: 4em;
  }
  p.empty-notifications {
    flex: 1 1 100%
  }
  .notification-ctn {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0.5em 0 0 0;
    .flex-ctn:first-child {
      border-top: none;
    }
  }
  .flex-ctn {
    display: flex;
    flex: 0 0 48%;
    margin-left: 0;
    margin-bottom: 1em;
    .item-r {
      align-items: flex-start;
      font-size: 0.85em;
    }
    .item-mid .info-item-member {
      text-transform: initial;
    }
  }
}

/**********************
    RESPONSIVE
***********************/

@media (max-width: 1317px) {
  .upper-container .box-ctn .box-3 {
    width: 24%;
    .box-content {
      .info-box {
        padding: 1em 1.3em 0;
      }
      h2 {
        font-size: 1.1em;
      }
    }
  }
}

@media (max-width: 1112px) {
  .upper-container .box-ctn .box-3 {
    width: 22%;
    .box-content {
      flex: 0 0 65%;
      .info-box {
        padding: 1em 0.8em 0 !important;
      }
      .box-txt {
        font-size: 0.95em;
      }
      .card-img {
        flex: 0 0 35%;
      }
      h2 {
        font-size: 1.05em;
      }
    }
  }
}

/**********************
    MOBILE RESPONSIVE
***********************/

/*TODO replace  #fg-img with .upper-container > img and remove ref*/
@media (max-width: 768px) {
  .upper-container {
    height: 30%;
  }
  .bottom-container .flex-ctn {
    flex: 0 0 100%;
  }
  #fg-img {
    position: relative;
    display: inline !important;
    align-self: center;
    justify-content: center;
    z-index: 3;
    width: 48%;
    top: 50%;
    transform: translateY(-58%);
  }
}
