@import "../../fonts.scss";
@import "../../colors.scss";

/**********************
  MY FILES FILE LIST
***********************/

.shared-activated {
  color: #077AAF !important;
  font-size: 0.85em;
  font-style: italic;
  margin-left: 8px;
}

