<div class="container upload-files" id="upload-box"
     flow-object="uploadQueueVm.$flow"
     flow-files-submitted="uploadQueueVm.flowUploadService.uploadFiles($files, uploadQueueVm.$flow, mySpacePage)"
     flow-drop=""
     flow-drag-enter="dropClass='drag-over'"
     flow-file-success="uploadQueueVm.addUploadedFile($file, $message)"
     flow-drag-leave="dropClass='fade-out-elm'"
     x-ng-class="{'drag-over' : dropClass == 'drag-over', 'fade-out-elm': dropClass == 'fade-out-elm'}">
  <div id="drop-ctn" class="drop border-anim reset-content-width">
    <div>
      <div class="drag-and-drop-alert ">
        <p>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</p>
      </div>
    </div>
  </div>
  <section class="visible-xs col-xs-12 header-mobile-upload">
    <div class="m-t-5">
     <span x-ng-class="{'active' : uploadQueueVm.isFromMySpace , 'left-elem-toggle-inactive' :
          !uploadQueueVm.isFromMySpace}" class="toggle-pill">
          <a x-ng-href="{{$state.href('documents.upload', {from: mySpacePage})}}">
            {{"MENU_TITLE.FILES" | translate}}
          </a>
     </span>
     <span x-ng-class="{'active' : !uploadQueueVm.isFromMySpace , 'right-elem-toggle-inactive' :
           uploadQueueVm.isFromMySpace}" class="toggle-pill">
          <a x-ng-href="{{$state.href('documents.upload', {from: workgroupPage})}}">
            {{"MENU_TITLE.SHARED_SPACE" | translate}}
          </a>
     </span>
    </div>
  </section>
  <div id="breadcrumb-wrap" class="clear-floats">
    <section class="row multi-select visible-xs upload-multi-ctn">
      <div class="col-xs-2 ctn-mobile-select-count">
        <span class="number-of-files ng-binding">{{lengthOfSelectedDocuments()}}</span>
        <span class="file-multi-select-label ng-binding">{{'SELECTION_TOOLBAR.FILES' | translate}}</span>
      </div>
      <div class="col-xs-10">
        <i class="zmdi zmdi-share col-xs-3"
           title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
           x-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           x-ng-click="onShare(); uploadQueueVm.loadSidebarContent()" role="button" tabindex="0">
        </i>
        <i x-ng-if="uploadQueueVm.selectAll" x-ng-click="uploadQueueVm.selectUploadingDocuments()"
           class="fa fa-square-o col-xs-3"
           x-ng-class="{'de-activate-sharing': uploadQueueVm.$flow.files.length === 0 }">
        </i>
        <i x-ng-if="!uploadQueueVm.selectAll" x-ng-click="uploadQueueVm.selectUploadingDocuments()"
           class="fa fa-check-square-o col-xs-3"
           x-ng-class="{'de-activate-sharing': uploadQueueVm.$flow.files.length === 0 } ">
        </i>
          <span class="dropdown col-xs-2 dropdown-standard pull-right" uib-dropdown="">
        <i class="zmdi zmdi-more-vert" ng-class="{'active-link': isActiveMoreDropdown }"
           ng-click="isActiveMoreDropdown = !isActiveMoreDropdown" uib-dropdown-toggle="">
        </i>
        <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
          <li x-ng-show="isflowUploadingError">
            <a href="" event-propagation-stop x-ng-click="retryAllFiles()">
              <i class="zmdi zmdi-undo"></i>
              {{'SELECTION_TOOLBAR.RETRY_ALL' | translate}}
            </a>
          </li>
          <li>
            <a href="" event-propagation-stop  x-ng-click="cancelAllFiles()">
              <i class="zmdi zmdi-close"></i>
              {{'SELECTION_TOOLBAR.CANCEL' | translate}}
            </a>
          </li>
          <li>
            <a href="" event-propagation-stop  x-ng-click="clearAllFiles()">
              <i class="zmdi zmdi-check-all"></i>
              {{'SELECTION_TOOLBAR.CLEAR_ALL' | translate}}
            </a>
          </li>
        </ul>
        </span>
        <i class="zmdi zmdi-pause col-xs-2 pull-right"
           x-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           x-ng-show="!$flow.isPaused" x-ng-click="pauseAllFiles()">
        </i>
        <i class="zmdi zmdi-play col-xs-2 pull-right"
           x-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           x-ng-click="resumeAllFiles()"  x-ng-show="$flow.isPaused">
        </i>
        <i class="zmdi zmdi-share col-xs-2 pull-right"
           x-ng-if="isFromMySpace"
           title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
           x-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           x-ng-click="onShare(); mactrl.sidebarToggle.right = true;" role="button" tabindex="0">
        </i>
      </div>
    </section>
    <div class="menu-popover-ctn hidden-xs" x-ng-class="!uploadQueueVm.isFromMySpace ? 'disabled-work-in-progress' : 'clickable'"
         flow-btn href="javascript:void(0)">
      <a class="add-menu-group" tabindex="0">
        <i class="zmdi zmdi-plus"></i>
      </a>
    </div>
    <div class="breadcrumbs-ctn hidden-xs">
      <div class="breadcrumb">
        <i class="zmdi zmdi-file"></i>{{"UPLOADED_FILES.BREADCRUMB_TITLE" | translate}}
      </div>
      <div class="pull-right actions-upload-queue col-xs-2">
        <div x-ng-class="{'disabled-work-in-progress': uploadQueueVm.$flow.files.length <= 0}" class="upload-actions-toolbar actions">
          <a href="" class="col-xs-6" x-ng-click="uploadQueueVm.pauseAllFiles()">
            <i class="zmdi zmdi-pause" title="{{'SELECTION_TOOLBAR.PAUSE_ALL' | translate}}"></i>
          </a>
          <a href="" class="col-xs-6" x-ng-click="uploadQueueVm.resumeAllFiles()">
            <i class="zmdi zmdi-play " title="{{'SELECTION_TOOLBAR.PLAY_ALL' | translate}}"></i>
          </a>
          <a href="" class="col-xs-6" x-ng-show="uploadQueueVm.isflowUploadingError"
             x-ng-click="uploadQueueVm.retryAllFiles()">
            <i class="zmdi zmdi-undo" title="{{'SELECTION_TOOLBAR.RETRY_ALL' | translate}}"></i>
          </a>
          <a href="" class="col-xs-6" x-ng-click="uploadQueueVm.cancelAllFiles()">
            <i class="zmdi zmdi-close" title="{{'SELECTION_TOOLBAR.CANCEL_ALL' | translate}}"></i>
          </a>
          <a href="" class="col-xs-6" x-ng-click="uploadQueueVm.clearAllFiles()">
            <i class="zmdi zmdi-check-all" title="{{'SELECTION_TOOLBAR.CLEAR_ALL' | translate}}"></i>
          </a>
        </div>
      </div>
      <div class="pull-right m-r-20 m-t-5">
          <span x-ng-class="{'active' : uploadQueueVm.isFromMySpace , 'left-elem-toggle-inactive' : !uploadQueueVm.isFromMySpace}" class="toggle-pill"><a
            x-ng-href="{{$state.href('documents.upload', {from: mySpacePage})}}">{{"MENU_TITLE.FILES" | translate}}</a></span>
        <span x-ng-class="{'active' : !uploadQueueVm.isFromMySpace , 'right-elem-toggle-inactive' : uploadQueueVm.isFromMySpace}" class="toggle-pill"><a
          x-ng-href="{{$state.href('documents.upload', {from: workgroupPage})}}">{{"MENU_TITLE.SHARED_SPACE" |
            translate}}</a></span>
      </div>
    </div>
  </div>


  <div>
    <div id="drop-area" class="collapsible-content">
      <div class="info-share hidden-xs">
        <p><i class="fa fa-info"></i> {{"UPLOADED_FILES.SELECT_INFO" | translate}}</p>
      </div>

        <div id="selection-actions" class="default-multi-toolbar-state hidden-xs"
             x-ng-class="{'show-multi-menu': uploadQueueVm.$flow.files.length > 0}">
          <div class="toggle-checkbox-toolbar" x-ng-click="uploadQueueVm.selectUploadingDocuments()">
            <a x-ng-if="uploadQueueVm.selectAll" class="select-all-items plain-text-button ng-scope">
              <i class="fa fa-square-o checkbox-table"></i>
            </a>
            <a x-ng-if="!uploadQueueVm.selectAll" class="select-all-items plain-text-button ng-scope">
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div class="display-num-selected-items" title="{{'WIP' | translate}}"
               x-ng-class="{'active-button-show-selection': activeBtnShowSelection}"
               x-ng-click="activeBtnShowSelection = !activeBtnShowSelection">
            <p><span>{{lengthOfSelectedDocuments()}}</span> {{"SELECTION_TOOLBAR.SELECTED_FILES" |
              translate}}</p>
            <div class="pull-left view-icons-ctn groups-view" x-ng-click="uploadQueueVm.toggleFilterBySelectedFiles()">
              <i class="fa fa-eye-slash" aria-hidden="true" x-ng-show="activeBtnShowSelection"></i>
              <i class="fa fa-eye" aria-hidden="true" x-ng-show="!activeBtnShowSelection"></i>
            </div>
            <div class="pull-left view-icons-ctn reset-icon" x-ng-click="uploadQueueVm.resetSelectedDocuments()">
              <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
          <span x-ng-if="uploadQueueVm.isFromMySpace">
          <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
             x-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
             x-ng-click="onShare(); uploadQueueVm.loadSidebarContent()">
            <i class="zmdi zmdi-share"></i><span>{{'SELECTION_TOOLBAR.SHARE' | translate}}</span></a>
          </span>
            <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.PLAY' | translate}}"
               x-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               x-ng-click="uploadQueueVm.resumeSelectedFiles()">
              <i class="zmdi zmdi-play"></i><span>{{'SELECTION_TOOLBAR.PLAY' | translate}}</span></a>
            </span>
            <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.PAUSE' | translate}}"
               x-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               x-ng-click="uploadQueueVm.pauseSelectedFiles()">
              <i class="zmdi zmdi-pause"></i><span>{{'SELECTION_TOOLBAR.PAUSE' | translate}}</span></a>
            </span>
            <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.CANCEL' | translate}}"
               x-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               x-ng-click="uploadQueueVm.cancelSelectedFiles()">
              <i class="zmdi zmdi-close"></i><span>{{'SELECTION_TOOLBAR.CANCEL' | translate}}</span></a>
            </span>
            <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}"
               x-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               x-ng-click="uploadQueueVm.clearSelectedFiles()">
              <i class="zmdi zmdi-check-all"></i><span>{{'SELECTION_TOOLBAR.CLEAR' | translate}}</span></a>
            </span>
            <span x-ng-if="uploadQueueVm.isflowUploadingError">
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.RETRY' | translate}}"
               x-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               x-ng-click="uploadQueueVm.retrySelectedFiles()">
              <i class="zmdi zmdi-undo"></i><span>{{'SELECTION_TOOLBAR.RETRY' | translate}}</span></a>
            </span>
          </div>
        </div>
      <div class="drag-and-drop-ctn reset-content-width hidden-xs">
        <div class="drag-and-drop-content">
          <div class="drag-icon-ctn ">
            <div class="bordered-circle">&nbsp;</div>
            <img src="images/upload-dnd-grey.png">
          </div>
          <h1>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</h1>

          <p>{{"DRAG_DROP_BACKGROUND.COMMENT" | translate}}</p>
        </div>
      </div>
        <ls-upload-queue from-where="{{uploadQueueVm.fromWhere}}" id="upload-li-ctn"></ls-upload-queue>
        <div class="partage-list">
          <button class="btn btn-default waves-effect" x-ng-repeat="n in sharingsBtn track by $index"
                  x-ng-click="uploadQueueVm.showSharingItems($index)">
            <span>{{'TRANSFERS_DROPDOWN.SHARE' | translate}} {{$index+1}}</span> <i class="zmdi zmdi-edit"></i>
          </button>
        </div>

        <div id="fabMyFiles">
          <md-fab-toolbar x-ng-if="uploadQueueVm.isFromMySpace" md-open="fab.isOpen" count="uploadQueueVm.fab.count" flow-btn
                          md-direction="{{uploadQueueVm.fab.selectedDirection}}" class="visible-xs">
            <md-fab-trigger class="align-with-text">
              <md-button aria-label="menu" class="md-fab md-primary" id="primary-fab-action">
                <md-icon><i class="zmdi zmdi-plus"></i></md-icon>
              </md-button>
            </md-fab-trigger>
            <md-toolbar></md-toolbar>
          </md-fab-toolbar>
        </div>
      </div>
    </div>
  </div>
