<div class="container upload-files " id="upload-box"
     flow-object="uploadQueueVm.$flow"
     flow-files-submitted="uploadQueueVm.flowUploadService.uploadFiles($files, mySpacePage)"
     flow-drop=""
     flow-drop-enabled="uploadQueueVm.isFromMySpace"
     flow-drag-enter="dropClass='drag-over'"
     flow-drag-leave="dropClass='fade-out-elm'"
     data-ng-class="{'drag-over' : dropClass == 'drag-over', 'fade-out-elm': dropClass == 'fade-out-elm'}">
  <div id="drop-ctn" check-table-height data-ng-if="uploadQueueVm.isFromMySpace"
       class="drop border-anim reset-content-width collapsible-content drag-n-drop-height">
    <div class="drag-and-drop-ctn">
      <div class="drag-and-drop-content">
        <div class="drag-icon-ctn">
          <div class="bordered-circle">&nbsp;</div>
          <span class="grey-clr bg-info-icon">
            <span class="groups-upload-file"></span>
          </span>
        </div>
        <div class="dnd-txt-content">
          <h1 translate>DRAG_DROP_BACKGROUND_ON_DRAG.TITLE</h1>
          <p translate>DRAG_DROP_BACKGROUND_ON_DRAG.COMMENT</p>
        </div>
      </div>
    </div>
  </div>
  <section class="visible-xs col-xs-12 header-mobile-upload">
    <div class="m-t-5" data-ng-if="(uploadQueueVm.location.workgroup && uploadQueueVm.location.mySpace)">
      <span data-ng-class="{'active active-left' : uploadQueueVm.isFromMySpace,
           'left-elem-toggle-inactive' : !uploadQueueVm.isFromMySpace}" class="toggle-pill">
       <a data-ui-sref="documents.upload({from: mySpacePage, openSidebar: false})" translate>
         MENU_TITLE.FILES
       </a>
      </span>
      <span data-ng-class="{'active active-right' : !uploadQueueVm.isFromMySpace,
            'right-elem-toggle-inactive' : uploadQueueVm.isFromMySpace}" class="toggle-pill">
        <a data-ui-sref="documents.upload({from: workgroupPage, openSidebar: false})" translate>
          MENU_TITLE.SHARED_SPACE
        </a>
      </span>
    </div>
  </section>
  <div id="breadcrumb-wrap" class="clear-floats">
    <section class="row multi-select visible-xs upload-multi-ctn">
      <div class="col-xs-2 ctn-mobile-select-count">
        <span class="number-of-files ng-binding">{{lengthOfSelectedDocuments()}}</span>
        <span class="file-multi-select-label ng-binding" translate>SELECTION_TOOLBAR.FILES</span>
      </div>
      <div class="col-xs-10">
        <i class="zmdi zmdi-share col-xs-3"
           data-ng-hide="!uploadQueueVm.isFromMySpace"
           title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
           data-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           data-ng-click="uploadQueueVm.checkSharableFiles(false)" role="button" tabindex="0">
        </i>
        <i data-ng-if="uploadQueueVm.selectAll" data-ng-click="uploadQueueVm.selectUploadingDocuments()"
           class="ls-check-o col-xs-3"
           data-ng-class="{'de-activate-sharing': uploadQueueVm.$flow.files.length === 0 }">
        </i>
        <i data-ng-if="!uploadQueueVm.selectAll" data-ng-click="uploadQueueVm.selectUploadingDocuments()"
           class="ls-check-checked col-xs-3"
           data-ng-class="{'de-activate-sharing': uploadQueueVm.$flow.files.length === 0 } ">
        </i>
        <span class="dropdown col-xs-2 dropdown-standard pull-right" uib-dropdown="">
        <i class="zmdi zmdi-more-vert" ng-class="{'active-link': isActiveMoreDropdown }"
           ng-click="isActiveMoreDropdown = !isActiveMoreDropdown" uib-dropdown-toggle="">
        </i>
        <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
          <li data-ng-show="isflowUploadingError">
            <a href="" event-propagation-stop data-ng-click="uploadQueueVm.retryAllFiles()">
              <i class="zmdi zmdi-undo"></i>
              <span translate>SELECTION_TOOLBAR.RETRY_ALL</span>
            </a>
          </li>
          <li>
            <a href="" event-propagation-stop data-ng-click="uploadQueueVm.cancelAllFiles()">
              <i class="zmdi zmdi-close"></i>
              <span translate>SELECTION_TOOLBAR.DELETE</span>
            </a>
          </li>
          <li>
            <a href="" event-propagation-stop data-ng-click="uploadQueueVm.clearAllFiles()">
              <i class="zmdi zmdi-check-all"></i>
              <span translate>SELECTION_TOOLBAR.CLEAR_ALL</span>
            </a>
          </li>
        </ul>
        </span>
        <i class="zmdi zmdi-pause col-xs-2 pull-right"
           data-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           data-ng-show="!$flow.isPaused" data-ng-click="pauseAllFiles()">
        </i>
        <i class="zmdi zmdi-play col-xs-2 pull-right"
           data-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           data-ng-click="resumeAllFiles()" data-ng-show="$flow.isPaused">
        </i>
        <i class="zmdi zmdi-share col-xs-2 pull-right"
           data-ng-if="isFromMySpace"
           title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
           data-ng-class="{'de-activate-sharing': lengthOfSelectedDocuments() === 0}"
           data-ng-click="onShare(); mactrl.sidebarToggle.right = true;" role="button" tabindex="0">
        </i>
      </div>
    </section>
    <div class="menu-popover-ctn hidden-xs waves-effect"
         data-ng-class="(!uploadQueueVm.isFromMySpace || !uploadQueueVm.location.mySpace) ?
          'disabled-work-in-progress' : 'clickable'"
         flow-btn href="javascript:void(0)">
      <a class="add-menu-group" tabindex="0">
        <i class="zmdi zmdi-plus"></i>
      </a>
    </div>
    <div class="breadcrumbs-ctn hidden-xs">
      <div class="breadcrumb-current-view m-t-5">
        <a class="breadcrumb">
          <i class="zmdi zmdi-upload"></i><span translate>ADD_FILES_DROPDOWN.UPLOAD_SHARE</span>
        </a>
        <span class="sub-category-chevron pipe-separator">|</span>
        <a data-ng-if="uploadQueueVm.isFromMySpace" class="click-disabled" translate>MENU_TITLE.FILES</a>
        <a data-ng-if="!uploadQueueVm.isFromMySpace" class="click-disabled" translate>MENU_TITLE.SHARED_SPACE</a>
      </div>
      <div class="pull-right actions-upload-queue col-xs-2">
        <div data-ng-class="{'disabled-work-in-progress': uploadQueueVm.$flow.files.length <= 0}"
             class="upload-actions-toolbar actions">
          <a href="" class="col-xs-6" data-ng-click="uploadQueueVm.pauseAllFiles()"
             tooltip-placement="bottom" tooltip-popup-delay='350'
             uib-tooltip="{{'SELECTION_TOOLBAR.PAUSE_ALL' | translate}}"
             tooltip-append-to-body="true">
            <i class="zmdi zmdi-pause"></i>
          </a>
          <a href="" class="col-xs-6" data-ng-click="uploadQueueVm.resumeAllFiles()"
             tooltip-placement="bottom" tooltip-popup-delay='350'
             uib-tooltip="{{'SELECTION_TOOLBAR.PLAY_ALL"
             tooltip-append-to-body="true">
            <i class="zmdi zmdi-play "></i>
          </a>
          <a href="" class="col-xs-6" data-ng-show="uploadQueueVm.isflowUploadingError"
             data-ng-click="uploadQueueVm.retryAllFiles()"
             tooltip-placement="bottom" tooltip-popup-delay='350'
             uib-tooltip="{{'SELECTION_TOOLBAR.RETRY_ALL' | translate}}"
             tooltip-append-to-body="true">
            <i class="zmdi zmdi-undo"></i>
          </a>
          <a href="" class="col-xs-6" data-ng-click="uploadQueueVm.cancelAllFiles()"
             tooltip-placement="bottom" tooltip-popup-delay='350'
             uib-tooltip="{{'SELECTION_TOOLBAR.DELETE_ALL' | translate}}"
             tooltip-append-to-body="true">
            <i class="zmdi zmdi-close"></i>
          </a>
          <a href="" class="col-xs-6" data-ng-click="uploadQueueVm.clearAllFiles()"
             tooltip-placement="bottom" tooltip-popup-delay='350'
             uib-tooltip="{{'SELECTION_TOOLBAR.CLEAR_INFO' | translate}}"
             tooltip-append-to-body="true">
            <i class="zmdi zmdi-check-all" title="{{'SELECTION_TOOLBAR.CLEAR_ALL' | translate}}"></i>
          </a>
        </div>
      </div>
      <div class="pull-right" data-ng-if="(uploadQueueVm.location.workgroup && uploadQueueVm.location.mySpace)">
        <span data-ng-class="{'active active-left': uploadQueueVm.isFromMySpace,
            'left-elem-toggle-inactive': !uploadQueueVm.isFromMySpace}" class="toggle-pill">
            <a data-ui-sref="documents.upload({from: mySpacePage, openSidebar: false})" translate>
              MENU_TITLE.FILES
            </a>
          </span>
        <span data-ng-class="{'active active-right': !uploadQueueVm.isFromMySpace,
             'right-elem-toggle-inactive': uploadQueueVm.isFromMySpace}" class="toggle-pill">
           <a data-ui-sref="documents.upload({from: workgroupPage, openSidebar: false})" translate>
             MENU_TITLE.SHARED_SPACE
           </a>
        </span>
      </div>
    </div>
  </div>

  <div>
    <div id="drop-area" class="collapsible-content">
      <div class="info-share hidden-xs">
        <p><i class="fa fa-info"></i> <span translate>UPLOADED_FILES.SELECT_INFO</span></p>
      </div>

      <div id="selection-actions" class="default-multi-toolbar-state hidden-xs"
           data-ng-class="{'show-multi-menu': uploadQueueVm.$flow.files.length > 0}">
        <div class="toggle-checkbox-toolbar" data-ng-click="uploadQueueVm.selectUploadingDocuments()">
          <a data-ng-if="uploadQueueVm.selectAll" class="select-all-items plain-text-button ng-scope">
            <i class="ls-check-o checkbox-table"></i>
          </a>
          <a data-ng-if="!uploadQueueVm.selectAll" class="select-all-items plain-text-button ng-scope">
            <i class="ls-check-checked"></i>
          </a>
        </div>
        <div class="exit-selection actions" data-ng-click="uploadQueueVm.resetSelectedDocuments()">
          <a><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="display-num-selected-items" title="{{'WIP' | translate}}"
             data-ng-class="{'active-button-show-selection': activeBtnShowSelection}"
             data-ng-click="activeBtnShowSelection = !activeBtnShowSelection">
          <p>
            <span>{{lengthOfSelectedDocuments()}} </span>
            <span translate>SELECTION_TOOLBAR.SELECTED_FILES</span>
          </p>
          <div class="pull-left view-icons-ctn groups-view"
               data-ng-click="uploadQueueVm.toggleFilterBySelectedFiles()">
            <i class="fa fa-eye-slash" aria-hidden="true" data-ng-show="activeBtnShowSelection"></i>
            <i class="fa fa-eye" aria-hidden="true" data-ng-show="!activeBtnShowSelection"></i>
          </div>
          <div class="pull-left view-icons-ctn reset-icon" data-ng-click="uploadQueueVm.resetSelectedDocuments()">
            <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
          </div>
        </div>
        <div id="toolbar-actions" class="hidden-xs">
          <span data-ng-if="uploadQueueVm.isFromMySpace">
          <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
             data-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
             data-ng-click="uploadQueueVm.checkSharableFiles(false)">
            <i class="zmdi zmdi-share"></i><span translate>SELECTION_TOOLBAR.SHARE</span></a>
          </span>
          <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.PLAY' | translate}}"
               data-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               data-ng-click="uploadQueueVm.resumeSelectedFiles()">
              <i class="zmdi zmdi-play"></i><span translate>SELECTION_TOOLBAR.PLAY</span></a>
            </span>
          <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.PAUSE' | translate}}"
               data-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               data-ng-click="uploadQueueVm.pauseSelectedFiles()">
              <i class="zmdi zmdi-pause"></i><span translate>SELECTION_TOOLBAR.PAUSE</span></a>
            </span>
          <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.CANCEL' | translate}}"
               data-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               data-ng-click="uploadQueueVm.cancelSelectedFiles()">
              <i class="zmdi zmdi-close"></i><span translate>SELECTION_TOOLBAR.CANCEL</span></a>
            </span>
          <span>
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.CLEAR_INFO' | translate}}"
               data-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               data-ng-click="uploadQueueVm.clearSelectedFiles()">
              <i class="zmdi zmdi-check-all"></i><span translate>SELECTION_TOOLBAR.CLEAR</span></a>
            </span>
          <span data-ng-if="uploadQueueVm.isflowUploadingError">
            <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.RETRY' | translate}}"
               data-ng-class="{'de-activate-sharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true)}"
               data-ng-click="uploadQueueVm.retrySelectedFiles()">
              <i class="zmdi zmdi-undo"></i><span translate>SELECTION_TOOLBAR.RETRY</span></a>
            </span>
        </div>
      </div>
      <div class="drag-and-drop-ctn reset-content-width drag-n-drop-height file-drop-area"
           check-table-height data-ng-if="uploadQueueVm.isFromMySpace"
           data-ng-class="{'show-bg-drop' : uploadQueueVm.$flow.files.length === 0}">
        <div class="drag-and-drop-content">
          <div class="drag-icon-ctn ">
            <div class="bordered-circle">&nbsp;</div>
            <span class="grey-clr bg-info-icon">
              <span class="groups-upload-file"></span>
            </span>
          </div>
          <div class="dnd-txt-content">
              <h1 class="hidden-xs" translate>DRAG_DROP_BACKGROUND.TITLE</h1>
              <p class="hidden-xs" translate>DRAG_DROP_BACKGROUND.COMMENT</p>
              <h1 class="visible-xs" translate>DRAG_DROP_BACKGROUND_MOBILE.TITLE</h1>
              <p class="visible-xs" translate>DRAG_DROP_BACKGROUND_MOBILE.COMMENT</p>
          </div>
        </div>
      </div>
      <ls-upload-queue from-where="{{uploadQueueVm.fromWhere}}" id="upload-li-ctn" class="drag-n-drop-height"
                       check-table-height></ls-upload-queue>
      <div class="partage-list">
        <button class="btn btn-default waves-effect" data-ng-repeat="n in sharingsBtn track by $index"
                data-ng-click="uploadQueueVm.showSharingItems($index)">
          <span translate>TRANSFERS_DROPDOWN.SHARE</span>
          <span> {{$index+1}}</span> <i class="zmdi zmdi-edit"></i>
        </button>
      </div>
      <div id="fabButtonCtn" fab-button
           fab-button-actions="uploadQueueVm.fabButton.actions"
           fab-button-flow="$flow">
      </div>
    </div>
  </div>
</div>
