<div
  ui-view=""
  data-ng-class="{'right-sidebar-toggled': mainVm.sidebar.isVisible()}"
>
  <div class="container files contacts-lists-list">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card">
      <div class="card-header">
        <div id="breadcrumb-wrap">
          <div
            class="menu-popover-ctn hidden-xs"
            data-ng-class="{'clickable waves-effect':
                  contactsListsListVm.canCreate && contactsListsListVm.functionality.enable}"
            tooltip-placement="bottom"
            tooltip-popup-delay="500"
            translate-attr="{'uib-tooltip': 'ACTION.NEW_ITEM'}"
          >
            <a class="add-menu-group"
               x-ng-click="contactsListsListVm.isFromMyContactsLists ? contactsListsListVm.createContactsList() :
                contactsListsListVm.goToMineAndCreateContactsList()">
              <i class="zmdi zmdi-plus" data-ng-class="{'disabled':
                  !(contactsListsListVm.canCreate && contactsListsListVm.functionality.enable)}">
              </i>
            </a>
          </div>
          <div class="breadcrumbs-ctn hidden-xs">
            <a href="javascript:void(0)" class="click-disabled ">
              <i class="ls-contact-list-item v-center"></i>
              <span class="v-center" translate>CONTACTS_LISTS_DETAILS.CONTACTS_LISTS</span>
            </a>
            <span class="sub-category-chevron pipe-separator">|</span>
            <a x-ng-if="contactsListsListVm.isFromMyContactsLists" class="click-disabled">
              <span translate>CONTACTS_LISTS_ACTION.FILTER_BY.MY_LISTS</span>
            </a>
            <a x-ng-if="!contactsListsListVm.isFromMyContactsLists" class="click-disabled">
              <span translate>CONTACTS_LISTS_ACTION.FILTER_BY.OTHER_LISTS</span>
            </a>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items">
              <span x-ng-click="showCheckboxes = !showCheckboxes"
                    class="visible-xs toolbar-mobile-item col-xs-3">
                <a class="select-all-items plain-txt-btn">
                   <i class="ls-multi-select" x-ng-class="{'active-link': showCheckboxes}"
                      ng-click="contactsListsListVm.resetSelectedDocuments()"></i>
                </a>
              </span>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                   x-ng-click="contactsListsListVm.toggleSearchState()">
                <a href="javascript:void(0)">
                  <i class="tm-icon zmdi zmdi-search"
                     x-ng-class="{'active-link': searchMobileDropdown}"></i>
                </a>
              </div>
              <!-- TODO: mobile filter-->
              <div class="dropdown-filters  toolbar-mobile-item col-xs-3 visible-xs">
                <span uib-dropdown class="dropdown link-dropdown" auto-close="outsideClick"
                      is-open="isOpenTypeMobile" data-ng-class="{'open': isOpenTypeMobile}">
                  <a
                    class="plain-txt-btn partage-link"
                    translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                    uib-dropdown-toggle
                    href="javascript:void(0)"
                  >
                    <i class="zmdi zmdi-filter-list"></i>
                  </a>
                  <div uib-dropdown-menu data-ng-class="{'open': isOpenTypeMobile}"
                       class="dropdown-menu dropdown-menu-right dm-icon double-drop toggle-views">
                    <div class="list-menu">
                      <p translate>FILTER_COMPONENT.FILTER_BY</p>
                      <ul class="dropdown-menu dropdown-menu-right dm-icon filter-menu">
                        <li>
                          <!-- TODO : If I select a contact and then switch to the other list view the multislect
                           shoud not be displayed and th previous selection becomes deselected-->
                          <a data-ui-sref="administration.contactslists.list({from:
                          contactsListsListVm.contactsListsMinePage})"
                             x-ng-class="{'active-check':contactsListsListVm.isFromMyContactsLists}"
                             translate>
                            <span translate>CONTACTS_LISTS_ACTION.FILTER_BY.MY_LISTS</span>
                          </a>
                        </li>
                        <li>
                          <a data-ui-sref="administration.contactslists.list({from:
                          contactsListsListVm.contactsListsOthersPage})"
                             x-ng-class="{'active-check':!contactsListsListVm.isFromMyContactsLists}">
                            <span translate>CONTACTS_LISTS_ACTION.FILTER_BY.OTHER_LISTS</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </span>
              </div>

              <div class="sort-dropdown col-xs-3 toolbar-mobile-item">
                <div class="dropdown dropdown-standard  toolbar-mobile-item" uib-dropdown=""
                     dropdown-append-to-body is-open="isOpenOrder" data-ng-class="{'open':isOpenOrder}">
                  <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle=""
                     x-ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                  </a>
                  <ul data-ng-class="{'open':isOpenOrder}" class="dropdown-menu-right uib-dropdown-menu dropdown-menu pull-right dm-icon stop-propagate labeled-dropdown"
                      uib-dropdown-menu>
                    <li role="menuitem">
                      <a href="" class="center">
                        <span translate>SELECTION_TOOLBAR.ORDER_BY</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a href=""
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('name', $event)">
                          <span class="caret-area">
                            <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                        <span translate>CONTACTS_LISTS_ACTION.ORDER_BY.LIST_NAME</span>
                      </a>
                    </li>
                    <li role="menuitem" x-ng-show="!contactsListsListVm.isFromMyContactsLists">
                      <a href=""
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('owner.firstName', $event)">
                          <span class="caret-area">
                            <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                        <span translate>CONTACTS_LISTS_ACTION.ORDER_BY.OWNER_FIRST_NAME</span>
                      </a>
                    </li>
                    <li role="menuitem" x-ng-show="!contactsListsListVm.isFromMyContactsLists">
                      <a href=""
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('owner.lastName', $event)">
                          <span class="caret-area">
                            <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                        <span translate>CONTACTS_LISTS_ACTION.ORDER_BY.OWNER_LAST_NAME</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a href=""
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('public', $event)">
                          <span class="caret-area">
                            <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                        <span translate>CONTACTS_LISTS_ACTION.ORDER_BY.PRIVATE_PUBLIC</span>
                      </a>
                    </li>
                    <li role="menuitem" x-ng-show="!contactsListsListVm.isFromMyContactsLists">
                      <a href=""
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('owner.mail', $event)">
                          <span class="caret-area">
                            <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                        <span translate>CONTACTS_LISTS_ACTION.ORDER_BY.OWNER_MAIL</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a href="" class="selected-sorting"
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('modificationDate',$event)">
                        <span class="caret-area">
                        <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                        <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                        </span>
                        <span translate>FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE</span>
                      </a>
                    </li>
                    <li role="menuitem">
                      <a href=""
                         x-ng-click="contactsListsListVm.sortDropdownSetActive('creationDate', $event)">
                        <span class="caret-area">
                        <i x-ng-show="contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                        <i x-ng-show="!contactsListsListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                        </span>
                        <span translate>FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
            </div>
            <div class="input-group search-bar hidden-xs m-r-20">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input
                      class="form-control"
                      autocomplete="off"
                      data-ng-model="contactsListsListVm.paramFilter.name"
                      translate-attr="{placeholder: 'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME'}"
                      type="text"
                    >
                  </div>
                </div>
              </div>
              <div class="actions">
                <a
                  class="input-group-addon last clickable dropdown"
                  data-ng-class="{'open':isOpenFilter}"
                  translate-attr="{'data-original-title': 'TOOLTIP.ADVANCED_FILTER'}"
                  uib-dropdown
                  uib-dropdown-toggle
                  dropdown-append-to-body
                  auto-close="outsideClick"
                  data-ng-click="advancedFilterBool = !advancedFilterBool"
                  is-open="isOpenFilter"
                >
                  <i class="zmdi hidden-xs clickable ls-settings"></i>
                  <ul uib-dropdown-menu="" class="uib-dropdown-menu dropdown-menu dropdown-menu-right dm-icon
                    dropdown-divided dropdown-content-left" data-ng-class="{'open':isOpenFilter}">
                    <!-- FILTER COMPONENT  -->
                    <filter-box class="clearfix"
                                filter-box-date="true"
                                filter-box-items="contactsListsListVm.itemsList"
                                filter-box-table="contactsListsListVm.tableParams">
                    </filter-box>
                  </ul>
                </a>
              </div>
            </div>
            <div class="pull-right hidden-xs toggle-view-dropdown">
              <span class="filter-views ng-binding pull-left">
                <span translate>ACTION.DISPLAY</span> :
              </span>
              <div class="dropdown-filters pull-left">
                <span uib-dropdown class="dropdown link-dropdown" auto-close="outsideClick"
                      is-open="isOpenType" data-ng-class="{'open': isOpenType}">
                  <a
                    class="plain-txt-btn partage-link"
                    translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                    uib-dropdown-toggle
                    href="javascript:void(0)"
                  >
                    <span x-ng-bind="contactsListsListVm.currentView"></span>
                     <div><b></b></div>
                  </a>
                  <div uib-dropdown-menu data-ng-class="{'open': isOpenType}"
                       class="dropdown-menu dropdown-menu-right dm-icon double-drop toggle-views">
                    <div class="list-menu">
                      <p translate>FILTER_COMPONENT.FILTER_BY</p>
                      <ul class="dropdown-menu dm-icon filter-menu dropdown-menu-right">
                        <li>
                          <!-- TODO : IAB Translation needed-->
                          <a data-ui-sref="administration.contactslists.list({from:
                               contactsListsListVm.contactsListsMinePage})"
                             x-ng-class="{'active-check':contactsListsListVm.isFromMyContactsLists}"
                             x-ng-click="contactsListsListVm.currentView = contactsListsListVm.myLists">
                            <span translate>CONTACTS_LISTS_ACTION.FILTER_BY.MY_LISTS</span>
                          </a>
                          </li>
                          <li>
                            <a data-ui-sref="administration.contactslists.list({from:
                               contactsListsListVm.contactsListsOthersPage})"
                               x-ng-class="{'active-check':!contactsListsListVm.isFromMyContactsLists}"
                               x-ng-click="contactsListsListVm.currentView = contactsListsListVm.otherLists">
                              <span translate>CONTACTS_LISTS_ACTION.FILTER_BY.OTHER_LISTS</span>
                            </a>
                          </li>
                          </ul>
                        </div>
                      </div>
                 </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" x-ng-click="contactsListsListVm.toggleSearchState()">&times;</i>
          <input
            class="form-control"
            aria-invalid="false"
            data-ng-change="updateParams()"
            data-ng-model="contactsListsListVm.paramFilter['name']"
            id="searchInMobileFiles"
            translate-attr="{placeholder: 'CONTACTS_LISTS_ACTION.SEARCH_BY_NAME'}"
            type="text"
          >
        </div>

        <!-- DROP AREA WHEN FILES ARE SELECTED -->
        <div id="selection-actions" class="default-multi-toolbar-state multi-btns"
             x-ng-class="{'show-multi-menu': contactsListsListVm.selectedContactsLists.length > 0}">
          <div class="toggle-checkbox-toolbar"
               x-ng-click="contactsListsListVm.selectDocumentsOnCurrentPage(contactsListsListVm.tableParams.data,
               contactsListsListVm.tableParams.page())">
            <a x-ng-if="!contactsListsListVm.flagsOnSelectedPages[contactsListsListVm.tableParams.page()]"

               class="select-all-items plain-text-button">
              <i class="fa ls-check-o checkbox-table"></i>
            </a>
            <a x-ng-if="contactsListsListVm.flagsOnSelectedPages[contactsListsListVm.tableParams.page()]"
               class="select-all-items plain-text-button">
              <i class="ls-check-checked"></i>
            </a>
          </div>
          <div
            class="exit-selection actions"
            translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"
            data-ng-click="contactsListsListVm.resetSelectedDocuments()"
          >
            <a><i class="zmdi zmdi-close"></i></a>
          </div>
          <div
            class="display-num-selected-items"
            translate-attr="{title: 'SELECTION_TOOLBAR.SHOW_SELECTION'}"
          >
            <div class="pull-left" x-ng-class="{'active-button-show-selection': activeBtnShowSelection}"
                 x-ng-click="activeBtnShowSelection = !activeBtnShowSelection;
                  contactsListsListVm.toggleFilterBySelectedFiles()">
              <p><span>{{contactsListsListVm.selectedContactsLists.length}}</span>
                <span translate>SELECTION_TOOLBAR.SELECTED_ELEMENTS</span>
              </p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true"
                   x-ng-show=" activeBtnShowSelection"></i>
                <i class="fa fa-eye" aria-hidden="true" x-ng-show="!activeBtnShowSelection"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon"
                 x-ng-click="contactsListsListVm.resetSelectedDocuments()">
              <i
                class="fa fa-undo"
                translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"
              >
              </i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
            <span
              data-ng-if="contactsListsListVm.isFromMyContactsLists"
              data-ng-class="{'disable-link': contactsListsListVm.selectedContactsLists.length != 1}">
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'CONTACTS_LISTS_ACTION.MORE.ADD_CONTACT'}"
                data-ng-click="
                contactsListsListVm.goToContactsListAndAddContacts(contactsListsListVm.selectedContactsLists[0].uuid,
                contactsListsListVm.selectedContactsLists[0].name)"
              >
                <i class="groups-add-member"></i>
                <span translate>CONTACTS_LISTS_ACTION.MORE.ADD_CONTACT</span>
              </a>
            </span>
            <span x-ng-show="!linshareModeProduction">
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'CONTACTS_LISTS_ACTION.MORE.DUPLICATE_LIST'}"
                data-ng-click="contactsListsListVm.duplicateItem(contactsListsListVm.selectedContactsLists[0])"
              >
                <i class="zmdi zmdi-copy"></i>
                <span translate>CONTACTS_LISTS_ACTION.MORE.DUPLICATE_LIST</span>
              </a>
            </span>
            <span x-ng-if="contactsListsListVm.isFromMyContactsLists">
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'SELECTION_TOOLBAR.DELETE'}"
                data-ng-click="contactsListsListVm.deleteContactsList(contactsListsListVm.selectedContactsLists)"
              >
                <i class="zmdi zmdi-delete"></i>
                <span translate>SELECTION_TOOLBAR.DELETE</span>
              </a>
            </span>
            <span class="dropdown link-dropdown" uib-dropdown is-open="isOpenToolbarMore" data-ng-class="{'open': isOpenToolbarMore}"
                  data-ng-class="{'hide' : !contactsListsListVm.isFromMyContactsLists}">
                <a
                  class="plain-text-button share-link"
                  translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                  uib-dropdown-toggle
                >
                  <i class="zmdi zmdi-more"></i>
                  <span translate>BOUTON_LABEL_TITLE.MORE_ACTIONS</span>
                </a>
                <ul uib-dropdown-menu  data-ng-class="{'open': isOpenToolbarMore}"
                    class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
                  <li class="hidden-xs" data-ng-if="contactsListsListVm.isFromMyContactsLists"
                      data-ng-class="{'disable-link': contactsListsListVm.selectedContactsLists.length != 1}">
                    <a href="" data-ng-click="
                       contactsListsListVm.goToContactsListTarget(contactsListsListVm.selectedContactsLists[0].uuid,
                       contactsListsListVm.selectedContactsLists[0].name)">
                      <i class="fa fa-eye"></i>
                      <span translate>CONTACTS_LISTS_ACTION.MORE.SHOW_CONTACTS</span>
                    </a>
                  </li>
                  <li class="hidden-xs"
                      data-ng-class="{'disable-link': contactsListsListVm.selectedContactsLists.length != 1}">
                    <a href=""
                       x-ng-click="
                       contactsListsListVm.showItemDetails(contactsListsListVm.selectedContactsLists[0],$event)">
                      <i class="zmdi zmdi-info"></i>
                      <span translate>CONTACTS_LISTS_ACTION.MORE.INFORMATION</span>
                    </a>
                  </li>
                  <li class="hidden-xs"
                      data-ng-show="contactsListsListVm.isFromMyContactsLists"
                      data-ng-class="{'disable-link': contactsListsListVm.selectedContactsLists.length != 1}">
                    <a href=""
                       x-ng-click="
                       contactsListsListVm.renameContactsList(contactsListsListVm.selectedContactsLists[0])">
                      <i class="zmdi zmdi-border-color"></i>
                      <span translate>CONTACTS_LISTS_ACTION.MORE.RENAME</span>
                    </a>
                  </li>
                  <li class="hidden-xs" x-ng-show="::!linshareModeProduction">
                    <a href="" x-ng-click="">
                      <i class="fa fa-sign-out"></i>
                      <span translate>CONTACTS_LISTS_ACTION.MORE.EXPORT_CSV</span>
                    </a>
                  </li>
                  <li class="hidden-xs" x-ng-show="::!linshareModeProduction">
                    <a href="">
                      <i class="fa fa-sign-in"></i>
                      <span translate>CONTACTS_LISTS_ACTION.MORE.IMPORT_CSV</span>
                    </a>
                  </li>
                </ul>
              </span>
            <span
              x-ng-show="!contactsListsListVm.isFromMyContactsLists &&
               contactsListsListVm.selectedContactsLists.length > 1">
              <span translate>NO_ACTION_AVAILABLE</span>
            </span>
          </div>
        </div>
        <div class="drag-and-drop-ctn reset-content-width collapsible-content drag-n-drop-height"
             data-ng-class="{'show-bg-drop' : contactsListsListVm.itemsList.length === 0}">
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn ">
              <div class="bordered-circle">&nbsp;</div>
              <span class="grey-clr bg-info-icon">
                <span class="ls-contact-list-item"></span>
              </span>
            </div>
            <div class="dnd-txt-content">
              <h1 translate>BACKGROUND_CONTACTS_LIST_TITLE_MSG</h1>
              <p translate>BACKGROUND_CONTACTS_LIST_MSG</p>
            </div>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span x-ng-click="contactsListsListVm.selectDocumentsOnCurrentPage(tableParams.data, tableParams.page())"
                role="button" tabindex="0" class="display-block center">
            <a x-ng-if="!contactsListsListVm.flagsOnSelectedPages[contactsListsListVm.tableParams.page()]"
               class="select-all-items plain-text-button checkboxCtn">
              <i class="ls-check-o checkbox-table"></i>
            </a>
            <a x-ng-if="contactsListsListVm.flagsOnSelectedPages[contactsListsListVm.tableParams.page()]"
               class="select-all-items plain-text-button">
              <i class="ls-check-checked"></i>
            </a>
            </span>
        </script>
        <!-- DOCUMENTS LIST  -->
        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table id="file-list-table" class="table table-vmiddle fixed-activity-table-height" x-ng-table="contactsListsListVm.tableParams"
                   show-filter="true">
              <tr x-ng-repeat="contactsList in $data"
                  ls-item-selection
                  data-selected-documents="contactsListsListVm.selectedContactsLists"
                  data-document-file="contactsList"
                  data-current-selected-Document="contactsListsListVm.currentSelectedDocument"
                  data-details-function="contactsListsListVm.getDetails"
                  data-right-sidebar-open="mainVm.sidebar.isVisible()"
                  x-ng-class="{'highlight-list-elem': contactsList.isSelected ,
                   'current-vis': contactsListsListVm.currentSelectedDocument.current.uuid === contactsList.uuid}"
                  class="p-b-5 double-row item-container"
                  check-table-height
                  x-ng-dblclick="contactsListsListVm.goToContactsListTarget(contactsList.uuid, contactsList.name)">
                <td data-header="'checkboxheader.html'"
                    class="set-content-left thumb-type-item thumb-groups-preview-ls"
                    header-class="'col-2 checkbox-col'">
                  <a x-ng-click="showCheckboxes ? contactsListsListVm.addSelectedDocument(contactsList) : null"
                     class="visible-xs">
                    <div x-ng-class="{ 'invisible' : showCheckboxes}">
                      <i class="ls-contact-list-item m-r-10"></i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         x-ng-class="{'maintain-vis': contactsList.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                  <a x-ng-click="contactsListsListVm.addSelectedDocument(contactsList)" class="hidden-xs">
                    <div x-ng-class="{ 'invisible' : showCheckboxes}">
                      <i class="ls-contact-list-item m-r-10"></i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         x-ng-class="{'maintain-vis': contactsList.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                </td>
                <td data-title="::'CONTACTS_LISTS_ACTION.ORDER_BY.LIST_NAME' | translate"
                    class="row show-li-actions col-3"
                    data-sortable="'name'" uuid={{::contactsList.uuid}} header-class="'col-3 flexible-table-col'">
                  <div class="ctn-name-actions">
                      <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                        <span class="file-name-disp single-line" contenteditable="false" spellcheck="false"
                              data-ng-click="contactsListsListVm.goToContactsListTarget(contactsList.uuid,
                                contactsList.name)">
                          <span>
                            {{::contactsList.name}}
                          </span>
                        </span>
                        <span class="secondary-info-ctn">
                          <p class="secondary-list-item-info hidden-xs">
                            <span translate>BY</span> 
                            {{::contactsListsListVm.getOwnerName(contactsList, userLogged.uuid)}}
                          </p>
                          <p class="mobile-list-item-info visible-xs">
                            <span translate>BY</span> 
                            {{::contactsListsListVm.getOwnerName(contactsList, userLogged.uuid)}}
                          </p>
                        </span>
                      </span>
                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                        <ul class="actions pull-right"
                            x-ng-class="{'open-r': (mainVm.sidebar.isVisible())}">
                          <li x-ng-click="contactsListsListVm.showItemDetails(contactsList,$event)"
                              event-propagation-stop
                              class="set-col-6">
                            <a
                              class="set-col-12"
                              translate-attr="{title: 'CONTACTS_LISTS_ACTION.MORE.INFORMATION'}"
                              href=""
                            >
                              <i class="zmdi zmdi-info"></i>
                            </a>
                          </li>
                          <li
                            x-ng-click="contactsListsListVm.goToContactsListTarget(contactsList.uuid, contactsList.name)"
                            event-propagation-stop class="set-col-6">
                            <a
                              class="set-col-12"
                              translate-attr="{title: 'CONTACTS_LISTS_ACTION.MORE.SHOW_CONTACTS'}"
                              href=""
                            >
                              <i class="fa fa-eye"></i>
                            </a>
                          </li>
                          <li class="hidden-xs" x-ng-if="contactsListsListVm.isFromMyContactsLists">
                            <a
                              translate-attr="{title: 'CONTACTS_LISTS_ACTION.MORE.ADD_CONTACT'}"
                              data-ng-click="
                                contactsListsListVm.goToContactsListAndAddContacts(contactsList.uuid, contactsList.name)"
                              event-propagation-stop
                            >
                              <i class="ls-add-user-sm"></i>
                            </a>
                          </li>
                          <li uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                              auto-close="always" is-open="isOpenItem" data-ng-class="{'open':isOpenItem}">
                            <a
                              class="set-col-12"
                              translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                              uib-dropdown-toggle
                              event-propagation-stop
                              href=""
                            >
                              <i class="zmdi zmdi-more"></i>
                            </a>
                            <ul uib-dropdown-menu data-ng-class="{'open':isOpenItem}"
                              class="uib-dropdown-menu dropdown-menu-right dm-icon
                               dropdown-divided dropdown-content-left">
                              <li>
                                <a href="" x-ng-click="contactsListsListVm.showItemDetails(contactsList,$event)">
                                  <i class="zmdi zmdi-info"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.INFORMATION</span>
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href=""
                                   data-ng-click="contactsListsListVm.goToContactsListTarget(contactsList.uuid, contactsList.name)">
                                  <i class="fa fa-eye"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.SHOW_CONTACTS</span>
                                </a>
                              </li>
                              <li>
                                <a href=""
                                   data-ng-click="contactsListsListVm.goToContactsListAndAddContacts(contactsList.uuid, contactsList.name)">
                                  <i class="zmdi ls-add-user-sm"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.ADD_CONTACT</span>
                                </a>
                              </li>
                              <li x-ng-show="contactsListsListVm.isFromMyContactsLists">
                                <a href="" x-ng-click="contactsListsListVm.renameContactsList(contactsList)">
                                  <i class="zmdi zmdi-border-color"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.RENAME</span>
                                </a>
                              </li>
                              <li>
                                <a href="" x-ng-click="contactsListsListVm.duplicateItem(contactsList)">
                                  <i class="zmdi zmdi-copy"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.DUPLICATE_LIST</span>
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li x-ng-show="contactsListsListVm.isFromMyContactsLists">
                                <a href="" x-ng-click="contactsListsListVm.deleteContactsList(contactsList)">
                                  <i class="zmdi zmdi-delete"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.DELETE</span>
                                </a>
                              </li>                              
                              <li x-ng-show="::!linshareModeProduction">
                                <a href="" x-ng-click="">
                                  <i class="fa fa-sign-out"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.EXPORT_CSV</span>
                                </a>
                              </li>
                              <li>
                                <a href="" x-ng-click="" x-ng-show="::!linshareModeProduction">
                                  <i class="fa fa-sign-in"></i>
                                  <span translate>CONTACTS_LISTS_ACTION.MORE.IMPORT_CSV</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs"
                    ng-if="!mainVm.sidebar.isVisible()"
                    data-title="::'CONTACTS_LISTS_DETAILS.VISIBILITY' | translate"
                    data-sortable="'public'"
                    header-class="'col-4'">
                  <a x-ng-click="contactsListsListVm.showItemDetails(contactsList,$event)"
                     x-ng-class="{'disabled' : !contactsListsListVm.isFromMyContactsLists}">
                    {{::contactsListsListVm.getVisibility(contactsList)}}
                  </a>
                </td>
                <td class="hidden-xs"
                    ng-if="!mainVm.sidebar.isVisible()"
                    data-title="::'FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE' | translate"
                    data-sortable="'modificationDate'"
                    header-class="'col-4'">
                  {{contactsList.modificationDate | relativeTime}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fabButtonCtn" fab-button fab-button-actions="contactsListsListVm.fabButton.actions"></div>
  <section
    class="row multi-select-mobile visible-xs"
    data-ng-class="{'showMobileMultiMenu': contactsListsListVm.selectedContactsLists.length > 0}"
  >
    <div class="col-xs-2 ctn-mobile-select-count">
      <span class="number-of-files">{{contactsListsListVm.selectedContactsLists.length}}</span>
      <span
        class="file-multi-select-label"
        translate
      >
        SELECTION_TOOLBAR.ELEMENTS
      </span>
    </div>
    <div class="col-xs-8">
      <div x-ng-click="contactsListsListVm.selectDocumentsOnCurrentPage(tableParams.data, tableParams.page())"
           class="visible-xs toolbar-mobile-item col-xs-3">
        <i class="ls-check-checked select-all-items p-r-10"
           x-ng-if="!contactsListsListVm.flagsOnSelectedPages[contactsListsListVm.tableParams.page()]">
        </i>
        <i class="ls-check-o select-all-items p-r-10"
           x-ng-if="contactsListsListVm.flagsOnSelectedPages[contactsListsListVm.tableParams.page()]">
        </i>
      </div>
      <div class="col-xs-2"
           x-ng-class="{'hide' : (contactsListsListVm.selectedContactsLists.length > 1) ||
              (!contactsListsListVm.isFromMyContactsLists)}"
           x-ng-click="
          contactsListsListVm.goToContactsListAndAddContacts(contactsListsListVm.selectedContactsLists[0].uuid,
          contactsListsListVm.selectedContactsLists[0].name)">
        <i class="groups-add-member"></i>
      </div>
      <div class="col-xs-2"
           x-ng-class="{'hide' : (contactsListsListVm.selectedContactsLists.length > 1) ||
              (contactsListsListVm.isFromMyContactsLists)}"
           x-ng-click="contactsListsListVm.goToContactsListTarget(contactsListsListVm.selectedContactsLists[0].uuid,
                  contactsListsListVm.selectedContactsLists[0].name)">
        <i class="fa fa-eye"></i>
      </div>
      <div class="col-xs-2" x-ng-class="{'hide' : (contactsListsListVm.selectedContactsLists.length > 1) ||
        (contactsListsListVm.isFromMyContactsLists)}"
           x-ng-click="contactsListsListVm.showItemDetails(contactsListsListVm.selectedContactsLists[0],$event)">
        <i class="zmdi zmdi-info"></i>
      </div>
      <i class="zmdi zmdi-delete col-xs-2"
         x-ng-class="{'hide' : (!contactsListsListVm.isFromMyContactsLists)}"
         data-ng-show="::!linshareModeProduction"
         x-ng-click="contactsListsListVm.deleteContactsList(contactsListsListVm.selectedContactsLists)"></i>
      <div class="col-xs-2"
           x-ng-click="contactsListsListVm.duplicateItem(contactsListsListVm.selectedContactsLists[0])">
        <i class="zmdi zmdi-copy"></i>
      </div>
      <span class="col-xs-9 col-xs-9 no-padding m-t-20"
            data-ng-if="!contactsListsListVm.isFromMyContactsLists &&
            contactsListsListVm.selectedContactsLists.length > 1"
            data-ng-class="{'hide' : !contactsListsListVm.isFromMyContactsLists &&
            contactsListsListVm.selectedContactsLists.length > 1}">
           <span translate>NO_ACTION_AVAILABLE</span>
      </span>
      <span class="dropdown col-xs-2 dropdown-standard" x-ng-show="::!linshareModeProduction" uib-dropdown="">
        <i class="zmdi zmdi-more-vert"
           x-ng-class="{'active-link': isActiveMoreDropdown , 'hide' : !contactsListsListVm.isFromMyContactsLists}"
           x-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown"
           uib-dropdown-toggle=""></i>
      <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
        <li class="hidden-xs" x-ng-show="contactsListsListVm.selectedContactsLists.length === 1">
          <a href=""
             x-ng-click="contactsListsListVm.goToContactsListTarget(contactsList.uuid, contactsList.name)">
            <i class="fa fa-eye"></i>
            <span translate>CONTACTS_LISTS_ACTION.MORE.SHOW_CONTACTS</span>
          </a>
        </li>
        <li x-ng-show="contactsListsListVm.selectedContactsLists.length === 1">
          <a href=""
             x-ng-click="
             contactsListsListVm.showItemDetails(contactsListsListVm.selectedContactsLists[0],$event)">
            <i class="zmdi zmdi-info"></i>
            <span translate>CONTACTS_LISTS_ACTION.MORE.INFORMATION</span>
          </a>
        </li>
        <li
          x-ng-show="contactsListsListVm.isFromMyContactsLists &&
           contactsListsListVm.selectedContactsLists.length === 1">
          <a href=""
             x-ng-click="
             contactsListsListVm.renameContactsList(contactsListsListVm.selectedContactsLists[0])">
            <i class="zmdi zmdi-border-color"></i>
            <span translate>CONTACTS_LISTS_ACTION.MORE.RENAME</span>
          </a>
        </li>
        <li x-ng-show="::!linshareModeProduction">
          <a href="" x-ng-click="">
            <i class="fa fa-sign-out"></i>
            <span translate>CONTACTS_LISTS_ACTION.MORE.EXPORT_CSV</span>
          </a>
        </li>
        <li x-ng-show="::!linshareModeProduction || contactsListsListVm.isFromMyContactsLists">
          <a href="">
            <i class="fa fa-sign-in"></i>
            <span translate>CONTACTS_LISTS_ACTION.MORE.IMPORT_CSV</span>
          </a>
        </li>
      </ul>
      </span>
    </div>
    <div class="col-xs-1 pull-right" x-ng-click="contactsListsListVm.resetSelectedDocuments()">
      <i class="zmdi zmdi zmdi-close"></i>
    </div>
  </section>
</div>
