<div id="transfert-ctn" class="transfert-ctn-white selectable-list" flow-prevent-drop>
  <div class="card col-sm-12 col-xs-11 col-centered">
    <div class="listview lv-bordered lv-lg" id="list-files-view">
      <div class="lv-header-alt clearfix display-none">
        <h2 class="lvh-label"><b>{{'HEADER.FILES_TO_SHARE' | translate}}</b></h2>
      </div>
      <div class="lv-body ng-table" id="file-list-table">
        <div class="media-body" x-ng-repeat="file in uploadQueueVm.$flow.files | orderBy: '-' | filter: {_from: fromWhere}"
             x-ng-class="{'highlight-list-elem': file.isSelected }"
             data-uid-flow="{{file.uniqueIdentifier}}" x-ng-if="!file.hideOnIsolate">
          <div class="col-xs-10 col-sm-12 overflow-hidden">
            <div class="col-xs-24 col-sm-12 anim-left no-padding">
              <div class="col-xs-6 col-sm-11 pull-left">
                <div ls-on-upload-select
                     class="preview-icon-ctn pull-left hidden-v-xs set-content-left thumb-type-item ">
                  <i class="fa ls-1p5x" x-ng-class="'{{file.getType() | mimetypeIcone}}'"></i>
                  <div class="checkbox-ctn-thumb" x-ng-class="{'maintain-vis': file.isSelected}">
                  </div>
                </div>
                <div class="pull-left data-list-ctn">
                  <div class="lv-title">{{file.name}}</div>
                  <small x-ng-hide="file.isComplete() || file.paused" class="lv-small pull-left">
                    {{file.timeRemaining() | remainingTime}}
                    <span x-ng-show="file.progress() == 0 ">{{'PENDING_UPLOADS' | translate}}</span>
                  </small>
                  <small x-ng-show="file.isComplete()" class="lv-small pull-left">
                    {{"HEADER.UPLOAD_PROGRESS.UPLOAD_DONE" | translate}}
                  </small>
                  <small x-ng-show="file.paused && !file.isComplete()" class="lv-small pull-left">
                    {{"HEADER.UPLOAD_PROGRESS.UPLOAD_PAUSED" | translate}}
                  </small>
                  <small x-ng-if="file.folderInfos" class="lv-small pull-left">
                    <span>&nbsp;| Dest : {{file.folderInfos.workgroupName | uppercase}} >> {{file.folderInfos.folderName}}</span>
                  </small>
                  <small class="lv-small pull-right clearfix">{{file.size | readableSize: false}}</small>
                  <div class="clearfix"></div>
                  <progressbar max="100" value="file.progress()*100"></progressbar>
                </div>
              </div>
              <div class="col-xs-6 col-sm-1 pull-left actions-ctn">
                <ul class="lv-actions actions align-list-icons ">
                  <li class="col-xs-6" x-ng-if="!file.paused" x-ng-hide="file.isComplete()">
                    <a href="" x-ng-click="file.pause()" event-propagation-stop>
                      <i class="zmdi zmdi-pause" title="{{'SELECTION_TOOLBAR.PAUSE' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-show="file.isComplete()">
                    <a x-ng-click="uploadQueueVm.showFileInSource(file)">
                      <i class="fa fa-eye" title="{{'SELECTION_TOOLBAR.SHOW_IN_FILES' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-if="file.paused" x-ng-hide="file.isComplete()">
                    <a href="" x-ng-click="file.resume()" event-propagation-stop>
                      <i class="zmdi zmdi-play" title="{{'SELECTION_TOOLBAR.PLAY' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-if="file.isComplete() && !file.error">
                    <a href="" x-ng-click="uploadQueueVm.removeSelectedDocuments(file)"
                       title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}">
                      <i class="zmdi zmdi-check" title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-if="file.error">
                    <a href="" x-ng-click="file.retry()">
                      <i class="zmdi zmdi-undo" title="{{'SELECTION_TOOLBAR.RETRY' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-show="!file.isComplete()">
                    <a href="" x-ng-click="uploadQueueVm.removeSelectedDocuments(file)">
                      <i class="zmdi zmdi-close" title="{{'SELECTION_TOOLBAR.STOP' | translate}}"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-2 visible-xs">
            <ul class="lv-actions actions align-list-icons " x-ng-click="uploadQueueVm.showBtnList($event)" event-propagation-stop>
              <li><a><i class="zmdi zmdi-more-vert"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
