<div id="transfert-ctn" class="transfert-ctn-white selectable-list" flow-prevent-drop>
  <div class="card col-sm-12 col-xs-11 col-centered">
    <div class="listview lv-bordered lv-lg" id="list-files-view">
      <div class="lv-header-alt clearfix display-none">
        <h2 class="lvh-label"><b>{{'HEADER.FILES_TO_SHARE' | translate}}</b></h2>
      </div>
      <div class="lv-body ng-table" id="file-list-table">
        <div class="media-body"
             x-ng-repeat="file in uploadQueueVm.$flow.files | orderBy: '-' | filter: {_from: fromWhere}"
             x-ng-class="{'highlight-list-elem': file.isSelected }"
             data-uid-flow="{{file.uniqueIdentifier}}" x-ng-if="!file.hideOnIsolate">
          <div class="col-xs-10 col-sm-12 overflow-hidden">
            <div class="col-xs-12 col-sm-12 anim-left no-padding">
              <div class="col-xs-6 col-sm-11 pull-left">
                <div class="preview-icon-ctn pull-left hidden-v-xs set-content-left thumb-type-item"
                     x-ng-click="uploadQueueVm.selectUploadingFile(file, !file.isSelected)">
                  <i class="fa ls-1p5x" x-ng-class="'{{file.getType() | mimetypeIcone}}'"></i>
                  <div class="checkbox-ctn-thumb" x-ng-class="{'maintain-vis': file.isSelected}">
                  </div>
                </div>
                <div class="pull-left data-list-ctn">
                  <div class="lv-title">{{file.name}}</div>
                  <small x-ng-hide="file.isComplete() || file.error || file.paused" class="lv-small pull-left">
                    {{file.timeRemaining() | remainingTime}}
                    <span x-ng-show="file.progress() === 0">{{'PENDING_UPLOADS' | translate}}</span>
                  </small>
                  <small x-ng-show="file.isComplete() && !file.error && !file.doingAsyncUpload"
                         class="lv-small pull-left">
                    {{"HEADER.UPLOAD_PROGRESS.UPLOAD_DONE" | translate}}
                  </small>
                  <small x-ng-show="file.paused && !file.isComplete() && !file.error && !file.doingAsyncUpload"
                         class="lv-small pull-left">
                    {{"HEADER.UPLOAD_PROGRESS.UPLOAD_PAUSED" | translate}}
                  </small>
                  <small x-ng-show="file.doingAsyncUpload && !file.error" class="lv-small pull-left">
                    {{"HEADER.UPLOAD_PROGRESS.UPLOAD_SERVER" | translate}}
                  </small>
                  <small class="lv-small pull-left text-danger"
                         x-ng-class="{'show-danger' : file.errorAgain}">
                    {{file.hasCustomMessage ? file.errorMessage : (file.errorMessage | translate)}}
                    {{file.errorCode ? ' ('+file.errorCode+')' : ''}}
                  </small>
                  <small x-ng-if="file.folderDetails" class="lv-small pull-left">
                    <span>&nbsp;| {{"UPLOAD_DESTINATION" | translate}} : {{file.folderDetails.workgroupName | uppercase}}
                      >> {{file.folderDetails.folderName}}</span>
                  </small>
                  <small class="lv-small pull-right clearfix">{{file.size | readableSize: false}}</small>
                  <div class="clearfix"></div>
                  <uib-progressbar x-ng-class="{
                  'progress-striped active upload-server-state' : file.doingAsyncUpload,
                  'progress-striped active uploading-state' : (!file.isComplete() && !file.doingAsyncUpload),
                  'upload-completed': file.isComplete() && !file.error && !file.doingAsyncUpload,
                  'upload-error': file.error}"
                                   max="100" value="file.error ? 100 : file.progress()*100"></uib-progressbar>
                </div>
              </div>
              <div class="hidden-xs col-sm-1 pull-left actions-ctn">
                <ul class="lv-actions actions align-list-icons">
                  <li class="col-xs-6" x-ng-if="!file.paused && !file.error" x-ng-hide="file.isComplete()">
                    <a href="" x-ng-click="uploadQueueVm.pauseFile(file)" event-propagation-stop>
                      <i class="zmdi zmdi-pause" title="{{'SELECTION_TOOLBAR.PAUSE' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-show="file.isComplete() || (file.error && !file.canBeRetried)"
                      x-ng-hide="!file.isComplete() || file.canBeRetried"
                      x-ng-class="{'disabled-work-in-progress': file.error || file.doingAsyncUpload}">
                    <a x-ng-click="uploadQueueVm.showFileInSource(file)">
                      <i class="fa fa-eye" title="{{'SELECTION_TOOLBAR.SHOW_IN_FILES' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-if="file.paused && !file.error" x-ng-hide="file.isComplete()">
                    <a href="" x-ng-click="uploadQueueVm.resumeFile(file)" event-propagation-stop>
                      <i class="zmdi zmdi-play" title="{{'SELECTION_TOOLBAR.PLAY' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-show="file.isComplete() && !file.error"
                      x-ng-class="{'disabled-work-in-progress' : file.doingAsyncUpload}">
                    <a href="" x-ng-click="uploadQueueVm.removeSelectedDocuments(file)"
                       title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}">
                      <i class="zmdi zmdi-check" title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-if="file.error && file.canBeRetried">
                    <a href="" x-ng-click="uploadQueueVm.retryFile(file)">
                      <i class="zmdi zmdi-undo" title="{{'SELECTION_TOOLBAR.RETRY' | translate}}"></i>
                    </a>
                  </li>
                  <li class="col-xs-6" x-ng-if="!file.isComplete() || file.error">
                    <a href="" x-ng-click="uploadQueueVm.removeSelectedDocuments(file)">
                      <i class="zmdi zmdi-close" title="{{'SELECTION_TOOLBAR.STOP' | translate}}"></i>

                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-2 visible-xs" uib-dropdown="" uib-dropdown-toggle="">
            <ul class="lv-actions actions align-list-icons">
              <li class="dropdown dropdown-standard pull-right">
                <a>
                  <i class="zmdi zmdi-more-vert">
                </i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left" uib-dropdown-menu="">
                  <li x-ng-if="!file.paused && !file.error" x-ng-hide="file.isComplete()">
                    <a href="" data-ng-click="uploadQueueVm.pauseFile(file)" event-propagation-stop>
                      <i class="zmdi zmdi-pause" title="{{'SELECTION_TOOLBAR.PAUSE' | translate}}"></i>
                      {{"SELECTION_TOOLBAR.PAUSE" | translate}}
                    </a>
                  </li>
                  <li data-ng-show="file.isComplete() || (file.error && !file.canBeRetried)"
                      data-ng-hide="!file.isComplete() || file.canBeRetried"
                      data-ng-class="{'disabled-work-in-progress': file.error || file.doingAsyncUpload}">
                    <a data-ng-click="uploadQueueVm.showFileInSource(file)">
                      <i class="fa fa-eye" title="{{'SELECTION_TOOLBAR.SHOW_IN_FILES' | translate}}"></i>
                      {{"SELECTION_TOOLBAR.SHOW_IN_FILES" | translate}}
                    </a>
                  </li>
                  <li x-ng-if="file.paused && !file.error" data-ng-hide="file.isComplete()">
                    <a href="" data-ng-click="uploadQueueVm.resumeFile(file)" event-propagation-stop>
                      <i class="zmdi zmdi-play" title="{{'SELECTION_TOOLBAR.PLAY' | translate}}"></i>
                      {{"SELECTION_TOOLBAR.PLAY" | translate}}
                    </a>
                  </li>
                  <li data-ng-show="file.isComplete() && !file.error"
                      data-ng-class="{'disabled-work-in-progress' : file.doingAsyncUpload}">
                    <a href="" data-ng-click="uploadQueueVm.removeSelectedDocuments(file)"
                       title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}">
                      <i class="zmdi zmdi-check" title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}"></i>
                      {{"SELECTION_TOOLBAR.CLEAR" | translate}}
                    </a>
                  </li>
                  <li data-ng-if="file.error && file.canBeRetried">
                    <a href="" data-ng-click="uploadQueueVm.retryFile(file)">
                      <i class="zmdi zmdi-undo" title="{{'SELECTION_TOOLBAR.RETRY' | translate}}"></i>
                      {{"SELECTION_TOOLBAR.RETRY" | translate}}
                    </a>
                  </li>
                  <li data-ng-if="!file.isComplete() || file.error">
                    <a href="" data-ng-click="uploadQueueVm.removeSelectedDocuments(file)">
                      <i class="zmdi zmdi-close" title="{{'SELECTION_TOOLBAR.STOP' | translate}}"></i>
                      {{"SELECTION_TOOLBAR.STOP" | translate}}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
