<div
  id="loading-bar-spinner"
  ng-if="guestModeratorsVm.status === 'loading'"
>
  <div class="spinner-icon"></div>
</div>

<div class="guest-moderators" ng-if="guestModeratorsVm.status === 'loaded'">
  <div ng-if="guestModeratorsVm.currentUserRole === 'ADMIN'">
    <div class="guest-moderators__header">
      <span
        class="guest-moderators__header__label"
        translate
      >
        GUEST_MODERATOR.LABEL_ADD
      </span>
    </div>

    <div class="guest-moderators__add">
      <md-select
        class="guest-moderators__add__role-select"
        ng-model="guestModeratorsVm.selectedRole"
      >
        <md-option
          ng-repeat="role in guestModeratorsVm.MODERATOR_ROLES"
          value="{{role}}"
        >
          {{'GUEST_MODERATOR.ROLE.' + role | translate}}
        </md-option>
      </md-select>

      <user-autocomplete-input
        class="guest-moderators__add__user-autocomplete"
        placeholder="GUEST_MODERATOR.FORM.AUTOCOMPLETE_PLACEHOLDER"
        search-type="USERS"
        on-select="guestModeratorsVm.addGuestModerator"
      />
    </div>
  </div>

  <div ng-if="guestModeratorsVm.currentUserRole !== 'NONE'">
    <div class="guest-moderators__header">
      <span
        class="guest-moderators__header__label"
        translate
        translate-values="{number: guestModeratorsVm.moderators.length}"
      >
        GUEST_MODERATOR.LABEL
      </span>
      <span class="actions" role="button">
        <a class="no-padding" ng-click="showFilter = !showFilter">
          <i class="ls-settings"></i>
        </a>
      </span>
    </div>

    <div ng-show="showFilter">
      <div class="fields-search-member" ng-class="{'show-options': showFilter}">
        <div class="search-style autocomplete-search-ctn">
          <div class="fg-line">
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              ng-model="guestModeratorsVm.moderatorFilter.account.name"
              translate-attr="{'placeholder': 'GUEST_MODERATOR.FILTER.NAME_PLACEHOLDER'}"
            >
          </div>
        </div>
        <div class="dropdown-filters">
          <span
            uib-dropdown
            class="dropdown link-dropdown"
            is-open="isOpenMemberOrder"
            ng-class="{'open':isOpenMemberOrder}"
            auto-close="outsideClick"
          >
            <button
              class="plain-text-button share-link waves-effect"
              uib-dropdown-toggle
              title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}"
            >
              <i class="zmdi zmdi-sort-asc"></i>
            </button>
            <div
              uib-dropdown-menu
              class="uib-dropdown-menu dropdown-menu-right dm-icon double-drop"
              ng-class="{'open':isOpenMemberOrder}"
            >
              <div class="list-menu sort-dropdown">
                <p translate>MEMBER_TAB.SORT_BY</p>
                <ul class="dropdown-menu dm-icon sort-menu">
                  <li role="menuitem">
                    <a
                      ng-click="guestModeratorsVm.changePropertyOrderBy('name', $event)"
                      class="selected-sorting"
                    >
                      <span class="caret-area">
                        <i
                          ng-show="!guestModeratorsVm.propertyOrderByAsc"
                          class="zmdi zmdi-caret-down"
                        >
                        </i>
                        <i
                          ng-show="guestModeratorsVm.propertyOrderByAsc"
                          class="zmdi zmdi-caret-up"
                        >
                        </i>
                      </span>
                      {{'FILTER_COMPONENT.ORDER_BY_NAME' | translate}}
                    </a>
                  </li>
                  <li role="menuitem">
                    <a ng-click="guestModeratorsVm.changePropertyOrderBy('role', $event)">
                      <span class="caret-area">
                        <i
                          ng-show="!guestModeratorsVm.propertyOrderByAsc"
                          class="zmdi zmdi-caret-down"
                        >
                        </i>
                        <i
                          ng-show="guestModeratorsVm.propertyOrderByAsc"
                          class="zmdi zmdi-caret-up"
                        >
                        </i>
                      </span>
                      {{'GUEST_MODERATOR.MODERATOR_ROLE' | translate}}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="list-menu">
                <p translate>MEMBER_TAB.FILTER_BY</p>
                <ul
                  class="dropdown-menu dm-icon filter-menu"
                  ng-repeat="role in guestModeratorsVm.MODERATOR_ROLES"
                >
                  <li>
                    <a
                      href=""
                      ng-class="{'active-check': guestModeratorsVm.moderatorFilter.role === role}"
                      ng-click="guestModeratorsVm.toggleRoleFilter(role)"
                      translate
                    >
                      {{'GUEST_MODERATOR.ROLE.' + role}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div
      class="flex-ctn"
      ng-repeat="moderator in guestModeratorsVm.moderators | filter: guestModeratorsVm.moderatorFilter track by moderator.uuid"
    >
      <div class="item-l">
        <span class="first-letter text-uppercase">
          {{moderator.account.name.charAt(0)}}
        </span>
      </div>
      <div class="item-mid">
        <div class="name">
          {{moderator.account.name}}
        </div>
        <div class="info-item-member">
          <i class="zmdi zmdi-account"></i>
          <span translate>
            {{'GUEST_MODERATOR.ROLE.' + moderator.role}}
          </span>
        </div>
      </div>
      <div class="item-r actions">
        <span
          uib-dropdown
          dropdown-append-to-body
          class="dropdown link-dropdown actions"
          auto-close="always"
          is-open="isOpenRights"
          ng-class="{'open':isOpenRights}"
          ng-if="guestModeratorsVm.currentUserRole === 'ADMIN'"
        >
          <a class="plain-text-button share-link" uib-dropdown-toggle>
            <i class="zmdi zmdi-edit"></i>
          </a>
          <ul
            uib-dropdown-menu
            class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown"
          >
            <li ng-repeat="role in guestModeratorsVm.MODERATOR_ROLES track by role">
              <a
                href=""
                ng-click="guestModeratorsVm.updateModeratorRole(moderator, role)"
                ng-class="{'active-check': moderator.role === role }"
                translate
              >
                {{'GUEST_MODERATOR.ROLE.' + role}}
              </a>
            </li>
          </ul>
        </span>
        <a
          ng-if="guestModeratorsVm.currentUserRole === 'ADMIN'"
          ng-click="guestModeratorsVm.removeModerator(moderator)"
        >
          <i class="zmdi zmdi-close"></i>
        </a>
      </div>
    </div>
  </div>
</div>
