<md-dialog aria-label="{{ dialogInputVm.ariaLabel }}" class="custom-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-title">{{ dialogInputVm.title | translate }}</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content" role="document" tabIndex="-1">
    <md-input-container md-no-float class="md-prompt-input-container"><input
        ng-keypress="dialogInputVm.keypress($event)" md-autofocus ng-model="dialogInputVm.result"
        placeholder="{{::dialogInputVm.placeholder}}"></md-input-container>
  </md-dialog-content>
  <md-dialog-actions>
    <button class="cancel" ng-click="dialogInputVm.abort()">
      {{ dialogInputVm.cancel | translate }}
    </button>
    <button class="confirm" ng-click="dialogInputVm.hide()">
      {{ dialogInputVm.ok | translate }}
    </button>
  </md-dialog-actions>
</md-dialog>