<div class="upload-request-hour-picker-ctn">
  <md-select class="form-control upload-request-hour-picker m-0"
    ng-model="$ctrl.hour"
    ng-change="$ctrl.onChangeHour($ctrl.hour, $ctrl.dateType)"
  >
    <md-option ng-value="0">00:00</md-option>
    <md-option ng-value="1">01:00</md-option>
    <md-option ng-value="2">02:00</md-option>
    <md-option ng-value="3">03:00</md-option>
    <md-option ng-value="4">04:00</md-option>
    <md-option ng-value="5">05:00</md-option>
    <md-option ng-value="6">06:00</md-option>
    <md-option ng-value="7">07:00</md-option>
    <md-option ng-value="8">08:00</md-option>
    <md-option ng-value="9">09:00</md-option>
    <md-option ng-value="10">10:00</md-option>
    <md-option ng-value="11">11:00</md-option>
    <md-option ng-value="12">12:00</md-option>
    <md-option ng-value="13">13:00</md-option>
    <md-option ng-value="14">14:00</md-option>
    <md-option ng-value="15">15:00</md-option>
    <md-option ng-value="16">16:00</md-option>
    <md-option ng-value="17">17:00</md-option>
    <md-option ng-value="18">18:00</md-option>
    <md-option ng-value="19">19:00</md-option>
    <md-option ng-value="20">20:00</md-option>
    <md-option ng-value="21">21:00</md-option>
    <md-option ng-value="22">22:00</md-option>
    <md-option ng-value="23">23:00</md-option>
  </md-select>
</div>