<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x" ng-click="loadSidebarContent('share')"></i>
  <h2 class="header-more-options">{{ "RIGHT_PANEL.SHARE_OPTIONS.TITLE" | translate }}</h2>
    <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" ng-click="mactrl.sidebarToggle.right = false"></i>
    </span>
</div>
<div class="card col-xs-12 m-t-2em" id="recipientsCtnSidebar"  ng-style="sizeSidebarRight">
  <working-date-picker></working-date-picker>
  <form class="advancedSharingSettings">
      <div class="form-group col-xs-12 ">
        <label>{{ "RIGHT_PANEL.SHARE_OPTIONS.ADD_NOTE" | translate }} :</label>
        <textarea class="form-control comment" ng-model="newShare.sharingNote" rows="5"
                  placeholder="{{ 'RIGHT_PANEL.SHARE_OPTIONS.ADD_NOTE_PLACEHOLDER' | translate }}">
      </textarea>
      </div>

    <div ng-show="newShare.secured.enable" class="col-xs-12 fieldCtn">
      <div class="fg-line">
        <div class="form-inline">
          <label for="secureSharing">{{ "RIGHT_PANEL.SHARE_OPTIONS.SECURE_SHARING" | translate }}:</label>
          <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" name="secureSharing" ng-checked="true"
                   ng-disabled="!newShare.secured.userCanOverride"
                   ng-model="newShare.secured.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="newShare.creationAcknowledgement.enable" class="col-xs-12 fieldCtn">
      <div class=" fg-line date-picker input-group dp-blue" ng-class="{'is-opened': dateStartOpened }">
        <div class="form-inline">
          <label for="SharingNotification">{{ "RIGHT_PANEL.SHARE_OPTIONS.SHARING_ACKNOWLEDGEMENT" | translate }}:</label>
          <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" name="SharingNotification"
                   ng-disabled="!newShare.creationAcknowledgement.userCanOverride"
                   ng-model="newShare.creationAcknowledgement.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="newShare.enableUSDA.enable" class="col-xs-12 fieldCtn">
      <div class="fg-line">
        <div class="form-inline">
          <label for="nonDownloadedNotification">{{ "RIGHT_PANEL.SHARE_OPTIONS.USDA" | translate }}:</label>
          <label class="checkbox checkbox-inline m-r-20">
            <input type="checkbox" name="nonDownloadedNotification" ng-checked="true"
                   ng-disabled="!newShare.enableUSDA.userCanOverride"
                   ng-model="newShare.enableUSDA.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div ng-show="newShare.enableUSDA.value" class="col-xs-12 fieldCtn" id="dateField">
      <label for="notificationDate" >
        {{ "RIGHT_PANEL.SHARE_OPTIONS.NOTIFICATION_DATE" | translate }}:
      </label>

      <div class="datepickerBorderFix date-picker dp-blue datepicker-drop-right" ng-class="{ 'is-opened': opened2 == true }">
        <div class="fg-line datepickerCtn" ng-class="{ 'fg-toggled': opened2 == true }">
          <div class="form-inline">
            <input ng-click="open($event, 'opened2')" type="text"
                   class="form-control datePickerInput" datepicker-popup="{{format}}" show-weeks="false"
                   is-open="opened2" min-date="minDate" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close"
                   placeholder="{{newShare.notificationDateForUSDA.value | date: 'medium'}}"
                   ng-disabled="!newShare.notificationDateForUSDA.userCanOverride"
                   ng-model="newShare.notificationDateForUSDA.value"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="bottomSidebarBtn">
  <button class="btn btn-default col-xs-6" ng-click="mactrl.sidebarToggle.right = false; closeDropdown($event)">
    {{ "NAVIGATION.CANCEL" | translate }}
  </button>
  <button class="btn btn-primary col-xs-6" ng-click="submitShare(newShare)">
    {{ "NAVIGATION.SHARE" | translate }}
  </button>
</div>


