<working-date-picker></working-date-picker>
<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x " ng-click="loadSidebarContent('details')"></i>
  <h2 class="header-more-options set-ellipsis">{{'RIGHT_PANEL.DETAIL_SHARE.TITLE' | translate}}</h2>
    <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" ng-click="mactrl.sidebarToggle.right = false"></i>
    </span>
</div>

<div class="share-bg-ctn">
  <div class="col-md-12 no-padding" id="stats-share">
    <div id="site-visits" class="dash-widget-item bgm-lin-blue">
      <div class="dash-widget-header">
        <div class="design-content">
          <span class="firstLetterFormat">{{recipientShareDetails.current.recipient.firstName.charAt(0)}}</span>
          <p>{{recipientShareDetails.current.recipient.mail}}</p>
        </div>
        <div class="p-20 bg-design">
          <div class="dash-widget-visits" data-sparkline-line></div>
        </div>
        <div class="dash-widget-title">
          <p class="header-more-options set-ellipsis">{{currentSelectedDocument.current.name}}</p>
        </div>
      </div>

      <div class="p-20 stats-content">

        <div class="action-share-details-row clearfix actions">
          <small>{{'RIGHT_PANEL.DETAIL_SHARE.SHARED_DATE' | translate}}</small>
          <p class="data"> {{recipientShareDetails.current.creationDate | date:'medium' }}</p>
          <a href="" title="{{'RIGHT_PANEL.DETAIL_SHARE.RESEND' | translate}}" class="disabled">
            <i class="fa fa-share" aria-hidden="true"></i>
          </a>
        </div>

        <div class="action-share-details-row clearfix actions">
          <small>{{'RIGHT_PANEL.DETAIL_SHARE.EXPIRATION_DATE' | translate}}</small>
          <p class="data">{{recipientShareDetails.current.expirationDate | date:'medium' }}</p>
          <a href="" title="{{'RIGHT_PANEL.DETAIL_SHARE.EDIT' | translate}}" ng-init="isDatepickerOpened=false"
             class="disabled"
             ng-click="isDatepickerOpened = !isDatepickerOpened">
            <i class="zmdi zmdi-edit"></i>
          </a>
        </div>

        <div ng-show="newShare.expirationDate.enable" class="col-xs-12 field-ctn clearfix ng-hide detail-share-exp-date"
             ng-hide="!isDatepickerOpened" id="dateField">
          <label for="comment" class="labelDateExpiration col-xs-6">
            {{ "RIGHT_PANEL.DETAILS.EXPIRATION_DATE" | translate}}:
          </label>

          <div class="datepicker-border-fix date-picker dp-blue  datepicker-drop-right"
               ng-class="{ 'is-opened': opened == true }">
            <div class="fg-line datepicker-ctn" ng-class="{ 'fg-toggled': opened == true }">
              <div class="form-inline ">
                <input ng-click="open($event, 'opened')" type="text" class="form-control  date-picker-input"
                       datepicker-popup="{{format}}" show-weeks="false" is-open="opened" min-date="minDate"
                       datepicker-options="dateOptions" ng-required="true" close-text="Close"
                       placeholder="{{newShare.expirationDate.value | date: 'fullDate'}}"
                       ng-disabled="!newShare.expirationDate.userCanOverride"
                       ng-model="newShare.expirationDate.value"/>
              </div>
            </div>
          </div>
        </div>
        <div class="action-share-details-row clearfix actions">
          <small>{{'RIGHT_PANEL.DETAIL_SHARE.DOWNLOADED' | translate}}</small>
          <p class="data">{{recipientShareDetails.current.downloaded }} {{'RIGHT_PANEL.DETAIL_SHARE.TIMES' | translate}}</p>
          <a href="" title="{{'RIGHT_PANEL.DETAIL_SHARE.VIEW_MORE' | translate}}" class="disabled">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card col-xs-12 ">
  <button class="btn abort-sharing-cta disabled-btn" ng-click="">
    <i class="zmdi zmdi-close"></i>
    <span>{{'RIGHT_PANEL.DETAIL_SHARE.ABORT_SHARE' | translate}}</span>
  </button>
</div>
