<div>
  <div class="header-sidebar">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" ng-click="mactrl.sidebarToggle.right = false"></i>
    <h2 class="header-more-options setEllipsis"> {{currentSelectedDocument.current.name}} </h2>
    <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" ng-click="mactrl.sidebarToggle.right = false"></i>
    </span>
  </div>

  <div ng-cloak="" class="tabsdemoStaticTabs tab-nav-detail" ng-class="{ 'two-tabs': currentPage !== 'my_files'}">
    <md-content>
      <md-tabs md-selected="data.selectedIndex" md-dynamic-height="" md-border-bottom="">
        <md-tab id="tab1" label="{{'RIGHT_PANEL.DETAILS.TITLE' | translate}}" class="col-xs-4 no-padding">
          <md-content>
            <div ng-show="currentSelectedDocument.current.name">
              <div id="profile-main" class="detail-workgroup">
                <div class="p-relative m-b-20 img-preview-ctn">
                  <p ng-show="currentSelectedDocument.current.hasThumbnail === true" href="">
                    <img class="img-responsive"
                         ng-src="data:image/png;base64,{{currentSelectedDocument.current.thumbnail}}" alt="">
                  </p>
                  <div ng-show="!currentSelectedDocument.current.hasThumbnail === true" class="np-preview-ctn">
                    <i class="fa fa-eye-slash no-preview" aria-hidden="true"></i>
                    <p>{{ "RIGHT_PANEL.DETAILS.NO_PREVIEW" | translate }}</p>
                  </div>
                </div>
                <div>
                  <div class="description-ctn form-sidebar"
                       x-ng-class="{'show-full-comment': commentFocused}"
                       x-ng-init="commentFocused = false">
                    <textarea title="{{'INFORMATION_TAB.EDIT_DESCRIPTION' | translate}}"
                              class="comment"
                              spellcheck="false"
                              name="description"
                              id="description"
                              x-ng-attr-placeholder="{{'INFORMATION_TAB.INSERT_DESCRIPTION' | translate}}"
                              x-ng-model="currentSelectedDocument.current.description"
                              x-ng-bind="currentSelectedDocument.current.description"
                              x-ng-change="updateDocument(currentSelectedDocument.current)"
                              x-ng-model-options="{ updateOn: 'blur' }"
                              x-ng-init="commentFocused = false"
                              x-ng-focus="commentFocused = true"
                              x-ng-blur="commentFocused = false"
                              x-ng-readonly="currentPage !== 'my_files'">

                    </textarea>
                    <span x-ng-if="(((!commentFocused) && (currentSelectedDocument.current.description.length > 54)));">...</span>
                    <div class="edit-description clic-enabled" x-ng-click="commentFocused = !commentFocused ; commentFocused">
                      <i class="zmdi zmdi-edit" x-ng-if="!commentFocused"
                         title="{{'INFORMATION_TAB.EDIT_DESCRIPTION' | translate}}"></i>
                      <i class="zmdi zmdi-close" x-ng-if="commentFocused"
                         title="{{'INFORMATION_TAB.ABORT_EDIT' | translate}}"></i>
                    </div>
                  </div>
                </div>
                <div class="visible-xs clearfix sidebar-toolbar">
                  <ul class="actions col-xs-12" ng-show="currentPage == 'my_files'">
                    <li ng-click="showCurrentFile(documentFile,$event)" event-propagation-stop class="col-xs-3">
                      <a href=""
                         title="{{'ACTION.DELETE' | translate}}">
                        <i class="zmdi zmdi-delete"></i>
                      </a>
                    </li>
                    <li class="col-xs-3">
                      <a href="" title="{{'BOUTON_LABEL_TITLE.SHARE' | translate}}" event-propagation-stop="true"
                         ng-click="onShare(); mactrl.sidebarToggle.right = true;">
                        <i class="zmdi zmdi-share"></i>
                      </a>
                    </li>
                    <li class="col-xs-3">
                      <a ng-href="{{linshareBaseUrl}}/documents/{{documentFile.uuid}}/download"
                         title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}" event-propagation-stop>
                        <i class="zmdi zmdi-download"></i>
                      </a>
                    </li>
                    <li class="col-xs-3">
                      <a href="" title="{{'ACTION.COPY_IN_GROUP' | translate}}" dropdown-toggle
                         event-propagation-stop>
                        <i class="zmdi zmdi-copy"></i>
                      </a>
                    </li>
                  </ul>

                  <ul class="actions col-xs-12" ng-show="currentPage == 'received_files'">
                    <li ng-click="showCurrentFile(documentFile,$event)" event-propagation-stop class="col-xs-3">
                      <a href=""
                         title="{{'ACTION.DELETE' | translate}}">
                        <i class="zmdi zmdi-delete"></i>
                      </a>
                    </li>
                    <li class="col-xs-3">
                      <a href="" title="{{'BOUTON_LABEL_TITLE.SHARE' | translate}}" event-propagation-stop="true"
                         class="disabled-work-in-progress">
                        <i class="zmdi zmdi-swap"></i>
                      </a>
                    </li>
                    <li class="col-xs-3">
                      <a ng-href="{{linshareBaseUrl}}/documents/{{documentFile.uuid}}/download"
                         title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}" event-propagation-stop>
                        <i class="zmdi zmdi-download"></i>
                      </a>
                    </li>
                    <li class="col-xs-3">
                      <a href="" title="{{'ACTION.COPY_IN_GROUP' | translate}}" dropdown-toggle
                         event-propagation-stop ng-click="copyIntoFiles(selectedDocuments)">
                        <i class="zmdi zmdi-copy"></i>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="content-detail-area">
                  <div class="flex-ctn detail-info-ctn">
                    <div class="item-l">
                      <span class="first-letter user-info" ng-if="currentPage == 'my_files'">
                        {{userLogged.firstLetter}}
                      </span>
                      <span class="first-letter user-info" ng-if="currentPage == 'received_files'">
                        {{currentSelectedDocument.current.sender.firstName.charAt(0)}}
                      </span>
                    </div>

                    <div class="item-mid">
                      <div class="name" ng-if="currentPage == 'my_files'">{{'ME' | translate}}</div>
                      <div class="name" ng-if="currentPage == 'received_files'">
                        {{currentSelectedDocument.current.sender.firstName}}
                        {{currentSelectedDocument.current.sender.lastName}}
                      </div>
                      <div class="info-item-member" tooltip-placement="bottom" tooltip-popup-delay="500"
                           uib-tooltip="{{currentSelectedDocument.current.modificationDate | date : lsFullDateFormat()}}">
                        <span class="ng-binding">{{'INFORMATION_TAB.UPTADED_THE' | translate}} :
                          {{currentSelectedDocument.current.modificationDate | date: lsFormat()}}
                        </span>
                      </div>
                    </div>

                    <div class="item-r actions">
                      <span>{{currentSelectedDocument.current.size | readableSize: false}}</span>
                      <span class="seperator-inline">|</span>
                      <span title="{{currentSelectedDocument.current.type}}">
                          {{currentSelectedDocument.current.name | getextension }}
                      </span>
                    </div>
                  </div>

                  <div class="meta-data-ctn">
                    <h2 class="subheader">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                      {{'INFORMATION_TAB.META_DATA' | translate}}
                    </h2>
                    <div class="meta-data-content">
                      <div>
                        <p ng-if="currentPage == 'my_files'">
                          {{'RIGHT_PANEL.DETAILS.CREATION_DATE' | translate}}:
                        </p>
                        <p ng-if="currentPage == 'received_files'">
                          {{'RIGHT_PANEL.DETAILS.SHARING_DATE' | translate}}:
                        </p>
                        <p tooltip-placement="bottom" tooltip-popup-delay="500"
                           uib-tooltip="{{currentSelectedDocument.current.creationDate | date : lsFullDateFormat()}}">
                          {{currentSelectedDocument.current.creationDate | date : lsFormat()}}
                        </p>
                      </div>
                      <div>
                        <p>{{'RIGHT_PANEL.DETAILS.EXPIRATION_DATE' | translate}}:</p>
                        <p tooltip-placement="bottom" tooltip-popup-delay="500"
                           uib-tooltip="{{currentSelectedDocument.current.expirationDate | date : lsFullDateFormat()}}">
                          <span ng-if="currentSelectedDocument.current.expirationDate !== null">
                            {{currentSelectedDocument.current.expirationDate | date : lsFormat()}}
                          </span>
                          <span ng-if="currentSelectedDocument.current.expirationDate == null">
                            {{'RIGHT_PANEL.DETAILS.UNDEFINED'  | translate}}
                          </span>
                        </p>
                      </div>
                      <div ng-if="currentPage == 'my_files'">
                        <p>{{'RIGHT_PANEL.DETAILS.SHARED_WITH' | translate}}</p>
                        <p ng-click="nextTab()">
                          <a>{{currentSelectedDocument.current.shared}}
                            {{'RIGHT_PANEL.DETAILS.PEOPLE_SHARED_WITH' | translate}}
                          </a>
                        </p>
                      </div>
                      <div ng-show="linshareModeProduction == false">
                        <p>{{'RIGHT_PANEL.DETAILS.CIPHERED' | translate}}:</p>
                        <p>
                           <span ng-show="currentSelectedDocument.current.ciphered == true">
                            {{'RIGHT_PANEL.DETAILS.CIPHERED_YES' | translate}}
                          </span>
                          <span ng-show="currentSelectedDocument.current.ciphered == false">
                            {{'RIGHT_PANEL.DETAILS.CIPHERED_NO' | translate}}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <label ng-if="share.recipients.length > 0" class="p-t-20">
                  <textarea ng-model="share.sharingNote" placeholder="add a note"></textarea>
                </label>
              </div>
            </div>
            <div ng-hide="currentSelectedDocument.current.name" class="p-l-10 p-r-10">
              {{"RIGHT_PANEL.EMPTY" | translate }}
            </div>
          </md-content>
        </md-tab>
        <md-tab id="tab2" ng-if="currentPage == 'my_files'" label="{{'RIGHT_PANEL.RECIPIENTS.TITLE' | translate}}"
                class="col-xs-4 no-padding">
          <md-content class="md-padding">
            <p class="empty-res" ng-if="currentSelectedDocument.current.shared === 0">
              <i class="zmdi zmdi-info-outline"></i><span>{{'RIGHT_PANEL.RECIPIENTS.NO_SHARES' | translate}}</span>
            </p>
            <div ng-if="currentSelectedDocument.current.shared > 0">
              <div class="input-group search-bar col-xs-12">
                <div id="search-field-ctn">
                  <div class="search-style">
                    <div class="fg-line">
                      <input type="text" class="form-control" autocomplete="off" ng-model="paramFilter['name']"
                             placeholder="{{'RIGHT_PANEL.RECIPIENTS.SEARCH_USERS' | translate}}"
                             ng-change="updateParams()">
                    </div>
                  </div>
                </div>
              </div>

              <div class="recipients-list-sharing-details">
                <div class="recipientsAutocomplete actions"
                     ng-repeat="shareElement in currentSelectedDocument.current.shares"
                     title="{{ shareElement.recipient.domain}}"
                     ng-click="recipientShareDetails.current = shareElement; loadSidebarContent('share-details')">
                  <span ng-show="!shareElement.recipient.external" class="firstLetterFormat">
                    {{shareElement.recipient.firstName.charAt(0)}}
                  </span>
                  <span ng-show="shareElement.recipient.external" class="firstLetterFormat">
                    {{shareElement.recipient.mail.charAt(0)}}
                  </span>

                  <p class="recipientsInfo">
                    <span ng-show="!shareElement.recipient.external" class="user-full-name">
                      <strong>{{shareElement.recipient.firstName}}
                        <span class="lastName">{{shareElement.recipient.lastName.toUpperCase() }}</span>
                      </strong>
                    </span>
                    <span ng-show="shareElement.recipient.external" class="user-full-name">
                      <strong>{{shareElement.recipient.mail}}</strong>
                    </span>
                    <span ng-if="shareElement.downloaded === 0" class="email">
                      {{'RIGHT_PANEL.RECIPIENTS.NOT_DOWNLOADED' | translate}}
                    </span>
                    <span ng-if="shareElement.downloaded !== 0" class="email">
                      {{'RIGHT_PANEL.RECIPIENTS.DOWNLOADED' | translate}}: {{shareElement.downloaded}}
                    </span>
                  </p>
                  <a class="info-partage-link" href=""><i class="zmdi zmdi-info-outline"></i></a>
                </div>
              </div>
            </div>

          </md-content>
        </md-tab>

        <md-tab id="tab3" label="{{'RIGHT_PANEL.ACTIVITIES.TITLE' | translate}}" class="col-xs-4 no-padding disabled">
          <md-content class="md-padding">
            <div class="lv-body stop-propagate">
              <div class="lv-item">
                <div class="work-in-progress-ctn-elm">
                  <div class="work-in-progress-content">
                    <img src="images/wip-banner-small.png">
                    <p class="ng-binding">EN COURS DE CONSTRUCTION</p>
                  </div>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
