  <div class="header-sidebar">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" ng-click="mactrl.sidebarToggle.right = false"></i>
    <h2 class="header-more-options set-ellipsis"> {{vm.currentSelectedDocument.current.name}}</h2>
    <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" ng-click="mactrl.sidebarToggle.right = false"></i>
    </span>
  </div>

  <div id="profile-main" class="detail-workgroup">
    <div class="p-relative m-b-20 img-preview-ctn">
      <p ng-show="vm.currentSelectedDocument.current.hasThumbnail === true" href="">
        <img class="img-responsive"
             ng-src="data:image/png;base64,{{vm.currentSelectedDocument.current.thumbnail}}" alt=""/>
      </p>
      <div class="np-preview-ctn"
           ng-hide="vm.currentSelectedDocument.current.hasThumbnail === true">
        <i class="fa fa-eye-slash no-preview" aria-hidden="true"></i>
        <p>{{ "RIGHT_PANEL.DETAILS.NO_PREVIEW" | translate }}</p>
      </div>
    </div>
    <div title="{{'WIP' | translate}}">
      <div class="description-ctn form-sidebar disabled">
        <div contenteditable="true" class="comment"
             ng-focus="vm.slideTextarea($event)"
             ng-blur="vm.slideUpTextarea($event)"
             ng-keyup="vm.setTextInput($event);"></div>
        <span>{{'INFORMATION_TAB.INSERT_DESCRIPTION' | translate}}</span>
        <div class="edit-description">
          <i class="zmdi zmdi-edit"></i>
        </div>
      </div>
    </div>
    <div class="content-detail-area">
      <div class="flex-ctn detail-info-ctn">
        <div class="item-l">
          <span class="first-letter">{{'UNKNOWN_FIRST_LETTER' | translate}}</span>
        </div>
        <div class="item-mid">
          <div class="name">{{'UNKNOWN_USER' | translate}}</div>
          <div class="info-item-member">
            <span class="ng-binding">{{'INFORMATION_TAB.UPTADED_THE' | translate}} :
              {{vm.currentSelectedDocument.current.modificationDate | date: lsFormat()}}
            </span>
          </div>
        </div>
        <div class="item-r actions">
          <span>{{vm.currentSelectedDocument.current.size | readableSize: false}}</span>
          <span class="seperator-inline">|</span>
          <span title="{{vm.currentSelectedDocument.current.type}}">
            {{vm.currentSelectedDocument.current.name | getextension }}
          </span>
        </div>
      </div>

      <div class="meta-data-ctn">
        <h2 class="subheader">
          <i class="fa fa-file-text" aria-hidden="true"></i>
          {{'INFORMATION_TAB.META_DATA' | translate}}
        </h2>
        <div class="meta-data-content">
          <div>
            <p>{{'INFORMATION_TAB.CREATED_THE' | translate}}:</p>
            <p>{{vm.currentSelectedDocument.current.creationDate | date: lsFormat()}}</p>
          </div>
          <div ng-if="linshareModeProduction == false">
            <p>{{'INFORMATION_TAB.VERSION_HISTORIQUE' | translate}}:</p>
            <p>0 {{'INFORMATION_TAB.VERSIONS' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
