<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" ng-click="mactrl.sidebarToggle.right = false"></i>
  <h2 class="header-more-options">{{'RIGHT_PANEL.CURRENT_SHARE_DETAIL.TITLE' | translate}}</h2>
</div>
<div class="num-items-section-ctn">
  <span>{{selectedDocuments.length}}</span> {{ "RIGHT_PANEL.SHARE.SELECTED_FILES" | translate }}
  <a class="pull-right sidebar-link" ui-sref="documents.upload"  id="show-selected-files" ng-click="mactrl.sidebarToggle.right = false;">
    {{ "RIGHT_PANEL.SHARE_OPTIONS.GO_TO_UPLOAD_FILES" | translate }}
  </a>
</div>
<div class="card col-xs-12" id="content-ctn-sidebar">
  <div class="custom-list-container clearfix">
    <div class="recipients-form-sections clearfix">
      <h2 class="pull-left headerSubCtn"><i class="zmdi zmdi-accounts"> </i>
        {{currentSelectedDocument.current.shared}}
        {{ "RIGHT_PANEL.CURRENT_SHARE_DETAIL.RECIPIENTS" | translate }}
      </h2>
    </div>
    <div class="custom-list-body col-xs-12">
      <div class="custom-list-item readonly" ng-repeat="recipient in shareToDisplay.recipients"
           ng-if="recipient.domain">
        <p class="pull-left circle-ctn"><span class="circle  user-bg">{{recipient.firstName.charAt(0).toUpperCase()}}</span></p>
        <div class="pull-left name-recipients-ctn">
          <p class="pull-left inner-text-li">{{recipient.firstName + ' ' + recipient.lastName}}</p>
          <p class="close-list-icone-btn pull-right" ng-click="newShare.removeRecipient($index)">
            <i class="zmdi zmdi-close "></i>
          </p>
        </div>
      </div>
      <div class="custom-list-item readonly" ng-repeat="recipient in shareToDisplay.recipients"
           ng-if="!recipient.domain">
        <p class="pull-left circle-ctn"><span class="circle  user-bg">{{recipient.mail.charAt(0).toUpperCase()}}</span></p>
        <div class="pull-left name-recipients-ctn">
          <p class="pull-left inner-text-li" title="{{recipient.mail}}">{{recipient.mail}}</p>
          <p class="close-list-icone-btn pull-right" ng-click="newShare.removeRecipient($index)">
            <i class="zmdi zmdi-close "></i>
          </p>
        </div>
      </div>
      <div class="custom-list-item readonly" ng-repeat="list in shareToDisplay.mailingListUuid">
        <p class="pull-left circle-ctn"><span class="circle  user-bg">{{list.listName.charAt(0)}}</span></p>
        <div class="pull-left name-recipients-ctn">
          <p class="pull-left inner-text-li">{{list.listName}}</p>
          <p class=" close-list-icone-btn pull-right" ng-click="newShare.removeMailingList($index)">
            <i class="zmdi zmdi-close"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="recipients-form-sections clearfix">
    <div class="custom-header-list clearfix">
      <h2 class="pull-left headerSubCtn"><i class="zmdi zmdi-settings"></i>
        {{ "RIGHT_PANEL.CURRENT_SHARE_DETAIL.SHARE_PARAMS" | translate }} :
      </h2>
    </div>
    <div id="profile-main">
      <div class="p-10">
        <div class="listview">
          <div class="media">
            <div class="pull-left p-relative col-md-7">
              {{'RIGHT_PANEL.DETAILS.EXPIRATION_DATE' | translate}} :
            </div>
            <div class="media-body">
              <div class="lv-title">{{shareToDisplay.expirationDate | date:'medium'}}</div>
            </div>
          </div>
          <div class="media">
            <div class="pull-left p-relative col-md-7">
              {{'RIGHT_PANEL.SHARE_OPTIONS.NOTIFICATION_DATE' | translate}} :
            </div>
            <div class="media-body">
              <div class="lv-title">{{shareToDisplay.notificationDateForUSDA | date:'medium'}}</div>
            </div>
          </div>
          <div class="media">
            <div class="pull-left col-md-7">
              {{'RIGHT_PANEL.SHARE_OPTIONS.SECURE_SHARING' | translate}} :
            </div>
            <div class="media-body">
              <span ng-show="shareToDisplay.secured === true">
                <i class="fa fa-check-square-o"></i>
              </span>
              <span ng-show="shareToDisplay.secured === false">
                <i class="fa fa-square-o"></i>
              </span>
            </div>
          </div>
          <div class="media">
            <div class="pull-left col-md-7">
              {{'RIGHT_PANEL.SHARE_OPTIONS.USDA' | translate}} :
            </div>
            <div class="media-body">
              <div class="lv-title">
                <span ng-show="shareToDisplay.enableUSDA == true">
                  <i class="fa fa-check-square-o"></i>
                </span>
                <span ng-show="shareToDisplay.enableUSDA == false">
                  <i class="fa fa-square-o"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="media">
            <div class="pull-left col-md-7">
              {{'RIGHT_PANEL.SHARE_OPTIONS.SHARING_ACKNOWLEDGEMENT' | translate}} :
            </div>
            <div class="media-body">
              <div class="lv-title">
                <span ng-show="shareToDisplay.creationAcknowledgement == true">
                  <i class="fa fa-check-square-o"></i>
                </span>
                <span ng-show="shareToDisplay.creationAcknowledgement == false">
                  <i class="fa fa-square-o"></i>
                </span>
              </div>
            </div>
          </div>

          <div class="media" ng-show="shareToDisplay.subject">
            <div class="pull-left col-md-7">
              {{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_SUBJECT' | translate}} :
            </div>
            <div class="media-body">
              <div class="lv-title">{{shareToDisplay.subject}}</div>
            </div>
          </div>
          <div class="media" ng-show="shareToDisplay.message">
            <div class="pull-left col-md-7">
              {{'RIGHT_PANEL.CURRENT_SHARE_DETAIL.MAIL_CONTENT' | translate}} :
            </div>
            <div class="media-body">
              <div class="lv-title">{{shareToDisplay.message}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-sidebar-btn hide">
  <button class="btn btn-primary col-xs-12" ng-click="$state.go('documents.files')">
    {{'RIGHT_PANEL.CURRENT_SHARE_DETAIL.SHARE_OPTIONS' | translate}}
  </button>
</div>
