<working-date-picker></working-date-picker>
<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" ng-click="closeSideBar()"></i>
  <h2 class="header-more-options">{{'RIGHT_PANEL.DETAILS.QUICK_SHARE' | translate}}</h2>
  <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" ng-click="closeSideBar()"></i>
    </span>
</div>

<div class="num-items-section-ctn">
  <span>{{lengthOfSelectedDocuments()}}</span> {{ "RIGHT_PANEL.SHARE.SELECTED_FILES" | translate }}
  <a class="pull-right sidebar-link" href=""
     ng-click="activeBtnShowSelection = !activeBtnShowSelection; toggleFilterBySelectedFiles()"
     data-ng-show="!activeBtnShowSelection">
    {{ "RIGHT_PANEL.SHARE.SHOW_SELECTED_FILES" | translate }}
  </a>
  <a class="pull-right sidebar-link" href=""
     ng-click="activeBtnShowSelection = !activeBtnShowSelection; toggleFilterBySelectedFiles()"
     data-ng-show="activeBtnShowSelection">
     {{ "RIGHT_PANEL.SHARE.UNHIDE_FILES" | translate }}
  </a>
</div>
<div class="card col-xs-12" id="content-ctn-sidebar">
  <div class="custom-list-container clearfix">
    <div class="recipients-form-sections clearfix">
      <h2 class="pull-left headerSubCtn"><i class="groups-user-group"></i>
        {{ "RIGHT_PANEL.SHARE.RECIPIENTS" | translate }}</h2><span class="required-field-hint">*</span>
      <div ng-if="linshareModeProduction == false"
           class="dropdown dropdown-standard popOverForm savelistBtn" uib-dropdown is-open="false"
           on-toggle="toggled()">
        <a href="" class="dropdown-toggle sidebar-link" uib-dropdown-toggle  ng-disabled="disabled"
           alt="{{ 'RIGHT_PANEL.SHARE.CREATE_MAILING_LIST_ALT' | translate }}">
          {{ "RIGHT_PANEL.SHARE.CREATE_MAILING_LIST" | translate }}
        </a>
        <div class="dropdown-menu pull-right">
          <div class="stop-propagate">
            <p class="labelListCtn">
              <input type="email" class="form-control input-sm" id="labelList"
                     placeholder="Saisissez le nom de votre liste">
            </p>
            <md-divider></md-divider>
          </div>
          <div>
            <button class="btn btn-default col-xs-6" ng-click="closeDropdown($event)">
              {{ "NAVIGATION.CANCEL" | translate }}
            </button>
            <button class="btn btn-primary col-xs-6" ng-click="createRecipientList($event)">
              {{ "NAVIGATION.SEND" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <form role="form" class="clearfix">
      <div class="form-group fg-line">
        <div ls-autocomplete-user="SHARING" data-on-select-function="newShare.addRecipient"></div>
      </div>
    </form>

    <div class="custom-list-body col-xs-12 ">
      <div class="custom-list-item" ng-repeat="recipient in newShare.getRecipients() | orderBy : '-' as results"
           tooltip-placement="bottom" tooltip-popup-delay="700"
           uib-tooltip="{{recipient.firstName + ' ' + recipient.lastName +' : '+recipient.domain || recipient.mail}}">
        <p class="pull-left circle-ctn">
          <span ng-show="recipient.domain" class="circle  user-bg">{{recipient.firstName.charAt(0)}}</span>
          <span ng-show="!recipient.domain" class="circle  user-bg">{{recipient.mail.charAt(0).toUpperCase()}}</span>
        </p>
        <div class="pull-left name-recipients-ctn">
          <p ng-show="recipient.domain" class="pull-left inner-text-li">
            {{recipient.firstName + ' ' + recipient.lastName}}
          </p>
          <p ng-show="!recipient.domain" class="pull-left inner-text-li">
            {{recipient.mail}}
          </p>
          <p class="close-list-icone-btn pull-right" ng-click="newShare.removeRecipient(results.length - $index -1)">
            <i class="zmdi zmdi-close "></i>
          </p>
        </div>
      </div>
      <div class="custom-list-item" ng-repeat="list in newShare.getMailingListUuid()">
        <p class="pull-left circle-ctn"><span class="circle  user-bg">L</span></p>
        <div class="pull-left name-recipients-ctn">
          <p class="pull-left inner-text-li">{{list.listName}}</p>
          <p class=" close-list-icone-btn pull-right" ng-click="newShare.removeMailingList($index)">
            <i class="zmdi zmdi-close"></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="recipients-form-sections clearfix">
    <div class="custom-header-list">
      <h2 class="pull-left headerSubCtn"><i class="zmdi zmdi-settings"></i>
        {{ "RIGHT_PANEL.SHARE.SETTINGS" | translate }}
      </h2>
      <a class="more-options sidebar-link" href="" ng-click="loadSidebarContent('more-options')">
        {{ "RIGHT_PANEL.SHARE.MORE_OPTIONS" | translate }}
      </a>
    </div>
    <div ng-show="newShare.expirationDate.enable" class="col-xs-12 field-ctn clearfix" id="dateField">
      <label for="comment" class="labelDateExpiration col-xs-6">
        {{ "RIGHT_PANEL.DETAILS.EXPIRATION_DATE" | translate}}:
      </label>

      <div class="datepicker-border-fix date-picker dp-blue col-xs-6 datepicker-drop-right"
           ng-class="{ 'is-opened': opened == true }">
        <div class="fg-line datepicker-ctn" ng-class="{ 'fg-toggled': opened == true }">
          <div class="form-inline ">
            <input ng-click="open($event, 'opened')" type="text"
                   class="form-control  date-picker-input" datepicker-popup="{{format}}" show-weeks="false"
                   is-open="opened" min-date="minDate" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close"
                   placeholder="{{newShare.expirationDate.value | date: 'fullDate'}}"
                   ng-disabled="!newShare.expirationDate.userCanOverride"
                   ng-model="newShare.expirationDate.value"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-sidebar">

      <div class="form-group col-xs-12 addNote">
        <div class="form-group fg-line">
          <div class="form-inline">
            <label for="mailCustum">{{ "RIGHT_PANEL.SHARE_OPTIONS.ATTACH_EMAIL" | translate }}</label>
            <label class="checkbox checkbox-inline">
              <input type="checkbox" name="mailCustum" ng-checked="custumMailInput"
                     ng-model="mailCustum" ng-init="boo=false" ng-click="custumMailInput = !custumMailInput"/>
              <i class="input-helper"></i>
            </label>
          </div>
        </div>
        <div class="css-slide-up col-xs-12 " ng-hide="!custumMailInput">
          <div class="form-group clearfix fg-line">
            <input type="text" class="form-control input-sm"
                   ng-model="newShare.subject"
                   placeholder="{{ 'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_SUBJECT' | translate }}">
          </div>
          <textarea class="form-control comment" rows="5"
                    placeholder="{{ 'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_BODY_PLACEHOLDER' | translate }}"
                    ng-model="newShare.message">
          </textarea>
        </div>
        <md-divider class="col-xs-12 mailDivider hidden-xs" md-inset=""></md-divider>
      </div>
    </div>
  </div>
</div>
<div class="bottom-sidebar-btn">
  <button class="btn btn-default col-xs-6" ng-click="closeSideBar(); closeDropdown($event)">
    {{ "NAVIGATION.CANCEL" | translate }}
  </button>
  <button class="btn btn-primary col-xs-6" ng-click="submitShare(newShare, selectedDocuments, selectedUploads)">
    {{ "NAVIGATION.SHARE" | translate }}
  </button>
</div>
