<div class="search-bar" x-ng-show="activatedField.name == 'true'">
  <div class="input-group">
    <div class="fg-line">
      <input type="text" class="form-control" placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
             x-ng-change="updateParams()"
             x-ng-model="paramFilter['name']">
    </div>
            <span class="input-group-addon last clickable"
                  x-ng-click="advancedFilterBool = !advancedFilterBool"
                  data-toggle="tooltip"
                  title=""
                  data-placement="right"
                  data-original-title="{{'TOOLTIP.ADVANCED_FILTER' | translate}}"
                  slide-toggle="#searchFilterCtn">
              <i class="zmdi hidden-xs clickable"
                 x-ng-class="{'zmdi-chevron-down': !advancedFilterBool,
                              'zmdi-chevron-up': advancedFilterBool} "></i>
          </span>
  </div>
</div>

<div id="searchFilterCtn" class="slideable" duration="750ms" easing="cubic-bezier(.02, .01, .47, 1);">
  <div class="hidden-xs row fix-margin-row col-md-12 m-t-30 formsearch" style="float:none;">

    <div x-ng-show="activatedField.size == 'true'">
      <label>{{'FILTER_COMPONENT.FILTER_BY_SIZE' | translate}}</label>

      <div class="clearfix"></div>

      <!--SIZE START -->
      <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
              <i class="zmdi zmdi-trending-down" x-ng-class="{disabledIcon: !showUnit}"></i>
            </span>

          <div class="fg-line" x-ng-init="showUnit=true">
            <input type="text" x-ng-disabled="!showUnit"
                   class="form-control" name="start"
                   maxlengh="3" placeholder="min"
                   x-ng-model="filters['sizeStart']">
          </div>
        </div>
      </div>

      <!--SIZE END -->
      <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">
              <i class="zmdi zmdi-trending-up" x-ng-class="{disabledIcon: !showUnit}"></i>
            </span>

          <div class="fg-line">
            <input type="text" x-ng-disabled="!showUnit" name="end" class="form-control" placeholder="max"
                   x-ng-model="filters['sizeEnd']"
                   maxlengh="3"/>
          </div>
        </div>
      </div>


      <!--SIZE UNITY -->
      <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-database" x-ng-class="{disabledIcon: !showUnit}"></i>
            </span>
          <div class="fg-line " x-ng-class="{disabledIcon: !showUnit}">
            <select chosen
                    data-placeholder-text-single="'{{'MEMBER_TAB.WRITE' | translate}}'"
                    disable-search="true"
                    allow-single-deselect="true"
                    x-ng-model="filters['unity']"
                    class="form-control custumSelect outlineFFremove w-100"
                    x-ng-init="filters['unity'] = '1000'"
                    x-ng-disabled="!showUnit" >
              <option value="1000">Ko</option>
              <option value="1000000">Mo</option>
              <option value="1000000000">Go</option>
              <option value="1000000000000">To</option>
            </select>
          </div>
        </div>
      </div>


      <!--CHECKBOX INIT-->
      <div class="col-sm-1">
        <div class="input-group">
          <div class="fg-line">
            <span class="input-group-addon middle"><i class="md md-today"></i></span>

            <div class="form-inline">
              <label class="checkbox checkbox-inline m-r-20">
                <input type="checkbox" x-ng-checked="true" name="check"
                       x-ng-checked="showUnit"
                       x-ng-model="showUnit">
                <i class="input-helper"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--DATE TYPE -->
    <div x-ng-show="activatedField.date == 'true'">
      <label class="m-t-30">{{'FILTER_COMPONENT.FILTER_BY_DATE.HEADER' | translate}}</label>

      <div class="clearfix"></div>

      <!--TAG SELECT DATE -->
      <div x-ng-init="showDateRange=true">
        <div class="col-sm-3">
          <div class="input-group">
              <span class="input-group-addon">
                <i class="zmdi zmdi-calendar ma-icon" x-ng-class="{disabledIcon: !showDateRange}"></i>
              </span>

            <div class="fg-line" x-ng-class="{disabledIcon: !showDateRange}">
              <select chosen
                      data-placeholder-text-single="'{{'MEMBER_TAB.WRITE' | translate}}'"
                      disable-search="true"
                      allow-single-deselect="true"
                      x-ng-model="filters['dateType']"
                      class="form-control custumSelect outlineFFremove w-100"
                      x-ng-init="filters['dateType'] = '1'">
                      x-ng-disabled="!showDateRange">
                <option value="1">{{'FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE' | translate}}</option>
                <option value="2">{{'FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE' | translate}}</option>
              </select>
            </div>
          </div>
        </div>

        <!--DATE START -->
        <div class="col-sm-4">
          <div class="date-picker input-group dp-blue" x-ng-class="{'is-opened': dateStartOpened == true}">
              <span class="input-group-addon">
                <i class="zmdi zmdi-calendar-check ma-icon" x-ng-class="{disabledIcon: !showDateRange}"></i>
              </span>

            <div class="fg-line" x-ng-class="{'fg-toggled': dateStartOpened == true}">
              <input x-ng-disabled="!showDateRange" x-ng-click="open($event, 'dateStartOpened')" type="text"
                     class="form-control" datepicker-popup="{{format}}" show-weeks="false"
                     is-open="dateStartOpened" max-date="maxDate" datepicker-options="dateOptions"
                     x-ng-required="true" close-text="Close"
                     placeholder="{{'FILTER_COMPONENT.FILTER_BY_DATE.BEGINNING_DATE' | translate}}"
                     x-ng-model="filters['dateStart']"/>
            </div>
          </div>
        </div>

        <!--DATE END -->
        <div class="col-sm-4">
          <div class="date-picker input-group dp-blue" x-ng-class="{'is-opened': dateEndOpened == true}">
              <span class="input-group-addon">
                <i class="zmdi zmdi-calendar-close ma-icon" x-ng-class="{disabledIcon: !showDateRange}"></i>
              </span>

            <div class="fg-line" x-ng-class="{'fg-toggled': opened2 == true}">
              <input x-ng-disabled="!showDateRange" x-ng-click="open($event, 'dateEndOpened')"
                     type="text" class="form-control"
                     datepicker-popup="{{format}}" show-weeks="false"
                     x-ng-model="filters['dateEnd']" is-open="dateEndOpened"
                     max-date="maxDate" min-date="filters['dateStart']"
                     datepicker-options="dateOptions" x-ng-required="true"
                     close-text="Close" placeholder="{{'FILTER_COMPONENT.FILTER_BY_DATE.ENDING_DATE' | translate}}"/>
            </div>
          </div>
        </div>


        <!--CHECKBOX INIT -->
        <div class="col-sm-1">
          <div class="input-group">
            <div class="fg-line">
              <span class="input-group-addon middle"><i class="md md-today"></i></span>

              <div class="form-inline">
                <label class="checkbox checkbox-inline m-r-20">
                  <input type="checkbox" name="isDateActive" name="check" x-ng-checked="true"
                         x-ng-model="showDateRange"/>
                  <i class="input-helper"></i>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--RECIPIENT -->
    <div x-ng-show="activatedField.email == 'true'">
      <label class="m-t-30">{{'FILTER_COMPONENT.FILTER_BY_RECIPIENT.HEADER' | translate}}</label>

      <div class="clearfix"></div>
      <div class="col-sm-7">
        <div class="input-group" x-ng-init="showRecipients=true">
          <span class="input-group-addon">
            <i class="zmdi zmdi-account" x-ng-class="{disabledIcon: !showRecipients}"></i>
          </span>

          <div class="fg-line">
            <input id="typeaheadDestinataires" type="text"
                   x-ng-disabled="!showRecipients"
                   autocomplete="off"
                   class="form-control"
                   placeholder="{{'FILTER_COMPONENT.FILTER_BY_RECIPIENT.PLACEHOLDER' | translate}}"
                   x-ng-model="filters['selectedContact']"
                   x-typeahead-min-length="3"
                   x-typeahead-on-select="addRecipients(share.recipients, filters['selectedContact'])"
                   x-typeahead-wait-ms="30"
                   x-typeahead-loading="searchingContact"
                   x-typeahead-input-formatter="formatLabel(filters['selectedContact'])"
                   x-uib-typeahead="u as userRepresentation(u) for u in searchGuestRestrictedContacts($viewValue) | limitTo:3"
                   popover-placement="bottom"
                   popover-trigger="mouseenter"
                   popover-title="Email"
                   popover="{{popoverValue}}">
          </div>
        </div>
      </div>


      <!--CHECKBOX -->
      <div class="col-sm-1 pull-right">
        <div class="input-group">
          <div class="fg-line">
            <span class="input-group-addon middle"><i class="md md-today"></i></span>

            <div class="form-inline">
              <label class="checkbox checkbox-inline m-r-20">
                <input type="checkbox" name="isDestinatairesActive" x-ng-checked="true"
                       x-ng-model="showRecipients"/>
                <i class="input-helper"></i>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--VALIDATE-->
  <div class="col-md-9 m-t-50 m-b-30">
    <button class="btn bgm-white waves-effect" x-ng-click="clearParams()">
      {{'FILTER_COMPONENT.REINITIALIZE' | translate}}
    </button>
    <button class="btn bgm-blue waves-effect" x-ng-click="updateFilters()">
      {{'FILTER_COMPONENT.SUBMIT' | translate}}
    </button>
  </div>

  <div class="clearfix"></div>
</div>
