<form class="form-horizontal" name="login_form"
      novalidate x-ng-submit="signupForm()">
  <fieldset>
    <legend class="modal-header">
      Connexion
    </legend>
    <div class="modal-body">
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-8">
          <input type="email"
                 class="form-control"
                 placeholder="Email"
                 name="email"
                 x-ng-model="input.email"
                 id="inputEmail"
                 required/>
        </div>

      </div>
      <div class="form-group">
        <label for="inputPassword"
               class="col-sm-2 control-label">Password
        </label>

        <div class="col-sm-8">
          <input type="password"
                 class="form-control"
                 id="inputPassword"
                 placeholder="Password"
                 x-ng-model="input.password"
                 name="password"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit"
                  class="btn btn-primary">Connexion
          </button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
