<header id="header"
        style="background-color: {{ currentState.color }}"
        data-ng-include
        src="'views/includes/header.html'"
        data-ng-controller="headerCtrl as hctrl">
</header>
<section id="main">
  <aside id="sidebar" data-ng-include src="'views/includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left }"></aside>
  <aside id="chat" data-ng-include src="'views/includes/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
  <section id="content"
           ng-class="{'content-toggled': mactrl.sidebarToggle.left }">
    <div class="container" id="home" style="height: {{sizeHeight}}px">
        <div class="dashboard-welcome">
          <img src="/images/logo-sky.png" />
          <h4>Bienvenue sur votre application de partage de fichiers <b>LinShare</b>.</h4>
        </div>

    </div>
  </section>
</section>

<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>

