<div class="container" id="home" style="height: {{sizeHeight}}px">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header ch-alt">
        <h2 flow-btn><a href="" ui-sref="documents.files">{{"UPLOAD" | translate}}</a>
          <!--<small>Déposer un fichier dans votre espace Linshare, vous serez redirigé dans vos fichiers</small>-->
        </h2>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header ch-alt">
        <h2 flow-btn><a href="" ui-sref="documents.upload">{{"UPLOAD_SHARE" | translate}}</a>
          <!--<small>Déposer et partager un fichier, vous serez redirigé vers l'interface d'upload</small>-->
        </h2>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header ch-alt">
        <h2>{{"UPLOAD_GROUP" | translate}}
          <!--<small>A venir</small>-->
        </h2>
      </div>
    </div>
  </div>

</div>
