 <div class="container" id="wip-ctn-page" style="height: {{sizeHeight}}px">

	<div class="msg-info">
		<p translate>
      WORK_IN_PROGRESS.WORK_IN_PROGRESS_INFO
		</p>
		<span class="ctn">
			<span>
				<i class="zmdi zmdi-info"></i>
			</span>
		</span>
	</div>
   <div id="wip-page"  style="height: {{sizeHeight}}px">
     <div class="dashboard-wip">
       <div class="wip-content-ctn">
         <img src="../../images/wip-banner.png" />
         <p translate> WORK_IN_PROGRESS.WORK_IN_PROGRESS_MSG</p>
       </div>
     </div>
   </div>
</div>
