<div ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail two-tabs hidden-tabs-header">
  <md-content>
    <form name="$ctrl.form" class="custom-height-form">
      <md-tabs class="custom-height-md-tabs" md-selected="$ctrl.selectedTabIndex"
        md-border-bottom="">
        <md-tab id="tab1" label="{{'INFORMATION_TAB.TITLE' | translate}}" class="col-xs-4 noPadding">
          <div class="card col-xs-12 form-within-sidebar" id="content-ctn-sidebar">
            <div class="create-upload-request">
              <div class="custom-list-container clearfix" ng-if="$ctrl.operation !== 'update'">
                <div class="recipients-form-sections clearfix recipients-form-custom-margin">
                  <h2 class="pull-left headerSubCtn" translate>RIGHT_PANEL.SHARE.RECIPIENTS</h2><span
                    class="required-field-hint">*</span>
                  <div ng-if="$ctrl.linshareModeProduction == false"
                    class="dropdown dropdown-standard popOverForm savelistBtn" uib-dropdown is-open="false"
                    on-toggle="toggled()">
                    <a href="" class="dropdown-toggle sidebar-link" uib-dropdown-toggle ng-disabled="disabled"
                      alt="{{'RIGHT_PANEL.SHARE.CREATE_MAILING_LIST_ALT' | translate}}" translate>
                      RIGHT_PANEL.SHARE.CREATE_MAILING_LIST
                    </a>
                    <div class="dropdown-menu pull-right">
                      <div class="stop-propagate">
                        <p class="labelListCtn">
                          <input type="email" class="form-control input-sm" id="labelList"
                            placeholder="Saisissez le nom de votre liste">
                        </p>
                        <md-divider></md-divider>
                      </div>
                      <div>
                        <button class="btn btn-default col-xs-6"
                          ng-click="$ctrl.closeDropdown($event)" translate>
                          NAVIGATION.CANCEL
                        </button>
                        <button class="btn btn-primary col-xs-6"
                          ng-click="$ctrl.createRecipientList($event)" translate>
                          NAVIGATION.SEND
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <form role="form" class="clearfix">
                  <div class="form-group fg-line">
                    <div ls-autocomplete-user="USERS"
                      data-on-select-function="$ctrl.uploadRequestGroupObject.addRecipient">
                    </div>
                  </div>
                </form>
                <div class="custom-list-body col-xs-12 ">
                  <div class="custom-list-item"
                    ng-repeat="recipient in $ctrl.uploadRequestGroupObject.getNewRecipients() | orderBy : '-' as results"
                    tooltip-placement="bottom" tooltip-popup-delay="700"
                    uib-tooltip="{{recipient.firstName + ' ' + recipient.lastName +' : '+recipient.mail || recipient.domain}}">
                    <p class="pull-left circle-ctn">
                      <span ng-show="recipient.domain" class="circle user-bg">{{recipient.firstName.charAt(0)}}</span>
                      <span ng-show="!recipient.domain"
                        class="circle user-bg">{{recipient.mail.charAt(0).toUpperCase()}}</span>
                    </p>
                    <div class="pull-left name-recipients-ctn">
                      <p ng-show="recipient.domain" class="pull-left inner-text-li">
                        {{recipient.firstName + ' ' + recipient.lastName}}
                      </p>
                      <p ng-show="!recipient.domain" class="pull-left inner-text-li">
                        {{recipient.mail}}
                      </p>
                      <p class="close-list-icone-btn pull-right"
                        ng-click="$ctrl.uploadRequestGroupObject.removeNewRecipient(results.length - $index -1)">
                        <i class="zmdi zmdi-close "></i>
                      </p>
                    </div>
                  </div>
                  <div class="custom-list-item"
                    ng-repeat="list in mainvm.sidebar.getData().$ctrl.uploadRequestGroupObject.getMailingList()"
                    tooltip-placement="bottom" tooltip-popup-delay="700" uib-tooltip="" owner-label
                    owner-label-user="{firstName: list.ownerFirstName, lastName: list.ownerLastName, mail: list.ownerMail}"
                    owner-label-attr="uib-tooltip">
                    <p class="pull-left circle-ctn"><span class="circle user-bg"><i
                          class="ls-contact-list-item"></i></span></p>
                    <div class="pull-left name-recipients-ctn">
                      <p class="pull-left inner-text-li">{{list.listName}}</p>
                      <p class=" close-list-icone-btn pull-right"
                        ng-click="$ctrl.uploadRequestGroupObject.removeMailingList($index)">
                        <i class="zmdi zmdi-close"></i>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="recipients-form-sections clearfix">
                <div class="custom-header-list">
                  <h2 class="pull-left headerSubCtn">
                    <span translate>UPLOAD_REQUESTS.FORM_CREATE.EMAIL_MESSAGE</span>
                    <span class="required-field-hint">*</span>
                  </h2>
                </div>
                <div class="form-sidebar">
                  <div class="form-group col-xs-12 addNote no-padding">
                    <div class="form-group fg-line" ng-class="{'has-error' : ((uploadRequestForm.label.$touched ||uploadRequestForm.$submitted)
                      && uploadRequestForm.label.$invalid)}">
                      <textarea type="text" name="label" class="form-control input-sm"
                        ng-model="$ctrl.uploadRequestGroupObject.label"
                        placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_SUBJECT' | translate}}" required>
                        </textarea>
                      <span
                        ng-show="(uploadRequestForm.label.$touched ||uploadRequestForm.$submitted) && uploadRequestForm.label.$invalid"
                        translate>
                        UPLOAD_REQUESTS.ERROR.SUBJECT_REQUIRED
                      </span>
                    </div>
                    <div class="form-group fg-line">
                      <textarea class="form-control comment" rows="5"
                        placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_BODY_PLACEHOLDER' | translate}}"
                        ng-model="$ctrl.uploadRequestGroupObject.body" name="body">
                        </textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="recipients-form-sections clearfix">
                <div class="custom-header-list">
                  <h2 class="pull-left headerSubCtn" translate>
                    RIGHT_PANEL.SHARE.SETTINGS
                  </h2>
                  <a class="more-options sidebar-link" href=""
                    ng-click="$ctrl.selectedTabIndex = 1" translate>
                    RIGHT_PANEL.SHARE.MORE_OPTIONS
                  </a>
                </div>
                <div ng-if="$ctrl.uploadRequestGroupObject.allowedToExpiration.enable"
                  class="col-xs-12 field-ctn clearfix">
                  <label for="comment" class="labelDateExpiration col-xs-6 no-padding label-muted" translate>
                    RIGHT_PANEL.DETAILS.EXPIRATION_DATE
                  </label>
                  <div class="datepicker-border-fix date-picker dp-blue col-xs-6"
                    ng-class="{'is-opened': opened == true}">
                    <div class="fg-line datepicker-ctn" ng-class="{'fg-toggled': opened == true, 'has-error' : ((uploadRequestForm.expiration.$touched ||uploadRequestForm.$submitted)
                        && uploadRequestForm.expiration.$invalid)}">
                      <div class="form-inline">
                        <input working-date-picker ng-click="open($event, 'opened')" type="text"
                          ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToExpiration.canOverride"
                          class="form-control date-picker-input" uib-datepicker-popup show-weeks="false"
                          is-open="opened" required
                          datepicker-options="::$ctrl.uploadRequestGroupObject.expirationDateOptions"
                          min="{{::$ctrl.uploadRequestGroupObject.expirationDateOptions.minDate}}"
                          max="{{::$ctrl.uploadRequestGroupObject.expirationDateOptions.maxDate}}"
                          name='expiration' ng-model="$ctrl.uploadRequestGroupObject.expiryDate"
                          ng-change="$ctrl.uploadRequestGroupObject.calculateDatePickerOptions()" />
                      </div>
                      <span ng-show="uploadRequestForm.expiration.$invalid" translate
                        translate-interpolation="messageformat"
                        translate-values="{ value: $ctrl.uploadRequestGroupObject.getMaxDateOfExpiration(true) }">
                        UPLOAD_REQUESTS.ERROR.INVALID_EXPIRATION_DATE
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToTotalSizeOfFiles.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.TOTAL_SIZE_OF_FILES
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <input
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToTotalSizeOfFiles.canOverride"
                      class="form-control custom-bordered-input" required min="0"
                      max="{{::$ctrl.uploadRequestGroupObject.getMaxSize('total')}}"
                      name="totalSizeOfFiles"
                      ng-model="$ctrl.uploadRequestGroupObject.totalSizeOfFiles.value"
                      type="number" />
                    <md-select class="form-control custom-bordered-select m-0"
                      ng-model="$ctrl.uploadRequestGroupObject.totalSizeOfFiles.unit"
                      name="totalSizeOfFilesUnit" required
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToTotalSizeOfFiles.canOverride">
                      <md-option value="KILO">KB</md-option>
                      <md-option value="MEGA">MB</md-option>
                      <md-option value="GIGA">GB</md-option>
                    </md-select>
                  </div>
                  <div class="has-error">
                    <span ng-show="uploadRequestForm.totalSizeOfFiles.$invalid
                        || uploadRequestForm.totalSizeOfFilesUnit.$invalid" translate
                      translate-interpolation="messageformat"
                      translate-values="{ max: $ctrl.uploadRequestGroupObject.getMaxSize('total', true) }">
                      UPLOAD_REQUESTS.ERROR.TOTAL_SIZE_OF_FILES_REQUIRED
                    </span>
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToMaxNumberOfFiles.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.MAX_NUMBER_OF_FILES
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <input name="maxNumberOfFiles" required
                      max="{{::$ctrl.uploadRequestGroupObject.allowedToMaxNumberOfFiles.maxValue}}"
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToMaxNumberOfFiles.canOverride"
                      class="form-control custom-bordered-input custom-single-input"
                      ng-model="$ctrl.uploadRequestGroupObject.maxNumberOfFiles" type="number" />
                  </div>
                  <div class="has-error">
                    <span ng-show="uploadRequestForm.maxNumberOfFiles.$invalid" translate
                      translate-interpolation="messageformat"
                      translate-values="{ max: $ctrl.uploadRequestGroupObject.allowedToMaxNumberOfFiles.value}">
                      UPLOAD_REQUESTS.ERROR.MAX_NUMBER_OF_FILES_REQUIRED
                    </span>
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToMaxSizeOfAFile.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.MAX_SIZE_OF_A_FILE
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <input
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToMaxSizeOfAFile.canOverride"
                      class="form-control custom-bordered-input" name="maxSizeOfAFile"
                      max="{{::$ctrl.uploadRequestGroupObject.getMaxSize('one')}}" required
                      ng-model="$ctrl.uploadRequestGroupObject.maxSizeOfAFile.value" type="number" />
                    <md-select class="form-control m-0 custom-bordered-select"
                      ng-model="$ctrl.uploadRequestGroupObject.maxSizeOfAFile.unit"
                      name="maxSizeOfAFileUnit" required
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToMaxSizeOfAFile.canOverride">
                      <md-option value="KILO">KB</md-option>
                      <md-option value="MEGA">MB</md-option>
                      <md-option value="GIGA">GB</md-option>
                    </md-select>
                  </div>
                  <div class="has-error">
                    <span
                      ng-show="uploadRequestForm.maxSizeOfAFile.$invalid || uploadRequestForm.maxSizeOfAFileUnit.$invalid"
                      translate translate-interpolation="messageformat"
                      translate-values="{ max: $ctrl.uploadRequestGroupObject.getMaxSize('one', true) }">
                      UPLOAD_REQUESTS.ERROR.MAX_SIZE_OF_A_FILE_REQUIRED
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </md-tab>
        <md-tab id="tab2" label="{{'EDIT' | translate}}" class="col-xs-4 noPadding disabled">
          <div class="card col-xs-12 form-within-sidebar" id="content-ctn-sidebar">
            <div class="create-upload-request">
              <div class="recipients-form-sections clearfix">
                <div class="custom-header-list">
                  <h2 class="pull-left headerSubCtn" translate>
                    RIGHT_PANEL.SHARE.SETTINGS
                  </h2>
                </div>
                <div ng-if="$ctrl.uploadRequestGroupObject.allowedToActivation.enable"
                  class="col-xs-12 field-ctn clearfix">
                  <label for="comment" class="labelDateExpiration col-xs-6 no-padding label-muted" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.ACTIVATION_DATE
                  </label>
                  <div class="datepicker-border-fix date-picker dp-blue col-xs-6"
                    ng-class="{'is-opened': opened == true}">
                    <div class="fg-line datepicker-ctn" ng-class="{'fg-toggled': opened == true, 'has-error' : ((uploadRequestForm.activation.$touched ||uploadRequestForm.$submitted)
                        && uploadRequestForm.activation.$invalid)}">
                      <div class="form-inline">
                        <input working-date-picker ng-click="open($event, 'opened')" type="text"
                          ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToActivation.canOverride"
                          class="form-control date-picker-input" uib-datepicker-popup show-weeks="false"
                          is-open="opened" ng-required="true" name="activation"
                          datepicker-options="::$ctrl.uploadRequestGroupObject.activationDateOptions"
                          min="{{::$ctrl.uploadRequestGroupObject.activationDateOptions.minDate}}"
                          max="{{::$ctrl.uploadRequestGroupObject.activationDateOptions.maxDate}}"
                          ng-model="$ctrl.uploadRequestGroupObject.activationDate"
                          ng-change="$ctrl.uploadRequestGroupObject.calculateDatePickerOptions()" />
                      </div>
                      <span ng-show="uploadRequestForm.activation.$invalid" translate
                        translate-interpolation="messageformat"
                        translate-values="{ value: $ctrl.uploadRequestGroupObject.getMinDateOfActivation(true) }">
                        UPLOAD_REQUESTS.ERROR.INVALID_ACTIVATION_DATE
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToPasswordProtected.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.PASSWORD_PROTECTED
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <input type="checkbox"
                      ng-checked="$ctrl.uploadRequestGroupObject.secured"
                      name="secured"
                      ng-model="$ctrl.uploadRequestGroupObject.secured"
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToPasswordProtected.canOverride" />
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToDeletion.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.ALLOW_DELETION
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <input type="checkbox" ng-checked="$ctrl.uploadRequestGroupObject.allowDeletion"
                      name="allowDeletion" ng-model="$ctrl.uploadRequestGroupObject.allowDeletion"
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToDeletion.canOverride">
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToClosure.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.ALLOW_CLOSURE
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <input type="checkbox" ng-checked="$ctrl.uploadRequestGroupObject.allowClosure"
                      name="allowClosure" ng-model="$ctrl.uploadRequestGroupObject.allowClosure"
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToClosure.canOverride">
                  </div>
                </div>
                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToExpiryNotification.enable">
                  <label for="comment" class="labelDateExpiration col-xs-6 no-padding label-muted" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.EXPIRY_NOTIFICATION_DATE
                  </label>
                  <div class="datepicker-border-fix date-picker dp-blue col-xs-6"
                    ng-class="{'is-opened': opened == true}">
                    <div class="fg-line datepicker-ctn" ng-class="{'fg-toggled': opened == true, 'has-error' : ((uploadRequestForm.notificationDate.$touched ||uploadRequestForm.$submitted)
                      && uploadRequestForm.notificationDate.$invalid)}">
                      <div class="form-inline">
                        <input working-date-picker ng-click="open($event, 'opened')" type="text"
                          ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToExpiryNotification.canOverride"
                          class="form-control date-picker-input" uib-datepicker-popup show-weeks="false"
                          is-open="opened" ng-required="true" name='notificationDate'
                          datepicker-options="::$ctrl.uploadRequestGroupObject.notificationDateOptions"
                          min="{{::$ctrl.uploadRequestGroupObject.notificationDateOptions.minDate}}"
                          max="{{::$ctrl.uploadRequestGroupObject.notificationDateOptions.maxDate}}"
                          ng-model="$ctrl.uploadRequestGroupObject.notificationDate"
                          ng-change="$ctrl.uploadRequestGroupObject.calculateDatePickerOptions()" />
                      </div>
                      <span ng-show="uploadRequestForm.notificationDate.$invalid" translate
                        translate-interpolation="messageformat" translate-values="{ min: $ctrl.uploadRequestGroupObject.getMinDateOfActivation(true),
                            max: $ctrl.uploadRequestGroupObject.getMaxDateOfNotification(true)  }">
                        UPLOAD_REQUESTS.ERROR.INVALID_NOTIFICATION_DATE
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12 field-ctn clearfix"
                  ng-if="$ctrl.uploadRequestGroupObject.allowedToNotificationLanguage.enable">
                  <label for="comment" class="label-muted col-xs-6 no-padding" translate>
                    UPLOAD_REQUESTS.FORM_CREATE.NOTIFICATION_LANGUAGE
                  </label>
                  <div class="col-xs-6 flex-combine-input">
                    <md-select class="form-control m-0 custom-bordered-lang-select"
                      ng-disabled="!$ctrl.uploadRequestGroupObject.allowedToNotificationLanguage.canOverride"
                      ng-model="$ctrl.uploadRequestGroupObject.notificationLanguage">
                      <md-option
                        ng-repeat="unit in $ctrl.uploadRequestGroupObject.allowedToNotificationLanguage.units"
                        ng-value="unit">{{::unit}}</md-option>
                    </md-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-tab>
      </md-tabs>
    </form>
  </md-content>
</div>