@import "../../../_colors.scss";

/**********************
  PASSWORD INPUT HINTS
***********************/

password-input-hints {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #eeeeee;
  padding: 20px 15px;
  margin-top: 10px;
  border-radius: 2px;

  .password-hint {
    margin-top: 3px;
    display: flex;
    align-items: center;

    i {
      font-size: 15px;

      &.zmdi-check-circle {
        color: $primary-color;
      }
    }

    span {
      margin-left: 7px;
    }
  }
}

password-input-hints:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  border: .75rem solid transparent;
  border-bottom-color: #eeeeee;
}


@media (min-width: 768px) {
  password-input-hints {
    position: absolute;
    top: -6em;
    right: -22em;
  }

  password-input-hints:after {
    content: '';
    border-left: 0;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -20px;
    border: .75rem solid transparent;
    border-right-color: #eeeeee;
  }
}
