@import "../../../_fonts.scss";
@import "../../../_colors.scss";

/**********************
 POP UP STYLE OVERRIDE OF SWEETALERT PLUGIN
***********************/

.sweet-alert {
  text-align: left;
  width: 350px;
  padding: 0;
  background-color: $component-dialog-alert-sweet-alert-background-color;
  border-radius: 5px;
    .swal-title {
      color: rgba(0,0,0,.65);
      background-color: #ffffff;
      margin: 0;
      font-weight: bold;
      text-transform: none;
      position: relative;
      display: block;
      padding: 1.5em 1em 0.5em 1em;
      font-size: 15px;
      line-height: normal;
      text-align: inherit;
      margin: 0;
    }
    .swal-text {
      background-color: #ffffff;
      float: none;
      margin: 0;
      text-align: inherit;
      color: #797979;
      font-size: 13.5px;
      line-height: 1.6em;
      padding: 16px 14px 24px;
      min-width: 100%;
    }
    .swal-footer {
      background-color: #ffffff;
      display: flex;
      text-align: center;
      padding: 13px;
      margin: 0;
      padding: 0;
      border: solid 1px #eee;

      .swal-button-container {
        margin: 0px;
        text-transform: uppercase;
        font-size: 1.05em;
        letter-spacing: 0.03em;
        text-align: center;
        font-weight: 400;
        flex: 1 1 100%;
        padding: 0;

        button {
          width: 100%;
          text-transform: uppercase;

          &.swal-button {
            letter-spacing: 0.03em;
            font-weight: 400;
          }

          &.swal-button--confirm {
            transition: all 150ms ease-in-out ;
            color: $component-dialog-alert-confirm-color;
            transition: all 150ms ease-in-out;
            background-color: transparent;
            box-shadow: none;
            border-radius: 0 0 3px 0;

            &:hover{
              color: $component-dialog-alert-confirm-hover-color !important;
            }
          }

          &.swal-button--cancel {
            background-color: $btnDefaultBg;
            color: $btnDefaultTxt;
            transition : all 200ms ease-in-out;
            margin: 0px;
            border-right: solid 1px #eee;
            border-radius: 0 0 0 3px;

            &:hover {
              background-color: transparent;
              color: $btnDefaultTxtHover;
            }
          }
        }
      }
    }

  .sa-icon {
    margin: 30px auto;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: rgba(255,255,255,0.35); }
  100% {
    background-color: rgba(255,255,255,0.35); }
}

@keyframes pulseWarning {
  0% {
    border-color: rgba(255,255,255,0.35); }
  100% {
    border-color: rgba(255,255,255,0.35); }
}

/**** warning style **/
.sweet-alert {
  .sa-icon.sa-warning {
    border-color: rgba(255,255,255,0.35);
    .sa-body, .sa-dot {
      background-color: rgba(255,255,255,0.35);
    }
  }
}

@media (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}

/* OVERRIDE  AND REMOVE BOUNCE ANIMATION IN DISPLAY */
@keyframes showSweetAlert {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.7) !important;
  }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95)!important;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1) !important;
  }
}


/**************
FILE DIRECTORY DIALOG
***********/

#lv-file-directory {
  min-width: 400px;
  border-radius: 6px;
  min-height: 340px;
  max-width: 420px;
  form {
    height: 100%;
    display: flex;
    flex: 1 1 100%;
  }
  #lv-dialog-content-ctn {
    padding: 0;
    flex: 1 1 100%;
    overflow: hidden;
    .lv-tem {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 35px;
      border-bottom: solid 1px #eee;
      cursor: pointer;
      transition: background-color 150ms ease-in-out;
      &:hover {
        background-color: #f7f7f7;
      }
    }
    .lv-ctn {
      max-height: 270px;
      overflow-y: auto;
      padding-bottom: 50px;
    }
    .lv-icon-ctn {
      font-size: 1.25em;
      .ls-workgroup {
        color: #537792;
      }
    }
    .lv-name {
      p {
        margin: 0;
        font-size: 0.9em;
      }
    }
    .lv-create-input {
      border: 0;
      outline: none;
      background: inherit;
      width: 100%;
    }
    .lv-create-item-container {
      cursor: auto;
      transition: all 0.1s ease-in-out;
    }
    .lv-create-item-container-show {
      height: 35px;
    }
    .lv-create-item-container-hide {
      height: 0 !important;
      overflow: hidden;
    }
    .lv-actions-container {
      margin-right: 15px;
      display: flex;
      align-items: center;
      .fa {
        font-size: 16px;
        padding: 0px 5px;
        cursor: pointer;
      }
      .fa-check {
        color: #05B1FF;
      }
      .fa-times {
        color: #696969;
      }
    }
    .lv-actions-link {
      font-size: 1.2em;
    }
    .lv-header-dialog {
      line-height: 100%;
      text-transform: uppercase;
      font-weight: 500;
      color: #4C4C4C;
      border-bottom: solid 1px #dadada;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      .lv-col-1 {
        font-size: 1.25em;
        padding: 10px 0;
        &.actions a:not(.disabled) i {
          color: #585858;
        }
      }
      .lv-col-2 {
        padding: 10px 0;
      }
      .lv-col-3 {
        border-left: solid 1px #e4e4e4;
        padding: 15px 0;
        font-size: 1.2em;
      }
    }
    .lv-col-1 {
      flex: 0 0 45px;
    }
    .lv-col-2 {
      flex: 1 1 auto;
      text-align: left;
      overflow: hidden;
    }
    .lv-col-3 {
      flex: 0 0 45px;
    }
    md-dialog-actions {
      border-top: solid 1px #eee;
    }
  }
  .actions.white-inline-link {
    margin-top: -4px !important;
    > a > i {
      color: rgba(255, 255, 255, 0.6);
    }
    > a:hover > i {
      color: rgba(255, 255, 255, 0.95) !important;
    }
  }
  .add-btn {
    &:hover {
      color: $primary-alt-color2;
    }
  }
}

md-dialog.custom-dialog {
  min-width: 360px;
  md-toolbar {
    min-height: 55px;
    max-height: 55px;
    flex: 0 0 55px;

    .md-toolbar-tools {
      background-color: $primary-color;
      width: 100%;
      padding: 0 14px;
      h2 {
        color: #fff;
        font-size: 0.85em;
      }
    }
  }

  md-dialog-actions {
    display: flex;
    border: solid 1px #eee;
    padding: 0;
    background-color: #fff;

    button {
      border-radius: 3px;
      text-transform: uppercase;
      width: 49%;
      font-size: 1.05em;
      letter-spacing: 0.03em;
      flex: 1 1 auto;
      text-align: center;
      margin: 0px;
      padding: 1.1em 0;
    }
  }

  md-input-container {
    &.md-input-focused .md-input {
      border-color: $primary-alt-color2;
    }
  }

  .cancel {
    border: none;
    box-shadow: none;
    border-right: solid 1px #eee;
  }

  .confirm {
    border: none;
  }
}

@media (max-width: 768px) {
  .md-dialog-container {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    position: fixed;
    height: auto !important;
  }

  #lv-dialog-content-ctn {
    position: relative;
  }
  #lv-file-directory {
    border-radius: initial;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;

    .actions.white-inline-link {
      margin-right: 0 !important;
      a {
        padding-top: 3px;
      }
    }
    .lv-ctn {
      max-height: calc(100% - 50px) !important;
      position: absolute;
      width: 100%;
    }
  }

  md-dialog.custom-dialog {
    min-width: auto;
    md-toolbar {
      border-radius: 0;
      background-color: $primary-color !important;
    }

    .md-toolbar-tools {
      padding: 0 5px 0 14px;
    }
  }
}
