@import "../../../fonts.scss";
@import "../../../colors.scss";

/**********************
 POP UP STYLE OVERRIDE OF SWEETALERT PLUGIN
***********************/

.sweet-alert {
  margin-left: -175px;
  text-align: left;
  width: 350px;
  padding: 0;
  background-color: $bgDialogAlert;
  border-radius: 5px;
  h2 {
    background-color: #ffffff;
    margin: 0;
    text-align: left;
    font-weight: bold;
    padding: 1em 1em 0.5em 1em;
    font-size: 1.1em;
  }
  p{
    background-color: #ffffff;
    font-size: 1.05em;
    line-height: 1.6em;
    padding: 0 1em 2em 1em;
  }
  .sa-button-container{
    background-color: #ffffff;
    display: flex;
    border: solid 1px #eee;
    padding: 0em 1em 0em;
  }
  button {
    border-radius: 3px;
    text-transform: uppercase;
    width: 49%;
    font-size: 1.05em;
    letter-spacing: 0.03em;
    flex: 1 1 auto;
    text-align: center;
    margin: 0px;
    padding: 1.1em 0;
    span {
      display: block;
      font-size: 0.7em;
      margin-top: -2px;
      opacity: 0.65;
      text-transform: lowercase;
    }
  }
  .sa-icon {
    margin: 30px auto;
  }
}

button.cancel {
  background-color: $btnDefaultBg;
  color: $btnDefaultTxt;
  transition : all 200ms ease-in-out;
  margin: 0px;
  border-right: solid 1px #eee;
  &:hover {
    background-color: transparent;
    color: $btnDefaultTxtHover;
  }
}

button.confirm {
  transition: all 150ms ease-in-out ;
  color: $btnPrimaryBg;
  transition: all 150ms ease-in-out;
  background-color: transparent !important;
  box-shadow: none !important;
  &:hover{
    color: $btnPrimaryBgHover;
  }
}

@keyframes pulseWarningIns {
  0% {
    background-color: rgba(255,255,255,0.35); }
  100% {
    background-color: rgba(255,255,255,0.35); }
}

@keyframes pulseWarning {
  0% {
    border-color: rgba(255,255,255,0.35); }
  100% {
    border-color: rgba(255,255,255,0.35); }
}

/**** warning style **/
.sweet-alert {
  .sa-icon.sa-warning {
    border-color: rgba(255,255,255,0.35);
    .sa-body, .sa-dot {
      background-color: rgba(255,255,255,0.35);
    }
  }
}

/**** error style **/
.sweet-alert {
  .sa-icon.sa-error {
    border-color: $swalIconColor;
  }
  .sa-icon.sa-error .sa-line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: $swalIconColor;
    display: block;
    top: 37px;
    border-radius: 2px;
  }
}

/**** info style **/
.sweet-alert {
  .sa-icon.sa-info::after{
    left: 50%;
  }
}

@media (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}

/* OVERRIDE  AND REMOVE BOUNCE ANIMATION IN DISPLAY */
@keyframes showSweetAlert {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.7) !important;
  }
  80% {
    transform: scale(0.95);
    -webkit-tranform: scale(0.95)!important;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1) !important;
  }
}


/**************
FILE DIRECTORY DIALOG
***********/

#lv-file-directory {
  min-width: 400px;
  border-radius: 6px;
  min-height: 340px;
  max-width: 420px;
  form {
    height: 100%;
    display: flex;
    flex: 1 1 100%;
  }
  #lv-dialog-content-ctn {
    padding: 0;
    flex: 1 1 100%;
    .lv-tem {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 35px;
      border-bottom: solid 1px #eee;
      cursor: pointer;
      transition: background-color 150ms ease-in-out;
      &:hover {
        background-color: #f7f7f7;
      }
    }
    .lv-ctn {
      max-height: 270px;
      overflow-y: auto;
    }
    .lv-icon-ctn {
      font-size: 1em;
    }
    .lv-name {
      p {
        margin: 0;
        font-size: 0.9em;
      }
    }
    .lv-actions-link {
      font-size: 1.2em;
    }
    .lv-header-dialog {
      line-height: 100%;
      text-transform: uppercase;
      font-weight: 500;
      color: #4C4C4C;
      border-bottom: solid 1px #dadada;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      .lv-col-1 {
        font-size: 1.25em;
        padding: 10px 0;
        &.actions a i {
          color: #585858;
        }
      }
      .lv-col-2 {
        padding: 10px 0;
      }
      .lv-col-3 {
        border-left: solid 1px #e4e4e4;
        padding: 15px 0;
        font-size: 1.2em;
      }
    }
    .lv-col-1 {
      flex: 0 0 45px;
    }
    .lv-col-2 {
      flex: 1 1 auto;
      text-align: left;
      overflow: hidden;
    }
    .lv-col-3 {
      flex: 0 0 45px;
    }
    md-dialog-actions {
      border-top: solid 1px #eee;
    }
  }
  md-toolbar {
    min-height: 55px;
    max-height: 55px;
    flex: 0 0 55px;
    .md-toolbar-tools {
      background-color: $bgDialogAlert;
      width: 100%;
      padding: 0 14px;
      h2 {
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.85em;
      }
    }
  }
  md-dialog-actions {
    display: flex;
    border: solid 1px #eee;
    padding: 0;
    background-color: #fff;
    button {
      border-radius: 3px;
      text-transform: uppercase;
      width: 49%;
      font-size: 1.05em;
      letter-spacing: 0.03em;
      flex: 1 1 auto;
      text-align: center;
      margin: 0px;
      padding: 1.1em 0;
    }
  }
  .cancel {
    border: none;
    box-shadow: none;
    border-right: solid 1px #eee;
  }
  .confirm {
    border: none;
  }
  .actions.white-inline-link {
    margin-top: -4px !important;
    > a > i {
      color: rgba(255, 255, 255, 0.6);
    }
    > a:hover > i {
      color: rgba(255, 255, 255, 0.95) !important;
    }
  }
  .add-btn {
    &:hover {
      color: #1b7dcc;
    }
  }
}

@media (max-width: 768px) {
  #lv-file-directory {
    border-radius: initial;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    md-toolbar{
      border-radius: 0;
      background-color: #3faaff !important;
    }
    .md-toolbar-tools{
      padding: 0 5px 0 14px;
    }
    .actions.white-inline-link {
      margin-right: 0 !important;
    }
    .lv-ctn {
      max-height: calc(100% - 168px) !important;
    }
  }
}
