@import "../../../fonts.scss";
@import "../../../colors.scss";

#overlayMobile {
  pointer-events: fill;
  display: none;
}

#overlayMobileFab {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 350ms ease-in-out all;
  pointer-events: none;
  display: block;
  z-index: 12;
  &.double-row-fab {
    top: -185px;
  }
}

/**********************
  RESPONSIVE MODE
***********************/

@media (max-width: 1092px) {
  #overlayMobile.toggledShowOverlay {
    display: block;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 350ms ease-in-out all 500ms;
  }
  #overlayMobileFab.toggledMobileShowOverlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
  }
}

/**********************
  MOBILE RESPONSIVE
***********************/

@media (max-width: 768px) {
  #overlayMobile.toggledShowOverlay {
    display: block;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
