.date-picker .dp-inline {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  display: inline-block;
}
.date-picker:not(.dp-blue):not(.dp-red) .tr-dpnav th {
  background: #009688;
}
.date-picker:not(.dp-blue):not(.dp-red) .tr-dpday th {
  background: #00877a;
}
.date-picker:not(.dp-blue):not(.dp-red) .dp-active {
  background-color: #009688;
}
.date-picker:not(.dp-blue):not(.dp-red) .dp-actions .btn-link {
  color: #009688;
}
.date-picker .dropdown-menu {
  padding: 0;
  margin: 0;
}
.date-picker.is-opened .dropdown-menu {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}
.dp-table {
  position: relative;
  z-index: 1;
}
.dp-table thead > tr th:first-child {
  padding-left: 15px;
}
.dp-table thead > tr th:last-child {
  padding-right: 15px;
}
.dp-table tbody > tr:first-child > td {
  padding-top: 15px;
}
.dp-table tbody > tr:last-child > td {
  padding-bottom: 15px;
}
.dp-table tbody > tr td:first-child {
  padding-left: 15px;
}
.dp-table tbody > tr td:last-child {
  padding-right: 15px;
}
.btn-dp {
  background: transparent;
  border: 0;
}
.btn-dp .zmdi {
  font-size: 18px;
  line-height: 100%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 34px;
}
.btn-dp .zmdi:hover {
  background-color: rgba(0, 0, 0, 0.14);
}
.btn-dp[disabled] {
  color: #CDCDCD;
}
.btn-dp[disabled] .dp-day-muted {
  color: #CDCDCD;
}
.btn-dpbody {
  padding: 13px;
  font-size: 12px;
  border-radius: 2px;
}
.btn-dpbody:not(.dp-active):not([disabled]) {
  color: #000;
}
.btn-dpbody:not(.dp-active):not([disabled]):not(.dp-today):hover {
  background: #F0F0F0;
}
.btn-dpday {
  border-radius: 50%;
  width: 42px !important;
  height: 42px;
}
.tr-dpnav .btn-dp {
  color: #fff;
  padding: 25px 0 23px;
}
.tr-dpday th {
  padding: 8px 0 9px;
  color: #fff;
  text-transform: uppercase;
}
.dp-active {
  color: #fff;
}
.dp-today:not(.dp-active) {
  background-color: #E2E2E2;
}
.dp-day-muted {
  color: #8B8B8B;
}
.dp-title {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}
.dp-title:hover {
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 2px;
}
.dp-blue .tr-dpnav th {
  background: #2196F3;
}
.dp-blue .tr-dpday th {
  background: #128ff2;
}
.dp-blue .dp-active {
  background-color: #2196F3;
}
.dp-blue .dp-actions .btn-link {
  color: #2196F3;
}
.dp-actions {
  padding: 10px 20px 20px;
  text-align: right;
}
.dp-actions .btn-link {
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}
