@import "../../../fonts.scss";
@import "../../../colors.scss";

#overlayMobile {
  pointer-events: fill;
  display: none;
}

#overlayMobileFab {
  position: fixed;
  z-index: 16;
  top: -105px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -o-transition: 550ms ease-in-out all;
  -moz-transition: 550ms ease-in-out all;
  -webkit-transition: 550ms ease-in-out all;
  transition: 0ms ease-in-out all;
  pointer-events: fill;
  display: none;
  &.double-row-fab {
    top: -185px;
  }
}

/**********************
  RESPONSIVE MODE
***********************/

@media (max-width: 1092px) {
  #overlayMobile.toggledShowOverlay {
    display: block;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #overlayMobileFab.toggledMobileShowOverlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/**********************
  MOBILE RESPONSIVE
***********************/

@media (max-width: 768px) {
  #overlayMobile.toggledShowOverlay {
    display: block;
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
