@import "../../../fonts.scss";
@import "../../../colors.scss";

/**********************
  FAB
***********************/

#fabButtonCtn {
  position: relative;
  z-index: 4;
}

.fab-open.lock-scroll{
  #fabButtonCtn {
    z-index: 14;
  }
  #main{
    pointer-events: none;
  }
}

@media (max-width: 767px) {
  .ng-isolate-scope.md-fab-toolbar.md-left.md-animations-ready,
  .ng-isolate-scope.md-fab-toolbar.md-left.md-animations-waiting {
    width: 100%;
    position: fixed;
    z-index: 30;
    bottom: 0;
  }
  .ng-scope.ng-isolate-scope.md-fab-toolbar.md-left.md-animations-ready.md-is-opened {
    z-index: 5;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    .md-fab-toolbar-background {
      background-color: rgb(255, 255, 255) !important;
    }
    #primary-fab-action.md-focused {
      background-color: rgb(255, 255, 255) !important;
    }
  }
  md-fab-toolbar.md-left md-fab-trigger {
    right: 16px;
    bottom: 16px;
    > button {
      margin: 0;
    }
  }
  md-fab-toolbar .md-fab-toolbar-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    height: 105px;
  }
  .title-fab {
    margin: 0;
    font-size: 0.75em;
    padding: 0.5em 0 0.45em 0.7em;
  }
  md-fab-toolbar md-toolbar {
    pointer-events: none;
    z-index: 23;
  }
  md-fab-toolbar .md-toolbar-tools {
    padding: 0 !important;
    max-height: 70px !important;
    margin: 0 !important;
    height: 70px !important;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition: 500ms ease-in-out all;
    -webkit-transition: 500ms ease-in-out all;
    -moz-transition: 500ms ease-in-out all;
  }
  md-toolbar {
    background-color: rgb(255, 255, 255) !important;
    height: 105px !important;
    p.title-fab {
      transition: 500ms ease-in-out all;
      -webkit-transition: 500ms ease-in-out all;
      -moz-transition: 500ms ease-in-out all;
      filter: alpha(opacity=0);
      opacity: 0;
    }
  }
  md-fab-toolbar.md-is-open {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    p.title-fab {
      filter: alpha(opacity=1);
      opacity: 1;
    }
    pointer-events: auto;
  }
  md-fab-toolbar {
    pointer-events: none;
    md-fab-trigger {
      pointer-events: auto;
      bottom: 16px;
      right: 16px !important;
      top: inherit !important;
      height: 56px;
      padding: 0;
      > button.md-button.md-fab {
       margin: 0;
      }
    }
    md-toolbar .md-fab-action-item {
      width: 50%;
      a {
        text-align: center;
        span {
          text-transform: initial;
          display: block;
          font-size: 0.70em;
          color: $textColorDark;
          margin-top: 0.25em;
        }
         [class^="groups-"] {
          line-height: 1.5;
        }
        span.disabled-work-in-progress {
          color: $disabled;
        }
        i {
          font-size: 1.7em;
          color: $textColorDark;
          display: block;
        }
        i.fab-groups {
          color: #688eb7;
        }
        i.disabled-work-in-progress {
          color: $disabled;
          + span {
            color: $disabled;
          }
        }
      }
      .md-toolbar-tools {
        padding: 0;
        width: 100%;
      }
      .md-button.md-icon-button {
        margin: 12px 0 0 0;
        height: 100%;
        min-width: 0;
        line-height: 24px;
        padding: 8px;
        width: 100%;
        border-radius: inherit;
      }
    }
  }
  #fabMyFiles.solo-fab {
    bottom:0;
    button.md-fab {
      float: right;
      background-color: #05b1ff;
      right: 16px;
      bottom: 16px;
      margin: 0;
      i{
        display: inline-block;
        font-size: 2em;
        margin: auto;
        position: absolute;
        top: 14px;
        left: 20px;
      }
    }
  }
}
button.md-fab {
  background-color: #05b1ff !important;
  &:not([disabled]):hover {
    background-color: #05b1ff !important;
  }
}

/**********************
  FAB MY FILES
***********************/

#fabMyFiles {
  width: 100%;
  position: fixed;
  z-index: 15;
  margin-top: calc(100% + 55px) !important;

  .md-toolbar-tools a.disabled-work-in-progress {
    color: $disabled important;
    pointer-events: none !important;
  }
  #primary-fab-action {
    position: relative;
    background-color: $primaryClr;
    > div {
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.12);
    }
    i {
      display: inline-block;
      font-size: 2em;
      margin: auto;
      position: absolute;
      top: -1px;
      left: 5px;

    }
  }
}
