<section style="height: 800px;"
         flow-init
         flow-files-submitted="$flow.upload()"
         flow-drop
         flow-drag-enter="myStyle={'background-color':'#f3f3f3'}"
         flow-drag-leave="myStyle={}"
         flow-complete="tableParams.reload()"
         flow-file-success="$file.msg = $message"
         ng-style="myStyle">

  <section>
    <div class="well well-sm">
      <ul class="list-inline">
        <li>
          <a href="" title="add files">
            <span>
              <i class="fa fa-plus-square-o fa-sm"></i>
            </span>
            Add files
          </a>
        </li>
        <li>
          <a href="" ng-click="delete()" ng-if="SelectedElement.length > 0 " title="Delete">
            <i class="fa fa-trash fa-lg">delete</i>
          </a>
        </li>
        <li>
          <a ng-href="url" ng-click="download()" title="Download">
            <i class="fa fa-download fa-lg" ng-if="SelectedElement.length > 0 ">download</i>
          </a>
        </li>
        <li>
          <a href="" title="Share">
            <i class="fa fa-share-alt fa-lg" ng-if="SelectedElement.length > 0" ls-share-modal="">share</i>
          </a>
        </li>
        <li>
          <a href="" title="Share">
            <i class="fa fa-share-alt fa-lg" ng-if="SelectedElement.length > 0" ls-share-modal="">Copy to group</i>
          </a>
        </li>
        <!--<li class="pull-right">-->
        <!--<progressbar popover-placement="bottom" popover="{{$flow}}"-->
        <!--class="progress-striped active"-->
        <!--max="200" value="200"><ls-upload-progressbar tanta="SelectedElement"></ls-upload-progressbar>-->
        <!--<i>166 / 200</i>-->
        <!--</progressbar>-->
        <!--</li>-->
      </ul>
    </div>

  </section>

  <section class="col-md-12">
    <div class="row">
      <section>
        <div class="table-responsive">
          <table class="table table-condensed" ng-table="tableParams" ng-init="SelectedElement = []">
            <tr ng-repeat="o in $data"
                panel-files-detail uuid={{o.uuid}}
                ischecked="isChecked"
                selected="SelectedElement">
              <td><input type="checkbox" name="check" ng-checked="isChecked" ng-init="isChecked = false"
                         ng-model="isChecked"/></td>
              <!--<td><span class="fa fa-file-excel-o"></span></td>-->
              <td data-title="'Nom'" class="col-md-9" uuid={{o.uuid}}>
                <span class="fa fa-file-excel-o"></span>&nbsp; &nbsp;
                <a ng-href="/linshare/documents/{{o.uuid}}/download">{{o.name}}</a>
              </td>
              <td data-title="'Taille du fichier'" class="col-md-2">
                {{o.size | readableSize: false}}
              </td>
              <td data-title="'Partagé'" class="col-md-1"></td>
            </tr>
          </table>
        </div>
        <div ng-hide="allFiles.$object.length > 0">
         You have no files . You can drag and drop files here or click the button add files.
        </div>
      </section>

      <section class="col-md-3" style="display: none;">
        <div class="pull-right">

          <a class="fa fa-close fa-2x" href="" x-ng-click="close()"></a>
        </div>
        <div>
          <h3>{{documentDetails.detail.name}}</h3></div>

        <tabset justified="true">
          <tab heading="Detail">
            <div>
              <p><img ng-src="data:image/png;base64,{{documentDetails.detail.thumbnail}}"/></p>

            </div>

            <div>
              <p>Taille du fichier:{{documentDetails.detail.size | readableSize }}</p>
            </div>

            <div>
              <p>Type:{{documentDetails.detail.type}}</p>
            </div>
            <div>
              <p>Créé le:{{documentDetails.detail.creationDate}}</p>
            </div>
            <div>

              <p>Modifié le:{{documentDetails.detail.ModificationDate}}</p>
            </div>
            <div>
              <p>Expire le:{{documentDetails.detail.expirationDate}}</p>
            </div>
            <div>
              <p>Chiffré:{{documentDetails.detail.ciphered}}</p>
            </div>
            {{'HEADLINE' | translate}}
          </tab>
          <tab heading="Activity" active="active">
            {{SelectedElement}}
            {{documentDetails.detail.thumbnail}}

            <p><img ng-src="{{documentDetails.detail.thumbnail}}"/></p>
          </tab>
        </tabset>

        <!--class="pull-right" style="display: none;">-->
        <!--<a href="" x-ng-click="close()" class="fa fa-close fa-lg"></a>-->
        <!--<div  pageslide ps-open="false">-->
        <!--<p>some random content...</p>-->
        <!--</div>-->

        <!--qsdfqsd-->
        <!--{{checked}}-->
      </section>
    </div>

  </section>
</section>
Selected Files : {{SelectedElement}}
<!--<div flow-file-progress="hello">Hello</div>-->
