<div class="table-responsive">

  <table class="table" ng-table="tableParams">
    <tr ng-repeat="o in $data">

      <td data-title="'Nom'" class="col-md-10">
      <span><i>
        <input type="checkbox" name="check"/> </i>
      </span>

        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-file"></span>&nbsp; &nbsp;
        <a ng-href="/linshare/documents/{{o.uuid}}/download">{{o.name}}</a>
      </td>
      <td data-title="'Taille du fichier'">
        {{o.size | readableSize}}
      </td>
      <td data-title="'Partagé'"></td>
    </tr>
  </table>
</div>
