<md-list-item>
  <span>{{fromWhere == mySpacePage ? "HEADER.UPLOAD_PROGRESS.TO_MY_SPACE" : "HEADER.UPLOAD_PROGRESS.TO_COMMON_SPACE" | translate}}</span>
  <span><a data-ui-sref="documents.upload({from: fromWhere, openSidebar: false})">
    {{'HEADER.UPLOAD_PROGRESS.FOOTER' | translate}} ({{currentFilesLength}})</a>
  </span>
</md-list-item>
<div class="lv-item row" x-ng-repeat="file in $flow.files | orderBy: '-' | filter: {_from: fromWhere} | limitTo: 3 as filesFilterred">
  <a class="col-xs-10 p-0"
     data-ui-sref="documents.upload({from: fromWhere, idUpload: file.uniqueIdentifier, openSidebar: false})">
    <div class="lv-title p-0">
      <div class="p-0 file-name">
        <span>{{file.name}}</span>
      </div>
      <div class="p-0 secondary-info-ctn">
        <span class="secondary-info-text">{{file.size | readableSize: false}}</span>
      </div>
    </div>
    <p x-ng-hide="(file.isComplete() || file.paused) || file.error" class="time-remaining">
      {{file.timeRemaining() | remainingTime}}
    </p>
    <p x-ng-show="file.isComplete() && !file.error && !file.doingAsyncUpload" class="time-remaining">
      {{"HEADER.UPLOAD_PROGRESS.UPLOAD_DONE" | translate}}
    </p>
    <p x-ng-show="file.doingAsyncUpload && !file.error" class="time-remaining">
      {{"HEADER.UPLOAD_PROGRESS.UPLOAD_SERVER" | translate}}
    </p>
    <p x-ng-show="file.paused && !file.isComplete() && !file.error" class="time-remaining">
      {{"HEADER.UPLOAD_PROGRESS.UPLOAD_PAUSED" | translate}}
    </p>
    <!--TODO IAB : file.error should be reset with maybe a timeout so that the element can be faded in
                    each time the retry btn is triggered thx to the show-danger class -->
    <p class="time-remaining text-danger"  x-ng-class="{'show-danger' : file.error}">
      {{file.hasCustomMessage ? file.errorMessage : (file.errorMessage | translate)}}
    </p>
    <uib-progressbar x-ng-class="{
                  'progress-striped active upload-server-state' : file.doingAsyncUpload,
                  'progress-striped active uploading-state' : (!file.isComplete() && !file.doingAsyncUpload),
                  'upload-completed': file.isComplete() && !file.error && !file.doingAsyncUpload,
                  'upload-error': file.error}"
                     max="100" value="file.error ? 100 : file.progress()*100"></uib-progressbar>
  </a>
  <div class="col-xs-2 p-0">
    <ul class="lv-actions actions align-list-icons">
      <li class="col-xs-12" x-ng-if="(!file.isComplete() && !file.error) || (file.error && !file.canBeRetried)"
          x-ng-class="{'disabled-work-in-progress': file.error || file.doingAsyncUpload}">
        <a href="" x-ng-click="file.cancel()">
          <i class="zmdi zmdi-close"></i>
        </a>
      </li>
      <li class="col-xs-12" x-ng-show="file.isComplete() && !file.error">
        <a href="" x-ng-click="file.cancel()">
          <i class="zmdi zmdi zmdi-check"></i>
        </a>
      </li>
      <li class="col-xs-12" x-ng-if="file.error && file.canBeRetried">
        <a href="" x-ng-click="mainVm.flowUploadService.checkQuotas([file], true);">
          <i class="zmdi zmdi-replay"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
