

/**********************
  HEADER TOOLBAR COMMON FILE LISTING
***********************/

.files {
  .card-header {
    padding: 0;
  }
  .card-body {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
}

/**********************
  MAIN TOOLBAR
***********************/
.files, .upload-files {
  #breadcrumb-wrap {
    border-bottom: 1px solid $dividerClr;
    color: #282829;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    overflow: inherit;
    position: relative;
    right: 0;
    top: 0;
    background: $midGreyBg;
    display: flex;
    flex-wrap: nowrap;
    z-index: 15;
    height: 55px;
    .breadcrumbs-ctn {
      top: 6px;
      position: relative;
      float: left;
      font-weight: 500;
      white-space: nowrap;
      text-align: left;
      display: block;
      overflow: hidden;
      padding-left: 11px;
      line-height: 48px;
      height: 43px;
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: 0.005em;
      flex: 1 1 auto;
      .sub-category-chevron {
        display: inline-block;
        margin-left: 7px;
        font-size: 1.3em;
        float: left;
      }
      .breadcrumb {
        float: left;
        border: none;
        color: $primary-color;
        padding: 0 0 0 4px;
        i {
          display: inline-block;
          margin-right: 0.6em;
        }
      }
    }
  }
}

.files #breadcrumb-wrap .breadcrumbs-ctn, .upload-files #breadcrumb-wrap .breadcrumbs-ctn .breadcrumb-current-view{
  a {
    float: left;
    border: none;
    color: #4a4a4a;
    padding: 0 0 0 4px;
  }
    a:last-of-type
    {
      float: left;
      border: none;
      color: $primary-color !important;
      padding: 0 0 0 4px;
    }
}

.upload-files {
  .menu-popover-ctn {
    flex: 0 0 55px;
  }
}

.files {
  #breadcrumb-wrap {
    .navBarBtn {
      float: left;
      display: block;
      position: absolute;
      top: 14px;
      padding: 2px 0 0 0;
      margin-left: 70px;
      left: 70px;
      right: 9px;
      .btn {
        color: #535353;
        text-transform: inherit;
        font-weight: bold;
        font-size: 1.1em;
      }
      i {
        font-size: 1em;
        display: inline-block;
        margin-right: 5px;
        span {
          font-size: 0.75em;
          display: inline-block;
          margin-left: 0.6em;
          margin-top: -3px;
          padding-bottom: 3px;
          margin-right: 5px;
        }
      }
      button {
        padding: 4px 10px;
      }
    }
    .toolbar-actions-items {
      font-size: 17px;
      width: auto;
      flex: 0 auto !important;
      display: flex;
      margin-right: 5px;
      min-width: 100px;
      max-width: 159px;
      border-left: solid 1px #d8d8d8;
      padding-left: 12px;
      &.wide-action-bar {
        width: auto;
      }
      .sort-dropdown {
        display: flex;
        justify-content: center;
        align-content: center;
        flex: 1 1 auto;
        .dropdown {
          a.dropdown-toggle {
            color: $textColorDark;
            padding: 0;
            text-align: center;
            line-height: 31px;
            height: 30px;
            i {
              color: #535050;
            }
          }
          &.open {
            a.dropdown-toggle > i {
              color: $primary-color;
            }
          }
        }
        .dropdown-menu {
          right: 0;
        }
        & + a {
          line-height: 28px;
          margin: 0;
          flex: 1 1 auto;
          text-align: center;
        }
        > a {
          width: 100%;
        }
      }
      > a, .sort-dropdown > a {
        color: $loginDarkText;
        cursor: pointer;
        line-height: 31px;
        margin: 0;
        flex: 1 1 auto;
        text-align: center;
      }
    }

    #action-header {
      width: 70%;
      margin-top: 14px;
      flex: 1 1 60%;
      .actions-ctn {
        width: 7%;
      }
      > div {
        float: right;
      }
      .actions {
        position: relative;
        right: 0;
        top: 0;
        width: 30px;
      }
      .search-bar {
        max-width: 320px;
        display: flex;
        flex: 0 auto !important;
        margin: 0;
        width: auto;
        .ls-settings {
          color: rgb(95, 93, 93);
        }
      }
    }
  }

  .breadcrumbs-ctn {
    .upload-actions-toolbar {
      padding-top: 13px;
      font-size: 1.2em;
      width: auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 914px) {
  .files #action-header {
    .search-bar {
      width: 75%;
      padding: 0;
      margin: 0;
    }
  }
}

/* Todo remove reset-icon refs */

/**********************
  MULTI-SELECT TOOLBAR
***********************/

.default-multi-toolbar-state {
  visibility: hidden;
}

#selection-actions {
  padding-top: 15px;
  position: absolute;
  z-index: 4;
  transition: 380ms ease-in-out all;
  transition-delay: 10ms;
  background: $midGreyBg;
  top: 0;
  left: 0;
  height: 53px;
  right: 0;
  font-family: 'roboto', sans-serif;
  font-size: 13px;
  border-bottom: 1px solid #dddddd;
  margin-top: -60px;
  &.show-multi-menu {
    margin-top: 0;
    visibility: visible;
    display: block;
  }
  .exit-selection {
    height: 30px;
    width: 30px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    font-size: 2em;
    vertical-align: middle;
    margin-top: -5px;
    a {
      display: block;
      padding-top: 0;
      vertical-align: middle;
      line-height: 26px;
    }
  }
  .toggle-checkbox-toolbar {
    height: 19px;
    width: 18px;
    float: left;
    margin-right: 5px;
    margin-left: 25px;
    top: 15px;
    margin-top: 0;
    cursor: pointer;
    font-size: 1.3em;
    vertical-align: top;
    i {
      color: #333;
      font-size: 0.85em;
      text-align: center;
    }
  }
  .display-num-selected-items {
    cursor: pointer;
    float: left;
    margin-top: -3px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    margin-right: 0;
    border-radius: 5px;
    color: #FFFFFF;
    white-space: nowrap;
    background: $primary-color;
    font-size: 0.85em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    transition: all 250ms ease-in-out;
    &.active-button-show-selection {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
      .view-icons-ctn {
        border-left: solid 1px #C8ECFD;
        background: #F3F3F3;
        color: $common-header-toolbar-file-listing-display-num-selected-items-active-view-icons-ctn-color;
      }
    }
    i {
      position: absolute;
      font-size: 1.2em;
      vertical-align: bottom;
      line-height: 2em;
      right: 0.5em;
    }
    p {
      margin: 2px 0 0 0;
      float: left;
      padding: 4px 8px;
    }
    .view-icons-ctn {
      float: left;
      width: 29px;
      height: 25px;
      position: relative;
      padding-left: 0.6em;
      padding-right: 0.5em;
      background-color: #fff;
      color: $primary-color;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 250ms ease-in-out;
      &.groups-view {
        width: 33px;
        height: 25px;
        position: relative;
        padding-left: 0.6em;
        padding-right: 2em;
        text-align: center;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px #e4e4e4 solid;
      }
    }
  }
}

// if sidebar right is toggled :
#collapsible-content.set-width {
  #selection-actions.multi-btns {
    #toolbar-actions {
      > span {
        margin-left: 0.8em;
      }
    }
    .exit-selection {
      margin-right: 9px;
      font-size: 1.8em;
    }
  }
}

@media (max-width: 1195px) {
  #selection-actions.multi-btns {
    #toolbar-actions {
      > span {
        margin-left: 5px;
      }
    }
    .exit-selection {
      margin-right: 9px;
      font-size: 1.8em;
    }
  }
  #upload-box.right-sidebar-toggled #selection-actions.multi-btns {
    #toolbar-actions {
      > span {
        margin-left: 0px;
        padding-left: 0px;
        a {
          padding-left: 10px;
        }
      }
    }
  }
  #upload-box #selection-actions .display-num-selected-items {
    margin-left: 5px;
  }
}

#toolbar-actions, .uib-dropdown-menu {
  font-family: roboto, sans-serif;
  float: left;
  .dropdown-divided li a i {
    font-size: 1.05em;
    padding-top: 2px;
  }
  span.dropdown.link-dropdown {
    &.open > a {
      color: $primary-color !important;
      span {
        color: $primary-color !important;
      }
    }
    > a {
      color: #4E4E4E !important;
      span {
        color: #4E4E4E !important;
      }
    }
  }
  > span {
    display: inline-block;
    margin-left: 1.3em;
    margin-top: 0;
    font-size: 1.05em;
  }
  span a.disable-link,
  span a.disable-link span:not([class*="path"]),
  i.disable-link,
  .disable-link,
  .disable-link:hover,
  .disable-link *,
  .disable-link *:hover,
  span.dropdown.link-dropdown.disable-link > a span {
    pointer-events: none !important;
    font-weight: inherit !important;
    color: #C9C9C9 !important;
  }
  > span:not([class="dropdown"]) > a {
    color: #4E4E4E;
    cursor: pointer;
    padding-left: 15px;
    font-size: 0.95em;
    transition: color 200ms ease-in-out;
    i {
      font-size: 1.05em;
    }
    span:not([class*="path"]) {
      display: inline-block;
      margin-left: 5px;
      font-weight: 500;
      font-size: 0.95em;
      color: #656565;
      max-width: 110px;
      height: 20px;
      overflow: hidden;
      vertical-align: middle;
      white-space: nowrap;
      transition: max-width 300ms ease-in-out 250ms;
    }
  }
  span ul.dropdown-menu  a {
    span {
      color: #656565;
      font-weight: 500;
    }
  }
}

@media (max-width: 1196px) {
  #toolbar-actions > {
    span, span:first-child {
      margin-left: 1em;
    }
  }
}

@media (min-width: 900px) and (max-width: 1425px) {
  .right-sidebar-toggled {
    #toolbar-actions > span > a > {
      span {
        overflow: hidden;
        height: 20px;
        max-width: 0 !important;
        transition: width 200ms ease-in-out;
      }
    }
  }
}

@media (max-width: 938px) {
  #toolbar-actions > span a span {
    display: none !important;
  }
  #toolbar-actions > span .dropdown-menu a span {
    display: inline !important;
  }
  #toolbar-actions > span a i {
    font-size: 1.15em;
  }
}

@media (max-width: 900px) {
  #toolbar-actions span a span:not([class*="path"]) {
    height: 20px;
    max-width: 110px !important;
  }
  .right-sidebar-toggled {
    #selection-actions {
      width: 100% !important;
    }
  }
}

/**********************
  MOBILE SEARCH COMPONENT
***********************/

#top-search-wrap {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 45px;
  background: #fff;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 10;
  input[type="text"] {
    border: 0;
    height: 40px;
    padding: 0 10px 0 55px;
    font-size: 1em;
    border-radius: 2px;
    background-color: #efefef;
    width: 100%;
  }
  #top-search-close {
    position: absolute;
    top: -4px;
    font-size: 23px;
    font-style: normal;
    width: 45px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    left: 3px;
    height: 40px;
    padding-top: 9px;
  }
}

/**********************
  MOBILE RESPONSIVE
***********************/

@media (max-width: 767px) {
  .files {
    #breadcrumb-wrap .toolbar-actions-items .sort-dropdown {
      .dropdown.dropdown-standard {
        padding-right: 0;
      }
      .dropdown-menu {
        right: 0 !important;
      }
    }
    ul.actions {
      display: inline-block;
      text-align: center;
      margin: auto;
      float: none !important;
    }
    #selection-actions {
      position: fixed;
      bottom: 56px;
    }

    #breadcrumb-wrap {
      height: 45px !important;
      #action-header {
        width: 100%;
        padding-top: 13px;
        margin-top: 0;
      }
      .toolbar-actions-items {
        min-width: 100%;
        text-align: center;
        width: 100%;
        max-width: inherit;
        > a {
          margin-right: 0;
        }
        .sort-dropdown {
          order: 2;
          margin-right: 0 !important;
          a {
            display: inline-block;
            margin-right: 0;
            width: 100%;
            cursor: pointer;
          }
          a.dropdown-toggle i {
            color: #535050;
          }
        }
        .dropdown-menu {
          right: 0;
        }
      }
      .toolbar-actions-items.wide-action-bar {
        width: 100%;
      }
    }
    .toolbar-mobile-item a i {
      color: $textColorDark;
      font-size: 1.1em;
    }
    .toolbar-mobile-item, .sort-dropdown .dropdown a.dropdown-toggle {
      line-height: 28px;
    }
  }
  .files #breadcrumb-wrap, .upload-files #breadcrumb-wrap {
    border : none;
  }
}

.input-group:not(.input-group-lg):not(.input-group-sm).search-bar .actions{
  a.input-group-addon {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    min-width: 30px;
    vertical-align: middle;
    line-height: 25px;
    i{
      font-size: 0.95em;
    }
  }
}
