@import "../../_fonts.scss";
@import "../../_colors.scss";

/**********************
   SIDEBAR LEFT DEFAULT STYLING
***********************/

.sidebarLeft {
  margin-left: 268px;
}

.user-info {
  background-color: $primary-color !important;
}

.user-expiration-date {
  color: #fff;
  font-size: 0.85em;
  text-align: center;
}

.username-display {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
}

body:not(.sw-toggled) #sidebar {
  box-shadow: none;
}

#sidebar {
  box-shadow: none;
  top: 50px;
  height: calc(100% - 50px);
  width: 0;
  overflow: hidden;
  transform: inherit;
  -webkit-transform: inherit;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: inherit;
  left: 0;
  background-color: $midGreyBg;
  .dropdown-menu > li > a {
    padding: 8px 10px;
  }
  .sidebar-inner {
    overflow-y: inherit;
    width: 268px;
    overflow-x: hidden;
  }
}

/**********************
  SIDEBAR MAIN MENU STYLING
***********************/

#sidebar {
  .main-menu {
    margin: 0px;
    position: relative;
    z-index: 2;
    background-color: #f9f9f9;
    i.fa {
      font-size: 1.2em;
      vertical-align: middle;
    }
    > li.active > a {
      background-color: transparent;
    }
    > li > a {
      font-weight: 500;
      &:hover {
        background-color: rgb(238, 238, 238);
        cursor: pointer;
      }
      i {
        padding: 13px 0;
      }
      > i {
        color: $textColorDark;
      }
    }
    > li.sub-menu > ul > li > a {
      font-weight: 400;
      background-color: #fff;
      &:hover{
       background-color: rgb(238, 238, 238);
      }
      &:focus, &:active  {
        color: $common-sidebar-left-sidebar-li-color;
      }

      &.disabled {
        cursor: not-allowed;
        &:hover {
          color: #7f7f7f;
        }
      }
    }
    > li.active.simple-menu > a {
      color: $common-sidebar-left-sidebar-li-color;
      font-weight: 500;
      cursor: default;
      i {
        color: $common-sidebar-left-sidebar-li-color;
      }
    }
  }
}

.waves-ripple{
  transition-duration: 400ms !important;
  opacity: 0.1 !important;
}

#sidebar .main-menu > li.sub-menu > ul > li > a,
#sidebar .main-menu > li > a,
#sidebar .main-menu > li > a i {
  background-color: rgba(255, 255, 255, 0);
  transition: all 200ms ease-in-out;
  i {
    line-height: 0.9;
    &.ls-user-group {
      line-height: 1.5;
      font-size: 1.15em;
      margin-left: -1px;
    }
  }
}

#sidebar .main-menu {
  li.group-links {
    &.display-flex {
      display: flex;
      &:hover{
        background-color: rgb(238, 238, 238);
        a {
          color: #2195f3;
          span.disabled i {
            color: #B6B6B6
          }
        }
      }
    }
    &:hover{
      a {
        span.disabled i {
          color: #B6B6B6
        }
      }
    }
    a:last-child {
      padding-left: 0;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

#sidebar .main-menu > li > a i.ls-received-shares  {
  font-size: 1.35em;
  line-height: 1;
}

#sidebar .main-menu > li.sub-menu > ul > li,
#sidebar .main-menu > li {
  width: 100%;
}
#sidebar .main-menu > li.sub-menu > ul > li > a.active,
#sidebar .main-menu > li > a.active,
#sidebar .main-menu > li.sub-menu > ul > li > a:focus,
#sidebar .main-menu > li.sub-menu > ul > li > a:active,
#sidebar .main-menu > li > a:focus,
#sidebar .main-menu > li > a:active{
  color: $common-sidebar-left-sidebar-li-color;
  font-weight: 500;
  letter-spacing: 0.01em;
  cursor: default;
}

/**********************
  USER NAME DISPLAY
***********************/

#userNameSidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 4;
  .detail-info-ctn.flex-ctn {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1.35em auto auto auto;
    p {
      margin: 0.35em 0 0;
      color: #fff;
    }
    .first-letter {
      color: $common-sidebar-left-usernamesidebar-first-letter-color !important;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 1.35em;
      background-color: #fff !important;
    }
  }
  i.zmdi-chevron-down {
    font-size: 1.2em;
    vertical-align: middle;
    margin-left: 6px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all linear;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .profile-info-toggled i.zmdi-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .flex-ctn .item-l {
    flex: 0 0 100%;
  }
}

.profile-menu-links {
  -webkit-transition: all;
  -o-transition: all;
  transition: all ease-in-out;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  height: 0;
  ul.main-menu {
    border-bottom: solid 2px #eee;
  }
  &.profile-disp-links {
    height: 60px;
    position: relative;
    z-index: 1;
  }
}

.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: $common-sidebar-left-dark-overlay-background-color;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

.btn-add-files-ctn {
  width: 100%;
  z-index: 2;
  padding: 0;
  background-color: $primary-color;
  background-repeat:  no-repeat;
  background-position: right center;
  background-size: cover;
  display: table;
  height: 107px;
  position: relative;
  .dropdown-menu > li i {
    font-size: 1.3em;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
  }
}

#sidebar .sidebar-inner {
  position : relative
}

#navigation {
  overflow-x: hidden;
  position: absolute;
  overflow-y: auto;
  top: 107px;
  padding-bottom: 100px;
  width: 100%;
  height: calc(100% - 110px);
  @-moz-document url-prefix() {
    height: calc(100% - 220px);
  }
}

@media (max-width: 768px) {
  #navigation {
    height: calc(100% - 55px);
    @-moz-document url-prefix() {
      height: calc(100% - 150px);
    }
  }
}

.quota {
  border-right: solid 2px #f0f0f0;
  background-color: #F9F9F9;
  border-top: 1px solid #E8E8E8;
  margin: 0;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 267px;
  height: 110px;
  overflow: hidden;
  z-index: 7;
  .quota-free {
    width: 40%;
    height: 13px;
    background-color: #dfdfdf;
    float: left;
  }
  .quota-information {
    text-align: left;
    p {
      margin: 10px 0 0 5px;
      font-size: 11px;
    }
  }
  .libre-and-free {
    display: table;
    margin: 5px 0 2px 0;
    img {
      display: table-cell;
      width: 14px;
      padding-top: 2px;
    }
    p {
      display: table-cell;
      vertical-align: middle;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
      padding-left: 4px;
      color: $textColorDark;
      span {
        color: #bababa;
      }
    }
  }
  .product-version {
    > span {
      display: block;
      float: left;
      margin: 0 5px;
      font-size: 0.7em;
    }
    p {
      margin-bottom: 0;
      font-size: 0.7em;
      float: left;
      span {
        font-weight: bold;
      }
    }
    line-height: 110%;
  }
}

.quota {
  .progress {
    height: 10px;
    background-color: #e2e2e2;
    border-radius: 25px;
    &.quotas-progress-bar-green {
      .progress-bar-user {
        background-color: $quotasProgressBarGreen;
      }
    }
    &.quotas-progress-bar-orange {
      .progress-bar-user {
        background-color: $quotasProgressBarOrange;
      }
    }
    &.quotas-progress-bar-red {
      .progress-bar-user {
        background-color: $quotasProgressBarRed;
      }
    }
    .progress-bar-user {
      width: 60%;
      height: 11px;
      background-color: $quotasProgressBarGreen;
      float: left;
      background-image: linear-gradient(
        15deg,
        rgba(255, 255, 255, 0.15) 20%,
        transparent 20%,
        transparent 55%,
        rgba(255, 255, 255, 0.15) 55%,
        rgba(255, 255, 255, 0.15) 90%,
        transparent 90%,
        transparent
      );
    }
    .progress-bar-domain {
      width: 60%;
      height: 11px;
      background-color: $quotasProgressBarGrey;
      float: left;
      background-image: linear-gradient(
        15deg,
        rgba(255, 255, 255, 0.15) 20%,
        transparent 20%,
        transparent 55%,
        rgba(255, 255, 255, 0.15) 55%,
        rgba(255, 255, 255, 0.15) 90%,
        transparent 90%,
        transparent
      );
    }
  }
}

.quotas-tooltip-ctn{
  padding-bottom: 10px;
  padding-top: 5px;
  p {
    text-align: left;
    margin: 0;
    margin-top: 2px;
  }
}

#sidebar.toggled {
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  width: 268px;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media (max-width: 768px) {
  .btn-add-files-ctn {
    padding-top: 0;
    .btn-add-files {
      padding: 8px 75px;
    }
  }
  .quota {
    padding: 10px 7px 7px 7px;
    height: 55px;
    bottom: 0;
    .product-version {
      display: none;
    }
    .progress {
      height: 6px;
    }
    .quota-information p {
      margin: 5px 0 0;
      font-size: 0.7em;
    }
    .libre-and-free {
      margin: 4px 0 2px 0;
      p {
        font-size: 0.8em;
      }
      img {
        width: 12px;
      }
    }
  }
}
