

// TODO - PREVIEW: normalize this lightbox/preview stuff

/**********************
  LIGHTBOX PREVIEW
***********************/

$arrowSpace: 10px;
$arrowWidth: 40px;
$toolbarHeightMobile: 48px;
$toolbarHeightDesktop: 56px;

.lightbox-ctn {
  position : relative;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  md-toolbar {
    position: fixed;
    min-height: $toolbarHeightDesktop;
    background-color: #000;
    height:56px !important;
  }
  md-toolbar-tools {
    height:  $toolbarHeightDesktop;
    max-height: $toolbarHeightDesktop;
  }
  .lightbox-header {
    background-color: #000 !important;
  }
  md-dialog-content {
    background-color: #000;
  }
}

.image-content-ctn {
  padding: $toolbarHeightDesktop $arrowWidth+$arrowSpace 0;
  height: 100vh;
  .full-screen-single img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
    position: relative;
    height: auto;
    max-height: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .full-screen-single {
    width: 100%;
    height: 100%;
  }
}

.image-title {
  color: #efefef;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 0.85em !important;
  position: absolute;
  width: 100%;
  max-width: calc(100vh - 310px);
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.md-toolbar-tools.lightbox-header {
  border-bottom: solid 1px #252525;
  position: relative;
  padding: 0;
  top: 0;
}

.toolbar-actions-ctn {
  display: flex;
  .md-button.md-icon-button {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }
  .actions > a:hover {
    color: #fff !important;
    i {
      color: #fff !important;
    }
    &:before {
      background-color: rgba(179, 179, 179, 0.34);
    }
  }
  .actions > a  {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    > i {
      color: rgba(255,255,255,.87);
      &:hover {
        color: #fff !important;
      }
    }
  }
}

.arrow-area {
  position: absolute;
  top: 80px;
  bottom: 80px;
  margin-top: auto;
  margin-bottom: auto;
  outline: 0;
  width: $arrowWidth;
  height: 90px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  .arrow-ctn {
    display: flex;
    align-items: baseline;
    flex: 0 0 35px;
    height: 35px;
    justify-content: center;
    border-radius: 50%;
    background-color: #252525;
    align-items: center;
    transition: background .2s;
    i {
      font-size: 1.7em;
      color: rgba(239, 239, 239, 0.64);
    }
    &:hover{
      background-color: $common-lightbox-arrow-area-arrow-ctn-hover-background-color;
      i {
        color : #efefef;
      }
    }
  }
  &.right-arrow {
    right: $arrowSpace;
  }
  &.left-arrow {
    left: $arrowSpace;
  }
}

.image-content-ctn .full-screen-pdf {
  width: 90%;
  height: 100%;
  margin: auto;
  color : #efefef;
}


.center-preview-content {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    color: #a2a2a2;
    font-size: 1.1em;
  }
}
.no-preview-ctn {
  background-color: #cecece;
  color: #6d6d6d;
  width: 50%;
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 10px #ffffff;
  span {
    font-size: 10em;
  }
  h1 {
    color: #7b7b7b;
    margin-top: 1.25em;
    font-weight: 400;
  }
}

/****
RESPONSIVE
****/

@media only screen and (max-width: 959px) {
  .image-content-ctn {
    padding: $toolbarHeightMobile $arrowWidth+$arrowSpace 0;
  }
  .lightbox-header {
    background-color: #000 !important;
  }
  .md-toolbar-tools.lightbox-header {
    height: $toolbarHeightMobile;
    max-height:  $toolbarHeightMobile;
  }
  .lightbox-ctn md-toolbar {
    min-height: $toolbarHeightMobile;
    height: $toolbarHeightMobile !important;
  }
  .md-toolbar-tools.lightbox-header {
    height: $toolbarHeightMobile;
    max-height: $toolbarHeightMobile;
  }
  .image-title {
    text-align: left;
    margin: 0 !important;
    left: 0;
    transform: translateX(0);
    padding-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .lightbox-header {
    background-color: #000 !important;
  }
  .image-title {
    max-width: calc(100vw - 104px);
  }
  .full-screen-pdf embed {
    height: 0;
  }

  .full-screen-pdf p {
    text-align: center;
    margin-top: 100%;
  }
}
