

/**********************
SIDEBAR RIGHT CONTAINER
***********************/

#sidebar {
  z-index: 2;
}

#chat {
  padding: 5px 0;
  .chat-search {
    padding: 0;
    .dropdown-menu:not([class*="bgm-"]) > li.active > a, .dropdown-menu:not([class*="bgm-"]) > li.active > a:hover,
    .dropdown-menu:not([class*="bgm-"]) > li.active > a:focus {
      color: #484848;
    }
  }
}

#chat.sidebar-right {
  top: 106px;
  height: calc(100% - 105px);
  padding-bottom: 0;
  min-width: 350px;
  z-index: -1;
  overflow-y: auto;
  padding-top: 0;
  box-shadow: none;
  transition: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;

  @media (min-width: 768px) {
    border-left: solid 1px #ddd;
  }

  .container {
    height: 100%;
    overflow-x: hidden;
    > div {
      height: 100%;
      md-content {
        background-color: #fff;
      }
      #member-sidebar {
        height: 100%;
        div.tabs-demo-static-tabs.tab-nav-detail {
          height: calc(100% - 52px);
          margin-top: 0em;
          > md-content {
            height: 100%;
            overflow-y: hidden;
            > md-tabs {
              height: 100%;
              > md-tabs-content-wrapper {
                height: 100%;
                padding-bottom: 50px;
                > md-tab-content {
                  height: 100%;
                  md-content {
                    height: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                  }
                  > div{
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-right {
  md-tabs[md-border-bottom] md-tabs-wrapper {
    padding-top: 0;
    height: 49px;
    padding-top: 13px;
  }
}

.bottom-action-form {
  height: calc(100% - 50px) !important;
}
/* TODO : rename form create guest with inner sidebar form area*/
#content-ctn-sidebar.form-create-guests {
  position: absolute;
  width: 349px;
  height: calc(100% - 50px);
  overflow-y: auto;
  margin-top: 0;
  padding-top: 1em;
  h2 {
    font-size: 1.15em;
  }
}

#chat.sidebar-right {
  pointer-events: none;
}

#chat.sidebar-right.toggled {
  z-index: 5;
  display: block;
  position: fixed;
  pointer-events: all;
}

/**********************
  HEADER SIDEBAR
***********************/

.header-sidebar {
  vertical-align: middle;
  height: 52px;
  background-color: #FDFDFD;
  margin-bottom: 0;
  border-bottom: solid 1px #E7E7E7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  h2.header-more-options {
    flex: 1 1 auto;
    max-width: inherit;
    font-size: 1.1em;
    color: $textColorDark;
    text-align: center;
    text-transform: uppercase;
    margin: inherit;
    margin-left: 10px;
  }
  .back-button {
    flex: 0 0 30px;
    text-align: center;
  }
  .actions {
    flex: 0 0 35px;
    line-height: 5px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
      line-height: 35px;
      i {
        font-size: 1.7em;
        cursor: pointer;
        color: $textColorDark;
        &.zmdi-share {
          font-size:  1.2em;
        }
        &.zmdi-close {
          font-size: 1.7em;
          cursor: pointer;
          color: $textColorDark;
        }
      }
    }
  }
}

/**********************
  TABS ADJUSTEMENT
***********************/

/* check if share sidebar and detail sidebar needs it too */
#member-sidebar {
  md-tab-content.md-no-scroll {
    bottom: auto;
    overflow-y: auto;
    > div {
      overflow-y: auto;
      height: 100% !important;
    }
  }
  .form-sidebar {
    margin-bottom: 0 !important;
  }
  .custom-height-form {
    height: 100%;
    .custom-height-md-tabs {
      height: 100%;
    }
  }
}

md-content #content-ctn-sidebar {
  margin-top: 0;
  position: relative;
  padding: 0;
  .custom-list-container .recipients-form-sections {
    margin-top: 3em;
  }
  .custom-list-container .recipients-form-custom-margin {
    margin-top: 2em;
  }
}

.tab-nav-detail {
  margin-top: 1.1em;
  md-tabs .md-tab.md-active {
    color: #464646 !important;
  }
  md-content md-tabs .md-tab {
    padding: 0;
    font-weight: 500 !important;
    color: #9e9e9e !important;
    font-size: 1em !important;
    letter-spacing: 0.01em !important;
  }
  md-tabs-canvas {
    height: 36px;
  }
  md-pagination-wrapper {
    height: 36px;
    display: flex;
    transition: -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    position: absolute;
    width: 100% !important;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .search-bar {
    margin-top: 0.6em;
  }
}

.tab-nav-detail:not(.two-tabs) {
  md-content md-tabs .md-tab {
    flex: 0 0 33% !important;
  }
}

.tab-nav-detail.two-tabs {
  md-content md-tabs .md-tab {
    flex: 0 0 50% !important;
  }
  md-pagination-wrapper {
    width: 100% !important;
  }
}

/**********************
   SIDEBAR CONTENT DETAIL
***********************/

#profile-main {
  .media > .pull-left {
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .img-preview-ctn {
    background-color: #eee;
    padding: 0.8em;
    width: 100%;
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0 !important;
    img {
      max-height: 220px;
      max-width: 340px;
    }
    p {
      -webkit-align-items: center;
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      height: 220px;
      margin: 1px;
      width: 340px;
    }
    .no-preview {
      display: block;
      position: absolute;
      top: 45%;
      left: 50%;
      height: auto;
      width: auto;
      color: #9E9E9E;
      font-size: 5em;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
      transition: 0.5s ease-in-out all;
    }
    .np-preview-ctn p {
      text-transform: uppercase;
      margin-top: 147px;
      text-align: center;
      Width: 100%;
      font-size: 1.07em;
      margin-bottom: 1em;
      color: #9e9e9e;
    }
  }
  .media .lv-title {
    cursor: default;
  }
  .media .lv-title:hover, .media:hover {
    background-color: transparent;
  }
  .media > div:nth-child(even) {
    float: right;
  }
  .sidebar-toolbar {
    border-bottom: solid 1px $dividerClr;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    .actions > li > a {
      width: 30px;
      height: 30px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-top: 5px;
      > i {
        color: #565555;
        font-size: 1.3em;
        text-align: center;
      }
    }
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    text-transform: lowercase;
    font-size: 11px;
    font-weight: 400;

    &.right {
      float: right;
    }
  }
}

/**********************
  DESCRIPTION FIELD
***********************/

/* add Description component  */
.description-ctn.form-sidebar {
  position: relative;
  max-height: 35px;
  overflow: hidden;
  padding-left: 1.33em;
  border: 1px solid #e0e0e0;
  background-color: #F6F6F6;
  margin-bottom: 1em;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  cursor: pointer;
  .comment {
    word-break: break-all;
    overflow: hidden;
    resize: none;
    border: none;
    background-color: transparent;
    line-height: 20px;
    width: 81%;
    color: #858585;
    font-size: 0.90em;
    font-style: italic;
    padding: 10px 0 0 0;
    &[readonly] {
      cursor: default;
    }
    div {
      display: none;
    }
  }
  span {
    line-height: 18px;
    margin-left: -5px;
    display: inline-block;
  }
  .edit-description {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    -webkit-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    background-color: #F6F6F6;
  }
}

.description-ctn.form-sidebar.show-full-comment {
  background-color: #fff;
  max-height: 800px;
  cursor: text;
  .comment {
    line-height: 18px;
    height: inherit;
    text-overflow: inherit;
    width: 90%;
    padding-right: 0.85em;
    div {
      display: block;
    }
  }
  .edit-description {
    cursor: pointer;
    background-color: #fff;
    width: 30px;
    height: 30px;
  }
}

/**********************
  UPPER CONTENT DETAIL AREA
***********************/

.content-detail-area {
  margin-left: 0;
  padding-bottom:50px;
  .flex-ctn.detail-info-ctn {
    border-top: none;
  }
  .detail-info-ctn.flex-ctn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    .item-r {
      align-items: flex-start;
      font-size: 0.8em;
      margin-right: 0.5em;
      .set-ellipsis {
        max-width: 60px;
      }
    }
    .seperator-inline {
      padding: 0 0.35em;
    }
  }
}

/**********************
  META DATA CONTAINER
***********************/

/* detail view in sidebars */
.meta-data-ctn {
  margin-left: 1.33em;
  margin-right: 1.33em;

  .subheader {
    font-size: 1.05em;
    margin-bottom: 0.8em;
    i {
      margin-right: 0.25em;
    }
  }
  .meta-data-content {
    display: flex;
    flex: 1 1 100%;
    padding: 0 1.3em;
    flex-wrap: wrap;
    > div {
      flex: 0 0 50%;
      margin-bottom: 1em;
      p {
        margin: 0;
      }
      p:first-child {
        color: #939393;
        font-size: 0.9em;
      }
      p:nth-child(2) {
      }
    }
    .custom-list-item {
      flex: 0 0 45%;
    }
  }
}

/**********************
STANDARD CONTENT
***********************/

#content-ctn-sidebar {
  position: relative;
  .recipients-form-sections {
    margin-top: 2.5em;
  }
  .datepicker-border-fix {
    text-align: right;
    padding: 0;
    width: 92px;
    float: right;
  }
  .datepicker-ctn {
    > div {
      margin-right: 0;
    }
    .form-control {
      height: 21px;
      text-align: RIGHT;
      width: 70px;
    }
  }
  #dateField label.labelDateExpiration {
    font-weight: normal;
    color: #999999;
  }
  h2.headerSubCtn {
    font-size: 1.15em;
    color: #676767;
    clear: both;
    margin-top: 0;
    margin-bottom: 1.35em;
    i {
      padding-left: 0;
      display: inline-block;
      margin-right: 0;
      font-size: 0.95em;
      padding-right: 0.1em;
      margin-bottom: 2px;
      &.groups-user-group, i span.groups-user-group {
        font-size: 0.85em;
        margin-bottom: 2px;
      }
    }
  }
  .addNote.form-group {
    padding-right: 0;
    label {
      font-weight: normal;
      color: #999999;
      margin-bottom: 1em;
    }
  }
  .sidebar-link {
    display: flex;
    align-items: center;
    font-size: 11px;

    &.right {
      float: right;
    }
  }
  h2 {
    text-align: left;
    font-size: 1.3em;
  }
  .field-ctn {
    padding: 0;
    margin-bottom: 1.5em;
    .indented-form-dependency {
      margin-bottom: 0;
      margin-top: 1em;
      padding: 0;
      label {
        font-weight: 400;
        font-size: 0.95em;
      }
    }
  }
  .dropdown.popOverForm:not([data-animation]).open .dropdown-menu {
    right: 0;
    max-width: 210px;
    left: inherit;
    padding-bottom: 1em !important;
  }
  .label-muted {
    color: #999999;
    font-weight: normal;
  }
  .form-padding {
    padding: 0px 20px;
  }
  .flex-combine-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
    margin-top: -5px;
  }
  .custom-bordered-input {
    border: 1px solid #999999;
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0px 4px;
    width: 60px;
  }
  .custom-bordered-select {
    border: 1px solid #999999;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 0px 4px;
    width: 40px;
    overflow: hidden;
    background-color: #e6e6e6;
    .md-select-icon {
      display: none;
    }
  }
  .custom-bordered-lang-select {
    border: 1px solid #999999;
    border-radius: 2px;
    width: 100px;
    padding-left: 4px;
  }
  .custom-single-input {
    width: 100px;
    border-right: 1px solid #999999;
    border-radius: 2px;
  }
}


/**********************
 SIDEBAR USER LISTING
  ************************/

#content-ctn-sidebar {
  .custom-list-item {
    padding: 0;
    margin: 0 0 1em;
    width: 139px;
    overflow: hidden;
    background-color: #ECECEC;
    height: 24px;
    border-radius: 25px;
    float: left;
    cursor: default;
    &.readonly {
      pointer-events: none;
      .inner-text-li {
        font-size: 0.91em;
        padding: 5px 8px 0 7px;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
      }
    }
    &:nth-child(odd) {
      margin-right: 15px;
    }
    .inner-text-li {
      padding: 4px 8px 0 7px;
      font-size: 0.9em;
      width: 87px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0;
    }
    .close-list-icone-btn {
      padding-top: 3px;
      padding-left: 4px;
      padding-right: 12px;
      font-size: 1.2em;
      margin-bottom: 0;
      width: 25px;
    }
    .circle-ctn {
      min-width: 24px;
      margin-bottom: 0;
      cursor: default;
      .circle {
        border-radius: 50%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 3px;
        font-size: 0.9em;
        color: #fff;
        width: 24px;
        height: 24px;
        .ls-contact-list-item {
          font-size: 1.25em;
          line-height: 1.4em;
        }
      }
    }
    .name-recipients-ctn {
      width: 112px;
    }
    .savelistBtn {
      float: right;
      padding-top: 2px;
      top: -7px;
    }
  }
  .custom-list-body {
    padding: 0 !important;
  }
  .custom-header-list {
    position: relative;
  }
}

/**********************
  FORM SIDEBAR STYLING
  ***********************/

.form-sidebar {
  margin-left: 0 !important;
  label {
    max-width: 85%;
  }
  .field-ctn {
    padding-right: 2em;
    padding-left: 1em;
    margin-bottom: 1.5em;
  }
  .checkbox-inline,
  .radio-inline {
    padding-left: 0;
  }
  .fg-line.datepicker-ctn {
    display: block;
    width: auto;
  }
  .labelDateExpiration {
    float: left;
  }

  .comment {
    border: 1px solid #e0e0e0;
    background-color: #F6F6F6;
    padding: 0.85em;
  }
  .comment::placeholder {
    color: #858585;
    font-size: 0.90em;
    font-style: italic;
  }
  legend {
    display: block;
    width: 100%;
    font-weight: inherit;
    padding: 0;
    margin-bottom: 0.7em;
    font-size: 1em;
    line-height: inherit;
    color: #7D7D7D;
    border: 0;
    border-bottom: none;
  }
  .form-inline .checkbox {
    float: right;
  }
  .checkbox input:checked + .input-helper::before {
    transform: scale(1.3);
    left: 0;
    border: 1px solid #E4E1E1;
  }
  .checkbox input:checked + .input-helper::after {
    transform: scale(0.53) rotate(-50deg);
    opacity: 1;
  }
  .mailDivider {
    margin-top: -9px;
    margin-left: 0;
  }
}

/**********************
  BOTTOM VALIDATION FORM
  ***********************/

.bottom-sidebar-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  button {
    height: 50px;
    font-size: 1.1em;
  }
}

/**********************
  RESPONSIVE SIDEBAR RIGHT
  ***********************/

@media (max-width: 1092px) {
  #sidebar.toggled {
    position: fixed;
    z-index: 6 !important;
  }
}

@media (min-width: 1200px) {
  body.sw-toggled #sidebar {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.3)
  }
}

/**********************
MOBILE RESPONSIVE SIDEBAR MECHANISM
  ***********************/

@media (max-width: 767px) {
  .header-sidebar {
    background-color: $primary-color;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 11;
    display: flex;
    &.workgroup-header-nav h2 {
      text-align: left;
      margin: 0;
      margin-left: 28px;
      width: auto;
    }
    h2.header-more-options {
      color: #fff;
      justify-content: flex-start;
      align-self: center;
      margin-left: 0;
    }
    .zmdi-chevron-left {
      color: #fff;
      flex: 0 0 35px;
      text-align: center;
    }
    .mdi-close-mobile {
      color: #fff !important;
    }
    .mdi-back-mobile {
      margin: 0px 10px;
    }
    .action-icon {
      font-size: 1.45em;
      color: #fff;
      display: flex;
      flex: 0 0 35px;
      justify-content: flex-end;
    }
  }
  #chat.setSidebarRightMobileState {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    min-width: 100%;
    pointer-events: none;
  }


  #chat.setSidebarRightMobileState .tabs-demo-static-tabs {
    margin-top: 0;
  }
  #chat.setSidebarRightMobileState .container {
    padding-top: 53px;
  }
  #chat.setSidebarRightMobileState md-tabs-wrapper {
    position: absolute;
    top: 0;
    padding-top: 10px;
    height: 46px;
    z-index: 10;
    width: 100%;
    background-color: #fff;
  }

  #chat.setSidebarRightMobileState md-tabs.md-dynamic-height md-tabs-content-wrapper {
    margin-top: 47px;
  }

  #chat.setSidebarRightMobileState .tabs-update-sidebar md-tabs.md-dynamic-height md-tabs-content-wrapper {
    margin-top: 15px;
  }

  #chat.toggled, #chat.sidebar-right.toggled {
    z-index: 11;
  }
  #sidebar {
    box-shadow: 1px 1px 17px rgba(0, 0, 0, 0.3);
    border: none;
  }
  #chat.sidebar-right {
    z-index: 11;
    top: 0;
    height: 100%;
  }

  #chat.toggled, #chat.sidebar-right.toggled {
    z-index: 11;
    top: 0;
    height: 100%;
  }
}

/**********************
MOBILE RESPONSIVE  SIDEBAR CONTENT
  ***********************/

@media (max-width: 767px) {
  #chat.sidebar-right .container > div #member-sidebar div.tabs-demo-static-tabs.tab-nav-detail {
    height: 100%
  }

  #profile-main .img-preview-ctn {
    padding: 0.8em;
    margin-bottom: 0 !important;
    img {
      height: 233px;
    }
  }
  .tab-nav-detail:not(.two-tabs) {
    .media > .pull-left .listview {
      padding-right: 0;
      margin: 0;
      padding-left: 0;
    }
    .media > .pull-left {
      padding-right: 0;
      padding-left: 0;
    }
  }
  #content-ctn-sidebar {
    .custom-list-container {
      padding: 0;
      form {
        margin-left: 0;
      }
    }
    .custom-list-body.col-xs-12 {
      margin-left: 0;
      .custom-list-item:nth-child(odd), .custom-list-item {
        margin-right: 5px;
      }
    }
    .custom-list-item {
      margin-right: 15px;
    }
  }
  .header-sidebar h2.header-more-options {
    align-self: center;
    z-index: -1;
    text-overflow: ellipsis;
  }
  #profile-main .media > div:nth-child(even) {
    float: right;
  }
  .header-sidebar {
    height: 50px;
  }
  .header-sidebar.workgroup-header-nav {
    position: fixed;
    display: flex !important;
    h2.header-more-options {
      min-width: initial;
      margin-left: 0;
    }
  }
}

/**********************
  MOBILE RESPONSIVE - FORM
  ***********************/

@media (max-width: 767px) {
  .recipients-form-sections .datepicker-ctn.fg-line,
  .form-sidebar .datepicker-ctn.fg-line {
    display: inline-block;
    width: auto;
    > div {
      margin-right: 0;
    }
  }
  .dropdown-menu.user-rights-dropdown {
    z-index: 30 !important;
    padding: 0;
    min-width: fit-content;
    width: 105px;
  }

  .form-sidebar {
    .radio input[type="radio"]
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
      position: relative;
      margin-left: -20px;
      margin-top: 4px \9
    ;
    }
    .form-group.titleMailCustumisation {
      padding-left: 1em;
      padding-right: 2.3em;
    }
    .checkbox-inline,
    .radio-inline {
      padding-left: 0;
    }
    label {
      display: inline-block;
      max-width: 80%;
    }
    .datepicker-ctn.fg-line {
      .form-control {
        height: 21px;
        TEXT-ALIGN: RIGHT;
        WIDTH: 70px;
      }
    }
    .custumHeaderMailForm {
      margin-top: 0;
    }
    .field-ctn {
      padding-left: 1em;
      margin-bottom: 1.5em;
      padding-right: 0 !important;
    }
    .checkbox input:checked + {
      .input-helper::before {
        transform: scale(1.6);
        left: 0;
      }
      .input-helper::after {
        transform: scale(0.53) rotate(-50deg);
        opacity: 1;
        left: -4px;
      }
    }
    .fg-line.datepicker-ctn {
      margin-left: 1.5em;
    }
    .css-slide-up {
      > .col-xs-12 {
        padding: 0;
      }
    }
  }
}


/**********************
  MOBILE RESPONSIVE - ACTION BUTTONS IN NAV BAR
  ***********************/

@media (max-width: 767px) {
  .setSidebarRightMobileState .header-sidebar.form-sidebar{
    display: flex;
    .zmdi-chevron-left {
      flex: 0 0 28px;
      align-self: center;
      vertical-align: middle;
      text-align: center;
    }
    h2.header-more-options {
      flex: 1 1 100%;
      margin: 0;
      color: #d0f0ff;
      max-width: 100% !important;
      text-align: center;
      margin-left: -25px;
    }
    span.header-action-link {
      width: 0;
      overflow: hidden;
      flex: 0 0 auto;
      color: #fff;
      font-size: 1.1em;
      letter-spacing: 0.03em;
      max-width: 100%;
      opacity: 0;
      text-align: right;
      transition: all 200ms ease-in-out;
      span {
        display: inline-block;
        margin-right: 5px;
        font-size: 0.9em;
        line-height: 1em;
      }
    }
    &.header-show-action {
      h2.header-more-options {
        margin-left: 0;
        text-align: left !important;
        font-size: 1.05em;
        min-width: initial;
      }
      span.header-action-link {
        width: 100px;
        opacity: 1;
      }
    }
  }

  .bottom-sidebar-btn {
    display: none;
  }

 #content-ctn-sidebar.form-guests,
 #content-ctn-sidebar.create-share
 {
    height: calc(100% - 50px) !important;
  }
}


#content-ctn-sidebar.form-guests,
#content-ctn-sidebar.scrollable-sidebar-area{
  position: fixed;
  width: 350px;
  overflow-y: auto;
  margin-top: 0;
  padding: 2.5em 1.5em 50px 1.5em;
}


#content-ctn-sidebar.scrollable-sidebar-area{
  padding-top: 0;
  height: calc(100% - 200px);
}

@media (max-width: 767px) {
  #content-ctn-sidebar.form-guests,
  #content-ctn-sidebar.scrollable-sidebar-area{
    width: 100% !important;
  }
}

#chat .activity-log-ctn .header-log-info .upper-lvl-audit {
  display:none;
}

#member-sidebar .hidden-tabs-header {
  md-tabs-wrapper {
    display: none;
  }
  md-tabs-content-wrapper {
    top: 0;
  }
}

#upload-request-edit,
#sidebar-forward {
  overflow-y: auto !important;

  md-tab-content {
    min-height: 400px;
  }

  .advanced-options {
    margin-top: 20px;
    overflow: hidden;
    transition: 0.25s all ease-in-out;
    max-height: 0px;
  }

  .advanced-options-visible {
    max-height: 500px;
    overflow: visible;
  }
}