@import "../../_fonts.scss";
@import "../../_colors.scss";

/**********************
  COMMON UI COMPONENT
***********************/

@import "component/component-create-contacts-list.scss";
@import "component/component-dialog-alert.scss";
@import "component/component-datepicker.scss";
@import "component/component-ui-drag-and-drop.scss";
@import "component/component-overlay-mobile.scss";
@import "component/component-dropdown-menu.scss";
@import "component/component-fab.scss";
@import "component/component-toast-ls.scss";

/**********************
  UPLOAD PROGRESS ERROR DISPLAY AND RETRY
***********************/

.text-danger {
  opacity: 0;
  height: 0;
  transition: all linear 350ms;
  &.show-danger {
    height: auto;
    opacity: 1;
  }
}


/**********************
  TOOLTIP FIX
***********************/

.tooltip > {
  .tooltip-inner {
    background-color: #333 !important;
    font-size: 0.85em;
  }
  .tooltip-arrow {
    border-bottom-color: #333 !important;
  }
}

md-tooltip .md-content {
  position: relative;
  opacity: 1;
}

/**********************
 RECIPIENTS AUTOCOMPLETE
***********************/

.recipientsAutocomplete {
  height: 33px;
  .firstLetterFormat {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 2px 1px rgba(0, 0, 0, 0.12);
    width: 26px;
    height: 26px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 50%;
    display: block;
    float: left;
    text-align: center;
    line-height: 27px;
    margin-top: 4px;
    &.ls-contact-list-item{
      background-color: transparent;
      box-shadow: none;
      color: $common-ui-component-recipientsautocomplete-firstletterformat-ls-contact-list-item-color;
      font-size: 1.9em;
    }
  }
  .recipientsInfo {
    margin: 0 0 0 10px;
    float: left;
    height: 30px;
    span {
      display: block;
    }
    .email {
      margin-top: -2px;
      max-width: 190px;
      font-size: 0.85em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .user-full-name {
      max-width: 220px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .firstLetterBgdGreen {
    background-color: #00bfa5;
  }
}

@media (max-width: 768px) {
  .recipientsInfo .email {
    min-width: 166px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/**********************
POPOVER ADD BUTTON OVERIDE
***********************/

.uib-dropdown-menu.add-menu-ctn {
  > li:first-of-type a {
    padding: 0;
    float: initial;
  }

  li:first-child {
    padding: 0.9em 1.1em;
  }
  > li:first-of-type {
    border-bottom: 1px solid #eee !important;
  }
  > li a {
    padding: 10px 15px;
  }
  a.disabled-work-in-progress {
    color: $disabledAlt;
    span.path1:before, span.path2:before, span.path3:before, span.path4:before {
      color: $disabledAlt;
    }
  }
  a {
    transition: 300ms color ease-in-out;
    i {
      font-size: 1.35em;
      line-height: 1;
      color: #5a5a5a;
    }
    &:hover i,
    &:hover .groups-folder .path2:before i,
    .groups-shared-folder .path2:before i{
     color: $btnPopoverAddHover;
    }
    span {
      vertical-align: top;
    }
  }
}

.menu-popover-flyout-ctn {
  .popover-inner {
    .popover-title {
      display: none;
    }
    a.disabled-work-in-progress {
      color: $disabledAlt;
      span.path1:before, span.path2:before, span.path3:before, span.path4:before {
        color: $disabledAlt;
      }
    }
    a {
      display: block;
      height: 55px;
      vertical-align: middle;
      margin-top: 1em;
      margin-bottom: 1em;
      color: $btnPopoverAdd;
      transition: 300ms color ease-in-out;
      i {
        display: block;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 3px;
        line-height: 1.5;
      }
      p {
        font-size: 0.8em;
        color: #767676;
        text-transform: capitalize;
        text-align: center;
      }
      &:hover,
      &:hover .groups-folder .path2:before,
      .groups-shared-folder .path2:before{
        color: $btnPopoverAddHover;
      }
    }
    .groups-folder .path2:before,
    .groups-shared-folder .path2:before {
      transition: 300ms color ease-in-out;
    }
    .popover-content {
      width: 250px;
      padding: 0.5em !important;
      padding-top: 1em !important;
      padding-bottom: 1em !important;
    }
  }
}

div.menu-popover-flyout-ctn.popover.bottom {
  margin-top: -1px !important;
  border: solid 1px #ddd;
  margin-left: 91px;
  > .arrow {
    left: 10%;
    border-bottom-color: #dddddd !important;
    margin-left: -8px;
  }
}

#breadcrumb-wrap {
  .menu-popover-ctn {
    flex: 0 0 55px;
    .add-menu-group {
      float: left;
      border-bottom: 1px solid #f0f0f0;
      width: 100%;
      background-color: #fff;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      vertical-align: middle;
      border-right: solid 1px #e6e6e6;
      i {
        font-size: 2em;
        color: $common-ui-component-breadcrumb-wrap-add-menu-group-color;
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
        pointer-events: none;
      }
    }
  }
}



/* popover custom template */
.popover-eye-ctn {
  .popover-content {
    padding: 0 !important;
    .popover-custom {
      display: flex;
      .popover-text {
        display: inline-block;
        white-space: nowrap;
        padding-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
      }
      .popover-button {
        right: 0;
      }
    }
  }
}

/**********************
  SEARCH STYLE
***********************/

.search-style {
  .form-control {
    background-image: url("../images/icons/search-magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }
  .form-control:focus {
    background-position: right center;
    padding: 0 30px 0 0;
  }
}

/**********************
  SORT DROPDOWN
***********************/

.sort-dropdown ul {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  a.selected-sorting span i {
    display: block;
  }
  a span i {
    display: none;
  }
  > li > a {
    padding-right: 30px;
  }
}

/**********************
  PAGINATION FIX
***********************/

.pagination > li > a,
.pagination > li > span {
  border-radius: 50% !important;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  z-index: 1;
  position: relative;
  border: 0;
  .ng-binding {
    font-size: 0.95em;
  }
}

.ng-table-pagination > li:first-child:before,
.ng-table-pagination > li:last-child:before {
  font-family: 'Material-Design-Iconic-Font', sans-serif;
  font-size: 0.75em;
  position: absolute;
  left: 11px;
  top: 2px;
  z-index: 12;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: $primary-color;
  border-color: #ffffff;
  cursor: default;
}

.ng-table-pager {
  padding: 25px 15px 20px;
  min-height: initial;
  height: 77px;
}

.ng-table-counts {
  margin-top: 0;
}

.pagination {
  margin: 0;
}

.pagination.ng-table-pagination {
  li.disabled {
    display: none;
  }
}

.files {
  .ng-table-pagination > li:first-child:before,
  .ng-table-pagination > li:last-child:before {
    font-family: 'Material-Design-Iconic-Font', 'sans-serif';
    font-size: 1.2em;
    left: 13px;
    top: 5px;
  }
}

/**********************
  MOBILE PAGINATION
***********************/

@media (max-width: 767px) {
  .pagination {
    display: flex;
  }
  .pagination > li {
    display: none;
    position: relative;
    flex: 1 1 100%;
  }
  .pagination > li > a .ng-binding,
  .pagination > li:first-child {
    display: block;
  }
  .pagination > li > a .ng-binding,
  .pagination > li:last-child {
    display: block;
  }
  .pagination > li.active {
    display: block !important;
  }
  .pagination > li > a {
    width: 100%;
    border: 0;
    border-radius: 2px !important;
    flex: 1 1 100%;
  }
  .files .ng-table-pagination > li:first-child:before,
  .files .ng-table-pagination > li:last-child:before {
    left: inherit;
  }
}

/**********************
  SAVE LIST POPOVER DROPDOWN
***********************/

.popover {
  padding: 0;
  h3 {
    color: $common-ui-component-popover-color;
    letter-spacing: 0.05em;
  }
}

.dropdown.popOverForm {
  .dropdown-menu {
    padding: 1.15em;
    width: 210px;
  }
  .btn {
    text-transform: inherit;
    font-size: 0.9em;
    padding: 6px;
  }
  i {
    font-size: 1em;
    display: inline-block;
    margin-right: 5px;
  }
}

.dropdown.popOverForm > .dropdown-toggle.btn-default {
  color: $common-ui-component-dropdown-toggle-btn-default-color;
}

.dropdown.popOverForm:not([data-animation]).open .dropdown-menu {
  left: -106px;
  max-width: 210px;
}

.savelistBtn {
  float: right;
  padding-top: 2px;
  top: -5px;
}

/**********************
  PROFRESS BARS
***********************/

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: $quotasGreyBgProgressBar;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}


#loading-bar .bar {
  -webkit-transition: width;
  -o-transition: width;
  transition: width;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  background: rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/**********************
  DATEPICKER
***********************/

li.dp-actions {
  display: none;
}

.btn-dpday {
  border-radius: 50%;
  width: 22px !important;
  height: 22px;
}

.btn-dpbody {
  padding: 3px;
  font-size: 12px;
}

.tr-dpnav .btn-dp {
  color: #fff;
  padding: 15px 0;
}

.tr-dpday th {
  padding: 8px 2PX 9px;
  color: #fff;
  text-transform: uppercase;
}

.datepicker-drop-right .dropdown-menu {
  -webkit-transform-origin: top right !important;
  -moz-transform-origin: top right !important;
  -ms-transform-origin: top right !important;
  transform-origin: top right !important;
  right: 0;
  left: auto;
  float: right !important;
}

/**********************
 TOGGLED CHEVRON
***********************/

.toggle-chevron {
  font-size: 1.5em;
  color: $common-ui-component-toggle-chevron-color;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.animate-chevron .toggle-chevron {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

/**********************
 FORM OVERIDE
***********************/

.fg-line.fg-not-empty .fg-label {
  top : -20px !important;
  font-size: 11px !important;
}


/**********************
  POPOVER
***********************/

.set-popover-right {
  transform-origin : top right;
  max-width: 320px !important;
  left: inherit !important;
  right: 0 !important;
  .arrow {
    left: 93% !important;
  }
}

/**********************
  MAIN BUTTON WITH ICON
***********************/

.blue-action-btn {
  font-family: roboto,sans-serif;
  color: #ffffff !important;
  margin-left: 8px;
  padding: 0.3em 0.6em;
  background-color: $common-ui-component-blue-action-btn-background-color !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  letter-spacing: 0.015em !important;
  text-transform: inherit;
  i{
    margin-right: 5px;
  }
  &:hover{
    color: #ffffff;
  }
}




/**********************
  ACTIVITY CONTAINER
***********************/

.audit-card {
  margin-bottom: 0.6em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  background: #fff;
  border-radius: 2px;
  padding: 0.8em;
  a {
    color: #43535a;
    transition : color 400ms ease-in-out;
  }
}

.activity-log-ctn {
  i.zmdi-chevron-right {
    vertical-align: bottom;
  }
  p {
    margin-bottom: 0;
  }
  .action-activity-log {
    color: #5e5e5e;
    font-weight: bold;
  }
  .footer-log-info {
    margin-top: 0.5em;
    font-size: 0.85em;
    color: #676767;
    cursor : default;
  }
  .header-log-info {
    margin-bottom: 1em;
    border-bottom: solid 2px #f1f1f1;
    padding-bottom: 0.35em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .activity-user-target {
    color: $common-ui-component-activity-user-target-color;
  }
  .activity-fields-renamed-ctn {
    color : #7f7f7f;
    display : flex;
    flex-wrap: nowrap;
    cursor : default;
    span{
      max-width : 45%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.activity-arrow {
        width: 8%;
        padding: 0 5px;
        min-width: 22px;
        text-align: center;
      }
    }
  }
  .activity-fields-renamed-label {
    margin-top: 7px;
    color : #828181;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.015em;
  }
  .activity-resource-name {
    font-weight: normal;
    color : #000000;
    font-size: 0.9em;
    word-break: break-all;
  }
}


/**********************
 AUTOCOMPLETE WITH PLUS BTN
***********************/

.autocomplete-search-ctn {
  display : flex;
  > .fg-line {
    flex : 1 1 100%;
  }
  .dropdown{
    width: 100%;
  }
}


/**********************
 ANIMATION SEARCH BAR MAGNIFYING GLASS
***********************/

.fg-line.fg-toggled {
  .form-control:focus{
    background-position: -30px center !important;
  }
}

.right-inline-btn{
  max-width: 27px;
  box-sizing: border-box;
  font-size: 1.4em;
  color: $btnIcon;
  width: 27px;
  height: 27px;
  vertical-align: middle;
  text-align: center;
  padding-top: 1px;
  display: flex;
  flex: 0 0 28px;
  border: 1px solid $inputGrayBorder;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 3px;
  i {
    display:block;
    width: 27px;
    margin: auto;
  }
}

.fg-line:not(.disabled):after, .fg-line:not(.readonly):after {
  height :1px;
}

// hide add button class
.no-right-inline-btn {
  .right-inline-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  select {
    appearance: button;
    border-radius: 2px;
    padding-end: 20px;
    padding-start: 2px;
    user-select: none;
    background-repeat: no-repeat;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 37px 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    margin-left: -13px;
    background-image: url(#{$ressource-path}/images/select.png), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 40%, #ffffff);
    background-position: 98% center;
    border: none;
    border-bottom: 1px solid #d0d0d0;
    color: #757575;
    box-shadow: none;
    height: 30px;
  }
}


/**********************
 CUSTOM LINSHARE SCROLLBAR
***********************/

@media (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fbfafa;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: #fbfafa;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a9a9a9;
    border: 2px solid #a9a9a9;
  }
}
