@import "../../fonts.scss";
@import "../../colors.scss";

/**********************
    WORK IN PROGRESS
***********************/

#wip-ctn-page {
  position: relative;
  overflow: hidden;
  #wip-page {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    .dashboard-wip {
      display: block;
      width: 100%;
      position: absolute;
      top: 13%;
      text-align: center;
      h4 {
        font-family: 'roboto', sans-serif;
        color: #05b1ff;
        font-size: 5em;
        text-transform: uppercase;
        font-weight: 100;
      }
      .wip-content-ctn {
        position: relative;
        p {
          color: $primaryClr;
          margin-top: -10%;
          font-size: 1.9em;
          text-transform: uppercase;
        }
      }
    }
  }
}

.msg-info {
  margin-left: 10%;
  width: 100%;
  margin-top: 5%;
  p {
    font-size: 1.1em;
    color: #82caeb;
    border-bottom: 3px solid rgb(231, 244, 255);
    margin-bottom: 0;
    padding-left: 20px;
  }
  span.ctn {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: -26px;
    margin-top: -22px;
    color: #82caeb;
    background: url("../images/info-circle-bg-3.png") center;
    vertical-align: middle;
    text-align: center;
    span {
      display: inline-block;
      padding-top: 2px;
    }
  }
}

/* WIP */
.work-in-progress-ctn-elm {
  text-align: center;
  vertical-align: middle;
  display: table;
  width: 100%;
  height: 298px;
  p {
    color: #05b1ff;
    margin-top: -19%;
    font-size: 0.69em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 500;
  }
  .work-in-progress-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}
