<div class="toolbar-actions-ctn">
  <md-button
    class="md-icon-button actions white-inline-link hidden-xs"
    data-ng-click="$ctrl.scope.executeAndClose($ctrl.scope.item, $ctrl.scope.showItemDetails)"
  >
    <a>
      <i class="zmdi zmdi-info zmdi-hc-lg"></i>
    </a>
  </md-button>
  <md-button
    class="md-icon-button actions white-inline-link hidden-xs"
    data-ng-click="$ctrl.scope.download($ctrl.scope.item)"
  >
    <a>
      <i class="zmdi zmdi-download zmdi-hc-lg"></i>
    </a>
  </md-button>
  <div uib-dropdown>
    <md-button
      class="md-icon-button actions white-inline-link"
      data-ng-class="{'visible-xs': !($ctrl.scope.canCopyToMySpace || $ctrl.scope.canCopyToWorkGroup)}"
      uib-dropdown-toggle keyboard-nav
    >
      <a >
        <i class="zmdi zmdi-more"></i>
      </a>
    </md-button>
    <div
      class="dropdown set-col-6 no-padding"
    >
      <div class="actions">
        <ul
          class="uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left
          dropdown-menu"
          uib-dropdown-menu
        >
          <li
            class="visible-xs"
            data-ng-click="$ctrl.scope.executeAndClose($ctrl.scope.item, $ctrl.scope.showItemDetails)"
          >
            <a href="">
              <i class="zmdi zmdi-info zmdi-hc-lg"></i>
              <span translate>ACTION.INFORMATION</span>
            </a>
          </li>
          <li
            class="visible-xs"
            data-ng-click="$ctrl.scope.download($ctrl.scope.item)"
          >
            <a href="">
              <i class="zmdi zmdi-download zmdi-hc-lg"></i>
              <span translate>ACTION.DOWNLOAD</span>
            </a>
          </li>
          <li class="divider visible-xs"></li>
          <li
            data-ng-if="$ctrl.scope.canCopyToMySpace"
            data-ng-click="$ctrl.scope.copyToMySpace($ctrl.scope.item)"
          >
            <a href="">
              <i class="zmdi zmdi-copy"></i>
              <span translate>ACTION.COPY_IN_MY_FILES</span>
            </a>
          </li>
          <li
            data-ng-if="$ctrl.scope.canCopyToWorkGroup"
            data-ng-click="$ctrl.scope.copyToWorkgroup($ctrl.scope.item)"
          >
            <a href="">
              <i class="zmdi groups-home-workgroup"></i>
              <span translate>ACTION.COPY_IN_WORKGROUP</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <md-button
    class="md-icon-button actions white-inline-link"
    data-ng-click="$ctrl.scope.close($ctrl.scope.item)"
  >
    <a>
      <i class="zmdi zmdi-close zmdi-hc-lg"></i>
    </a>
  </md-button>
</div>
