<div drag-and-drop
     drag-and-drop-flow="$flow"
     drag-and-drop-submitted="sharedSpaceListVm.flowUploadService.uploadFiles(files, sharedSpaceListVm.workgroupPage,
                                                                              sharedSpaceListVm.folderDetails)"
     drag-and-drop-success="sharedSpaceListVm.addUploadedEntry(file, $message)">
  <div class="container files">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card">
      <div class="card-header">
        <script type="text/ng-template" id="popover-group.html">
          <div class="add-submenu-set clearfix">
            <a href="javascript:void(0)" class="col-xs-6" x-ng-show="linshareModeProduction == false">
              <i class="groups-project  disabled-work-in-progress">
                <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"/>
              </i>
              <p>{{"WORKGROUPS_LIST.PROJECT" | translate}}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" x-ng-click="addRow();" href="javascript:void(0)">
              <i class="groups-shared-folder disabled-work-in-progress">
                <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"/>
              </i>
              <p>{{"WORKGROUPS_LIST.SHARED_FOLDER" | translate}}</p>
            </a>
            <a class="col-xs-6" x-ng-click="sharedSpaceListVm.createFolder();"
               href="javascript:void(0)" x-ng-if="!linshareModeProduction">
              <i>
                <span class="groups-folder">
                      <span class="path1"></span><span class="path2"></span>
                </span>
              </i>
              <p>{{"WORKGROUPS_LIST.FOLDER" | translate}}</p>
            </a>
            <a x-ng-hide="sharedSpaceListVm.currentWorkgroupMember.readonly" class="col-xs-6" flow-btn
               href="javascript:void(0)">
              <i class="zmdi zmdi-upload"></i>
              <p>{{"WORKGROUPS_LIST.UPLOAD_FILE" | translate}}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" x-ng-show="linshareModeProduction == false">
              <i class="zmdi zmdi-pin-account"></i>
              <p>{{"WORKGROUPS_LIST.UPLOAD_REQUEST" | translate}}</p>
            </a>
            <a class="col-xs-6" x-ng-show="linshareModeProduction == false">
              <i><span class="groups-add-member"></span></i>
              <p>{{"WORKGROUPS_LIST.ADD_A_MEMBER" | translate}}</p>
            </a>
          </div>
        </script>
        <div id="breadcrumb-wrap" class="deep-nav multi-toolbar-options">
          <div class="menu-popover-ctn hidden-xs clickable waves-effect">
            <a class="add-menu-group"
               tabindex="0"
               uib-popover-template="'popover-group.html'"
               popover-placement="bottom"
               popover-class="menu-popover-flyout-ctn"
               popover-append-to-body="true"
               popover-trigger="focus">
              <i class="zmdi zmdi-plus"></i>
            </a>
          </div>
          <!--<div class="breadcrumbs-ctn hidden-xs">-->
            <!--<a href="" ui-sref="sharedspace.all">-->
              <!--<i class="groups-home-workgroup"></i>-->
              <!--{{"BREADCRUMB_TITLE_WORKGROUP" | translate}}-->
            <!--</a>-->
            <!--<span x-ng-repeat-start="folder in sharedSpaceListVm.breadcrumbFolders" class="sub-category-chevron">-->
              <!--<i class="zmdi zmdi-chevron-right"></i>-->
            <!--</span>-->
            <!--<a x-ng-repeat-end-->
               <!--x-ng-click="sharedSpaceListVm.goToSharedSpaceFolderTarget(sharedSpaceListVm.uuid, sharedSpaceListVm.name, folder.parent, folder.uuid, folder.name, true)">-->
              <!--{{folder.name}}-->
            <!--</a>-->
            <!--<span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>-->
            <!--<a>-->
              <!--&nbsp;&nbsp;{{sharedSpaceListVm.folderName}}-->
            <!--</a>-->
          <!--</div>-->


          <!-- TODO IAB:  you'll need to add the class "lv1-break" if the user is within the first depth level of
               the current workgroup. Also you'll need to add the class "lv2-break" if the user is within
               the second depth level the current workgroup. And Lastly add the class "lv4-break"  if the user is within
               the fourth depth level.
           -->
          <div class="breadcrumbs-ctn hidden-xs lv1-break lv2-break">
            <div class="left-arrow">
              <a><i class="zmdi zmdi-caret-left"></i></a>
            </div>
            <div id="page-root-link">
              <a>
                <i class="groups-home-workgroup"></i>
                <span translate>BREADCRUMB_TITLE_WORKGROUP</span>
              </a>
            </div>
            <div id="root-level">
              <span class="sub-category-chevron pipe-separator">| </span>
              <a class="set-ellipsis"
                 tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1200" uib-tooltip="Projet RATP">
                <!-- TODO: replace by the current workgroup name -->
                Projet RATP
              </a>
            </div>
            <span class="explorer-previous-lvl dropdown dropdown-standard pull-left" uib-dropdown=""
                  style="position: relative"
                  dropdown-append-to-body hover-dropdown-fix>
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>

              <a uib-dropdown-toggle="" class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="700" uib-tooltip="Allez vers un repertoire parent">
                ...
              </a>
              <div uib-dropdown-menu=""
                   class="uib-dropdown-menu dropdown-menu dm-icon double-drop dropdown-menu-left
                   explorer-content-dropdown">
                    <div class="list-menu">
                      <p translate>UPPER_LEVEL</p>
                      <ul class="dropdown-menu dm-icon filter-menu dropdown-menu-right">
                        <!--TODO IAB: you'll need to loop over each previous level up to the sharedspace -->
                        <li>
                          <!--TODO IAB: add a  active-level  class for the first element -->
                          <a class="active-level set-ellipsis">
                            Nouveau groupe de travail 3 de ta mere et ses enfants
                          </a>
                        </li>
                        <li>
                          <a class="set-ellipsis">
                           Nouveau groupe de travail 2
                          </a>
                        </li>
                        <li>
                          <a class="set-ellipsis">
                           Projet ratp
                          </a>
                        </li>
                        <li>
                          <a class="set-ellipsis">
                           Espace commun
                          </a>
                        </li>
                      </ul>
                    </div>
              </div>
            </span>
            <!--TODO IAB: you'll need to loop over each level of folders-->
            <div class="folder-level">
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
              <a class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1000" uib-tooltip="Nouveau groupe de travail 1">
                Nouveau groupe de travail 1
              </a>
            </div>
            <div class="folder-level">
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
              <a class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1000" uib-tooltip="Nouveau groupe de travail 2">
                Nouveau groupe de travail 2
              </a>
            </div>
            <div class="folder-level">
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
              <a class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1000" uib-tooltip="Nouveau groupe de travail 3">
                Nouveau groupe de travail 3
              </a>
            </div>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items wide-action-bar">
              <!-- TODO: If the button id clicked for the second time (disabled) then the selected items should be deselected cf resetSelectedDocuments() -->
              <!-- TODO: DOES NOT WORK : the variable showcheckboxes should set the visibility of the checkboxers to toggle
              cf document list first td -->
              <span x-ng-click="showCheckboxes = !showCheckboxes"
                    class="visible-xs toolbar-mobile-item col-xs-3" >
               <a  class="select-all-items plain-txt-btn">
                 <i class="zmdi zmdi-check-square"
                    x-ng-class="{'active-link': showCheckboxes}"
                    x-ng-click="showCheckboxes && sharedSpaceListVm.resetSelectedDocuments()"></i>
               </a>
             </span>
              <a href="" class="hidden-xs pull-left"
                 x-ng-click="sharedSpaceListVm.loadSidebarContent(sharedSpaceListVm.workgroupDetailFile)"
                 title="{'ACTION.INFO_WORKGROUP' | translate}}" aria-hidden="false">
                <i class="zmdi zmdi-info-outline" aria-hidden="true"></i>
              </a>
              <a href="" class="hidden-xs pull-left" x-ng-show="linshareModeProduction == false"
                 title="{{'ACTION.GO_TO_TRASH' | translate}}" aria-hidden="false">
                <i class="fa fa-recycle" aria-hidden="true"></i>
              </a>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
              <div class="sort-dropdown col-xs-3 toolbar-mobile-item">
                <div class="dropdown dropdown-standard  toolbar-mobile-item" uib-dropdown=""
                     dropdown-append-to-body hover-dropdown-fix>
                  <div class="actions">
                    <a uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right labeled-dropdown stop-propagate"
                        uib-dropdown-menu="">
                      <li role="menuitem">
                        <a href="" class="center">
                          {{'SELECTION_TOOLBAR.ORDER_BY' | translate}}
                        </a>
                      </li>
                      <li class="divided"></li>
                      <li role="menuitem">
                        <a href="" class="ng-binding selected-sorting"
                           x-ng-click="sharedSpaceListVm.sortDropdownSetActive('modificationDate', $event)">
                            <span class="caret-area">
                                <i x-ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                                <i x-ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           x-ng-click="sharedSpaceListVm.sortDropdownSetActive('creationDate', $event)">
                            <span class="caret-area">
                              <i x-ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i x-ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           x-ng-click="sharedSpaceListVm.sortDropdownSetActive('size', $event)">
                            <span class="caret-area">
                              <i x-ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i x-ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.BY_SIZE' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           x-ng-click="sharedSpaceListVm.sortDropdownSetActive('name', $event)">
                            <span class="caret-area">
                              <i x-ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i x-ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.ORDER_BY_NAME' | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                   data-ng-click="sharedSpaceListVm.toggleSearchState()">
                <a href="javascript:void(0)">
                  <i class="tm-icon zmdi zmdi-search"
                     data-ng-class="{'active-link': sharedSpaceListVm.searchMobileDropdown}"></i>
                </a>
              </div>
            </div>
            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input type="text" class="form-control"
                           autocomplete="off"
                           x-ng-model="sharedSpaceListVm.paramFilter['name']"
                           placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                           x-ng-change="updateParams()">
                  </div>
                </div>
              </div>
              <div class="actions">
                <a uib-dropdown dropdown-append-to-body
                   auto-close="outsideClick" hover-dropdown-fix
                   class="input-group-addon last clickable dropdown"
                   x-ng-click="advancedFilterBool = !advancedFilterBool"
                   uib-dropdown-toggle
                   data-original-title="{{'TOOLTIP.ADVANCED_FILTER' | translate }}">
                  <i class="zmdi hidden-xs clickable"
                     x-ng-class="{'zmdi-settings': !advancedFilterBool, 'zmdi-chevron-up active-link': advancedFilterBool}">
                  </i>
                  <ul uib-dropdown-menu="" class="dropdown-menu uib-dropdown-menu dropdown-menu-right dm-icon
                    dropdown-divided dropdown-content-left">
                    <!-- FILTER COMPONENT  -->
                    <filter-box class="clearfix"
                                    filter-box-size="true" filter-box-date="true"
                                    filter-box-items="sharedSpaceListVm.itemsList"
                                    filter-box-table="sharedSpaceListVm.tableParams">
                    </filter-box>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" x-ng-click="sharedSpaceListVm.toggleSearchState()">&times;</i>
          <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid"
                 placeholder="Nom de fichier" x-ng-change="updateParams()" x-ng-model="sharedSpaceListVm.paramFilter['name']"
                 aria-invalid="false">
        </div>
        <div id="selection-actions" class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar"
             x-ng-class="{'show-multi-menu': sharedSpaceListVm.selectedDocuments.length > 0}">
          <div class="toggle-checkbox-toolbar"
               x-ng-click="sharedSpaceListVm.selectDocumentsOnCurrentPage(sharedSpaceListVm.tableParams.data, sharedSpaceListVm.tableParams.page())">
            <a x-ng-if="!sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]"
               class="select-all-items plain-txt-btn ng-scope">
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a x-ng-if="sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]"
               class="select-all-items plain-txt-btn ng-scope">
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div class="exit-selection actions" x-ng-click="sharedSpaceListVm.resetSelectedDocuments()"
               title="{{'SELECTION_TOOLBAR.RESET' | translate}}">
            <a><i class="zmdi zmdi-close"></i></a>
          </div>
          <div class="display-num-selected-items" title="{{'SELECTION_TOOLBAR.SHOW_SELECTION' | translate}}">
            <div class="pull-left" x-ng-class="{'active-button-show-selection': activeBtnShowSelection}"
                 x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; sharedSpaceListVm.toggleFilterBySelectedFiles()">
              <p><span>{{sharedSpaceListVm.selectedDocuments.length}}</span> {{"SELECTION_TOOLBAR.SELECTED_ELEMENTS" |
                translate}}</p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true"
                   x-ng-show=" activeBtnShowSelection"></i>
                <i class="fa fa-eye" aria-hidden="true" x-ng-show="!activeBtnShowSelection"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon" x-ng-click="sharedSpaceListVm.resetSelectedDocuments()">
              <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
              <span x-ng-class="{'hide': sharedSpaceListVm.selectedDocuments.length > 1}">
                  <a
                    x-ng-href=""
                    x-ng-click="sharedSpaceListVm.downloadFile(sharedSpaceListVm.selectedDocuments[0])"
                    event-propagation-stop title="{{'ACTION.DOWNLOAD' | translate}}">
                    <i class="zmdi zmdi-download"></i>
                    <span>{{'ACTION.DOWNLOAD' | translate}}</span>
                  </a>
              </span>
            <span x-ng-if="sharedSpaceListVm.selectedDocuments.length > 1">
              <a class="plain-text-button" title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}"
                 x-ng-click="sharedSpaceListVm.unavailableMultiDownload()">
                <i class="zmdi zmdi-download"></i>
                <span>{{'DOWNLOAD' | translate}}</span>
              </a>
            </span>
            <span>
                <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.DELETE' | translate}}"
                   x-ng-click="sharedSpaceListVm.deleteDocuments(sharedSpaceListVm.selectedDocuments)">
                  <i class="zmdi zmdi-delete"></i>
                  <span>{{'SELECTION_TOOLBAR.DELETE' | translate}}</span>
                </a>
              </span>
            <span x-ng-show="linshareModeProduction == false">
                <a class="plain-text-button share-link" title=" {{'ACTION.MOVE' | translate}}">
                  <i class="zmdi zmdi-arrows"></i>
                  <span> {{'ACTION.MOVE' | translate}}</span>
                </a>
              </span>
            <span class="dropdown link-dropdown" uib-dropdown
                  x-ng-show="(linshareModeProduction == false) || (sharedSpaceListVm.selectedDocuments.length == 1)">
                <a class="plain-text-button share-link"
                   uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}">
                  <i class="zmdi zmdi-more-vert"></i>
                  <span>{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu"
                    uib-dropdown-menu="">
                  <li x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"
                      x-ng-click="sharedSpaceListVm.loadSidebarContent(sharedSpaceListVm.workgroupDetailFile)">
                    <a href="">
                      <i class="zmdi zmdi-info-outline "></i>
                      {{'ACTION.INFORMATION' | translate}}
                    </a>
                  </li>
                  <li>
                    <a href="" x-ng-show="linshareModeProduction == false">
                      <i class="zmdi zmdi-star"></i>
                      {{'ACTION.FAVORITES' | translate}}
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
                    <a href="" event-propagation-stop>
                      <i class="zmdi zmdi-time-restore"></i>
                      {{'ACTION.VIEW_VERSIONING' | translate}}
                    </a>
                  </li>
                  <li class="divider"
                      x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
                  <li x-ng-show="linshareModeProduction == false">
                    <a href="" event-propagation-stop>
                      <i class="zmdi zmdi-lock"></i>
                      {{'ACTION.LOCK' | translate}}
                    </a>
                  </li>
                  <li x-ng-show="linshareModeProduction == false">
                    <a href="" event-propagation-stop>
                      <i class="groups-lock-download-alt"></i>
                      {{'ACTION.EXTERNAL_EDIT' | translate}}
                    </a>
                  </li>
                  <li class="divider" x-ng-if="linshareModeProduction == false"
                      x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
                  <li x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
                    <a x-ng-click="sharedSpaceListVm.selectedDocuments[0].type ? sharedSpaceListVm.renameItem(sharedSpaceListVm.selectedDocuments[0]) : sharedSpaceListVm.renameFolder(sharedSpaceListVm.selectedDocuments[0], false)">
                       <i class="zmdi zmdi-border-color"></i>
                       {{'ACTION.RENAME' | translate}}
                    </a>
                  </li>
                  <li class="divider hidden-xs m-b-0" x-ng-show="linshareModeProduction == false"></li>
                  <li>
                    <a class="parent-sub-menu-link">
                      <i class="zmdi zmdi-copy"></i>
                      {{'ACTION.COPY' | translate}}
                      <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon "></i>
                    </a>
                     <ul>
                       <li><a href="#"><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}} </a></li>
                       <li x-ng-click="sharedSpaceListVm.copy(documentFile.uuid)">
                         <a href="#"><i class="fa fa-files-o"></i>{{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}</a>
                       </li>
                       <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                         <a href="#"><i class="zmdi zmdi-share"></i>{{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}</a>
                       </li>
                     </ul>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <div class="drag-and-drop-ctn collapsible-content reset-content-width hidden-xs drag-n-drop-height" check-table-height>
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn ">
              <div class="bordered-circle">&nbsp;</div>
              <span class="grey-clr bg-info-icon">
                <span class="groups-upload-file"></span>
              </span>
            </div>
            <div class="dnd-txt-content">
              <h1>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</h1>
              <p>{{"DRAG_DROP_BACKGROUND.COMMENT" | translate}}</p>
            </div>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span x-ng-click="sharedSpaceListVm.selectDocumentsOnCurrentPage(sharedSpaceListVm.tableParams.data, sharedSpaceListVm.tableParams.page())"
                role="button" tabindex="0" style="display:block">
              <a x-ng-if="!sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]"
                 class="select-all-items plain-text-button ng-scope checkboxCtn">
                <i class="fa fa fa-square-o checkbox-table"></i>
              </a>
              <a x-ng-if="sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]" class="select-all-items plain-text-button ng-scope">
                <i class="fa fa-check-square-o"></i>
              </a>
            </span>
        </script>
        <script type="text/ng-template" id="favoritsheader.html">
          <i class="zmdi zmdi-star"></i>
        </script>
        <!-- DOCUMENTS LIST  -->
        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table id="file-list-table" class="table table-vmiddle" x-ng-table="sharedSpaceListVm.tableParams"
                   show-filter="true" x-ng-class=" {'col-4-table' : linshareModeProduction == false}">
              <tr x-ng-repeat="documentFile in $data" ls-item-selection="{{documentFile.type ? 'file' : null}}"
                  role="listitem"
                  data-selected-documents="sharedSpaceListVm.selectedDocuments"
                  data-document-file="documentFile"
                  data-current-selected-document="sharedSpaceListVm.currentSelectedDocument"
                  data-details-function="sharedSpaceListVm.getDetails"
                  x-right-sidebar-open="mainVm.sidebar.isVisible()"
                  x-ng-click="backToSidebarContentDetails()"
                  x-ng-class="{'highlight-list-elem': documentFile.isSelected ,
                   'current-vis': sharedSpaceListVm.currentSelectedDocument.current.uuid === documentFile.uuid}"
                  class="p-b-5"
                  context-menu="moreOptionsContexualMenu"
                  x-ng-dblclick="!documentFile.type ? sharedSpaceListVm.goToSharedSpaceFolderTarget(sharedSpaceListVm.uuid, sharedSpaceListVm.name, documentFile.parent, documentFile.uuid, documentFile.name, false) : null"
                  new-upload-anim
                  check-table-height>
                <td data-header="'favoritsheader.html'"
                    ng-if="linshareModeProduction == false"
                    class="hidden-xs col-1 set-content-right thumb-type-item col-favorits"
                    data-title=""
                    header-class="'set-content-right favorits-header col-1 hidden-xs'">
                  <div>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star yellow-star"></i>
                  </div>
                </td>
                <td data-header="'checkboxheader.html'"
                    class="center set-content-left thumb-type-item thumb-groups-preview-ls"
                    header-class="'col-2 checkbox-col'">
                  <!--TODO: optimiser le code répeter et si besoin d'un test de detecion mobile cf scripts/common/MainController-->
                  <!--ligne 249 : y buena suerte-->
                  <a x-ng-click="showCheckboxes ? sharedSpaceListVm.addSelectedDocument(documentFile) : null" class="visible-xs">
                    <div x-ng-class="{ 'invisible' : showCheckboxes}">
                      <i x-ng-if="documentFile.type" class="fa" x-ng-class="'{{documentFile.type | mimetypeIcone}}'"></i>
                      <i x-ng-if="!documentFile.type" class="groups-folder">
                        <span class="path1"></span><span class="path2"></span>
                      </i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         x-ng-class="{'maintain-vis': documentFile.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                  <a x-ng-click="sharedSpaceListVm.addSelectedDocument(documentFile)" class="hidden-xs">
                    <div x-ng-class="{ 'invisible' : showCheckboxes}">
                      <i ng-if="documentFile.type" class="fa" ng-class="'{{documentFile.type | mimetypeIcone}}'"></i>
                      <i ng-if="!documentFile.type" class="groups-folder">
                        <span class="path1"></span><span class="path2"></span>
                      </i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         x-ng-class="{'maintain-vis': documentFile.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                </td>

                <td data-title="'TABLE_HEADER.NAME' | translate"
                    class="row show-li-actions col-3"
                    data-sortable="'name'" uuid={{documentFile.uuid}} header-class="'col-3 flexible-table-col'">
                  <div class="ctn-name-actions">
                      <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                        <span class="file-name-disp single-line" spellcheck="false" contenteditable="false"
                              x-ng-click="!documentFile.type ? sharedSpaceListVm.goToSharedSpaceFolderTarget(sharedSpaceListVm.uuid, sharedSpaceListVm.name, documentFile.parent, documentFile.uuid, documentFile.name, false) : null">{{documentFile.name}}</span>
                        <span>
                          <span x-ng-show="documentFile.shared > 0" class="shared-activated hidden-xs">
                          {{'BOUTON_LABEL_TITLE.SHARED' | translate}}
                          </span>
                          <p class="mobile-list-item-info visible-xs">
                            {{documentFile.modificationDate | relativeTime}}, {{documentFile.size | readableSize: false}},
                            <span x-ng-show="documentFile.shared > 0">
                             {{'BOUTON_LABEL_TITLE.SHARED' | translate}}
                            </span>
                          </p>
                        </span>
                      </span>

                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                        <ul class="actions pull-right double-mobile-actions"
                            x-ng-class="{'open-r': (mainVm.sidebar.isVisible()) &&
                          ((mainVm.sidebar.getContent() === lsAppConfig.details) ||
                           (mainVm.sidebar.getContent() === lsAppConfig.shareDetails)
                          )}">
                          <li
                            x-ng-click="sharedSpaceListVm.loadSidebarContent(sharedSpaceListVm.workgroupDetailFile)"
                            class="set-col-6">
                            <a href=""
                               title="{{'BOUTON_LABEL_TITLE.INFO' | translate}}"
                               class="set-col-12">
                              <i class="zmdi zmdi-info-outline"></i>
                            </a>
                          </li>
                          <li class="hidden-xs">
                            <a
                              x-ng-href=""
                              x-ng-click="sharedSpaceListVm.downloadFile(documentFile)"

                              event-propagation-stop title="{{'ACTION.DOWNLOAD' | translate}}">
                              <i class="zmdi zmdi-download"></i>
                            </a>
                          </li>
                          <li class="hidden-xs">
                            <a href="" x-ng-click="sharedSpaceListVm.deleteDocuments(documentFile)"
                               title="{{'ACTION.DELETE' | translate}}">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                              auto-close="always" hover-dropdown-fix>
                            <a href="" title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}" uib-dropdown-toggle
                               class="set-col-12">
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right dm-icon dropdown-divided
                                dropdown-submenu" uib-dropdown-menu="">
                              <li  x-ng-click="sharedSpaceListVm.loadSidebarContent(sharedSpaceListVm.workgroupDetailFile)">
                                <a href="">
                                  <i class="zmdi zmdi-info-outline "></i>
                                  {{'ACTION.INFORMATION' | translate}}
                                </a>
                              </li>
                              <li x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-star"></i>
                                  {{'ACTION.FAVORITES' | translate}}
                                </a>
                              </li>
                              <li x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-time-restore"></i>
                                  {{'ACTION.VIEW_VERSIONING' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                                <a
                                  x-ng-href=""
                                  x-ng-click="sharedSpaceListVm.downloadFile(documentFile)"
                                  event-propagation-stop>
                                  <i class="zmdi zmdi-download"></i>
                                  {{'ACTION.DOWNLOAD' | translate}}
                                </a>
                              </li>
                              <li x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-lock"></i>
                                  {{'ACTION.LOCK' | translate}}
                                </a>
                              </li>
                              <li x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="groups-lock-download-alt"></i>
                                  {{'ACTION.EXTERNAL_EDIT' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a
                                  x-ng-click="documentFile.type ? sharedSpaceListVm.renameItem(documentFile) : sharedSpaceListVm.renameFolder(documentFile, false)">
                                  <i class="zmdi zmdi-border-color"></i>
                                  {{'ACTION.RENAME' | translate}}
                                </a>
                              </li>
                              <li class="divider hidden-xs" x-ng-show="linshareModeProduction == false"></li>
                              <li>
                                <a href="" class="parent-sub-menu-link">
                                  <i class="zmdi zmdi-copy"></i>
                                  {{'ACTION.COPY' | translate}}
                                  <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon "></i>
                                </a>
                                <ul>
                                  <li><a href="#"><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}} </a></li>
                                  <li x-ng-click="sharedSpaceListVm.copy(documentFile.uuid)">
                                    <a href="">
                                      <i class="fa fa-files-o"></i>
                                      {{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}
                                    </a>
                                  </li>
                                  <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                                    <a href="#">
                                      <i class="zmdi zmdi-share"></i>
                                      {{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-arrows"></i>
                                  {{'ACTION.MOVE' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="" x-ng-click="sharedSpaceListVm.deleteDocuments(documentFile)">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  {{'ACTION.DELETE' | translate}}
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs"
                    x-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                    data-title="'TABLE_HEADER.MODIFICATION_DATE' | translate"
                    data-sortable="'modificationDate'"
                    header-class="'col-4 hide-if-toggled-sidebar'">
                  {{documentFile.modificationDate | relativeTime}}
                </td>
                <td class="hidden-xs"
                    ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                    data-title="'TABLE_HEADER.SIZE' | translate" data-sortable="'size'"
                    header-class="'col-5 hide-if-toggled-sidebar'">
                  {{documentFile.type ? (documentFile.size | readableSize: false) : ''}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fabButtonCtn" fab-button
       fab-button-actions="sharedSpaceListVm.fabButton.actions"
       fab-button-flow="$flow"
       fab-button-toolbar="sharedSpaceListVm.fabButton.toolbar">
  </div>
</div>
<section class="row multi-select-mobile visible-xs"
         x-ng-class="{'showMobileMultiMenu': sharedSpaceListVm.selectedDocuments.length > 0}"
         x-ng-show="sharedSpaceListVm.currentPage == 'group_list_files'">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{sharedSpaceListVm.selectedDocuments.length}}</span>
    <span class="file-multi-select-label">{{'SELECTION_TOOLBAR.ELEMENTS' | translate}}</span>
  </div>
  <div class="col-xs-8">
    <div x-ng-click="sharedSpaceListVm.selectDocumentsOnCurrentPage(sharedSpaceListVm.tableParams.data, sharedSpaceListVm.tableParams.page())"
          class="visible-xs toolbar-mobile-item col-xs-3 clickable">
          <i class="fa fa-square-o"  ng-if="!sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]" class="select-all-items p-r-10"></i>
          <i class="fa fa-check-square-o active-link"  ng-if="sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]" class="select-all-items p-r-10"></i>
    </div>

    <i class="zmdi zmdi-download col-xs-2"></i>
    <i class="zmdi zmdi-delete col-xs-2" x-ng-click="sharedSpaceListVm.deleteDocuments(sharedSpaceListVm.selectedDocuments)"></i>
    <i class="zmdi zmdi-arrows col-xs-2 disabled-work-in-progress"
       x-ng-show="linshareModeProduction == false"></i>
    <span class="dropdown col-xs-2" uib-dropdown="" ng-show="linshareModeProduction == false">
        <i class="zmdi zmdi-more-vert" x-ng-class="{'active-link': isActiveMoreDropdown }"
           x-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown" uib-dropdown-toggle=""></i>
       <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left"
           uib-dropdown-menu="">
        <li class="hidden-xs" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"
            x-ng-click="sharedSpaceListVm.loadSidebarContent(sharedSpaceListVm.workgroupDetailFile)">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-info-outline "></i>
          {{'ACTION.INFORMATION' | translate}}
          </a>
        </li>
        <li x-ng-show="linshareModeProduction == false">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-star"></i>
          {{'ACTION.FAVORITES' | translate}}
          </a>
        </li>
        <li class="divider"></li>
        <li x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-time-restore"></i>
          {{'ACTION.VIEW_VERSIONING' | translate}}
          </a>
        </li>
        <li class="divider" x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
        <li x-ng-show="linshareModeProduction == false">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-lock"></i>
          {{'ACTION.LOCK' | translate}}
          </a>
        </li>
          <li x-ng-show="linshareModeProduction == false">
          <a href="" event-propagation-stop>
          <i class="groups-lock-download-alt"></i>
          {{'ACTION.EXTERNAL_EDIT' | translate}}
          </a>
        </li>
        <li class="divider" x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
        <li x-ng-if="linshareModeProduction == false" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
          <a
            x-ng-click="sharedSpaceListVm.selectedDocuments[0].type ? sharedSpaceListVm.renameItem(sharedSpaceListVm.selectedDocuments[0]) : sharedSpaceListVm.renameFolder(sharedSpaceListVm.selectedDocuments[0], false)">
          <i class="zmdi zmdi-border-color"></i>
          {{'ACTION.RENAME' | translate}}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href=""><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}}</a>
        </li>
        <li x-ng-click="sharedSpaceListVm.copy(documentFile.uuid)">
          <a href=""><i class="fa fa-files-o"></i>{{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}</a>
        </li>
        <li x-ng-show="linshareModeProduction == false">
          <a href=""><i class="zmdi zmdi-share"></i>{{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}</a>
        </li>
      </ul>
      </span>
  </div>
  <div class="col-xs-2 pull-right">
    <i class="zmdi zmdi zmdi-close" x-ng-click="sharedSpaceListVm.resetSelectedDocuments()"></i>
  </div>
</section>
