<div
  flow-object="$flow"
  flow-files-submitted="sharedSpaceListVm.flowUploadService.uploadFiles($files, $flow, sharedSpaceListVm.workgroupPage, sharedSpaceListVm.folderInfos)" flow-drop=""
  flow-drag-enter="dropClass='drag-over'"
  flow-file-success="sharedSpaceListVm.addUploadedEntry($file, $message)"
  flow-drag-leave="dropClass='fade-out-elm'"
  ng-class="{'right-sidebar-toggled': mactrl.sidebarToggle.right === true, 'drag-over' : dropClass == 'drag-over',
          'fade-out-elm': dropClass == 'fade-out-elm'  }"
  class="file-listing-ctn">
  <div id="drop-ctn" class="drop border-anim reset-content-width">
    <div>
      <div class="drag-and-drop-alert">
        <p>{{ "DRAG_DROP_BACKGROUND.TITLE" | translate }}</p>
      </div>
    </div>
  </div>
  <div class="container files">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card" id="collapsible-content">
      <div class="card-header">
        <script type="text/ng-template" id="popover-group.html">
          <div class="add-submenu-set clearfix">
            <a href="javascript:void(0)" class="col-xs-6" ng-show="linshareModeProduction == false">
              <i class="groups-project  disabled-work-in-progress">
                <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"/>
              </i>
              <p>{{ "WORKGROUPS_LIST.PROJECT" | translate }}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" ng-click="addRow();" href="javascript:void(0)">
              <i class="groups-shared-folder disabled-work-in-progress">
                <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"/>
              </i>
              <p>{{ "WORKGROUPS_LIST.SHARED_FOLDER" | translate }}</p>
            </a>
            <a class="col-xs-6" ng-click="sharedSpaceListVm.createFolder();"
               href="javascript:void(0)">
              <i>
                <span class="groups-folder">
                      <span class="path1"></span><span class="path2"></span>
                </span>
              </i>
              <p>{{ "WORKGROUPS_LIST.FOLDER" | translate }}</p>
            </a>
            <a ng-hide="sharedSpaceListVm.currentWorkgroupMember.readonly" class="col-xs-6" flow-btn
               href="javascript:void(0)">
              <i class="zmdi zmdi-upload"></i>
              <p>{{ "WORKGROUPS_LIST.UPLOAD_FILE" | translate }}</p>
            </a>
            <a ng-show="sharedSpaceListVm.currentWorkgroupMember.readonly" class="col-xs-6 disabled-work-in-progress"
               href=""
               uib-tooltip="">
              <i class="zmdi zmdi-upload"></i>
              <p>{{ "WORKGROUPS_LIST.UPLOAD_FILE" | translate }}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" ng-show="linshareModeProduction == false">
              <i class="zmdi zmdi-pin-account"></i>
              <p>{{ "WORKGROUPS_LIST.UPLOAD_REQUEST" | translate }}</p>
            </a>
            <a class="col-xs-6" ng-show="linshareModeProduction == false">
              <i><span class="groups-add-member"></span></i>
              <p>{{ "WORKGROUPS_LIST.ADD_A_MEMBER" | translate }}</p>
            </a>
          </div>
        </script>
        <div id="breadcrumb-wrap" class="multi-toolbar-options">
          <div class="menu-popover-ctn hidden-xs clickable">
            <a class="add-menu-group"
               tabindex="0"
               uib-popover-template="'popover-group.html'"
               popover-placement="bottom"
               popover-trigger="focus">
              <i class="zmdi zmdi-plus"></i>
            </a>
          </div>
          <div class="breadcrumbs-ctn hidden-xs">
            <a href="" ui-sref="sharedspace.all" class="breadcrumb">
              <i class="zmdi zmdi-file"></i>
              {{ "BREADCRUMB_TITLE_WORKGROUP" | translate }}
            </a>
            <span ng-repeat-start="folder in sharedSpaceListVm.breadcrumbFolders" class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
            <a ng-repeat-end class="breadcrumb"
               ng-click="sharedSpaceListVm.goToSharedSpaceFolderTarget(sharedSpaceListVm.uuid, sharedSpaceListVm.name, folder.parent, folder.uuid, folder.name, true)">
              {{ folder.name }}
            </a>
            <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
            <span>
              &nbsp;&nbsp;{{ sharedSpaceListVm.folderName }}
            </span>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items group-list">
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                   data-ng-click="sharedSpaceListVm.toggleSearchState()">
                <a href="" href="javascript:void(0)">
                  <i class="tm-icon zmdi zmdi-search"
                     ng-class="{'active-link': searchMobileDropdown }"></i>
                </a>
              </div>
              <span ng-click="sharedSpaceListVm.selectDocumentsOnCurrentPage(sharedSpaceListVm.tableParams.data, sharedSpaceListVm.tableParams.page())"
                    class="visible-xs toolbar-mobile-item col-xs-3 clickable">
                <a ng-if="!sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]" class="select-all-items plain-text-button">
                  <i class="fa fa-square-o"></i>
                </a>
                <a ng-if="sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]" class="select-all-items plain-text-button">
                  <i class="fa fa-check-square-o active-link"></i>
                </a>
                </span>

              <a href="" class="hidden-xs pull-left"
                 ng-click="sharedSpaceListVm.loadSidebarContent('workgroup-detail-file'); mactrl.sidebarToggle.right = true;"
                 title="{'ACTION.INFO_WORKGROUP' | translate }}" aria-hidden="false">
                <i class="zmdi zmdi-info-outline" aria-hidden="true"></i>
              </a>

              <a href="" class="hidden-xs pull-left" ng-show="linshareModeProduction == false"
                 title="{{'ACTION.GO_TO_TRASH' | translate }}" aria-hidden="false">
                <i class="fa fa-recycle" aria-hidden="true"></i>
              </a>
              <div class="sort-dropdown col-xs-3 toolbar-mobile-item">
                <div class="dropdown dropdown-standard  toolbar-mobile-item" uib-dropdown=""
                     dropdown-append-to-body>
                  <div class="actions">
                    <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle=""
                       ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu pull-right dm-icon stop-propagate labeled-dropdown">
                      <li role="menuitem">
                        <a href="" class="center">
                          {{'SELECTION_TOOLBAR.ORDER_BY' | translate }}
                        </a>
                      </li>
                      <li class="divided"></li>
                      <li role="menuitem">
                        <a href="" class="ng-binding selected-sorting"
                           ng-click="sharedSpaceListVm.sort-dropdownSetActive('modificationDate', $event)">
                            <span class="caret-area">
                                <i ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                                <i ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE' | translate }}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           ng-click="vm.sort-dropdownSetActive('creationDate', $event)">
                            <span class="caret-area">
                              <i ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE' | translate }}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           ng-click="sharedSpaceListVm.sort-dropdownSetActive('size', $event)">
                            <span class="caret-area">
                              <i ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.BY_SIZE' | translate }}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           ng-click="sharedSpaceListVm.sort-dropdownSetActive('name', $event)">
                            <span class="caret-area">
                              <i ng-show="sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i ng-show="!sharedSpaceListVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.ORDER_BY_NAME' | translate }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
            </div>
            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input type="text" class="form-control"
                           autocomplete="off"
                           ng-model="sharedSpaceListVm.paramFilter['name']"
                           placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                           ng-change="updateParams()">
                  </div>
                </div>
              </div>
              <span class="input-group-addon last clickable"
                    x-ng-click="advancedFilterBool = !advancedFilterBool"
                    data-toggle="tooltip"
                    title=""
                    data-placement="right"
                    data-original-title="{{ 'TOOLTIP.ADVANCED_FILTER' | translate }}"
                    slide-toggle="#searchFilterCtn">
                  <i class="zmdi hidden-xs clickable"
                     x-ng-class="{'zmdi-chevron-down': !advancedFilterBool, 'zmdi-chevron-up': advancedFilterBool}">
                  </i>
                </span>
            </div>
          </div>
        </div>
        <!-- FILTER COMPONENT  -->
        <filtering-component class="clearfix" ls-size="true" ls-date="true"
                             filtered-items-list="sharedSpaceListVm.itemsList"
                             initial-items-list="sharedSpaceListVm.itemsListCopy"
                             reload-items="sharedSpaceListVm.tableParams.reload">
        </filtering-component>
      </div>
      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" data-ng-click="sharedSpaceListVm.toggleSearchState()">&times;</i>
          <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid"
                 placeholder="Nom de fichier" ng-change="updateParams()" ng-model="sharedSpaceListVm.paramFilter['name']"
                 aria-invalid="false">
        </div>
        <div id="selection-actions" class="default-multi-toolbar-state multi-btns"
             data-ng-class="{'show-multi-menu': sharedSpaceListVm.selectedDocuments.length > 0}">
          <div class="toggle-checkbox-toolbar"
               ng-click="sharedSpaceListVm.selectDocumentsOnCurrentPage(sharedSpaceListVm.tableParams.data, sharedSpaceListVm.tableParams.page())">
            <a ng-if="!sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]"
               class="select-all-items plain-txt-btn ng-scope">
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a ng-if="sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]"
               class="select-all-items plain-txt-btn ng-scope">
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div class="exit-selection" ng-click="sharedSpaceListVm.resetSelectedDocuments()"
               title="{{'SELECTION_TOOLBAR.RESET' | translate}}">
            <i class="zmdi zmdi-close"></i>
          </div>
          <div class="display-num-selected-items" title="{{'SELECTION_TOOLBAR.SHOW_SELECTION' | translate}}">
            <div class="pull-left" data-ng-class="{'active-button-show-selection': activeBtnShowSelection}"
                 ng-click="activeBtnShowSelection = !activeBtnShowSelection; sharedSpaceListVm.toggleFilterBySelectedFiles()">
              <p><span>{{sharedSpaceListVm.selectedDocuments.length}}</span> {{"SELECTION_TOOLBAR.SELECTED_ELEMENTS" |
                translate}}</p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true"
                   data-ng-show=" activeBtnShowSelection"></i>
                <i class="fa fa-eye" aria-hidden="true" data-ng-show="!activeBtnShowSelection"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon" ng-click="sharedSpaceListVm.resetSelectedDocuments()">
              <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
              <span ng-class="{'hide': sharedSpaceListVm.selectedDocuments.length > 1}">
                  <a
                    ng-href="{{linshareBaseUrl}}/work_groups/{{sharedSpaceListVm.uuid}}/entries/{{sharedSpaceListVm.selectedDocuments[0].uuid}}/download"
                    event-propagation-stop title="{{'ACTION.DOWNLOAD' | translate}}">
                    <i class="zmdi zmdi-download"></i>
                    <span>{{'ACTION.DOWNLOAD' | translate}}</span>
                  </a>
              </span>
            <span ng-if="sharedSpaceListVm.selectedDocuments.length > 1">
              <a class="plain-text-button" title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}"
                 ng-click="sharedSpaceListVm.unavailableMultiDownload()">
                <i class="zmdi zmdi-download"></i>
                <span>{{'DOWNLOAD' | translate}}</span>
              </a>
            </span>
            <span>
                <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.DELETE' | translate}}"
                   ng-click="sharedSpaceListVm.deleteDocuments(sharedSpaceListVm.selectedDocuments)">
                  <i class="zmdi zmdi-delete"></i>
                  <span>{{'SELECTION_TOOLBAR.DELETE' | translate}}</span>
                </a>
              </span>
            <span ng-show="linshareModeProduction == false">
                <a class="plain-text-button share-link" title=" {{'ACTION.MOVE' | translate}}">
                  <i class="zmdi zmdi-arrows"></i>
                  <span> {{'ACTION.MOVE' | translate}}</span>
                </a>
              </span>
            <span class="dropdown link-dropdown" uib-dropdown
                  ng-show="(linshareModeProduction == false) || (sharedSpaceListVm.selectedDocuments.length == 1)">
                <a class="plain-text-button share-link"
                   uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}">
                  <i class="zmdi zmdi-more-vert"></i>
                  <span>{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu"
                    uib-dropdown-menu="">
                  <li class="hidden-xs" data-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"
                      ng-click="sharedSpaceListVm.loadSidebarContent('workgroup-detail-file'); mactrl.sidebarToggle.right = true;">
                    <a href="">
                      <i class="zmdi zmdi-info-outline "></i>
                      {{'ACTION.INFORMATION' | translate}}
                    </a>
                  </li>
                  <li>
                    <a href="" ng-show="linshareModeProduction == false">
                      <i class="zmdi zmdi-star"></i>
                      {{'ACTION.FAVORITES' | translate}}
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
                    <a href="" event-propagation-stop>
                      <i class="zmdi zmdi-time-restore"></i>
                      {{'ACTION.VIEW_VERSIONING' | translate}}
                    </a>
                  </li>
                  <li class="divider"
                      ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
                  <li ng-show="linshareModeProduction == false">
                    <a href="" event-propagation-stop>
                      <i class="zmdi zmdi-lock"></i>
                      {{'ACTION.LOCK' | translate}}
                    </a>
                  </li>
                  <li ng-show="linshareModeProduction == false">
                    <a href="" event-propagation-stop>
                      <i class="groups-lock-download-alt"></i>
                      {{'ACTION.EXTERNAL_EDIT' | translate}}
                    </a>
                  </li>
                  <li class="divider" ng-if="linshareModeProduction == false"
                      ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
                  <li ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
                    <a ng-click="sharedSpaceListVm.selectedDocuments[0].type ? sharedSpaceListVm.renameItem(sharedSpaceListVm.selectedDocuments[0]) : sharedSpaceListVm.renameFolder(sharedSpaceListVm.selectedDocuments[0], false)">
                       <i class="zmdi zmdi-border-color"></i>
                       {{'ACTION.RENAME' | translate}}
                    </a>
                  </li>
                  <li class="divider hidden-xs m-b-0" ng-show="linshareModeProduction == false"></li>
                  <li class="hidden-xs" ng-show="linshareModeProduction == false">
                    <a href="" class="parent-sub-menu-link">
                      <i class="zmdi zmdi-copy"></i>
                      {{'ACTION.COPY' | translate}}
                      <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon "></i>
                    </a>
                     <ul>
                      <li><a href="#"><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}} </a></li>
                       <li ng-show="linshareModeProduction == false">
                          <a href="#"><i class="fa fa-files-o"></i>{{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}</a>
                       </li>
                       <li ng-show="linshareModeProduction == false">
                         <a href="#"><i class="zmdi zmdi-share"></i>{{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}</a>
                       </li>
                     </ul>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <div class="drag-and-drop-ctn reset-content-width hidden-xs">
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn ">
              <div class="bordered-circle">&nbsp;</div>
              <img src="images/upload-dnd-grey.png">
            </div>
            <h1>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</h1>
            <p>{{ "DRAG_DROP_BACKGROUND.COMMENT" | translate }}</p>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span ng-click="sharedSpaceListVm.selectDocumentsOnCurrentPage(sharedSpaceListVm.tableParams.data, sharedSpaceListVm.tableParams.page())"
                role="button" tabindex="0" style="display:block">
              <a ng-if="!sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]"
                 class="select-all-items plain-text-button ng-scope checkboxCtn">
                <i class="fa fa fa-square-o checkbox-table"></i>
              </a>
              <a ng-if="sharedSpaceListVm.flagsOnSelectedPages[sharedSpaceListVm.tableParams.page()]" class="select-all-items plain-text-button ng-scope">
                <i class="fa fa-check-square-o"></i>
              </a>
            </span>
        </script>
        <script type="text/ng-template" id="favoritsheader.html">
          <i class="zmdi zmdi-star"></i>
        </script>
        <!-- DOCUMENTS LIST  -->
        <div class="card-body">
          <div class="table-responsive">
            <table id="file-list-table" class="table table-vmiddle" data-ng-table="sharedSpaceListVm.tableParams"
                   show-filter="true" ng-class=" {'col-4-table' : linshareModeProduction == false }">
              <tr data-ng-repeat="documentFile in $data" ls-item-selection="{{documentFile.type ? 'file' : null}}"
                  role="listitem"
                  data-selected-documents="sharedSpaceListVm.selectedDocuments"
                  data-document-file="documentFile"
                  data-current-selected-document="sharedSpaceListVm.currentSelectedDocument"
                  data-details-function="sharedSpaceListVm.getDetails"
                  data-right-sidebar-open="mactrl.sidebarToggle.right"
                  ng-click="backToSidebarContentDetails()"
                  data-ng-class="{'highlight-list-elem': documentFile.isSelected ,
                   'current-vis': sharedSpaceListVm.currentSelectedDocument.current.uuid === documentFile.uuid }"
                  class="p-b-5"
                  context-menu="moreOptionsContexualMenu"
                  ng-dblclick="!documentFile.type ? sharedSpaceListVm.goToSharedSpaceFolderTarget(sharedSpaceListVm.uuid, sharedSpaceListVm.name, documentFile.parent, documentFile.uuid, documentFile.name, false) : null"
                  new-upload-anim>
                <td data-header="'favoritsheader.html'"
                    ng-if="linshareModeProduction == false"
                    class="hidden-xs col-1 set-content-right thumb-type-item col-favorits"
                    data-title=""
                    header-class="'set-content-right favorits-header col-1 hidden-xs'">
                  <div>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star yellow-star"></i>
                  </div>
                </td>
                <td data-header="'checkboxheader.html'"
                    class="set-content-left thumb-type-item thumb-groups-preview-ls"
                    header-class="'col-2'">
                  <a class="" ng-click="sharedSpaceListVm.addSelectedDocument(documentFile)">
                    <i ng-if="documentFile.type" class="fa" ng-class="'{{documentFile.type | mimetypeIcone}}'"></i>
                    <i ng-if="!documentFile.type" class="groups-folder">
                      <span class="path1"></span><span class="path2"></span>
                    </i>

                    <div class="checkbox-ctn-thumb"
                         ng-class="{'maintain-vis': documentFile.isSelected }">
                    </div>
                  </a>
                </td>
                <td data-title="'TABLE_HEADER.NAME' | translate"
                    class="row show-li-actions col-3"
                    data-sortable="'name'" uuid={{documentFile.uuid}} header-class="'col-3'">
                  <div class="ctn-name-actions">
                      <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                        <span class="file-name-disp single-line" spellcheck="false" contenteditable="false"
                              ng-click="!documentFile.type ? sharedSpaceListVm.goToSharedSpaceFolderTarget(sharedSpaceListVm.uuid, sharedSpaceListVm.name, documentFile.parent, documentFile.uuid, documentFile.name, false) : null">{{documentFile.name}}</span>
                        <span>
                          <span ng-show="documentFile.shared > 0" class="shared-activated hidden-xs">
                          {{'BOUTON_LABEL_TITLE.SHARED' | translate}}
                          </span>
                          <p class="mobile-list-item-info visible-xs">
                            {{documentFile.modificationDate | relativeTime}}, {{documentFile.size | readableSize: false}},
                            <span ng-show="documentFile.shared > 0">
                             {{'BOUTON_LABEL_TITLE.SHARED' | translate}}
                            </span>
                          </p>
                        </span>
                      </span>

                    <span class="col-xs-3 col-sm-5 col-md-4 actions-list-ctn pull-right">
                        <ul class="actions pull-right double-mobile-actions"
                            data-ng-class="{ 'openr': (mactrl.sidebarToggle.right === true) &&
                          ((sidebarRightDataType === 'details') || (sidebarRightDataType === 'share-details')
                          )}">
                          <li
                            ng-click="sharedSpaceListVm.loadSidebarContent('workgroup-detail-file'); mactrl.sidebarToggle.right = true;"
                            class="set-col-6">
                            <a href=""
                               title="{{'BOUTON_LABEL_TITLE.INFO' | translate}}"
                               class="set-col-12">
                              <i class="zmdi zmdi-info-outline"></i>
                            </a>
                          </li>
                          <li class="hidden-xs">
                            <a
                              ng-href="{{linshareBaseUrl}}/work_groups/{{sharedSpaceListVm.uuid}}/entries/{{documentFile.uuid}}/download"
                              event-propagation-stop title="{{'ACTION.DOWNLOAD' | translate}}">
                              <i class="zmdi zmdi-download"></i>
                            </a>
                          </li>
                          <li class="hidden-xs">
                            <a href="" ng-click="sharedSpaceListVm.deleteDocuments(documentFile)"
                               title="{{'ACTION.DELETE' | translate}}">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                              auto-close="always" hover-dropdown-fix>
                            <a href="" title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}" uib-dropdown-toggle
                               class="set-col-12 dropdown-toggle">
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu"
                                uib-dropdown-menu="">
                              <li class="hidden-xs"
                                  ng-click="sharedSpaceListVm.loadSidebarContent('workgroup-detail-file');
                                   mactrl.sidebarToggle.right = true;">
                                <a href="">
                                  <i class="zmdi zmdi-info-outline "></i>
                                  {{'ACTION.INFORMATION' | translate}}
                                </a>
                              </li>
                              <li ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-star"></i>
                                  {{'ACTION.FAVORITES' | translate}}
                                </a>
                              </li>
                              <li ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-time-restore"></i>
                                  {{'ACTION.VIEW_VERSIONING' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li class="hidden-xs" ng-show="linshareModeProduction == false">
                                <a
                                  ng-href="{{linshareBaseUrl}}/work_groups/{{sharedSpaceListVm.uuid}}/entries/{{documentFile.uuid}}/download"
                                  event-propagation-stop>
                                  <i class="zmdi zmdi-download"></i>
                                  {{'ACTION.DOWNLOAD' | translate}}
                                </a>
                              </li>
                              <li ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-lock"></i>
                                  {{'ACTION.LOCK' | translate}}
                                </a>
                              </li>
                              <li ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="groups-lock-download-alt"></i>
                                  {{'ACTION.EXTERNAL_EDIT' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a
                                  ng-click="documentFile.type ? sharedSpaceListVm.renameItem(documentFile) : sharedSpaceListVm.renameFolder(documentFile, false)">
                                  <i class="zmdi zmdi-border-color"></i>
                                  {{'ACTION.RENAME' | translate}}
                                </a>
                              </li>
                              <li class="divider hidden-xs" ng-show="linshareModeProduction == false"></li>
                              <li class="hidden-xs" ng-show="linshareModeProduction == false">
                                <a href="" class="parent-sub-menu-link">
                                  <i class="zmdi zmdi-copy"></i>
                                  {{'ACTION.COPY' | translate}}
                                  <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon "></i>
                                </a>
                                <ul>
                                  <li><a href="#"><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}} </a></li>
                                    <li ng-show="linshareModeProduction == false">
                                      <a href="" ng-click="sharedSpaceListVm.copy(documentFile.uuid)">
                                        <i class="fa fa-files-o"></i>
                                        {{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}
                                      </a>
                                    </li>
                                  <li ng-show="linshareModeProduction == false">
                                    <a href="#">
                                      <i class="zmdi zmdi-share"></i>
                                      {{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li class="hidden-xs" ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-arrows"></i>
                                  {{'ACTION.MOVE' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="" ng-click="sharedSpaceListVm.deleteDocuments(documentFile)">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  {{'ACTION.DELETE' | translate}}
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs"
                    ng-if="mactrl.sidebarToggle.right === false"
                    data-title="'TABLE_HEADER.MODIFICATION_DATE' | translate"
                    data-sortable="'modificationDate'"
                    header-class="'col-4'">
                  {{documentFile.modificationDate | relativeTime}}
                </td>
                <td class="hidden-xs"
                    ng-if="mactrl.sidebarToggle.right === false"
                    data-title="'TABLE_HEADER.SIZE' | translate" data-sortable="'size'"
                    header-class="'col-5'">
                  {{documentFile.size | readableSize: false}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fabMyFiles" class="fab-2-rows">
    <md-fab-toolbar md-open="fab.isOpen" count="fab.count"
                    md-direction="{{fab.selectedDirection}}" class="visible-xs">
      <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary" style="position: relative;"
                   id="primary-fab-action">
          <md-icon><i class="zmdi zmdi-plus"></i></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-toolbar style="padding:0">
        <p class="title-fab">{{'BOUTON_ADD_FILE_TITLE' | translate }}</p>
        <md-fab-actions class="md-toolbar-tools">
          <md-button aria-label="label" class="md-icon-button" flow-btn
                     ng-show="linshareModeProduction == false">
            <a ui-sref="documents.upload" class="disabled-work-in-progress">
              <i>
                <div class="groups-project disabled-work-in-progres">
                  <div class="path1"></div>
                  <div class="path2"></div>
                  <div class="path3"></div>
                  <div class="path4"></div>
                </div>
              </i>
              <span class="disabled-work-in-progress">{{ "WORKGROUPS_LIST.PROJECT" | translate }}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn>
            <a href="#/files/list" ui-sref="documents.files">
              <i class="zmdi zmdi-file-plus fab-groups"></i>
              <span>{{'ADD_FILES_DROPDOWN.UPLOAD_FILE' | translate}}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn>
            <a href="#/files/list" ui-sref="documents.files" class="disabled-work-in-progress">
              <i>
                <div class="groups-shared-folder disabled-work-in-progress">
                  <div class="path1"></div>
                  <div class="path2"></div>
                  <div class="path3"></div>
                  <div class="path4"></div>
                </div>
              </i>
              <span class="disabled-work-in-progress">{{ "WORKGROUPS_LIST.SHARED_FOLDER" | translate }}</span>
            </a>
          </md-button>
        </md-fab-actions>
        <md-fab-actions class="md-toolbar-tools">
          <md-button aria-label="label" class="md-icon-button" flow-btn
                     ng-show="linshareModeProduction == false">
            <a href="#/files/upload" ui-sref="documents.upload">
              <i>
                <div class="groups-folder">
                  <div class="path1"></div>
                  <div class="path2"></div>
                </div>
              </i>
              <span>{{ "WORKGROUPS_LIST.FOLDER" | translate }}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn
                     ng-show="linshareModeProduction == false">
            <a href="#/files/list" ui-sref="documents.files">
              <i class="zmdi zmdi-pin-account"></i>
              <span>{{ "WORKGROUPS_LIST.UPLOAD_REQUEST" | translate }}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn>
            <a href="#/files/list" ui-sref="documents.files">
              <i><span class="groups-add-member"></span></i>
              <span>{{ "WORKGROUPS_LIST.ADD_A_MEMBER" | translate }}</span>
            </a>
          </md-button>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar>
  </div>
</div>
<section class="row multi-select-mobile visible-xs"
         data-ng-class="{'showMobileMultiMenu': sharedSpaceListVm.selectedDocuments.length > 0}"
         ng-show="sharedSpaceListVm.currentPage == 'group_list_files'">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{sharedSpaceListVm.selectedDocuments.length}}</span>
    <span class="file-multi-select-label">{{'SELECTION_TOOLBAR.ELEMENTS' | translate}}</span>
  </div>
  <div class="col-xs-8">
    <i class="zmdi zmdi-download col-xs-3"></i>
    <i class="zmdi zmdi-delete col-xs-3" ng-click="sharedSpaceListVm.deleteDocuments(sharedSpaceListVm.selectedDocuments)"></i>
    <i class="zmdi zmdi-arrows col-xs-3 disabled-work-in-progress"
       ng-show="linshareModeProduction == false"></i>
    <span class="dropdown col-xs-3" uib-dropdown="" ng-show="linshareModeProduction == false">
        <i class="zmdi zmdi-more-vert" ng-class="{'active-link': isActiveMoreDropdown }"
           ng-click="isActiveMoreDropdown = !isActiveMoreDropdown"
           dropdown-toggle uib-dropdown-toggle=""></i>
       <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left"
           uib-dropdown-menu="">
        <li class="hidden-xs" data-ng-show="sharedSpaceListVm.selectedDocuments.length == 1"
            ng-click="sharedSpaceListVm.loadSidebarContent('workgroup-detail-file'); mactrl.sidebarToggle.right = true;">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-info-outline "></i>
          {{'ACTION.INFORMATION' | translate}}
          </a>
        </li>
        <li ng-show="linshareModeProduction == false">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-star"></i>
          {{'ACTION.FAVORITES' | translate}}
          </a>
        </li>
        <li class="divider"></li>
        <li ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-time-restore"></i>
          {{'ACTION.VIEW_VERSIONING' | translate}}
          </a>
        </li>
        <li class="divider" ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
        <li ng-show="linshareModeProduction == false">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-lock"></i>
          {{'ACTION.LOCK' | translate}}
          </a>
        </li>
          <li ng-show="linshareModeProduction == false">
          <a href="" event-propagation-stop>
          <i class="groups-lock-download-alt"></i>
          {{'ACTION.EXTERNAL_EDIT' | translate}}
          </a>
        </li>
        <li class="divider" ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1"></li>
        <li ng-if="linshareModeProduction == false" ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
          <a
            ng-click="sharedSpaceListVm.selectedDocuments[0].type ? sharedSpaceListVm.renameItem(sharedSpaceListVm.selectedDocuments[0]) : sharedSpaceListVm.renameFolder(sharedSpaceListVm.selectedDocuments[0], false)">
          <i class="zmdi zmdi-border-color"></i>
          {{'ACTION.RENAME' | translate}}
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href=""><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}}</a>
        </li>
        <li ng-show="linshareModeProduction == false">
          <a href=""><i class="fa fa-files-o"></i>{{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}</a>
        </li>
        <li ng-show="linshareModeProduction == false">
          <a href=""><i class="zmdi zmdi-share"></i>{{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}</a>
        </li>
      </ul>
      </span>
  </div>
  <div class="col-xs-1 pull-right" ng-click="sharedSpaceListVm.resetSelectedDocuments()">
    <i class="zmdi zmdi zmdi-close"></i>
  </div>
</section>
<aside id="chat" data-ng-include src="'views/includes/sidebar-right.html'"
       data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" class="sidebar-right">
</aside>
