<div class="container">

  <div id="member-sidebar">
    <div class="header-sidebar">
      <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs"
         ng-click="mactrl.sidebarToggle.right = false">
      </i>
      <h2 class="header-more-options set-ellipsis"> {{vm.currentSelectedDocument.current.name}}</h2>
      <span class="hidden-xs">
        <i class="zmdi zmdi-close zmdi-hc-lg"
           ng-click="mactrl.sidebarToggle.right = false">
        </i>
      </span>
    </div>

    <div ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail" ng-class="{ 'two-tabs': currentPage !== 'my_files'}">
      <md-content>
        <md-tabs md-selected="vm.mdtabsSelection.selectedIndex" md-dynamic-height="" md-border-bottom="">
          <md-tab id="tab1" ng-if="vm.currentPage == 'group_list'" label="{{'INFORMATION_TAB.TITLE' | translate}}"
                  class="col-xs-4 no-padding">

            <!-- WORKGROUP DETAILS -->
            <md-content>
              <div ng-include="'modules/linshare.sharedSpace/views/workgroup_details.html'"></div>
            </md-content>

          </md-tab>
          <md-tab id="tab2" label="{{'MEMBER_TAB.TITLE' | translate}}" class="col-xs-4 no-padding disabled">

            <!--MEMBER LIST-->
            <md-content class="md-padding">
              <div ng-include="'modules/linshare.sharedSpace/views/workgroup_members.html'"></div>
            </md-content>

          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
