<div drag-and-drop
     drag-and-drop-flow="$flow"
     drag-and-drop-submitted="workgroupNodesVm.flowUploadService.uploadFiles(files,
      workgroupNodesVm.workgroupPage, workgroupNodesVm.folderDetails)"
     drag-and-drop-success="workgroupNodesVm.addUploadedDocument(file, $message)">
  <div class="container files">
    <!-- ACTIONS ON DOCUMENTS -->
    <!-- contextmenu -->
    <div class="card">
      <div class="card-header">
        <script type="text/ng-template" id="popover-group.html">
          <div class="add-submenu-set clearfix">
            <a href="javascript:void(0)" class="col-xs-6" data-ng-show="!linshareModeProduction">
              <i class="ls-project"></i>
              <p translate>WORKGROUPS_LIST.PROJECT</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" href="javascript:void(0)">
              <i class="ls-workgroup"></i>
              <p translate>WORKGROUPS_LIST.SHARED_FOLDER</p>
            </a>
            <a class="col-xs-6" data-ng-click="workgroupNodesVm.createFolder()"
               data-ng-class="{'disabled' : !workgroupNodesVm.canCreateFolder}"
               data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
               href="javascript:void(0)">
              <i class="ls-folder"></i>
              <p translate>WORKGROUPS_LIST.FOLDER</p>
            </a>
            <a class="col-xs-6" flow-btn href="javascript:void(0)"
               data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
              <i class="ls-upload-item"></i>
              <p translate>WORKGROUPS_LIST.UPLOAD_FILE</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" data-ng-show="!linshareModeProduction">
              <i class="ls-upload-request"></i>
              <p translate>WORKGROUPS_LIST.UPLOAD_REQUEST</p>
            </a>
            <a class="col-xs-6" data-ng-click="workgroupNodesVm.showWorkgroupDetails(true)"
               data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
              <i><span class="ls-add-user-sm"></span></i>
              <p translate>WORKGROUPS_LIST.ADD_A_MEMBER</p>
            </a>
          </div>
        </script>
        <div id="breadcrumb-wrap" class="deep-nav multi-toolbar-options">
          <div class="menu-popover-ctn hidden-xs clickable waves-effect"
               data-ng-class="{'disabled' : workgroupNodesVm.currentWorkgroupMember.readonly}">
            <a class="add-menu-group"
               tabindex="0"
               uib-popover-template="'popover-group.html'"
               popover-placement="bottom"
               popover-class="menu-popover-flyout-ctn"
               popover-append-to-body="true"
               popover-trigger="focus">
              <i class="zmdi zmdi-plus"
                 data-ng-class="{'disabled': workgroupNodesVm.currentWorkgroupMember.readonly}"></i>
            </a>
          </div>
          <div class="breadcrumbs-ctn hidden-xs"
               data-ng-class="{
                'lv1-break': workgroupNodesVm.breadcrumb.length >= 1,
                'lv2-break': workgroupNodesVm.breadcrumb.length >= 2,
                'lv4-break': workgroupNodesVm.breadcrumb.length >= 4}">
            <div class="left-arrow actions"
                 data-ng-click="workgroupNodesVm.goToPreviousFolder((workgroupNodesVm.breadcrumb.length === 0),
                 workgroupNodesVm.breadcrumb[workgroupNodesVm.breadcrumb.length-2])">
              <a><i class="ls-previous-caret"></i></a>
            </div>
            <div id="page-root-link">
              <a ui-sref="sharedspace.all">
                <i class="groups-home-workgroup"></i>
              </a>
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
            </div>
            <div id="root-level">
              <a class="set-ellipsis"
                 tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1200" uib-tooltip="{{workgroupNodesVm.folderDetails.workgroupName}}"
                 data-ng-click="workgroupNodesVm.goToFolder()">
                {{workgroupNodesVm.folderDetails.workgroupName}}
              </a>
            </div>
            <span class="explorer-previous-lvl dropdown dropdown-standard pull-left" uib-dropdown=""
                  dropdown-append-to-body hover-dropdown-fix>
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>

              <a uib-dropdown-toggle="" class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="700" uib-tooltip="{{BREADCRUMB_UPPER_LEVEL | translate}}">...</a>
              <div uib-dropdown-menu=""
                   class="uib-dropdown-menu dropdown-menu dm-icon double-drop dropdown-menu-left
                   explorer-content-dropdown">
                <div class="list-menu">
                  <p translate>BREADCRUMB_UPPER_LEVEL</p>
                  <ul class="dropdown-menu dm-icon filter-menu dropdown-menu-right">
                    <li data-ng-repeat="breadcrumbItem in workgroupNodesVm.breadcrumb.slice().reverse()"
                        data-ng-click="workgroupNodesVm.goToFolder(breadcrumbItem, true)">
                      <a class="set-ellipsis" data-ng-class="{'active-level' : $index === 0}">
                        {{breadcrumbItem.name}}
                      </a>
                    </li>
                    <li>
                      <a class="set-ellipsis" data-ng-click="workgroupNodesVm.goToFolder()">
                        {{workgroupNodesVm.folderDetails.workgroupName}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </span>
            <div data-ng-cloak class="folder-level" data-ng-repeat="breadcrumbItem in workgroupNodesVm.breadcrumb"
                 data-ng-click="workgroupNodesVm.goToFolder(breadcrumbItem, true)">
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
              <a class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1000" uib-tooltip="{{breadcrumbItem.name}}">
                {{breadcrumbItem.name}}
              </a>
            </div>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items wide-action-bar">
              <span data-ng-click="showCheckboxes = !showCheckboxes"
                    class="visible-xs toolbar-mobile-item col-xs-3">
               <a class="select-all-items plain-txt-btn">
                 <i class="ls-multi-select"
                    data-ng-class="{'active-link': showCheckboxes}"
                    data-ng-click="showCheckboxes && workgroupNodesVm.resetSelectedDocuments()"></i>
               </a>
             </span>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
              <a href="" class="hidden-xs pull-left"
                 data-ng-click="workgroupNodesVm.showWorkgroupDetails()"
                 title="{{'ACTION.INFO_WORKGROUP' | translate}}" aria-hidden="false">
                <i class="zmdi zmdi-info-outline" aria-hidden="true"></i>
              </a>
              <a href="" class="hidden-xs pull-left" data-ng-show="!linshareModeProduction"
                 title="{{'ACTION.GO_TO_TRASH' | translate}}" aria-hidden="false">
                <i class="fa fa-recycle" aria-hidden="true"></i>
              </a>
              <div class="col-xs-3 toolbar-mobile-item sort-dropdown">
                <div class="dropdown dropdown-standard toolbar-mobile-item" uib-dropdown=""
                     dropdown-append-to-body hover-dropdown-fix>
                  <div class="actions">
                    <a uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul
                      class="uib-dropdown-menu dropdown-menu dropdown-menu-right labeled-dropdown
                       sort-dropdown stop-propagate" uib-dropdown-menu="">
                      <li role="menuitem">
                        <a href="" class="center" translate>SELECTION_TOOLBAR.ORDER_BY</a>
                      </li>
                      <li class="divided"></li>
                      <li role="menuitem">
                        <a href="" class="selected-sorting"
                           data-ng-click="workgroupNodesVm.sortDropdownSetActive('modificationDate', $event)">
                            <span class="caret-area">
                                <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                   class="zmdi zmdi-caret-down"></i>
                                <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                   class="zmdi zmdi-caret-up"></i>
                            </span>
                          <span translate>FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href=""
                           data-ng-click="workgroupNodesVm.sortDropdownSetActive('creationDate', $event)">
                            <span class="caret-area">
                              <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                 class="zmdi zmdi-caret-down"></i>
                              <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                 class="zmdi zmdi-caret-up"></i>
                            </span>
                          <span translate>FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href=""
                           data-ng-click="workgroupNodesVm.sortDropdownSetActive('size', $event)">
                            <span class="caret-area">
                              <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                 class="zmdi zmdi-caret-down"></i>
                              <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                 class="zmdi zmdi-caret-up"></i>
                            </span>
                          <span translate>FILTER_COMPONENT.BY_SIZE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href=""
                           data-ng-click="workgroupNodesVm.sortDropdownSetActive('name', $event)">
                            <span class="caret-area">
                              <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                 class="zmdi zmdi-caret-down"></i>
                              <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()"
                                 class="zmdi zmdi-caret-up"></i>
                            </span>
                          <span translate>FILTER_COMPONENT.ORDER_BY_NAME</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                   data-ng-click="workgroupNodesVm.toggleSearchState()">
                <a>
                  <i class="tm-icon zmdi zmdi-search"
                     data-ng-class="{'active-link': workgroupNodesVm.searchMobileDropdown}"></i>
                </a>
              </div>
            </div>
            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input type="text" class="form-control"
                           autocomplete="off"
                           data-ng-model="workgroupNodesVm.paramFilter['name']"
                           placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                           data-ng-change="updateParams()">
                  </div>
                </div>
              </div>
              <div class="actions">
                <a uib-dropdown dropdown-append-to-body
                   auto-close="outsideClick" hover-dropdown-fix
                   class="input-group-addon last clickable dropdown"
                   data-ng-click="advancedFilterBool = !advancedFilterBool"
                   uib-dropdown-toggle
                   data-original-title="{{'TOOLTIP.ADVANCED_FILTER' | translate }}">
                  <i class="zmdi hidden-xs clickable ls-settings"></i>
                  <ul uib-dropdown-menu="" class="dropdown-menu uib-dropdown-menu dropdown-menu-right dm-icon
                    dropdown-divided dropdown-content-left">
                    <!-- FILTER COMPONENT -->
                    <filter-box class="clearfix"
                                filter-box-size="true"
                                filter-box-date="true"
                                filter-box-items="workgroupNodesVm.nodesList"
                                filter-box-table="workgroupNodesVm.tableParams">
                    </filter-box>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" data-ng-click="workgroupNodesVm.toggleSearchState()">&times;</i>
          <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid"
                 placeholder="{{'FILE_NAME' | translate}}" data-ng-change="updateParams()"
                 data-ng-model="workgroupNodesVm.paramFilter['name']"
                 aria-invalid="false">
        </div>
        <div id="selection-actions"
             class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar"
             data-ng-class="{'show-multi-menu': workgroupNodesVm.selectedDocuments.length > 0}">
          <div class="toggle-checkbox-toolbar"
               data-ng-click="workgroupNodesVm.selectDocumentsOnCurrentPage(workgroupNodesVm.tableParams.data,
                workgroupNodesVm.tableParams.page())">
            <a data-ng-if="!workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
               class="select-all-items plain-txt-btn">
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a data-ng-if="workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
               class="select-all-items plain-txt-btn">
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div class="exit-selection actions" data-ng-click="workgroupNodesVm.resetSelectedDocuments()"
               title="{{'SELECTION_TOOLBAR.RESET' | translate}}">
            <a><i class="zmdi zmdi-close"></i></a>
          </div>
          <div class="display-num-selected-items" title="{{'SELECTION_TOOLBAR.SHOW_SELECTION' | translate}}">
            <div class="pull-left"
                 data-ng-class="{'active-button-show-selection':
                  workgroupNodesVm.tableParamsService.getSelectionIsIsolated()}"
                 data-ng-click="workgroupNodesVm.toggleFilterBySelectedFiles()">
              <p>
                <span>{{workgroupNodesVm.selectedDocuments.length}}</span>
                <span translate>SELECTION_TOOLBAR.SELECTED_ELEMENTS</span>
              </p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true"
                   data-ng-show="workgroupNodesVm.tableParamsService.getSelectionIsIsolated()"></i>
                <i class="fa fa-eye" aria-hidden="true"
                   data-ng-show="!workgroupNodesVm.tableParamsService.getSelectionIsIsolated()"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon"
                 data-ng-click="workgroupNodesVm.resetSelectedDocuments()">
              <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
            <span data-ng-class="{'hide': workgroupNodesVm.selectedDocuments.length > 1}"
                  data-ng-if="workgroupNodesVm.areAllSameType()">
              <a data-ng-href=""
                 data-ng-click="workgroupNodesVm.downloadFile(workgroupNodesVm.selectedDocuments[0])"
                 event-propagation-stop title="{{'ACTION.DOWNLOAD' | translate}}">
                <i class="zmdi zmdi-download"></i>
                <span translate>ACTION.DOWNLOAD</span>
              </a>
            </span>
            <span data-ng-if="workgroupNodesVm.selectedDocuments.length > 1 &&
             workgroupNodesVm.areAllSameType()">
              <a class="plain-text-button" title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}"
                 data-ng-click="workgroupNodesVm.unavailableMultiDownload()">
                <i class="zmdi zmdi-download"></i>
                <span translate>ACTION.DOWNLOAD</span>
              </a>
            </span>
            <span data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
              <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.DELETE' | translate}}"
                 data-ng-click="workgroupNodesVm.deleteNodes(workgroupNodesVm.selectedDocuments)">
                <i class="zmdi zmdi-delete"></i>
                <span translate>SELECTION_TOOLBAR.DELETE</span>
              </a>
            </span>
            <span data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
              <a class="plain-text-button share-link" title="{{'ACTION.MOVE' | translate}}"
                 data-ng-click="workgroupNodesVm.openBrowser(workgroupNodesVm.selectedDocuments, true)">
                <i class="zmdi zmdi-arrows"></i>
                <span translate>ACTION.MOVE</span>
              </a>
            </span>
            <span data-ng-if="workgroupNodesVm.selectedDocuments.length === 1 &&
             !workgroupNodesVm.isDocument(workgroupNodesVm.selectedDocuments[0].type)">
              <a class="plain-text-button share-link" title="{{'ACTION.INFORMATION' | translate}}"
                 data-ng-click="workgroupNodesVm.showSelectedNodeDetails(workgroupNodesVm.selectedDocuments[0])">
                <i class="zmdi zmdi-info-outline"></i>
                <span translate>ACTION.INFORMATION</span>
              </a>
            </span>
            <span class="dropdown link-dropdown" uib-dropdown
                  data-ng-hide="workgroupNodesVm.selectedDocuments.length >= 1 && !workgroupNodesVm.areAllSameType()">
              <a class="plain-text-button share-link"
                 uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}">
                <i class="zmdi zmdi-more-vert"></i>
                <span translate>BOUTON_LABEL_TITLE.MORE_ACTIONS</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu"
                  uib-dropdown-menu="">
                <li data-ng-show="workgroupNodesVm.selectedDocuments.length === 1"
                    data-ng-click="workgroupNodesVm.showSelectedNodeDetails(workgroupNodesVm.selectedDocuments[0])">
                  <a href="">
                    <i class="zmdi zmdi-info-outline"></i>
                    <span translate>ACTION.INFORMATION</span>
                  </a>
                </li>
                <li data-ng-click="workgroupNodesVm.copyNode(workgroupNodesVm.selectedDocuments)"
                    data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly &&
                 workgroupNodesVm.areAllSameType()">
                  <a href="">
                    <i class="zmdi zmdi-copy"></i>
                    <span translate>ACTION.DUPLICATE</span>
                  </a>
                </li>
                <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly
                 && workgroupNodesVm.areAllSameType()">
                  <a href="" class="parent-sub-menu-link">
                    <i class="zmdi zmdi-copy"></i>
                    <span translate>ACTION.COPY_TO</span>
                    <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon"></i>
                  </a>
                  <ul>
                    <li data-ng-click="workgroupNodesVm.openBrowser(workgroupNodesVm.selectedDocuments)">
                      <a>
                        <i class="fa fa-files-o"></i>
                        <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
                      </a>
                    </li>
                    <li data-ng-class="{'disabled-work-in-progress': linshareModeProduction}">
                      <a>
                        <i class="fa fa-files-o"></i>
                        <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
                      </a>
                    </li>
                    <li class="hidden-xs" data-ng-show="!linshareModeProduction">
                      <a>
                        <i class="zmdi zmdi-share"></i>
                        <span translate>ACTION.COPY_DROPDOWN.COPY_AND_SHARE</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="" data-ng-show="!linshareModeProduction">
                    <i class="zmdi zmdi-star"></i>
                    <span translate>ACTION.FAVORITES</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li data-ng-if="!linshareModeProduction"
                    data-ng-show="workgroupNodesVm.selectedDocuments.length === 1">
                  <a href="" event-propagation-stop>
                    <i class="zmdi zmdi-time-restore"></i>
                    <span translate>ACTION.VIEW_VERSIONING</span>
                  </a>
                </li>
                <li class="divider"
                    data-ng-if="!linshareModeProduction"
                    data-ng-show="workgroupNodesVm.selectedDocuments.length === 1"></li>
                <li data-ng-show="!linshareModeProduction">
                  <a href="" event-propagation-stop>
                    <i class="zmdi zmdi-lock"></i>
                    <span translate>ACTION.LOCK</span>
                  </a>
                </li>
                <li data-ng-show="!linshareModeProduction">
                  <a href="" event-propagation-stop>
                    <i class="groups-lock-download-alt"></i>
                    <span translate>ACTION.EXTERNAL_EDIT</span>
                  </a>
                </li>
                <li class="divider" data-ng-if="!linshareModeProduction"
                    data-ng-show="workgroupNodesVm.selectedDocuments.length === 1"></li>
                <li data-ng-if="!linshareModeProduction"
                    data-ng-show="workgroupNodesVm.selectedDocuments.length === 1">
                  <a
                    data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
                    data-ng-click="workgroupNodesVm.renameNode(workgroupNodesVm.selectedDocuments[0])">
                     <i class="zmdi zmdi-border-color"></i>
                     <span translate>ACTION.RENAME</span>
                  </a>
                </li>
              </ul>
            </span>
          </div>
        </div>
        <div class="drag-and-drop-ctn reset-content-width collapsible-content drag-n-drop-height"
             check-table-height data-ng-class="{'show-bg-drop' : workgroupNodesVm.nodesList.length === 0}">
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn">
              <div class="bordered-circle">&nbsp;</div>
              <span class="grey-clr bg-info-icon">
                <span class="groups-upload-file"></span>
              </span>
            </div>
            <div class="dnd-txt-content">
              <h1 translate class="hidden-xs">DRAG_DROP_BACKGROUND.TITLE</h1>
              <p translate class="hidden-xs">DRAG_DROP_BACKGROUND.COMMENT</p>
              <h1 translate class="visible-xs">WORKGROUP_DRAG_DROP_BACKGROUND_MOBILE.TITLE</h1>
              <p translate class="visible-xs">WORKGROUP_DRAG_DROP_BACKGROUND_MOBILE.COMMENT</p>
            </div>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span
            data-ng-click="workgroupNodesVm.selectDocumentsOnCurrentPage(workgroupNodesVm.tableParams.data,
             workgroupNodesVm.tableParams.page())"
            role="button" tabindex="0" class="display-block">
              <a data-ng-if="!workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
                 class="select-all-items plain-text-button checkboxCtn">
                <i class="fa fa fa-square-o checkbox-table"></i>
              </a>
              <a data-ng-if="workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
                 class="select-all-items plain-text-button">
                <i class="fa fa-check-square-o"></i>
              </a>
            </span>
        </script>
        <script type="text/ng-template" id="favoritsheader.html">
          <i class="zmdi zmdi-star"></i>
        </script>
        <!-- DOCUMENTS LIST -->
        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table id="file-list-table"
                   class="table table-vmiddle fixed-activity-table-height"
                   data-ng-table="workgroupNodesVm.tableParams"
                   show-filter="true"
                   data-ng-class="{'col-4-table' : !linshareModeProduction}">
              <tr data-ng-repeat="nodeItem in $data"
                  ls-item-selection
                  data-selected-documents="workgroupNodesVm.selectedDocuments"
                  data-document-file="nodeItem"
                  data-current-selected-document="workgroupNodesVm.currentSelectedDocument"
                  data-details-function="workgroupNodesVm.getNodeDetails"
                  data-right-sidebar-open="mainVm.sidebar.isVisible()"
                  data-ng-click="backToSidebarContentDetails()"
                  data-ng-class="{'highlight-list-elem': nodeItem.isSelected ,
                   'current-vis': workgroupNodesVm.currentSelectedDocument.current.uuid === nodeItem.uuid,
                   'item-container': !workgroupNodesVm.isDocument(nodeItem.type)}"
                  class="p-b-5"
                  data-ng-dblclick="workgroupNodesVm.goToFolder(nodeItem)"
                  new-upload-anim
                  check-table-height>
                <td data-header="'favoritsheader.html'"
                    ng-if="!linshareModeProduction"
                    class="hidden-xs col-1 set-content-right thumb-type-item col-favorits"
                    data-title=""
                    header-class="'set-content-right favorits-header col-1 hidden-xs'">
                  <div>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star yellow-star"></i>
                  </div>
                </td>
                <td data-header="'checkboxheader.html'"
                    class="center set-content-left thumb-type-item thumb-groups-preview-ls"
                    header-class="'col-2 checkbox-col'">
                  <a
                    data-ng-click="(showCheckboxes || !isMobile) ? workgroupNodesVm.addSelectedDocument(nodeItem) : null">
                    <div data-ng-class="{ 'invisible' : showCheckboxes && isMobile}">
                      <i data-ng-if="workgroupNodesVm.isDocument(nodeItem.type)"
                         data-ng-class="'{{nodeItem.mimeType | mimetypeIcone}}'"></i>
                      <i data-ng-if="!workgroupNodesVm.isDocument(nodeItem.type)" class="ls-folder"></i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         data-ng-class="{'maintain-vis': nodeItem.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                </td>

                <td data-title="'TABLE_HEADER.NAME' | translate"
                    class="row show-li-actions col-3"
                    data-sortable="'name'" uuid={{nodeItem.uuid}} header-class="'col-3 flexible-table-col'">
                  <div class="ctn-name-actions">
                    <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                      <span class="file-name-disp single-line" spellcheck="false" contenteditable="false"
                            data-ng-click="workgroupNodesVm.goToFolder(nodeItem)">{{nodeItem.name}}</span>
                      <span>
                        <span data-ng-show="nodeItem.shared > 0" class="shared-activated hidden-xs" translate>
                          BOUTON_LABEL_TITLE.SHARED</span>
                        <p class="mobile-list-item-info visible-xs">
                          {{nodeItem.modificationDate | relativeTime}}
                          {{workgroupNodesVm.isDocument(nodeItem.type) ?
                          ', '+(nodeItem.size | readableSize: false) : ''}}
                        </p>
                      </span>
                    </span>
                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                        <ul class="actions pull-right double-mobile-actions">
                          <li event-propagation-stop
                              data-ng-click="workgroupNodesVm.showSelectedNodeDetails(nodeItem)"
                              class="set-col-6">
                            <a href=""
                               title="{{'BOUTON_LABEL_TITLE.INFO' | translate}}"
                               class="set-col-12">
                              <i class="zmdi zmdi-info-outline"></i>
                            </a>
                          </li>
                          <li class="hidden-xs" data-ng-class="{'disabled-work-in-progress':
                           !workgroupNodesVm.isDocument(nodeItem.type)}">
                            <a data-ng-href=""
                               data-ng-click="workgroupNodesVm.downloadFile(nodeItem)"
                               event-propagation-stop title="{{'ACTION.DOWNLOAD' | translate}}">
                              <i class="zmdi zmdi-download"></i>
                            </a>
                          </li>
                          <li class="hidden-xs" data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
                            <a href="" data-ng-click="workgroupNodesVm.deleteNodes(nodeItem)"
                               title="{{'ACTION.DELETE' | translate}}">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                              auto-close="always" hover-dropdown-fix>
                            <a title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}" uib-dropdown-toggle
                               class="set-col-12" event-propagation-stop>
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right dm-icon
                             dropdown-divided dropdown-submenu" uib-dropdown-menu="">
                              <li event-propagation-stop
                                  data-ng-click="workgroupNodesVm.showSelectedNodeDetails(nodeItem)">
                                <a href="">
                                  <i class="zmdi zmdi-info-outline"></i>
                                  <span translate>ACTION.INFORMATION</span>
                                </a>
                              </li>
                              <li data-ng-show="!linshareModeProduction">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-star"></i>
                                  <span translate>ACTION.FAVORITES</span>
                                </a>
                              </li>
                              <li data-ng-show="!linshareModeProduction">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-time-restore"></i>
                                  <span translate>ACTION.VIEW_VERSIONING</span>
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li class="hidden-xs" data-ng-show="!linshareModeProduction &&
                               workgroupNodesVm.isDocument(nodeItem.type)">
                                <a data-ng-href="" data-ng-click="workgroupNodesVm.downloadFile(nodeItem)"
                                   event-propagation-stop>
                                  <i class="zmdi zmdi-download"></i>
                                  <span translate>ACTION.DOWNLOAD</span>
                                </a>
                              </li>
                              <li data-ng-show="!linshareModeProduction">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-lock"></i>
                                  <span translate>ACTION.LOCK</span>
                                </a>
                              </li>
                              <li data-ng-show="!linshareModeProduction">
                                <a href="" event-propagation-stop>
                                  <i class="groups-lock-download-alt"></i>
                                  <span translate>ACTION.EXTERNAL_EDIT</span>
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
                                <a data-ng-click="workgroupNodesVm.renameNode(nodeItem)">
                                  <i class="zmdi zmdi-border-color"></i>
                                  <span translate>ACTION.RENAME</span>
                                </a>
                              </li>
                              <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
                                  data-ng-show="workgroupNodesVm.isDocument(nodeItem.type)">
                                <a data-ng-click="workgroupNodesVm.copyNode([nodeItem])">
                                  <i class="zmdi zmdi-copy"></i>
                                  <span translate>ACTION.DUPLICATE</span>
                                </a>
                              </li>
                              <li class="divider hidden-xs" data-ng-show="!linshareModeProduction"></li>
                              <li data-ng-if="!isMobile && !workgroupNodesVm.currentWorkgroupMember.readonly"
                                  data-ng-show="workgroupNodesVm.isDocument(nodeItem.type)">
                                <a href="" class="parent-sub-menu-link">
                                  <i class="zmdi zmdi-copy"></i>
                                  <span translate>ACTION.COPY_TO</span>
                                  <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon"></i>
                                </a>
                                <ul>
                                  <li data-ng-click="workgroupNodesVm.openBrowser([nodeItem])">
                                    <a>
                                      <i class="fa fa-files-o"></i>
                                      <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
                                    </a>
                                  </li>
                                  <li data-ng-class="{'disabled-work-in-progress': linshareModeProduction}">
                                    <a>
                                      <i class="fa fa-files-o"></i>
                                      <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
                                    </a>
                                  </li>
                                  <li class="hidden-xs" data-ng-show="!linshareModeProduction">
                                    <a>
                                      <i class="zmdi zmdi-share"></i>
                                      <span translate>ACTION.COPY_DROPDOWN.COPY_AND_SHARE</span>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <li event-propagation-stop
                                  data-ng-hide="!isMobile"
                                  data-ng-click="workgroupNodesVm.openBrowser([nodeItem])"
                                  data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
                                <a href="">
                                  <i class="fa fa-files-o"></i>
                                  <span translate>ACTION.COPY_INTO_THE_SHARED_SPACE</span>
                                </a>
                              </li>
                              <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
                                <a href="" data-ng-click="workgroupNodesVm.openBrowser([nodeItem], true)">
                                  <i class="zmdi zmdi-arrows"></i>
                                  <span translate>ACTION.MOVE</span>
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly">
                                <a href="" data-ng-click="workgroupNodesVm.deleteNodes(nodeItem)">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  <span translate>ACTION.DELETE</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs"
                    data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                    data-title="'TABLE_HEADER.MODIFICATION_DATE' | translate"
                    data-sortable="'modificationDate'"
                    header-class="'col-4 hide-if-toggled-sidebar'">
                  {{nodeItem.modificationDate | relativeTime}}
                </td>
                <td class="hidden-xs"
                    data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                    data-title="'TABLE_HEADER.SIZE' | translate" data-sortable="'size'"
                    header-class="'col-5 hide-if-toggled-sidebar'">
                  {{workgroupNodesVm.isDocument(nodeItem.type) ? (nodeItem.size | readableSize: false) : ''}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fabButtonCtn" fab-button
       fab-button-actions="workgroupNodesVm.fabButton.actions"
       fab-button-flow="$flow"
       fab-button-toolbar="workgroupNodesVm.fabButton.toolbar">
  </div>
</div>
<div class="header-sidebar append-to-body visible-xs workgroup-header-nav">
  <a class="zmdi zmdi-chevron-left zmdi-hc-2x"
     data-ng-click="workgroupNodesVm.goToPreviousFolder((workgroupNodesVm.breadcrumb.length === 0),
                 workgroupNodesVm.breadcrumb[workgroupNodesVm.breadcrumb.length-2])"></a>
  <h2 class="header-more-options set-ellipsis">
    {{workgroupNodesVm.currentFolder.name}}
  </h2>
  <a class="pull-right groups-home-workgroup" ui-sref="sharedspace.all"></a>
</div>
<section class="row multi-select-mobile visible-xs append-to-body"
         data-ng-class="{'showMobileMultiMenu': workgroupNodesVm.selectedDocuments.length > 0}">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{workgroupNodesVm.selectedDocuments.length}}</span>
    <span class="file-multi-select-label" translate>SELECTION_TOOLBAR.ELEMENTS</span>
  </div>
  <div class="col-xs-8">
    <div
      data-ng-click="workgroupNodesVm.selectDocumentsOnCurrentPage(workgroupNodesVm.tableParams.data,
       workgroupNodesVm.tableParams.page())" class="visible-xs toolbar-mobile-item col-xs-3 clickable">
      <i class="fa fa-square-o"
         data-ng-if="!workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
         class="select-all-items p-r-10"></i>
      <i class="fa fa-check-square-o active-link"
         data-ng-if="workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
         class="select-all-items p-r-10"></i>
    </div>

    <i class="zmdi zmdi-download col-xs-2"
       data-ng-if="workgroupNodesVm.isDocument(workgroupNodesVm.selectedDocuments[0].type)"
       data-ng-click="workgroupNodesVm.downloadFile(workgroupNodesVm.selectedDocuments[0])"
       data-ng-class="{'disabled-work-in-progress': workgroupNodesVm.selectedDocuments.length != 1}"></i>
    <i class="zmdi zmdi-delete col-xs-2"
       data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
       data-ng-click="workgroupNodesVm.deleteNodes(workgroupNodesVm.selectedDocuments)"></i>
    <i class="zmdi zmdi-arrows col-xs-2 disabled-work-in-progress"
       data-ng-show="!linshareModeProduction"></i>
    <span class="dropdown col-xs-2" uib-dropdown="" data-ng-show="!linshareModeProduction">
        <i class="zmdi zmdi-more-vert" data-ng-class="{'active-link': isActiveMoreDropdown }"
           data-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown" uib-dropdown-toggle=""></i>
       <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left"
           uib-dropdown-menu="">
        <li class="hidden-xs" event-propagation-stop data-ng-show="workgroupNodesVm.selectedDocuments.length === 1"
            data-ng-click="workgroupNodesVm.showSelectedNodeDetails(workgroupNodesVm.selectedDocuments[0])">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-info-outline "></i>
          <span translate>ACTION.INFORMATION</span>
          </a>
        </li>
        <li data-ng-show="!linshareModeProduction">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-star"></i>
          <span translate>ACTION.FAVORITES</span>
          </a>
        </li>
        <li class="divider"></li>
        <li data-ng-if="!linshareModeProduction"
            data-ng-show="workgroupNodesVm.selectedDocuments.length === 1">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-time-restore"></i>
          <span translate>ACTION.VIEW_VERSIONING</span>
          </a>
        </li>
        <li class="divider" data-ng-if="!linshareModeProduction"
            data-ng-show="workgroupNodesVm.selectedDocuments.length === 1"></li>
        <li data-ng-show="!linshareModeProduction">
          <a href="" event-propagation-stop>
          <i class="zmdi zmdi-lock"></i>
          <span translate>ACTION.LOCK</span>
          </a>
        </li>
          <li data-ng-show="!linshareModeProduction">
          <a href="" event-propagation-stop>
          <i class="groups-lock-download-alt"></i>
          <span translate>ACTION.EXTERNAL_EDIT</span>
          </a>
        </li>
        <li class="divider" data-ng-if="!linshareModeProduction"
            data-ng-show="workgroupNodesVm.selectedDocuments.length === 1"></li>
        <li data-ng-if="!linshareModeProduction"
            data-ng-show="workgroupNodesVm.selectedDocuments.length === 1">
          <a
            data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
            data-ng-click="workgroupNodesVm.renameNode(workgroupNodesVm.selectedDocuments[0])">
          <i class="zmdi zmdi-border-color"></i>
          <span translate>ACTION.RENAME</span>
          </a>
        </li>
        <li class="divider"></li>
        <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
            data-ng-click="workgroupNodesVm.copyNode([nodeItem])"
            data-ng-show="workgroupNodesVm.isDocument(nodeItem.type)">
          <a><i class="zmdi zmdi-copy"></i>
            <span translate>ACTION.DUPLICATE</span>
          </a>
        </li>
        <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
            data-ng-click="workgroupNodesVm.openBrowser([nodeItem])"
            data-ng-show="workgroupNodesVm.isDocument(nodeItem.type)">
          <a><i class="fa fa-files-o"></i>
            <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
          </a>
        </li>
        <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
            data-ng-click="workgroupNodesVm.openBrowser([nodeItem])"
            data-ng-show="workgroupNodesVm.isDocument(nodeItem.type)"
            data-ng-class="{'disabled-work-in-progress': linshareModeProduction}">
          <a><i class="fa fa-files-o"></i>
            <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
          </a>
        </li>
         <li data-ng-if="!workgroupNodesVm.currentWorkgroupMember.readonly"
             data-ng-show="!linshareModeProduction && workgroupNodesVm.isDocument(nodeItem.type)">
          <a><i class="zmdi zmdi-share"></i>
            <span translate>ACTION.COPY_DROPDOWN.COPY_AND_SHARE</span>
          </a>
        </li>
      </ul>
      </span>
  </div>
  <div class="col-xs-2 pull-right">
    <i class="zmdi zmdi zmdi-close" data-ng-click="workgroupNodesVm.resetSelectedDocuments()"></i>
  </div>
</section>
