<div class="file-listing-ctn" x-ng-class="{'right-sidebar-toggled': mainVm.sidebar.isVisible()}">
  <div class="container files">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card">
      <div class="card-header">
        <script type="text/ng-template" id="popover-group.html">
          <div class="add-submenu-set clearfix">
            <a href="javascript:void(0)" class="col-xs-6" x-ng-show="linshareModeProduction == false">
              <i class="groups-project">
                <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"/>
              </i>
              <p>{{"WORKGROUPS_LIST.PROJECT" | translate}}</p>
            </a>
            <a class="col-xs-6" x-ng-click="vm.createWorkGroup();" href="javascript:void(0)">
              <i class="groups-shared-folder">
                <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"/>
              </i>
              <p>{{"WORKGROUPS_LIST.SHARED_FOLDER" | translate}}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" x-ng-show="linshareModeProduction == false">
              <i>
                                  <span class="groups-folder">
                                        <span class="path1"></span><span class="path2"></span>
                                  </span>
              </i>
              <p class="disabled-work-in-progress">{{"WORKGROUPS_LIST.FOLDER" | translate}}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" href="javascript:void(0)">
              <i class="zmdi zmdi-upload"></i>
              <p>{{"WORKGROUPS_LIST.UPLOAD_FILE" | translate}}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress" x-ng-show="linshareModeProduction == false">
              <i class="zmdi zmdi-pin-account"></i>
              <p>{{"WORKGROUPS_LIST.UPLOAD_REQUEST" | translate}}</p>
            </a>
            <a class="col-xs-6 disabled-work-in-progress">
              <i><span class="groups-add-member"></span></i>
              <p>{{"WORKGROUPS_LIST.ADD_A_MEMBER" | translate}}</p>
            </a>
          </div>
        </script>
        <div id="breadcrumb-wrap">
          <div class="menu-popover-ctn hidden-xs clickable">
            <a class="add-menu-group"
               tabindex="0"
               uib-popover-template="'popover-group.html'"
               popover-title="Popover Title"
               popover-placement="bottom"
               popover-trigger="focus">
              <i class="zmdi zmdi-plus"></i>
            </a>
          </div>
          <div class="breadcrumbs-ctn hidden-xs">
            <a href="javascript:void(0)" class="breadcrumb">
              <i class="zmdi zmdi-file"></i>
              {{"BREADCRUMB_TITLE_WORKGROUP" | translate}}
            </a>
            <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items">
              <!-- TODO: If the button id clicked for the second time (disabled) then the selected items should be deselected cf resetSelectedDocuments() -->
              <!-- TODO: DOES NOT WORK : the variable showcheckboxes should set the visibility of the checkboxers to toggle
              cf document list first td -->
              <span x-ng-click="showCheckboxes = !showCheckboxes"
                    class="visible-xs toolbar-mobile-item col-xs-3" >
               <a  class="select-all-items plain-txt-btn">
                 <i class="zmdi zmdi-check-square" x-ng-class="{'active-link': showCheckboxes}" ng-click="vm.resetSelectedDocuments()"></i>
               </a>
              </span>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                   x-ng-click="vm.toggleSearchState()">
                <a href="javascript:void(0)">
                  <i class="tm-icon zmdi zmdi-search"
                     x-ng-class="{'active-link': searchMobileDropdown}"></i>
                </a>
              </div>
              <div class="sort-dropdown col-xs-3 toolbar-mobile-item">
                <div uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                    hover-dropdown-fix>
                  <div class="actions">
                    <a uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right labeled-dropdown stop-propagate"
                        uib-dropdown-menu="">
                      <li role="menuitem">
                        <a href="" class="center">
                          {{'SELECTION_TOOLBAR.ORDER_BY' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding selected-sorting"
                           x-ng-click="vm.sortDropdownSetActive('modificationDate',$event)">
                          <span class="caret-area">
                          <i x-ng-show="vm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                          <i x-ng-show="!vm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          {{'FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           x-ng-click="vm.sortDropdownSetActive('creationDate', $event)">
                          <span class="caret-area">
                          <i x-ng-show="vm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                          <i x-ng-show="!vm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          {{'FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           x-ng-click="vm.sortDropdownSetActive('name', $event)">
                            <span class="caret-area">
                              <i x-ng-show="vm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i x-ng-show="!vm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                            </span>
                          {{'FILTER_COMPONENT.ORDER_BY_NAME' | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
            </div>
            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input type="text" class="form-control"
                           autocomplete="off"
                           x-ng-model="vm.paramFilter['name']"
                           placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                           x-ng-change="updateParams()">
                  </div>
                </div>
              </div>

              <span uib-dropdown dropdown-append-to-body
                    auto-close="outsideClick" hover-dropdown-fix
                    class="input-group-addon last clickable dropdown"
                    x-ng-click="advancedFilterBool = !advancedFilterBool"
                    uib-dropdown-toggle
                    data-original-title="{{ 'TOOLTIP.ADVANCED_FILTER' | translate }}">
                <i class="zmdi hidden-xs clickable"
                   x-ng-class="{'zmdi-settings': !advancedFilterBool, 'zmdi-chevron-up active-link': advancedFilterBool}">
                </i>
                <ul uib-dropdown-menu="" class="dropdown-menu uib-dropdown-menu dropdown-menu-right dm-icon
                    dropdown-divided dropdown-content-left">
                  <!-- FILTER COMPONENT  -->
                  <filtering-component class="clearfix" ls-date="true"
                                       filtered-items-list="vm.itemsList"
                                       initial-items-list="vm.itemsListCopy"
                                       reload-items="vm.tableParams.reload">
                    </filtering-component>
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" x-ng-click="vm.toggleSearchState()">&times;</i>
          <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid"
                 placeholder="Nom de fichier" x-ng-change="updateParams()" x-ng-model="vm.paramFilter['name']"
                 aria-invalid="false">
        </div>

        <!-- DROP AREA WHEN FILES ARE SELECTED -->
        <div id="selection-actions" class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar"
             x-ng-class="{'show-multi-menu': vm.selectedDocuments.length > 0}">
          <div class="toggle-checkbox-toolbar"
               x-ng-click="vm.selectDocumentsOnCurrentPage(vm.tableParams.data, vm.tableParams.page())">
            <a x-ng-if="!vm.flagsOnSelectedPages[vm.tableParams.page()]"

               class="select-all-items plain-text-button ng-scope">
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a x-ng-if="vm.flagsOnSelectedPages[vm.tableParams.page()]"
               class="select-all-items plain-text-button ng-scope">
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div class="exit-selection" x-ng-click="vm.resetSelectedDocuments()"
               title="{{'SELECTION_TOOLBAR.RESET' | translate}}">
            <i class="zmdi zmdi-close"></i>
          </div>
          <div class="display-num-selected-items" title="{{'SELECTION_TOOLBAR.SHOW_SELECTION' | translate}}">
            <div class="pull-left" x-ng-class="{'active-button-show-selection': activeBtnShowSelection}"
                 x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; vm.toggleFilterBySelectedFiles()">
              <p><span>{{vm.selectedDocuments.length}}</span> {{"SELECTION_TOOLBAR.SELECTED_ELEMENTS" |
                translate}}</p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true"
                   x-ng-show=" activeBtnShowSelection"></i>
                <i class="fa fa-eye" aria-hidden="true" x-ng-show="!activeBtnShowSelection"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon" x-ng-click="vm.resetSelectedDocuments()">
              <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
              <span x-ng-if="vm.selectedDocuments.length === 1">
                <a class="plain-text-button share-link" title="{{'ACTION.ADD_MEMBER' | translate}}"
                   x-ng-click="vm.onAddMember()">
                  <i class="groups-add-member"></i>
                  <span>{{'ACTION.ADD_MEMBER' | translate}}</span>
                </a>
              </span>
            <span>
              <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.DELETE' | translate}}"
                 x-ng-class="{'de-activate-sharing': (numSelectedItems.length == 0 || isCurrentPartage == true)}"
                 x-ng-click="vm.deleteWorkGroup(vm.selectedDocuments)">
                <i class="zmdi zmdi-delete"></i>
                <span>{{'SELECTION_TOOLBAR.DELETE' | translate}}</span>
              </a>
              </span>
            <span x-ng-show="linshareModeProduction == false">
              <a class="plain-text-button share-link" title=" {{'ACTION.SILENCE' | translate}}">
                <i class="fa fa-bell-slash-o"></i>
                <span> {{'ACTION.SILENCE' | translate}}</span>
              </a>
              </span>
            <span class="dropdown link-dropdown" uib-dropdown=""
                  x-ng-show="(linshareModeProduction == false) || (vm.selectedDocuments.length == 1)">
                <a class="plain-text-button share-link"
                   uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}">
                  <i class="zmdi zmdi-more-vert"></i>
                  <span>{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
                  <li class="hidden-xs" x-ng-show="vm.selectedDocuments.length == 1"
                      x-ng-click="vm.loadSidebarContent(lsAppConfig.workgroup)">
                    <a href="">
                      <i class="zmdi zmdi-info-outline "></i>
                      {{'ACTION.INFORMATION' | translate}}
                    </a>
                  </li>
                  <li x-ng-show="linshareModeProduction == false">
                    <a href="">
                      <i class="zmdi zmdi-star"></i>
                      {{'ACTION.FAVORITES' | translate}}
                    </a>
                  </li>
                  <li class="divider" x-ng-show="vm.selectedDocuments.length == 1"></li>
                  <li class="hidden-xs" x-ng-show="vm.selectedDocuments.length == 1">
                    <a x-ng-href="{{linshareBaseUrl}}/work_groups/{{vm.uuid}}/entries/{{documentFile.uuid}}/download">
                      <i class="zmdi zmdi-download"></i>
                        {{'ACTION.DOWNLOAD' | translate}}
                     </a>
                  </li>
                  <li class="divider" x-ng-show="linshareModeProduction == false"></li>
                  <li x-ng-show="vm.selectedDocuments.length == 1" x-ng-click="vm.renameFolder(documentFile)">
                    <a>
                      <i class="zmdi zmdi-border-color"></i>
                        {{'ACTION.RENAME' | translate}}
                    </a>
                  </li>
                  <li class="divider" x-ng-show="linshareModeProduction == false"></li>
                  <li x-ng-show="linshareModeProduction == false">
                    <a href="">
                      <i class="zmdi zmdi-arrows"></i>
                      {{'ACTION.MOVE' | translate}}
                    </a>
                  </li>
                  <li class="divider" x-ng-show="linshareModeProduction == false"></li>
                  <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                    <a href="">
                      <i class="fa fa-recycle" aria-hidden="true"></i>
                      {{'ACTION.GO_TO_TRASH' | translate}}
                    </a>
                  </li>
                </ul>
              </span>
          </div>
        </div>
        <div class="drag-and-drop-ctn reset-content-width hidden-xs collapsible-content ">
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn ">
              <div class="bordered-circle">&nbsp;</div>
              <span class="groups-shared-folder grey-clr bg-info-icon">
                    <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                class="path4"></span>
                  </span>
            </div>
            <h1>{{'BACKGROUND_WORKGROUP_TITLE_MSG' | translate}}</h1>
            <p>{{'BACKGROUND_WORKGROUP_MSG' | translate}}</p>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span x-ng-click="vm.selectDocumentsOnCurrentPage(tableParams.data, tableParams.page())"
                role="button" tabindex="0" style="display:block">
            <a x-ng-if="!vm.flagsOnSelectedPages[vm.tableParams.page()]"
               class="select-all-items plain-text-button ng-scope checkboxCtn">
              <i class="fa fa-square-o checkbox-table"></i>
            </a>
            <a x-ng-if="vm.flagsOnSelectedPages[vm.tableParams.page()]" class="select-all-items plain-text-button ng-scope">
              <i class="fa fa-check-square-o"></i>
            </a>
            </span>
        </script>
        <script type="text/ng-template" id="favoritsheader.html">
          <i class="zmdi zmdi-star"></i>
        </script>

        <!-- DOCUMENTS LIST  -->
        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table id="file-list-table" class="table table-vmiddle wider-first-col" x-ng-table="vm.tableParams"
                   show-filter="true" x-ng-class=" {'col-4-table' : linshareModeProduction == false }">
              <tr x-ng-repeat="documentFile in $data"
                  ls-item-selection=""
                  data-selected-documents="vm.selectedDocuments"
                  data-document-file="documentFile"
                  data-current-selected-Document="vm.currentSelectedDocument"
                  data-details-function="vm.getDetails"
                  data-right-sidebar-open="mainVm.sidebar.isVisible()"
                  x-ng-class="{'highlight-list-elem': documentFile.isSelected ,
                   'current-vis': vm.currentSelectedDocument.current.uuid === documentFile.uuid}"
                  class="p-b-5"
                  context-menu="moreOptionsContexualMenu"
                  x-ng-dblclick="vm.goToSharedSpaceTarget(documentFile.uuid, documentFile.name)">
                <td data-header="'favoritsheader.html'" ng-if="linshareModeProduction == false"
                    class="hidden-xs col-1 set-content-right thumb-type-item col-favorits"
                    data-title=""
                    header-class="'set-content-right favorits-header col-1 hidden-xs'">
                  <div>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star yellow-star"></i>
                  </div>
                </td>
                <td data-header="'checkboxheader.html'"
                    class="center set-content-left thumb-type-item thumb-groups-preview-ls"
                    header-class="'col-2'">
                  <!--TODO: optimiser le code répeter et si besoin d'un test de detecion mobile cf scripts/common/MainController-->
                  <!--ligne 249 : y buena suerte-->
                  <a x-ng-click="showCheckboxes ? vm.addSelectedDocument(documentFile) : null" class="visible-xs">
                    <div x-ng-class="{ 'invisible' : showCheckboxes}">
                      <i>
                        <span class="groups-shared-folder">
                          <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"></span>
                        </span>
                      </i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         x-ng-class="{'maintain-vis': documentFile.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                  <a x-ng-click="vm.addSelectedDocument(documentFile)" class="hidden-xs">
                    <div x-ng-class="{ 'invisible' : showCheckboxes}">
                      <i>
                        <span class="groups-shared-folder">
                          <span class="path1"/><span class="path2"/><span class="path3"/><span class="path4"></span>
                        </span>
                      </i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                         x-ng-class="{'maintain-vis': documentFile.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                </td>

                <td data-title="'TABLE_HEADER.NAME' | translate"
                    class="row show-li-actions col-3"
                    data-sortable="'name'" uuid={{documentFile.uuid}} header-class="'col-3 flexible-table-col'">
                  <div class="ctn-name-actions">
                      <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                        <span class="file-name-disp single-line" contenteditable="false" spellcheck="false">
                          <span x-ng-click="vm.goToSharedSpaceTarget(documentFile.uuid, documentFile.name)">
                            {{documentFile.name}}
                          </span>
                        </span>
                        <span>
                          <p class="mobile-list-item-info visible-xs">
                            {{documentFile.modificationDate | relativeTime}}
                          </p>
                        </span>
                      </span>
                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                        <ul class="actions pull-right double-mobile-actions"
                            x-ng-class="{'open-r': (mainVm.sidebar.isVisible()) &&
                                          ((mainVm.sidebar.getContent() === lsAppConfig.details) ||
                                          (mainVm.sidebar.getContent() === lsAppConfig.shareDetails))}">
                          <li class="hidden-xs" x-ng-click="vm.onAddMember()">
                            <a href="" class="p-t-10" title="{{'WORKGROUPS_LIST.ADD_A_MEMBER' | translate}}"
                               event-propagation-stop="true">
                              <i><span class="groups-user-member"></span></i>
                            </a>
                          </li>
                          <li x-ng-click="vm.showItemDetails(documentFile,$event)" event-propagation-stop
                              class="set-col-6">
                            <a href=""
                               title="{{'BOUTON_LABEL_TITLE.INFO' | translate}}"
                               class="set-col-12">
                              <i class="zmdi zmdi-info-outline"></i>
                            </a>
                          </li>
                          <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                            <a x-ng-href=""
                               title="{{'ACTION.SILENCE' | translate}}" event-propagation-stop>
                              <i class="fa fa-bell-slash-o"></i>

                            </a>
                          </li>
                          <li uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                              auto-close="always" hover-dropdown-fix>
                            <a href="" title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}" uib-dropdown-toggle
                               event-propagation-stop class="set-col-12">
                              <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul
                              class="uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
                              <li>
                                <a href="" x-ng-click="vm.showItemDetails(documentFile,$event)">
                                  <i class="zmdi zmdi-info-outline "></i>
                                  {{'ACTION.INFORMATION' | translate}}
                                </a>
                              </li>
                              <li x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="zmdi zmdi-star"></i>
                                  {{'ACTION.FAVORITES' | translate}}
                                </a>
                              </li>
                              <li x-ng-show="linshareModeProduction == false">
                                <a href="" event-propagation-stop>
                                  <i class="fa fa-bell-slash-o"></i>
                                  {{'ACTION.SILENCE' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li x-ng-click="vm.onAddMember()">
                                <a href="">
                                  <i class="groups-add-member align-style"></i>
                                  {{'ACTION.ADD_MEMBER' | translate}}
                                </a>
                              </li>
                              <li class="divider hidden-xs"></li>
                              <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                                <a x-ng-href="{{linshareBaseUrl}}/documents/{{documentFile.uuid}}/download"
                                   event-propagation-stop>
                                  <i class="zmdi zmdi-download"></i>
                                  {{'ACTION.DOWNLOAD' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a x-ng-click="vm.renameFolder(documentFile)">
                                  <i class="zmdi zmdi-border-color"></i>
                                  {{'ACTION.RENAME' | translate}}
                                </a>
                              </li>
                              <li class="divider hidden-xs" x-ng-show="linshareModeProduction == false"></li>
                              <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                                <a href="" ls-share-modal event-propagation-stop>
                                  <i class="zmdi zmdi-arrows"></i>
                                  {{'ACTION.MOVE' | translate}}
                                </a>
                              </li>
                              <li class="divider"></li>
                              <li>
                                <a href="" x-ng-click="vm.deleteWorkGroup(documentFile)">
                                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  {{'ACTION.DELETE' | translate}}
                                </a>
                              </li>
                              <li class="hidden-xs" x-ng-show="linshareModeProduction == false">
                                <a href="" ls-share-modal event-propagation-stop>
                                  <i class="fa fa-recycle" aria-hidden="true"></i>
                                  {{'ACTION.GO_TO_TRASH' | translate}}
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs"
                    ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                    data-title="'TABLE_HEADER.MODIFICATION_DATE' | translate"
                    data-sortable="'modificationDate'"
                    header-class="'col-4 hide-if-toggled-sidebar'">
                  {{documentFile.modificationDate | relativeTime}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fabMyFiles" class="fab-2-rows">
    <md-fab-toolbar md-open="fab.isOpen" count="fab.count"
                    md-direction="{{vm.fab.selectedDirection}}" class="visible-xs">
      <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary" style="position: relative;"
                   id="primary-fab-action">
          <md-icon><i class="zmdi zmdi-plus"></i></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-toolbar style="padding:0">
        <p class="title-fab">{{'BOUTON_ADD_FILE_TITLE' | translate}}</p>
        <md-fab-actions class="md-toolbar-tools">
          <md-button aria-label="label" class="md-icon-button" flow-btn
                     x-ng-show="linshareModeProduction == false">
            <a>
              <i>
                <div class="groups-project">
                  <div class="path1"></div><div class="path2"></div><div class="path3"></div><div class="path4"></div>
                </div>
              </i>
              <span>{{"WORKGROUPS_LIST.PROJECT" | translate}}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn>
            <a href="#/files/list" ui-sref="documents.files" class="disabled-work-in-progress">
              <i class="zmdi zmdi-file-plus fab-groups disabled-work-in-progress"></i>
              <span class="disabled-work-in-progress">{{'ADD_FILES_DROPDOWN.UPLOAD_FILE' | translate}}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button">
            <a href="javascript:void(0);" ng-click="vm.createWorkGroup();">
              <i>
                <div class="groups-shared-folder">
                  <div class="path1"></div><div class="path2"></div><div class="path3"></div><div class="path4"></div>
                </div>
              </i>
              <span>{{"WORKGROUPS_LIST.SHARED_FOLDER" | translate}}</span>
            </a>
          </md-button>
        </md-fab-actions>
        <md-fab-actions class="md-toolbar-tools">
          <md-button aria-label="label" class="md-icon-button" flow-btn
                     x-ng-show="linshareModeProduction == false">
            <a ui-sref="documents.upload" class="disabled-work-in-progress">
              <i>
                <div class="groups-folder disabled-work-in-progress">
                  <div class="path1"></div><div class="path2"></div>
                </div>
              </i>
              <span class="disabled-work-in-progress">{{"WORKGROUPS_LIST.FOLDER" | translate}}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn
                     x-ng-show="linshareModeProduction == false">
            <a ui-sref="documents.files" class="disabled-work-in-progress">
              <i class="zmdi zmdi-pin-account disabled-work-in-progress"></i>
              <span class="disabled-work-in-progress">{{"WORKGROUPS_LIST.UPLOAD_REQUEST" | translate}}</span>
            </a>
          </md-button>
          <md-button aria-label="comment" class="md-icon-button" flow-btn>
            <a ui-sref="documents.files" class="disabled-work-in-progress">
              <i><span class="groups-add-member disabled-work-in-progress"></span></i>
              <span class="disabled-work-in-progress">{{"WORKGROUPS_LIST.ADD_A_MEMBER" | translate}}</span>
            </a>
          </md-button>
        </md-fab-actions>
      </md-toolbar>
    </md-fab-toolbar>
  </div>
</div>
<!-- TODO: does not display  -->
<section class="row multi-select-mobile visible-xs"
         x-ng-class="{'showMobileMultiMenu': vm.selectedDocuments.length > 0}"
         x-ng-show="vm.currentPage === vm.lsAppConfig.workgroupList">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{vm.selectedDocuments.length}}</span>
    <span class="file-multi-select-label">{{'SELECTION_TOOLBAR.ELEMENTS' | translate}}</span>
  </div>
  <div class="col-xs-8">
     <div x-ng-click="vm.selectDocumentsOnCurrentPage(tableParams.data, tableParams.page())"
           class="visible-xs toolbar-mobile-item col-xs-3" >
      <i class="fa fa-check-square-o select-all-items p-r-10"
         x-ng-if="!vm.flagsOnSelectedPages[vm.tableParams.page()]">
      </i>
      <i class="fa fa-square-o select-all-items p-r-10"
         x-ng-if="vm.flagsOnSelectedPages[vm.tableParams.page()]">
      </i>
    </div>
    <i class="groups-add-member col-xs-2"></i>
    <i class="zmdi zmdi-delete col-xs-2" x-ng-click="vm.deleteWorkGroup(vm.selectedDocuments)"></i>
    <i class="fa fa-bell-slash-o col-xs-2 disabled-work-in-progress"
       x-ng-show="linshareModeProduction == false"></i>
    <span class="dropdown col-xs-2 dropdown-standard" x-ng-show="linshareModeProduction == false" uib-dropdown="">
        <i class="zmdi zmdi-more-vert" ng-class="{'active-link': isActiveMoreDropdown }"
           x-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown"
           uib-dropdown-toggle=""></i>
        <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
          <li>
            <a href="" event-propagation-stop>
              <i class="zmdi zmdi-star"></i>
              {{'ACTION.FAVORITES' | translate}}
            </a>
          </li>
          <li>
            <a href="" event-propagation-stop>
              <i class="fa fa-bell-slash-o"></i>
              {{'ACTION.SILENCE' | translate}}
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="" event-propagation-stop>
              <i class="zmdi zmdi-arrows"></i>
              {{'ACTION.MOVE' | translate}}
            </a>
          </li>
          <li class="divider"></li>
          <li class="hidden-xs">
            <a href="" event-propagation-stop>
              <i class="fa fa-recycle" aria-hidden="true"></i>
              {{'ACTION.GO_TO_TRASH' | translate}}
            </a>
          </li>
        </ul>
      </span>
  </div>
  <div class="col-xs-1 pull-right" x-ng-click="vm.resetSelectedDocuments()">
    <i class="zmdi zmdi zmdi-close"></i>
  </div>
</section>
