<div
  drag-and-drop
  drag-and-drop-flow="$flow"
  drag-and-drop-added="workgroupNodesVm.upload(files,
  workgroupNodesVm.workgroupPage, workgroupNodesVm.folderDetails)"
  drag-and-drop-enabled="::workgroupNodesVm.permissions.FILE.CREATE ||
  workgroupNodesVm.permissions.FOLDER.CREATE"
  drag-and-drop-success="workgroupNodesVm.addUploadedDocument(file, $message)"
>
  <div class="container files">
    <!-- ACTIONS ON DOCUMENTS -->
    <!-- contextmenu -->
    <div class="card">
      <div class="card-header">
        <div id="breadcrumb-wrap" class="deep-nav multi-toolbar-options">
          <div
            class="menu-popover-ctn hidden-xs dropdown"
            uib-dropdown
            dropdown-append-to-body
            auto-close="always"
            tooltip-placement="bottom"
            tooltip-popup-delay="500"
            translate-attr="{'uib-tooltip': 'ACTION.NEW_ITEM'}"
            is-open="isOpenNew"
            data-ng-class="{
            'open': isOpenNew,
            'clickable waves-effect': workgroupNodesVm.permissions.FOLDER.CREATE ||
            workgroupNodesVm.permissions.FILE.CREATE
            }"
          >
            <a
              class="add-menu-group"
              uib-dropdown-toggle
              data-ng-class="{'disabled':
              !workgroupNodesVm.permissions.FOLDER.CREATE ||
              !workgroupNodesVm.permissions.FILE.CREATE
              }"
            >
              <i
                class="zmdi zmdi-plus"
                data-ng-class="{'disabled':
                !workgroupNodesVm.permissions.FOLDER.CREATE ||
                !workgroupNodesVm.permissions.FILE.CREATE
                }"
              >
              </i>
            </a>
            <ul
              class="uib-dropdown-menu dropdown-menu dropdown-menu-left dm-icon dropdown-divided"
              data-ng-class="{'open':isOpenNew}"
              uib-dropdown-menu
            >
              <li
                role="menuitem"
                data-ng-class="{
                'disable-link' : !(workgroupNodesVm.canCreateFolder && workgroupNodesVm.permissions.FOLDER.CREATE)
                }"
              >
                <a data-ng-click="workgroupNodesVm.createFolder()">
                  <i class="ls-folder"></i>
                  <span translate>WORKGROUPS_LIST.FOLDER</span>
                </a>
              </li>
              <li
                role="menuitem"
                flow-btn
                data-ng-class="{
                'disable-link' : !workgroupNodesVm.permissions.FILE.CREATE
                }"
              >
                <a>
                  <i class="ls-upload-item"></i>
                  <span translate>WORKGROUPS_LIST.UPLOAD_FILE</span>
                </a>
              </li>
              <li
                role="menuitem"
                flow-btn
                flow-directory
                data-ng-class="{
                'disable-link' :
                !workgroupNodesVm.permissions.FOLDER.CREATE
                }"
              >
                <a>
                  <i class="groups-upload-file"></i>
                  <span translate>WORKGROUPS_LIST.UPLOAD_FOLDER</span>
                </a>
              </li>
              <li
                data-ng-class="{'disable-link' : true}"
                role="menuitem"
                data-ng-click="workgroupNodesVm.showWorkgroupDetails(true)"
              >
                <a>
                  <i class="ls-add-user-sm"></i>
                  <span translate>ACTION.ADD_MEMBER</span>
                </a>
              </li>
            </ul>
          </div>
          <div
            class="breadcrumbs-ctn hidden-xs"
            data-ng-class="{
                'lv1-break': workgroupNodesVm.breadcrumb.length >= 1,
                'lv2-break': workgroupNodesVm.breadcrumb.length >= 2,
                'lv4-break': workgroupNodesVm.breadcrumb.length >= 4}"
          >
            <div
              class="left-arrow actions"
              data-ng-click="workgroupNodesVm.goToPreviousFolder((workgroupNodesVm.breadcrumb.length === 0),
                 workgroupNodesVm.breadcrumb[workgroupNodesVm.breadcrumb.length-2])"
            >
              <a>
                <i class="ls-previous-caret"></i>
              </a>
            </div>
            <div id="page-root-link">
              <a ui-sref="sharedspace.all">
                <i class="groups-home-workgroup"></i>
              </a>
            </div>
            <div id="root-level">
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
              <a
                class="set-ellipsis"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"
                tooltip-popup-delay="1200"
                uib-tooltip="{{::workgroupNodesVm.folderDetails.workgroupName}}"
                data-ng-click="workgroupNodesVm.goToFolder()"
              >
                {{::workgroupNodesVm.folderDetails.workgroupName}}
              </a>
            </div>
            <span class="explorer-previous-lvl dropdown dropdown-standard pull-left" uib-dropdown="" is-open="isOpenBreadCrumb" data-ng-class="{'open': isOpenBreadCrumb}"
              dropdown-append-to-body>
              <span class="sub-category-chevron">
                <i class="zmdi zmdi-chevron-right"></i>
              </span>

              <a uib-dropdown-toggle="" class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true" data-ng-class="{'open': isOpenBreadCrumb}"
                tooltip-popup-delay="700" translate-attr="{'uib-tooltip': 'BREADCRUMB_UPPER_LEVEL'}">...</a>
              <div uib-dropdown-menu="" data-ng-class="{'open': isOpenBreadCrumb}" class="uib-dropdown-menu dropdown-menu dm-icon double-drop dropdown-menu-left
                   explorer-content-dropdown">
                <div class="list-menu">
                  <p translate>BREADCRUMB_UPPER_LEVEL</p>
                  <ul class="dropdown-menu dm-icon filter-menu dropdown-menu-right">
                    <li data-ng-repeat="breadcrumbItem in workgroupNodesVm.breadcrumb.slice().reverse()" data-ng-click="workgroupNodesVm.goToFolder(breadcrumbItem, true)">
                      <a class="set-ellipsis" data-ng-class="{'active-level' : $index === 0}">
                        {{breadcrumbItem.name}}
                      </a>
                    </li>
                    <li>
                      <a class="set-ellipsis" data-ng-click="workgroupNodesVm.goToFolder()">
                        {{workgroupNodesVm.folderDetails.workgroupName}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </span>
            <div data-ng-cloak class="folder-level" data-ng-repeat="breadcrumbItem in workgroupNodesVm.breadcrumb"
                 data-ng-click="workgroupNodesVm.goToFolder(breadcrumbItem, true)">
              <span class="sub-category-chevron"><i class="zmdi zmdi-chevron-right"></i></span>
              <a class="set-ellipsis" tooltip-placement="bottom" tooltip-append-to-body="true"
                 tooltip-popup-delay="1000" uib-tooltip="{{breadcrumbItem.name}}">
                 {{breadcrumbItem.name}}
              </a>
            </div>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items wide-action-bar">
              <span data-ng-click="showCheckboxes = !showCheckboxes" class="visible-xs toolbar-mobile-item col-xs-3">
                <a class="select-all-items plain-txt-btn">
                  <i class="ls-multi-select"
                     data-ng-class="{'active-link': showCheckboxes}"
                     data-ng-click="showCheckboxes && workgroupNodesVm.resetSelectedDocuments()"></i>
                </a>
              </span>
              <a href=""
                 class="hidden-xs pull-left"
                 tooltip-popup-delay="350"
                 tooltip-placement="bottom"
                 uib-tooltip="{{'ACTION.INFO_WORKGROUP' | translate}}"
                 tooltip-append-to-body="true"
                 data-ng-click="workgroupNodesVm.showWorkgroupDetails()">
                <i class="groups-home-workgroup" aria-hidden="true"></i>
              </a>
              <div class="col-xs-3 toolbar-mobile-item sort-dropdown">
                <div class="dropdown dropdown-standard toolbar-mobile-item" uib-dropdown="" dropdown-append-to-body is-open="isOpenOrder"
                  data-ng-class="{'open':isOpenOrder}">
                  <div class="actions">
                    <a uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right labeled-dropdown
                       sort-dropdown stop-propagate" uib-dropdown-menu="" data-ng-class="{'open':isOpenOrder}">
                      <li role="menuitem">
                        <a href="" class="center" translate>SELECTION_TOOLBAR.ORDER_BY</a>
                      </li>
                      <li class="divided"></li>
                      <li role="menuitem">
                        <a href="" class="selected-sorting" data-ng-click="workgroupNodesVm.sortDropdownSetActive('modificationDate', $event)">
                          <span class="caret-area">
                            <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                            <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" data-ng-click="workgroupNodesVm.sortDropdownSetActive('creationDate', $event)">
                          <span class="caret-area">
                            <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                            <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" data-ng-click="workgroupNodesVm.sortDropdownSetActive('size', $event)">
                          <span class="caret-area">
                            <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                            <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>FILTER_COMPONENT.BY_SIZE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" data-ng-click="workgroupNodesVm.sortDropdownSetActive('name', $event)">
                          <span class="caret-area">
                            <i data-ng-show="workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                            <i data-ng-show="!workgroupNodesVm.tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>FILTER_COMPONENT.ORDER_BY_NAME</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs" data-ng-click="workgroupNodesVm.toggleSearchState()">
                <a>
                  <i class="tm-icon zmdi zmdi-search" data-ng-class="{'active-link': workgroupNodesVm.searchMobileDropdown}"></i>
                </a>
              </div>
            </div>
            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input type="text" class="form-control" autocomplete="off" data-ng-model="workgroupNodesVm.paramFilter['name']" translate-attr="{placeholder: 'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME'}"
                      data-ng-change="updateParams()">
                  </div>
                </div>
              </div>
              <div class="actions">
                <a uib-dropdown dropdown-append-to-body
                   auto-close="outsideClick"
                   is-open="isOpenFilter"
                   data-ng-class="{'open':isOpenFilter}"
                   class="input-group-addon last clickable dropdown"
                   data-ng-click="advancedFilterBool = !advancedFilterBool"
                   uib-dropdown-toggle translate-attr="{'data-original-title': 'TOOLTIP.ADVANCED_FILTER'}">
                  <i class="zmdi hidden-xs clickable ls-settings"></i>
                  <ul uib-dropdown-menu="" class="uib-dropdown-menu dropdown-menu dropdown-menu-right dm-icon
                    dropdown-divided dropdown-content-left" data-ng-class="{'open':isOpenFilter}">
                    <!-- FILTER COMPONENT -->
                    <filter-box class="clearfix" filter-box-size="true" filter-box-date="true" filter-box-items="workgroupNodesVm.nodesList"
                      filter-box-table="workgroupNodesVm.tableParams">
                    </filter-box>
                  </ul>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" data-ng-click="workgroupNodesVm.toggleSearchState()">&times;</i>
          <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid" translate-attr="{placeholder: 'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME'}"
            data-ng-change="updateParams()" data-ng-model="workgroupNodesVm.paramFilter['name']" aria-invalid="false">
        </div>
        <div id="selection-actions" class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar" data-ng-class="{'show-multi-menu': workgroupNodesVm.selectedDocuments.length > 0}">
          <div class="toggle-checkbox-toolbar" data-ng-click="workgroupNodesVm.selectDocumentsOnCurrentPage(workgroupNodesVm.tableParams.data,
                workgroupNodesVm.tableParams.page())">
            <a data-ng-if="!workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]" class="select-all-items plain-txt-btn">
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a data-ng-if="workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]" class="select-all-items plain-txt-btn">
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div class="exit-selection actions" data-ng-click="workgroupNodesVm.resetSelectedDocuments()" translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}">
            <a>
              <i class="zmdi zmdi-close"></i>
            </a>
          </div>
          <div class="display-num-selected-items" translate-attr="{title: 'SELECTION_TOOLBAR.SHOW_SELECTION'}">
            <div class="pull-left" data-ng-class="{'active-button-show-selection':
                  workgroupNodesVm.tableParamsService.getSelectionIsIsolated()}" data-ng-click="workgroupNodesVm.toggleFilterBySelectedFiles()">
              <p>
                <span>{{workgroupNodesVm.selectedDocuments.length}}</span>
                <span translate>SELECTION_TOOLBAR.SELECTED_ELEMENTS</span>
              </p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true" data-ng-show="workgroupNodesVm.tableParamsService.getSelectionIsIsolated()"></i>
                <i class="fa fa-eye" aria-hidden="true" data-ng-show="!workgroupNodesVm.tableParamsService.getSelectionIsIsolated()"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon" data-ng-click="workgroupNodesVm.resetSelectedDocuments()">
              <i class="fa fa-undo" translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
            <span
              data-ng-if="workgroupNodesVm.selectedDocuments.length === 1"
              data-ng-class="{'disable-link': !workgroupNodesVm.permissions.FILE.READ}">
              <a data-ng-href=""
                 data-ng-click="workgroupNodesVm.downloadFile(workgroupNodesVm.selectedDocuments[0])"
                 event-propagation-stop
                 translate-attr="{title: 'ACTION.DOWNLOAD'}">
                <i class="zmdi zmdi-download"></i>
                <span translate>ACTION.DOWNLOAD</span>
              </a>
            </span>
            <span
              data-ng-if="workgroupNodesVm.selectedDocuments.length > 1"
              data-ng-class="{
              'disable-link':
              !(workgroupNodesVm.areAllSameType() &&
              workgroupNodesVm.permissions.FILE.READ)
              }"
            >
              <a
                class="plain-text-button"
                translate-attr="{title: 'BOUTON_LABEL_TITLE.DOWNLOAD'}"
                data-ng-click="workgroupNodesVm.multiDownload()"
              >
                <i class="zmdi zmdi-download"></i>
                <span translate>ACTION.DOWNLOAD</span>
              </a>
            </span>
            <span data-ng-class="{'disable-link': !workgroupNodesVm.canDeleteNodes}">
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'SELECTION_TOOLBAR.DELETE'}"
                data-ng-click="workgroupNodesVm.deleteNodes(workgroupNodesVm.selectedDocuments)"
              >
                <i class="zmdi zmdi-delete"></i>
                <span translate>SELECTION_TOOLBAR.DELETE</span>
              </a>
            </span>
            <span data-ng-class="{'disable-link': !workgroupNodesVm.canDeleteNodes}">
              <a class="plain-text-button share-link"
                 translate-attr="{title: 'ACTION.MOVE'}"
                 data-ng-click="workgroupNodesVm.openBrowser(workgroupNodesVm.selectedDocuments, true)">
                <i class="zmdi zmdi-arrows"></i>
                <span translate>ACTION.MOVE</span>
              </a>
            </span>
            <span
              class="dropdown link-dropdown"
              uib-dropdown
              data-ng-class="{'disable-link': workgroupNodesVm.selectedDocuments.length > 1}"
            >
              <a class="plain-text-button share-link" uib-dropdown-toggle translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}" is-open="isOpenToolbarMore"
                data-ng-class="{'open': isOpenToolbarMore}">
                <i class="zmdi zmdi-more"></i>
                <span translate>BOUTON_LABEL_TITLE.MORE_ACTIONS</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu"
                uib-dropdown-menu=""
                data-ng-class="{'open': isOpenToolbarMore}"
              >
                <li data-ng-click="workgroupNodesVm.showSelectedNodeDetails(workgroupNodesVm.selectedDocuments[0])">
                  <a href="">
                    <i class="zmdi zmdi-info"></i>
                    <span translate>ACTION.INFORMATION</span>
                  </a>
                </li>
                <li
                  data-ng-if="workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT
                  && workgroupNodesVm.permissions.FILE.READ
                  && workgroupNodesVm.canAddVersion"
                >
                  <a
                    translate-attr="{title: 'ACTION.SEE_VERSIONS'}"
                    data-ui-sref="sharedspace.workgroups.version({
                      workgroupUuid: workgroupNodesVm.folderDetails.workgroupUuid,
                      workgroupName: workgroupNodesVm.folderDetails.workgroupName,
                      fileUuid: workgroupNodesVm.selectedDocuments[0].uuid,
                      fileName: workgroupNodesVm.selectedDocuments[0].name
                    })"
                  >
                  <i class="zmdi zmdi-time-restore"></i>
                    <span translate>ACTION.SEE_VERSIONS</span>
                  </a>
                </li>
                <li
                  data-ng-click="workgroupNodesVm.copyNode(workgroupNodesVm.selectedDocuments)"
                  data-ng-class="{
                  'disable-link': !(workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT &&
                  workgroupNodesVm.permissions.FILE.CREATE)
                  }"
                >
                  <a href="">
                    <i class="zmdi zmdi-copy"></i>
                    <span translate>ACTION.DUPLICATE</span>
                  </a>
                </li>
                <li data-ng-class="{'disable-link': !workgroupNodesVm.areAllSameType()}">
                  <a href="" class="parent-sub-menu-link">
                    <i class="zmdi zmdi-copy"></i>
                    <span translate>ACTION.COPY_TO</span>
                    <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon"></i>
                  </a>
                  <ul>
                    <li
                      data-ng-class="{
                      'disable-link' :
                      !(workgroupNodesVm.canCopyNodeToPersonalSpace &&
                      workgroupNodesVm.areAllSameType() &&
                      workgroupNodesVm.permissions.FILE.READ)
                      }"
                      data-ng-show="workgroupNodesVm.canCopyNodeToPersonalSpace"
                      data-ng-click="workgroupNodesVm.copyNodeToPersonalSpace(workgroupNodesVm.selectedDocuments)"
                    >
                      <a>
                        <i class="ls-my-space"></i>
                        <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
                      </a>
                    </li>
                    <li
                      data-ng-click="workgroupNodesVm.openBrowser(workgroupNodesVm.selectedDocuments, false, true)"
                      data-ng-class="{
                      'disable-link' :
                      !(workgroupNodesVm.areAllSameType() &&
                      workgroupNodesVm.permissions.FILE.READ)
                      }"
                    >
                      <a>
                        <i class="ls-workgroup"></i>
                        <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li data-ng-class="{
                  'disable-link' : workgroupNodesVm.selectedDocuments.length === 1 &&
                  (workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT ?
                  !workgroupNodesVm.permissions.FILE.UPDATE :
                  !workgroupNodesVm.permissions.FOLDER.UPDATE)
                  }"
                >
                  <a
                    data-ng-click="workgroupNodesVm.renameNode(workgroupNodesVm.selectedDocuments[0])"
                  >
                    <i class="zmdi zmdi-border-color"></i>
                    <span translate>ACTION.RENAME</span>
                  </a>
                </li>
              </ul>
            </span>
          </div>
        </div>
        <div
          data-ng-if="workgroupNodesVm.permissions.FILE.CREATE || workgroupNodesVm.permissions.FOLDER.CREATE"
          class="drag-and-drop-ctn reset-content-width collapsible-content drag-n-drop-height"
          check-table-height data-ng-class="{'show-bg-drop' : workgroupNodesVm.nodesList.length === 0}"
        >
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn">
              <div class="bordered-circle">&nbsp;</div>
              <span class="grey-clr bg-info-icon">
                <span class="groups-upload-file"></span>
              </span>
            </div>
            <div class="dnd-txt-content">
              <h1 translate class="hidden-xs">DRAG_DROP_BACKGROUND.TITLE</h1>
              <p translate class="hidden-xs">DRAG_DROP_BACKGROUND.COMMENT</p>
              <h1 translate class="visible-xs">WORKGROUP_DRAG_DROP_BACKGROUND_MOBILE.TITLE</h1>
              <p translate class="visible-xs">WORKGROUP_DRAG_DROP_BACKGROUND_MOBILE.COMMENT</p>
            </div>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span
            data-ng-click="workgroupNodesVm.selectDocumentsOnCurrentPage(workgroupNodesVm.tableParams.data,
             workgroupNodesVm.tableParams.page())"
            role="button" tabindex="0" class="display-block">
              <a data-ng-if="!workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
                 class="select-all-items plain-text-button checkboxCtn">
                <i class="fa fa fa-square-o checkbox-table"></i>
              </a>
              <a data-ng-if="workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
                 class="select-all-items plain-text-button">
                <i class="fa fa-check-square-o"></i>
              </a>
            </span>
        </script>
        <script type="text/ng-template" id="favoritsheader.html">
          <i class="zmdi zmdi-star"></i>
        </script>
        <!-- DOCUMENTS LIST -->
        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table id="file-list-table" class="table table-vmiddle fixed-activity-table-height"
                   data-ng-table="workgroupNodesVm.tableParams"
                   show-filter="true"
                   data-ng-class="::{'col-4-table' : !linshareModeProduction}">
              <tr data-ng-repeat="nodeItem in $data track by nodeItem.uuid"
                  ls-item-selection data-selected-documents="workgroupNodesVm.selectedDocuments"
                  data-document-file="nodeItem"
                  data-current-selected-document="workgroupNodesVm.currentSelectedDocument"
                  data-details-function="workgroupNodesVm.getNodeDetails"
                  data-right-sidebar-open="mainVm.sidebar.isVisible()"
                  data-ng-click="backToSidebarContentDetails()"
                  data-ng-class="{'highlight-list-elem': nodeItem.isSelected ,
                   'current-vis': workgroupNodesVm.currentSelectedDocument.current.uuid === nodeItem.uuid,
                   'item-container': !workgroupNodesVm.isDocument(nodeItem.type)}" class="p-b-5" data-ng-dblclick="workgroupNodesVm.goToFolder(nodeItem)"
                check-table-height>
                <td data-header="'favoritsheader.html'" ng-if="::!linshareModeProduction" class="hidden-xs col-1 set-content-right thumb-type-item col-favorits"
                  data-title="" header-class="'set-content-right favorits-header col-1 hidden-xs'">
                  <div>
                    <i class="zmdi zmdi-star"></i>
                    <i class="zmdi zmdi-star yellow-star"></i>
                  </div>
                </td>
                <td data-header="'checkboxheader.html'" class="center set-content-left thumb-type-item thumb-groups-preview-ls" header-class="'col-2 checkbox-col'">
                  <a data-ng-click="(showCheckboxes || !isMobile) ? workgroupNodesVm.addSelectedDocument(nodeItem) : null">
                    <div data-ng-class="{ 'invisible' : showCheckboxes && isMobile}">
                      <i data-ng-if="::workgroupNodesVm.isDocument(nodeItem.type)" data-ng-class="'{{::nodeItem.mimeType | mimetypeIcone}}'"></i>
                      <i data-ng-if="::!workgroupNodesVm.isDocument(nodeItem.type)" class="ls-folder"></i>
                    </div>
                    <div class="checkbox-ctn-thumb" data-ng-class="{'maintain-vis': nodeItem.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                </td>

                <td data-title="::'TABLE_HEADER.NAME' | translate" class="row show-li-actions col-3" data-sortable="'name'" uuid={{::nodeItem.uuid}}
                  header-class="'col-3 flexible-table-col'">
                  <div class="ctn-name-actions">
                    <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                      <span class="file-name-disp single-line" spellcheck="false" contenteditable="false" data-ng-click="workgroupNodesVm.goToFolder(nodeItem)">{{::nodeItem.name}}</span>
                      <span class="secondary-info-ctn">
                        <p class="mobile-list-item-info visible-xs">
                          {{nodeItem.modificationDate | relativeTime}} {{::workgroupNodesVm.isDocument(nodeItem.type) ? ', '+(nodeItem.size | readableSize:
                          true) : ''}}
                        </p>
                      </span>
                    </span>
                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                      <ul class="actions pull-right double-mobile-actions">
                        <li event-propagation-stop data-ng-click="workgroupNodesVm.showSelectedNodeDetails(nodeItem)" class="set-col-6">
                          <a href="" translate-attr="{title: 'BOUTON_LABEL_TITLE.INFO'}" class="set-col-12">
                            <i class="zmdi zmdi-info"></i>
                          </a>
                        </li>
                        <li
                          class="hidden-xs"
                          data-ng-class="{'disabled': !workgroupNodesVm.permissions.FILE.READ}"
                        >
                          <a
                            href=""
                            data-ng-click="workgroupNodesVm.downloadFile(nodeItem)"
                            event-propagation-stop
                            translate-attr="{title: 'ACTION.DOWNLOAD'}">
                            <i class="zmdi zmdi-download"></i>
                          </a>
                        </li>
                        <li
                          class="hidden-xs"
                          data-ng-class="{
                          'disabled' :
                          nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT ?
                          !workgroupNodesVm.permissions.FILE.DELETE :
                          !workgroupNodesVm.permissions.FOLDER.DELETE
                          }"
                        >
                          <a
                            href=""
                            data-ng-click="workgroupNodesVm.deleteNodes(nodeItem)"
                            translate-attr="{title: 'ACTION.DELETE'}"
                          >
                            <i class="zmdi zmdi-delete" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li check-dropdown-position uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding" auto-close="always" is-open="isOpenItem" data-ng-class="{'open':isOpenItem}">
                          <a translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}" uib-dropdown-toggle class="set-col-12" event-propagation-stop>
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right dm-icon
                                dropdown-divided dropdown-submenu" data-ng-class="{'open':isOpenItem}" uib-dropdown-menu="">
                            <li event-propagation-stop data-ng-click="workgroupNodesVm.showSelectedNodeDetails(nodeItem)">
                              <a href="">
                                <i class="zmdi zmdi-info"></i>
                                <span translate>ACTION.INFORMATION</span>
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li data-ng-class="{
                              'disable-link' :
                              nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT ?
                              !workgroupNodesVm.permissions.FILE.UPDATE :
                              !workgroupNodesVm.permissions.FOLDER.UPDATE
                              }"
                            >
                              <a data-ng-click="workgroupNodesVm.renameNode(nodeItem)">
                                <i class="zmdi zmdi-border-color"></i>
                                <span translate>ACTION.RENAME</span>
                              </a>
                            </li>
                            <li>
                              <document-preview-button
                                data-ng-if="workgroupNodesVm.thumbnailEngineActivated"
                                item-index="$index"
                                items="$data">
                                <span translate>ACTION.PREVIEW</span>
                              </document-preview-button>
                            </li>
                            <li
                              data-ng-class="{'disable-link': !workgroupNodesVm.permissions.FILE.READ}"
                            >
                              <a
                                data-ng-href=""
                                data-ng-click="workgroupNodesVm.downloadFile(nodeItem)"
                                event-propagation-stop
                              >
                                <i class="zmdi zmdi-download"></i>
                                <span translate>ACTION.DOWNLOAD</span>
                              </a>
                            </li>
                            <li
                              data-ng-class="{
                              'disable-link' : !(nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT &&
                              workgroupNodesVm.permissions.FILE.CREATE)
                              }"
                            >
                              <a data-ng-click="workgroupNodesVm.copyNode([nodeItem])">
                                <i class="zmdi zmdi-copy"></i>
                                <span translate>ACTION.DUPLICATE</span>
                              </a>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li
                              class="hidden-xs"
                              data-ng-class="{
                              'disable-link' : !(nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT &&
                              workgroupNodesVm.permissions.FILE.READ)
                              }"
                            >
                              <a href="" class="parent-sub-menu-link">
                                <i class="zmdi zmdi-copy"></i>
                                <span translate>ACTION.COPY_TO</span>
                                <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon"></i>
                              </a>
                              <ul>
                                <li
                                  data-ng-class="{
                                  'disable-link' :
                                  !(workgroupNodesVm.canCopyNodeToPersonalSpace &&
                                  nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT &&
                                  workgroupNodesVm.permissions.FILE.READ)
                                  }"
                                  data-ng-show="workgroupNodesVm.canCopyNodeToPersonalSpace"
                                  data-ng-click="workgroupNodesVm.copyNodeToPersonalSpace([nodeItem])"
                                >
                                  <a>
                                    <i class="ls-my-space"></i>
                                    <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
                                  </a>
                                </li>
                                <li
                                  data-ng-click="workgroupNodesVm.openBrowser([nodeItem], false, true)"
                                  data-ng-class="{
                                  'disable-link' :
                                  !(nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT &&
                                  workgroupNodesVm.permissions.FILE.READ)
                                  }"
                                >
                                  <a>
                                    <i class="ls-workgroup"></i>
                                    <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li
                              class="visible-xs"
                              data-ng-class="{
                              'disable-link' :
                              !(workgroupNodesVm.canCopyNodeToPersonalSpace &&
                              nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT &&
                              workgroupNodesVm.permissions.FILE.READ)
                              }"
                              data-ng-show="workgroupNodesVm.canCopyNodeToPersonalSpace"
                              data-ng-click="workgroupNodesVm.copyNodeToPersonalSpace([nodeItem])"
                            >
                              <a>
                                <i class="ls-my-space"></i>
                                <span translate>ACTION.COPY_TO</span>
                                <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
                              </a>
                            </li>
                            <li
                              class="visible-xs"
                              data-ng-class="{
                              'disable-link' :
                              !(nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT &&
                              workgroupNodesVm.permissions.FILE.READ)
                              }"
                              data-ng-click="workgroupNodesVm.openBrowser([nodeItem], false, true)">
                              <a>
                                <i class="ls-workgroup"></i>
                                <span translate>ACTION.COPY_TO</span>
                                <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
                              </a>
                            </li>
                            <li data-ng-class="{
                              'disable-link' :
                              nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT ?
                              !workgroupNodesVm.permissions.FILE.DELETE :
                              !workgroupNodesVm.permissions.FOLDER.DELETE

                              }">
                              <a
                                href=""
                                data-ng-click="workgroupNodesVm.openBrowser([nodeItem], true)"
                              >
                                <i class="zmdi zmdi-arrows"></i>
                                <span translate>ACTION.MOVE</span>
                              </a>
                            </li>
                            <li
                              data-ng-if="nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT
                              && workgroupNodesVm.permissions.FILE.READ
                              && workgroupNodesVm.canAddVersion"
                            >
                              <a
                                translate-attr="{title: 'ACTION.SEE_VERSIONS'}"
                                data-ui-sref="sharedspace.workgroups.version({
                                  workgroupUuid: workgroupNodesVm.folderDetails.workgroupUuid,
                                  workgroupName: workgroupNodesVm.folderDetails.workgroupName,
                                  fileUuid: nodeItem.uuid,
                                  fileName: nodeItem.name
                                  })"
                                >
                              <i class="zmdi zmdi-time-restore"></i>
                                <span translate>ACTION.SEE_VERSIONS</span>
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li
                              data-ng-class="{
                              'disable-link' :
                              nodeItem.type === workgroupNodesVm.TYPE_DOCUMENT ?
                              !workgroupNodesVm.permissions.FILE.DELETE :
                              !workgroupNodesVm.permissions.FOLDER.DELETE
                              }"
                            >
                              <a
                                href=""
                                data-ng-click="workgroupNodesVm.deleteNodes(nodeItem)"
                              >
                                <i
                                  class="zmdi zmdi-delete"
                                  aria-hidden="true"
                                >
                                </i>
                                <span translate>ACTION.DELETE</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </span>
                  </div>
                </td>
                <td
                  class="hidden-xs"
                  data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                  data-title="::'TABLE_HEADER.MODIFICATION_DATE' | translate"
                  data-sortable="'modificationDate'"
                  header-class="'col-4 hide-if-toggled-sidebar'"
                >
                  {{nodeItem.modificationDate | relativeTime}}
                </td>
                <td
                  class="hidden-xs"
                  data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                  data-title="::'TABLE_HEADER.SIZE' | translate"
                  data-sortable="'size'"
                  header-class="'col-5 hide-if-toggled-sidebar'"
                >
                  {{::workgroupNodesVm.isDocument(nodeItem.type) ? (nodeItem.size | readableSize: true) : ''}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="fabButtonCtn"
    fab-button
    fab-button-actions="workgroupNodesVm.fabButton.actions"
    fab-button-flow="$flow"
    fab-button-toolbar="workgroupNodesVm.fabButton.toolbar"
    data-ng-if="workgroupNodesVm.permissions.FOLDER.CREATE ||
    workgroupNodesVm.permissions.FILE.CREATE ||
    workgroupNodesVm.permissions.MEMBER.CREATE"
  >
  </div>
</div>
<div class="header-sidebar append-to-body visible-xs workgroup-header-nav">
  <a
    class="zmdi zmdi-chevron-left zmdi-hc-2x"
    data-ng-click="workgroupNodesVm.goToPreviousFolder((workgroupNodesVm.breadcrumb.length === 0),
    workgroupNodesVm.breadcrumb[workgroupNodesVm.breadcrumb.length-2])"
  >
  </a>
  <h2 class="header-more-options set-ellipsis">
    {{::workgroupNodesVm.currentFolder.name}}
  </h2>
  <a
    class="pull-right return-to-wkgrps groups-home-workgroup"
    data-ng-click="workgroupNodesVm.showWorkgroupDetails()"
  >
  </a>
  <a
    class="pull-right return-to-wkgrps zmdi zmdi-format-valign-top"
    data-ui-sref="sharedspace.all"
  >
  </a>
</div>
<section
  class="row multi-select-mobile visible-xs append-to-body"
  data-ng-class="{'showMobileMultiMenu': workgroupNodesVm.selectedDocuments.length > 0}"
>
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{workgroupNodesVm.selectedDocuments.length}}</span>
    <span
      class="file-multi-select-label"
      translate
    >
      SELECTION_TOOLBAR.ELEMENTS
    </span>
  </div>
  <div class="col-xs-8">
    <div
      data-ng-click="workgroupNodesVm.selectDocumentsOnCurrentPage(workgroupNodesVm.tableParams.data,
      workgroupNodesVm.tableParams.page())"
      class="visible-xs toolbar-mobile-item col-xs-3 clickable"
    >
      <i
        class="fa fa-square-o select-all-items p-r-10"
        data-ng-if="!workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
      >
      </i>
      <i
        class="fa fa-check-square-o active-link select-all-items p-r-10"
        data-ng-if="workgroupNodesVm.flagsOnSelectedPages[workgroupNodesVm.tableParams.page()]"
      >
      </i>
    </div>
    <i
      class="zmdi zmdi-download col-xs-2"
      data-ng-class="{'disabled': !workgroupNodesVm.permissions.FILE.READ}"
      data-ng-click="workgroupNodesVm.multiDownload()"
    >
    </i>
    <i
      class="zmdi zmdi-arrows col-xs-2"
      data-ng-class="{
      'disabled': !workgroupNodesVm.canDeleteNodes
      }"
      data-ng-click="workgroupNodesVm.openBrowser(workgroupNodesVm.selectedDocuments, true)">
    </i>
    <i
      class="zmdi zmdi-delete col-xs-2"
      data-ng-click="workgroupNodesVm.deleteNodes(workgroupNodesVm.selectedDocuments)"
      data-ng-class="{
      'disabled' : !workgroupNodesVm.canDeleteNodes
      }"
    >
    </i>
    <span
      class="dropdown col-xs-2 no-padding"
      data-ng-class="{
      'open': isOpenItem,
      'disabled' : workgroupNodesVm.selectedDocuments.length > 1
      }"
      uib-dropdown
      dropdown-append-to-body
      auto-close="always"
      is-open="isOpenItem"
    >
      <i class="zmdi zmdi-more"
        uib-dropdown-toggle
        event-propagation-stop
      >
      </i>
      <ul
        class="uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-other-actions"
        data-ng-class="{
        'open' : isOpenItem
        }"
        uib-dropdown-menu
      >
        <li data-ng-click="workgroupNodesVm.showSelectedNodeDetails(workgroupNodesVm.selectedDocuments[0])">
          <a>
            <i class="zmdi zmdi-info"></i>
            <span translate>ACTION.INFORMATION</span>
          </a>
        </li>
        <li class="divider"></li>
        <li
          data-ng-class="{
          'disable-link' : workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT ?
          !workgroupNodesVm.permissions.FILE.UPDATE :
          !workgroupNodesVm.permissions.FOLDER.UPDATE
          }"
          data-ng-click="workgroupNodesVm.renameNode(workgroupNodesVm.selectedDocuments[0])"
        >
          <a>
            <i class="zmdi zmdi-border-color"></i>
            <span translate>ACTION.RENAME</span>
          </a>
        </li>
        <li
          data-ng-class="{
          'disable-link' :
          !(workgroupNodesVm.permissions.FILE.CREATE &&
          workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT)
          }"
          data-ng-click="workgroupNodesVm.copyNode([
          workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT
          ])"
        >
          <a>
            <i class="zmdi zmdi-copy"></i>
            <span translate>ACTION.DUPLICATE</span>
          </a>
        </li>
        <li
          data-ng-class="{
          'disable-link' :
          !(workgroupNodesVm.canCopyNodeToPersonalSpace &&
          workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT &&
          workgroupNodesVm.permissions.FILE.READ)
          }"
          data-ng-click="workgroupNodesVm.copyNodeToPersonalSpace([workgroupNodesVm.selectedDocuments[0]])"
        >
          <a>
            <i class="ls-my-space"></i>
            <span translate>ACTION.COPY_DROPDOWN.PERSONAL_SPACE</span>
          </a>
        </li>
        <li
          data-ng-class="{
          'disable-link' :
          !(workgroupNodesVm.selectedDocuments[0].type === workgroupNodesVm.TYPE_DOCUMENT &&
          workgroupNodesVm.permissions.FILE.READ)
          }"
          data-ng-click="workgroupNodesVm.openBrowser([workgroupNodesVm.selectedDocuments[0]], false, true)"
        >
          <a>
            <i class="ls-workgroup"></i>
            <span translate>ACTION.COPY_DROPDOWN.SHARED_SPACE</span>
          </a>
        </li>
      </ul>
    </span>
  </div>
  <div class="col-xs-2 pull-right">
    <i
      class="zmdi zmdi zmdi-close"
      data-ng-click="workgroupNodesVm.resetSelectedDocuments()"
    >
    </i>
  </div>
</section>
