<div
  drag-and-drop
  drag-and-drop drag-and-drop-flow="$flow"
  drag-and-drop-submitted="workgroupRevisionsVm.upload(files,workgroupRevisionsVm.folderDetails)"
  drag-and-drop-enabled="::workgroupRevisionsVm.permissions.FILE.CREATE"
  drag-and-drop-success="workgroupRevisionsVm.addUploadedDocument(file, $message)"
>
  <div class="container files">
    <div class="card">
      <div class="card-header">
        <div
          id="breadcrumb-wrap"
          class="deep-nav multi-toolbar-options"
        >
          <div
            flow-btn
            class="menu-popover-ctn hidden-xs"
            data-ng-class="{
              'clickable waves-effect': workgroupRevisionsVm.permissions.FILE.CREATE,
              'disabled': !workgroupRevisionsVm.permissions.FILE.CREATE
            }"
            tooltip-placement="bottom"
            tooltip-popup-delay="500"
            translate-attr="{'uib-tooltip': 'ACTION.NEW_REVISION'}"
          >
            <a
              class="add-menu-group"
              data-ng-class="{'disabled': !workgroupRevisionsVm.permissions.FILE.CREATE}"
            >
              <i
                class="zmdi zmdi-plus"
                data-ng-class="{'disabled': !workgroupRevisionsVm.permissions.FILE.CREATE}"
              >
              </i>
            </a>
          </div>
          <div class="breadcrumbs-ctn hidden-xs">
            <div
              class="left-arrow actions"
              data-ng-click="::workgroupRevisionsVm.goToFolder(workgroupRevisionsVm.breadcrumb[workgroupRevisionsVm.breadcrumb.length-2])"
            >
              <a>
                <i class="ls-previous-caret"></i>
              </a>
            </div>
          </div>
          <div
            class="breadcrumbs-ctn hidden-xs"
          >
            <span
              class="folder-level"
              translate="REVISION_VIEW"
              translate-values='{ filename: workgroupRevisionsVm.currentFolder.name}'
            >
            </span>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items wide-action-bar">
              <span
                class="visible-xs toolbar-mobile-item col-xs-3"
                data-ng-click="showCheckboxes = !showCheckboxes"
              >
                <a class="select-all-items plain-txt-btn">
                  <i
                    class="ls-multi-select"
                    data-ng-class="{'active-link': showCheckboxes}"
                    data-ng-click="showCheckboxes && workgroupRevisionsVm.resetSelectedDocuments()"
                  >
                  </i>
                </a>
              </span>
              <a
                href=""
                class="hidden-xs pull-left"
                tooltip-popup-delay="350"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"
                uib-tooltip="{{'ACTION.INFO_FILE' | translate}}"
                data-ng-click="workgroupRevisionsVm.showFileDetails()"
              >
                <i
                  class="zmdi zmdi-file"
                  aria-hidden="true"
                >
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="drop-area">
        <div
          id="selection-actions"
          class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar"
          data-ng-class="{'show-multi-menu': workgroupRevisionsVm.selectedDocuments.length > 0}"
        >
          <div
            class="toggle-checkbox-toolbar"
            data-ng-click="workgroupRevisionsVm.selectDocumentsOnCurrentPage(workgroupRevisionsVm.tableParams.data,
            workgroupRevisionsVm.tableParams.page())"
          >
            <a
              class="select-all-items plain-txt-btn"
              data-ng-if="!workgroupRevisionsVm.flagsOnSelectedPages[workgroupRevisionsVm.tableParams.page()]"
            >
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a
              class="select-all-items plain-txt-btn"
              data-ng-if="workgroupRevisionsVm.flagsOnSelectedPages[workgroupRevisionsVm.tableParams.page()]"
            >
              <i class="fa fa-check-square-o"></i>
            </a>
          </div>
          <div
            class="exit-selection actions"
            translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"
            data-ng-click="workgroupRevisionsVm.resetSelectedDocuments()"
          >
            <a>
              <i class="zmdi zmdi-close"></i>
            </a>
          </div>
          <div
            class="display-num-selected-items"
            translate-attr="{title: 'SELECTION_TOOLBAR.SHOW_SELECTION'}"
          >
            <div
              class="pull-left"
              data-ng-class="{
              'active-button-show-selection': workgroupRevisionsVm.tableParamsService.getSelectionIsIsolated()
              }"
              data-ng-click="workgroupRevisionsVm.toggleFilterBySelectedFiles()"
            >
              <p>
                <span>{{workgroupRevisionsVm.selectedDocuments.length}}</span>
                <span translate>SELECTION_TOOLBAR.SELECTED_ELEMENTS</span>
              </p>
              <div class="pull-left view-icons-ctn groups-view">
                <i
                  class="fa fa-eye-slash"
                  aria-hidden="true"
                  data-ng-show="workgroupRevisionsVm.tableParamsService.getSelectionIsIsolated()"
                >
                </i>
                <i
                  class="fa fa-eye"
                  aria-hidden="true"
                  data-ng-show="!workgroupRevisionsVm.tableParamsService.getSelectionIsIsolated()"
                >
                </i>
              </div>
            </div>
            <div
              class="pull-left view-icons-ctn reset-icon"
              data-ng-click="workgroupRevisionsVm.resetSelectedDocuments()"
            >
              <i
                class="fa fa-undo"
                translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"
              >
              </i>
            </div>
          </div>
          <!--
               TODO: Manage actions on toolbar
          -->
          <div
            id="toolbar-actions"
            class="hidden-xs"
          >
            <!--
                 TODO: Manage actions for ONE file
                 Do not forget permissions
            -->
            <span
              data-ng-if="true"
              data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.DOWNLOAD}"
            >
              <a
                data-ng-href=""
                data-ng-click="workgroupRevisionsVm.downloadMultiVersions(workgroupRevisionsVm.selectedDocuments)"
                event-propagation-stop
                translate-attr="{title: 'ACTION.DOWNLOAD'}"
              >
                <i class="zmdi zmdi-download"></i>
                <span translate>ACTION.DOWNLOAD</span>
              </a>
            </span>
            <!--
                 TODO: Manage actions for MULTIPLE files
                 Do not forget permissions
            -->
            <span
              data-ng-if=""
              data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.DOWNLOAD}"
            >
              <a
                class="plain-text-button"
                translate-attr="{title: 'BOUTON_LABEL_TITLE.DOWNLOAD'}"
                data-ng-click="workgroupRevisionsVm.downloadMultiVersions(workgroupRevisionsVm.selectedDocuments)"
              >
                <i class="zmdi zmdi-download"></i>
                <span translate>
                  ACTION.DOWNLOAD
                </span>
              </a>
            </span>
            <span data-ng-class="{'disable-link': !workgroupRevisionsVm.canDeleteNodes}">
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'SELECTION_TOOLBAR.DELETE'}"
                data-ng-click="workgroupRevisionsVm.deleteVersions(workgroupRevisionsVm.selectedDocuments)"
              >
                <i class="zmdi zmdi-delete"></i>
                <span translate>
                  SELECTION_TOOLBAR.DELETE
                </span>
              </a>
            </span>

            <span data-ng-class="{
              'disable-link': workgroupRevisionsVm.selectedDocuments.length !== 1
              || !workgroupRevisionsVm.permissions.FILE.CREATE
              }">
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'SELECTION_TOOLBAR.RESTORE'}"
                data-ng-click="workgroupRevisionsVm.restore(workgroupRevisionsVm.selectedDocuments[0])"
              >
                <i class="zmdi zmdi-time-restore"></i>
                <span translate>
                  SELECTION_TOOLBAR.RESTORE
                </span>
              </a>
            </span>
            <!--
                 TODO: Manage more actions
                 Do not forget permissions and number of files selected
            -->
            <span
              class="dropdown link-dropdown"
              uib-dropdown
              data-ng-class="{
                'disabled disable-link': (workgroupRevisionsVm.selectedDocuments.length > 1)
              }"
            >
              <a
                class="plain-text-button share-link"
                uib-dropdown-toggle
                is-open="isOpenToolbarMore"
                translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                data-ng-class="{'open': isOpenToolbarMore}"
              >
                <i class="zmdi zmdi-more"></i>
                <span translate>
                  BOUTON_LABEL_TITLE.MORE_ACTIONS
                </span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu"
                uib-dropdown-menu=""
                data-ng-class="{'open': isOpenToolbarMore}"
              >
                <li
                  data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.READ}"
                  data-ng-click="workgroupRevisionsVm.showSelectedRevisionDetails(workgroupRevisionsVm.selectedDocuments[0])"
                >
                  <a href="">
                    <i class="zmdi zmdi-info"></i>
                    <span translate>
                      ACTION.INFORMATION
                    </span>
                  </a>
                </li>
                <li>
                  <a
                    href=""
                    class="parent-sub-menu-link"
                  >
                    <i class="zmdi zmdi-copy"></i>
                    <span translate>
                      ACTION.COPY_TO
                    </span>
                    <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon"></i>
                  </a>
                  <ul>
                    <li
                      data-ng-show="workgroupRevisionsVm.canCopyRevisionToPersonalSpace"
                      data-ng-click="workgroupRevisionsVm.copyRevisionToPersonalSpace(workgroupRevisionsVm.selectedDocuments)"
                    >
                      <a>
                        <i class="ls-my-space"></i>
                        <span translate>
                          ACTION.COPY_DROPDOWN.PERSONAL_SPACE
                        </span>
                      </a>
                    </li>
                    <li
                      data-ng-click="workgroupRevisionsVm.openBrowser([nodeItem])"
                    >
                      <a>
                        <i class="ls-workgroup"></i>
                        <span translate>
                          ACTION.COPY_DROPDOWN.SHARED_SPACE
                        </span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </span>
          </div>
        </div>
        <div
          class="drag-and-drop-ctn reset-content-width collapsible-content drag-n-drop-height"
          check-table-height
          data-ng-if="true"
          data-ng-class="{'show-bg-drop' : workgroupRevisionsVm.revisionsList.length === 0}"
        >
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn">
              <div class="bordered-circle">
                &nbsp;
              </div>
              <span class="grey-clr bg-info-icon">
                <span class="groups-upload-file"></span>
              </span>
            </div>
            <div class="dnd-txt-content">
              <h1
                class="hidden-xs"
                translate
              >
                DRAG_DROP_BACKGROUND.TITLE_REVISION
              </h1>
              <p
                class="hidden-xs"
                translate
              >
                DRAG_DROP_BACKGROUND.COMMENT_REVISION
              </p>
              <h1
                class="visible-xs"
                translate
              >
                WORKGROUP_DRAG_DROP_BACKGROUND_MOBILE.TITLE_REVISION
              </h1>
              <p
                class="visible-xs"
                translate
              >
                WORKGROUP_DRAG_DROP_BACKGROUND_MOBILE.COMMENT_REVISION
              </p>
            </div>
          </div>
        </div>
        <script type="text/ng-template" id="checkboxheader.html">
          <span
            class="display-block"
            role="button"
            tabindex="0"
            data-ng-click="workgroupRevisionsVm.selectDocumentsOnCurrentPage(workgroupRevisionsVm.tableParams.data,
            workgroupRevisionsVm.tableParams.page())"
          >
            <a
              data-ng-if="!workgroupRevisionsVm.flagsOnSelectedPages[workgroupRevisionsVm.tableParams.page()]"
              class="select-all-items plain-text-button checkboxCtn"
            >
              <i class="fa fa fa-square-o checkbox-table"></i>
            </a>
            <a
              data-ng-if="workgroupRevisionsVm.flagsOnSelectedPages[workgroupRevisionsVm.tableParams.page()]"
              class="select-all-items plain-text-button"
            >
              <i class="fa fa-check-square-o"></i>
              </a>
            </span>
        </script>
        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table
              id="file-list-table" class="table table-vmiddle fixed-activity-table-height"
              data-ng-table="workgroupRevisionsVm.tableParams"
              show-filter="true"
            >
              <tr
                class="p-b-5"
                check-table-height
                ls-item-selection
                data-ng-repeat="nodeItem in $data track by nodeItem.uuid"
                data-selected-documents="workgroupRevisionsVm.selectedDocuments"
                data-document-file="nodeItem"
                data-current-selected-document="workgroupRevisionsVm.currentSelectedDocument"
                data-details-function="workgroupRevisionsVm.getNodeDetails"
                data-right-sidebar-open="mainVm.sidebar.isVisible()"
                data-ng-class="{
                'highlight-list-elem': nodeItem.isSelected ,
                'current-vis': workgroupRevisionsVm.currentSelectedDocument.current.uuid === nodeItem.uuid,
                'item-container': true
                }"
                data-ng-click="backToSidebarContentDetails()"
              >
                <td
                  class="center set-content-left thumb-type-item thumb-groups-preview-ls"
                  data-header="'checkboxheader.html'"
                  header-class="'col-2 checkbox-col'"
                >
                  <a data-ng-click="(showCheckboxes || !isMobile) ? workgroupRevisionsVm.addSelectedDocument(nodeItem) : null">
                    <div data-ng-class="{ 'invisible' : showCheckboxes && isMobile}">
                      <i data-ng-class="'{{::nodeItem.mimeType | mimetypeIcone}}'"></i>
                    </div>
                    <div
                      class="checkbox-ctn-thumb"
                      data-ng-class="{'maintain-vis': nodeItem.isSelected , 'hidden-xs' : !showCheckboxes}"
                    >
                    </div>
                  </a>
                </td>
                <td
                  class="row show-li-actions col-3"
                  data-title="::'TABLE_HEADER.NAME' | translate"
                  header-class="'col-3 flexible-table-col'"
                  uuid={{::nodeItem.uuid}}
                >
                  <div class="ctn-name-actions">
                    <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                      <p class="main-name-row">
                        <span class="file-name-disp single-line">
                          <span translate>REVISION</span>
                          {{:: nodeItem.revisionNumber }}
                        </span>
                        <span class="shared-activated hidden-xs">
                          <span class="zmdi zmdi-link"></span>
                          <span
                            data-ng-if="nodeItem.isDifferentNameThanPrevious"
                            translate
                            translate-values="{filename: nodeItem.name}"
                          >
                            REVISION_NAME_UPDATE
                          </span>
                          <span data-ng-if="!nodeItem.isDifferentNameThanPrevious">
                          {{ nodeItem.name }}
                          </span>
                        </span>
                      </p>
                      <span class="secondary-info-ctn">
                        <p class="mobile-list-item-info visible-xs">
                          {{nodeItem.creationDate | relativeTime}} {{::', '+(nodeItem.size | readableSize: true)}}
                        </p>
                      </span>
                    </span>
                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                      <ul class="actions pull-right double-mobile-actions">
                        <li
                          class="set-col-6"
                          event-propagation-stop
                          data-ng-class="{'disabled': !workgroupRevisionsVm.permissions.FILE.READ}"
                          data-ng-click="workgroupRevisionsVm.showSelectedRevisionDetails(nodeItem)"
                        >
                          <a
                            class="set-col-12"
                            href=""
                            translate-attr="{title: 'BOUTON_LABEL_TITLE.INFO'}"
                          >
                            <i class="zmdi zmdi-info"></i>
                          </a>
                        </li>
                        <li
                          class="hidden-xs"
                          data-ng-class="{'disabled': !workgroupRevisionsVm.permissions.FILE.DOWNLOAD}"
                        >
                          <a
                            href=""
                            event-propagation-stop
                            translate-attr="{title: 'ACTION.DOWNLOAD'}"
                            data-ng-click="workgroupRevisionsVm.downloadVersion(nodeItem)"
                          >
                            <i class="zmdi zmdi-download"></i>
                          </a>
                        </li>
                        <li
                          class="hidden-xs"
                          data-ng-class="{'disabled': !workgroupRevisionsVm.permissions.FILE.DELETE}"
                        >
                          <a
                            href=""
                            translate-attr="{title: 'ACTION.DELETE'}"
                            data-ng-click="workgroupRevisionsVm.deleteVersions([nodeItem])"
                          >
                            <i
                              class="zmdi zmdi-delete"
                              aria-hidden="true"
                            >
                            </i>
                          </a>
                        </li>
                        <!--
                             TODO: Manage More actions
                             Do not forget permissions
                        -->
                        <li
                          class="dropdown set-col-6 no-padding"
                          check-dropdown-position
                          uib-dropdown
                          dropdown-append-to-body
                          auto-close="always"
                          is-open="isOpenItem"
                          data-ng-class="{'open':isOpenItem}"
                        >
                          <a
                            class="set-col-12"
                            uib-dropdown-toggle
                            event-propagation-stop
                            translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                          >
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <ul
                            class="uib-dropdown-menu dropdown-menu dropdown-menu-right dm-icon dropdown-divided
                            dropdown-submenu"
                            uib-dropdown-menu=""
                            data-ng-class="{'open':isOpenItem}"
                          >
                            <li
                              event-propagation-stop
                              data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.READ}"
                              data-ng-click="workgroupRevisionsVm.showSelectedRevisionDetails(nodeItem)"
                            >
                              <a href="">
                                <i class="zmdi zmdi-info"></i>
                                <span translate>
                                  ACTION.INFORMATION
                                </span>
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <!--
                                   TODO: Manage Preview
                                   Do not forget functionality activation
                              -->
                              <document-preview-button
                                data-ng-if="true"
                                item-index="$index"
                                items="$data"
                              >
                                <span translate>
                                  ACTION.PREVIEW
                                </span>
                              </document-preview-button>
                            </li>
                            <li
                              data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.DOWNLOAD}"
                            >
                              <a
                                data-ng-href=""
                                data-ng-click="workgroupRevisionsVm.downloadVersion(nodeItem)"
                                event-propagation-stop
                              >
                                <i class="zmdi zmdi-download"></i>
                                <span translate>
                                  ACTION.DOWNLOAD
                                </span>
                              </a>
                            </li>
                            <li
                              data-ng-class="{
                              'disable-link': !workgroupRevisionsVm.permissions.FILE.CREATE
                              || nodeItem === $data[0]
                              }"
                            >
                              <a data-ng-click="workgroupRevisionsVm.restore(nodeItem)">
                                <i class="zmdi zmdi-time-restore"></i>
                                <span translate>
                                  ACTION.RESTORE
                                </span>
                              </a>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li
                              class="hidden-xs"
                              data-ng-class="{
                              'disable-link': false
                              }"
                            >
                              <a
                                class="parent-sub-menu-link"
                                href=""
                              >
                                <i class="zmdi zmdi-copy"></i>
                                <span translate>
                                  ACTION.COPY_TO
                                </span>
                                <i class="zmdi zmdi-chevron-right secondary-dropdown-menu-icon"></i>
                              </a>
                              <ul>
                                <li
                                  data-ng-show="workgroupRevisionsVm.canCopyRevisionToPersonalSpace"
                                  data-ng-click="workgroupRevisionsVm.copyRevisionToPersonalSpace([nodeItem])"
                                >
                                  <a>
                                    <i class="ls-my-space"></i>
                                    <span translate>
                                      ACTION.COPY_DROPDOWN.PERSONAL_SPACE
                                    </span>
                                  </a>
                                </li>
                                <li
                                  data-ng-click="workgroupRevisionsVm.openBrowser([nodeItem])"
                                >
                                  <a>
                                    <i class="ls-workgroup"></i>
                                    <span translate>
                                      ACTION.COPY_DROPDOWN.SHARED_SPACE
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </li>
                            <li
                              class="visible-xs"
                              data-ng-show="workgroupRevisionsVm.canCopyRevisionToPersonalSpace"
                              data-ng-click="workgroupRevisionsVm.copyRevisionToPersonalSpace([nodeItem])"
                            >
                              <a>
                                <i class="ls-my-space"></i>
                                <span translate>
                                  ACTION.COPY_TO
                                </span>
                                <span translate>
                                  ACTION.COPY_DROPDOWN.PERSONAL_SPACE
                                </span>
                              </a>
                            </li>
                            <li
                              class="visible-xs"
                              data-ng-click="workgroupRevisionsVm.openBrowser([nodeItem])"
                            >
                              <a>
                                <i class="ls-workgroup"></i>
                                <span translate>
                                  ACTION.COPY_TO
                                </span>
                                <span translate>
                                  ACTION.COPY_DROPDOWN.SHARED_SPACE
                                </span>
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li
                              data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.DELETE}"
                            >
                              <a
                                href=""
                                data-ng-click="workgroupRevisionsVm.deleteVersions([nodeItem])"
                              >
                                <i
                                  class="zmdi zmdi-delete"
                                  aria-hidden="true"
                                >
                                </i>
                                <span translate>
                                  ACTION.DELETE
                                </span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </span>
                  </div>
                </td>
                <td
                  class="hidden-xs"
                  data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                  data-title="::'TABLE_HEADER.AUTHOR' | translate"
                  header-class="'col-4 hide-if-toggled-sidebar'"
                >
                  {{nodeItem.lastAuthor.name}}
                </td>
                <td
                  class="hidden-xs"
                  data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                  data-title="::'TABLE_HEADER.CREATION_DATE' | translate"
                  header-class="'col-4 hide-if-toggled-sidebar'"
                >
                  {{nodeItem.creationDate | relativeTime}}
                </td>
                <td
                  class="hidden-xs"
                  data-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
                  data-title="::'TABLE_HEADER.SIZE' | translate"
                  header-class="'col-5 hide-if-toggled-sidebar'"
                >
                  {{::nodeItem.size | readableSize: true}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
       TODO: MOBILE Manage Fab button
       Do not forget permissions
  -->
  <div
    id="fabButtonCtn"
    fab-button
    fab-button-actions="workgroupRevisionsVm.fabButton.actions"
    fab-button-flow="$flow"
    fab-button-toolbar="workgroupRevisionsVm.fabButton.toolbar"
    data-ng-if="true"
  >
  </div>
</div>

<div class="header-sidebar append-to-body visible-xs workgroup-header-nav">
  <a
    class="zmdi zmdi-chevron-left zmdi-hc-2x"
    data-ng-click="::workgroupRevisionsVm.goToFolder(workgroupRevisionsVm.breadcrumb[workgroupRevisionsVm.breadcrumb.length-2])"
  >
  </a>
  <h2 class="header-more-options set-ellipsis">
    {{::workgroupRevisionsVm.currentFolder.name}}
  </h2>
  <a
    class="pull-right return-to-wkgrps zmdi zmdi-file"
    data-ng-click="workgroupRevisionsVm.showFileDetails()"
  >
  </a>
</div>

<section
  class="row multi-select-mobile visible-xs append-to-body"
  data-ng-class="{'showMobileMultiMenu': workgroupRevisionsVm.selectedDocuments.length > 0}"
>
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">
      {{workgroupRevisionsVm.selectedDocuments.length}}
    </span>
    <span
      class="file-multi-select-label"
      translate
    >
      SELECTION_TOOLBAR.ELEMENTS
    </span>
  </div>
  <div class="col-xs-8">
    <div
      data-ng-click="workgroupRevisionsVm.selectDocumentsOnCurrentPage(workgroupRevisionsVm.tableParams.data,
      workgroupRevisionsVm.tableParams.page())"
      class="visible-xs toolbar-mobile-item col-xs-3 clickable"
    >
      <i
        class="fa fa-square-o select-all-items p-r-10"
        data-ng-if="!workgroupRevisionsVm.flagsOnSelectedPages[workgroupRevisionsVm.tableParams.page()]"
      >
      </i>
      <i
        class="fa fa-check-square-o active-link select-all-items p-r-10"
        data-ng-if="workgroupRevisionsVm.flagsOnSelectedPages[workgroupRevisionsVm.tableParams.page()]"
      >
      </i>
    </div>
    <i
      class="zmdi zmdi-download col-xs-2"
      data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.DOWNLOAD}"
      data-ng-click="workgroupRevisionsVm.downloadMultiVersions(workgroupRevisionsVm.selectedDocuments)"
    >
    </i>
    <i
      class="zmdi zmdi-delete col-xs-2"
      data-ng-click="workgroupRevisionsVm.deleteVersions(workgroupRevisionsVm.selectedDocuments)"
      data-ng-class="{'disabled' : !workgroupRevisionsVm.canDeleteNodes}"
    >
    </i>
    <!--
         TODO: MOBILE Manage more actions
         Do not forget permissions and multiplicity
    -->
    <span
      class="dropdown col-xs-2 no-padding"
      uib-dropdown
      dropdown-append-to-body
      auto-close="always"
      is-open="isOpenItem"
      data-ng-class="{
        'open': isOpenItem,
        'disabled disable-link': (workgroupRevisionsVm.selectedDocuments.length > 1)
      }"
    >
      <i
        class="zmdi zmdi-more"
        uib-dropdown-toggle
        event-propagation-stop
      >
      </i>
      <ul
        class="uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-other-actions"
        uib-dropdown-menu
        data-ng-class="{
        'open' : isOpenItem
        }"
      >
        <li
          data-ng-class="{'disable-link': !workgroupRevisionsVm.permissions.FILE.READ}"
          data-ng-click="workgroupRevisionsVm.showSelectedRevisionDetails(workgroupRevisionsVm.selectedDocuments[0])"
        >
          <a>
            <i class="zmdi zmdi-info"></i>
            <span translate>
              ACTION.INFORMATION
            </span>
          </a>
        </li>
        <li class="divider"></li>
        <li
          data-ng-class="{
          'disable-link': workgroupRevisionsVm.selectedDocuments.length !== 1
          || !workgroupRevisionsVm.permissions.FILE.CREATE
          }"
          data-ng-click="workgroupRevisionsVm.restore(workgroupRevisionsVm.selectedDocuments[0])"
        >
          <a>
            <i class="zmdi zmdi-time-restore"></i>
            <span translate>
              ACTION.RESTORE
            </span>
          </a>
        </li>
        <li
          data-ng-show="workgroupRevisionsVm.canCopyRevisionToPersonalSpace"
          data-ng-click="workgroupRevisionsVm.copyRevisionToPersonalSpace([nodeItem])"
        >
          <a>
            <i class="ls-my-space"></i>
            <span translate>
              ACTION.COPY_DROPDOWN.PERSONAL_SPACE
            </span>
          </a>
        </li>
        <li
          data-ng-click="workgroupRevisionsVm.openBrowser([nodeItem])"
        >
          <a>
            <i class="ls-workgroup"></i>
            <span translate>
              ACTION.COPY_DROPDOWN.SHARED_SPACE
            </span>
          </a>
        </li>
      </ul>
    </span>
  </div>
  <div class="col-xs-2 pull-right">
    <i
      class="zmdi zmdi zmdi-close"
      data-ng-click="workgroupRevisionsVm.resetSelectedDocuments()"
    >
    </i>
  </div>
</section>
