<div class="lv-body stop-propagate">
  <div>
    <div id="profile-main" class="detail-workgroup">
      <div class="p-relative m-b-20 img-preview-ctn">
        <div class="np-preview-ctn">
          <i class="fa fa-eye-slash no-preview" aria-hidden="true"></i>
          <p>{{ "RIGHT_PANEL.DETAILS.NO_PREVIEW" | translate }}</p>
        </div>
      </div>
      <div class="description-ctn advancedSharingSettings">
        <div contenteditable="false" class="comment"
             ng-focus="slideTextarea($event)"
             ng-blur="slideUpTextarea($event)"
             ng-keyup="setTextInput($event);"></div>
        <span>{{'INFORMATION_TAB.INSERT_DESCRIPTION' | translate}}</span>
        <div class="edit-description">
          {{vm.currentSelectedDocument.current.description}}
          <i class="zmdi zmdi-edit"></i>
        </div>
      </div>
      <div class="content-detail-area">
        <div class="flex-ctn detail-info-ctn">
          <div class="itemL">
                      <span class="first-letter user-info">
                       {{'UNKNOWN_FIRST_LETTER' | translate}}
                      </span>
          </div>
          <div class="itemMid">
            <div class="name">{{'UNKNOWN_USER' | translate}}</div>
            <div class="info-item-member" tooltip-placement="bottom" tooltip-popup-delay="500"
                 uib-tooltip="{{vm.currentSelectedDocument.current.modificationDate | date : lsFullDateFormat()}}">
                        <span class="ng-binding">{{'INFORMATION_TAB.UPTADED_THE' | translate}} :
                          {{vm.currentSelectedDocument.current.modificationDate | date: lsFormat()}}
                        </span>
            </div>
          </div>
          <div class="itemR actions">
            <span title="{{'DETAILS.FULL_SIZE' | translate}}">n.c Kib</span>
            <span class="seperator-inline">|</span>
                      <span title="{{'DETAILS.TRASH_FULL_SIZE' | translate}}">
                        <i class="fa fa-trash-o inner-icon"></i>
                        n.c Kib
                      </span>
          </div>
        </div>
        <div class="meta-data-ctn">
          <h2 class="subheader">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            {{'INFORMATION_TAB.META_DATA' | translate}}
          </h2>
          <div class="meta-data-content">
            <div>
              <p>
                {{'INFORMATION_TAB.CREATED_THE' | translate}}:
              </p>
              <p tooltip-placement="bottom" tooltip-popup-delay="500"
                 uib-tooltip="{{vm.currentSelectedDocument.current.creationDate | date : lsFullDateFormat()}}">
                {{vm.currentSelectedDocument.current.creationDate | date : lsFormat()}}
              </p>
            </div>
            <div>
              <p>{{'MEMBER_TAB.TITLE' | translate}}</p>
              <p ng-click="nextTab()">
                <a>{{vm.currentSelectedDocument.current.members.length}}
                  {{'MEMBER_TAB.TITLE' | translate}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
