<div id="ext-gate-template">
  <div class="ext-gate-bg"></div>
  <div data-ng-if="anonymousUrlVm.tableParams !== undefined" id="ext-gate-ctn">
    <div class="anonymous-url">
      <div class="container files">
        <div class="anonymous-user-msg">
          <h3 translate translate-values='{externalEmail: anonymousUrlVm.anonymousUrlData.recipient.mail}'>
            ANONYMOUS_URL.HELLO
          </h3>
          <p data-ng-if="anonymousUrlVm.anonymousUrlShareEntries.length === 1" >
            <b class="sender-full-name">
              {{::anonymousUrlVm.anonymousUrlData.actor.firstName}}
              {{::anonymousUrlVm.anonymousUrlData.actor.lastName.toUpperCase()}}
            </b>
            <span translate
                  translate-values="{
                  creationDate: (anonymousUrlVm.anonymousUrlData.creationDate | lsDate:'shortDate'),
                  expiryDate: (anonymousUrlVm.anonymousUrlData.expirationDate | lsDate:'shortDate')
                  }">
                  ANONYMOUS_URL.MSG_SINGULAR
            </span>
          </p>
          <p data-ng-if="anonymousUrlVm.anonymousUrlShareEntries.length > 1">
            <b class="sender-full-name">
              {{::anonymousUrlVm.anonymousUrlData.actor.firstName}}
              {{::anonymousUrlVm.anonymousUrlData.actor.lastName.toUpperCase()}}
            </b>
            <span translate="ANONYMOUS_URL.MSG_PLURAL"
                  translate-values="{
                  num: anonymousUrlVm.anonymousUrlShareEntries.length,
                  creationDate: (anonymousUrlVm.anonymousUrlData.creationDate | lsDate:'shortDate'),
                  expiryDate: (anonymousUrlVm.anonymousUrlData.expirationDate | lsDate:'shortDate')
                  }">
            </span>
          </p>
        </div>
        <div class="card" id="collapsible-content">
          <div class="card-header">
            <div id="breadcrumb-wrap">
              <div id="action-header">
                <div class="fg-line toolbar-actions-items">
                  <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                       data-ng-click="toggleSearchState()">
                    <a href="">
                      <i class="tm-icon zmdi zmdi-search"></i>
                    </a>
                  </div>
                </div>
                <div class="input-group search-bar hidden-xs">
                  <div id="search-field-ctn">
                    <div class="search-style">
                      <div class="fg-line">
                        <input type="text" class="form-control"
                               autocomplete="off"
                               data-ng-model="anonymousUrlVm.paramFilter['name']"
                               placeholder="{{::'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                               data-ng-change="updateParams()">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="drop-area">
            <div class="card-body">
              <div class="table-responsive"
                   data-ng-class="{'hide-ext-pagination' :
                   anonymousUrlVm.tableParams._settings.total < anonymousUrlVm.tableParams._params.count}">
                <table id="file-list-table" class="table table-vmiddle" data-ng-table="anonymousUrlVm.tableParams"
                       show-filter="true">
                   <tr id="{{ ::documentFile.uuid }}" data-ng-repeat="documentFile in $data"
                      class="p-b-5">
                    <td class="center thumb-type-item">
                      <i class="fa ls-1p5x" data-ng-class="'{{::documentFile.type | mimetypeIcone}}'"></i>
                    </td>
                    <td data-title="'TABLE_HEADER.NAME' | translate" class="row no-padding show-li-actions"
                        data-sortable="'name'">
                      <div class="ctn-name-actions">
                        <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                          <a data-ng-click="anonymousUrlVm.download(documentFile)"
                             event-propagation-stop>
                             {{::documentFile.name}}
                          </a>
                          <span>
                            <p class="mobile-list-item-info visible-xs">
                              {{::documentFile.size | readableSize: true}}
                            </p>
                          </span>
                        </span>
                        <span class="col-xs-3 col-sm-5 col-md-4 actions-list-ctn pull-right">
                          <ul class="actions pull-right">
                            <li>
                              <a data-ng-click="anonymousUrlVm.download(documentFile)"
                                 title="{{::'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}"
                                 event-propagation-stop>
                                <i class="zmdi zmdi-download"></i>
                              </a>
                            </li>
                          </ul>
                        </span>
                      </div>
                    </td>
                    <td class="hidden-xs"
                        data-ng-if="!mainVm.isVisible()"
                        data-title="'TABLE_HEADER.SIZE' | translate" data-sortable="'size'">
                        {{::documentFile.size | readableSize: true}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ext-gate-footer">
        <p>
          <a href="http://linshare.org" target="_blank" translate
              uib-tooltip="{{::'ANONYMOUS_URL.FIND_OUT' | translate}}"
              tooltip-append-to-body="true"
              tooltip-placement="top">
              LOGIN.COPYRIGHT
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
