
<div id="overlayMobileFab">&nbsp;</div>

<header id="header">
  <ul class="header-inner clearfix col-md-12">
    <li class="logo hidden-xs pull-left col-md-1">
      <a href="" ui-sref="home">
        <img ng-src="{{::mainVm.applicationLogoSmall}}" alt="Logo LinShare"/>
      </a>
    </li>
    <li class="text-left pull-left ext-gate-title-ctn">
      <span class="vertical-separator-w"></span>
      <span translate class="ext-gate-title">ANONYMOUS_URL.HEADER.TITLE</span>
    </li>
  </ul>
</header>
<div ui-view></div>
