<div class="modal-header">
  <h3 class="modal-title">
    {{"ANONYMOUS_URL.FORM.TITLE" | translate}}
  </h3>
</div>
<form class="form" name="anonymousModalForm" role="form" novalidate x-ng-submit="modalPasswordVm.submit()">
  <fieldset>
    <div class="modal-body">
      <!-- Name -->
      <div class="form-group"
           x-ng-class="{'has-error': (modalPasswordVm.hasError(anonymousModalForm, anonymousModalForm.pwd) ||
                                      modalPasswordVm.invalid)}">
        <label for="pwd">
          {{"ANONYMOUS_URL.FORM.LABEL" | translate}}
        </label>
        <input id="pwd" name="pwd" type="text" class="form-control" autocomplete="off"
               x-ng-model="modalPasswordVm.password" x-ng-change="modalPasswordVm.invalid = false" required/>
        <span x-ng-show="(modalPasswordVm.hasError(anonymousModalForm, anonymousModalForm.pwd) &&
                          !modalPasswordVm.invalid)">
          {{"ANONYMOUS_URL.FORM.EMPTY" | translate}}
        </span>
        <span x-ng-show="modalPasswordVm.invalid">
          {{"ANONYMOUS_URL.FORM.INVALID" | translate}}
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" x-ng-click="modalPasswordVm.hide()">
        {{"ANONYMOUS_URL.FORM.CANCEL" | translate}}
      </button>
      <button type="submit" class="btn btn-primary" x-ng-disabled="false">
        {{"ANONYMOUS_URL.FORM.SUBMIT" | translate}}
      </button>
    </div>
  </fieldset>
</form>
