<form class="form" name="anonymousModalForm" role="form" novalidate data-ng-submit="modalPasswordVm.submit()">
  <div class="sweet-alert showSweetAlert visible custom-swal-form">
    <div class="sa-icon sa-error animateErrorIcon">
      <span class="sa-x-mark animateXMark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div>
    <div class="custom-swal-form-ctn">
      <h2 translate>ANONYMOUS_URL.FORM.TITLE</h2>
      <p translate>ANONYMOUS_URL.FORM.MSG</p>
      <div class="form-group fg-float">
        <div class="fg-line"
             data-ng-class="{'has-error':(modalPasswordVm.hasError(anonymousModalForm, anonymousModalForm.pwd) ||
                                         modalPasswordVm.invalid)}">
          <input id="pwd" name="pwd" type="text" class="input-sm form-control" autocomplete="off"
                 data-ng-model="modalPasswordVm.password" data-ng-change="modalPasswordVm.invalid = false" required/>
          <label class="fg-label required" for="pwd" translate>ANONYMOUS_URL.FORM.LABEL</label>
          <span data-ng-show="modalPasswordVm.invalid" translate>ANONYMOUS_URL.FORM.INVALID</span>
        </div>
      </div>
    </div>
    <div class="sa-button-container">
      <button class="confirm" type="submit" class="btn btn-primary" translate>ANONYMOUS_URL.FORM.SUBMIT</button>
    </div>
  </div>
</form>
