<div class="modal-header">
  <h3 class="modal-title">
    Anonymous Url Password
  </h3>
</div>
<form class="form" name="anonymeUrlModal" role="form" novalidate
      x-ng-submit="submitPassword()">
  <fieldset>
    <div class="modal-body">
      <!-- Name -->
      <div class="form-group"
           x-ng-class="{'has-error': anonymeUrlModal.name.$invalid &&
            (anonymeUrlModal.name.$dirty || ls.anonymeUrlModal.attempted)}">
        <label for="name">
          Password
        </label>
        <input id="name" name="name" type="text" class="form-control" autocomplete="off"
               x-ng-model="urlPassword" required/>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default"
              x-ng-click="cancel()">
        cancel
      </button>
      <button type="submit" class="btn btn-primary"
              x-ng-disabled="false">
        send
      </button>
    </div>
  </fieldset>
</form>
