<md-dialog class="custom-dialog" id="lv-file-directory" aria-label="{{::'FILE_DIRECTORY_DIALOG.TITLE' | translate}}">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>FILE_DIRECTORY_DIALOG.TITLE</h2>
        <span flex></span>
        <md-button class="md-icon-button actions white-inline-link" data-ng-click="browseVm.$mdDialog.cancel()">
          <a>
            <i class="zmdi zmdi-close zmdi-hc-lg"></i>
          </a>
        </md-button>
      </div>
    </md-toolbar>
    <div id="lv-dialog-content-ctn">
      <div class="lv-header-dialog">
        <div class="lv-col-1 center actions">
          <a data-ng-class="{'disabled': browseVm.isSharedSpace ||
          browseVm.currentFolder.parent === browseVm.currentFolder.workGroup && browseVm.isMove}"
          data-ng-click="browseVm.goToFolder(browseVm.currentFolder, true)">
            <i class="zmdi zmdi-chevron-left"></i>
          </a>
        </div>
        <div class="lv-col-2">
          <span data-ng-if="!browseVm.isSharedSpace">{{browseVm.currentFolder.name}}</span>
          <span data-ng-if="browseVm.isSharedSpace" translate>FILE_DIRECTORY_DIALOG.SHARED_SPACE</span>
        </div>
        <div
          class="lv-col-3 center waves-effect add-btn"
          data-ng-click="browseVm.showCreateFolderInput()"
          data-ng-class="{
          'disabled': browseVm.displayCreateInput || browseVm.isSharedSpace ||
          !(!browseVm.isSharedSpace && browseVm.canCreateFolder &&
          browseVm.permissions[browseVm.currentFolder.workGroup].FOLDER.CREATE)
          }"
        >
          <i class="zmdi zmdi-plus"></i>
        </div>
      </div>
      <p class="empty-res center" data-ng-if="browseVm.currentList.length === 0 && browseVm.isSharedSpace">
        <i class="zmdi zmdi-info"></i>
        <span data-ng-if="browseVm.canCreateWorkGroup" translate>FILE_DIRECTORY_DIALOG.NO_WORKGROUP</span>
        <span data-ng-if="!browseVm.canCreateWorkGroup" translate>FILE_DIRECTORY_DIALOG.NO_WORKGROUP_TO_COPY_TO</span>
      </p>
      <div class="lv-ctn">
        <div
          id="js-lv-create-new-folder"
          class="lv-tem lv-create-item-container"
          ng-class="browseVm.displayCreateInput ? 'lv-create-item-container-show': 'lv-create-item-container-hide'">
          <div class="lv-icon-ctn lv-col-1 center">
            <span class="ls-folder"></span>
          </div>
          <div class="lv-name lv-col-2 file-name-disp single-line" spellcheck="false" contenteditable="false">
            <input class="lv-create-input" ng-model='browseVm.newFolderName' translate-attr="{'placeholder': 'FILE_DIRECTORY_DIALOG.ENTER_FOLDER_NAME'}" />
          </div>
          <div class="lv-actions-container">
            <i class="fa fa-check" ng-click="browseVm.createFolder()"></i>
            <i class="fa fa-times" ng-click="browseVm.hideCreateFolderInput()"></i>
          </div>
        </div>
        <div
          class="lv-tem"
          data-ng-repeat="node in browseVm.currentList"
          data-ng-click="browseVm.handleActionOnNodeSelection(node)"
          data-ng-class="{
          'disabled' : browseVm.disableFolder(node) ||
          (browseVm.isSharedSpace && !browseVm.isMove
          && !browseVm.permissions[node.uuid].FILE.CREATE)
          }"
          uuid={{::node.uuid}}
        >
          <div class="lv-icon-ctn lv-col-1 center">
            <span data-ng-class="'{{::node.mimeType | mimetypeIcone}}'" data-ng-if="!browseVm.isSharedSpace && node.type === browseVm.TYPE_DOCUMENT"></span>
            <span class="ls-folder" data-ng-if="!browseVm.isSharedSpace && node.type === browseVm.TYPE_FOLDER"></span>
            <span class="ls-workgroup" data-ng-if="browseVm.isSharedSpace"></span>
          </div>
          <div class="lv-name lv-col-2 file-name-disp single-line" spellcheck="false" contenteditable="false">
            <p class="set-ellipsis">{{::node.name}}</p>
          </div>
          <div data-ng-if="browseVm.isSharedSpace && node.type !== browseVm.TYPE_DOCUMENT" class="lv-actions-link lv-col-3 center">
            <span class="zmdi zmdi-chevron-right"></span>
          </div>
        </div>
      </div>
    </div>
    <md-dialog-actions layout="row">
      <button
        class="cancel"
        data-ng-click="browseVm.$mdDialog.cancel()"
        translate
      >
        FILE_DIRECTORY_DIALOG.CANCEL
      </button>
      <button class="confirm"
              translate data-ng-class="{'disabled': browseVm.isSharedSpace ||
              (browseVm.isMove && (browseVm.currentFolder.uuid === browseVm.sourceFolder.uuid))}"
              data-ng-click="browseVm.validateAction()">
        {{::browseVm.isMove ? 'FILE_DIRECTORY_DIALOG.MOVE_HERE' : 'FILE_DIRECTORY_DIALOG.COPY_HERE'}}
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>
