<md-dialog class="custom-dialog" id="lv-file-directory" aria-label="{{::'FILE_DIRECTORY_DIALOG.TITLE' | translate}}">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate>FILE_DIRECTORY_DIALOG.TITLE</h2>
        <span flex></span>
        <md-button class="md-icon-button actions white-inline-link" data-ng-click="browseVm.$mdDialog.cancel()">
          <a>
            <i class="zmdi zmdi-close zmdi-hc-lg"></i>
          </a>
        </md-button>
      </div>
    </md-toolbar>
    <div id="lv-dialog-content-ctn">
      <div class="lv-header-dialog">
        <div class="lv-col-1 center actions">
          <a
            ng-class="{'disabled': browseVm.breadcrumbs.length === 0 || browseVm.loading }"
            ng-click="browseVm.loadParentNode()"
          >
            <i class="zmdi zmdi-chevron-left"></i>
          </a>
        </div>
        <div class="lv-col-2">
          <span ng-show="browseVm.breadcrumbs[browseVm.breadcrumbs.length - 1]" >
            {{browseVm.breadcrumbs[browseVm.breadcrumbs.length - 1].name}}
          </span>
          <span ng-show="browseVm.breadcrumbs.length === 0" translate>FILE_DIRECTORY_DIALOG.SHARED_SPACE</span>
        </div>
        <div
          class="lv-col-3 center waves-effect add-btn"
          ng-click="browseVm.showCreateFolderInput()"
          ng-class="{ 'disabled': browseVm.displayCreateInput || browseVm.loading || !browseVm.canCreateFolder() }"
          ng-show="!browseVm.isListingSharedSpaces()"
        >
          <i class="zmdi zmdi-plus"></i>
        </div>
        <div
          class="lv-col-3 center waves-effect add-btn"
          ng-class="{ 'disabled': browseVm.loading }"
          ng-click="browseVm.showFilterInput()"
          ng-show="browseVm.isListingSharedSpaces()"
        >
          <i class="zmdi zmdi-search"></i>
        </div>
      </div>

      <div id="loading-bar-spinner" ng-show="browseVm.loading">
        <div class="spinner-icon"></div>
      </div>

      <p
        class="empty-res center"
        ng-show="!browseVm.loading && !browseVm.currentList.length && !browseVm.displayCreateInput"
      >
        <i class="zmdi zmdi-info"></i>
        <span
          ng-show="!browseVm.isListingSharedSpaces()"
          translate
        >
          FILE_DIRECTORY_DIALOG.EMPTY_FOLDER
        </span>

        <span
          ng-show="browseVm.isListingSharedSpaces() && browseVm.breadcrumbs.length === 1 && browseVm.breadcrumbs[0].nodeType === browseVm.TYPE_DRIVE"
          translate
          translate-compile
          translate-values="{
            driveName: browseVm.breadcrumbs[0].name,
            driveUuid: browseVm.breadcrumbs[0].uuid
          }"
        >
          {{
            browseVm.haveSharedSpaceCreatePermission() ?
              'FILE_DIRECTORY_DIALOG.NO_WORKGROUP' :
              'FILE_DIRECTORY_DIALOG.NO_WORKGROUP_NO_PERMISSION'
          }}
        </span>

        <span
          ng-show="browseVm.isListingSharedSpaces() && !browseVm.breadcrumbs.length"
          translate
        >
          {{
            browseVm.haveSharedSpaceCreatePermission() ?
              'FILE_DIRECTORY_DIALOG.NO_SHARED_SPACE' :
              'FILE_DIRECTORY_DIALOG.NO_SHARED_SPACE_NO_PERMISSION'
          }}
        </span>
      </p>

      <div class="lv-ctn" ng-show="!browseVm.loading && (browseVm.currentList.length || browseVm.displayCreateInput)">
        <div
          id="js-lv-create-new-folder"
          class="lv-tem lv-input-field-container"
          ng-class="browseVm.displayCreateInput ? 'lv-input-field-container-show': 'lv-input-field-container-hide'">
          <div class="lv-icon-ctn lv-col-1 center">
            <span class="ls-folder"></span>
          </div>
          <div class="lv-name lv-col-2 file-name-disp single-line">
            <input
              class="lv-input-field"
              ng-model='browseVm.newFolderName'
              ng-keypress="browseVm.createFolderByEnter($event)"
              translate-attr="{'placeholder': 'FILE_DIRECTORY_DIALOG.ENTER_FOLDER_NAME'}"
            />
          </div>
          <div class="lv-actions-container">
            <i class="fa fa-check" ng-click="browseVm.createFolder()"></i>
            <i class="fa fa-times" ng-click="browseVm.hideCreateFolderInput()"></i>
          </div>
        </div>
        <div
          id="js-filter-workgroup-input"
          class="lv-tem lv-input-field-container"
          ng-class="browseVm.displayFilterInput ? 'lv-input-field-container-show': 'lv-input-field-container-hide'"
        >
          <div class="lv-icon-ctn lv-col-1 center">
            <i class="zmdi zmdi-close" ng-click="browseVm.hideFilterInput()"></i>
          </div>
          <div class="lv-name lv-col-2 single-line">
            <input
              class="lv-input-field"
              ng-model='browseVm.filterText'
              translate-attr="{'placeholder': 'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME'}"
            />
          </div>
        </div>
        <div
          class="lv-tem"
          ng-repeat="node in browseVm.currentList | filter : { name: browseVm.filterText}"
          ng-click="browseVm.handleActionOnNodeSelection(node)"
          ng-class="{ 'disabled' : browseVm.disableNode(node) }"
          uuid={{::node.uuid}}
        >
          <div class="lv-icon-ctn lv-col-1 center">
            <span ng-class="::browseVm.getNodeIcon(node)"></span>
          </div>
          <div class="lv-name lv-col-2 file-name-disp single-line">
            <p class="set-ellipsis">{{::node.name}}</p>
          </div>
          <div
            class="lv-actions-link lv-col-3 center"
            ng-if="node.type !== browseVm.TYPE_DOCUMENT"
          >
            <span class="zmdi zmdi-chevron-right"></span>
          </div>
        </div>
      </div>
    </div>
    <md-dialog-actions layout="row">
      <button
        class="cancel"
        data-ng-click="browseVm.$mdDialog.cancel()"
        translate
      >
        FILE_DIRECTORY_DIALOG.CANCEL
      </button>
      <button
        translate
        class="confirm"
        ng-click="browseVm.performAction()"
        ng-class="{ 'disabled': !browseVm.canPerformAction() }"
      >
        {{::browseVm.isMove ? 'FILE_DIRECTORY_DIALOG.MOVE_HERE' : 'FILE_DIRECTORY_DIALOG.COPY_HERE'}}
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>
