<span>
  <ul class="actions pull-right" data-ng-class="{'open-r': (mainVm.sidebar.isVisible()) &&
        ((mainVm.sidebar.getContent() === lsAppConfig.details) || (mainVm.sidebar.getContent() === lsAppConfig.shareDetails)
        )}">
    <li data-ng-click="showCurrentFile(documentFile, $event, true)" event-propagation-stop class="hidden-action-links">
      <a href="" translate-attr="{title: 'BOUTON_LABEL_TITLE.INFO'}">
        <i class="zmdi zmdi-info"></i>
      </a>
    </li>
    <li class="hidden-xs hidden-action-links" data-ng-click="onShare(documentFile)">
      <a href="" translate-attr="{title: 'BOUTON_LABEL_TITLE.SHARE'}" event-propagation-stop="true">
        <i class="zmdi zmdi-share"></i>
      </a>
    </li>
    <li class="hidden-xs hidden-action-links">
      <a data-ng-href="" data-ng-click="downloadFile(documentFile)" translate-attr="{title: 'BOUTON_LABEL_TITLE.DOWNLOAD'}" event-propagation-stop>
        <i class="zmdi zmdi-download"></i>
      </a>
    </li>
    <li uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding" auto-close="always" is-open="isOpenItem" data-ng-class="{'open':isOpenItem}">
      <a href="" translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}" uib-dropdown-toggle event-propagation-stop class="set-col-12">
        <i class="zmdi zmdi-more"></i>
      </a>
      <ul class="uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided" uib-dropdown-menu=""
          data-ng-class="{'open':isOpenItem}">
        <li data-ng-click="showCurrentFile(documentFile, $event, true)">
          <a href="">
            <i class="zmdi zmdi-info" translate></i>
            <span translate>ACTION.INFORMATION</span>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="" data-ng-click="onShare(documentFile)" event-propagation-stop>
            <i class="zmdi zmdi-share"></i>
            <span translate>ACTION.SHARE</span>
          </a>
        </li>
        <li>
          <a data-ng-href="" data-ng-click="downloadFile(documentFile)" event-propagation-stop>
            <i class="zmdi zmdi-download"></i>
            <span translate>ACTION.DOWNLOAD</span>
          </a>
        </li>
        <li data-ng-click="documentUtilsService.rename(documentFile, 'td[uuid='+documentFile.uuid+'] .file-name-disp')">
          <a href="">
            <i class="zmdi zmdi-border-color"></i>
            <span translate>ACTION.RENAME</span>
          </a>
        </li>
        <li>
          <document-preview-button
            data-ng-if="lsAppConfig.thumbnailEngineActivated"
            item-index="$index"
            items="$data"
          >
            <span translate>ACTION.PREVIEW</span>
          </document-preview-button>
        </li>
        <li>
          <a href="" data-ng-click="copyDocuments([documentFile])" event-propagation-stop>
            <i class="zmdi zmdi-copy"></i>
            <span translate>ACTION.DUPLICATE</span>
          </a>
        </li>
        <li>
          <a href="" data-ng-click="openBrowser([documentFile])" event-propagation-stop>
            <i class="zmdi groups-home-workgroup"></i>
            <span translate>ACTION.COPY_IN_WORKGROUP</span>
          </a>
        </li>        
        <li class="divider"></li>
        <li>
          <a href="" data-ng-click="deleteDocuments([documentFile])">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <span translate>ACTION.DELETE</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</span>