<!-- TODO: Add the class p-t-10 if the function  toggleSearchState() has been activated -->
<table id="file-list-table" class="table table-vmiddle fixed-activity-table-height" data-ng-table="tableParams" show-filter="true">
  <tr x-ng-repeat="documentFile in $data"
      ls-item-selection=""
      data-selected-documents="selectedDocuments"
      data-document-file="documentFile"
      data-current-selected-Document="currentSelectedDocument"
      data-details-function="getDetails"
      data-right-sidebar-open="mainVm.sidebar.isVisible()"
      x-ng-click="backToSidebarContentDetails()"
      x-ng-class="{'highlight-list-elem': documentFile.isSelected ,
                   'current-vis': currentSelectedDocument.current.uuid === documentFile.uuid}"
      class="p-b-5"
      new-upload-anim
      check-table-height>

    <td data-header="'checkboxheader.html'"
        class="center set-content-left thumb-type-item thumb-groups-preview-ls"
        header-class="'col-2 checkbox-col'">
      <!--TODO: optimiser le code répeter et si besoin d'un test de detecion mobile cf scripts/common/MainController-->
      <!--TODO: does not display even if the showCheckboxes has been changed to true  -->
      <!--ligne 249 : y buena suerte-->
      <!-- TODO: Remove $parent once the Document controller use ControllerAs instead of $scope -->
      <a x-ng-click="$parent.showCheckboxes ? addSelectedDocument(documentFile) : null" class="visible-xs">
        <div x-ng-class="{ 'invisible' : showCheckboxes}">
          <i class="fa" x-ng-class="'{{documentFile.type | mimetypeIcone}}'"></i>
        </div>
        <div class="checkbox-ctn-thumb"
             x-ng-class="{'maintain-vis': documentFile.isSelected , 'hidden-xs' : !showCheckboxes}">
        </div>
      </a>
      <a x-ng-click="addSelectedDocument(documentFile)" class="hidden-xs">
        <div x-ng-class="{ 'invisible' : showCheckboxes}">
          <i class="fa" x-ng-class="'{{documentFile.type | mimetypeIcone}}'"></i>
        </div>
        <div class="checkbox-ctn-thumb"
             x-ng-class="{'maintain-vis': documentFile.isSelected , 'hidden-xs' : !showCheckboxes}">
        </div>
      </a>
    </td>

    <td data-title="'TABLE_HEADER.NAME' | translate" class="row no-padding show-li-actions"
        data-sortable="'name'" uuid={{documentFile.uuid}} header-class="'flexible-table-col'">
      <div class="ctn-name-actions">
        <!-- TODO: on a mobile , Default action should redirect toward the detail sidebar of the current
         document -->
        <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
          <span class="file-name-disp single-line" spellcheck="false">{{documentFile.name}}</span>
          <span>
            <span x-ng-show="documentFile.shared > 0" class="shared-activated hidden-xs"
                  x-ng-click="showCurrentFile(documentFile, undefined)" event-propagation-stop>
              <span class="zmdi zmdi-share"></span>
              <span translate>BOUTON_LABEL_TITLE.SHARED</span>
            </span>
            <p class="mobile-list-item-info visible-xs">
              {{documentFile.modificationDate | relativeTime}}, {{documentFile.size | readableSize: false}}
              <span x-ng-show="documentFile.shared > 0">,
                <span class="zmdi zmdi-share"></span>
                <span translate>BOUTON_LABEL_TITLE.SHARED</span>
              </span>
            </p>
          </span>
        </span>
        <ls-documents-menu></ls-documents-menu>
      </div>
    </td>
    <td class="hidden-xs"
        x-ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
        header-class="'hide-if-toggled-sidebar'"
        data-title="'TABLE_HEADER.MODIFICATION_DATE' | translate" data-sortable="'modificationDate'">
      {{documentFile.modificationDate | relativeTime}}
    </td>
    <td class="hidden-xs"
        ng-class="{'hide-if-toggled-sidebar': mainVm.sidebar.isVisible()}"
        header-class="'hide-if-toggled-sidebar'"
        data-title="'TABLE_HEADER.SIZE' | translate" data-sortable="'size'">
      {{documentFile.size | readableSize: false}}
    </td>
  </tr>
</table>
