<div class="container">

  <div class="card">

    <div class="card-body card-padding" data-ng-controller="DatepickerDemoCtrl">

      <br/>

      <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>

        <div class="fg-line " style="background: white;" data-ng-controller="LinshareAutocompleteController">
          <ul class="list-inline">
            <li style="border: 1px solid #AAA; padding: 1px; margin: 2px"
                tooltip-placement="bottom" tooltip={{userRepresentation(recipient)}}
                x-ng-repeat="recipient in share.recipients">{{recipient.lastName}}&nbsp;{{recipient.firstName}}
                      <span style="cursor: pointer;">
                          <i class="glyphicon glyphicon-remove" style="color: #333;"
                             x-ng-click="removeRecipients(share.recipients, $index)"></i>
                      </span>
            </li>
          </ul>
          <input type="text" class="form-control input-sm" autocomplete="off"
                 x-ng-model="selectedContact"
                 x-typeahead-min-length="3"
                 x-typeahead-on-select="addRecipients(share.recipients, selectedContact)"
                 x-typeahead-wait-ms="30"
                 x-typeahead-loading="searchingContact"
                 x-typeahead-input-formatter="angular.noop"
                 x-typeahead="u as userRepresentation(u) for u in searchGuestRestrictedContacts($viewValue) | limitTo:3"/>
        </div>
      </div>

      <br/>

      <div class="row m-b-20">
        <div class="col-sm-4">

          <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>

            <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
              <input ng-click="open($event, 'opened')" type="text" class="form-control" datepicker-popup="{{format}}"
                     show-weeks="false" ng-model="share.expirationDate" is-open="opened" min-date="minDate"
                     datepicker-options="dateOptions" ng-required="true" close-text="Close"
                     placeholder="Expiration Date"/>
            </div>
          </div>

        </div>
      </div>

      <div class="row m-b-20" ng-show="allFunctionalities.ANONYMOUS_URL.canOverride == true">
        <div class="toggle-switch" data-ts-color="blue">
          <label for="ts1" class="ts-label">Secure Sharing</label>
          <input id="ts1" type="checkbox" ng-model="share.secured"
                 ng-init="share.secured = allFunctionalities.ANONYMOUS_URL.value" hidden="hidden">
          <label for="ts1" class="ts-helper"></label>
        </div>
      </div>

      <div class="row" ng-show="allFunctionalities.SHARE_CREATION_ACKNOWLEDGEMENT_FOR_OWNER.canOverride == true">
        <div class="m-b-20">
          <div class="toggle-switch" data-ts-color="blue">
            <label for="ts2" class="ts-label">Share creation acknowledgement</label>
            <input id="ts2" type="checkbox" ng-model="share.creationAcknowledgement"
                   ng-init="share.creationAcknowledgement = allFunctionalities.SHARE_CREATION_ACKNOWLEDGEMENT_FOR_OWNER.value"
                   hidden="hidden">
            <label for="ts2" class="ts-helper"></label>
          </div>
        </div>
      </div>

      <div class="row" ng-show="allFunctionalities.UNDOWNLOADED_SHARED_DOCUMENTS_ALERT.canOverride == true">
        <div class="m-b-20">
          <div class="toggle-switch" data-ts-color="blue">
            <label for="ts3" class="ts-label">Undownloaded shared documents alert</label>
            <input id="ts3" type="checkbox" ng-model="share.enableUSDA"
                   ng-init="share.enableUSDA = allFunctionalities.UNDOWNLOADED_SHARED_DOCUMENTS_ALERT.value"
                   hidden="hidden">
            <label for="ts3" class="ts-helper"></label>
          </div>
        </div>
      </div>
      <div class="row m-b-20">
        <div class="col-sm-4">

          <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>

            <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
              <input ng-click="open($event, 'opened2')" type="text" class="form-control" datepicker-popup="{{format}}"
                     show-weeks="false" ng-model="share.notificationDateForUSDA" is-open="opened2" min-date="minDate"
                     datepicker-options="dateOptions" ng-required="true" close-text="Close"
                     placeholder="Notification Date"/>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="fg-line m-b-20">
          <textarea class="form-control" rows="5" ng-model="share.sharingNote" placeholder="Add a Note"></textarea>
        </div>
      </div>

      <div class="fg-line m-b-20">
        <input type="text" class="form-control" ng-model="share.subject" placeholder="Email subject"/>
      </div>

      <div class="form-group">
        <div class="fg-line">
          <textarea class="form-control" rows="5" ng-model="share.message" placeholder="message ..."></textarea>
        </div>
      </div>
    </div>
    <br/>
    <span class="input-group-addon last"><button class="btn bgm-blue waves-circle" ng-click="submitShare(share)"><i
      class="zmdi zmdi-share zmdi-hc-lg"></i></button></span>
  </div>
</div>
