<div class="bottom-btn visible-xs row col-xs-12 transfertFilesBtnCtn">
  <button ng-click="moveSliderBackwards()" class="btn bgm-lightblue waves-effect col-xs-6">PRECEDENT</button>
  <button ng-click="moveSliderForward()" class="btn bgm-lightblue waves-effect nextLink col-xs-6">SUIVANT</button>
  <button ng-click="moveSliderForward()" class="btn bgm-lightblue waves-effect col-xs-6 sendLink hide">ENVOYER</button>
</div>
<div class="container" ng-controller="LinshareAdvancedShareController">
  <div id="transfert-ctn"
       flow-init
       flow-object="share_array[id].flowObjectFiles"
       flow-file-success="addUploadedDocument($file, $message, $flow)"
       flow-files-submitted="$flow.upload()"
       flow-complete="onCompleteUpload(share_array[id])"
       id="transfert-header">
    <div class="card row" style="margin:auto">
      <div class="form-wizard-nav col-sm-12 col-md-11 centered">
        <div class="progress" style="width: 95%;">
          <div class="progress-bar progress-bar-primary"></div>
        </div>
        <div class="col-xs-12 sliderLinksCtn">
          <div class="active col-xs-4">
            <a ng-click="goToSlide(1)">
              <span class="step hidden-xs"><span class="stepNum">1</span><i class="zmdi zmdi-edit hide"></i></span>
              <span class="title"><span class="hidden-xs">Sélection des</span> fichiers</span>
            </a>
          </div>
          <div class="col-xs-4 middle">
            <a ng-click="goToSlide(2)">
              <span class="step hidden-xs"><span class="stepNum">2</span><i class="zmdi zmdi-edit hide"></i></span>
              <span class="title"><span class="hidden-xs">Sélection des</span> destinataires</span>
            </a>
          </div>
          <div class=" col-xs-4 last">
            <a ng-click="goToSlide(3)"><span class="step hidden-xs"><span class="stepNum">3</span><i
              class="zmdi zmdi-edit hide"></i></span>
              <span class="title">Paramétrage<span class="hidden-xs"> *Optionnel</span></span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card hidden-xs">
      <div class="card-body card-padding">
        <div class="alert alert-info row " role="alert">
          <p class="col-sm-10 col-lg-11 "><i class="zmdi zmdi-info hidden-xs"></i>
            Vos fichiers sont en cours de stockage, poursuivez pour partager.
          </p>
          <div class="hidden-xs transfertFilesBtnCtn">
            <button ng-click="moveSliderForward()"
                    class="btn bgm-lightblue waves-effect col-md-2 col-lg-1 nextLink pull-left ">SUIVANT
            </button>
            <button ng-click="submitShare(share_array[1], isComplete)"
                    class="btn bgm-lightblue waves-effect col-md-2 col-lg-1  pull-left sendLink hide ">ENVOYER
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card" id="topFixedHeaderList">
      <div class="listview lv-bordered lv-lg">
        <div class="lv-header-alt clearfix ">
          <div class="col-xs-10 col-sm-11 col-md-11">
            <h2 class="lvh-label"><b>Total :</b>
              <span class="numFilesInfo">{{share_array[id].flowObjectFiles.files.length}}
                <i class="zmdi zmdi-file"></i>
              </span>
              <span class="minutesInfo">{{share_array[id].flowObjectFiles.timeRemaining() | remainingTime}} </span>|
              <span class="sizeInfo">{{share_array[id].flowObjectFiles.getSize() | readableSize: false}}</span>
            </h2>
            <progressbar max="100" value="share_array[id].flowObjectFiles.progress()*100"></progressbar>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1">
            <ul class="lv-actions actions col-xs-12 text-center">
              <li class="hidden-xs col-sm-6"
                  x-ng-if="!share_array[id].flowObjectFiles.paused"
                  x-ng-hide="share_array[id].flowObjectFiles.flow.isComplete()">
                <a popover-placement="top" popover-trigger="mouseenter" popover="Tout mettre en pause"
                   ng-click="share_array[id].flowObjectFiles.pause()">
                  <i class="zmdi zmdi-pause"></i>
                </a>
              </li>
              <li class="hidden-xs col-sm-6"
                  x-ng-if="share_array[id].flowObjectFiles.paused"
                  x-ng-hide="share_array[id].flowObjectFiles.isComplete()">
                <a popover-placement="top" popover-trigger="mouseenter" popover="Tout mettre en pause"
                   ng-click="share_array[id].flowObjectFiles.resume()">
                  <i class="zmdi zmdi-pause"></i>
                </a>
              </li>
              <li class="hidden-xs col-sm-6">
                <a popover-placement="top" popover-trigger="mouseenter" popover="Tout annuler"
                   ng-click="share_array[id].flowObjectFiles.cancel()">
                  <i class="zmdi zmdi-close"></i>
                </a>
              </li>
              <li class="dropdown visible-xs col-xs-12 text-center" dropdown>
                <a href="" dropdown-toggle aria-expanded="true">
                  <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="">Tout mettre en pause</a>
                  </li>
                  <li>
                    <a href="">Tout annuler</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <section class="slideCtn">
      <div class="slide slide1 col-xs-4">
        <div class="card col-sm-10 col-xs-11  col-centered">
          <div class="listview lv-bordered lv-lg" id="listFilesView">
            <div class="lv-header-alt clearfix">
              <h2 class="lvh-label"><b>Fichiers destinés au partage</b></h2>
            </div>
            <!--<button class="btn bgm-red btn-float waves-effect " ><i class="zmdi zmdi-plus"></i></button>-->
            <div ng-controller="DemoCtrl as demo" layout="column" ng-cloak="" class="fabSpeedDialdemoBasicUsage"
                 id="ajouterFichier">
              <md-fab-speed-dial md-open="demo.isOpen" md-direction="left" ng-class="demo.selectedMode">
                <md-fab-trigger>
                  <md-button aria-label="menu" class="md-fab md-red">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Ajouter des fichiers à la liste
                    </md-tooltip>
                    <i class="zmdi zmdi-plus"></i>
                  </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                  <md-button aria-label="Twitter" class="md-fab md-raised md-mini" flow-btn flow-files-submitted="$flow.upload()">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Uploader des fichiers</md-tooltip>
                    <i class="zmdi zmdi-upload"></i>
                  </md-button>
                  <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Ajouter depuis mon Linshare</md-tooltip>
                    <i class="zmdi zmdi-file"></i>
                  </md-button>
                </md-fab-actions>
              </md-fab-speed-dial>
            </div>
            <div class="lv-body">
              <div class="media-body" ng-repeat="file in share_array[id].flowObjectFiles.files">
                <div class="col-xs-10 col-sm-12" style="overflow:hidden;">
                  <div class="col-xs-24 col-sm-12 animLeft no-padding">
                    <div class="col-xs-6 col-sm-10 pull-left">
                      <div class="previewIconCtn pull-left hidden-v-xs">
                        <p class="img-circle">{{file.getExtension()  | uppercase }}</p>
                      </div>
                      <div class="pull-left dataListCtn">
                        <div class="lv-title">{{file.name}}</div>
                        <small class="lv-small pull-left">{{file.timeRemaining() | remainingTime }}</small>
                        <small class="lv-small pull-right">{{file.size | readableSize: false}}</small>
                        <div class="clearfix"></div>
                        <progressbar max="100" value="file.progress()*100"></progressbar>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 pull-left">
                      <ul class="lv-actions actions alignListIcons ">
                        <li class="col-xs-4">
                          <a>
                            <i class="zmdi zmdi-file"><span>note</span></i>
                          </a>
                        </li>
                        <li class="col-xs-4" x-ng-if="!file.paused" x-ng-hide="file.isComplete()">
                          <a href="" ng-click="file.pause()">
                            <i class="zmdi zmdi-pause"></i>
                          </a>
                        </li>
                        <li class="col-xs-4" x-ng-if="file.paused" x-ng-hide="file.isComplete()">
                          <a href="" ng-click="file.resume()">
                            <i class="zmdi zmdi-play"></i>
                          </a>
                        </li>
                        <li class="col-xs-4" x-ng-if="file.isComplete() && !file.error">
                          <a href="">
                            <i class="zmdi zmdi-check"></i>
                          </a>
                        </li>
                        <li class="col-xs-4" x-ng-if="file.error">
                          <a href="" ng-click="file.retry()">
                            <i class="zmdi zmdi-replay"></i>
                          </a>
                        </li>
                        <li class="col-xs-4">
                          <a href="" ng-click="file.cancel()">
                            <i class="zmdi zmdi-close"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-2 visible-xs">
                  <ul class="lv-actions actions alignListIcons " ng-click="showBtnList($event)">
                    <li><a><i class="zmdi zmdi-more-vert"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide slide2 col-xs-4" >
        <div class="card" id="recipientsCtn" style="width:350px">
          <div class="card-header">
            <h2>Sélections des destinataires</h2>
          </div>
          <div class="card-body card-padding col-xs-12 col-sm-5 sticky ">
            <form role="form">
              <div class="form-group fg-line col-xs-12">
                <label for="text">Saisissez par destinataires :</label>
                <div autocomplete-user="" data-on-select-function="share_array[1].addRecipient"></div>
              </div>
            </form>
          </div>
          <div class="custom-list-container col-sm-7 scrollRight ">
            <div class="card-body custom-header-list col-xs-12 ">
              <p class="pull-left headerSubCtn"><span>Total :</span>18 Destinataires sélectionnés</p>
              <div class="dropdown popOverForm savelistBtn" dropdown auto-close="outsideClick" is-open="false" on-toggle="toggled()">
                <button class="dropdown-toggle btn btn-default" dropdown-toggle >
                  <i class="zmdi zmdi-accounts-list-alt" style="font-size:1em;"></i>Créer une liste
                </button>
                <div class="dropdown-menu pull-right">
                  <p class="labelListCtn">
                    <input type="email" class="form-control input-sm" id="labelList"
                           placeholder="Saisissez le nom de votre liste">
                  </p>
                  <md-divider></md-divider>
                  <div>
                    <button class="btn btn-default col-xs-6" ng-click="closeDropdown($event)">Annuler</button>
                    <button class="btn btn-primary col-xs-6" ng-click="createRecipientList($event)">Créer</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-list-body col-xs-12 ">
              <div class="custom-list-item" ng-repeat="recipient in share_array[1].getRecipients()">
                <p class="pull-left"><span class="circle  user-bg">Ext</span></p>
                <div class="pull-left">
                  <p class="pull-left inner-text-li">{{recipient.firstName + ' ' + recipient.lastName}}</p>
                  <p class=" close-list-icone-btn" ng-click="share_array[1].removeRecipient($index)">
                    <i class="zmdi zmdi-close "></i>
                  </p>
                </div>
              </div>
              <div class="custom-list-item" ng-repeat="list in share_array[1].getMailingListUuid()">
                <p class="pull-left"><span class="circle  user-bg">L</span></p>
                <div class="pull-left">
                  <p class="pull-left inner-text-li">{{list.listName}}</p>
                  <p class=" close-list-icone-btn" ng-click="share_array[1].removeMailingList($index)">
                    <i class="zmdi zmdi-close"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="clearfix">&nbsp;</div>
          </div>
          <div class="clearfix">&nbsp;</div>
        </div>
      </div>
      <div class="slide slide3 col-xs-4">
        <div class="card">
          <div class="card-header">
            <h2>Paramétrage</h2>
            <div class="navBarBtn" >
              <button class="btn btn-default waves-effect" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-accounts-list-alt" style="font-size:1em;"></i>Sauvegarder
                <span class="hidden-xs">paramétres</span>
              </button>
            </div>
          </div>
          <div class="card-body card-padding">
            <div>
              <working-date-picker></working-date-picker>
            </div>
            <form class="form-sidebar">
              <div class="form-group col-xs-12">
                <legend>Ajouter une note :</legend>
                <textarea class="form-control comment" ng-model="share_array[1].sharingNote" rows="5"
                          placeholder="Saississez votre message">
                </textarea>
              </div>
              <div ng-show="share_array[1].expirationDate.enable" class="col-xs-12 col-sm-6 col-lg-4 field-ctn" id="dateField">
                <label for="comment" class="labelDateExpiration">Date d'expiration:</label>
                <div class="datepicker-border-fix date-picker dp-blue"  ng-class="{ 'is-opened': opened == true }">
                  <div class="fg-line datepicker-ctn" ng-class="{ 'fg-toggled': opened == true }" >
                    <div class="form-inline">
                      <input  ng-click="open($event, 'opened')"  type="text"
                              class="form-control  date-picker-input" datepicker-popup="{{format}}" show-weeks="false"
                              is-open="opened" min-date="minDate" datepicker-options="dateOptions"
                              ng-required="true" close-text="Close"
                              placeholder="{{share_array[1].expirationDate.value | date: 'shortDate'}}"
                              ng-disabled="!share_array[1].expirationDate.userCanOverride"
                              ng-model="share_array[1].expirationDate.value"/>
                    </div>
                  </div>
                </div>
              </div>
              <div ng-show="share_array[1].secured.enable" class="col-xs-12 col-sm-6 col-lg-4 field-ctn">
                <div class="fg-line">
                  <div class="form-inline">
                    <label for="comment">Sécuriser le partage:</label>
                    <label class="checkbox checkbox-inline m-r-20">
                      <input type="checkbox" name="secureSharing" ng-checked="true"
                             ng-disabled="!share_array[1].secured.userCanOverride"
                             ng-model="share_array[1].secured.value"/>
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div ng-show="share_array[1].creationAcknowledgement.enable" class="col-xs-12 col-sm-6 col-lg-4 field-ctn">
                <div class=" fg-line date-picker input-group dp-blue" ng-class="{'is-opened': dateStartOpened }">
                  <div class="form-inline">
                    <label for="comment">Recevoir un accusé de partage:</label>
                    <label class="checkbox checkbox-inline m-r-20">
                      <input type="checkbox" name="SharingNotification"
                             ng-disabled="!share_array[1].creationAcknowledgement.userCanOverride"
                             ng-model="share_array[1].creationAcknowledgement.value"/>
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div ng-show="share_array[1].enableUSDA.enable" class="col-xs-12 col-sm-6 col-lg-4 field-ctn">
                <div class="fg-line">
                  <div class="form-inline">
                    <label for="comment">Recevoir un accusé de non-téléchargement:</label>
                    <label class="checkbox checkbox-inline m-r-20">
                      <input type="checkbox" name="nonDownloadedNotification" ng-checked="true"
                             ng-disabled="!share_array[1].enableUSDA.userCanOverride"
                             ng-model="share_array[1].enableUSDA.value"/>
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
              </div>
              <div ng-show="share_array[1].enableUSDA.value" class="col-xs-12 col-sm-6 col-lg-4 field-ctn" id="dateField">
                <label for="comment" class="labelDateExpiration">Date de notification:</label>
                <div class="datepicker-border-fix date-picker dp-blue"  ng-class="{ 'is-opened': opened2 == true }">
                  <div class="fg-line datepicker-ctn" ng-class="{ 'fg-toggled': opened2 == true }" >
                    <div class="form-inline">
                      <input  ng-click="open($event, 'opened2')"  type="text"
                              class="form-control  date-picker-input" datepicker-popup="{{format}}" show-weeks="false"
                              is-open="opened2" min-date="minDate" datepicker-options="dateOptions"
                              ng-required="true" close-text="Close"
                              placeholder="{{share_array[1].notificationDateForUSDA.value | date: 'medium'}}"
                              ng-disabled="!share_array[1].notificationDateForUSDA.userCanOverride"
                              ng-model="share_array[1].notificationDateForUSDA.value"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body custumHeaderMailForm col-xs-12 ">
                <div>
                  <div class="form-group fg-line col-xs-12 col-sm-6 col-lg-4 titleMailCustumisation ">
                    <div class="form-inline">
                      <label for="comment">Personaliser le mail</label>
                      <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" name="mailCustum" ng-checked="boo"
                               ng-model="mailCustum" ng-init="boo=false" ng-click="boo = !boo"/>
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </div>
                  <div class="css-slide-up col-xs-12 " ng-hide="!boo">
                    <div class="form-group clearfix fg-line col-xs-12">
                      <input type="text" class="form-control input-sm"
                             ng-model="share_array[1].subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control comment" rows="5"  placeholder="Saississez votre message"
                              ng-model="share_array[1].message">
                    </textarea>
                  </div>
                  <md-divider class="col-xs-12 mailDivider" md-inset="" ></md-divider>
                </div>
              </div>
              <div class="clearfix">&nbsp;</div>
            </form>
          </div>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
    </section>
  </div>
</div>
