<div class="container" x-ng-init="selectedDocuments = []">


  <!--  ACTIONS ON DOCUMENTS  -->

  <div class="card">
    <div class="card-header m-b-20">
      <h2 style="line-height: 17px">FICHIERS</h2>
      <ul class="actions">
        <li x-ng-hide="selectedDocuments.length == 0">
          <a href="" title="share" ls-share-modal>
            <i class="zmdi zmdi-share"></i>
          </a>
        </li>
        <li x-ng-hide="selectedDocuments.length == 0">
          <a href="" title="delete" x-ng-click="deleteSelected()">
            <i class="zmdi zmdi-delete"></i>
          </a>
        </li>
        <li x-ng-init="multipleSelection = false" x-ng-class="{'open': multipleSelection === true}">
          <a href="" title="multiple select" x-ng-click="multipleSelection = !multipleSelection">
            <i class="zmdi zmdi-check-all"></i>
          </a>
        </li>
        <!--TODO-Q: Is data-model-right useful?-->
        <li class="hidden-xs" data-target="chat" data-toggle-sidebar 
            data-model-right="mainVm.sidebar.visible"
            x-ng-class="{'open': mainVm.sidebar.isVisible()}">
          <a href="" title="info">
            <i class="zmdi zmdi-info"></i>
          </a>
        </li>
        <!--<detail-documents class=""></detail-documents> -->
        <li x-ng-hide="selectedDocuments.length == 0" class="dropdown">
          <a href="" title="more actions" data-toggle="dropdown">
            <i class="zmdi zmdi-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="" title="delete" alt="delete" x-ng-click="reload()">Refresh</a>
            </li>
            <li>
              <a href="" x-ng-click="">Copier dans un groupe</a>
            </li>
            <li>
              <a href="" x-ng-click="">Partager</a>
            </li>
            <li>
              <a href="" x-ng-click="">Supprimer</a>
            </li>
            <li>
              <a href="" x-ng-click="">Télécharger</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
