<div class="modal-header">
  <h3 class="modal-title">
    Partage
  </h3>
</div>
<form class="form" name="mimePolicyForm" role="form" novalidate
      x-ng-submit="submitShare()">
  <fieldset>
    <div class="modal-body">
      <!-- Name -->
      <div class="form-group"
           x-ng-class="{'has-error': mimePolicyForm.name.$invalid &&
            (mimePolicyForm.name.$dirty || ls.mimePolicyForm.attempted)}">
        <label for="name">
          Recipients
        </label>
        <input id="name" name="name" type="text" class="form-control"
               required
               x-ng-model="shareMail"/><i class="zmdi zmdi-plus-circle" x-ng-click="addRecipients(shareMail)"></i>
      </div>
    </div>
    <ul x-ng-repeat="recipient in share.recipients">
      <li>{{recipient.mail}}</li>
    </ul>
    <div class="modal-footer">
      <button type="button" class="btn btn-default"
              x-ng-click="cancel()">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary"
              x-ng-disabled="false">
        share
      </button>
    </div>
  </fieldset>
</form>
