<div class="container upload-files">

  <!--  ACTIONS ON DOCUMENTS  -->

  <div class="card setWidth" id="collapsible-content">
    <div class="card-header noPadding">
      <div id="breadcrumb-wrap">
        <div class="breadcrumbsCtn hidden-xs">
          <a href="#" class="breadcrumb"><i class="zmdi zmdi-file"></i>
            {{'TRANSFERS_DROPDOWN.SHARE_NUMBER' | translate}} {{shareIndex}}
          </a>
        </div>
        <div class="breadcrumbsCtn text-center">
          <i class="breadcrumb" ng-show="shareToDisplay.waitingUploadIdentifiers.length > 0">
            {{"HEADER.SHARING_PROGRESS.SHARE_IN_PROGRESS" | translate}}
          </i>
          <i class="breadcrumb" ng-show="shareToDisplay.waitingUploadIdentifiers.length === 0">
            {{"HEADER.SHARING_PROGRESS.SHARE_DONE" | translate }}
          </i>
        </div>
        <section class="row multi-select visible-xs">
          <div class="col-xs-2 ctn-mobile-select-count">
            <span class="numberOfiles">{{selectedDocuments.length}}</span>
            <span class="file-multi-select-label">{{'SELECTION_TOOLBAR.FILES' | translate}}</span>
          </div>
          <div id="toolbar-actions" class="col-xs-10 show-details-mobile-link">
            <span>
            <a ng-click="mactrl.sidebarToggle.right = true;">
              <i class="fa fa-eye"></i>
              <span>{{'SELECTED_FILES.SHOW_DETAILS' | translate}}</span>
            </a>
            </span>
          </div>
        </section>
      </div>
    </div>

    <!-- SELECTED DOCUMENTS LIST  -->
    <div class="card-body selected-files-list-items">
      <ul class="list-group actions" >
        <li class="list-group-item col-xs-12" data-ng-repeat="documentFile in shareToDisplay.documents">
          <span class="fa ls-1p5x m-r-10" ng-class="'{{documentFile.type | mimetypeIcone}}'" aria-hidden="true"></span>
          <span>{{documentFile.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<aside id="chat" data-ng-include src="'views/includes/sidebar-right.html'"
       data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" class="sidebar-right">
</aside>
