<div id="login-page">
  <div id="bg">
    <img src="images/bg-linshare-desktop.png" alt="" class="img-responsive">
  </div>
  <div>
    <language-selector/>
  </div>
  <div id="copyright-login">
    <img ng-src="{{ resetVm.lsAppConfig.applicationLogo.small }}" alt="">
    <p data-bind-html translate>LOGIN.COPYRIGHT</p>
  </div>
  <div class="quota login-libreNfreeCtn">
    <div class="libre-and-free">
      <img ng-src="{{ resetVm.lsAppConfig.communityLogo }}" alt="Logo LinShare">
      <p>{{ resetVm.lsAppConfig.communitySlogan }}</p>
    </div>
  </div>
  <div class="login-content" id="l-login">
    <div class="parent-login-form-alignment">
      <div class="logo-title">
        <img ng-src="{{::mainVm.applicationLogoLarge}}" alt="logo">
        <p>{{'LOGIN.TAGLINE' | translate}}</p>
      </div>
      <div x-ng-if="resetVm.reset.type === 'create'" ls-reset-form
           x-reset-type="create" x-reset-action="resetVm.reset.action(formData)" x-reset-data="resetVm.reset.data">
      </div>
      <div x-ng-if="resetVm.reset.type === 'update'" ls-reset-form
           x-reset-type="update" x-reset-action="resetVm.reset.action(formData)" x-reset-data="resetVm.reset.data">
      </div>
      <div x-ng-if="resetVm.reset.type === 'forgot'" ls-reset-form
           x-reset-type="forgot" x-reset-action="resetVm.reset.action(formData)" x-reset-data="resetVm.reset.data">
      </div>
      <div x-ng-if="resetVm.reset.type === 'reinitialize'" ls-reset-form
           x-reset-type="reinitialize" x-reset-action="resetVm.reset.action(formData)" x-reset-data="resetVm.reset.data">
      </div>
      <div x-ng-if="resetVm.reset.type === 'finalize'" ls-reset-form
           x-reset-type="finalize" x-reset-action="resetVm.reset.action(formData)" x-reset-data="resetVm.reset.data">
      </div>
    </div>
  </div>
</div>
