<div ui-view="" ng-class="{'right-sidebar-toggled': mainVm.sidebar.isVisible()}">
  <div class="container files upload-requests">
    <div class="card">
      <div class="card-header">
        <div id="breadcrumb-wrap">
          <div ng-if="uploadRequestGroupsVm.status !== 'archived'" class="menu-popover-ctn hidden-xs clickable waves-effect dropdown" uib-dropdown dropdown-append-to-body
            auto-close="always" tooltip-placement="bottom" tooltip-popup-delay="500" is-open="isOpenNew"
            ng-class="{'open':isOpenNew}">
            <a class="add-menu-group" uib-dropdown-toggle>
              <i class="zmdi zmdi-plus"></i>
            </a>

            <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-left dm-icon dropdown-divided" uib-dropdown-menu=""
              ng-class="{'open':isOpenNew}">
              <li role="menuitem">
                <a ng-click="uploadRequestGroupsVm.loadSidebarContent(uploadRequestGroupsVm.uploadRequestGroupCreate, true)">
                  <i class="ls-upload-request-alt"></i>
                  <span translate>UPLOAD_REQUESTS.CREATION_TYPE.COLLECTIVE</span>
                </a>
              </li>

              <li role="menuitem">
                <a ng-click="uploadRequestGroupsVm.loadSidebarContent(uploadRequestGroupsVm.uploadRequestGroupCreate, false)">
                  <i class="ls-upload-request-2"></i>
                  <span translate>UPLOAD_REQUESTS.CREATION_TYPE.INDIVIDUAL</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="breadcrumbs-ctn hidden-xs">
            <a class="click-disabled">
              <i class="zmdi zmdi-pin-account"></i>
              <span translate>UPLOAD_REQUESTS.TITLE</span>
            </a>
            <a href="javascript:void(0)">
              <span ng-switch="uploadRequestGroupsVm.status"> |
                <span ng-switch-when="pending" translate> UPLOAD_REQUESTS.MENU_ENTRIES.PENDING</span>
                <span ng-switch-when="activeClosed" translate> UPLOAD_REQUESTS.MENU_ENTRIES.ACTIVE_CLOSED</span>
                <span ng-switch-when="archived" translate> UPLOAD_REQUESTS.MENU_ENTRIES.ARCHIVES</span>
              </span>
            </a>
          </div>

          <div id="action-header">
            <div class="fg-line toolbar-actions-items">
              <span ng-click="showCheckboxes = !showCheckboxes" class="visible-xs toolbar-mobile-item col-xs-3">
                <a class="select-all-items plain-txt-btn">
                  <i class="ls-multi-select" ng-class="{'active-link': showCheckboxes}"
                    ng-click="uploadRequestGroupsVm.resetSelectedUploadRequests()"></i>
                </a>
              </span>

              <div class="sort-dropdown col-xs-3 toolbar-mobile-item">
                <div class="dropdown dropdown-standard  toolbar-mobile-item" uib-dropdown="" dropdown-append-to-body
                  is-open="isOpenOrder" ng-class="{'open':isOpenOrder}">
                  <div class="actions">
                    <a uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul
                      class="uib-dropdown-menu dropdown-menu dropdown-menu-right labeled-dropdown sort-dropdown stop-propagate"
                      ng-class="{'open':isOpenOrder}" uib-dropdown-menu="">
                      <li role="menuitem">
                        <a href="" class="center">
                          <span translate>SELECTION_TOOLBAR.ORDER_BY</span>
                        </a>
                      </li>
                      <li class="divided"></li>

                      <!-- SORT OPTIONS -->

                      <li role="menuitem">
                        <a href="" class="ng-binding selected-sorting"
                          ng-click="uploadRequestGroupsVm.sortDropdownSetActive('label', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.LABEL</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" ng-click="uploadRequestGroupsVm.sortDropdownSetActive('fileCount', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.FILES</span>
                        </a>
                      </li>
                      <li role="menuitem"> <a href=""
                          ng-click="uploadRequestGroupsVm.sortDropdownSetActive('status', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.STATUS</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" ng-click="uploadRequestGroupsVm.sortDropdownSetActive('collective', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.TYPE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" ng-click="uploadRequestGroupsVm.sortDropdownSetActive('activationDate', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.ACTIVATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" ng-click="uploadRequestGroupsVm.sortDropdownSetActive('expiryDate', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.EXPIRATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" ng-click="uploadRequestGroupsVm.sortDropdownSetActive('creationDate', $event)">
                          <span class="caret-area">
                            <i ng-class="uploadRequestGroupsVm.tableParamsService.getToggleSelectedSort() ?
                                          'zmdi-caret-down' :
                                          'zmdi-caret-up'" class="zmdi"></i>
                          </span>
                          <span translate>UPLOAD_REQUESTS.TABLE.HEADERS.CREATION_DATE</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
                <i class="fa fa-th-large" aria-hidden="true"></i>
              </a>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs" ng-click="uploadRequestGroupsVm.toggleSearchState()">
                <a href="">
                  <i class="tm-icon zmdi zmdi-search" ng-class="{'active-link': uploadRequestGroupsVm.searchMobileDropdown}"></i>
                </a>
              </div>
            </div>

            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input type="text" class="form-control" autocomplete="off"
                      ng-model="uploadRequestGroupsVm.paramFilter.label"
                      translate-attr="{placeholder: 'UPLOAD_REQUESTS.TABLE.SEARCH_BY_LABEL'}">
                  </div>
                </div>
              </div>
            </div>

            <div class="pull-right hidden-xs toggle-view-dropdown" ng-if="uploadRequestGroupsVm.status === 'activeClosed'"
              ng-init="uploadRequestGroupsVm.currentFilter = 'UPLOAD_REQUESTS.TABLE.FILTER_BY.ALL'">
              <span class="filter-views ng-binding pull-left">
                <span translate>FILTER_COMPONENT.FILTER_BY</span>:
              </span>
              <div class="dropdown-filters pull-left">
                <span class="dropdown link-dropdown" ng-class="{'open': isOpenType}" uib-dropdown
                  dropdown-append-to-body auto-close="outsideClick" is-open="isOpenType">
                  <a class="plain-txt-btn partage-link" href="javascript:void(0)" uib-dropdown-toggle
                    translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}">
                    <span translate>{{uploadRequestGroupsVm.currentFilter}}</span>
                    <div><b></b></div>
                  </a>
                  <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right dm-icon double-drop toggle-views"
                    ng-class="{'open': isOpenType}">
                    <div class="list-menu">
                      <p><span translate>FILTER_COMPONENT.FILTER_BY</span></p>
                      <ul class="dropdown-menu dm-icon filter-menu dropdown-menu-right">
                        <li>
                          <a ng-class="{'active-check': uploadRequestGroupsVm.currentFilter === 'UPLOAD_REQUESTS.TABLE.FILTER_BY.ALL'}"
                            ng-click="uploadRequestGroupsVm.currentFilter = 'UPLOAD_REQUESTS.TABLE.FILTER_BY.ALL';
                                         uploadRequestGroupsVm.paramFilter.status = '';
                                         mainVm.sidebar.hide()">
                            <span translate>UPLOAD_REQUESTS.TABLE.FILTER_BY.ALL</span>
                          </a>
                        </li>
                        <li>
                          <a ng-class="{'active-check': uploadRequestGroupsVm.currentFilter === 'UPLOAD_REQUESTS.STATUS.ACTIVE'}"
                            ng-click="uploadRequestGroupsVm.currentFilter = 'UPLOAD_REQUESTS.STATUS.ACTIVE';
                                         uploadRequestGroupsVm.paramFilter.status = 'ENABLED';
                                         mainVm.sidebar.hide()">
                            <span translate>UPLOAD_REQUESTS.STATUS.ACTIVE</span>
                          </a>
                        </li>
                        <li>
                          <a ng-class="{'active-check': uploadRequestGroupsVm.currentFilter === 'UPLOAD_REQUESTS.STATUS.EXPIRED_CLOSED'}"
                            ng-click="uploadRequestGroupsVm.currentFilter = 'UPLOAD_REQUESTS.STATUS.EXPIRED_CLOSED';
                                         uploadRequestGroupsVm.paramFilter.status = 'CLOSED';
                                         mainVm.sidebar.hide()">
                            <span translate>UPLOAD_REQUESTS.STATUS.EXPIRED_CLOSED</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="drop-area">
        <div id="top-search-wrap">
          <i id="top-search-close" data-ng-click="uploadRequestGroupsVm.toggleSearchState()">&times;</i>
          <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid" translate-attr="{placeholder: 'UPLOAD_REQUESTS.TABLE.SEARCH_BY_LABEL'}"
            ng-model="uploadRequestGroupsVm.paramFilter.label" aria-invalid="false">
        </div>
        <!-- BACKGROUND CONTENT -->

        <div class="drag-and-drop-ctn reset-content-width collapsible-content drag-n-drop-height"
          ng-class="{'show-bg-drop' : uploadRequestGroupsVm.itemsList.length === 0}">
          <div class="drag-and-drop-content">
            <div class="drag-icon-ctn ">
              <div class="bordered-circle">&nbsp;</div>
              <span class="grey-clr bg-info-icon">
                <span class="ls-upload-request"></span>
              </span>
            </div>
            <div class="dnd-txt-content">
              <h1 translate>UPLOAD_REQUESTS.TABLE.BACKGROUND_CONTENT.TITLE</h1>
              <p translate>UPLOAD_REQUESTS.TABLE.BACKGROUND_CONTENT.MESSAGE</p>
            </div>
          </div>
        </div>

        <div class="card-body collapsible-content">
          <div class="table-responsive">
            <table id="file-list-table" class="table table-vmiddle fixed-activity-table-height"
              ng-table="uploadRequestGroupsVm.tableParams" show-filter="true">
              <tr check-table-height ls-item-selection ng-repeat="uploadRequest in $data"
                data-selected-documents="uploadRequestGroupsVm.selectedUploadRequests"
                data-document-file="uploadRequest"
                data-current-selected-Document="uploadRequestGroupsVm.currentSelectedDocument"
                data-right-sidebar-open="mainVm.sidebar.isVisible()"
                ng-class="{
                  'highlight-list-elem': uploadRequest.isSelected,
                  'current-vis': uploadRequestGroupsVm.currentSelectedDocument.current.uuid === uploadRequest.uuid
                }"
                ng-dblclick="uploadRequestGroupsVm.openUploadRequestGroup(uploadRequest)"
                class="p-b-5 double-row item-container">
                <td data-header="'checkboxheader.html'" class="set-content-left thumb-type-item thumb-groups-preview-ls"
                  header-class="'col-2 checkbox-col'">
                  <a ng-click="showCheckboxes ? uploadRequestGroupsVm.addSelectedUploadRequest(uploadRequest) : null"
                    class="visible-xs">
                    <div ng-class="{ 'invisible' : showCheckboxes}">
                      <i class="m-r-10"
                        ng-class="uploadRequest.collective ? 'ls-upload-request-alt' : 'ls-upload-request-2'"></i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                      ng-class="{'maintain-vis': uploadRequest.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>

                  <a ng-click="uploadRequestGroupsVm.addSelectedUploadRequest(uploadRequest)" class="hidden-xs">
                    <div ng-class="{ 'invisible' : showCheckboxes}">
                      <i class="m-r-10"
                        ng-class="uploadRequest.collective ? 'ls-upload-request-alt' : 'ls-upload-request-2'"></i>
                    </div>
                    <div class="checkbox-ctn-thumb"
                      ng-class="{'maintain-vis': uploadRequest.isSelected , 'hidden-xs' : !showCheckboxes}">
                    </div>
                  </a>
                </td>

                <td data-title="::'UPLOAD_REQUESTS.TABLE.HEADERS.LABEL' | translate" class="row show-li-actions col-3"
                  data-sortable="'label'" uuid={{::uploadRequest.uuid}} header-class="'col-3 flexible-table-col'">
                  <div class="ctn-name-actions">
                    <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                      <span
                        class="file-name-disp single-line click-enabled"
                        ng-click="uploadRequestGroupsVm.openUploadRequestGroup(uploadRequest)"
                      >
                        {{::uploadRequest.label}}
                      </span>
                      <div class="upload-request-status" ng-if="uploadRequestGroupsVm.status === 'activeClosed'">
                        <i class="zmdi zmdi-circle" ng-class="{ 'closed': uploadRequest.status === 'CLOSED'}"></i>
                        <small translate
                          ng-if="uploadRequest.status === 'ENABLED'">UPLOAD_REQUESTS.STATUS.ACTIVE</small>
                        <small translate
                          ng-if="uploadRequest.status === 'CLOSED'">UPLOAD_REQUESTS.STATUS.EXPIRED_CLOSED</small>
                      </div>

                    </span>

                    <span class="col-xs-2 col-sm-5 col-md-4 actions-list-ctn pull-right">
                      <ul class="actions pull-right" ng-class="{'open-r': (mainVm.sidebar.isVisible())}">
                        <li ng-click="uploadRequestGroupsVm.showDetails(uploadRequest)">
                          <a class="set-col-12" translate-attr="{title: 'ACTION.INFORMATION'}" href="">
                            <i class="zmdi zmdi-info"></i>
                          </a>
                        </li>
                        <li ng-if="['ENABLED', 'CREATED'].includes(uploadRequest.status)">
                          <a translate-attr="{title: 'UPLOAD_REQUESTS.TABLE.OPTIONS.ADD_RECIPIENTS'}" href="">
                            <i class="ls-add-user-sm"></i>
                          </a>
                        </li>
                        <li ng-if="['ENABLED', 'CLOSED'].includes(uploadRequest.status)">
                          <a translate-attr="{title: 'ACTION.DOWNLOAD'}" event-propagation-stop>
                            <i class="zmdi zmdi-download"></i>
                          </a>
                        </li>
                        <li ng-if="uploadRequest.status === 'CLOSED'">
                          <a translate-attr="{title: 'UPLOAD_REQUESTS.TABLE.OPTIONS.ARCHIVE'}" href="">
                            <i class="zmdi zmdi-archive"></i>
                          </a>
                        </li>
                        <li ng-if="uploadRequest.status === 'ARCHIVED'">
                          <a translate-attr="{title: 'ACTION.DELETE'}" href="">
                            <i class="zmdi zmdi-delete"></i>
                          </a>
                        </li>

                        <!-- DROPDOWN-OPTIONS -->

                        <li check-dropdown-position uib-dropdown dropdown-append-to-body
                          class="dropdown set-col-6 no-padding" auto-close="always" is-open="isOpenItem"
                          ng-class="{'open':isOpenItem}">
                          <a class="set-col-12" translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                            uib-dropdown-toggle event-propagation-stop href="">
                            <i class="zmdi zmdi-more"></i>
                          </a>
                          <ul uib-dropdown-menu ng-class="{'open':isOpenItem}" class="uib-dropdown-menu dropdown-menu-right dm-icon
                                  dropdown-divided dropdown-content-left">
                            <li ng-click="uploadRequestGroupsVm.showDetails(uploadRequest)">
                              <a href="">
                                <i class="zmdi zmdi-info"></i>
                                <span translate>ACTION.INFORMATION</span>
                              </a>
                            </li>
                            <li ng-class="{ 'disable-link' : !['ENABLED', 'CREATED'].includes(uploadRequest.status) }">
                              <a href="">
                                <i class="zmdi ls-add-user-sm"></i>
                                <span translate>UPLOAD_REQUESTS.TABLE.OPTIONS.ADD_RECIPIENTS</span>
                              </a>
                            </li>
                            <li ng-class="{ 'disable-link' : !['ENABLED', 'CLOSED'].includes(uploadRequest.status) }">
                              <a href="">
                                <i class="zmdi zmdi-download"></i>
                                <span translate>ACTION.DOWNLOAD</span>
                              </a>
                            </li>
                            <li ng-class="{ 'disable-link' : !['ENABLED', 'CREATED'].includes(uploadRequest.status) }">
                              <a href="">
                                <i class="zmdi zmdi-edit"></i>
                                <span translate>EDIT</span>
                              </a>
                            </li>
                            <li ng-class="{ 'disable-link' : !['ENABLED', 'CREATED'].includes(uploadRequest.status) }">
                              <a href="">
                                <i class="zmdi zmdi-edit"></i>
                                <span translate>UPLOAD_REQUESTS.TABLE.OPTIONS.GLOBAL_EDIT</span>
                              </a>
                            </li>
                            <li class="divider"></li>
                            <li ng-if="uploadRequest.status === 'ENABLED'"
                              ng-class="{ 'disable-link': uploadRequest.status === 'CLOSED' }">
                              <a href="" ng-click="uploadRequestGroupsVm.closeUploadRequestGroups([uploadRequest])">
                                <i class="zmdi zmdi-close-circle"></i>
                                <span translate>UPLOAD_REQUESTS.TABLE.OPTIONS.CLOSE</span>
                              </a>
                            </li>
                            <li ng-if="uploadRequest.status === 'CREATED'">
                              <a href="" ng-click="uploadRequestGroupsVm.cancelUploadRequestGroups([uploadRequest])">
                                <i class="zmdi zmdi-close-circle"></i>
                                <span translate>NAVIGATION.CANCEL</span>
                              </a>
                            </li>
                            <li ng-if="uploadRequest.status === 'ARCHIVED'">
                              <a href="">
                                <i class="zmdi zmdi-delete"></i>
                                <span translate>ACTION.DELETE</span>
                              </a>
                            </li>
                            <li ng-class="{ 'disable-link' : uploadRequest.status !== 'CLOSED' }">
                              <a href="">
                                <i class="zmdi zmdi-archive"></i>
                                <span translate>UPLOAD_REQUESTS.TABLE.OPTIONS.ARCHIVE</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </span>
                  </div>
                </td>

                <td class="hidden-xs" ng-if="!mainVm.sidebar.isVisible()"
                  data-title="::'UPLOAD_REQUESTS.TABLE.HEADERS.ACTIVATION_DATE' | translate"
                  data-sortable="'activationDate'" header-class="'col-4'">
                  {{uploadRequest.activationDate | lsDate: 'mediumDate'}}
                </td>

                <td class="hidden-xs" ng-if="!mainVm.sidebar.isVisible() && uploadRequestGroupsVm.status !== 'archived'"
                  data-title="::'UPLOAD_REQUESTS.TABLE.HEADERS.EXPIRATION_DATE' | translate"
                  data-sortable="'modificationDate'" header-class="'col-4'">
                  {{uploadRequest.expiryDate | lsDate: 'mediumDate'}}
                </td>

                <td class="hidden-xs" ng-if="!mainVm.sidebar.isVisible() && uploadRequestGroupsVm.status === 'archived'"
                  data-title="::'UPLOAD_REQUESTS.TABLE.HEADERS.ARCHIVE_DATE' | translate"
                  data-sortable="'modificationDate'" header-class="'col-4'">
                  {{uploadRequest.modificationDate | lsDate: 'mediumDate'}}
                </td>

                <td class="hidden-xs" ng-if="!mainVm.sidebar.isVisible() && uploadRequestGroupsVm.status !== 'pending'"
                  data-title="::'UPLOAD_REQUESTS.TABLE.HEADERS.FILES' | translate" data-sortable="'fileCount'"
                  header-class="'col-4'">
                  {{ uploadRequest.fileCount || 'N/A' }}
                </td>
              </tr>
            </table>
          </div>
        </div>

        <!-- SELECTION HEADER -->

        <div id="selection-actions" class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar"
          ng-class="{'show-multi-menu': uploadRequestGroupsVm.selectedUploadRequests.length > 0}">
          <div class="toggle-checkbox-toolbar"
            ng-click="uploadRequestGroupsVm.selectUploadRequestsOnCurrentPage(uploadRequestGroupsVm.tableParams.data, uploadRequestGroupsVm.tableParams.page())">
            <a ng-if="!uploadRequestGroupsVm.flagsOnSelectedPages[uploadRequestGroupsVm.tableParams.page()]"
              class="select-all-items plain-text-button ng-scope">
              <i class="fa ls-check-o checkbox-table"></i>
            </a>
            <a ng-if="uploadRequestGroupsVm.flagsOnSelectedPages[uploadRequestGroupsVm.tableParams.page()]"
              class="select-all-items plain-text-button ng-scope">
              <i class="ls-check-checked"></i>
            </a>
          </div>
          <div class="exit-selection actions" ng-click="uploadRequestGroupsVm.resetSelectedUploadRequests()"
            translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}">
            <a>
              <i class="zmdi zmdi-close"></i>
            </a>
          </div>
          <div class="display-num-selected-items" translate-attr="{title: 'SELECTION_TOOLBAR.SHOW_SELECTION'}">
            <div class="pull-left"
              ng-class="{'active-button-show-selection': uploadRequestGroupsVm.tableParamsService.getSelectionIsIsolated()}"
              ng-click="uploadRequestGroupsVm.toggleFilterBySelectedFiles()">
              <p>
                <span>{{uploadRequestGroupsVm.selectedUploadRequests.length}}</span>
                <span translate>SELECTION_TOOLBAR.SELECTED_ELEMENTS</span>
              </p>
              <div class="pull-left view-icons-ctn groups-view">
                <i class="fa fa-eye-slash" aria-hidden="true"
                  ng-show="uploadRequestGroupsVm.tableParamsService.getSelectionIsIsolated()"></i>
                <i class="fa fa-eye" aria-hidden="true"
                  ng-show="!uploadRequestGroupsVm.tableParamsService.getSelectionIsIsolated()"></i>
              </div>
            </div>
            <div class="pull-left view-icons-ctn reset-icon" ng-click="uploadRequestGroupsVm.resetSelectedUploadRequests()">
              <i class="fa fa-undo" translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"></i>
            </div>
          </div>
          <div id="toolbar-actions" class="hidden-xs">
            <span ng-if="uploadRequestGroupsVm.status === 'pending'">
              <a class="plain-text-button share-link" translate-attr="{title: 'NAVIGATION.CANCEL'}"
                ng-click="uploadRequestGroupsVm.cancelUploadRequestGroups(uploadRequestGroupsVm.selectedUploadRequests)">
                <i class="zmdi zmdi-close-circle"></i>
                <span translate>NAVIGATION.CANCEL</span>
              </a>
            </span>

            <span ng-if="uploadRequestGroupsVm.status === 'activeClosed'"
              ng-class="{ 'disable-link': !uploadRequestGroupsVm.canCloseSelectedUploadRequests()}"
              ng-click="uploadRequestGroupsVm.closeUploadRequestGroups(uploadRequestGroupsVm.selectedUploadRequests)"
            >
              <a
                class="plain-text-button share-link"
                translate-attr="{title: 'UPLOAD_REQUESTS.TABLE.OPTIONS.CLOSE'}"
              >
                <i class="zmdi zmdi-close-circle"></i>
                <span translate>UPLOAD_REQUESTS.TABLE.OPTIONS.CLOSE</span>
              </a>
            </span>

            <span ng-if="uploadRequestGroupsVm.status === 'archived'">
              <a class="plain-text-button share-link" translate-attr="{title: 'ACTION.DELETE'}">
                <i class="zmdi zmdi-delete"></i>
                <span translate>ACTION.DELETE</span>
              </a>
            </span>
          </div>
        </div>

        <div id="fabButtonCtn" fab-button fab-button-actions="uploadRequestGroupsVm.fabButton.actions"
          fab-button-toolbar="uploadRequestGroupsVm.fabButton.toolbar"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="checkboxheader.html">
  <span ng-click="uploadRequestGroupsVm.selectUploadRequestsOnCurrentPage(tableParams.data, tableParams.page())"
        role="button" tabindex="0" class="display-block center">
    <a ng-if="!uploadRequestGroupsVm.flagsOnSelectedPages[uploadRequestGroupsVm.tableParams.page()]"
       class="select-all-items plain-text-button checkboxCtn">
      <i class="ls-check-o checkbox-table"></i>
    </a>
    <a ng-if="uploadRequestGroupsVm.flagsOnSelectedPages[uploadRequestGroupsVm.tableParams.page()]"
       class="select-all-items plain-text-button">
      <i class="ls-check-checked"></i>
    </a>
    </span>
</script>