<div
  drag-and-drop drag-and-drop-flow="$flow"
  drag-and-drop-submitted="flowUploadService.uploadFiles(files, mySpacePage)"
  drag-and-drop-enabled="true"
  drag-and-drop-success="addUploadedDocument(file)">
  <div class="container files">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card">
      <div data-ng-include src="'modules/linshare.document/views/documentsList-cardHeader.html'"></div>
      <div data-ng-include src="'modules/linshare.document/views/documentsList-dropArea.html'"></div>
    </div>
  </div>
  <div
    id="fabButtonCtn"
    fab-button fab-button-actions="fabButton.actions"
    fab-button-flow="$flow"
    fab-button-toolbar="fabButton.toolbar">
  </div>
</div>
<section class="row multi-select-mobile visible-xs" data-ng-class="{'showMobileMultiMenu': selectedDocuments.length > 0}"
  data-ng-show="currentPage === 'my_files'">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{selectedDocuments.length}}</span>
    <span class="file-multi-select-label" translate>SELECTION_TOOLBAR.FILES</span>
  </div>
  <div class="col-xs-8">
    <div data-ng-click="selectDocumentsOnCurrentPage(tableParams.data,tableParams.page())" class="visible-xs toolbar-mobile-item col-xs-3">
      <i
        class="ls-check-checked select-all-items p-r-10"
        data-ng-if="!flagsOnSelectedPages[tableParams.page()]"></i>
      <i
        class="ls-check-o select-all-items p-r-10"
        data-ng-if="flagsOnSelectedPages[tableParams.page()]"></i>
    </div>
    <i
      class="zmdi zmdi-share col-xs-2"
      data-ng-click="onShare()"></i>
    <i
      class="zmdi zmdi-delete col-xs-2"
      data-ng-click="deleteDocuments(selectedDocuments)"></i>
    <i
      class="zmdi zmdi-border-color col-xs-2"
      data-ng-class="{'disabled': selectedDocuments.length > 1}"
      data-ng-click="documentUtilsService.rename(selectedDocuments[0], 'td[uuid='+selectedDocuments[0].uuid+'] .file-name-disp')"></i>
    <span
      class="dropdown col-xs-2 no-padding"
      data-ng-class="{'open':isOpenItem}"
      uib-dropdown
      dropdown-append-to-body
      auto-close="always"
      is-open="isOpenItem"
    >
      <i class="zmdi zmdi-more"
         uib-dropdown-toggle
         event-propagation-stop
      >
      </i>
      <ul
        class="uib-dropdown-menu
        dropdown-menu-right
        dm-icon dropdown-divided
        dropdown-other-actions"
        data-ng-class="{'open':isOpenItem}"
        uib-dropdown-menu=""
      >
        <li
          class="zmdi zmdi-download col-xs-12"
          data-ng-click="multiDownload()"
        >
          <span translate>ACTION.DOWNLOAD</span>
        </li>
        <li class="zmdi zmdi-copy col-xs-12">
          <span translate>ACTION.COPY</span>
        </li>
      </ul>
    </span>
  </div>
  <div class="col-xs-2 pull-right">
    <i class="zmdi zmdi zmdi-close" data-ng-click="resetSelectedDocuments()"></i>
  </div>
</section>