<div id="drop-area">
  <div id="top-search-wrap">
    <i id="top-search-close" x-ng-click="toggleSearchState()">&times;</i>
    <input type="text" id="searchInMobileFiles" class="form-control ng-pristine ng-untouched ng-valid"
           placeholder="Nom de fichier" x-ng-change="updateParams()" x-ng-model="paramFilter['name']"
           aria-invalid="false">
  </div>
  <div id="selection-actions" class="default-multi-toolbar-state multi-btns collapsible-actions-toolbar"
       x-ng-class="{'show-multi-menu': selectedDocuments.length > 0}">
    <div class="toggle-checkbox-toolbar" x-ng-click="selectDocumentsOnCurrentPage(tableParams.data,tableParams.page())">
      <a x-ng-if="!flagsOnSelectedPages[tableParams.page()]" class="select-all-items plain-text-button ng-scope">
        <i class="fa ls-check-o checkbox-table"></i>
      </a>
      <a x-ng-if="flagsOnSelectedPages[tableParams.page()]" class="select-all-items plain-text-button ng-scope">
        <i class="ls-check-checked"></i>
      </a>
    </div>
    <div class="exit-selection actions" x-ng-click="resetSelectedDocuments()"
         title="{{'SELECTION_TOOLBAR.RESET' | translate}}">
      <a><i class="zmdi zmdi-close"></i></a>
    </div>
    <div class="display-num-selected-items" title="{{'SELECTION_TOOLBAR.SHOW_SELECTION' | translate}}">
      <div class="pull-left" data-ng-class="{'active-button-show-selection': tableParamsService.getSelectionIsIsolated()}"
           x-ng-click="toggleFilterBySelectedFiles()">
        <p><span>{{selectedDocuments.length}}</span> {{"SELECTION_TOOLBAR.SELECTED_ELEMENTS" | translate}}</p>
        <div class="pull-left view-icons-ctn groups-view">
          <i class="fa fa-eye-slash" aria-hidden="true" data-ng-show="tableParamsService.getSelectionIsIsolated()"></i>
          <i class="fa fa-eye" aria-hidden="true" data-ng-show="!tableParamsService.getSelectionIsIsolated()"></i>
        </div>
      </div>
      <div class="pull-left view-icons-ctn reset-icon" x-ng-click="resetSelectedDocuments()">
        <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
      </div>
    </div>
    <div id="toolbar-actions" class="hidden-xs">
      <span>
        <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
           data-ng-click="onShare()">
          <i class="zmdi zmdi-share"></i><span translate>SELECTION_TOOLBAR.SHARE</span>
        </a>
      </span>
      <span>
        <a class="plain-text-button share-link" title="{{'SELECTION_TOOLBAR.DELETE' | translate}}"
           data-ng-click="deleteDocuments(selectedDocuments)">
          <i class="zmdi zmdi-delete"></i><span translate>SELECTION_TOOLBAR.DELETE</span>
        </a>
      </span>
      <span data-ng-class="{'hide': selectedDocuments.length > 1}" data-ng-click="downloadFile(selectedDocuments[0])">
        <a class="plain-text-button" title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}">
          <i class="zmdi zmdi-download"></i><span translate>DOWNLOAD</span>
        </a>
      </span>
      <span data-ng-class="{'hide': selectedDocuments.length <= 1}">
        <a class="plain-text-button" title="{{'BOUTON_LABEL_TITLE.DOWNLOAD' | translate}}"
           data-ng-click="multiDownload()">
          <i class="zmdi zmdi-download"></i><span translate>DOWNLOAD</span>
        </a>
      </span>
      <span class="dropdown link-dropdown" uib-dropdown="">
        <a class="plain-text-button share-link"
           uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}">
          <i class="zmdi zmdi-more-vert"></i><span translate>BOUTON_LABEL_TITLE.MORE_ACTIONS</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
          <li class="hidden-xs">
            <a href="" data-ng-click="copyDocuments(selectedDocuments)">
             <i class="zmdi zmdi-copy" title="{{'ACTION.DUPLICATE' | translate}}"></i>
             <span translate>ACTION.DUPLICATE</span>
            </a>
          </li>
          <li class="hidden-xs">
            <a href="" data-ng-click="openBrowser(selectedDocuments)">
             <i class="zmdi groups-home-workgroup" title="{{'ACTION.COPY_IN_WORKGROUP' | translate}}"></i>
             <span translate>ACTION.COPY_IN_WORKGROUP</span>
            </a>
          </li>
          <li class="hidden-xs">
            <a href="" data-ng-class="{'disable-link': selectedDocuments.length > 1}"
               data-ng-click="showCurrentFile(selectedDocuments[0],$event, true)">
             <i class="zmdi zmdi-info" title="{{'ACTION.RENAME' | translate}}"></i>
             <span translate>ACTION.INFORMATION</span>
            </a>
          </li>
          <li class="hidden-xs">
            <a href="" data-ng-class="{'disable-link': selectedDocuments.length > 1}"
               data-ng-click="documentUtilsService.rename(selectedDocuments[0], 'td[uuid='+selectedDocuments[0].uuid+'] .file-name-disp')">
             <i class="zmdi zmdi-border-color" title="{{'ACTION.RENAME' | translate}}"></i>
             <span translate>ACTION.RENAME</span>
            </a>
          </li>
        </ul>
      </span>
    </div>
  </div>
  <div class="drag-and-drop-ctn collapsible-content reset-content-width drag-n-drop-height" check-table-height
       data-ng-class="{'show-bg-drop' : documentsList.length === 0}">
    <div class="drag-and-drop-content">
      <div class="drag-icon-ctn ">
        <div class="bordered-circle">&nbsp;</div>
        <span class="grey-clr bg-info-icon">
          <span class="groups-upload-file"></span>
        </span>
      </div>
      <div class="dnd-txt-content">
          <h1 translate class="hidden-xs">DRAG_DROP_BACKGROUND.TITLE</h1>
          <p translate class="hidden-xs">DRAG_DROP_BACKGROUND.COMMENT</p>
          <h1 translate class="visible-xs">DRAG_DROP_BACKGROUND_MOBILE_MY_FILES.TITLE</h1>
          <p translate class="visible-xs">DRAG_DROP_BACKGROUND_MOBILE_MY_FILES.COMMENT</p>
      </div>
    </div>
  </div>
  <!-- TODO: does not work, please repair it : it needs to select all the guest list with appropriate feedback  -->
  <script type="text/ng-template" id="checkboxheader.html">
    <span x-ng-click="selectDocumentsOnCurrentPage(tableParams.data, tableParams.page())"
          role="button" tabindex="0" style="display:block" class="center">
          <a x-ng-if="!flagsOnSelectedPages[tableParams.page()]" class="select-all-items plain-txt-btn x-ng-scope" >
            <i class="fa ls-check-o checkbox-table"></i>
          </a>
          <a x-ng-if="flagsOnSelectedPages[tableParams.page()]" class="select-all-items plain-txt-btn x-ng-scope">
            <i class="ls-check-checked"></i>
          </a>
          </span>
  </script>
  <!-- DOCUMENTS LIST  -->
  <div class="card-body collapsible-content">
    <div class="table-responsive">
      <ls-documents-table></ls-documents-table>
    </div>
  </div>
</div>
