<div
     flow-object="$flow"
     flow-files-submitted="flowUploadService.uploadFiles($files, mySpacePage)" flow-drop=""
     flow-drag-enter="dropClass='drag-over'"
     flow-file-success="addUploadedDocument($file)"
     flow-drag-leave="dropClass='fade-out-elm'"
     x-ng-class="{'right-sidebar-toggled': mainVm.sidebar.isVisible(), 'drag-over' : dropClass == 'drag-over',
          'fade-out-elm': dropClass == 'fade-out-elm' }"
     class="file-listing-ctn">
  <div id="drop-ctn" class="drop border-anim reset-content-width">
    <div>
      <div class="drag-and-drop-alert ">
        <p>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</p>
      </div>
    </div>
  </div>
  <div class="container files">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card">
      <div x-ng-include src="'modules/linshare.document/views/documentsList-cardHeader.html'"></div>
      <div x-ng-include src="'modules/linshare.document/views/documentsList-dropArea.html'"></div>
    </div>
  </div>
  <div x-ng-include src="'modules/linshare.document/views/documentsList-fab.html'"></div>
</div>
<section class="row multi-select-mobile visible-xs"
         x-ng-class="{'showMobileMultiMenu': (selectedDocuments.length > 0) && !mainVm.sidebar.isVisible()}"
         x-ng-show="currentPage == 'my_files'">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{selectedDocuments.length}}</span>
    <span class="file-multi-select-label">{{'SELECTION_TOOLBAR.FILES' | translate}}</span>
  </div>
  <div class="col-xs-8">
    <div x-ng-click="selectDocumentsOnCurrentPage(tableParams.data,tableParams.page())"
             class="visible-xs toolbar-mobile-item col-xs-3" >
      <i class="fa fa-check-square-o select-all-items p-r-10"
         x-ng-if="!flagsOnSelectedPages[tableParams.page()]">
      </i>
      <i class="fa fa-square-o select-all-items p-r-10"
         x-ng-if="flagsOnSelectedPages[tableParams.page()]">
      </i>
    </div>
    <i class="zmdi zmdi-share col-xs-2" x-ng-click="onShare()"></i>
    <i class="zmdi zmdi-delete col-xs-2" x-ng-click="deleteDocuments(selectedDocuments)"></i>
    <i class="zmdi zmdi-download col-xs-2 disabled-work-in-progress"></i>
    <i class="zmdi zmdi-copy col-xs-2 disabled-work-in-progress"></i>
  </div>
  <div class="col-xs-2 pull-right">
    <i class="zmdi zmdi zmdi-close" x-ng-click="resetSelectedDocuments()"></i>
  </div>
</section>
