<div id="fabMyFiles">
  <md-fab-toolbar  md-open="fab.isOpen" count="fab.count"
                   md-direction="{{fab.selectedDirection}}" class="visible-xs">
    <md-fab-trigger class="align-with-text">
      <md-button aria-label="menu" class="md-fab md-primary" style="position: relative;" id="primary-fab-action">
        <md-icon><i class="zmdi zmdi-plus"></i></md-icon>
      </md-button>
    </md-fab-trigger>
    <md-toolbar style="padding:0">
      <p class="title-fab">{{'BOUTON_ADD_FILE_TITLE' | translate }}</p>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="label" class="md-icon-button" flow-btn>
          <a href="#/files/upload" ui-sref="documents.upload">
            <i class="zmdi zmdi-share"></i>
            <span>{{'ADD_FILES_DROPDOWN.UPLOAD_AND_SHARE' | translate}}</span>
          </a>
        </md-button>
        <md-button aria-label="comment" class="md-icon-button" flow-btn>
          <a href="#/files/list" ui-sref="documents.files">
            <i class="zmdi zmdi-file-plus"></i>
            <span>{{'ADD_FILES_DROPDOWN.UPLOAD_FILE' | translate}}</span>
          </a>
        </md-button>
        <md-button aria-label="comment" class="md-icon-button" flow-btn>
          <a href="#/files/list" ui-sref="documents.files" class="disabled-work-in-progress">
            <i class="zmdi zmdi-accounts-alt disabled-work-in-progress"></i>
            <span class="disabled-work-in-progress">{{'ADD_FILES_DROPDOWN.UPLOAD_IN_WORKGROUP' | translate }}</span>
          </a>
        </md-button>
      </md-fab-actions>
    </md-toolbar>
  </md-fab-toolbar>
</div>
