<div class="card-header">
  <script type="text/ng-template" id="popover-group.html">
    <div class="add-submenu-set clearfix">
      <a class="col-xs-6" flow-btn href="javascript:void(0)">
        <i class="zmdi zmdi-upload"></i>
        <p>{{"WORKGROUPS_LIST.UPLOAD_FILE" | translate}}</p>
      </a>
      <div flow-btn>
        <a class="col-xs-6" x-ng-href="{{$state.href('documents.upload', {from: mySpacePage})}}">
          <i class="groups-home-share"></i>
          <p>{{"ADD_FILES_DROPDOWN.UPLOAD_SHARE" | translate}}</p>
        </a>
      </div>
    </div>
  </script>
  <div id="breadcrumb-wrap">
    <div class="menu-popover-ctn hidden-xs clickable waves-effect">
      <a class="add-menu-group"
         tabindex="0"
         uib-popover-template="'popover-group.html'"
         popover-placement="bottom"
         popover-class="menu-popover-flyout-ctn"
         popover-append-to-body="true"
         popover-trigger="focus">
        <i class="zmdi zmdi-plus"></i>
      </a>
    </div>
    <div class="breadcrumbs-ctn hidden-xs">
      <a ui-sref="documents.files({fileUuid: undefined})">
        <i class="zmdi zmdi-file"></i>
        {{"BREADCRUMB_TITLE" | translate}}
      </a>
      <span class="sub-category-chevron pipe-separator" data-ng-if="tableParamsService.getSelectionIsIsolated()">|</span>
      <a class="click-disabled" data-ng-if="tableParamsService.getSelectionIsIsolated()">
        {{"BREADCRUMB_ISOLATE" | translate}}
      </a>
    </div>
    <div id="action-header">
      <div class="fg-line toolbar-actions-items">
         <!-- TODO: If the button id clicked for the second time (disabled) then the selected items should be deselected cf resetSelectedDocuments() -->
         <!-- TODO: DOES NOT WORK : the variable showcheckboxes should set the visibility of the checkboxes located within the first td elements
          cf checkboxheader - within the mobile view -->
        <!-- TODO: Remove $parent once the Document controller use ControllerAs instead of $scope -->
         <span x-ng-click="$parent.showCheckboxes = !$parent.showCheckboxes"
              class="visible-xs toolbar-mobile-item col-xs-3" >
               <a  class="select-all-items plain-txt-btn">
                 <i class="zmdi zmdi-check-square"
                    x-ng-class="{'active-link': showCheckboxes }"
                    x-ng-click="$parent.showCheckboxes && resetSelectedDocuments()"></i>
               </a>
         </span>
        <a class="list-view toolbar-mobile-item col-xs-3 disabled-work-in-progress">
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </a>
        <div class="sort-dropdown col-xs-3 toolbar-mobile-item">
          <div class="dropdown dropdown-standard  toolbar-mobile-item" uib-dropdown="" dropdown-append-to-body
               hover-dropdown-fix>
            <div class="actions">
              <a uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
              </a>
              <ul class="uib-dropdown-menu dropdown-menu dropdown-menu-right labeled-dropdown sort-dropdown stop-propagate"
                  uib-dropdown-menu="">
                <li role="menuitem">
                  <a href="" class="center">
                    {{'SELECTION_TOOLBAR.ORDER_BY' | translate}}
                  </a>
                </li>
                <li class="divided"></li>
                <li role="menuitem">
                  <a href="" class="ng-binding selected-sorting"
                     data-ng-click="sortDropdownSetActive('modificationDate', $event)">
                      <span class="caret-area">
                      <i data-ng-show="tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                      <i data-ng-show="!tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                      </span>
                    {{'FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE' | translate}}
                  </a>
                </li>
                <li role="menuitem">
                  <a href="" data-ng-click="sortDropdownSetActive('creationDate', $event)">
                          <span class="caret-area">
                          <i data-ng-show="tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                          <i data-ng-show="!tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                    {{'FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE' | translate}}
                  </a>
                </li>
                <li role="menuitem"> <a href="" data-ng-click="sortDropdownSetActive('size', $event)">
                          <span class="caret-area">
                          <i data-ng-show="tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                          <i data-ng-show="!tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                    {{'FILTER_COMPONENT.BY_SIZE' | translate}}
                  </a>
                </li>
                <li role="menuitem">
                  <a href="" data-ng-click="sortDropdownSetActive('name', $event)">
                          <span class="caret-area">
                          <i data-ng-show="tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                          <i data-ng-show="!tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                    {{'FILTER_COMPONENT.ORDER_BY_NAME' | translate}}
                  </a>
                </li>
                <li role="menuitem">
                  <a href="" data-ng-click="sortDropdownSetActive('shared', $event)">
                          <span class="caret-area">
                          <i data-ng-show="tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-down"></i>
                          <i data-ng-show="!tableParamsService.getToggleSelectedSort()" class="zmdi zmdi-caret-up"></i>
                          </span>
                    {{'FILTER_COMPONENT.IS_SHARED' | translate}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs" data-ng-click="toggleSearchState()">
          <a href="">
            <i class="tm-icon zmdi zmdi-search" data-ng-class="{'active-link': searchMobileDropdown}"></i>
          </a>
        </div>
      </div>
      <div class="input-group search-bar hidden-xs">
        <div id="search-field-ctn">
          <div class="search-style">
            <div class="fg-line">
              <input type="text" class="form-control"
                     autocomplete="off"
                     x-ng-model="paramFilter['name']"
                     placeholder="{{'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME' | translate}}"
                     x-ng-change="updateParams()">
            </div>
          </div>
        </div>
        <div class="actions">
          <a uib-dropdown dropdown-append-to-body
             auto-close="outsideClick" hover-dropdown-fix
             class="input-group-addon last clickable dropdown"
             x-ng-click="advancedFilterBool = !advancedFilterBool"
             uib-dropdown-toggle
             data-original-title="{{ 'TOOLTIP.ADVANCED_FILTER' | translate }}">
            <i class="zmdi hidden-xs clickable"
               x-ng-class="{'zmdi-settings': !advancedFilterBool, 'zmdi-chevron-up active-link': advancedFilterBool}">
            </i>
            <ul uib-dropdown-menu=""
                class="dropdown-menu uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left">
              <!-- FILTER COMPONENT  -->
              <filter-box class="clearfix"
                          filter-box-size="true"
                          filter-box-date="true"
                          filter-box-items="$parent.documentsList"
                          filter-box-table="$parent.tableParams">
              </filter-box>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
