<div class="container">


  <!--  ACTIONS ON DOCUMENTS  -->

  <div class="card">
    <div class="lv-header-alt clearfix m-b-5">

      <h2 class="lvh-label hidden-xs">Liste de mes fichiers</h2>

      <ul class="lv-actions actions">

        <li ng-hide="selectedDocuments.length == 0">
          <a href="" title="partage" ng-click="onShare(); mactrl.sidebarToggle.right = true;">
            <i class="zmdi zmdi-share"></i>
          </a>
        </li>

        <li ng-hide="selectedDocuments.length == 0">
          <a href="" title="supprimer" ng-click="deleteDocuments(selectedDocuments)">
            <i class="zmdi zmdi-delete"></i>
          </a>
        </li>

        <li ng-init="multipleSelection = false" data-ng-class="{ 'open': multipleSelection === true }">
          <a href="" title=" selection multiple" ng-click="multipleSelection = !multipleSelection">
            <i class="zmdi zmdi-check-all"></i>
          </a>
        </li>

        <li class="hidden-xs" data-target="chat" data-toggle-sidebar data-model-right="mactrl.sidebarToggle.right"
            data-ng-class="{ 'open': mactrl.sidebarToggle.right === true }">
          <a href="" title="info">
            <i class="zmdi zmdi-info"></i>
          </a>
        </li>

        <li ng-hide="selectedDocuments.length == 0" class="dropdown" dropdown>
          <a href="" title="plus ..." dropdown-toggle>
            <i class="zmdi zmdi-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">

            <li>
              <a href="" title="supprimer" alt="supprimer" ng-click="reload()">Actualiser</a>
            </li>
            <li>
              <a href="" ng-show="linshareModeProduction == false" ng-click="">Copier dans un groupe</a>
            </li>
            <li>
              <a href="" ng-click="onShare(); mactrl.sidebarToggle.right = true;">Partager</a>
            </li>
            <li>
              <a href="" ng-click="deleteDocuments(selectedDocuments)">Supprimer</a>
            </li>
            <li>
              <a href="" ng-click="downloadSelectedFiles(selectedDocuments)">Télécharger</a>
            </li>
          </ul>
        </li>
      </ul>

    </div>


    <!--<!--  DOCUMENTS LIST  -->

      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-vmiddle" data-ng-table="tableParams" show-filter="true">

            <tr data-ng-repeat="documentFile in $data" data-ls-on-document-select
                file-selection-v="selectedDocuments" uuid="documentFile"
                multiple-select-on="multipleSelection" sidebar="{{mactrl.sidebarToggle.right}}">

              <td><span class="fa fa-file-excel-o"></span></td>

              <td data-title="'Nom'" class="col-md-6" sortable="'name'" uuid={{o.uuid}}>
                {{documentFile.name}}
              </td>

              <td ng-if="mactrl.sidebarToggle.right === false" data-title="'Modification'" sortable="'modificationDate'">
                {{documentFile.modificationDate | date:'shortDate'}}
              </td>

              <td ng-if="mactrl.sidebarToggle.right === false" data-title="'Taille'" sortable="'size'">
                {{documentFile.size | readableSize: false}}
              </td>

              <td data-title="'Actions'" sortable="'shared'">
                <!--<button type="button" class="btn btn-default"><i class="zmdi zmdi-download"></i></button>-->
                <ul class="actions hidden-xs">
                  <li>
                    <a href="" title="share" event-propagation-stop ng-click="onShare(); mactrl.sidebarToggle.right = true;">
                      <i ng-show="documentFile.shared === 0" class="zmdi zmdi-share"></i>
                      <i ng-show="documentFile.shared > 0" class="zmdi zmdi-share" style="color: green"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" title="télécharger" event-propagation-stop ng-click="downloadCurrentFile(documentFile)">
                      <i class="zmdi zmdi-download"></i>
                    </a>
                  </li>
                  <li class="dropdown" dropdown>
                    <a href="" title="more actions" dropdown-toggle event-propagation-stop>
                      <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">

                      <li>
                        <a href="" ng-show="linshareModeProduction == false" ng-click="">Copier dans un groupe</a>
                      </li>
                      <li>
                        <a href="" ls-share-modal>Partager</a>
                      </li>
                      <li>
                        <a href="" ng-click="deleteDocuments(documentFile)">Supprimer</a>
                      </li>
                      <li>
                        <a href="" ng-click="downloadCurrentFile(documentFile)">Télécharger</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <!--<button type="button" class="btn btn-success"><i class="zmdi zmdi-more-vert"></i></button>-->
              </td>
              <!--<!--<td class="col-md-1 col-lg-1"><input type="checkbox" name="check" data-file-selection="selectedDocuments"-->
              <!--<!--uuid="documentFile"/></td>-->

            </tr>
          </table>
        </div>
        <aside id="chat" data-ng-include src="'views/includes/chat.html'"
               data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
      </div>
  </div>
  <!--<aside id="chat" data-ng-include src="'views/includes/chat.html'"-->
         <!--data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
</div>
