<div class="container upload-files">

  <!--  ACTIONS ON DOCUMENTS  -->

  <div class="card setWidth" id="collapsible-content">
    <div class="card-header no-padding">
      <div id="breadcrumb-wrap">
        <div class="breadcrumbs-ctn hidden-xs">
          <a href="#" class="breadcrumb"><i class="zmdi zmdi-file"></i>
            {{"SELECTED_FILES.BREADCRUMB_TITLE" | translate }}
          </a>
        </div>
        <section class="row multi-select visible-xs">
          <div class="col-xs-2 ctn-mobile-select-count">
            <span class="number-of-files">{{selectedDocuments.length}}</span>
            <span class="file-multi-select-label">{{'SELECTION_TOOLBAR.FILES' | translate}}</span>
          </div>
          <div id="toolbar-actions" class="col-xs-10 show-details-mobile-link">
            <span>
              <a ng-click="mactrl.sidebarToggle.right = true;">
                <i class="fa fa-eye"></i>
                <span>{{'SELECTED_FILES.SHOW_DETAILS' | translate}}</span>
              </a>
            </span>
          </div>
        </section>
      </div>
    </div>

    <!-- SELECTED DOCUMENTS LIST  -->
    <div class="card-body selected-files-list-items">
      <ul class="list-group actions" >
        <li class="list-group-item col-xs-12" data-ng-repeat="documentFile in selectedDocuments">
          <span class="fa ls-1p5x m-r-10" ng-class="'{{documentFile.type | mimetypeIcone}}'" aria-hidden="true"></span>
          <span>{{documentFile.name}}</span>
          <a href="" class="action-list-selected-files" ng-click="removeSelectedDocuments(documentFile)">
            <i class="zmdi zmdi-close"></i>
          </a>
        </li>
        <li class="list-group-item col-xs-12" data-ng-repeat="(identifier, uploadFile) in selectedUploads">
          <span class="fa ls-1p5x m-r-10" ng-class="'{{uploadFile.type | mimetypeIcone}}'" aria-hidden="true"></span>
          <span>{{uploadFile.name}}</span>
          <a href="" class="action-list-selected-files" ng-click="removeSelectedDocuments(identifier)">
            <i class="zmdi zmdi-close"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<aside id="chat" data-ng-include src="'views/includes/sidebar-right.html'"
       data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" class="sidebar-right">
</aside>
