<div class="container" id="files">


  <!--  ACTIONS ON DOCUMENTS  -->

  <div class="card">
    <div class="card-header">
      <div id="breadcrumb-wrap">
        <div class="breadcrumbsCtn">
          <a href="#" class="breadcrumb"><i class="zmdi zmdi-file"></i>
            {{"SELECTED_FILES.BREADCRUMB_TITLE" | translate }}
          </a>
        </div>
        <div class="navBarBtn">
          <button class="btn btn-default waves-effect blueBtn pull-right" ng-click="$state.go('documents.files')">
            {{ "SELECTED_FILES.BACK_TO_ALL_FILES" | translate }}
          </button>
        </div>

      </div>

    </div>


    <!-- SELECTED DOCUMENTS LIST  -->
    <div class="card-body">
      <ul class="list-group" >
        <li class="list-group-item" data-ng-repeat="documentFile in selectedDocuments">
          <span class="badge" ng-click="removeSelectedDocuments(documentFile)"><i class="zmdi zmdi-close"></i></span>
          <span class="fa fa-file-excel-o m-r-10" aria-hidden="true"></span>{{documentFile.name}}
        </li>
      </ul>
    </div>
  </div>

  <aside id="chat" data-ng-include src="'views/includes/sidebar-right.html'"
         data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
</div>

