<!--      Message content:
          toastTxtMessage
          // toast Type :
          toastError = false;
          toastSuccess = false;
          toastInfo = false;
          toastWarning = false;
          // does the toast has a single action button
          actionLabel = 'UNDO'
          actionLink = 'closeToast()'
          // does the toast have a details section
          responses = detailSectionContent{}
          // => default toast has a close button and a standard inverse style
-->
<md-toast class="toast-dynamic-height white-toast-panel ls-toast"
          x-ng-init="details = false;"
          x-ng-class="{'anim-toast' : details , 'toast-type-error' : toastError}">
  <div>
    <div class="toast-upper-panel">
      <div class="toast-icon-area">
        <span x-ng-show="toastError" class="zmdi zmdi-alert-circle-o"></span>
        <span x-ng-show="toastSuccess" class="zmdi zmdi-check"></span>
        <span x-ng-show="toastInfo" class="zmdi zmdi-info-outline"></span>
        <span x-ng-show="toastWarning" class="zmdi zmdi-alert-circle-o"></span>
      </div>
      <div class="md-toast-text" flex x-ng-class="{'toast-single-btn' : actionLabel}">
        <span>{{responses.length}} {{toastTxtMessage}}</span>
        <a x-ng-show="responses" class="md-highlight toast-inline-link"
           x-ng-click="details = !details">
          {{"TOAST_ALERT.ACTION.INFO_ERROR_FILE" | translate}}
        </a>
      </div>
      <md-button x-ng-click="actionLink" x-ng-show="actionLabel">{{actionLabel}}</md-button>
      <md-button x-ng-show="!actionLabel" class="close-button m-0" x-ng-click="actionClose(); details = false">
        <i class="zmdi zmdi-close"></i>
      </md-button>
    </div>
    <!-- Detail dynamic area-->
    <div  x-ng-if="responses" class="toast-details-ctn delete-file-toast"
          x-ng-class="{'anim-toast' : details}">
      <div class="toast-details-item" x-ng-repeat="response in responses track by $index">
        <p class="toast-item-filename">{{response.name}}</p>
        <p class="toast-item-error">
          <span class="toast-error-code">{{"TOAST_ALERT.WARNING.ERROR" | translate}} </span>
          <span class="toast-error-message">{{response.messageError}}</span>
        </p>
      </div>
    </div>
  </div>
</md-toast>
