<div class="bottom-btn visible-xs row col-xs-12 transfertFilesBtnCtn">
  <button ng-click="moveSliderBackwards()" class="btn bgm-lightblue waves-effect col-xs-6">PRECEDENT</button>
  <button ng-click="moveSliderForward()" class="btn bgm-lightblue waves-effect nextLink col-xs-6">SUIVANT</button>
  <button ng-click="moveSliderForward()" class="btn bgm-lightblue waves-effect col-xs-6 sendLink hide">ENVOYER</button>
</div>
<div class="container" id="upload-box" ng-controller="LinshareAdvancedShareController"
     flow-files-submitted="$flow.upload()">
  <div id="breadcrumb-wrap" ng-controller="DemoCtrl as demo">
    <div class="breadcrumbsCtn">
      <a href="#" class="breadcrumb"><i class="zmdi zmdi-file"></i>Mes dépots</a>
    </div>
    <div id="action-header">
      <div class="navBarBtn">
        <button class="btn btn-default waves-effect" ng-click="createSharing()">
          <span>valider</span>
        </button>
        <button class="btn btn-default waves-effect" flow-btn flow-files-submitted="$flow.upload()">
          <i class="zmdi zmdi-upload"><span>Importez un fichier</span></i>
        </button>
      </div>
    </div>
  </div>

  <div id="dropArea">

    <div class="infoPartager">
      <p><i class="fa fa-info"></i> Sélectionnez des fichiers si vous souhaitez les partager</p>
    </div>

    <div id="selection-actions" style="display: block;" ng-init="isAllSelected.status = false">
      <div class="exitSelection" ng-click="isAllSelected.status = false; isAllSelected.origin = ''">
        <i class="zmdi zmdi-close"></i>
      </div>
      <div class="displayNumSelectedItems"><span>{{numSelectedItems.length}}</span> Items Selectionnés</div>
      <div id="toolbar-actions">
       <span ng-click="isAllSelected.status = !isAllSelected.status; isAllSelected.origin = ''">
         <a class="selectAllItems plainTxtBtn">
           <i ng-show="isAllSelected.status" class="fa fa-square-o"></i>
           <span ng-show="isAllSelected.status">Tout désélectionner</span>
           <i ng-show="!isAllSelected.status" class="fa fa-check-square-o"></i>
           <span ng-show="!isAllSelected.status">Tout sélectionner</span>
         </a>
       </span>
      <span>
        <a class="plainTxtBtn partageLink"
               ng-class="{'deActivateSharing': (numSelectedItems.length == 0 || isCurrentPartage == true) }">
          <i class="zmdi zmdi-share"></i><span>Partager</span></a>
      </span>
      </div>
    </div>

    <div class="dragNDropCtn resetContentWidth">
      <div class="dragNDropContent">
        <div class="dragIconCtn ">
          <div class="borderedCircle">&nbsp;</div>
          <img src="images/upload-dnd-grey.png">
        </div>
        <h1>Déposez vos fichiers ici</h1>

        <p>Cliquez ou glissez-déposez vos fichiers dans l'interface pour les importer.</p>
      </div>
    </div>
    <div id="transfert-ctn" class="transfertCtnWhite selectableList" flow-prevent-drop>
      <div class="card col-sm-12 col-xs-11 col-centered">
        <div class="listview lv-bordered lv-lg" id="listFilesView">
          <div class="lv-header-alt clearfix" style="display:none">
            <h2 class="lvh-label"><b>Fichiers destinés au partage</b></h2>
          </div>
          <div class="lv-body">
            <div class="media-body" ng-repeat="file in $flow.files" upload-box-selection>
              <div class="col-xs-10 col-sm-12" style="overflow:hidden;">
                <div class="col-xs-24 col-sm-12 animLeft noPadding">
                  <div class="col-xs-7 col-sm-11 pull-left">
                    <div class="previewIconCtn pull-left hidden-v-xs">
                      <p class="img-circle">{{file.getExtension() | uppercase }}</p>
                    </div>
                    <div class="pull-left dataListCtn">
                      <div class="lv-title">{{file.name}}</div>
                      <small class="lv-small pull-left">{{file.timeRemaining() }}</small>
                      <small class="lv-small pull-right">{{file.size | readableSize: false}}</small>
                      <div class="clearfix"></div>
                      <progressbar max="100" value="file.progress()*100"></progressbar>
                    </div>
                  </div>
                  <div class="col-xs-5 col-sm-1 pull-left">
                    <ul class="lv-actions actions alignListIcons ">
                      <li class="col-xs-6" x-ng-if="!file.paused" x-ng-hide="file.isComplete()">
                        <a href="" ng-click="file.pause()">
                          <i class="zmdi zmdi-pause"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.paused" x-ng-hide="file.isComplete()">
                        <a href="" ng-click="file.resume()">
                          <i class="zmdi zmdi-play"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.isComplete() && !file.error">
                        <a href="">
                          <i class="zmdi zmdi-check"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.error">
                        <a href="" ng-click="file.retry()">
                          <i class="zmdi zmdi-replay"></i>
                        </a>
                      </li>
                      <li class="col-xs-6">
                        <a href="" ng-click="file.cancel()">
                          <i class="zmdi zmdi-close"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 visible-xs">
                <ul class="lv-actions actions alignListIcons " ng-click="showBtnList($event)">
                  <li><a><i class="zmdi zmdi-more-vert"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partage-list">
      <button class="btn btn-default waves-effect" ng-repeat="n in sharingsBtn track by $index"
              ng-click="showSharingItems($index)">
        <span>Partage {{$index+1}}</span> <i class="zmdi zmdi-edit"></i>
      </button>
    </div>
  </div>
</div>
