<div class="bottom-btn visible-xs row col-xs-12 transfertFilesBtnCtn">
  <button ng-click="moveSliderBackwards()" class="btn bgm-lightblue waves-effect col-xs-6">
    {{"NAVIGATION.PREVIOUS" | translate}}
  </button>
  <button ng-click="moveSliderForward()" class="btn bgm-lightblue waves-effect nextLink col-xs-6">
    {{"NAVIGATION.NEXT" | translate}}
  </button>
  <button ng-click="moveSliderForward()" class="btn bgm-lightblue waves-effect col-xs-6 sendLink hide">
    {{"NAVIGATION.PREVIOUS.SEND" | translate}}
  </button>
</div>
<div class="container" id="upload-box" ng-controller="LinshareUploadViewController"
     flow-files-submitted="$flow.upload()">
  <div id="breadcrumb-wrap">
    <div class="breadcrumbsCtn">
      <a href="#" class="breadcrumb">
        <i class="zmdi zmdi-file"></i>{{ "UPLOADED_FILES.BREADCRUMB_TITLE" | translate }}
      </a>
    </div>
    <div id="action-header">
      <div class="navBarBtn">
        <button class="btn btn-default waves-effect" flow-btn flow-files-submitted="$flow.upload()">
          <i class="zmdi zmdi-upload"><span>{{"UPLOADED_FILES.UPLOAD_FILES_BUTTON" | translate }}</span></i>
        </button>
      </div>
    </div>
  </div>

  <div id="dropArea">

    <div class="infoPartager">
      <p><i class="fa fa-info"></i> {{"UPLOADED_FILES.SELECT_INFO" | translate}}</p>
    </div>

    <div id="selection-actions" class="showMultiMenu" ng-init="isAllSelected.status = false"
         data-ng-class="{'show': $flow.files.length > 0}">
      <div ng-show="devMode" class="exitSelection" ng-click="isAllSelected.status = false; isAllSelected.origin = ''">
        <i class="zmdi zmdi-close"></i>
      </div>
      <div class="displayNumSelectedItems">
        <span>{{lengthOfSelectedUploads()}}</span> {{"SELECTION_TOOLBAR.SELECTED_FILES" | translate }}
      </div>
      <div id="toolbar-actions">
       <span ng-show="devMode" ng-click="isAllSelected.status = !isAllSelected.status; isAllSelected.origin = ''">
         <a ng-if="isAllSelected.status" class="selectAllItems plainTxtBtn">
           <i class="fa fa-square-o"></i>
           <span>{{"SELECTION_TOOLBAR.DESELECT_ALL" | translate }}</span>
         </a>
         <a ng-if="!isAllSelected.status" class="selectAllItems plainTxtBtn">
           <i class="fa fa-check-square-o"></i>
           <span>{{"SELECTION_TOOLBAR.SELECT_ALL" | translate }}</span>
         </a>
       </span>
       <span>
         <a class="plainTxtBtn partageLink"
            ng-class="{'deActivateSharing': (numSelectedItems.length == 0 || isCurrentPartage == true) }"
            ng-click="shareSelectedUpload(selectedUploadedFiles)">
           <i class="zmdi zmdi-share"></i><span>{{"SELECTION_TOOLBAR.SHARE" | translate }}</span>
         </a>
       </span>
      </div>
    </div>

    <div class="dragNDropCtn resetContentWidth">
      <div class="dragNDropContent">
        <div class="dragIconCtn ">
          <div class="borderedCircle">&nbsp;</div>
          <img src="images/upload-dnd-grey.png">
        </div>
        <h1>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</h1>

        <p>{{ "DRAG_DROP_BACKGROUND.COMMENT" | translate }}</p>
      </div>
    </div>
    <div id="transfert-ctn" class="transfertCtnWhite selectableList" flow-prevent-drop>
      <div class="card col-sm-12 col-xs-11 col-centered">
        <div class="listview lv-bordered lv-lg" id="listFilesView">
          <div class="lv-header-alt clearfix" style="display:none">
            <h2 class="lvh-label"><b>Fichiers destinés au partage</b></h2>
          </div>
          <div class="lv-body">
            <div class="media-body" ng-repeat="file in $flow.files" ls-on-upload-select
                 data-ng-class="{'highlightListElem': file.isSelected }">
              <div class="col-xs-10 col-sm-12" style="overflow:hidden;">
                <div class="col-xs-24 col-sm-12 animLeft noPadding">
                  <div class="col-xs-7 col-sm-11 pull-left">
                    <div class="previewIconCtn pull-left hidden-v-xs">
                      <p class="img-circle">{{file.getExtension() | uppercase }}</p>
                    </div>
                    <div class="pull-left dataListCtn">
                      <div class="lv-title">{{file.name}}</div>
                      <small ng-hide="file.isComplete()" class="lv-small pull-left">
                        {{file.timeRemaining() | remainingTime}}
                      </small>
                      <small ng-show="file.isComplete()" class="lv-small pull-left">
                        {{"HEADER.UPLOAD_PROGRESS.UPLOAD_DONE" | translate }}
                      </small>
                      <small class="lv-small pull-right">{{file.size | readableSize: false}}</small>
                      <div class="clearfix"></div>
                      <progressbar max="100" value="file.progress()*100"></progressbar>
                    </div>
                  </div>
                  <div class="col-xs-5 col-sm-1 pull-left">
                    <ul class="lv-actions actions alignListIcons ">
                      <li class="col-xs-6" x-ng-if="!file.paused" x-ng-hide="file.isComplete()">
                        <a href="" ng-click="file.pause()" event-propagation-stop>
                          <i class="zmdi zmdi-pause"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.paused" x-ng-hide="file.isComplete()">
                        <a href="" ng-click="file.resume()" event-propagation-stop>
                          <i class="zmdi zmdi-play"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.isComplete() && !file.error">
                        <a href="" ng-click="removeSelectedDocuments(file); file.cancel()" event-propagation-stop>
                          <i class="zmdi zmdi-check"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.error">
                        <a href="" ng-click="file.retry()" event-propagation-stop>
                          <i class="zmdi zmdi-replay"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="!file.isComplete()">
                        <a href="" ng-click="removeSelectedDocuments(file); file.cancel()" event-propagation-stop>
                          <i class="zmdi zmdi-stop"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 visible-xs">
                <ul class="lv-actions actions alignListIcons " ng-click="showBtnList($event)">
                  <li><a><i class="zmdi zmdi-more-vert"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partage-list">
      <button class="btn btn-default waves-effect" ng-repeat="n in sharingsBtn track by $index"
              ng-click="showSharingItems($index)">
        <span>Partage {{$index+1}}</span> <i class="zmdi zmdi-edit"></i>
      </button>
    </div>
  </div>
</div>
