<div class="container upload-files" id="upload-box" ng-controller="LinshareUploadViewController"
     flow-files-submitted="$flow.upload()">
  <div id="breadcrumb-wrap">
    <section class="row multi-select visible-xs">
      <div class="col-xs-2 ctn-mobile-select-count">
        <span class="numberOfiles ng-binding">{{lengthOfSelectedDocuments()}}</span>
        <span class="file-multi-select-label ng-binding">{{'SELECTION_TOOLBAR.FILES' | translate}}</span>
      </div>
      <div class="col-xs-10">
        <i class="zmdi zmdi-share col-xs-3"
           title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
           ng-class="{'deActivateSharing': lengthOfSelectedDocuments() === 0}"
           ng-click="onShare(); mactrl.sidebarToggle.right = true;" role="button" tabindex="0">
        </i>
        <i ng-if="selectAll" ng-click="selectUploadingDocuments()"
           class="fa fa fa-square-o col-xs-3"
           ng-class="{'deActivateSharing': $flow.files.length === 0 }">
        </i>
        <i ng-if="!selectAll" ng-click="selectUploadingDocuments()"
           class="fa fa-check-square-o col-xs-3"
           ng-class="{'deActivateSharing': $flow.files.length === 0 } ">
        </i>
        <i class="zmdi zmdi-pause col-xs-3 disabled"></i>
        <i class="zmdi zmdi-check-all col-xs-3 disabled"></i>
      </div>
    </section>
    <div class="menu-popover-ctn hidden-xs clickable"
         flow-btn href="javascript:void(0)">
      <a class="add-menu-group" tabindex="0">
        <i class="zmdi zmdi-plus"></i>
      </a>
    </div>
    <div class="breadcrumbsCtn hidden-xs">
      <a href="#" class="breadcrumb col-xs-11">
        <i class="zmdi zmdi-file"></i>{{ "UPLOADED_FILES.BREADCRUMB_TITLE" | translate }}
      </a>

      <div class="pull-right col-xs-1 upload-actions-toolbar actions">
        <a href="" class="col-xs-6">
          <i class="zmdi zmdi-pause " title="{{ 'SELECTION_TOOLBAR.PAUSE_ALL' | translate }}"></i>
        </a>
        <a href="" class="col-xs-6">
          <i class="zmdi zmdi-check-all" title="{{ 'SELECTION_TOOLBAR.CLEAR_ALL' | translate }}"></i>
        </a>
      </div>
    </div>
  </div>

  <div id="collapsible-content">
    <div id="dropArea">

    <div class="infoPartager  hidden-xs">
      <p><i class="fa fa-info"></i> {{"UPLOADED_FILES.SELECT_INFO" | translate}}</p>
    </div>

    <div id="selection-actions" class="defaultMultiToolbarState hidden-xs"
         data-ng-class="{'showMultiMenu': $flow.files.length > 0}">
      <div class="toogleCkeckboxToolbar" ng-click="selectUploadingDocuments()">
        <a ng-if="selectAll" class="selectAllItems plainTxtBtn ng-scope" >
          <i class="fa fa fa-square-o checkboxTable"></i>
        </a>
        <a ng-if="!selectAll" class="selectAllItems plainTxtBtn ng-scope">
          <i class="fa fa-check-square-o"></i>
        </a>
      </div>
      <div class="displayNumSelectedItems" title="{{'WIP' | translate}}"
           data-ng-class="{'activeBtnShowSelection': activeBtnShowSelection}"
           ng-click="activeBtnShowSelection = !activeBtnShowSelection">
        <p><span>{{lengthOfSelectedDocuments()}}</span> {{"SELECTION_TOOLBAR.SELECTED_FILES" | translate}}</p>
        <div class="pull-left view-icons-ctn groups-view">
          <i class="fa fa-eye-slash" aria-hidden="true" data-ng-show=" activeBtnShowSelection"></i>
          <i class="fa fa-eye" aria-hidden="true" data-ng-show="!activeBtnShowSelection"></i>
        </div>
        <div class="pull-left view-icons-ctn reset-icon" ng-click="resetSelectedDocuments()">
          <i class="fa fa-undo" title="{{'SELECTION_TOOLBAR.RESET' | translate}}"></i>
        </div>
      </div>
      <div id="toolbar-actions" class="hidden-xs">
            <span>
            <a class="plainTxtBtn partageLink" title="{{'SELECTION_TOOLBAR.SHARE' | translate}}"
               ng-class="{'deActivateSharing': (lengthOfSelectedDocuments() === 0 || isCurrentPartage == true) }"
               ng-click="onShare(); mactrl.sidebarToggle.right = true;">
              <i class="zmdi zmdi-share"></i><span>{{'SELECTION_TOOLBAR.SHARE' | translate}}</span></a>
            </span>
      </div>
    </div>

    <div class="dragNDropCtn resetContentWidth hidden-xs">
      <div class="dragNDropContent">
        <div class="dragIconCtn ">
          <div class="borderedCircle">&nbsp;</div>
          <img src="images/upload-dnd-grey.png">
        </div>
        <h1>{{"DRAG_DROP_BACKGROUND.TITLE" | translate}}</h1>

        <p>{{ "DRAG_DROP_BACKGROUND.COMMENT" | translate }}</p>
      </div>
    </div>
    <div id="transfert-ctn" class="transfertCtnWhite selectableList" flow-prevent-drop>
      <div class="card col-sm-12 col-xs-11 col-centered">
        <div class="listview lv-bordered lv-lg" id="listFilesView">
          <div class="lv-header-alt clearfix" style="display:none">
            <h2 class="lvh-label"><b>Fichiers destinés au partage</b></h2>
          </div>
          <div class="lv-body ng-table" id="fileListTable">
            <div class="media-body" ng-repeat="file in $flow.files"
                 data-ng-class="{'highlightListElem': file.isSelected }">
              <div class="col-xs-10 col-sm-12" style="overflow:hidden;">
                <div class="col-xs-24 col-sm-12 animLeft noPadding">
                  <div class="col-xs-6 col-sm-11 pull-left">
                    <div ls-on-upload-select class="previewIconCtn pull-left hidden-v-xs set-content-left thumb-type-item " >
                      <i class="fa ls-1p5x" ng-class="'{{file.getType() | mimetypeIcone}}'"></i>
                          <div class="checkbox-ctn-thumb" ng-class="{'maintain-vis': file.isSelected }">
                          </div>
                    </div>
                    <div class="pull-left dataListCtn">
                      <div class="lv-title">{{file.name}}</div>
                      <small ng-hide="file.isComplete()" class="lv-small pull-left">
                        {{file.timeRemaining() | remainingTime}}
                      </small>
                      <small ng-show="file.isComplete()" class="lv-small pull-left">
                        {{"HEADER.UPLOAD_PROGRESS.UPLOAD_DONE" | translate }}
                      </small>
                      <small class="lv-small pull-right clearfix">{{file.size | readableSize: false}}</small>
                      <div class="clearfix"></div>
                      <progressbar max="100" value="file.progress()*100"></progressbar>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-1 pull-left">
                    <ul class="lv-actions actions alignListIcons ">
                      <li class="col-xs-6" x-ng-if="!file.paused" x-ng-hide="file.isComplete()">
                        <a href="" ng-click="file.pause()" event-propagation-stop>
                          <i class="zmdi zmdi-pause" title="{{'SELECTION_TOOLBAR.PAUSE' | translate}}"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-show="file.isComplete()">
                        <a ui-sref="documents.files">
                          <i class="fa fa-eye" title="{{'SELECTION_TOOLBAR.SHOW_IN_FILES' | translate}}"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.paused" x-ng-hide="file.isComplete()">
                        <a href="" ng-click="file.resume()" event-propagation-stop>
                          <i class="zmdi zmdi-play" title="{{'SELECTION_TOOLBAR.PLAY' | translate}}"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.isComplete() && !file.error">
                        <a href="" ng-click="removeSelectedDocuments(file); file.cancel()" event-propagation-stop
                           title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}">
                            <i class="zmdi zmdi-check" title="{{'SELECTION_TOOLBAR.CLEAR' | translate}}"></i>
                        </a>
                      </li>
                      <li class="col-xs-6" x-ng-if="file.error">
                        <a href="" ng-click="file.retry()" event-propagation-stop>
                          <i class="zmdi zmdi-stop" title="{{'SELECTION_TOOLBAR.STOP' | translate}}"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 visible-xs">
                <ul class="lv-actions actions alignListIcons " ng-click="showBtnList($event)" event-propagation-stop>
                  <li><a><i class="zmdi zmdi-more-vert"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partage-list">
      <button class="btn btn-default waves-effect" ng-repeat="n in sharingsBtn track by $index"
              ng-click="showSharingItems($index)">
        <span>Partage {{$index+1}}</span> <i class="zmdi zmdi-edit"></i>
      </button>
    </div>

      <md-fab-toolbar  md-open="fab.isOpen" count="fab.count"
                       md-direction="{{fab.selectedDirection}}" class="visible-xs">
        <md-fab-trigger class="align-with-text">
          <md-button aria-label="menu" class="md-fab md-primary" style="position: relative;" id="primary-fab-action">
            <md-icon><i class="zmdi zmdi-plus"></i></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar style="padding:0">
          <p class="title-fab">{{'BOUTON_ADD_FILE_TITLE' | translate }}</p>
          <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="label" class="md-icon-button" flow-btn>
              <a href="#/files/upload" ui-sref="documents.upload">
                <i class="zmdi zmdi-share"></i>
                <span>{{'ADD_FILES_DROPDOWN.UPLOAD_AND_SHARE' | translate}}</span>
              </a>
            </md-button>
            <md-button aria-label="comment" class="md-icon-button" flow-btn>
              <a href="#/files/list" ui-sref="documents.files">
                <i class="zmdi zmdi-file-plus"></i>
                <span>{{'ADD_FILES_DROPDOWN.UPLOAD_FILE' | translate}}</span>
              </a>
            </md-button>
            <md-button aria-label="comment" class="md-icon-button" flow-btn>
              <a class="disabled-work-in-progress">
                <i class="zmdi zmdi-accounts-alt disabled-work-in-progress"></i>
                <span class="disabled-work-in-progress">{{'ADD_FILES_DROPDOWN.UPLOAD_IN_GROUP' | translate }}</span>
              </a>
            </md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar>

  </div>
  </div>
  <aside id="chat" data-ng-include src="'views/includes/sidebar-right.html'"
         data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" class="sidebar-right">
  </aside>
</div>
