<div id="member-sidebar">
  <div class="header-sidebar">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" x-ng-click="mainVm.sidebar.hide()">
      </i>
    <h2 class="header-more-options set-ellipsis visible-xs">
      {{'GUEST_DETAILS.DETAIL_OF_GUEST_ACCOUNT' | translate}}
    </h2>
    <h2 class="header-more-options set-ellipsis hidden-xs">
      {{mainVm.sidebar.getData().selectedGuest.form.display.firstName}}
      {{mainVm.sidebar.getData().selectedGuest.form.display.lastName}}
    </h2>
    <span class="hidden-xs">
        <i class="zmdi zmdi-close zmdi-hc-lg"
           x-ng-click="mainVm.sidebar.hide()">
        </i>
      </span>
  </div>
  <div x-ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail"
       x-ng-class="{'two-tabs': mainVm.sidebar.getData().currentPage === 'guests-list'}">
    <md-content>
      <md-tabs md-border-bottom="" md-selected="mainVm.sidebar.getData().selectedTab">
        <md-tab id="tab1" x-ng-if="mainVm.sidebar.getData().currentPage === 'guests-list'"
                label="{{'INFORMATION_TAB.TITLE' | translate}}" class="col-xs-4 no-padding">
          <md-content>
            <div x-ng-include="'directives/sidebar-content/sidebar-content-guest-details-read.html'"></div>
          </md-content>
        </md-tab>
        <md-tab id="tab2" label="{{'GUEST_DETAILS.EDIT_GUEST' | translate}}"
                class="col-xs-4 no-padding disabled">
          <md-content  class="bottom-action-form">
            <div x-ng-include="'directives/sidebar-content/sidebar-content-guest-details-update.html'"></div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
