<div
  class="lv-body stop-propagate contacts-list-block-scroll"
  data-ng-controller="WorkGroupMembersController as workgroupMemberVm"
>
  <div class="lv-item">
    <div class="card col-xs-12" id="content-ctn-sidebar">
      <div
        data-ng-if="mainVm.sidebar.getData().permissions[
        mainVm.sidebar.getData().currentSelectedDocument.current.uuid
        ].MEMBER.CREATE || mainVm.sidebar.getData().permissions.MEMBER.CREATE"
        class="custom-list-container clearfix"
      >
        <div class="recipients-form-sections m-t-30 clearfix">
          <h2 class="pull-left headerSubCtn">
            <span translate>MEMBER_TAB.ADD_MEMBER</span>
          </h2>
        </div>
        <form
          role="form"
          class="clearfix fields-add-member no-right-inline-btn m-b-40"
        >
          <div class="form-group fg-line group-member-field-ctn col-xs-12 no-padding">
            <span
              uib-dropdown
              dropdown-append-to-body
              class="dropdown link-dropdown actions col-xs-5"
              auto-close="always"
              is-open="isOpenMemberRights"
              data-ng-class="{'open':isOpenMemberRights}"
            >
              <button
                type="button"
                class="btn waves-effect"
                uib-dropdown-toggle
              >
                <span>{{"MEMBER_TAB." + workgroupMemberVm.memberRole.name | translate}}</span>
                <span class="caret"></span>
              </button>
              <ul
                uib-dropdown-menu
                class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown"
              >
                <li data-ng-repeat="role in workgroupMemberVm.membersRights">
                  <a
                    href=""
                    data-ng-click="workgroupMemberVm.memberRole = role"
                    data-ng-class="{'active-check': workgroupMemberVm.memberRole.uuid === role.uuid }"
                  >
                    {{"MEMBER_TAB." + role.name | translate}}
                  </a>
                </li>
              </ul>
            </span>
            <div
              class="col-xs-7 pull-right"
              ls-autocomplete-user="THREAD_MEMBERS"
              data-with-email="false"
              data-ls-complete-thread-uuid="{{mainVm.sidebar.getData().currentSelectedDocument.current.uuid}}"
              data-on-select-function="workgroupMemberVm.addMember"
              data-selected-users-list="workgroupMemberVm.members"
              data-with-guest="true"
            >
            </div>
          </div>
          <button
            class="btn btn-primary add-btn btn-block"
            data-ng-if="mainVm.sidebar.getData().isExistingMember === false"
          >
            {{'MEMBER_TAB.ADD' | translate}}
          </button>
          <button
            class="btn btn-primary update-btn btn-block"
            data-ng-if="mainVm.sidebar.getData().isExistingMember === true"
          >
            {{'MEMBER_TAB.UPDATE' | translate}}
          </button>
        </form>
      </div>
      <div class="recipients-form-sections clearfix">
        <div class="custom-header-list">
          <h2 class="pull-left headerSubCtn existing-member">
            <span translate>MEMBER_TAB.NUM_MEMBER</span>
            <span>{{workgroupMemberVm.members.length}}</span>
            <span
              class="pull-right actions members-options-toggle"
              data-ng-click="advancedMemberSearchOptions = !advancedMemberSearchOptions"
            >
              <a>
                <i class="ls-settings"></i>
              </a>
            </span>
          </h2>
        </div>
        <div class="form-sidebar clearfix">
          <form
            role="form"
            class="fields-search-member"
            data-ng-class="{'show-options': advancedMemberSearchOptions}"
          >
            <div class="search-style autocomplete-search-ctn">
              <div class="fg-line">
                <input
                  type="text"
                  class="form-control"
                  autocomplete="off"
                  data-ng-model="workgroupMemberVm.searchMemberInput"
                  placeholder="{{'COMPONENTS.AUTOCOMPLETE_USERS.INPUT_PLACEHOLDER_EXISTING_MEMBERS' | translate}}"
                  data-ng-change="workgroupMemberVm.updateInputFilterOnCurrentMembers(workgroupMemberVm.searchMemberInput)"
                >
              </div>
            </div>
            <div class="dropdown-filters">
              <span
                uib-dropdown
                dropdown-append-to-body
                class="dropdown link-dropdown"
                is-open="isOpenMemberOrder"
                data-ng-class="{'open':isOpenMemberOrder}"
                auto-close="outsideClick"
              >
                <button
                  class="plain-text-button share-link waves-effect"
                  uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}"
                >
                  <i class="zmdi zmdi-sort-asc"></i>
                </button>
                <div
                  uib-dropdown-menu
                  class="uib-dropdown-menu dropdown-menu-right dm-icon double-drop"
                  data-ng-class="{'open':isOpenMemberOrder}"
                >
                  <div class="list-menu sort-dropdown">
                    <p>{{"MEMBER_TAB.SORT_BY" | translate}}</p>
                    <ul class="dropdown-menu dm-icon sort-menu">
                      <li role="menuitem">
                        <a
                          data-ng-click="workgroupMemberVm.changePropertyOrderBy('firstName', $event)"
                          class="selected-sorting"
                        >
                          <span class="caret-area">
                            <i
                              data-ng-show="!workgroupMemberVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-down"
                            >
                            </i>
                            <i
                              data-ng-show="workgroupMemberVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-up"
                            >
                            </i>
                          </span>
                         {{'MEMBER_TAB.SORT_MEMBER.FIRSTNAME' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a data-ng-click="workgroupMemberVm.changePropertyOrderBy('lastName', $event)">
                          <span class="caret-area">
                            <i
                              data-ng-show="!workgroupMemberVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-down"
                            >
                            </i>
                            <i
                              data-ng-show="workgroupMemberVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-up"
                            >
                            </i>
                          </span>
                          {{'MEMBER_TAB.SORT_MEMBER.LASTNAME' | translate}}
                        </a>
                      </li>
                      <li role="menuitem">
                        <a data-ng-click="workgroupMemberVm.changePropertyOrderBy('role', $event)">
                          <span class="caret-area">
                            <i
                              data-ng-show="!workgroupMemberVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-down"
                            >
                            </i>
                            <i
                              data-ng-show="workgroupMemberVm.propertyOrderByAsc"
                              class="zmdi zmdi-caret-up"
                            >
                            </i>
                          </span>
                          {{'MEMBER_TAB.USER_RIGHTS' | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="list-menu">
                    <p>{{"MEMBER_TAB.FILTER_BY" | translate}}</p>
                    <ul
                      class="dropdown-menu dm-icon filter-menu"
                      data-ng-repeat="role in workgroupMemberVm.membersRights"
                    >
                      <li>
                        <a
                          href=""
                          data-ng-class="{'active-check': workgroupMemberVm.membersSearchFilter.role.uuid === role.uuid}"
                          data-ng-click="workgroupMemberVm.updateRoleFilterOnCurrentMembers(role)"
                        >
                          {{"MEMBER_TAB." + role.name + "_RIGHTS" | translate}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </span>
            </div>
          </form>
        </div>
        <div class="existing-member-list-ctn">
          <div
            class="flex-ctn"
            data-ng-repeat="workgroupMember in workgroupMemberVm.members |
            filter: workgroupMemberVm.membersSearchFilter | orderBy: '-' "
          >
            <div class="item-l">
              <span class="first-letter text-uppercase">
                {{workgroupMember.account.firstName ?
                workgroupMember.account.firstName.charAt(0) :
                workgroupMember.account.mail}}
              </span>
            </div>
            <div class="item-mid">
              <div class="name">
                {{workgroupMember.account.name}}
              </div>
              <div class="info-item-member">
                <i class="zmdi zmdi-account"></i>
                <span>
                  {{"MEMBER_TAB." + workgroupMember.role.name | translate}}
                </span>
              </div>
            </div>
            <div
              class="item-r actions"
            >
              <span
                uib-dropdown
                dropdown-append-to-body
                class="dropdown link-dropdown actions"
                auto-close="always"
                is-open="isOpenRights"
                data-ng-class="{'open':isOpenRights}"
                data-ng-if="mainVm.sidebar.getData().permissions[
                mainVm.sidebar.getData().currentSelectedDocument.current.uuid
                ].MEMBER.UPDATE || mainVm.sidebar.getData().permissions.MEMBER.UPDATE"
              >
                <a
                  class="plain-text-button share-link"
                  href="javascript:void(0)"
                  uib-dropdown-toggle title="{{'MEMBER_TAB.EDIT_RIGHTS' | translate}}"
                >
                  <i class="zmdi zmdi-edit"></i>
                </a>
                <ul
                  uib-dropdown-menu
                  class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown"
                >
                  <li data-ng-repeat="role in workgroupMemberVm.membersRights">
                    <a
                      href=""
                      data-ng-click="workgroupMemberVm.updateMember(workgroupMember, role)"
                      data-ng-class="{'active-check': workgroupMember.role.uuid === role.uuid }"
                    >
                      {{"MEMBER_TAB." + role.name | translate}}
                    </a>
                  </li>
                </ul>
              </span>
              <a
                data-ng-if="mainVm.sidebar.getData().permissions[
                mainVm.sidebar.getData().currentSelectedDocument.current.uuid
                ].MEMBER.DELETE || mainVm.sidebar.getData().permissions.MEMBER.DELETE"
                href="javascript:void(0)"
                data-ng-click="workgroupMemberVm.removeMember(
                mainVm.sidebar.getData().currentSelectedDocument.current, workgroupMember
                )"
                title="{{'MEMBER_TAB.REMOVE_TEAM_MEMBER' | translate}}"
              >
                <i class="zmdi zmdi-close"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  TODO once the property userMail will be changed to mail, use
  mainVm.sidebar.getData().currentSelectedDocument.current.members for the attribute
  create-contacts-list-contacts-to-be-added
  TODO: Check if with new members object it can be improved
-->
<div
  data-ng-if="mainVm.sidebar.getData().functionalities.contactsList"
  create-contacts-list
  create-contacts-list-contacts-to-be-added="mainVm.sidebar.getData().currentSelectedDocument.membersForContactsList"
>
</div>
