<div class="lv-body stop-propagate" id="content-ctn-sidebar">
  <div id="profile-main" class="detail-guest">
    <div class="p-relative img-preview-ctn p-0">
      <div class="dark-overlay"></div>
      <div class="user-preview-ctn">
        <div class="flex-ctn detail-info-ctn p-0 p-t-10">
          <div class="item-l m-b-10">
            <span class="first-letter user-info text-uppercase">
              {{mainVm.sidebar.getData().selectedGuest.firstName ?
              mainVm.sidebar.getData().selectedGuest.firstName.charAt(0)
              : mainVm.sidebar.getData().selectedGuest.mail.charAt(0)}}
            </span>
          </div>
          <p class="m-b-0">{{mainVm.sidebar.getData().selectedGuest.firstName}}
            <span class="p-l-5 last-name">{{mainVm.sidebar.getData().selectedGuest.lastName}}</span>
          </p>
          <p class="m-b-0 email">{{mainVm.sidebar.getData().selectedGuest.mail}}</p>
        </div>
      </div>
    </div>
    <div class="m-b-10">
      <div class="description-ctn form-sidebar" data-ng-class="{'show-full-comment': commentFocused}"
           x-ng-init="commentFocused = false">
      <textarea title="{{'GUEST_DETAILS.COMMENT.TITLE' | translate}}" class="comment" spellcheck="false"
                name="comment" id="comment"
                x-ng-attr-placeholder="{{'GUEST_DETAILS.COMMENT.EMPTY' | translate}}"
                x-ng-model="mainVm.sidebar.getData().selectedGuest.comment"
                x-ng-model-options="{updateOn: 'blur'}"
                x-ng-change="mainVm.sidebar.getData().selectedGuest.update()"
                x-ng-bind="mainVm.sidebar.getData().selectedGuest.comment"
                x-ng-init="commentFocused = false" x-ng-focus="commentFocused = true"
                x-ng-blur="commentFocused = false">
      </textarea>
        <span x-ng-if="!commentFocused && mainVm.sidebar.getData().selectedGuest.comment.length > 54">...</span>
        <div class="edit-description clic-enabled" x-ng-click="commentFocused = !commentFocused">
          <i class="zmdi zmdi-edit" x-ng-if="!commentFocused"
             title="{{'INFORMATION_TAB.EDIT_DESCRIPTION' | translate}}"></i>
          <i class="zmdi zmdi-close" x-ng-if="commentFocused"
             title="{{'INFORMATION_TAB.ABORT_EDIT' | translate}}"></i>
        </div>
      </div>
    </div>
    <div class="content-detail-area">
      <div class="flex-ctn detail-info-ctn">
        <div class="item-l">
          <span class="first-letter user-info text-uppercase">
            {{mainVm.sidebar.getData().selectedGuest.owner.firstName ?
              mainVm.sidebar.getData().selectedGuest.owner.firstName.charAt(0) :
              mainVm.sidebar.getData().selectedGuest.owner.mail.charAt(0)}}
          </span>
        </div>
        <div class="item-mid">
          <div class="name">
            {{mainVm.sidebar.getData().selectedGuest.owner.firstName}}
            {{mainVm.sidebar.getData().selectedGuest.owner.lastName}}
          </div>
          <div class="info-item-member" tooltip-placement="bottom" tooltip-popup-delay="500"
               uib-tooltip="{{mainVm.sidebar.getData().selectedGuest.modificationDate | date:'medium'}}">
            <span>
                {{'INFORMATION_TAB.UPTADED_THE' | translate}} :
                {{mainVm.sidebar.getData().selectedGuest.modificationDate | date:'longDate'}}
              </span>
          </div>
        </div>
        <div class="item-r actions">
          <span title="{{'GUEST_DETAILS.ADMIN' | translate}}">
             {{'GUEST_DETAILS.ADMIN' | translate}}
            </span>
        </div>
      </div>
      <div class="meta-data-ctn">
        <h2 class="subheader">
          <i class="fa fa-file-text"></i> {{'INFORMATION_TAB.META_DATA' | translate}}
        </h2>
        <div class="meta-data-content">
          <div>
            <p>{{'INFORMATION_TAB.CREATED_THE' | translate}}:</p>
            <p tooltip-placement="bottom" tooltip-popup-delay="500"
               uib-tooltip="{{mainVm.sidebar.getData().selectedGuest.creationDate | date:'medium'}}">
              {{mainVm.sidebar.getData().selectedGuest.creationDate | date:'longDate'}}
            </p>
          </div>
          <div>
            <p>{{'GUEST_DETAILS.EXPIRE_THE' | translate}}</p>
            <p tooltip-placement="bottom" tooltip-popup-delay="500"
               uib-tooltip="{{mainVm.sidebar.getData().selectedGuest.expirationDate | date:'medium'}}">
              {{mainVm.sidebar.getData().selectedGuest.expirationDate | date:'longDate'}}
            </p>
          </div>
          <div>
            <p>{{'GUEST_DETAILS.DOMAIN' | translate}}</p>
            <p>
              {{'NC' | translate }}
            </p>
          </div>
          <div>
            <p>
              {{'GUEST_DETAILS.MY_SPACE' | translate}}:
            </p>
            <p x-ng-if="mainVm.sidebar.getData().selectedGuest.canUpload">
              {{'GUEST_DETAILS.ACTIVATED' | translate}}
            </p>
            <p x-ng-if="!mainVm.sidebar.getData().selectedGuest.canUpload">
              {{'GUEST_DETAILS.DEACTIVATED' | translate}}
            </p>
          </div>
          <div>
            <p>
              {{'GUEST_DETAILS.RESTRICTED_CONTACTS' | translate}}:
            </p>
            <p x-ng-hide="linshareModeProduction" x-ng-if="mainVm.sidebar.getData().selectedGuest.restricted &&
                !mainVm.sidebar.getData().selectedGuest.form.isRestrictedContact">
              <a>
                {{'GUEST_DETAILS.JOIN_RESTRICTED_CONTACT_LIST' | translate}}
              </a>
            </p>
            <p x-ng-if="mainVm.sidebar.getData().selectedGuest.restricted &&
                mainVm.sidebar.getData().selectedGuest.form.isRestrictedContact">
              {{'GUEST_DETAILS.ALREADY_A_MEMBER' | translate}}
            </p>
            <p x-ng-if="!mainVm.sidebar.getData().selectedGuest.restricted">
              {{'GUEST_DETAILS.DEACTIVATED' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="meta-data-ctn"
           x-ng-show="mainVm.sidebar.getData().selectedGuest.owner.mail === mainVm.sidebar.getData().loggedUser.mail
                      && mainVm.sidebar.getData().selectedGuest.restricted ">
        <h2 class="subheader">
          <i class="groups-user-group"></i> {{'GUEST_DETAILS.AVAILABLE_CONTACTS' | translate}}
        </h2>
        <div class="meta-data-content m-t-20">
          <div x-ng-repeat="restrictedContact in mainVm.sidebar.getData().selectedGuest.restrictedContacts"
               class="custom-list-item" tooltip-placement="bottom" tooltip-popup-delay="700"
               uib-tooltip="restrictedContact.firstName restrictedContact.lastName : restrictedContact.domain">
            <p class="pull-left circle-ctn">
              <span class="circle user-bg">{{restrictedContact.firstName[0]}}</span>
            </p>
            <div class="pull-left name-recipients-ctn">
              <p class="pull-left inner-text-li">
                {{restrictedContact.firstName}} {{restrictedContact.lastName}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
