<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left back-button zmdi-hc-2x"
     x-ng-click="mainVm.sidebar.getData().loadSidebarContent(lsAppConfig.share)"></i>
  <h2 class="header-more-options">{{"RIGHT_PANEL.SHARE_OPTIONS.TITLE" | translate}}</h2>
  <span class="hidden-xs actions" x-ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
  </span>
</div>
<div class="card col-xs-12 m-t-2em" id="content-ctn-sidebar" x-ng-style="sizeSidebarRight">
  <form class="form-sidebar">
    <div class="form-group m-b-20">
      <label class="m-b-10">{{"RIGHT_PANEL.SHARE_OPTIONS.ADD_NOTE" | translate}} :</label>
      <textarea class="form-control comment" x-ng-model="shareActionVm.newShare.sharingNote" rows="5"
                placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ADD_NOTE_PLACEHOLDER' | translate}}">
      </textarea>
    </div>

    <div data-ng-if="shareActionVm.newShare.secured.enable && shareActionVm.newShare.secured.canOverride" class="col-xs-12 field-ctn">
      <div class="fg-line">
        <div class="form-inline">
          <label for="secureSharing">{{"RIGHT_PANEL.SHARE_OPTIONS.SECURE_SHARING" | translate}}:</label>
          <label class="checkbox checkbox-inline m-r-0">
            <input type="checkbox" name="secureSharing"
                   x-ng-disabled="!shareActionVm.newShare.secured.canOverride"
                   x-ng-model="shareActionVm.newShare.secured.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div data-ng-show="shareActionVm.newShare.creationAcknowledgement.enable &&
         shareActionVm.newShare.creationAcknowledgement.canOverride" class="col-xs-12 field-ctn">
      <div class="fg-line date-picker input-group dp-blue"
           x-ng-class="{'is-opened': mainVm.sidebar.getData().dateStartOpened}">
        <div class="form-inline">
          <label for="SharingNotification">{{"RIGHT_PANEL.SHARE_OPTIONS.SHARING_ACKNOWLEDGEMENT" | translate}}:</label>
          <label class="checkbox checkbox-inline m-r-0">
            <input type="checkbox" name="SharingNotification"
                   x-ng-disabled="!shareActionVm.newShare.creationAcknowledgement.canOverride"
                   x-ng-model="shareActionVm.newShare.creationAcknowledgement.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div data-ng-show="shareActionVm.newShare.enableUSDA.enable && shareActionVm.newShare.enableUSDA.canOverride"
         class="col-xs-12 field-ctn">
      <div class="fg-line">
        <div class="form-inline">
          <label for="nonDownloadedNotification">{{"RIGHT_PANEL.SHARE_OPTIONS.USDA" | translate}}:</label>
          <label class="checkbox checkbox-inline m-r-0">
            <input type="checkbox" name="nonDownloadedNotification"
                   x-ng-disabled="!shareActionVm.newShare.enableUSDA.canOverride"
                   x-ng-model="shareActionVm.newShare.enableUSDA.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
      <div data-ng-show="shareActionVm.newShare.enableUSDA.value && shareActionVm.newShare.enableUSDA.enable && shareActionVm.newShare.enableUSDA.canOverride &&
           shareActionVm.newShare.notificationDateForUSDA.canOverride"
           class="col-xs-12 field-ctn indented-form-dependency" id="dateField">
        <label for="notificationDate">
          {{"RIGHT_PANEL.SHARE_OPTIONS.NOTIFICATION_DATE" | translate}}:
        </label>
        <!--
          TODO: The directive shall be refactored with a proper template and passing different options.
                See app/modules/linshare.components/fileSearchComponent/fileSearchDirective.js for working-date-picker
        -->
        <div class="datepicker-border-fix date-picker dp-blue datepicker-drop-right"
             data-ng-class="{'is-opened': opened2 == true}">
          <div class="fg-line datepicker-ctn" data-ng-class="{'fg-toggled': opened2 == true}">
            <div class="form-inline">
              <input working-date-picker data-ng-click="open($event, 'opened2')" type="text"
                     class="form-control  date-picker-input" datepicker-popup="{{format}}"
                     show-weeks="false"
                     is-open="opened2" datepicker-options="dateOptions"
                     data-ng-required="true" close-text="Close"
                     placeholder="{{shareActionVm.newShare.notificationDateForUSDA.value | date: 'medium'}}"
                     min-date="shareActionVm.newShare.getMinDate()"
                     min="{{shareActionVm.newShare.getMinDate() | date: 'fullDate'}}"
                     max-date="shareActionVm.newShare.notificationDateForUSDA.value"
                     max="{{shareActionVm.newShare.notificationDateForUSDA.value | date: 'fullDate'}}"
                     data-ng-disabled="!shareActionVm.newShare.notificationDateForUSDA.canOverride"
                     data-ng-model="shareActionVm.newShare.notificationDateForUSDA.value"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="bottom-sidebar-btn">
  <button class="btn btn-default col-xs-6" x-ng-click="mainVm.sidebar.hide(); mainVm.sidebar.getData().closeDropdown($event)">
    {{"NAVIGATION.CANCEL" | translate}}
  </button>
  <button class="btn btn-primary col-xs-6"
          x-ng-click="shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
    {{"NAVIGATION.SHARE" | translate}}
  </button>
</div>


