<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" data-ng-click="mainVm.sidebar.hide()"></i>
  <h2 class="header-more-options">{{"SIDEBAR.TITLE.CREATE" | translate}}</h2>
  <span class="hidden-xs actions" x-ng-click="mainVm.sidebar.hide(createGuest, mainVm.sidebar.getData().guestObject)">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
  </span>
</div>
<div ls-guest-form x-guest-object="mainVm.sidebar.getData().guestObject" x-form-name="createGuest"
     class="form-within-sidebar">
</div>
<!-- UPDATE BTN links-->
<div class="bottom-sidebar-btn form-within-sidebar">
  <button class="btn btn-default col-xs-6"
          x-ng-click="mainVm.sidebar.hide(createGuest, mainVm.sidebar.getData().guestObject);
                      mainVm.sidebar.getData().closeDropdown($event)">
    {{"SIDEBAR.BUTTON.CANCEL" | translate}}
  </button>
  <button class="btn btn-primary col-xs-6"
          x-ng-click="mainVm.sidebar.getData().addGuest(createGuest, mainVm.sidebar.getData().guestObject)">
    {{"SIDEBAR.BUTTON.CREATE" | translate}}
  </button>
</div>
