<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" x-ng-click="mainVm.sidebar.hide();"></i>
  <h2 class="header-more-options set-ellipsis"> {{mainVm.sidebar.getData().currentSelectedDocument.current.name}}</h2>
  <span class="hidden-xs actions" x-ng-click="mainVm.sidebar.hide()">
    <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
  </span>
</div>

<div id="profile-main" class="detail-workgroup">
  <div class="p-relative m-b-20 img-preview-ctn">
    <p x-ng-show="mainVm.sidebar.getData().currentSelectedDocument.current.hasThumbnail === true" href="">
      <img class="img-responsive"
           x-ng-src="data:image/png;base64,{{mainVm.sidebar.getData().currentSelectedDocument.current.thumbnail}}" alt=""/>
    </p>
    <div class="np-preview-ctn"
         x-ng-hide="mainVm.sidebar.getData().currentSelectedDocument.current.hasThumbnail === true">
      <i class="fa fa-eye-slash no-preview" aria-hidden="true"></i>
      <p>{{"RIGHT_PANEL.DETAILS.NO_PREVIEW" | translate}}</p>
    </div>
  </div>
  <div title="{{'WIP' | translate}}" class="m-b-10">
    <div class="description-ctn form-sidebar disabled">
      <div contenteditable="true" class="comment"
           x-ng-focus="mainVm.sidebar.getData().slideTextarea($event)"
           x-ng-blur="mainVm.sidebar.getData().slideUpTextarea($event)"
           x-ng-keyup="mainVm.sidebar.getData().setTextInput($event);"></div>
      <span>{{'INFORMATION_TAB.INSERT_DESCRIPTION' | translate}}</span>
      <div class="edit-description">
        <i class="zmdi zmdi-edit"></i>
      </div>
    </div>
  </div>
  <!-- TODO: Set the appropriate action links -->
  <div class="visible-xs clearfix sidebar-toolbar">
    <ul class="actions col-xs-12">
      <li x-ng-click="mainVm.sidebar.getData().showCurrentFile(mainVm.sidebar.getData().documentFile,$event)"
          event-propagation-stop class="col-xs-3">
        <a href=""  x-ng-click="deleteDocuments(documentFile)"
           title="{{'ACTION.DELETE' | translate}}">
          <i class="zmdi zmdi-download col-xs-2"></i>
        </a>
      </li>
      <li class="col-xs-3">
        <a href="" title="{{'BOUTON_LABEL_TITLE.SHARE' | translate}}" event-propagation-stop="true"
           x-ng-click="mainVm.sidebar.getData().onShare()">
          <i class="zmdi zmdi-delete col-xs-2"></i>
        </a>
      </li>
      <li class="col-xs-3">
        <a>
          <i class="zmdi zmdi-arrows col-xs-2 disabled-work-in-progress"></i>
        </a>
      </li>
      <li class="col-xs-3" >
        <a class="dropdown disabled-work-in-progress">
          <i class="zmdi zmdi-more-vert" x-ng-class="{'active-link': isActiveMoreDropdown }"
             x-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown" uib-dropdown-toggle=""></i>
          <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left"
              uib-dropdown-menu="">
            <li class="hidden-xs" x-ng-show="sharedSpaceListVm.selectedDocuments.length === 1"
                x-ng-click="sharedSpaceListVm.loadSidebarContent(sharedSpaceListVm.workgroupDetailFile)">
              <a href="" event-propagation-stop>
                <i class="zmdi zmdi-info-outline "></i>
                {{'ACTION.INFORMATION' | translate}}
              </a>
            </li>
            <li x-ng-show="!linshareModeProduction">
              <a href="" event-propagation-stop>
                <i class="zmdi zmdi-star"></i>
                {{'ACTION.FAVORITES' | translate}}
              </a>
            </li>
            <li class="divider"></li>
            <li x-ng-if="!linshareModeProduction">
              <a href="" event-propagation-stop>
                <i class="zmdi zmdi-time-restore"></i>
                {{'ACTION.VIEW_VERSIONING' | translate}}
              </a>
            </li>
            <li class="divider" x-ng-if="!linshareModeProduction"></li>
            <li x-ng-show="!linshareModeProduction">
              <a href="" event-propagation-stop>
                <i class="zmdi zmdi-lock"></i>
                {{'ACTION.LOCK' | translate}}
              </a>
            </li>
            <li x-ng-show="!linshareModeProduction">
              <a href="" event-propagation-stop>
                <i class="groups-lock-download-alt"></i>
                {{'ACTION.EXTERNAL_EDIT' | translate}}
              </a>
            </li>
            <li class="divider" x-ng-if="!linshareModeProduction" ></li>
            <li x-ng-if="!linshareModeProduction" x-ng-show="sharedSpaceListVm.selectedDocuments.length == 1">
              <a x-ng-click="sharedSpaceListVm.selectedDocuments[0].type ? sharedSpaceListVm.renameItem(sharedSpaceListVm.selectedDocuments[0]) : sharedSpaceListVm.renameFolder(sharedSpaceListVm.selectedDocuments[0], false)">
                <i class="zmdi zmdi-border-color"></i>
                {{'ACTION.RENAME' | translate}}
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href=""><i class="zmdi zmdi-copy"></i>{{'ACTION.COPY_DROPDOWN.SIMPLE_COPY' | translate}}</a>
            </li>
            <li x-ng-show="!linshareModeProduction">
              <a href=""><i class="fa fa-files-o"></i>{{'ACTION.COPY_DROPDOWN.COPY_TO_MY_FILES' | translate}}</a>
            </li>
            <li x-ng-show="!linshareModeProduction">
              <a href=""><i class="zmdi zmdi-share"></i>{{'ACTION.COPY_DROPDOWN.COPY_AND_SHARE' | translate}}</a>
            </li>
          </ul>
        </a>
      </li>
    </ul>
  </div>
  <div class="content-detail-area">
    <div class="flex-ctn detail-info-ctn">
      <div class="item-l">
        <span class="first-letter">{{'UNKNOWN_FIRST_LETTER' | translate}}</span>
      </div>
      <div class="item-mid">
        <div class="name">{{'UNKNOWN_USER' | translate}}</div>
        <div class="info-item-member">
            <span class="ng-binding">{{'INFORMATION_TAB.UPTADED_THE' | translate}} :
              {{mainVm.sidebar.getData().currentSelectedDocument.current.modificationDate | date: mainVm.sidebar.getData().lsFormat()}}
            </span>
        </div>
      </div>
      <div class="item-r actions">
        <span>{{mainVm.sidebar.getData().currentSelectedDocument.current.size | readableSize: false}}</span>
        <span class="seperator-inline">|</span>
        <span title="{{mainVm.sidebar.getData().currentSelectedDocument.current.type}}">
            {{mainVm.sidebar.getData().currentSelectedDocument.current.name | getextension}}
          </span>
      </div>
    </div>

    <div class="meta-data-ctn">
      <h2 class="subheader">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        {{'INFORMATION_TAB.META_DATA' | translate}}
      </h2>
      <div class="meta-data-content">
        <div>
          <p>{{'INFORMATION_TAB.CREATED_THE' | translate}}:</p>
          <p>{{mainVm.sidebar.getData().currentSelectedDocument.current.creationDate | date:
            mainVm.sidebar.getData().lsFormat()}}</p>
        </div>
        <div x-ng-if="mainVm.sidebar.getData().linshareModeProduction == false">
          <p>{{'INFORMATION_TAB.PREVIOUS_UPDATE' | translate}}:</p>
          <p>0 {{'INFORMATION_TAB.VERSIONS' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
