<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x"
     x-ng-click="mainVm.sidebar.getData().loadSidebarContent(lsAppConfig.share)"></i>
  <h2 class="header-more-options">{{"RIGHT_PANEL.SHARE_OPTIONS.TITLE" | translate}}</h2>
  <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" x-ng-click="mainVm.sidebar.hide();"></i>
    </span>
</div>
<div class="card col-xs-12 m-t-2em" id="content-ctn-sidebar" x-ng-style="sizeSidebarRight">
  <form class="form-sidebar">
    <div class="form-group m-b-20">
      <label>{{"RIGHT_PANEL.SHARE_OPTIONS.ADD_NOTE" | translate}} :</label>
      <textarea class="form-control comment" x-ng-model="shareActionVm.newShare.sharingNote" rows="5"
                placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ADD_NOTE_PLACEHOLDER' | translate}}">
      </textarea>
    </div>

    <div x-ng-show="shareActionVm.newShare.secured.enable" class="col-xs-12 field-ctn">
      <div class="fg-line">
        <div class="form-inline">
          <label for="secureSharing">{{"RIGHT_PANEL.SHARE_OPTIONS.SECURE_SHARING" | translate}}:</label>
          <label class="checkbox checkbox-inline m-r-0">
            <input type="checkbox" name="secureSharing" x-ng-checked="true"
                   x-ng-disabled="!shareActionVm.newShare.secured.canOverride"
                   x-ng-model="shareActionVm.newShare.secured.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div x-ng-show="shareActionVm.newShare.creationAcknowledgement.enable" class="col-xs-12 field-ctn">
      <div class=" fg-line date-picker input-group dp-blue"
           x-ng-class="{'is-opened': mainVm.sidebar.getData().dateStartOpened}">
        <div class="form-inline">
          <label for="SharingNotification">{{"RIGHT_PANEL.SHARE_OPTIONS.SHARING_ACKNOWLEDGEMENT" | translate}}:</label>
          <label class="checkbox checkbox-inline m-r-0">
            <input type="checkbox" name="SharingNotification"
                   x-ng-disabled="!shareActionVm.newShare.creationAcknowledgement.canOverride"
                   x-ng-model="shareActionVm.newShare.creationAcknowledgement.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div x-ng-show="shareActionVm.newShare.enableUSDA.enable" class="col-xs-12 field-ctn">
      <div class="fg-line">
        <div class="form-inline">
          <label for="nonDownloadedNotification">{{"RIGHT_PANEL.SHARE_OPTIONS.USDA" | translate}}:</label>
          <label class="checkbox checkbox-inline m-r-0">
            <input type="checkbox" name="nonDownloadedNotification" x-ng-checked="true"
                   x-ng-disabled="!shareActionVm.newShare.enableUSDA.canOverride"
                   x-ng-model="shareActionVm.newShare.enableUSDA.value"/>
            <i class="input-helper"></i>
          </label>
        </div>
      </div>
    </div>
    <div x-ng-show="shareActionVm.newShare.enableUSDA.value" class="col-xs-12 field-ctn" id="dateField">
      <label for="notificationDate">
        {{"RIGHT_PANEL.SHARE_OPTIONS.NOTIFICATION_DATE" | translate}}:
      </label>
      <!--
        TODO: The directive shall be refactored with a proper template and passing different options. 
              See app/modules/linshare.components/fileSearchComponent/fileSearchDirective.js for working-date-picker 
      -->
      <div class="datepicker-border-fix date-picker dp-blue datepicker-drop-right"
           x-ng-class="{'is-opened': opened2 == true}">
        <div class="fg-line datepicker-ctn" x-ng-class="{'fg-toggled': opened2 == true}">
          <div class="form-inline">
            <input working-date-picker x-ng-click="open($event, 'opened2')" type="text"
                   class="form-control  date-picker-input" datepicker-popup="{{format}}"
                   show-weeks="false"
                   is-open="opened2" min-date="minDate" datepicker-options="dateOptions"
                   x-ng-required="true" close-text="Close"
                   placeholder="{{shareActionVm.newShare.notificationDateForUSDA.value | date: 'medium'}}"
                   x-ng-disabled="!shareActionVm.newShare.notificationDateForUSDA.canOverride"
                   x-ng-model="newShare.notificationDateForUSDA.value"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="bottom-sidebar-btn">
  <button class="btn btn-default col-xs-6" x-ng-click="mainVm.sidebar.hide(); mainVm.sidebar.getData().closeDropdown($event)">
    {{"NAVIGATION.CANCEL" | translate}}
  </button>
  <button class="btn btn-primary col-xs-6"
          x-ng-click="shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
    {{"NAVIGATION.SHARE" | translate}}
  </button>
</div>


