<div class="header-sidebar form-sidebar header-show-action">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs"
     data-ng-click="shareActionVm.closeSideBar();
                    !mainVm.sidebar.getData().showCheckboxes && mainVm.sidebar.getData().resetSelectedDocuments()">
  </i>
  <span class="hidden-xs actions" data-ng-click="shareActionVm.closeSideBar()">
    <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
  </span>
  <h2 class="header-more-options" translate>RIGHT_PANEL.DETAILS.QUICK_SHARE</h2>
  <span class="hidden-xs actions"
        data-ng-click="
          mainVm.sidebar.getData().currentPage === shareActionVm.uploadPage ?
          mainVm.sidebar.getData().checkSharableFiles(shareActionVm.submitShare, shareActionVm.newShare) :
          shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
    <a><i class="zmdi zmdi-check zmdi-hc-lg"></i></a>
  </span>
  <span class="header-action-link waves-effect text-uppercase visible-xs"
        data-ng-click="
          mainVm.sidebar.getData().currentPage === shareActionVm.uploadPage ?
          mainVm.sidebar.getData().checkSharableFiles(shareActionVm.submitShare, shareActionVm.newShare) :
          shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
        <span class="zmdi zmdi-share"></span>
        <span translate>NAVIGATION.SHARE</span>
  </span>
</div>

<div class="num-items-section-ctn">
  <span>{{mainVm.sidebar.getData().lengthOfSelectedDocuments()}}</span>
  {{"RIGHT_PANEL.SHARE.SELECTED_FILES" | translate}}
  <a class="pull-right sidebar-link hidden-xs" href=""
     x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; mainVm.sidebar.getData().toggleFilterBySelectedFiles()"
     x-ng-show="!activeBtnShowSelection">
    {{"RIGHT_PANEL.SHARE.SHOW_SELECTED_FILES" | translate}}
  </a>
  <a class="pull-right sidebar-link hidden-xs" href=""
     x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; mainVm.sidebar.getData().toggleFilterBySelectedFiles()"
     x-ng-show="activeBtnShowSelection">
    {{"RIGHT_PANEL.SHARE.UNHIDE_FILES" | translate}}
  </a>
</div>
<div class="card col-xs-12 form-within-sidebar create-share scrollable-sidebar-area" id="content-ctn-sidebar">
  <div class="custom-list-container clearfix">
    <div class="recipients-form-sections clearfix">
      <h2 class="pull-left headerSubCtn">
        {{"RIGHT_PANEL.SHARE.RECIPIENTS" | translate}}</h2><span class="required-field-hint">*</span>
      <div x-ng-if="mainVm.sidebar.getData().linshareModeProduction == false"
           class="dropdown dropdown-standard popOverForm savelistBtn" uib-dropdown is-open="false"
           on-toggle="toggled()">
        <a href="" class="dropdown-toggle sidebar-link" uib-dropdown-toggle x-ng-disabled="disabled"
           alt="{{'RIGHT_PANEL.SHARE.CREATE_MAILING_LIST_ALT' | translate}}">
          {{"RIGHT_PANEL.SHARE.CREATE_MAILING_LIST" | translate}}
        </a>
        <div class="dropdown-menu pull-right">
          <div class="stop-propagate">
            <p class="labelListCtn">
              <input type="email" class="form-control input-sm" id="labelList"
                     placeholder="Saisissez le nom de votre liste">
            </p>
            <md-divider></md-divider>
          </div>
          <div>
            <button class="btn btn-default col-xs-6" x-ng-click="mainVm.sidebar.getData().closeDropdown($event)">
              {{"NAVIGATION.CANCEL" | translate}}
            </button>
            <button class="btn btn-primary col-xs-6" x-ng-click="mainVm.sidebar.getData().createRecipientList($event)">
              {{"NAVIGATION.SEND" | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <form role="form" class="clearfix">
      <div class="form-group fg-line">
        <div ls-autocomplete-user="SHARING" data-on-select-function="shareActionVm.newShare.addRecipient"></div>
      </div>
    </form>
    <div class="custom-list-body col-xs-12 ">
      <div class="custom-list-item"
           x-ng-repeat="recipient in shareActionVm.newShare.getRecipients() | orderBy : '-' as results"
           tooltip-placement="bottom" tooltip-popup-delay="700"
           uib-tooltip="{{recipient.firstName + ' ' + recipient.lastName +' : '+recipient.mail || recipient.domain}}">
        <p class="pull-left circle-ctn">
          <span x-ng-show="recipient.domain" class="circle  user-bg">{{recipient.firstName.charAt(0)}}</span>
          <span x-ng-show="!recipient.domain" class="circle  user-bg">{{recipient.mail.charAt(0).toUpperCase()}}</span>
        </p>
        <div class="pull-left name-recipients-ctn">
          <p x-ng-show="recipient.domain" class="pull-left inner-text-li">
            {{recipient.firstName + ' ' + recipient.lastName}}
          </p>
          <p x-ng-show="!recipient.domain" class="pull-left inner-text-li">
            {{recipient.mail}}
          </p>
          <p class="close-list-icone-btn pull-right"
             x-ng-click="shareActionVm.newShare.removeRecipient(results.length - $index -1)">
            <i class="zmdi zmdi-close "></i>
          </p>
        </div>
      </div>
      <div class="custom-list-item" x-ng-repeat="list in shareActionVm.newShare.getMailingList()"
           tooltip-placement="bottom" tooltip-popup-delay="700" uib-tooltip=""
           owner-label
           owner-label-user="{firstName: list.ownerFirstName, lastName: list.ownerLastName, mail: list.ownerMail}"
           owner-label-attr="uib-tooltip">
        <p class="pull-left circle-ctn"><span class="circle user-bg"><i class="ls-contact-list-item"></i></span></p>
        <div class="pull-left name-recipients-ctn">
          <p class="pull-left inner-text-li">{{list.listName}}</p>
          <p class=" close-list-icone-btn pull-right" x-ng-click="shareActionVm.newShare.removeMailingList($index)">
            <i class="zmdi zmdi-close"></i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="recipients-form-sections clearfix">
    <div class="custom-header-list">
      <h2 class="pull-left headerSubCtn">
        {{"RIGHT_PANEL.SHARE.SETTINGS" | translate}}
      </h2>
      <a class="more-options sidebar-link" href=""
         x-ng-click="mainVm.sidebar.getData().loadSidebarContent(mainVm.sidebar.getData().lsAppConfig.moreOptions)">
        {{"RIGHT_PANEL.SHARE.MORE_OPTIONS" | translate}}
      </a>
    </div>
    <div data-ng-show="shareActionVm.newShare.expirationDate.enable && shareActionVm.newShare.expirationDate.canOverride"
         class="col-xs-12 field-ctn clearfix"
         id="dateField">
      <label for="comment" class="labelDateExpiration col-xs-6 no-padding">
        {{"RIGHT_PANEL.DETAILS.EXPIRATION_DATE" | translate}}:
      </label>
      <!--
        TODO: The directive shall be refactored with a proper template and passing different options.
              See app/modules/linshare.components/fileSearchComponent/fileSearchDirective.js for working-date-picker
      -->
      <div class="datepicker-border-fix date-picker dp-blue col-xs-6 datepicker-drop-right"
           x-ng-class="{'is-opened': opened == true}">
        <div class="fg-line datepicker-ctn" x-ng-class="{'fg-toggled': opened == true}">
          <div class="form-inline">
            <input working-date-picker x-ng-click="open($event, 'opened')" type="text"
                   class="form-control date-picker-input" datepicker-popup="{{format}}"
                   show-weeks="false"
                   is-open="opened"
                   datepicker-options="mainVm.sidebar.getData().dateOptions"
                   data-ng-required="true" close-text="Close"
                   placeholder="{{shareActionVm.newShare.expirationDate.value | date: 'fullDate'}}"
                   min-date="shareActionVm.newShare.getMinDate()"
                   min="{{shareActionVm.newShare.getMinDate() | date: 'fullDate'}}"
                   max-date="shareActionVm.newShare.expirationDate.value"
                   max="{{shareActionVm.newShare.expirationDate.value | date: 'fullDate'}}"
                   data-ng-disabled="!shareActionVm.newShare.expirationDate.canOverride"
                   data-ng-model="shareActionVm.newShare.expirationDate.value"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-sidebar">

      <div class="form-group col-xs-12 addNote no-padding">
        <div class="form-group fg-line">
          <div class="form-inline">
            <label for="mailCustum">{{"RIGHT_PANEL.SHARE_OPTIONS.ATTACH_EMAIL" | translate}}</label>
            <label class="checkbox checkbox-inline">
              <input type="checkbox" name="mailCustum" x-ng-checked="custumMailInput"
                     x-ng-model="mainVm.sidebar.getData().mailCustum" x-ng-click="custumMailInput = !custumMailInput"/>
              <i class="input-helper"></i>
            </label>
          </div>
        </div>
        <div class="css-slide-up col-xs-12 " x-ng-hide="!custumMailInput">
          <div class="form-group clearfix fg-line">
            <input type="text" class="form-control input-sm"
                   x-ng-model="shareActionVm.newShare.subject"
                   placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_SUBJECT' | translate}}">
          </div>
          <textarea class="form-control comment" rows="5"
                    placeholder="{{'RIGHT_PANEL.SHARE_OPTIONS.ATTACHED_EMAIL_BODY_PLACEHOLDER' | translate}}"
                    x-ng-model="shareActionVm.newShare.message">
          </textarea>
        </div>
        <md-divider class="col-xs-12 mailDivider hidden-xs" md-inset=""></md-divider>
      </div>
    </div>
  </div>
</div>
<div class="bottom-sidebar-btn form-within-sidebar" id="bottom-sidebar-ctn">
  <button class="btn btn-default col-xs-6"
          x-ng-click="shareActionVm.closeSideBar(); mainVm.sidebar.getData().closeDropdown($event);
          !mainVm.sidebar.getData().showCheckboxes && mainVm.sidebar.getData().resetSelectedDocuments()">
    {{"NAVIGATION.CANCEL" | translate}}
  </button>
  <button class="btn btn-primary col-xs-6"
          x-ng-click="
          mainVm.sidebar.getData().currentPage === shareActionVm.uploadPage ?
          mainVm.sidebar.getData().checkSharableFiles(shareActionVm.submitShare, shareActionVm.newShare) :
          shareActionVm.submitShare(shareActionVm.newShare, mainVm.sidebar.getData().selectedDocuments,
                      mainVm.sidebar.getData().selectedUploads)">
    {{"NAVIGATION.SHARE" | translate}}
  </button>
</div>
