<div id="member-sidebar">
  <div class="header-sidebar">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs"
       data-ng-click="mainVm.sidebar.hide();">
    </i>
    <h2 class="header-more-options setEllipsis"> {{mainVm.sidebar.getData().currentSelectedDocument.current.name}}</h2>
    <span class="hidden-xs actions" data-ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
  </div>

  <div data-ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail">
    <md-content>
      <md-tabs md-selected="mainVm.sidebar.getData().mdtabsSelection.selectedIndex" md-dynamic-height=""
               md-border-bottom="">
        <md-tab id="tab1" data-ng-if="mainVm.sidebar.getData().currentPage === 'group_list' ||
        mainVm.sidebar.getData().currentPage === 'workgroup_nodes'"
                label="{{'INFORMATION_TAB.TITLE' | translate}}"
                class="col-xs-4 noPadding">
          <md-content>
            <div data-ng-include="'directives/sidebar-content/sidebar-content-workgroup-details.html'"></div>
          </md-content>
        </md-tab>
        <md-tab id="tab2" label="{{'MEMBER_TAB.TITLE' | translate}}" class="col-xs-4 noPadding disabled">
          <md-content class="md-padding">
            <div data-ng-include="'directives/sidebar-content/sidebar-content-workgroup-members.html'"></div>
          </md-content>
        </md-tab>
        <md-tab id="tab3" label="{{'ACTIVITIES' | translate}}" class="col-xs-4 noPadding disabled">
          <md-content class="md-padding">
            <p class="empty-res"
               data-ng-if="!mainVm.sidebar.getData().currentSelectedDocument.current.auditActions.length">
              <i class="zmdi zmdi-info-outline"></i><span translate>NO_AUDIT</span>
            </p>
            <div data-ng-repeat="auditAction in mainVm.sidebar.getData().currentSelectedDocument.current.auditActions"
                 audit-details="{{auditAction}}" class="audit-card"></div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
