<div id="member-sidebar">
  <div class="header-sidebar">
    <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs" x-ng-click="mainVm.sidebar.hide()" ></i>
    <h2 class="header-more-options set-ellipsis"> {{mainVm.sidebar.getData().currentWorkGroup.name}}</h2>
    <span class="hidden-xs actions" x-ng-click="mainVm.sidebar.hide()">
      <a><i class="zmdi zmdi-close zmdi-hc-lg"></i></a>
    </span>
  </div>
  <div x-ng-cloak="" class="tabs-demo-static-tabs tab-nav-detail" x-ng-class="{'two-tabs': mainVm.sidebar.getData().currentPage !== 'my_files'}">
    <md-content>
      <md-tabs md-selected="mainVm.sidebar.getData().selectedIndex" md-dynamic-height="" md-border-bottom="">
        <md-tab id="tab1" x-ng-if="mainVm.sidebar.getData().currentPage == 'group_list'"
                label="{{'INFORMATION_TAB.TITLE' | translate}}"
                class="col-xs-4 noPadding">
          <md-content>
            <div>
              <div id="profile-main" class="detail-workgroup">
                <div class="p-relative m-b-20 img-preview-ctn">
                  <div class="np-preview-ctn">
                    <i class="fa fa-eye-slash no-preview" aria-hidden="true"></i>
                    <p>{{"RIGHT_PANEL.DETAILS.NO_PREVIEW" | translate}}</p>
                  </div>
                </div>
                <div class="description-ctn form-sidebar">
                  <div contenteditable="false" class="comment"
                       x-ng-focus="mainVm.sidebar.getData().slideTextarea($event)"
                       x-ng-blur="mainVm.sidebar.getData().slideUpTextarea($event)"
                       x-ng-keyup="mainVm.sidebar.getData().setTextInput($event);"></div>
                  <span>{{'INFORMATION_TAB.INSERT_DESCRIPTION' | translate}}</span>
                  <div class="edit-description">
                    {{mainVm.sidebar.getData().currentSelectedDocument.current.description}}
                    <i class="zmdi zmdi-edit"></i>
                  </div>
                </div>
                <div class="content-detail-area">
                  <div class="flex-ctn detail-info-ctn">
                    <div class="item-l">
                      <span class="first-letter user-info">
                       {{'UNKNOWN_FIRST_LETTER' | translate}}
                      </span>
                    </div>
                    <div class="item-mid">
                      <div class="name">{{'UNKNOWN_USER' | translate}}</div>
                      <div class="info-item-member" tooltip-placement="bottom" tooltip-popup-delay="500"
                           uib-tooltip="{{mainVm.sidebar.getData().currentWorkGroup.modificationDate | date : mainVm.sidebar.getData().lsFullDateFormat()}}">
                        <span>{{'INFORMATION_TAB.UPTADED_THE' | translate}} :
                          {{mainVm.sidebar.getData().currentWorkGroup.modificationDate | date: mainVm.sidebar.getData().lsFormat()}}
                        </span>
                      </div>
                    </div>
                    <div class="item-r actions">
                      <span title="{{'DETAILS.FULL_SIZE' | translate}}">n.c Kib</span>
                      <span class="seperator-inline">|</span>
                      <span title="{{'DETAILS.TRASH_FULL_SIZE' | translate}}">
                        <i class="fa fa-trash-o inner-icon"></i>
                        n.c Kib
                      </span>
                    </div>
                  </div>
                  <div class="meta-data-ctn">
                    <h2 class="subheader">
                      <i class="fa fa-file-text" aria-hidden="true"></i>
                      {{'INFORMATION_TAB.META_DATA' | translate}}
                    </h2>
                    <div class="meta-data-content">
                      <div>
                        <p>
                          {{'INFORMATION_TAB.CREATED_THE' | translate}}:
                        </p>
                        <p tooltip-placement="bottom" tooltip-popup-delay="500"
                           uib-tooltip="{{mainVm.sidebar.getData().currentSelectedDocument.current.creationDate | date : mainVm.sidebar.getData().lsFullDateFormat()}}">
                          {{mainVm.sidebar.getData().currentWorkGroup.creationDate | date : mainVm.sidebar.getData().lsFormat()}}
                        </p>
                      </div>
                      <div>
                        <p>{{'MEMBER_TAB.TITLE' | translate}}</p>
                        <p x-ng-click="mainVm.sidebar.getData().nextTab()">
                          <a>{{mainVm.sidebar.getData().currentWorkGroup.members.length}}
                            {{'MEMBER_TAB.TITLE' | translate}}
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab id="tab2" label="{{'MEMBER_TAB.TITLE' | translate}}" class="col-xs-4 no-padding disabled">
          <md-content class="md-padding">
            <div class="lv-body stop-propagate">
              <div class="lv-item">
                <div class="card col-xs-12" id="content-ctn-sidebar">
                  <div class="custom-list-container clearfix">
                    <div class="recipients-form-sections clearfix">
                      <h2 class="pull-left headerSubCtn">
                        <span class="groups-add-member"></span>
                        {{"MEMBER_TAB.ADD_MEMBER" | translate}}
                      </h2>
                    </div>
                    <form role="form" class="clearfix fields-add-member">
                      <div class="form-group fg-line group-member-field-ctn col-xs-12 no-padding">
                        <div  class="col-xs-8 pull-left" ls-autocomplete-user="THREAD_MEMBERS"
                              data-ls-complete-thread-uuid="{{mainVm.sidebar.getData().workgroupUuid}}"
                              data-on-select-function="mainVm.sidebar.getData().addMember"
                              data-selected-users-list="mainVm.sidebar.getData().workgroupMembers"></div>
                        <div class="select-chosen-ctn col-xs-3 no-padding pull-right">
                          <select name="rights_select" id="rights_select" chosen
                                  data-placeholder-text-single="'{{'MEMBER_TAB.WRITE' | translate}}'"
                                  disable-search="true"
                                  allow-single-deselect="true"
                                  x-ng-model="mainVm.sidebar.getData().memberRole">
                            <option x-ng-repeat="role in mainVm.sidebar.getData().membersRights" value="{{role}}">
                              {{'MEMBER_TAB.'+ role | translate}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <button class="btn btn-primary add-btn btn-block"
                              x-ng-if="mainVm.sidebar.getData().isExistingMember === false">
                        {{'MEMBER_TAB.ADD' | translate}}
                      </button>
                      <button class="btn btn-primary update-btn btn-block"
                              x-ng-if="mainVm.sidebar.getData().isExistingMember === true">
                        {{'MEMBER_TAB.UPDATE' | translate}}
                      </button>
                    </form>
                  </div>
                  <div class="recipients-form-sections clearfix">
                    <div class="custom-header-list">
                      <h2 class="pull-left headerSubCtn"><i><span class="groups-user-group"></span></i>
                        <span>{{mainVm.sidebar.getData().lengthOfSelectedDocuments()}}</span> {{"MEMBER_TAB.NUM_MEMBER" |
                        translate}}
                      </h2>
                    </div>
                    <div class="form-sidebar clearfix">
                      <form role="form" class="fields-search-member">
                        <div class="search-style">
                          <div class="fg-line">
                            <input type="text" class="form-control"
                                   autocomplete="off"
                                   x-ng-model="mainVm.sidebar.getData().membersSearchFilter.$"
                                   placeholder="{{'COMPONENTS.AUTOCOMPLETE_USERS.INPUT_PLACEHOLDER' | translate}}"
                                   x-ng-change="mainVm.sidebar.getData().updateParams()">
                          </div>
                        </div>
                        <div class="dropdown-filters">
                          <span uib-dropdown dropdown-append-to-body class="dropdown link-dropdown"
                                auto-close="outsideClick">
                            <a class="plain-text-button share-link"  href="javascript:void(0)"
                               uib-dropdown-toggle title="{{'BOUTON_LABEL_TITLE.MORE_ACTIONS' | translate}}">
                              <i class="zmdi zmdi-settings"></i>
                            </a>
                            <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right dm-icon double-drop">
                              <div class="list-menu">
                                <p>{{"SELECTION_TOOLBAR.ORDER_BY" | translate}}</p>
                                <ul class="dropdown-menu dm-icon ">
                                  <li role="menuitem" x-ng-if="mainVm.sidebar.getData().linshareModeProduction === false">
                                    <a href="" class="selected-sorting-members"
                                       x-ng-click="mainVm.sidebar.getData().sortSearchMember($event)">
                                      <span class="caret-area">
                                        <i x-ng-show="mainVm.sidebar.getData().toggleSelectedSortMembers"
                                           class="zmdi zmdi-caret-down"></i>
                                        <i x-ng-show="!mainVm.sidebar.getData().toggleSelectedSortMembers"
                                           class="zmdi zmdi-caret-up"></i>
                                      </span>
                                     {{'MEMBER_TAB.JOINING_DATE' | translate}}
                                    </a>
                                  </li>
                                  <li role="menuitem">
                                    <a href=""
                                       x-ng-class="{'selected-sorting-members': mainVm.sidebar.getData().propertyOrderBy === 'firstName'}"
                                       x-ng-click="mainVm.sidebar.getData().changePropertyOrderBy('firstName')">
                                      <span class="caret-area">
                                        <i x-ng-show="mainVm.sidebar.getData().propertyOrderByAsc"
                                           class="zmdi zmdi-caret-down"></i>
                                        <i x-ng-show="!mainVm.sidebar.getData().propertyOrderByAsc"
                                           class="zmdi zmdi-caret-up"></i>
                                      </span>
                                     {{'MEMBER_TAB.SORT_MEMBER.FIRSTNAME' | translate}}
                                    </a>
                                  </li>
                                  <li role="menuitem">
                                    <a href=""
                                       x-ng-class="{'selected-sorting-members': mainVm.sidebar.getData().propertyOrderBy === 'lastName'}"
                                       x-ng-click="mainVm.sidebar.getData().changePropertyOrderBy('lastName')">
                                      <span class="caret-area">
                                        <i x-ng-show="mainVm.sidebar.getData().propertyOrderByAsc"
                                           class="zmdi zmdi-caret-down"></i>
                                        <i x-ng-show="!mainVm.sidebar.getData().propertyOrderByAsc"
                                           class="zmdi zmdi-caret-up"></i>
                                      </span>
                                      {{'MEMBER_TAB.SORT_MEMBER.LASTNAME' | translate}}
                                    </a>
                                  </li>
                                  <li role="menuitem">
                                    <a href=""
                                       x-ng-class="{'selected-sorting-members': mainVm.sidebar.getData().propertyOrderBy === 'role'}"
                                       x-ng-click="mainVm.sidebar.getData().changePropertyOrderBy('role')">
                                      <span class="caret-area">
                                       <i x-ng-show="mainVm.sidebar.getData().propertyOrderByAsc"
                                          class="zmdi zmdi-caret-down"></i>
                                        <i x-ng-show="!mainVm.sidebar.getData().propertyOrderByAsc"
                                           class="zmdi zmdi-caret-up"></i>
                                      </span>
                                      {{'MEMBER_TAB.USER_RIGHTS' | translate}}
                                    </a>
                                  </li>
                                </ul>
                              </div>
                              <div class="list-menu">
                                <p>{{"MEMBER_TAB.FILTER_BY" | translate}}</p>
                                <ul class="dropdown-menu dm-icon filter-menu">
                                  <li>
                                    <a href=""
                                       x-ng-class="{'active-check': mainVm.sidebar.getData().membersSearchFilter.role === 'admin'}"
                                       x-ng-click="mainVm.sidebar.getData().changeFilterByProperty('admin')">
                                      <span class="checkbox-ctn"></span>
                                      {{"MEMBER_TAB.ADMIN_RIGHTS" | translate}}
                                    </a>
                                  </li>
                                  <li>
                                    <a href=""
                                       x-ng-class="{'active-check': mainVm.sidebar.getData().membersSearchFilter.role === 'normal'}"
                                       x-ng-click="mainVm.sidebar.getData().changeFilterByProperty('normal')">
                                      <span class="checkbox-ctn"></span>
                                      {{"MEMBER_TAB.WRITE_RIGHTS" | translate}}
                                    </a>
                                  </li>
                                  <li>
                                    <a href=""
                                       x-ng-class="{'active-check': mainVm.sidebar.getData().membersSearchFilter.role === 'restricted'}"
                                       x-ng-click="mainVm.sidebar.getData().changeFilterByProperty('restricted')">
                                      <span class="checkbox-ctn"></span>
                                      {{"MEMBER_TAB.READ_RIGHTS" | translate}}
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </span>
                        </div>
                      </form>
                      <a x-ng-if="linshareModeProduction === false"
                         href="javascript:void(0)" class="r-a-lin"
                         x-ng-click="mainVm.sidebar.getData().loadSidebarContent('multi-select-rights')"
                         title="{{'MEMBER_TAB.MULTI_SELECT' | translate}}">
                        {{"MEMBER_TAB.MULTI_SELECT" | translate}}
                      </a>
                    </div>
                    <div class="existing-member-list-ctn">
                      <div class="flex-ctn"
                           x-ng-repeat="workgroupMember in mainVm.sidebar.getData().workgroupMembers |
                           filter: mainVm.sidebar.getData().membersSearchFilter | orderBy : '-' ">
                        <div class="item-l"><span class="first-letter">{{workgroupMember.firstName.charAt(0)}}</span></div>
                        <div class="item-mid">
                          <div class="name">{{workgroupMember.firstName}} {{workgroupMember.lastName}}</div>
                          <div class="info-item-member" x-ng-switch="workgroupMember.role">
                            <i class="zmdi zmdi-account"></i>
                            <span x-ng-switch-when="admin">{{"MEMBER_TAB.ADMIN" | translate}}</span>
                            <span x-ng-switch-when="normal">{{"MEMBER_TAB.WRITE" | translate}}</span>
                            <span x-ng-switch-default="">{{"MEMBER_TAB.READ" | translate}}</span>
                          </div>
                          <div class="info-item-member" title="{{'MEMBER_TAB.NOTIFICATION_ACTIVATED' | translate}}">
                            <i class="zmdi zmdi-notifications-none"></i>
                            <span>{{"MEMBER_TAB.ACTIVATED" | translate}}</span>
                          </div>
                        </div>
                        <div class="item-r actions">
                          <span uib-dropdown dropdown-append-to-body class="dropdown link-dropdown actions"
                                auto-close="always">
                            <a class="plain-text-button share-link" href="javascript:void(0)"
                               uib-dropdown-toggle title="{{'MEMBER_TAB.EDIT_RIGHTS' | translate}}">
                              <i class="zmdi zmdi-edit"></i>
                            </a>
                            <ul uib-dropdown-menu
                                class="dropdown-menu dropdown-menu-right dm-icon user-rights-dropdown">
                              <li x-ng-repeat="role in mainVm.sidebar.getData().membersRights" x-ng-switch="role">
                                <a href="" x-ng-click="mainVm.sidebar.getData().updateMember(workgroupMember, 'admin')"
                                   x-ng-switch-when="ADMIN" x-ng-class="{'active-check': workgroupMember.admin == true}">
                                  {{"MEMBER_TAB." + role | translate}}
                                </a>
                                <a href="" x-ng-click="mainVm.sidebar.getData().updateMember(workgroupMember, 'normal')"
                                   x-ng-switch-when="WRITE" x-ng-class="{'active-check': workgroupMember.role == 'normal'}">
                                  {{"MEMBER_TAB." + role | translate}}
                                </a>
                                <a href="" x-ng-click="mainVm.sidebar.getData().updateMember(workgroupMember, 'readonly')"
                                   x-ng-switch-when="READ" x-ng-class="{'active-check': workgroupMember.readonly == true}">
                                  {{"MEMBER_TAB." + role | translate}}
                                </a>
                              </li>
                            </ul>
                          </span>
                          <a href="javascript:void(0)"
                             x-ng-click="mainVm.sidebar.getData().removeMember(mainVm.sidebar.getData().workgroupMembers, workgroupMember)"
                             title="{{'MEMBER_TAB.REMOVE_TEAM_MEMBER' | translate}}">
                            <i class="zmdi zmdi-close"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</div>
