<div class="header-sidebar">
  <i class="zmdi zmdi-chevron-left zmdi-hc-2x visible-xs"></i>
  <h2 class="header-more-options">{{"ADD_GUEST_SIDEBAR.TITLE" | translate}}</h2>
  <span class="hidden-xs">
      <i class="zmdi zmdi-close zmdi-hc-lg" x-ng-click="mainVm.sidebar.hide(createGuest, newGuestObject)"></i>
  </span>
</div>
<div class="card col-xs-12 m-t-2em form-create-guests" id="content-ctn-sidebar"
     x-ng-init="newGuestObject = mainVm.sidebar.getData().guestObject">
  <form class="form-sidebar" name="createGuest">
    <div class="form-group fg-float m-b-30">
      <div class="fg-line" x-ng-class="{'has-error' : ((createGuest.lastname.$touched || createGuest.$submitted)
                                                      && createGuest.lastname.$invalid),
                                        'fg-toggled' : newGuestObject.lastName !== ''}">
        <input type="text" required class="input-sm form-control fg-input" x-ng-model="newGuestObject.lastName"
               name="lastname" id="lastname">
        <label class="fg-label required" for="lastname">{{"ADD_GUEST_SIDEBAR.LASTNAME" | translate}}</label>
        <span x-ng-show="(createGuest.lastname.$touched || createGuest.$submitted) && createGuest.lastname.$invalid">
           {{"ADD_GUEST_SIDEBAR.INVALID_EMPTY_FIELD" | translate}}
        </span>
      </div>
    </div>
    <div class="form-group fg-float m-b-30">
      <div class="fg-line" x-ng-class="{'has-error' : ((createGuest.firstname.$touched || createGuest.$submitted)
                                                      && createGuest.firstname.$invalid),
                                        'fg-toggled' : newGuestObject.firstName !== ''}">
        <input type="text" required class="input-sm form-control fg-input" name="firstname"
               x-ng-model="newGuestObject.firstName" id="firstname">
        <label class="fg-label required" for="firstname">{{"ADD_GUEST_SIDEBAR.FIRSTNAME" | translate}}</label>
        <span x-ng-show="(createGuest.firstname.$touched || createGuest.$submitted) && createGuest.firstname.$invalid">
            {{"ADD_GUEST_SIDEBAR.INVALID_EMPTY_FIELD" | translate}}
        </span>
      </div>
    </div>
    <div class="form-group fg-float m-b-30">
      <div class="fg-line" x-ng-class="{'has-error' : ((createGuest.email.$touched || createGuest.$submitted) 
                                                       && createGuest.email.$invalid),
                                        'fg-toggled' : newGuestObject.mail !== ''}">
        <input type="email" required class="input-sm form-control fg-input" name="email"
               x-ng-model="newGuestObject.mail" id="email">
        <label class="fg-label required" for="email">{{"ADD_GUEST_SIDEBAR.EMAIL" | translate}}</label>
        <span x-ng-show="(createGuest.email.$touched || createGuest.$submitted) && createGuest.email.$invalid">
         {{"ADD_GUEST_SIDEBAR.INVALID_EMAIL" | translate}}
        </span>
      </div>
    </div>
    <div class="m-b-30 col-xs-12 field-ctn" id="dateField" x-ng-show="newGuestObject.allowedToExpiration.enable"
         x-ng-class="{'has-error' : ((createGuest.expirationDate.$touched || createGuest.$submitted) &&
                                    (createGuest.expirationDate.$invalid ||
                                    createGuest.expirationDate.$error.invalidDate))}">
      <label for="expirationDate">
        {{"ADD_GUEST_SIDEBAR.EXP_DATE" | translate}}
      </label>
      <!--
        TODO: The directive shall be refactored with a proper template and passing different options.
              See app/modules/linshare.components/fileSearchComponent/fileSearchDirective.js for working-date-picker
      -->
      <div class="datepicker-border-fix date-picker dp-blue datepicker-drop-right"
           x-ng-class="{'is-opened': opened2 == true}">
        <div class="fg-line datepicker-ctn" x-ng-class="{'fg-toggled': opened2 == true}">
          <div class="form-inline clearfix">
            <input working-date-picker x-ng-click="open($event, 'opened2')" type="text"
                   class="form-control date-picker-input" datepicker-popup="{{format}}"
                   show-weeks="false" is-open="opened2" min-date="newGuestObject.form.datepicker.minDate"
                   max-date="newGuestObject.form.datepicker.maxDate"
                   datepicker-options="newGuestObject.form.datepicker.options"
                   name="expirationDate" id="expirationDate" required="true"
                   min="{{newGuestObject.form.datepicker.minDate | date:'yyyy-MM-dd'}}"
                   max="{{newGuestObject.form.datepicker.maxDate | date:'yyyy-MM-dd'}}"
                   placeholder="{{newGuestObject.expirationDate.value | date: 'fullDate'}}"
                   x-ng-model="newGuestObject.expirationDate"
                   x-ng-disabled="!newGuestObject.allowedToExpiration.canOverride"/>
          </div>
        </div>
      </div>
      <span x-ng-show="(createGuest.expirationDate.$touched || createGuest.$submitted) &&
                    (createGuest.expirationDate.$invalid || createGuest.expirationDate.$error.invalidDate)">
           {{"ADD_GUEST_SIDEBAR.INVALID_DATE" | translate}}
           {{newGuestObject.form.datepicker.maxDate | date: 'fullDate'}}
      </span>
    </div>
    <!--TODO: Once the back allow email edition change the ng-show value with "allowedToEmail.enable"-->
    <div class="m-b-30 form-group" x-ng-show="!linshareModeProduction">
      <h5>{{"WIP" | translate}}</h5>
      <label for="message" class="p-b-10">{{"ADD_GUEST_SIDEBAR.MSG_EMAIL" | translate}} :</label>
      <!-- TODO: Once the back allow email edition change the disabled with
                 'x-ng-disabled="!allowedToEmail.canOverride"'-->
      <textarea class="form-control comment" id="message" x-ng-model="newGuestObject.message" name="message" rows="5"
                placeholder="{{'ADD_GUEST_SIDEBAR.ENTER_MSG' | translate}}" disabled>
      </textarea>
    </div>
    <p x-ng-click="newGuestObject.form.activateMoreOptions =! newGuestObject.form.activateMoreOptions"
       x-ng-class="{'animate-chevron' : newGuestObject.form.activateMoreOptions}">
      <a href="">
        {{"ADD_GUEST_SIDEBAR.ADVANCED_OPTIONS" | translate}}
      </a>
      <i class="zmdi zmdi-chevron-down toggle-chevron pull-right"></i>
    </p>
    <div x-ng-hide="!newGuestObject.form.activateMoreOptions">
      <!--TODO: Once the back allow editors change the ng-show value with "allowedToAddEditors.enable"-->
      <div class="m-b-20 col-xs-12 field-ctn" x-ng-show="!linshareModeProduction">
        <h5>{{"WIP" | translate}}</h5>
        <div class="fg-line input-group dp-blue">
          <div class="form-inline">
            <label for="allow-editors" class="p-b-10">{{"ADD_GUEST_SIDEBAR.ALLOW_MODIFICATORS" | translate}} :</label>
            <label class="checkbox checkbox-inline">
              <!-- TODO: Once the back allow editors change the disabled with
                         'x-ng-disabled="!allowedToAddEditors.canOverride"'-->
              <input type="checkbox" name="allow-editors"
                     x-ng-checked="newGuestObject.form.activateEditors"
                     x-ng-click="newGuestObject.form.activateEditors = !newGuestObject.form.activateEditors"
                     x-ng-model="newGuestObject.form.editors"
                     id="allow-editors" disabled/>
              <i class="input-helper"></i>
            </label>
          </div>
        </div>
        <div class="col-xs-12 m-0 p-0 p-l-5 p-r-5" x-ng-hide="!newGuestObject.form.activateEditors">
          <x-ng-form name="editors" role="form" class="clearfix">
            <div class="form-group fg-line">
              <div ls-autocomplete-user="USERS" data-selected-users-list="newGuestObject.editorsContacts"></div>
            </div>
          </x-ng-form>
          <div class="custom-list-body col-xs-12 m-0 p-0">
            <div class="custom-list-item"
                 x-ng-repeat="editor in newGuestObject.editorsContacts | orderBy : '-' as results"
                 tooltip-placement="bottom" tooltip-popup-delay="700"
                 uib-tooltip="{{editor.firstName + ' ' + editor.lastName +' : '+editor.domain || editor.mail}}">
              <p class="pull-left circle-ctn">
                <span x-ng-show="editor.domain" class="circle user-bg">{{editor.firstName.charAt(0)}}</span>
                <span x-ng-show="!editor.domain" class="circle user-bg">{{editor.mail.charAt(0).toUpperCase()}}</span>
              </p>
              <div class="pull-left name-recipients-ctn">
                <p x-ng-show="editor.domain" class="pull-left inner-text-li">
                  {{editor.firstName + ' ' + editor.lastName}}
                </p>
                <p x-ng-show="!editor.domain" class="pull-left inner-text-li">
                  {{editor.mail}}
                </p>
                <p class="close-list-icone-btn pull-right"
                   x-ng-click="newGuestObject.editorsContacts.splice(results.length - $index -1, 1)">
                  <i class="zmdi zmdi-close "></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-b-30 col-xs-12 field-ctn" x-ng-show="newGuestObject.allowedToUpload.enable">
        <div class="fg-line">
          <div class="form-inline">
            <label for="user-space">{{"ADD_GUEST_SIDEBAR.ACTIVATE_USER_SPACE" | translate}} :</label>
            <label class="checkbox checkbox-inline">
              <input type="checkbox" x-ng-checked="newGuestObject.form.activateUserSpace"
                     x-ng-click="newGuestObject.form.activateUserSpace = !newGuestObject.form.activateUserSpace"
                     x-ng-model="newGuestObject.canUpload"
                     id="user-space"
                     name="user-space" x-ng-disabled="!newGuestObject.allowedToUpload.canOverride"/>
              <i class="input-helper"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="m-b-30 col-xs-12 field-ctn"
           x-ng-show="newGuestObject.allowedToRestrict.enable && newGuestObject.form.activateUserSpace">
        <div class="fg-line">
          <div class="form-inline">
            <label for="restrict-contact" class="p-b-10">
              {{"ADD_GUEST_SIDEBAR.RESTRICT_CONTACTS" | translate}}:
            </label>
            <label class="checkbox checkbox-inline">
              <input type="checkbox" x-ng-checked="newGuestObject.form.activateRestricted"
                     x-ng-click="newGuestObject.form.activateRestricted = !newGuestObject.form.activateRestricted"
                     x-ng-model="newGuestObject.restricted"
                     id="restrict-contact"
                     name="restrict-contact" x-ng-disabled="!newGuestObject.allowedToRestrict.canOverride"/>
              <i class="input-helper"></i>
            </label>
          </div>
        </div>
        <div class="col-xs-12 m-0 p-0 p-l-5 p-r-5" x-ng-hide="!newGuestObject.form.activateRestricted">
          <x-ng-form name="restrict" role="form" class="clearfix m-0">
            <div class="form-group fg-line">
              <div ls-autocomplete-user="USERS" data-selected-users-list="newGuestObject.restrictedContacts"
                   data-is-required="newGuestObject.form.activateUserSpace && newGuestObject.form.activateRestricted"
                   data-with-email="false">
              </div>
            </div>
          </x-ng-form>
          <div class="custom-list-body col-xs-12 m-0 p-0">
            <div class="custom-list-item"
                 x-ng-repeat="restrictedContact in newGuestObject.restrictedContacts | orderBy : '-' as results"
                 tooltip-placement="bottom" tooltip-popup-delay="700"
                 uib-tooltip="{{restrictedContact.firstName + ' ' + restrictedContact.lastName +' : '+
                              restrictedContact.domain || restrictedContact.mail}}">
              <p class="pull-left circle-ctn">
                <span x-ng-show="restrictedContact.domain" class="circle  user-bg">
                  {{restrictedContact.firstName.charAt(0)}}
                </span>
                <span x-ng-show="!restrictedContact.domain" class="circle  user-bg">
                  {{restrictedContact.mail.charAt(0).toUpperCase()}}
                </span>
              </p>
              <div class="pull-left name-recipients-ctn">
                <p x-ng-show="restrictedContact.domain" class="pull-left inner-text-li">
                  {{restrictedContact.firstName + ' ' + restrictedContact.lastName}}
                </p>
                <p x-ng-show="!restrictedContact.domain" class="pull-left inner-text-li">
                  {{restrictedContact.mail}}
                </p>
                <p class="close-list-icone-btn pull-right"
                   x-ng-click="newGuestObject.restrictedContacts.splice(results.length - $index -1, 1)">
                  <i class="zmdi zmdi-close "></i>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-b-30 col-xs-12 field-ctn">
        <div class="form-inline p-b-10">
          <label for="activate-description">{{"ADD_GUEST_SIDEBAR.ADD_DESCRIPTION" | translate}} :</label>
          <label class="checkbox checkbox-inline">
            <input type="checkbox" x-ng-checked="newGuestObject.form.activateDescription"
                   x-ng-click="newGuestObject.form.activateDescription = !newGuestObject.form.activateDescription"
                   id="activate-description"
                   name="activate-description"/>
            <i class="input-helper"></i>
          </label>
        </div>
        <div class="css-slide-up form-group" x-ng-hide="!newGuestObject.form.activateDescription">
          <textarea class="form-control comment" x-ng-model="newGuestObject.comment" name="comment" rows="3"
                    placeholder="{{'ADD_GUEST_SIDEBAR.ENTER_DESCRIPTION' | translate}}">
              </textarea>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- UPDATE BTN links-->
<div class="bottom-sidebar-btn">
  <button class="btn btn-default col-xs-6"
          x-ng-click="mainVm.sidebar.hide(createGuest, newGuestObject); mainVm.sidebar.getData().closeDropdown($event)">
    {{"ADD_GUEST_SIDEBAR.CANCEL" | translate}}
  </button>
  <button class="btn btn-primary col-xs-6"
          x-ng-click="mainVm.sidebar.getData().addGuest(createGuest, newGuestObject)">
    {{"ADD_GUEST_SIDEBAR.SUBMIT" | translate}}
  </button>
</div>
