<div class="chat-search autocomplete-search-ctn">
  <script
    type="text/ng-template"
    id="autocompleteItemTemplate.html"
  >
    <div class="recipientsAutocomplete">
      <span
        class="firstLetterFormat"
        data-ng-class="match.label.style"
      >
        {{match.label.firstLetter}}
      </span>
      <p class="recipientsInfo">
        <span class="user-full-name" title="{{match.label.name}}">
          {{match.label.name}}
        </span>
        <span class="email">{{match.label.info}}</span>
      </p>
    </div>
  </script>
  <div
    class="fg-line"
    data-ng-class="{
    'has-error' : (autocompleteUsersVm.isEmpty || !autocompleteUsersVm.isEmail)
    }"
  >
    <input
      id="focusInputShare"
      name="{{::autocompleteUsersVm.name}}"
      type="text"
      ng-disabled="autocompleteUsersVm.disabled"
      class="form-control"
      placeholder="{{::'COMPONENTS.AUTOCOMPLETE_USERS.INPUT_PLACEHOLDER ' | translate}}"
      autocomplete="off"
      data-ng-model="autocompleteUsersVm.selectedUser"
      data-ng-blur="autocompleteUsersVm.isEmail = !autocompleteUsersVm.onErrorEmail()"
      data-ng-required="autocompleteUsersVm.required()"
      data-typeahead-min-length="3"
      data-typeahead-on-select="autocompleteUsersVm.onSelect()"
      data-typeahead-wait-ms="30"
      data-typeahead-loading="searchingContact"
      data-typeahead-editable="false"
      data-typeahead-input-formatter="angular.noop"
      data-uib-typeahead="u as autocompleteUsersVm.userRepresentation(u)
      for u in autocompleteUsersVm.searchUsersAccount($viewValue) | limitTo:3"
      data-typeahead-template-url="autocompleteItemTemplate.html"

    >
    <span data-ng-show="autocompleteUsersVm.isEmpty">
      <span>
        <span translate>
          COMPONENTS.AUTOCOMPLETE_USERS.INVALID_EMPTY
        </span>
        <a
          data-ng-if="autocompleteUsersVm.withGuest && autocompleteUsersVm.canCreateGuest"
          data-ui-sref="administration.guests({email: autocompleteUsersVm.currentPattern})"
        >
          - <span translate>COMPONENTS.AUTOCOMPLETE_USERS.CREATE_GUEST</span>
        </a>
      </span>
    </span>
    <span
      data-ng-if="autocompleteUsersVm.withEmail && !autocompleteUsersVm.isEmail"
      translate
    >
      COMPONENTS.AUTOCOMPLETE_USERS.INVALID_EMAIL
    </span>
  </div>
  <button tabindex="-1" type="button" class="right-inline-btn waves-effect"
          data-ng-click="autocompleteUsersVm.onSelect()"
          data-ng-if="::autocompleteUsersVm.withEmail">
    <i class="zmdi zmdi-plus"></i>
  </button>
</div>
