<div id="overlayMobileFab" >&nbsp;</div>
<header id="header"
        data-ng-include
        src="'views/includes/header.html'"
        data-ng-controller="headerCtrl as hctrl">
</header>
<section id="main">
  <div id="overlayMobile" data-ng-class="{'toggledShowOverlay': mactrl.sidebarToggle.left }"
       ng-click="mactrl.sidebarToggle.left = false">&nbsp;</div>
  <aside id="sidebar" data-ng-include src="'views/includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left }"></aside>
  <div id="content-container" ng-class="{'content-toggled': mactrl.sidebarToggle.left }">
    <section id="content" class="page-view" data-ui-view=""></section>
  </div>
</section>
