<header id="header"
        data-ng-include
        src="'views/includes/header.html'"
        data-ng-controller="headerCtrl as hctrl">
</header>
<section id="main">
  <div id="overlayMobile" data-ng-class="{ 'toggledShowOverlay': mactrl.sidebarToggle.left }" >&nbsp;</div>
  <aside id="sidebar" data-ng-include src="'views/includes/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left }"></aside>
    <div id="content-container" flow-files-submitted="$flow.upload()" flow-drop=""
         flow-drag-enter="dropClass='drag-over'"
         flow-file-success="addUploadedDocument($file, $message, $flow)"
         flow-drag-leave="dropClass='fadeOutElm'"
         flow-complete="reloadFiles()" flow-file-success="$file.msg = $message"
         ng-class="{'content-toggled': mactrl.sidebarToggle.left, 'drag-over' : dropClass == 'drag-over', 'fadeOutElm': dropClass == 'fadeOutElm'  }"
         ng-style="myStyle">

      <div id="dropCtn" class="drop borderAnim resetContentWidth " flow-drop="">
        <div style="position:relative;width:100%;height:100%;">
          <div class="dragNDropAlert ">
            <p>{{ "DRAG_DROP_BACKGROUND.TITLE" | translate }}</p>
          </div>
        </div>
      </div>
    <section id="content" class="page-view" data-ui-view=""></section>
  </div>
</section>

<!--<footer id="footer" data-ng-include src="'includes/footer.html'"></footer>-->
