<!-- Login -->
<div data-ng-controller="AuthenticationController" ls-login-form-display class="lc-block toggled" id="l-login">
  <div class="input-group m-b-20">
    <span class="input-group-addon"><i class="md md-person"></i></span>
    <div class="fg-line">
      <input type="email" class="form-control" placeholder="Email" ng-model="input.email">
    </div>
  </div>

  <div class="input-group m-b-20">
    <span class="input-group-addon"><i class="md md-accessibility"></i></span>
    <div class="fg-line">
      <input type="password" class="form-control" placeholder="Password" ng-model="input.password">
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <i class="input-helper"></i>
      Keep me signed in
    </label>
  </div>

  <a href="" class="btn btn-login btn-danger btn-float" data-ng-click="signupForm2()"><i class="md md-arrow-forward"></i></a>

</div>
