<div ng-class="{'hidden': !mactrl.sidebarToggle.left}">
    <div class="btn-add-files-ctn">
      <div id="user-account-mobile" class="row noPadding noMargin visible-xs">
        <div class="pull-left user-icon-area">
          <i class="tm-icon zmdi zmdi-account zmdi-hc-2x"></i>
        </div>
        <div class="pull-left dropdown dropdown-standard  user-icon-dropdown" uib-dropdown>
          <a href="" class="pull-right" uib-dropdown-toggle  ng-disabled="disabled">
            {{ loggedUser.firstName }} {{ loggedUser.lastName }}
            <i class="zmdi zmdi-chevron-down"></i>
          </a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li ng-show="linshareModeProduction == false">
              <a href=""><i class="zmdi zmdi-settings"></i> {{'HEADER.SETTINGS' | translate}}</a>
            </li>
            <li>
              <a data-ng-controller="AuthenticationController" data-ng-click="logout(); $flow.cancel()" ui-sref="login">
                <i class="zmdi zmdi-run"></i> {{'HEADER.LOGOUT' | translate}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    <div class="dropdown-ctn sidebar-add-ctn hidden-xs">
        <div class="dropdown dropdown-standard" uib-dropdown >
          <button type="button" class="dropdown-toggle btn btn-custum-secondary btn-add-files" uib-dropdown-toggle  ng-disabled="disabled">
            <i class="zmdi zmdi-upload "></i><span>{{'BOUTON_ADD_FILE_TITLE' | translate }}</span>
          </button>

          <ul class="dropdown-menu">
            <li role="menuitem" flow-btn>
              <a href="">
                <i class="zmdi zmdi-file-plus"></i>
                {{'ADD_FILES_DROPDOWN.UPLOAD_FILE' | translate }}
              </a>
            </li>
            <li role="menuitem" flow-btn>
              <a href="" ui-sref="documents.upload">
                <i class="zmdi zmdi-share menu-item-share"></i>
                {{'ADD_FILES_DROPDOWN.UPLOAD_AND_SHARE' | translate }}
              </a>
            </li>
            <li role="menuitem">
              <a href="#" style="color:#ACACAC">
                <i class="zmdi zmdi-accounts-alt"></i>
                {{'ADD_FILES_DROPDOWN.UPLOAD_IN_GROUP' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   <div class="c-overflow" id="navigation" ng-style="sizeNavigation">
    <ul class="main-menu" ng-repeat="tab in tabs">
      <li ng-if="tab.link" ng-show="tab.disabled == false"
          data-ng-class="{ 'active simple-menu': currentState.name==tab.name}">
        <a data-ui-sref="{{tab.link}}"
           data-ng-class="{'disabled': tab.disabled }">
          <i class="{{tab.icon}}" ></i> {{ tab.name | translate }}
        </a>
      </li>
      <li ng-show="tab.disabled == false" class="sub-menu" ng-if="tab.links"
          data-ng-class="{ 'active toggled': currentState.name==tab.name}">
        <a toggle-submenu>
          <i class="{{tab.icon}}" ></i> {{ tab.name | translate }}
        </a>
        <ul>
          <li ng-show="link.disabled == false" ng-repeat="link in tab.links"
              ng-mouseover="changeColor(tab.color)"
              ng-mouseleave="changeColor('inherit')">
            <a data-ui-sref="{{link.link}}"
               data-ui-sref-active="active"
               data-ng-class="{'disabled': link.disabled }">
              {{ link.name | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="quota">
    <div class="quota-used"></div>
    <div class="quota-free"></div>
    <div class="quota-information">
      <p>10 GB out of 15 GB used</p>
    </div>
    <div class="libre-and-free">
      <img src="images/common/community.png" alt="Logo LinShare" />
      <p>Libre & Free</p>
    </div>
  </div>
</div>
