<div ng-class="{'hidden': !mactrl.sidebarToggle.left}">
  <div class="btn-add-files-ctn">
    <div class="dropdown-ctn">
      <div dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-custum-secondary btn-add-files"
                dropdown-toggle ng-disabled="disabled">
          <i class="zmdi zmdi-upload "></i><span>{{'BOUTON_ADD_FILE_TITLE' | translate }}</span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem" flow-btn>
            <a href="">
              <i class="zmdi zmdi-file-plus"></i>
              {{'ADD_FILES_DROPDOWN.UPLOAD_FILE' | translate }}
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="zmdi zmdi-share menu-item-share"></i>
              {{'ADD_FILES_DROPDOWN.UPLOAD_AND_SHARE' | translate }}
            </a>
          </li>
          <li role="menuitem">
            <a href="#" style="color:#ACACAC">
              <i class="zmdi zmdi-accounts-alt"></i>
              {{'ADD_FILES_DROPDOWN.UPLOAD_IN_GROUP' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="c-overflow" id="navigation" ng-style="sizeNavigation">
    <ul class="main-menu" ng-repeat="tab in tabs">
      <li ng-if="tab.link"
          data-ng-class="{ 'active simple-menu': currentState.name==tab.name}">
        <a data-ui-sref="{{tab.link}}"
           data-ng-class="{'disabled': tab.disabled }">
          <i class="{{tab.icon}}" ></i> {{ tab.name | translate }}
        </a>
      </li>
      <li ng-show="tab.disabled == false" class="sub-menu" ng-if="tab.links"
          data-ng-class="{ 'active toggled': currentState.name==tab.name ||
           (currentState.name=='MENU_TITLE.HOME' && tab.name=='MENU_TITLE.FILES') }">
        <a toggle-submenu>
          <i class="{{tab.icon}}" ></i> {{ tab.name | translate }}
        </a>
        <ul>
          <li ng-show="link.disabled == false" ng-repeat="link in tab.links"
              ng-mouseover="changeColor(tab.color)"
              ng-mouseleave="changeColor('inherit')">
            <a data-ui-sref="{{link.link}}"
               data-ui-sref-active="active"
               data-ng-class="{'disabled': link.disabled }">
              {{ link.name | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="quota">
    <div class="quota-used"></div>
    <div class="quota-free"></div>
    <div class="quota-information">
      <p>10 GB out of 15 GB used</p>
    </div>
    <div class="libre-and-free">
      <img src="images/common/community.png" alt="Logo LinShare" />
      <p>Libre & Free</p>
    </div>
  </div>
</div>
