<div data-ng-class="{'right-sidebar-toggled': mainVm.sidebar.isVisible()}">
  <div class="container files guest-list">
    <!--  ACTIONS ON DOCUMENTS  -->
    <!-- contextmenu -->
    <div class="card">
      <div class="card-header">
        <div id="breadcrumb-wrap">
          <div
            class="menu-popover-ctn hidden-xs clickable waves-effect"
            tooltip-placement="bottom"
            tooltip-popup-delay="500"
            translate-attr="{'uib-tooltip': 'ACTION.NEW_ITEM'}"
          >
            <a class="add-menu-group" x-ng-click="guestVm.loadSidebarContent(guestVm.guestCreate)" tabindex="0">
              <i class="zmdi zmdi-plus"></i>
            </a>
          </div>

          <div class="breadcrumbs-ctn hidden-xs">
            <a class="click-disabled">
              <i class="ls-guest-account v-center"></i>
              <span class="v-center" translate>BREADCRUMB_TITLE_GUEST</span>
            </a>
            <span class="sub-category-chevron pipe-separator">|</span>
            <a ng-if="!guestVm.guestFilter" class="click-disabled">
              <span translate>HEADER_GUEST.SLIDER.ALL</span>
            </a>
            <a ng-if="guestVm.guestFilter" class="click-disabled">
              <span translate>{{'HEADER_GUEST.SLIDER.MY_GUESTS_' + guestVm.guestFilter}}</span>
            </a>
          </div>
          <div id="action-header">
            <div class="fg-line toolbar-actions-items">
              <!-- If the button id clicked for the second time (disabled)
                then the selected items should be deselected cf resetSelectedGuests() -->
              <span x-ng-click="showCheckboxes = !showCheckboxes " class="visible-xs toolbar-mobile-item col-xs-3">
                <a class="select-all-items plain-txt-btn">
                  <i class="ls-multi-select" data-ng-class="{'active-link': showCheckboxes}"></i>
                </a>
              </span>
              <div id="top-search" class="toolbar-mobile-item col-xs-3 visible-xs"
                   x-ng-click="searchMobileDropdown = !searchMobileDropdown">
                <a href="">
                  <i class="tm-icon zmdi zmdi-search" x-ng-class="{'active-link': searchMobileDropdown}"></i>
                </a>
              </div>
              <!-- TODO: mobile filter-->
              <div class="dropdown-filters  toolbar-mobile-item col-xs-3 visible-xs">
                <span uib-dropdown class="dropdown link-dropdown" auto-close="outsideClick"
                      is-open="isOpenTypeMobile" data-ng-class="{'open': isOpenTypeMobile}">
                  <a
                    class="plain-txt-btn partage-link"
                    href="javascript:void(0)"
                    uib-dropdown-toggle
                    translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                  >
                    <i class="zmdi zmdi-filter-list"></i>
                  </a>
                  <div uib-dropdown-menu class="dropdown-menu dropdown-menu-right dm-icon double-drop" data-ng-class="{'open': isOpenTypeMobile}">
                    <div class="list-menu">
                      <p>
                        <span translate>FILTER_COMPONENT.FILTER_BY</span>
                      </p>
                      <ul class="dropdown-menu dropdown-menu-right dm-icon filter-menu">
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':!guestVm.guestFilter}"
                            ng-click="guestVm.switchGuestFilter()">
                            HEADER_GUEST.SLIDER.ALL
                          </a>
                        </li>
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':guestVm.guestFilter === 'ALL'}"
                            ng-click="guestVm.switchGuestFilter('ALL')">
                            HEADER_GUEST.SLIDER.MY_GUESTS_ALL
                          </a>
                        </li>
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':guestVm.guestFilter === 'SIMPLE'}"
                            ng-click="guestVm.switchGuestFilter('SIMPLE')">
                            HEADER_GUEST.SLIDER.MY_GUESTS_SIMPLE
                          </a>
                        </li>
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':guestVm.guestFilter === 'ADMIN'}"
                            ng-click="guestVm.switchGuestFilter('ADMIN')">
                            HEADER_GUEST.SLIDER.MY_GUESTS_ADMIN
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </span>
              </div>

              <!-- Please enable the filtering feature according to the appropriate labels-->
              <div class="sort-dropdown col-xs-3 col-sm-12 toolbar-mobile-item">
                <div class="dropdown dropdown-standard  toolbar-mobile-item" uib-dropdown="" dropdown-append-to-body is-open="isOpenOrder" data-ng-class="{'open':isOpenOrder}">
                  <div class="actions">
                    <a href="javascript:void(0);" class="dropdown-toggle" uib-dropdown-toggle=""
                       x-ng-disabled="disabled"
                       aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-sort-asc" aria-hidden="true"></i>
                    </a>
                    <ul data-ng-class="{'open':isOpenOrder}" class="sort-dropdown dropdown-menu-right uib-dropdown-menu dropdown-menu pull-right dm-icon stop-propagate labeled-dropdown"
                        uib-dropdown-menu>
                      <li role="menuitem">
                        <a href="" class="center">
                          <span translate>SELECTION_TOOLBAR.ORDER_BY</span>
                        </a>
                      </li>
                      <li class="divided"></li>
                      <li role="menuitem">
                        <a href="" class="ng-binding" x-ng-click="guestVm.tableSort('lastName', $event)">
                          <span class="caret-area">
                            <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>SIDEBAR.LABEL.LASTNAME</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding" x-ng-click="guestVm.tableSort('firstName', $event)">
                          <span class="caret-area">
                            <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>SIDEBAR.LABEL.FIRSTNAME</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding" x-ng-click="guestVm.tableSort('mail', $event)">
                          <span class="caret-area">
                            <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>ORDER_BY.EMAIL</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding" x-ng-click="guestVm.tableSort('domain', $event)">
                          <span class="caret-area">
                            <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>ORDER_BY.DOMAIN_NAME</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding"
                           x-ng-click="guestVm.tableSort('expirationDate', $event)">
                          <span class="caret-area">
                            <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                            <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>ORDER_BY.EXPIRATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding selected-sorting" ng-click="guestVm.tableSort('modificationDate', $event)">
                          <span class="caret-area">
                              <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>FILTER_COMPONENT.FILTER_BY_DATE.MODIFICATION_DATE</span>
                        </a>
                      </li>
                      <li role="menuitem">
                        <a href="" class="ng-binding" x-ng-click="guestVm.tableSort('creationDate', $event)">
                          <span class="caret-area">
                              <i x-ng-show="guestVm.toggleSelectedSort" class="zmdi zmdi-caret-down"></i>
                              <i x-ng-show="!guestVm.toggleSelectedSort" class="zmdi zmdi-caret-up"></i>
                          </span>
                          <span translate>FILTER_COMPONENT.FILTER_BY_DATE.CREATION_DATE</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group search-bar hidden-xs">
              <div id="search-field-ctn">
                <div class="search-style">
                  <div class="fg-line">
                    <input
                      class="form-control"
                      autocomplete="off"
                      data-ng-change="guestVm.tableApplyFilter(filterValue, ['firstName', 'lastName', 'mail'], '||')"
                      data-ng-model="filterValue"
                      translate-attr="{placeholder: 'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME'}"
                      type="text"
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="pull-right hidden-xs toggle-view-dropdown">
              <span class="filter-views ng-binding pull-left">
                <span translate>ACTION.DISPLAY</span>:
              </span>
              <div class="dropdown-filters pull-left">
                <span
                  class="dropdown link-dropdown"
                  data-ng-class="{'open': isOpenType}"
                  uib-dropdown
                  dropdown-append-to-body
                  auto-close="outsideClick"
                  is-open="isOpenType"
                >
                  <a
                    class="plain-txt-btn partage-link"
                    href="javascript:void(0)"
                    uib-dropdown-toggle
                    translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                  >
                    <span translate>{{guestVm.currentView}}</span>
                    <div><b></b></div>
                  </a>
                  <div
                    uib-dropdown-menu
                    class="dropdown-menu dropdown-menu-right dm-icon double-drop toggle-views"
                    ng-class="{'open': isOpenType}"
                  >
                    <div class="list-menu">
                      <p><span translate>FILTER_COMPONENT.FILTER_BY</span></p>
                      <ul
                        class="dropdown-menu dm-icon filter-menu dropdown-menu-right dropdown-submenu"
                      >
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':!guestVm.guestFilter}"
                            ng-click="guestVm.switchGuestFilter()">
                            HEADER_GUEST.SLIDER.ALL
                          </a>
                        </li>
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':guestVm.guestFilter === 'ALL'}"
                            ng-click="guestVm.switchGuestFilter('ALL')">
                            HEADER_GUEST.SLIDER.MY_GUESTS_ALL
                          </a>
                        </li>
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':guestVm.guestFilter === 'SIMPLE'}"
                            ng-click="guestVm.switchGuestFilter('SIMPLE')">
                            HEADER_GUEST.SLIDER.MY_GUESTS_SIMPLE
                          </a>
                        </li>
                        <li>
                          <a
                            translate
                            ng-class="{'active-check':guestVm.guestFilter === 'ADMIN'}"
                            ng-click="guestVm.switchGuestFilter('ADMIN')">
                            HEADER_GUEST.SLIDER.MY_GUESTS_ADMIN
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="drop-area" x-ng-init="searchMobileDropdown = false"
       x-ng-class="{'search-toggled': searchMobileDropdown}">
    <div id="top-search-wrap">
      <i id="top-search-close" x-ng-click="searchMobileDropdown = !searchMobileDropdown">&times;</i>
      <input`
        class="form-control ng-pristine ng-untouched ng-valid"
        aria-invalid="false"
        data-ng-change="guestVm.tableParams.reload()"
        data-ng-focus="searchMobileDropdown === true"
        data-ng-model="guestVm.paramFilter['name']"
        id="searchInMobileFiles"
        translate-attr="{placeholder: 'FILTER_COMPONENT.PLACEHOLDER_FILE_NAME'}"
        type="text"
      >
    </div>
    <div id="selection-actions" class="defaultMultiToolbarState multi-btns"
         x-ng-class="{'show-multi-menu': guestVm.selectedGuests.length > 0}">
      <!-- TODO: does not work, please repair it : it needs to select all the guest list with appropriate feedback -->
      <div class="toggle-checkbox-toolbar"
           x-ng-click="guestVm.tableSelectAll(guestVm.tableParams.data,guestVm.tableParams.page())">
        <a x-ng-if="!guestVm.flagsOnSelectedPages[guestVm.tableParams.page()]"
           class="select-all-items plain-txt-btn ng-scope">
          <i class="fa ls-check-o checkbox-table"></i>
        </a>
        <a x-ng-if="guestVm.flagsOnSelectedPages[guestVm.tableParams.page()]"
           class="select-all-items plain-txt-btn ng-scope">
          <i class="ls-check-checked"></i>
        </a>
      </div>
      <div
        class="exit-selection actions"
        data-ng-click="guestVm.tableResetSelectedGuests()"
        translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"
      >
        <a><i class="zmdi zmdi-close"></i></a>
      </div>
      <div
        class="display-num-selected-items"
        translate-attr="{title: 'SELECTION_TOOLBAR.SHOW_SELECTION'}"
      >
        <div class="pull-left" x-ng-class="{'activeBtnShowSelection': activeBtnShowSelection}"
             x-ng-click="activeBtnShowSelection = !activeBtnShowSelection; guestVm.tableFilterBySelected()">
          <p>
            <span>{{guestVm.selectedGuests.length}}</span>
            <span translate>SELECTION_TOOLBAR.SELECTED_ELEMENTS</span>
          </p>
          <div class="pull-left view-icons-ctn groups-view">
            <i class="fa fa-eye-slash" aria-hidden="true" x-ng-show=" activeBtnShowSelection"></i>
            <i class="fa fa-eye" aria-hidden="true" x-ng-show="!activeBtnShowSelection"></i>
          </div>
        </div>
        <div class="pull-left view-icons-ctn reset-icon" x-ng-click="guestVm.tableResetSelectedGuests()">
          <i
            class="fa fa-undo"
            translate-attr="{title: 'SELECTION_TOOLBAR.RESET'}"
          >
          </i>
        </div>
      </div>
      <div id="toolbar-actions" class="hidden-xs">
        <span
          ng-hide="guestVm.selectedGuests.myRole !== 'NONE'"
          data-ng-class="{'disable-link' : guestVm.selectedGuests.length > 1}">
           <a
            class="plain-txt-btn partage-link"
            data-ng-click="guestVm.showGuestDetails(guestVm.selectedGuests[0], 1)"
            translate-attr="{title: 'BOUTON_LABEL_TITLE.EDIT'}"
           >
            <i class="zmdi zmdi-edit"></i>
            <span translate>EDIT</span>
          </a>
        </span>
        <span x-ng-hide="guestVm.selectedGuests.myRole !== 'NONE'">
          <a
            class="plain-txt-btn partage-link"
            data-ng-click="guestVm.deleteGuests(guestVm.selectedGuests)"
            translate-attr="{title: 'SELECTION_TOOLBAR.DELETE'}"
          >
            <i class="zmdi zmdi-delete"></i><span>
              <span translate>SELECTION_TOOLBAR.DELETE</span>
            </span>
          </a>
        </span>
        <span data-ng-class="{'disable-link' : guestVm.selectedGuests.length > 1}">
          <a
            class="plain-txt-btn"
            data-ng-click="guestVm.showGuestDetails(guestVm.selectedGuests[0])"
            translate-attr="{title: 'ACTION.INFORMATION'}"
          >
            <i class="zmdi zmdi-info"></i>
            <span>
              <span translate>ACTION.INFORMATION</span>
            </span>
          </a>
        </span>
      </div>
    </div>
    <div
      class="drag-and-drop-ctn reset-content-width collapsible-content drag-n-drop-height"
      check-table-height
      data-ng-class="{'show-bg-drop' : guestVm.tableParams.data.length === 0}"
    >
      <div class="drag-and-drop-content">
        <div class="drag-icon-ctn">
          <div class="bordered-circle">&nbsp;</div>
          <span class="grey-clr bg-info-icon">
            <span class="ls-guest-account"></span>
          </span>
        </div>
        <div class="dnd-txt-content">
          <h1>
            <span translate>BACKGROUND_GUESTS_TITLE_MSG</span>
          </h1>
          <p>
            <span translate>BACKGROUND_GUEST_MSG</span>
          </p>
        </div>
      </div>
    </div>
    <!-- TODO: does not work, please repair it : it needs to select all the guest list with appropriate feedback  -->
    <script type="text/ng-template" id="checkboxheader.html">
      <span x-ng-click="guestVm.tableSelectAll(guestVm.tableParams.data, guestVm.tableParams.page())" role="button"
            tabindex="0" class="display-block center">
          <a x-ng-if="!guestVm.flagsOnSelectedPages[guestVm.tableParams.page()]"
             class="select-all-items plain-txt-btn ng-scope" >
            <i class="fa ls-check-o checkbox-table"></i>
          </a>
          <a x-ng-if="guestVm.flagsOnSelectedPages[guestVm.tableParams.page()]"
             class="select-all-items plain-txt-btn ng-scope">
            <i class="ls-check-checked"></i>
          </a>
          </span>
    </script>
    <!-- DOCUMENTS LIST  -->
    <div class="card-body collapsible-content">
      <div class="table-responsive">
        <table id="file-list-table" class="table table-vmiddle fixed-activity-table-height" x-ng-table="guestVm.tableParams" show-filter="true">
          <tr x-ng-repeat="guestData in $data" ls-item-selection=""
              data-selected-documents="guestVm.selectedGuests"
              data-document-file="guestData"
              data-current-selected-Document="guestVm.currentSelectedGuest"
              data-details-function="guestVm.getGuestDetails"
              data-right-sidebar-open="mainVm.sidebar.isVisible()"
              x-ng-class="{'highlightListElem': guestData.isSelected,
                           'current-vis': guestVm.currentSelectedGuest.current.uuid === guestData.uuid}"
              class="p-b-5 double-row"
              check-table-height>
            <td data-header="'checkboxheader.html'"
                class="center set-content-left thumb-type-item thumb-groups-preview-ls" header-class="'col-2 checkbox-col'">
              <!--TODO: optimiser le code répeter et si besoin d'un test de detecion mobile
                        cf scripts/common/MainController-->
              <!--ligne 249 : y buena suerte-->
              <a x-ng-click="showCheckboxes ? guestVm.tableAddSelectedGuest(guestVm.selectedGuests, guestData) : null"
                 class="visible-xs">
                <div class="item-l" x-ng-class="{'invisible' : showCheckboxes}">
                  <span class="first-letter guest-account-li">{{ guestData.firstName ? guestData.firstName.charAt(0) : guestData.mail.charAt(0) }}</span>
                </div>
                <div class="checkbox-ctn-thumb" x-ng-class="{'maintain-vis': guestData.isSelected,
                                      'hidden-xs' : !showCheckboxes}">
                </div>
              </a>
              <a x-ng-click="guestVm.tableAddSelectedGuest(guestVm.selectedGuests, guestData)" class="hidden-xs">
                <div class="item-l" x-ng-class="{'invisible' : showCheckboxes}">
                  <span class="first-letter guest-account-li">{{ guestData.firstName ? guestData.firstName.charAt(0) : guestData.mail.charAt(0) }}</span>
                </div>
                <div class="checkbox-ctn-thumb"
                     x-ng-class="{'maintain-vis': guestData.isSelected, 'hidden-xs' : !showCheckboxes}">
                </div>
              </a>
            </td>
            <td
              class="row no-padding show-li-actions"
              data-sortable="'firstName'"
              data-title="'TABLE_HEADER.NAME' | translate"
              header-class="'flexible-table-col'"
              uuid={{::o.uuid}}
            >
              <div class="ctn-name-actions">
                <span class="col-xs-9 col-sm-7 col-md-8 file-name-col">
                  <span class="file-name-disp">
                     <span class="first-name">{{::guestData.firstName}}</span>
                     <span class="last-name">{{::guestData.lastName}}</span>
                  </span>
                  <span class="secondary-info-ctn">
                    <p class="secondary-list-item-info hidden-xs">
                      {{::guestData.mail}}
                    </p>
                    <p class="mobile-list-item-info visible-xs">
                      {{guestData.modificationDate | relativeTime}}
                    </p>
                  </span>
                </span>
                <span class="col-xs-3 col-sm-5 col-md-4 actions-list-ctn pull-right">
                  <ul class="actions pull-right">
                    <li x-ng-click="guestVm.showGuestDetails(guestData)" event-propagation-stop
                        class="hidden-action-links hidden-xs">
                      <a
                        href=""
                        translate-attr="{title: 'BOUTON_LABEL_TITLE.INFO'}"
                      >
                      <i class="zmdi zmdi-info"></i>
                      </a>
                    </li>
                    <li
                      ng-hide="guestData.myRole === 'NONE'"
                      ng-click="guestVm.showGuestDetails(guestData, 1)"
                      event-propagation-stop
                      class="hidden-xs hidden-action-links"
                    >
                      <a translate-attr="{title: 'EDIT'}">
                      <i class="zmdi zmdi-edit"></i>
                      </a>
                    </li>
                    <li data-ng-hide="guestData.myRole === 'NONE'" data-ng-click="guestVm.deleteGuests(guestData)"
                        class="hidden-xs hidden-action-links">
                      <a
                        event-propagation-stop="true"
                        href=""
                        translate-attr="{title: 'BOUTON_LABEL_TITLE.DELETE'}"
                      >
                      <i class="zmdi zmdi-delete"></i>
                      </a>
                    </li>
                    <li check-dropdown-position uib-dropdown dropdown-append-to-body class="dropdown set-col-6 no-padding"
                        auto-close="always" is-open="isOpenItem" data-ng-class="{'open':isOpenItem}">
                      <a
                        event-propagation-stop
                        href=""
                        translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
                        uib-dropdown-toggle
                      >
                      <i class="zmdi zmdi-more"></i>
                      </a>
                      <ul
                        class="uib-dropdown-menu dropdown-menu-right dm-icon dropdown-divided"
                        uib-dropdown-menu=""
                        data-ng-class="{'open':isOpenItem}"
                      >
                        <li x-ng-click="guestVm.showGuestDetails(guestData)">
                          <a href="" >
                            <i class="zmdi zmdi-info"></i>
                            <span translate>ACTION.INFORMATION</span>
                          </a>
                        </li>
                        <li class="divider"></li>
                        <li x-ng-hide="guestData.myRole === 'NONE'"
                            x-ng-click="guestVm.showGuestDetails(guestData, 1)">
                          <a href="" >
                            <i class="zmdi zmdi-edit"></i>
                            <span translate>EDIT</span>
                          </a>
                        </li>
                        <li class="divider"></li>
                        <li x-ng-hide="guestData.myRole === 'NONE'"
                            x-ng-click="guestVm.deleteGuests(guestData)">
                          <a href="">
                            <i class="zmdi zmdi-delete"></i>
                            <span translate>BOUTON_LABEL_TITLE.DELETE</span>
                          </a>
                        </li>
                        <li data-ng-hide="::linshareModeProduction">
                          <a href="" ls-share-modal event-propagation-stop>
                            <i class="fa fa-pencil-square-o" translate></i>
                             <span translate>ACTION.ADMIN_REQUEST</span>
                          </a>
                        </li>
                        <li data-ng-hide="::linshareModeProduction">
                          <a href="" ls-share-modal event-propagation-stop>
                          <i class="zmdi zmdi-accounts-list"></i>
                            <span translate>ACTION.JOIN_RESTRICTED_CONTACTS</span>
                          </a>
                        </li>
                        <li data-ng-hide="::linshareModeProduction">
                          <a href="">
                            <i class="groups-shared-folder">
                              <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                            </i>
                            <span translate>ACTION.ADD_TO_WORKGROUPS</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </span>
              </div>
            </td>
            <td
              class="hidden-xs"
              data-ng-if="!mainVm.sidebar.isVisible()"
              data-title="'HEADER_GUEST.DOMAIN' | translate"
              data-sortable="'domain'"
            >
              <!--{{guestData.domain}}--> <span translate>NC</span>
            </td>
            <td
              class="hidden-xs"
              data-ng-if="!mainVm.sidebar.isVisible()"
              data-sortable="'expirationDate'"
              data-title="'SIDEBAR.LABEL.EXP_DATE' | translate"
            >
              {{guestData.expirationDate | relativeTime}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<div id="fabButtonCtn" fab-button fab-button-actions="guestVm.fabButton.actions"></div>
</div>
</div>
<div class="hidden-xs">
  <span>
    <a
      class="plain-txt-btn partage-link"
      data-ng-class="{'hide': guestVm.selectedGuests.length > 1}"
      data-ng-click="guestVm.showGuestDetails(guestVm.selectedGuests[0], 1)"
      translate-attr="{title: 'EDIT'}"
    >
      <i class="zmdi zmdi-edit"></i>
      <span translate>EDIT</span>
  </a>
  </span>
  <span>
    <a
      class="plain-txt-btn partage-link"
      data-ng-click="guestVm.deleteGuests(guestVm.selectedGuests)"
      translate-attr="{title: 'SELECTION_TOOLBAR.DELETE'}"
    >
      <i class="zmdi zmdi-delete"></i><span translate>SELECTION_TOOLBAR.DELETE</span>
  </a>
  </span>
  <span x-ng-class="{'hide': guestVm.selectedGuests.length > 1}">
    <a
      class="plain-txt-btn"
      data-ng-click="guestVm.showGuestDetails(guestVm.selectedGuests[0])"
      translate-attr="{title: 'ACTION.INFORMATION'}"
    >
      <i class="zmdi zmdi-info"></i>
      <span translate>ACTION.INFORMATION</span>
    </a>
  </span>
  <span class="dropdown link-dropdown"
        uib-dropdown x-ng-show="!linshareModeProduction || (guestVm.selectedGuests.length == 1)">
    <a
      class="plain-txt-btn partage-link"
      uib-dropdown-toggle
      translate-attr="{title: 'BOUTON_LABEL_TITLE.MORE_ACTIONS'}"
    >
      <i class="zmdi zmdi-more"></i>
      <span translate>BOUTON_LABEL_TITLE.MORE_ACTIONS</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-submenu" uib-dropdown-menu="">
    <li>
      <a href="" event-propagation-stop>
        i class="fa fa-pencil-square-o"></i>
        <span translate>ACTION.ADMIN_REQUEST</span>
      </a>
    </li>
    <li>
      <a href="" event-propagation-stop>
        <i class="zmdi zmdi-accounts-list"></i>
        <span translate>ACTION.JOIN_RESTRICTED_CONTACTS</span></a>
    </li>
    <li>
      <a href="">
        <i class="groups-shared-folder">
          <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
        </i>
        <span translate>ACTION.ADD_TO_WORKGROUPS</span>
      </a>
    </li>
  </ul>
  </span>
</div>
<section class="row multi-select-mobile visible-xs"
         x-ng-class="{'showMobileMultiMenu': guestVm.selectedGuests.length > 0}"
         x-ng-show="guestVm.currentPage == 'guests-list'">
  <div class="col-xs-2 ctn-mobile-select-count">
    <span class="number-of-files">{{guestVm.selectedGuests.length}}</span>
    <span class="file-multi-select-label" translate>BOUTON_LABEL_TITLE.GUEST</span>
  </div>
  <div class="col-xs-8">
    <div x-ng-click="guestVm.tableSelectAll(guestVm.tableParams.data, guestVm.tableParams.page())"
         class="visible-xs toolbar-mobile-item col-xs-3">
      <i class="ls-check-checked select-all-items p-r-10"
         data-ng-if="!guestVm.flagsOnSelectedPages[guestVm.tableParams.page()]">
      </i>
      <i class="ls-check-o active-link select-all-items p-r-10"
         data-ng-if="guestVm.flagsOnSelectedPages[guestVm.tableParams.page()]">
      </i>
    </div>
    <i class="zmdi zmdi-edit col-xs-2" x-ng-click="guestVm.showGuestDetails(guestVm.selectedGuests[0], 1)"
       x-ng-class="{'disabled-work-in-progress': guestVm.selectedGuests.length > 1}"></i>
    <i class="zmdi zmdi-delete col-xs-2" x-ng-click="guestVm.deleteGuests(guestVm.selectedGuests)"></i>
    <i class="zmdi zmdi-info col-xs-2" x-ng-click="guestVm.showGuestDetails(guestVm.selectedGuests[0])"
       x-ng-class="{'disabled-work-in-progress': guestVm.selectedGuests.length > 1}"></i>
    <span class="dropdown col-xs-2 dropdown-standard" uib-dropdown="" x-ng-show="::!linshareModeProduction">
    <i class="zmdi zmdi-more-vert" x-ng-class="{'active-link': isActiveMoreDropdown}"
       x-ng-click="isActiveMoreDropdown = !isActiveMoreDropdown"
       uib-dropdown-toggle uib-dropdown-toggle=""></i>
    <ul class="dropdown-menu dropdown-menu-right dm-icon dropdown-divided dropdown-content-left"
        uib-dropdown-menu="">
      <li>
        <a href="" event-propagation-stop>
          <i class="fa fa-pencil-square-o"></i>
          <span translate>ACTION.ADMIN_REQUEST</span>
        </a>
      </li>
      <li>
        <a href="" event-propagation-stop>
          <i class="zmdi zmdi-accounts-list"></i>
          <span translate>ACTION.JOIN_RESTRICTED_CONTACTS</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="groups-shared-folder">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
          </i>
          <span translate>ACTION.ADD_TO_WORKGROUPS</span>
        </a>
      </li>
    </ul>
    </span>
  </div>
  <div class="col-xs-2 pull-right" x-ng-click="guestVm.tableResetSelectedGuests()">
    <i class="zmdi zmdi zmdi-close"></i>
  </div>
</section>
